@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin where-writing-mode {
  text-align: left;
  direction: ltr;

  [data-prefers-dir='rtl'] & {
    text-align: right;
    direction: rtl;
  }

  &:where([data-truncate]) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:where([data-truncate='start']) {
    text-align: right;
    direction: rtl;

    [data-prefers-dir='rtl'] & {
      text-align: left;
      direction: ltr;
    }
  }
}

@mixin button-focus() {
  outline-width: var(--v2-unit);
  outline-color: transparent;
  outline-style: solid;

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: var(--v2-color-focus);
    outline-offset: calc(var(--v2-unit) * -1);
  }
}

@mixin button-cursor() {
  &:not([data-loading]),
  &:not([data-readonly]),
  &:not([data-disabled]) {
    cursor: pointer;
  }

  &[data-disabled] {
    cursor: not-allowed;
  }

  &[data-readonly] {
    cursor: default;
  }

  &[data-loading] {
    cursor: wait;
  }
}

@mixin link-focus() {
  outline-width: var(--v2-unit);
  outline-color: transparent;
  outline-style: solid;

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: var(--v2-color-focus);
    outline-offset: calc(var(--v2-unit) * 1);
  }
}

@mixin link-cursor() {
  &:not([data-loading]),
  &:not([data-readonly]),
  &:not([data-disabled]) {
    cursor: pointer;
  }

  &[data-disabled] {
    cursor: not-allowed;
  }

  &[data-readonly] {
    cursor: default;
  }

  &[data-loading] {
    cursor: wait;
  }
}
