@use '../mixins' as mixins;

.button {
  @include mixins.reset;
  @include mixins.transition-colors-interactive;

  --button-height-xs: calc(var(--spacing) * 16);
  --button-height-sm: calc(var(--spacing) * 18);
  --button-height-md: calc(var(--spacing) * 20);
  --button-height-lg: calc(var(--spacing) * 24);
  --button-height-xl: calc(var(--spacing) * 26);

  --button-padding-x-xs: calc(var(--spacing) * 6);
  --button-padding-x-sm: calc(var(--spacing) * 8);
  --button-padding-x-md: calc(var(--spacing) * 10);
  --button-padding-x-lg: calc(var(--spacing) * 12);
  --button-padding-x-xl: calc(var(--spacing) * 14);

  width: var(--button-width, max-content);
  height: var(--button-height, var(--button-height-xs));
  display: var(--button-display, inline-flex);
  align-items: var(--button-align, center);
  justify-content: var(--button-justify, center);
  padding-inline: var(--button-padding-x, var(--button-padding-x-xs));

  font-size: var(--button-font-size, var(--font-size-body-sm));
  font-weight: var(--button-font-weight, var(--font-weight-body-sm));
  line-height: 1.1;

  [data-grow] {
    --button-width: 100%;
    --button-display: block;
  }

  &--size-xs {
    --button-height: var(--button-height-xs);
    --button-padding-x: var(--button-padding-x-xs);
    --button-font-size: var(--font-size-body-sm);
  }
  &--size-sm {
    --button-height: var(--button-height-sm);
    --button-padding-x: var(--button-padding-x-sm);
    --button-font-size: var(--font-size-body-md);
  }
  &--size-md {
    --button-height: var(--button-height-md);
    --button-padding-x: var(--button-padding-x-md);
    --button-font-size: var(--font-size-body-md);
  }
  &--size-lg {
    --button-height: var(--button-height-lg);
    --button-padding-x: var(--button-padding-x-lg);
    --button-font-size: var(--font-size-body-md);
  }
  &--size-xl {
    --button-height: var(--button-height-xl);
    --button-padding-x: var(--button-padding-x-xl);
    --button-font-size: var(--font-size-body-lg);
  }
}

.button-group {
  @include mixins.reset;
}
