.v2-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: var(--v2-button-height, var(--v2-button-height-sm));

  min-width: max-content;
  display: inline-flex;
  align-items: var(--v2-button-align, center);
  justify-content: var(--v2-button-justify, center);
  padding-inline: var(--v2-button-spacing-x, var(--v2-button-spacing-x-sm));
  font-weight: var(--v2-font-weight-reg);
  font-size: var(--v2-button-font-size, var(--v2-button-font-size-sm));
  line-height: var(--v2-button-height, var(--v2-button-height-sm));

  &:where([data-block]) {
    display: block;
    width: 100%;
  }

  &-layout {
    width: 100%;
    display: inline-flex;
    gap: var(--v2-button-spacing-x);
    justify-content: space-between;
    align-items: center;
  }

  .v2-icon {
    width: var(--v2-button-font-size, var(--v2-font-size-xxs));
    height: var(--v2-button-font-size, var(--v2-font-size-xxs));
    min-width: var(--v2-button-font-size, var(--v2-font-size-xxs));
    min-height: var(--v2-button-font-size, var(--v2-font-size-xxs));
  }

  &--align-end {
    --v2-button-align: flex-end;
  }

  &--align-start {
    --v2-button-align: flex-start;
  }

  &--justify-end {
    --v2-button-justify: flex-end;
  }

  &--justify-start {
    --v2-button-justify: flex-start;
  }

  &--size-xxs {
    --v2-button-height: var(--v2-button-height-xxs);
    --v2-button-spacing-x: var(--v2-button-spacing-x-xxs);
    --v2-button-icon-size: var(--v2-button-icon-size-xxs);
    --v2-button-font-size: var(--v2-button-font-size-xxs);
  }

  &--size-xs {
    --v2-button-height: var(--v2-button-height-xs);
    --v2-button-spacing-x: var(--v2-button-spacing-x-xs);
    --v2-button-icon-size: var(--v2-button-icon-size-xs);
    --v2-button-font-size: var(--v2-button-font-size-xs);
  }

  &--size-sm {
    --v2-button-height: var(--v2-button-height-sm);
    --v2-button-spacing-x: var(--v2-button-spacing-x-sm);
    --v2-button-icon-size: var(--v2-button-icon-size-sm);
    --v2-button-font-size: var(--v2-button-font-size-sm);
  }

  &--size-md {
    --v2-button-height: var(--v2-button-height-md);
    --v2-button-spacing-x: var(--v2-button-spacing-x-md);
    --v2-button-icon-size: var(--v2-button-icon-size-md);
    --v2-button-font-size: var(--v2-button-font-size-md);
  }

  &--size-lg {
    --v2-button-height: var(--v2-button-height-lg);
    --v2-button-spacing-x: var(--v2-button-spacing-x-lg);
    --v2-button-icon-size: var(--v2-button-icon-size-lg);
    --v2-button-font-size: var(--v2-button-font-size-lg);
  }

  &--size-xl {
    --v2-button-height: var(--v2-button-height-xl);
    --v2-button-spacing-x: var(--v2-button-spacing-x-xl);
    --v2-button-icon-size: var(--v2-button-icon-size-xl);
    --v2-button-font-size: var(--v2-button-font-size-xl);
  }

  &--size-xxl {
    --v2-button-height: var(--v2-button-height-xxl);
    --v2-button-spacing-x: var(--v2-button-spacing-x-xxl);
    --v2-button-icon-size: var(--v2-button-icon-size-xxl);
    --v2-button-font-size: var(--v2-button-font-size-xxl);
  }
}

.v2-button-group {
  flex-wrap: wrap;
}
