@use '../mixins' as mixins;

@layer reset {
  .action {
    @include mixins.reset;
  }
}

.action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: var(--action-size);
  min-width: var(--action-size);
}
