@use '../mixins' as mixins;

@layer reset {
  .action,
  .action--link,
  .action--button {
    @include mixins.reset;
  }
}

.action {
  &--link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--action-size);
    margin: var(--unit);
  }
  &--button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--action-size);
    min-width: var(--action-size);
    margin: var(--unit);
  }
}
