@use '../mixins' as mixins;

@layer reset {
  .layout,
  .layout-nav,
  .layout-logo,
  .layout-header {
    @include mixins.reset;
  }
}

.layout {
  display: block;
  min-height: 100vh;
  position: relative;

  &-content {
    display: block;
    margin-top: var(--action-box);

    @media (min-width: 60em) {
      margin-left: var(--action-box);
    }
  }

  &-nav {
    display: none;

    @media (min-width: 60em) {
      top: 0;
      left: 0;
      bottom: 0;
      display: flex;
      position: fixed;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      margin-top: calc(var(--action-box) + var(--unit));
      height: calc(100% - var(--action-box));
      gap: var(--unit);

      &-lower,
      &-upper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--unit);
      }
    }
  }

  &-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    top: 0;

    &-skip,
    &-link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      position: absolute;
      padding-inline: var(--gutter);
    }
  }

  &-header {
    top: 0;
    width: calc(100% - var(--action-box));
    height: calc(var(--action-box) + var(--unit));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--action-box);
    margin-right: var(--unit);
    position: fixed;

    &-left,
    &-right {
      display: flex;
      align-items: center;
    }
    &-left {
      width: 50%;
      max-width: 25em;
      justify-content: flex-start;
    }
    &-right {
      width: 50%;
      justify-content: flex-end;
    }
  }
}
