@use '../query' as query;
@use '../mixins' as mixins;

@layer reset {
  .layout,
  .layout-nav {
    @include mixins.reset;
  }
}

.layout {
  width: 100%;
  display: block;
  position: relative;
  overflow-x: hidden;
}

.layout-nav {
  display: none;

  @media (min-width: 60em) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: var(--action-box);
    z-index: var(--app-index-nav);
    gap: var(--unit);
    bottom: 0;
    left: 0;
    top: 0;

    &-upper,
    &-lower {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-inline: var(--unit);
      gap: var(--unit);
    }

    &-spacer {
      flex-grow: 1;
      width: var(--action-size);
    }

    .action {
      position: relative;
    }
    .action::before {
      content: '';
      position: absolute;
      bottom: calc(var(--unit) * -1);
      width: calc(var(--unit) * 1.5);
      left: calc(var(--unit) * -2);
      top: calc(var(--unit) * -1);
    }
    .action:not([aria-selected])::before {
      opacity: 0;
    }
    .action[aria-selected]::before {
      opacity: 1;
    }
  }
}

.layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--action-box);
  z-index: var(--app-index-header);
  right: 0;
  left: calc(var(--action-box) + var(--unit));
  gap: var(--unit);

  &-left,
  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--action-size);
  }

  &-left {
    width: 100%;
    @include query.lg {
      min-width: calc(var(--app-width-menu) - var(--unit));
      max-width: calc(var(--app-width-menu) - var(--unit));
    }
  }
  &-right {
    display: none;
    @include query.lg {
      display: block;
      width: 100%;
      margin-right: var(--unit);
    }
  }
}

.layout-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;

  &-skip,
  &-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    padding-inline: calc(var(--gutter) / 2.5);
  }

  @include query.lg {
    justify-content: flex-start;

    &-skip,
    &-link {
      justify-content: flex-start;
    }
  }

  svg {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
}
