@use '../mixins' as mixins;

@layer reset {
  .layout,
  .layout-nav {
    @include mixins.reset;
  }
}

.layout {
  width: 100%;
  display: block;
  position: relative;
  overflow-x: hidden;
}

.layout-nav {
  display: none;

  @media (min-width: 60em) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: var(--action-box);
    z-index: var(--app-index-nav);
    gap: var(--unit);
    bottom: 0;
    left: 0;
    top: 0;

    &-upper,
    &-lower {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-inline: var(--unit);
      gap: var(--unit);
    }

    &-spacer {
      flex-grow: 1;
      width: var(--action-size);
    }
  }
}

.layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--action-box);
  z-index: var(--app-index-header);
  right: 0;
  left: var(--action-box);
  gap: var(--unit);

  &-left,
  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--action-size);
  }

  &-left {
    min-width: var(--app-width-menu);
  }
  &-right {
    width: 100%;
    margin-right: var(--unit);
  }
}

.layout-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;

  &-skip,
  &-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    padding-inline: var(--gutter);
  }
}
