@use '../mixins' as mixins;

@layer reset {
  .menu {
    @include mixins.reset;
  }
}

.menu {
  position: fixed;
  top: var(--unit);
  left: var(--unit);

  &-panel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    @media (min-width: 60em) {
      left: var(--action-box);
      width: 30em;
    }
  }
}

// @layer reset {
//   .menu,
//   .menu-grid,
//   .menu-row,
//   .menu-cell,
//   .menu-panel {
//     @include mixins.reset;
//   }
// }

// .menu {
//   top: 0;
//   left: 0;
//   position: fixed;

//   &-grid {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     gap: calc(var(--unit) * 2);
//   }

//   &-row {
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     justify-content: center;
//     gap: calc(var(--unit) * 2);
//   }

//   &-cell {
//     width: calc(var(--unit) * 2);
//     height: calc(var(--unit) * 2);
//   }

//   &-panel {
//     display: flex;
//     align-items: flex-start;
//     justify-content: flex-start;
//     position: fixed;
//     top: calc(var(--action-box) + var(--unit));
//     width: 100%;
//     bottom: 0;
//     right: 0;
//     left: 0;

//     &-box {
//       padding: calc(var(--gutter) / 3);
//       display: flex;
//       width: 100%;
//     }

//     @media (min-width: 60em) {
//       left: var(--action-box);
//       width: 30em;
//     }

//     .title {
//       width: 100%;
//     }
//   }
// }
