@use '../mixins' as mixins;

@layer reset {
  .menu {
    @include mixins.reset;
  }
}

.menu {
  top: 0;
  left: 0;
  z-index: var(--app-index-menu);
  position: fixed;
  padding: var(--unit);
  width: var(--action-box);
  height: var(--action-box);

  &-target {
    top: var(--unit);
    left: var(--unit);
    z-index: var(--app-index-menu);
    position: fixed;
  }

  &-panel {
    width: 100%;
    z-index: var(--app-index-panel);
    display: block;
    position: fixed;

    top: var(--action-box);
    left: 0;
    right: 0;
    bottom: 0;

    .box {
      margin: var(--unit);
    }

    @media (min-width: 60em) {
      left: var(--action-box);
      width: var(--app-width-menu);
    }

    &-group {
      display: block;
    }
  }

  &-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--unit) * 2);
  }

  &-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: calc(var(--unit) * 2);
  }

  &-cell {
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) * 2);
  }
}
