@use '../mixins' as mixins;

@layer reset {
  .page {
    @include mixins.reset;
  }
}

.page {
  display: grid;
  place-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);

  &-hero--home,
  &-hero--default {
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    min-height: var(--app-height-hero);
  }
  &-hero-content--home,
  &-hero-content--default {
    padding-inline: var(--gutter);
  }

  &-content {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  &-footer {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
