@use '../mixins' as mixins;
@use '../query' as query;

@layer reset {
  .page {
    @include mixins.reset;
  }
}

.page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
  margin-top: var(--action-box);
  min-height: calc(100vh - var(--action-box));
  padding-inline: var(--unit);

  &-hero--default {
    display: block;
    .box {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin-inline: var(--gutter);
      height: calc(calc(var(--action-size) + var(--unit)) * 12);

      @include query.md {
        height: calc(calc(var(--action-size) + var(--unit)) * 6);
      }
      @include query.lg {
        height: calc(calc(calc(var(--action-size) + var(--unit)) * 5) - var(--unit));
      }

      .title {
        margin-bottom: var(--gutter);
      }
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--unit);
  }

  @media (min-width: 60em) {
    margin-left: var(--action-box);
    width: calc(100% - var(--action-box));
  }
}
