@use '../mixins' as mixins;

@layer reset {
  .preview-display,
  .preview-container {
    @include mixins.reset;
  }
}

.preview-container,
.preview-display {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

.preview-container {
  display: grid;
  padding-inline: var(--gutter);
  padding-block: var(--gutter);
}
.preview-display {
  display: grid;
}
