@use '../mixins' as mixins;

@layer reset {
  .screen {
    @include mixins.reset;
  }
}

.screen {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  &-content {
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
  }
}
