@use '../query' as query;
@use '../mixins' as mixins;

@layer reset {
  .v2-section {
    @include mixins.reset;
  }
}

.v2-section {
  width: 100%;
  display: block;

  & > .box {
    margin-inline: var(--gutter);

    @include query.lg {
      &[data-position='left'] {
        margin-left: var(--gutter);
        margin-right: 0;
      }

      &[data-position='right'] {
        margin-left: 0;
        margin-right: var(--gutter);
      }
    }
  }
}
