.page-actions {
  height: calc(100vh - var(--app-header-height));
  width: calc(var(--app-header-height) + 4px);
  margin-top: var(--app-header-height);
  outline: solid 2px transparent;
  border: solid 2px transparent;
  z-index: calc(var(--app-index-header) - 1);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
}

.page-actions-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.page-actions-menu-item {
  width: 100%;
  height: var(--app-header-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
}
