.footer {
  display: block;
  padding: var(--gutter);
  z-index: var(--app-index-content);
}

.footer-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gutter);

  @media (min-width: 60em) {
    flex-direction: row;
  }

  &-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--unit);

    .subtitle {
      margin-inline: var(--gap);
    }
  }

  &-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &-item {
    min-width: 50%;
    display: flex;
  }
}
