.header {
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  position: fixed;
  align-items: center;
  height: var(--app-header-height);
  z-index: var(--app-index-header);

  .left-content {
    flex: 1 0 20%;
    max-width: 20%;
    height: 100%;
    display: flex;
    position: relative;
    gap: 2px;
  }
}

.header-logo-link,
.header-skip-link {
  border: solid 2px transparent;
  outline: solid 2px transparent;
}

.header {
  margin: 2px;
}

.header-skip-link {
  height: 100%;
  min-width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: var(--gutter);
}

.header-logo-link {
  width: var(--app-header-height);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
}
