.header {
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  position: fixed;
  align-items: center;
  height: var(--app-header-height);
  z-index: var(--app-index-header);

  .left-content {
    flex: 1 0 20%;
    max-width: 20%;
    height: 100%;
    display: flex;
    position: relative;
    border: solid 2px transparent;
    outline: solid 2px transparent;
  }

  &-logo-link,
  &-skip-link {
    width: 100%;
    height: 100%;
    min-width: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: var(--gutter);
  }

  &-skip-link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
