.page-layout {
  display: block;
  max-width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  isolation: isolate;
  position: relative;
}

.page-hero {
  display: block;
  height: var(--app-hero-height);
  z-index: var(--app-index-parallax-1);
  margin-top: var(--app-header-height);
  isolation: isolate;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  .inner {
    margin-inline: var(--gutter);
  }
  .title {
    line-height: 1;
  }
}

.page-content {
  display: block;
  z-index: var(--app-index-content);
  margin-top: calc(var(--app-hero-height) + var(--app-header-height));
}
