.page-layout {
  display: block;
  max-width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  isolation: isolate;
  position: relative;

  @media (min-width: 60em) {
    margin-left: calc(var(--app-header-height) + 4px);
  }
}

.page-hero {
  height: var(--app-hero-height);
  z-index: var(--app-index-parallax-1);
  margin-top: var(--app-header-height);
  isolation: isolate;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  @media (min-width: 60em) {
    margin-left: calc(var(--app-header-height) + 4px);
  }
}

.page-content {
  display: block;
  z-index: var(--app-index-content);
  margin-top: calc(var(--app-hero-height) + var(--app-header-height));

  @media (min-width: 60em) {
    outline: solid 2px transparent;
    border-left: solid 2px transparent;
  }
}
