@layer reset {
  .v2-accordion,
  .v2-accordion-item,
  .v2-accordion-panel,
  .v2-accordion-target,
  .v2-accordion-panel-inner,
  .v2-accordion-target-inner {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.v2-accordion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.v2-accordion-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.v2-accordion-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.v2-accordion-panel-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
}

.v2-accordion-target {
  width: 100%;
  height: var(--action-box);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fz-2);
  font-family: var(--ff);
}

.v2-accordion-target-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: calc(var(--gutter) / 2);
}

.v2-accordion-target-content {
}

.v2-accordion-target-iconbox {
  display: flex;
  align-items: center;
  justify-content: center;

  .v2-icon {
    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: ease;
    width: calc(var(--action-size) * 0.4);
    height: calc(var(--action-size) * 0.4);
  }

  .v2-icon[data-icon-name='caretDown'] {
    width: calc(var(--action-size) * 0.6);
    height: calc(var(--action-size) * 0.6);

    [data-active='false'] & {
      transform: rotate(0);
    }
    [data-active='true'] & {
      transform: rotate(180deg);
    }
  }
}

// .v2-accordion-target-iconbox .v2-icon[data-icon-name='caretDown'] {
//   width: calc(var(--action-size) * 0.4);
//   height: calc(var(--action-size) * 0.4);
// }
