.v2-action {
  cursor: var(--v2-action-cursor, pointer);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--v2-action);
  height: var(--v2-action);

  color: var(--c-action-clr);
  background-color: var(--c-action-bgd);

  border: solid var(--v2-01) transparent;
  outline: solid var(--v2-01) transparent;

  &:not([data-disabled], [data-loading], [data-readOnly]),
  &:not([data-disabled], [data-loading], [data-readOnly]):hover,
  &:not([data-disabled], [data-loading], [data-readOnly]):active,
  &:not([data-disabled], [data-loading], [data-readOnly])[data-selected] {
    --v2-action-cursor: pointer;
  }

  &[data-disabled] {
    --v2-action-cursor: default;
  }

  &[data-readonly] {
    --v2-action-cursor: default;
  }

  &[data-loading] {
    --v2-action-cursor: wait;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
    outline-offset: 0;
  }

  &:focus:focus-visible {
    outline-color: var(--c-focus);
    outline-offset: 0;
  }

  &-spacer {
    min-width: var(--v2-action);
    min-height: var(--v2-action);
    background-color: var(--c-action-bgd);

    &[data-grow] {
      flex-grow: 1;
    }
  }
}
