.v2-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--v2-action);
  height: var(--v2-action);

  &-spacer {
    min-width: var(--v2-action);
    min-height: var(--v2-action);
    background-color: var(--c-action-bgd);

    &[data-grow] {
      flex-grow: 1;
    }
  }
}
