.v2-button {
  --v2-button-height-xs: 30px;
  --v2-button-height-sm: 36px;
  --v2-button-height-md: 42px;
  --v2-button-height-lg: 50px;
  --v2-button-height-xl: 60px;

  --v2-button-height-compact-xs: 22px;
  --v2-button-height-compact-sm: 26px;
  --v2-button-height-compact-md: 30px;
  --v2-button-height-compact-lg: 34px;
  --v2-button-height-compact-xl: 40px;

  --v2-button-padding-x-xs: 14px;
  --v2-button-padding-x-sm: 18px;
  --v2-button-padding-x-md: 22px;
  --v2-button-padding-x-lg: 26px;
  --v2-button-padding-x-xl: 32px;

  --v2-button-padding-x-compact-xs: 7px;
  --v2-button-padding-x-compact-sm: 8px;
  --v2-button-padding-x-compact-md: 10px;
  --v2-button-padding-x-compact-lg: 12px;
  --v2-button-padding-x-compact-xl: 14px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: auto;
  cursor: var(--v2-button-cursor, pointer);
  display: inline-block;
  position: relative;
  overflow: hidden;
  user-select: none;
  text-align: center;
  line-height: 1;
  font-weight: 600;

  height: var(--v2-button-height, var(--v2-button-height-sm));
  padding-inline: var(--v2-button-padding-x, var(--v2-button-padding-x-sm));

  color: var(--c-button-clr);
  background-color: var(--c-button-bgd);
  border: solid var(--v2-01) transparent;
  outline: solid var(--v2-01) transparent;

  &:not([data-disabled], [data-loading], [data-readOnly]),
  &:not([data-disabled], [data-loading], [data-readOnly]):hover,
  &:not([data-disabled], [data-loading], [data-readOnly]):active,
  &:not([data-disabled], [data-loading], [data-readOnly])[data-selected] {
    --v2-button-cursor: pointer;
  }

  &[data-disabled] {
    --v2-button-cursor: default;
  }

  &[data-readonly] {
    --v2-button-cursor: default;
  }

  &[data-loading] {
    --v2-button-cursor: wait;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
    outline-offset: 0;
  }

  &:focus:focus-visible {
    outline-color: var(--c-focus);
    outline-offset: var(--v2-01);
  }

  &:where([data-block]) {
    width: 100%;
    display: block;
  }

  &-layout {
    height: 100%;
    display: flex;
    align-items: var(--v2-button-align, center);
    justify-content: var(--v2-button-justify, center);
    flex-direction: row;
    overflow: visible;

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-label {
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    opacity: 1;

    &:where([data-loading]) {
      opacity: 0.2;
    }
  }

  &--xs {
    --v2-button-height: var(--v2-button-height-xs);
    --v2-button-padding-x: var(--v2-button-padding-x-xs);
  }
  &--sm {
    --v2-button-height: var(--v2-button-height-sm);
    --v2-button-padding-x: var(--v2-button-padding-x-sm);
  }
  &--md {
    --v2-button-height: var(--v2-button-height-md);
    --v2-button-padding-x: var(--v2-button-padding-x-md);
  }
  &--lg {
    --v2-button-height: var(--v2-button-height-lg);
    --v2-button-padding-x: var(--v2-button-padding-x-lg);
  }
  &--xl {
    --v2-button-height: var(--v2-button-height-xl);
    --v2-button-padding-x: var(--v2-button-padding-x-xl);
  }
}

.v2-button-group {
  flex-wrap: wrap;
}
