@layer reset {
  .v2-checkbox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.v2-checkbox {
  width: 100%;
  cursor: pointer;
  z-index: 0;
  display: block;
  position: relative;
  isolation: isolate;
}

.v2-checkbox-inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

// .v2-checkbox {
//   width: 100%;
//   display: block;
//   position: relative;
//   isolation: isolate;
//   z-index: 0;
// }

// .v2-checkbox-input {
//   cursor: pointer;
//   appearance: none;
//   position: absolute;
//   outline: solid 2px orange;
//   z-index: 1;
//   height: 100%;
//   width: 100%;
//   left: 0;
//   top: 0;
// }

// .v2-checkbox-inner {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   justify-content: flex-start;
// }
