@layer reset {
  .v2-checkbox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.v2-checkbox {
  width: 100%;
  cursor: pointer;
  z-index: 0;
  display: block;
  position: relative;
  isolation: isolate;
}
