.v2-control {
  width: 100%;
  display: block;

  &-track {
    display: block;
    min-width: max-content;
    height: var(--v2-control-segment-height, var(--v2-control-segment-height-xs));
  }

  &-segment {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: var(--v2-control-segment-align, center);
    justify-content: var(--v2-control-segment-justify, center);
    padding-inline: var(--v2-control-segment-spacing-x, var(--v2-control-segment-spacing-x-xs));
    font-size: var(--v2-control-segment-font-size, var(--v2-control-segment-font-size-xs));
    line-height: var(--v2-control-segment-height, var(--v2-control-segment-height-xs));
    font-weight: var(--v2-font-weight-reg);

    color: var(--c-control-segment-clr);
    background-color: var(--c-control-segment-bgd);

    cursor: var(--v2-control-cursor, default);
    border: solid var(--v2-01) transparent;
    outline: solid var(--v2-01) transparent;

    &:not([data-disabled], [data-loading], [data-readOnly]),
    &:not([data-disabled], [data-loading], [data-readOnly]):hover,
    &:not([data-disabled], [data-loading], [data-readOnly]):active,
    &:not([data-disabled], [data-loading], [data-readOnly])[data-selected] {
      --v2-control-cursor: pointer;
    }

    &[data-disabled] {
      --v2-control-cursor: default;
    }

    &[data-readonly] {
      --v2-control-cursor: default;
    }

    &[data-loading] {
      --v2-control-cursor: wait;
    }

    &:focus:not(:focus-visible) {
      outline-color: transparent;
      outline-offset: 0;
    }

    &:focus:focus-visible {
      outline-color: var(--c-focus);
      outline-offset: var(--v2-01);
    }
  }

  &-segment-layout {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    min-width: max-content;
    gap: var(--v2-control-segment-gap, var(--v2-control-segment-gap-xs));

    div[data-position='end'],
    div[data-position='start'] {
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .v2-icon {
      width: var(--v2-control-segment-font-size, var(--v2-control-segment-font-size-xs));
      height: var(--v2-control-segment-font-size, var(--v2-control-segment-font-size-xs));
    }
  }

  &-thumb {
    position: absolute;
    color: var(--c-control-thumb-clr);
    background-color: var(--c-control-thumb-bgd);
  }
}
