.v2-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--v2-icon-width, var(--v2-icon-width-sm));
  height: var(--v2-icon-height, var(--v2-icon-height-sm));

  svg {
    width: 100%;
    height: 100%;
    display: flex;

    [data-prefers-dir='rtl'] & {
      transform: scaleX(-1);

      &[data-icon-name='text-left'] {
        transform: scaleX(1);
      }
      &[data-icon-name='text-right'] {
        transform: scaleX(1);
      }
    }
  }

  &--size-xxs {
    --v2-icon-width: var(--v2-icon-width-xxs);
    --v2-icon-height: var(--v2-icon-height-xxs);
  }
  &--size-xs {
    --v2-icon-width: var(--v2-icon-width-xs);
    --v2-icon-height: var(--v2-icon-height-xs);
  }
  &--size-sm {
    --v2-icon-width: var(--v2-icon-width-sm);
    --v2-icon-height: var(--v2-icon-height-sm);
  }
  &--size-md {
    --v2-icon-width: var(--v2-icon-width-md);
    --v2-icon-height: var(--v2-icon-height-md);
  }
  &--size-lg {
    --v2-icon-width: var(--v2-icon-width-lg);
    --v2-icon-height: var(--v2-icon-height-lg);
  }
  &--size-xl {
    --v2-icon-width: var(--v2-icon-width-xl);
    --v2-icon-height: var(--v2-icon-height-xl);
  }
  &--size-xxl {
    --v2-icon-width: var(--v2-icon-width-xxl);
    --v2-icon-height: var(--v2-icon-height-xxl);
  }
}
