.v2-inline-input {
  width: 100%;
  display: block;

  &-layout {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--v2-04);
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--v2-04);

    .v2-label {
      font-weight: var(--v2-font-weight-med);
      font-family: var(--v2-font-family);
    }
  }
}
