@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

@mixin reset-interactive {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

@mixin ltr {
  [data-prefers-dir='ltr'] & {
    @content;
  }
}

@mixin rtl {
  [data-prefers-dir='rtl'] & {
    @content;
  }
}

@mixin mode-dim {
  [data-prefers-mode='dim'] {
    @content;
  }
}

@mixin mode-dark {
  [data-prefers-mode='dark'] {
    @content;
  }
}

@mixin mode-light {
  [data-prefers-mode='light'] {
    @content;
  }
}

@mixin transition-colors-static {
  transition-property: color, background-color, border-color, outline-color, stroke, fill;
  transition-timing-function: var(--easing-standard-expressive);
  transition-duration: var(--easing-duration-3);
}

@mixin transition-colors-interactive {
  transition-property: color, background-color, border-color, outline-color, stroke, fill;
  transition-timing-function: var(--easing-standard-productive);
  transition-duration: var(--easing-duration-3);
}
