.v2-box,
.v2-icon,
.v2-text,
.v2-title,
.v2-label,
.v2-stack {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-chip,
.v2-chip-slot,
.v2-chip-inner {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-badge,
.v2-badge-slot,
.v2-badge-inner {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-button,
.v2-button-slot,
.v2-button-inner {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-tool-button,
.v2-tool-button-slot,
.v2-tool-button-inner {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-icon-button,
.v2-icon-button-slot,
.v2-icon-button-inner {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-accordion,
.v2-accordion-item,
.v2-accordion-panel,
.v2-accordion-target {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-inline-input,
.v2-inline-input-label,
.v2-inline-input-inner,
.v2-inline-input-message {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-text-input,
.v2-text-input-label,
.v2-text-input-inner,
.v2-text-input-message {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-radio-indicator,
.v2-toggle-indicator,
.v2-checkbox-indicator {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-radio-group,
.v2-toggle-group,
.v2-checkbox-group {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-tile,
.v2-tile-inner,
.v2-tile-header,
.v2-tile-footer {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-tabs,
.v2-tabs-list,
.v2-tabs-panel .v2-tabs-item,
.v2-tabs-item-slot,
.v2-tabs-item-inner {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-floating,
.v2-floating-box,
.v2-floating-target {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-select-box,
.v2-select-list,
.v2-select-target,
.v2-select-target-slot,
.v2-select-target-inner,
.v2-select-option,
.v2-select-option-slot,
.v2-select-option-inner {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.v2-tile-group,
.v2-radio-group,
.v2-button-group,
.v2-action-group,
.v2-toggle-group,
.v2-checkbox-group {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
