:root {
  --v2-select-item-height-xs: calc(var(--v2-unit) * 20);
  --v2-select-item-height-sm: calc(var(--v2-unit) * 22);
  --v2-select-item-height-md: calc(var(--v2-unit) * 24);
  --v2-select-item-height-lg: calc(var(--v2-unit) * 26);
  --v2-select-item-height-xl: calc(var(--v2-unit) * 28);

  --v2-select-item-font-size-xs: calc(var(--v2-unit) * 6);
  --v2-select-item-font-size-sm: calc(var(--v2-unit) * 7);
  --v2-select-item-font-size-md: calc(var(--v2-unit) * 8);
  --v2-select-item-font-size-lg: calc(var(--v2-unit) * 9);
  --v2-select-item-font-size-xl: calc(var(--v2-unit) * 9);

  --v2-select-item-spacing-x-xs: calc(var(--v2-unit) * 8);
  --v2-select-item-spacing-x-sm: calc(var(--v2-unit) * 10);
  --v2-select-item-spacing-x-md: calc(var(--v2-unit) * 10);
  --v2-select-item-spacing-x-lg: calc(var(--v2-unit) * 12);
  --v2-select-item-spacing-x-xl: calc(var(--v2-unit) * 12);
}

.v2-select {
  &-target:not([data-disabled]),
  &-target:not([data-readonly]) {
    cursor: pointer;
  }

  &-option:not([data-disabled]),
  &-option:not([data-readonly]) {
    cursor: pointer;
  }

  &-target,
  &-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--v2-select-item-height, var(--v2-select-item-height-sm));
    font-size: var(--v2-select-item-font-size, var(--v2-select-item-font-size-sm));
    padding-inline: var(--v2-select-item-spacing-x, var(--v2-select-item-spacing-x-sm));
  }

  &-target {
    color: var(--c-select-target-clr);
    background-color: var(--c-select-target-bgd);
  }

  &-option {
    color: var(--c-select-option-clr);
    background-color: var(--c-select-option-bgd);
  }

  &-box {
    color: var(--c-select-box-clr);
    background-color: var(--c-select-box-bgd);
  }
}
