.v2-action-group {
  gap: var(--unit);
  display: flex;

  &[data-orientation='horizontal'] {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  &[data-orientation='vertical'] {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}
