.sec-demo-layout {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  background-color: var(--background-primary-1);
  color: var(--text-primary-1);
}
.sec-demo-header {
  padding-block: var(--site-gutter);
  padding-inline: var(--site-gutter);
}
.sec-demo-content {
  padding-block: calc(var(--site-gutter) * 2);
  padding-inline: var(--site-gutter);
}

// ^ TEMPORARY ^

.action-group,
.button-group {
  --flex-align: flex-start;
  --flex-justify: flex-start;
  --flex-direction: row;

  display: flex;
  align-items: var(--flex-align);
  flex-direction: var(--flex-direction);
  justify-content: var(--flex-justify);

  &[aria-orientation='vertical'] {
    --flex-direction: column;
  }
  &[aria-orientation='horizontal'] {
    --flex-direction: row;
  }
}

.action,
.button {
  user-select: none;
}

.action,
.button {
  border: solid 2px transparent;
  outline: solid 2px transparent;

  &:not([aria-disabled]):focus:not(:focus-visible),
  &:not([data-disabled]):focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:not([aria-disabled]):focus:focus-visible,
  &:not([data-disabled]):focus:focus-visible {
    outline-color: var(--c-blue-400);
  }
  &:not([aria-disabled]):hover,
  &:not([data-disabled]):hover {
    cursor: pointer;
  }
  &[aria-disabled]:hover,
  &[data-disabled]:hover {
    cursor: default;
  }
}

.radio,
.checkbox {
  &-indicator,
  &-indicator svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
