input {
  cursor: var(--v2-cursor, pointer);
}

input[data-readonly] {
  --v2-cursor: default;
}

input[data-disabled] {
  --v2-cursor: not-allowed;
}

.v2-text,
.v2-label,
.v2-title {
  font-family: var(--ff);
}

.v2-action,
.v2-button,
.v2-icon-button,
.v2-tool-button,
.v2-tabs-item,
.v2-inline-input,
.v2-select-target,
.v2-select-option,
.v2-accordion-target,
.v2-control,
.v2-control-thumb,
.v2-control-track,
.v2-control-segment {
  transition:
    background-color var(--v2-duration-moderate-01) var(--v2-easing-productive),
    border-color var(--v2-duration-moderate-01) var(--v2-easing-productive),
    opacity var(--v2-duration-moderate-01) var(--v2-easing-productive),
    stroke var(--v2-duration-moderate-01) var(--v2-easing-productive),
    color var(--v2-duration-moderate-01) var(--v2-easing-productive),
    fill var(--v2-duration-moderate-01) var(--v2-easing-productive);
}

.v2-action,
.v2-button,
.v2-icon-button,
.v2-tool-button,
.v2-tabs-item,
.v2-inline-input,
.v2-select-target,
.v2-select-option,
.v2-control-segment,
.v2-accordion-target {
  border-color: transparent;
  border-width: var(--v2-01);
  border-style: solid;

  outline-color: transparent;
  outline-width: var(--v2-01);
  outline-style: solid;
  outline-offset: unset;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not([data-disabled], [data-loading], [data-readOnly]),
  &:not([data-disabled], [data-loading], [data-readOnly]):hover,
  &:not([data-disabled], [data-loading], [data-readOnly]):active,
  &:not([data-disabled], [data-loading], [data-readOnly])[data-selected] {
    cursor: pointer;
  }

  &[data-disabled] {
    cursor: default;
  }
  &[data-readonly] {
    cursor: default;
  }
  &[data-loading] {
    cursor: wait;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
    outline-offset: 0;
  }
  &:focus:focus-visible {
    outline-color: var(--c-focus);
    outline-offset: -2px;
  }
}

.v2-table-td,
.v2-table-th {
  direction: ltr;
  text-align: left;

  [data-prefers-dir='rtl'] & {
    text-align: right;
    direction: rtl;
  }

  &:where([data-truncate]) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:where([data-truncate='start']) {
    direction: rtl;
    text-align: right;

    [data-prefers-dir='rtl'] & {
      direction: ltr;
      text-align: left;
    }
  }
}

.v2-accordion-target .v2-icon {
  transition:
    transform var(--v2-duration-slow-01) var(--v2-easing-expressive),
    rotate var(--v2-duration-slow-01) var(--v2-easing-expressive);
}
