.tile-group,
.action-group,
.button-group {
  --align: row;
  --justify: row;
  --direction: row;

  display: flex;
  align-items: var(--align);
  flex-direction: var(--direction);
  justify-content: var(--justify);

  &[aria-orientation='vertical'] {
    --direction: column;
  }
  &[aria-orientation='horizontal'] {
    --direction: row;
  }
}

.tile,
.action,
.button {
  border: solid var(--border-sm) transparent;
  outline: solid var(--border-sm) transparent;
  user-select: none;

  &:not([aria-disabled]):focus:not(:focus-visible),
  &:not([data-disabled]):focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:not([aria-disabled]):focus:focus-visible,
  &:not([data-disabled]):focus:focus-visible {
    outline-color: var(--c-blue-500);
  }
  &:not([aria-disabled]):hover,
  &:not([data-disabled]):hover {
    cursor: pointer;
  }
  &[aria-disabled]:hover,
  &[data-disabled]:hover {
    cursor: default;
  }
}

.radio,
.checkbox {
  &-indicator,
  &-indicator svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
