.v2-text,
.v2-label,
.v2-title {
  font-family: var(--ff);
}

.v2-action,
.v2-button,
.v2-select-target,
.v2-select-option {
  transition:
    background-color var(--duration-moderate-01) var(--easing-productive),
    border-color var(--duration-moderate-01) var(--easing-productive),
    opacity var(--duration-moderate-01) var(--easing-productive),
    stroke var(--duration-moderate-01) var(--easing-productive),
    color var(--duration-moderate-01) var(--easing-productive),
    fill var(--duration-moderate-01) var(--easing-productive);

  border-color: transparent;
  border-width: var(--s-01);
  border-style: solid;

  outline-color: transparent;
  outline-width: var(--s-01);
  outline-style: solid;
  outline-offset: unset;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not([data-disabled], [data-loading], [data-readOnly]),
  &:not([data-disabled], [data-loading], [data-readOnly]):hover,
  &:not([data-disabled], [data-loading], [data-readOnly]):active,
  &:not([data-disabled], [data-loading], [data-readOnly])[data-selected] {
    cursor: pointer;
  }

  &[data-disabled] {
    cursor: default;
  }
  &[data-readonly] {
    cursor: default;
  }
  &[data-loading] {
    cursor: wait;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
    outline-offset: 0;
  }
  &:focus:focus-visible {
    outline-color: var(--c-focus);
    outline-offset: -2px;
  }
}
