.v2-stack {
  display: flex;
  flex-direction: column;

  gap: var(--v2-stack-gap, var(--v2-gap-xxs));

  &--align-center {
    align-items: center;
  }
  &--align-start {
    align-items: flex-start;
  }
  &--align-end {
    align-items: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }
  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-end {
    justify-content: flex-end;
  }

  &--gap-xxs {
    --v2-stack-gap: var(--v2-gap-xxs);
  }
  &--gap-xs {
    --v2-stack-gap: var(--v2-gap-xs);
  }
  &--gap-sm {
    --v2-stack-gap: var(--v2-gap-sm);
  }
  &--gap-md {
    --v2-stack-gap: var(--v2-gap-md);
  }
  &--gap-lg {
    --v2-stack-gap: var(--v2-gap-lg);
  }
  &--gap-xl {
    --v2-stack-gap: var(--v2-gap-xl);
  }
  &--gap-xxl {
    --v2-stack-gap: var(--v2-gap-xxl);
  }
}
