:root {
  --v2-scale: 1;
  --v2-unit: calc(0.125rem * var(--v2-scale));

  --v2-01: calc(var(--v2-unit) * 1); // 2px
  --v2-02: calc(var(--v2-unit) * 2); // 4px
  --v2-03: calc(var(--v2-unit) * 4); // 8px
  --v2-04: calc(var(--v2-unit) * 6); // 12px
  --v2-05: calc(var(--v2-unit) * 8); // 16px
  --v2-06: calc(var(--v2-unit) * 12); // 24px
  --v2-07: calc(var(--v2-unit) * 16); // 32px
  --v2-08: calc(var(--v2-unit) * 20); // 40px
  --v2-09: calc(var(--v2-unit) * 24); // 48px
  --v2-10: calc(var(--v2-unit) * 28); // 56px
  --v2-11: calc(var(--v2-unit) * 32); // 64px
  --v2-12: calc(var(--v2-unit) * 36); // 72px
  --v2-13: calc(var(--v2-unit) * 40); // 80px
  --v2-14: calc(var(--v2-unit) * 48); // 96px
  --v2-15: calc(var(--v2-unit) * 64); // 128px
  --v2-16: calc(var(--v2-unit) * 80); // 160px

  --v2-action: calc(var(--v2-unit) * 28); // 56px
  --v2-gutter: calc(var(--v2-unit) * 28); // 56px
  --v2-gutter-gap: calc(var(--v2-gutter) / 2); // 28px

  --v2-card-width-sm: calc(var(--v2-unit) * 80); // 160px
  --v2-card-width-md: calc(var(--v2-unit) * 100); // 200px
  --v2-card-width-lg: calc(var(--v2-unit) * 120); // 240px

  --v2-page-width-min: calc(var(--v2-unit) * 160); // 320px
  --v2-page-width-max: calc(var(--v2-unit) * 960); // 1920px

  --v2-radius-xs: calc(var(--v2-unit) * 2); // 4px
  --v2-radius-sm: calc(var(--v2-unit) * 4); // 8px
  --v2-radius-md: calc(var(--v2-unit) * 6); // 12px
  --v2-radius-lg: calc(var(--v2-unit) * 8); // 16px
  --v2-radius-xl: calc(var(--v2-unit) * 10); // 20px
  --v2-radius-rd: calc(var(--v2-unit) * 1000); // 2000px

  --v2-font-family: 'Satoshi';

  --v2-line-height-xxs: 1;
  --v2-line-height-xs: 1.15;
  --v2-line-height-sm: 1.35;
  --v2-line-height-md: 1.5;
  --v2-line-height-lg: 1.62;
  --v2-line-height-xl: 1.75;
  --v2-line-height-xxl: 1.85;

  --v2-font-weight-lgt: 300;
  --v2-font-weight-reg: 400;
  --v2-font-weight-med: 500;
  --v2-font-weight-bld: 600;
  --v2-font-weight-blk: 700;

  --v2-font-size-01: calc(var(--v2-unit) * 5); // 10px
  --v2-font-size-02: calc(var(--v2-unit) * 6); // 12px
  --v2-font-size-03: calc(var(--v2-unit) * 7); // 14px
  --v2-font-size-04: calc(var(--v2-unit) * 8); // 16px
  --v2-font-size-05: calc(var(--v2-unit) * 9); // 18px
  --v2-font-size-06: calc(var(--v2-unit) * 10); // 20px
  --v2-font-size-07: calc(var(--v2-unit) * 11); // 22px
  --v2-font-size-08: calc(var(--v2-unit) * 12); // 24px
  --v2-font-size-09: calc(var(--v2-unit) * 13); // 26px
  --v2-font-size-10: calc(var(--v2-unit) * 14); // 28px
  --v2-font-size-11: calc(var(--v2-unit) * 15); // 30px
  --v2-font-size-12: calc(var(--v2-unit) * 16); // 32px
  --v2-font-size-13: calc(var(--v2-unit) * 17); // 34px
  --v2-font-size-14: calc(var(--v2-unit) * 18); // 36px
  --v2-font-size-15: calc(var(--v2-unit) * 19); // 38px
  --v2-font-size-16: calc(var(--v2-unit) * 20); // 40px
  --v2-font-size-17: calc(var(--v2-unit) * 24); // 48px
  --v2-font-size-18: calc(var(--v2-unit) * 28); // 56px
  --v2-font-size-19: calc(var(--v2-unit) * 32); // 64px
  --v2-font-size-20: calc(var(--v2-unit) * 36); // 72px

  --v2-delay-01: 0ms;
  --v2-delay-02: 100ms;
  --v2-delay-03: 200ms;

  --v2-duration-fast-01: 70ms;
  --v2-duration-fast-02: 110ms;
  --v2-duration-moderate-01: 150ms;
  --v2-duration-moderate-02: 240ms;
  --v2-duration-slow-01: 400ms;
  --v2-duration-slow-02: 700ms;

  --v2-easing-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
  --v2-easing-productive-exit: cubic-bezier(0.2, 0, 1, 0.9);
  --v2-easing-productive-enter: cubic-bezier(0, 0, 0.38, 0.9);

  --v2-easing-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
  --v2-easing-expressive-exit: cubic-bezier(0.4, 0.14, 1, 1);
  --v2-easing-expressive-enter: cubic-bezier(0, 0, 0.3, 1);

  @media screen and (min-width: 40em) {
    --v2-gutter: var(--s-07);
  }
  @media screen and (min-width: 60em) {
    --v2-gutter: var(--s-08);
  }
  @media screen and (min-width: 80em) {
    --v2-gutter: var(--s-08);
  }

  --v2-gap-xxs: var(--s-01);
  --v2-gap-xs: var(--s-02);
  --v2-gap-sm: var(--s-04);
  --v2-gap-md: var(--s-06);
  --v2-gap-lg: var(--s-08);
  --v2-gap-xl: var(--s-10);
  --v2-gap-xxl: var(--s-12);

  --v2-icon-height-xxs: 12px;
  --v2-icon-height-xs: 14px;
  --v2-icon-height-sm: 16px;
  --v2-icon-height-md: 18px;
  --v2-icon-height-lg: 20px;
  --v2-icon-height-xl: 22px;
  --v2-icon-height-xxl: 24px;

  --v2-icon-width-xxs: var(--v2-icon-height-xxs);
  --v2-icon-width-xs: var(--v2-icon-height-xs);
  --v2-icon-width-sm: var(--v2-icon-height-sm);
  --v2-icon-width-md: var(--v2-icon-height-md);
  --v2-icon-width-lg: var(--v2-icon-height-lg);
  --v2-icon-width-xl: var(--v2-icon-height-xl);
  --v2-icon-width-xxl: var(--v2-icon-height-xxl);

  --v2-button-height-xxs: calc(var(--v2-unit) * 18);
  --v2-button-height-xs: calc(var(--v2-unit) * 21);
  --v2-button-height-sm: calc(var(--v2-unit) * 24);
  --v2-button-height-md: calc(var(--v2-unit) * 27);
  --v2-button-height-lg: calc(var(--v2-unit) * 30);
  --v2-button-height-xl: calc(var(--v2-unit) * 33);
  --v2-button-height-xxl: calc(var(--v2-unit) * 36);

  --v2-button-font-size-xxs: calc(var(--v2-unit) * 6);
  --v2-button-font-size-xs: calc(var(--v2-unit) * 6);
  --v2-button-font-size-sm: calc(var(--v2-unit) * 7);
  --v2-button-font-size-md: calc(var(--v2-unit) * 7);
  --v2-button-font-size-lg: calc(var(--v2-unit) * 8);
  --v2-button-font-size-xl: calc(var(--v2-unit) * 8);
  --v2-button-font-size-xxl: calc(var(--v2-unit) * 9);

  --v2-button-spacing-x-xxs: calc(var(--v2-unit) * 4);
  --v2-button-spacing-x-xs: calc(var(--v2-unit) * 6);
  --v2-button-spacing-x-sm: calc(var(--v2-unit) * 8);
  --v2-button-spacing-x-md: calc(var(--v2-unit) * 10);
  --v2-button-spacing-x-lg: calc(var(--v2-unit) * 12);
  --v2-button-spacing-x-xl: calc(var(--v2-unit) * 14);
  --v2-button-spacing-x-xxl: calc(var(--v2-unit) * 16);

  --v2-title-font-size-xxs: var(--v2-font-size-13);
  --v2-title-font-size-xs: var(--v2-font-size-14);
  --v2-title-font-size-sm: var(--v2-font-size-15);
  --v2-title-font-size-md: var(--v2-font-size-16);
  --v2-title-font-size-lg: var(--v2-font-size-17);
  --v2-title-font-size-xl: var(--v2-font-size-18);
  --v2-title-font-size-xxl: var(--v2-font-size-19);

  --v2-text-font-size-xxs: var(--v2-font-size-02);
  --v2-text-font-size-xs: var(--v2-font-size-03);
  --v2-text-font-size-sm: var(--v2-font-size-04);
  --v2-text-font-size-md: var(--v2-font-size-05);
  --v2-text-font-size-lg: var(--v2-font-size-06);
  --v2-text-font-size-xl: var(--v2-font-size-07);
  --v2-text-font-size-xxl: var(--v2-font-size-08);

  --v2-label-font-size-xxs: var(--v2-font-size-01);
  --v2-label-font-size-xs: var(--v2-font-size-02);
  --v2-label-font-size-sm: var(--v2-font-size-03);
  --v2-label-font-size-md: var(--v2-font-size-04);
  --v2-label-font-size-lg: var(--v2-font-size-05);
  --v2-label-font-size-xl: var(--v2-font-size-06);
  --v2-label-font-size-xxl: var(--v2-font-size-07);
}
