.v2-radio,
.v2-toggle,
.v2-button,
.v2-action,
.v2-checkbox,
.v2-tool-button,
.v2-icon-button,
.v2-tile[data-behavior='clickable'],
.v2-tile[data-behavior='expandable'],
.v2-tile[data-behavior='selectable'],
.v2-select-target,
.v2-select-option {
  transition-duration: var(--easing-duration);
  transition-timing-function: var(--easing-productive);
  transition-property: background-color, outline-color, border-color, color, fill, stroke, opacity;
}

.v2-text,
.v2-title,
.v2-label {
  transition-duration: calc(var(--easing-duration) * 2);
  transition-timing-function: var(--easing-expressive);
  transition-property: background-color, outline-color, border-color, color, fill, stroke, opacity;
}
