.v2-text,
.v2-title,
.v2-label,
.v2-button-u {
  font-family: var(--ff-base);
}

.v2-text {
  font-weight: var(--fw-2);
  line-height: var(--fh-3);
}

.v2-title {
  font-weight: var(--fw-1);
  line-height: var(--fh-5);
}

.v2-label {
  font-weight: var(--fw-2);
  line-height: var(--fh-1);
}

.v2-button-u {
  font-weight: var(--fw-2);
  line-height: var(--fh-1);
}
