@forward 'Accordion';
@forward 'Action';
@forward 'Box';
@forward 'Button';
@forward 'Checkbox';
@forward 'Control';
@forward 'Divider';
@forward 'Floating';
@forward 'Icon';
@forward 'InlineInput';
@forward 'Label';
@forward 'Link';
@forward 'Radio';
@forward 'Text';
@forward 'Textbox';
@forward 'TextInput';
@forward 'Title';
@forward 'Toggle';

@forward 'shared';
