[data-prefers-accent='red'],
[data-prefers-accent='orange'],
[data-prefers-accent='yellow'],
[data-prefers-accent='green'],
[data-prefers-accent='mint'],
[data-prefers-accent='teal'],
[data-prefers-accent='cyan'],
[data-prefers-accent='blue'],
[data-prefers-accent='indigo'],
[data-prefers-accent='purple'],
[data-prefers-accent='pink'],
[data-prefers-accent='brown'] {
  --c-accent-text: var(--c-on-accent);
  --c-accent-base: var(--c-accent);

  --c-accent-button-text: var(--c-accent);
  --c-accent-button-base: var(--c-accent-A300);
  --c-accent-button-hover: var(--c-accent-A400);
  --c-accent-button-active: var(--c-accent-A500);
  --c-accent-button-selected: var(--c-accent-A600);
}

.v2-button--accent:not([data-disabled]):not([data-read-only]) {
  color: var(--c-accent-button-text);
  background-color: var(--c-accent-button-base);
}

.v2-button--accent:not([data-disabled]):not([data-read-only]):hover {
  background-color: var(--c-accent-button-hover);
}

.v2-button--accent:not([data-disabled]):not([data-read-only]):active {
  background-color: var(--c-accent-button-active);
}

.v2-button--accent:not([data-disabled]):not([data-read-only])[data-selected] {
  background-color: var(--c-accent-button-selected);
}
