.sec,
.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.page-hero,
.home-hero {
  height: 40vh;
}
.page-hero .inner,
.home-hero .inner {
  height: 100%;
}

.page-hero,
.home-hero,
.page-hero .inner,
.home-hero .inner {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.box,
.page-hero .inner,
.home-hero .inner {
  padding-inline: var(--gutter);
  padding-block: calc(var(--gutter) * 2);
}
