@use '../mixins' as mixins;

html,
body,
#root,
.header,
.page-layout,
.page-content,
.home-sec-overview,
.home-sec-overview-left {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-surface-0);
  color: var(--c-primary-text-0);
}

.home-sec-overview-right {
  @include mixins.transition-colors-static;
  background-color: var(--c-secondary-surface-0);
  color: var(--c-secondary-text-0);
}

.button,
.inline-input,
.tabs-list-item {
  @include mixins.transition-colors-interactive;
  background-color: var(--c-primary-surface-1);
  color: var(--c-primary-text-0);
  border: solid 2px transparent;
  outline: solid 2px transparent;

  &:disabled,
  &[aria-disabled] {
    background-color: var(--c-disabled-surface);
    color: var(--c-disabled-text);
    cursor: default;
  }

  &:disabled:focus:focus-visible,
  &[aria-disabled]:focus:focus-visible {
    outline-color: transparent;
  }

  &:not([aria-disabled]):hover {
    background-color: var(--c-primary-surface-2);
    color: var(--c-primary-text-0);
    cursor: pointer;
  }

  &:not(:disabled),
  &:not([aria-disabled]) {
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: var(--root-focus-outline);
    }
  }
}

.header-logo-link,
.header-skip-link,
.footer-menu-item {
  @include mixins.transition-colors-interactive;
  background-color: var(--c-primary-surface-0);
  color: var(--c-primary-text-0);
  border: solid 2px transparent;
  outline: solid 2px transparent;

  &:disabled,
  &[aria-disabled] {
    background-color: var(--c-disabled-surface);
    color: var(--c-disabled-text);
    cursor: default;
  }

  &:disabled:focus:focus-visible,
  &[aria-disabled]:focus:focus-visible {
    outline-color: transparent;
  }

  &:not([aria-disabled]):hover {
    background-color: var(--c-primary-surface-1);
    color: var(--c-primary-text-0);
    cursor: pointer;
  }

  &:not(:disabled),
  &:not([aria-disabled]) {
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: var(--root-focus-outline);
    }
  }
}

.divider[data-divider-scheme='primary'] {
  @include mixins.transition-colors-static;
  background: var(--c-primary-surface-4);
}
.divider[data-divider-scheme='secondary'] {
  @include mixins.transition-colors-static;
  background: var(--c-secondary-surface-4);
}

.sec[data-scheme='primary'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-surface-0);
  color: var(--c-primary-text-0);
}
.sec[data-scheme='primary-elvated'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-surface-1);
  color: var(--c-primary-text-1);
}

.sec[data-scheme='secondary'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-secondary-surface-0);
  color: var(--c-secondary-text-0);
}
.sec[data-scheme='secondary-elvated'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-secondary-surface-1);
  color: var(--c-secondary-text-1);
}
