@use '../mixins' as mixins;

html,
body,
:root,
#root,
.button,
.inline-input,
.page-header,
.page-footer,
.page-layout,
.page-content,
.page-actions {
  color: var(--c-primary-text-0);
}

.home-sec-overview-right {
  color: var(--c-secondary-text-0);
}

html,
body,
:root,
#root,
.page-header,
.page-footer,
.page-layout,
.page-content,
.page-actions,
.home-sec-overview-left {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-surface-0);
}

.home-sec-overview-right {
  @include mixins.transition-colors-static;
  background-color: var(--c-secondary-surface-0);
}

.page-footer {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-surface-1);
}

.page-header-logo-link,
.page-header-skip-link,
.page-actions-menu-item {
  @include mixins.transition-colors-interactive;
  background-color: var(--c-primary-surface-0);
  &:hover {
    background-color: var(--c-primary-surface-0-hover);
  }
}

.button,
.inline-input,
.page-footer-menu-item {
  @include mixins.transition-colors-interactive;
  background-color: var(--c-primary-surface-1);
  &:hover {
    background-color: var(--c-primary-surface-1-hover);
  }
}

.button,
.inline-input,
.page-actions,
// .page-actions-menu,
.page-header-content--left,
.page-header-content--right,
.page-header-logo-link,
.page-header-skip-link,
.page-footer-menu-item,
.page-actions-menu-item {
  // border: solid 2px transparent;
  outline: solid 2px transparent;
}

.button,
.inline-input,
.page-header-logo-link,
.page-header-skip-link,
.page-footer-menu-item,
.page-actions-menu-item {
  --focus-outline: solid 2px rgb(25, 113, 194);

  &:disabled,
  &[aria-disabled] {
    background-color: var(--c-disabled-surface);
    color: var(--c-disabled-text);
    cursor: default;
  }

  &:disabled:focus:focus-visible,
  &[aria-disabled]:focus:focus-visible {
    outline-color: transparent;
  }

  &:not([aria-disabled]):hover {
    cursor: pointer;
  }

  &:not(:disabled),
  &:not([aria-disabled]) {
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: var(--focus-outline);
    }
  }
}

.page-hero-home-underlay--top {
  background: linear-gradient(
    10deg,
    hsla(var(--c-accent), 0.79) 0%,
    hsla(var(--c-accent), 0.69) 50%,
    hsla(var(--c-accent), 0.59) 100%
  );
}

.page-hero-home-underlay--bottom {
  background: linear-gradient(
    190deg,
    hsla(var(--c-accent), 0.79) 0%,
    hsla(var(--c-accent), 0.69) 50%,
    hsla(var(--c-accent), 0.59) 100%
  );
}
