@use '../mixins' as mixins;

.surface-accent-base-0,
.surface-accent-base-1,
.surface-accent-base-2,
.surface-accent-base-3,
.surface-accent-base-4,
.surface-accent-base-5,
.surface-primary-base-0,
.surface-primary-base-1,
.surface-primary-base-2,
.surface-primary-base-3,
.surface-primary-base-4,
.surface-primary-base-5 {
  color: var(--c-primary-text-0);
}

.surface-secondary-base-0,
.surface-secondary-base-1,
.surface-secondary-base-2,
.surface-secondary-base-3,
.surface-secondary-base-4,
.surface-secondary-base-5 {
  color: var(--c-secondary-text-0);
}

.surface-accent-base-0,
.surface-accent-base-1,
.surface-accent-base-2,
.surface-accent-base-3,
.surface-accent-base-4,
.surface-accent-base-5,
.surface-primary-base-0,
.surface-primary-base-1,
.surface-primary-base-2,
.surface-primary-base-3,
.surface-primary-base-4,
.surface-primary-base-5,
.surface-secondary-base-0,
.surface-secondary-base-1,
.surface-secondary-base-2,
.surface-secondary-base-3,
.surface-secondary-base-4,
.surface-secondary-base-5 {
  @include mixins.transition-colors-static;
}

.surface-accent-interactive-0,
.surface-accent-interactive-1,
.surface-accent-interactive-2,
.surface-accent-interactive-3,
.surface-accent-interactive-4,
.surface-accent-interactive-5,
.surface-primary-interactive-0,
.surface-primary-interactive-1,
.surface-primary-interactive-2,
.surface-primary-interactive-3,
.surface-primary-interactive-4,
.surface-primary-interactive-5,
.surface-secondary-interactive-0,
.surface-secondary-interactive-1,
.surface-secondary-interactive-2,
.surface-secondary-interactive-3,
.surface-secondary-interactive-4,
.surface-secondary-interactive-5 {
  @include mixins.transition-colors-interactive;
}

.surface-accent-base-0 {
  background-color: var(--c-accent-surface-0);
}
.surface-accent-base-1 {
  background-color: var(--c-accent-surface-1);
}
.surface-accent-base-2 {
  background-color: var(--c-accent-surface-2);
}
.surface-accent-base-3 {
  background-color: var(--c-accent-surface-3);
}
.surface-accent-base-4 {
  background-color: var(--c-accent-surface-4);
}
.surface-accent-base-5 {
  background-color: var(--c-accent-surface-5);
}

.surface-primary-base-0 {
  background-color: var(--c-primary-surface-0);
}
.surface-primary-base-1 {
  background-color: var(--c-primary-surface-1);
}
.surface-primary-base-2 {
  background-color: var(--c-primary-surface-2);
}
.surface-primary-base-3 {
  background-color: var(--c-primary-surface-3);
}
.surface-primary-base-4 {
  background-color: var(--c-primary-surface-4);
}
.surface-primary-base-5 {
  background-color: var(--c-primary-surface-5);
}

.surface-secondary-base-0 {
  background-color: var(--c-secondary-surface-0);
}
.surface-secondary-base-1 {
  background-color: var(--c-secondary-surface-1);
}
.surface-secondary-base-2 {
  background-color: var(--c-secondary-surface-2);
}
.surface-secondary-base-3 {
  background-color: var(--c-secondary-surface-3);
}
.surface-secondary-base-4 {
  background-color: var(--c-secondary-surface-4);
}
.surface-secondary-base-5 {
  background-color: var(--c-secondary-surface-5);
}

.surface-accent-interactive-0 {
  @extend .surface-accent-base-0;
}
.surface-accent-interactive-1 {
  @extend .surface-accent-base-1;
}
.surface-accent-interactive-2 {
  @extend .surface-accent-base-2;
}
.surface-accent-interactive-3 {
  @extend .surface-accent-base-3;
}
.surface-accent-interactive-4 {
  @extend .surface-accent-base-4;
}
.surface-accent-interactive-5 {
  @extend .surface-accent-base-5;
}

.surface-primary-interactive-0 {
  @extend .surface-primary-base-0;
}
.surface-primary-interactive-1 {
  @extend .surface-primary-base-1;
}
.surface-primary-interactive-2 {
  @extend .surface-primary-base-2;
}
.surface-primary-interactive-3 {
  @extend .surface-primary-base-3;
}
.surface-primary-interactive-4 {
  @extend .surface-primary-base-4;
}
.surface-primary-interactive-5 {
  @extend .surface-primary-base-5;
}

.surface-secondary-interactive-0 {
  @extend .surface-secondary-base-0;
}
.surface-secondary-interactive-1 {
  @extend .surface-secondary-base-1;
}
.surface-secondary-interactive-2 {
  @extend .surface-secondary-base-2;
}
.surface-secondary-interactive-3 {
  @extend .surface-secondary-base-3;
}
.surface-secondary-interactive-4 {
  @extend .surface-secondary-base-4;
}
.surface-secondary-interactive-5 {
  @extend .surface-secondary-base-5;
}

.surface-accent-interactive-0:hover {
  background-color: var(--c-accent-surface-0-hover);
}
.surface-accent-interactive-1:hover {
  background-color: var(--c-accent-surface-1-hover);
}
.surface-accent-interactive-2:hover {
  background-color: var(--c-accent-surface-2-hover);
}
.surface-accent-interactive-3:hover {
  background-color: var(--c-accent-surface-3-hover);
}
.surface-accent-interactive-4:hover {
  background-color: var(--c-accent-surface-4-hover);
}
.surface-accent-interactive-5:hover {
  background-color: var(--c-accent-surface-5-hover);
}

.surface-primary-interactive-0:hover {
  background-color: var(--c-primary-surface-0-hover);
}
.surface-primary-interactive-1:hover {
  background-color: var(--c-primary-surface-1-hover);
}
.surface-primary-interactive-2:hover {
  background-color: var(--c-primary-surface-2-hover);
}
.surface-primary-interactive-3:hover {
  background-color: var(--c-primary-surface-3-hover);
}
.surface-primary-interactive-4:hover {
  background-color: var(--c-primary-surface-4-hover);
}
.surface-primary-interactive-5:hover {
  background-color: var(--c-primary-surface-5-hover);
}

.surface-secondary-interactive-0:hover {
  background-color: var(--c-secondary-surface-0-hover);
}
.surface-secondary-interactive-1:hover {
  background-color: var(--c-secondary-surface-1-hover);
}
.surface-secondary-interactive-2:hover {
  background-color: var(--c-secondary-surface-2-hover);
}
.surface-secondary-interactive-3:hover {
  background-color: var(--c-secondary-surface-3-hover);
}
.surface-secondary-interactive-4:hover {
  background-color: var(--c-secondary-surface-4-hover);
}
.surface-secondary-interactive-5:hover {
  background-color: var(--c-secondary-surface-5-hover);
}
