@use '../mixins' as mixins;

html,
body,
:root,
#root,
.header,
.page-header,
.page-layout,
.page-content {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-surface-0);
  color: var(--c-primary-text-0);
}

.home-sec-overview-right {
  @include mixins.transition-colors-static;
  background-color: var(--c-secondary-surface-0);
  color: var(--c-secondary-text-0);
}

.button,
.inline-input,
.tabs-list-item {
  @include mixins.transition-colors-interactive;
  background-color: var(--c-primary-surface-1);
  color: var(--c-primary-text-0);
  border: solid 2px transparent;
  outline: solid 2px transparent;

  &:disabled,
  &[aria-disabled] {
    background-color: var(--c-disabled-surface);
    color: var(--c-disabled-text);
    cursor: default;
  }

  &:disabled:focus:focus-visible,
  &[aria-disabled]:focus:focus-visible {
    outline-color: transparent;
  }

  &:not([aria-disabled]):hover {
    background-color: var(--c-primary-surface-2);
    color: var(--c-primary-text-0);
    cursor: pointer;
  }

  &:not(:disabled),
  &:not([aria-disabled]) {
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: var(--root-focus-outline);
    }
  }
}

.header-logo-link,
.header-skip-link,
.footer-menu-item {
  @include mixins.transition-colors-interactive;
  background-color: var(--c-primary-surface-0);
  color: var(--c-primary-text-0);
  border: solid 2px transparent;
  outline: solid 2px transparent;

  &:disabled,
  &[aria-disabled] {
    background-color: var(--c-disabled-surface);
    color: var(--c-disabled-text);
    cursor: default;
  }

  &:disabled:focus:focus-visible,
  &[aria-disabled]:focus:focus-visible {
    outline-color: transparent;
  }

  &:not([aria-disabled]):hover {
    background-color: var(--c-primary-surface-1);
    color: var(--c-primary-text-0);
    cursor: pointer;
  }

  &:not(:disabled),
  &:not([aria-disabled]) {
    cursor: pointer;

    &:focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: var(--root-focus-outline);
    }
  }
}

.divider[data-divider-scheme='accent'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-accent-text);
}
.divider[data-divider-scheme='primary'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-neutral-10);
}
.divider[data-divider-scheme='secondary'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-neutral-10);
}

.box[data-box-scheme='primary'],
.sec[data-sec-scheme='primary'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-surface-0);
  color: var(--c-primary-text-0);
}

.box[data-box-scheme='secondary'],
.sec[data-sec-scheme='secondary'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-secondary-surface-0);
  color: var(--c-secondary-text-0);
}

.box[data-box-scheme='accent'],
.sec[data-sec-scheme='accent'] {
  @include mixins.transition-colors-static;
  @include mixins.transition-colors-static;
  background-color: var(--c-accent-6);
  color: var(--c-accent-text);
}
