[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  --c-accent-0: hsla(var(--c-accent), 0.1);
  --c-accent-1: hsla(var(--c-accent), 0.2);
  --c-accent-2: hsla(var(--c-accent), 0.3);
  --c-accent-3: hsla(var(--c-accent), 0.4);
  --c-accent-4: hsla(var(--c-accent), 0.5);
  --c-accent-5: hsla(var(--c-accent), 0.6);
  --c-accent-6: hsla(var(--c-accent), 0.7);
  --c-accent-7: hsla(var(--c-accent), 0.8);
  --c-accent-8: hsla(var(--c-accent), 0.9);
  --c-accent-9: hsla(var(--c-accent), 1);

  --c-primary-text-0: var(--c-neutral-20);
  --c-primary-text-1: var(--c-neutral-18);
  --c-primary-text-2: var(--c-neutral-16);
  --c-primary-text-3: var(--c-neutral-14);

  --c-secondary-text-0: var(--c-neutral-01);
  --c-secondary-text-1: var(--c-neutral-03);
  --c-secondary-text-2: var(--c-neutral-05);
  --c-secondary-text-3: var(--c-neutral-07);

  --c-primary-surface-0: var(--c-neutral-01);
  --c-primary-surface-1: var(--c-neutral-02);
  --c-primary-surface-2: var(--c-neutral-03);
  --c-primary-surface-3: var(--c-neutral-04);
  --c-primary-surface-4: var(--c-neutral-05);
  --c-primary-surface-5: var(--c-neutral-06);

  --c-secondary-surface-0: var(--c-neutral-20);
  --c-secondary-surface-1: var(--c-neutral-19);
  --c-secondary-surface-2: var(--c-neutral-18);
  --c-secondary-surface-3: var(--c-neutral-17);
  --c-secondary-surface-4: var(--c-neutral-16);
  --c-secondary-surface-5: var(--c-neutral-15);

  --c-primary-surface-0-hover: var(--c-neutral-02);
  --c-primary-surface-1-hover: var(--c-neutral-03);
  --c-primary-surface-2-hover: var(--c-neutral-04);
  --c-primary-surface-3-hover: var(--c-neutral-05);
  --c-primary-surface-4-hover: var(--c-neutral-06);
  --c-primary-surface-5-hover: var(--c-neutral-07);

  --c-secondary-surface-0-hover: var(--c-neutral-19);
  --c-secondary-surface-1-hover: var(--c-neutral-18);
  --c-secondary-surface-2-hover: var(--c-neutral-17);
  --c-secondary-surface-3-hover: var(--c-neutral-16);
  --c-secondary-surface-4-hover: var(--c-neutral-15);
  --c-secondary-surface-5-hover: var(--c-neutral-16);
}

.fw--1 {
  font-weight: var(--font-weight-1);
}
.fw--2 {
  font-weight: var(--font-weight-2);
}
.fw--3 {
  font-weight: var(--font-weight-3);
}
.fw--4 {
  font-weight: var(--font-weight-4);
}
.fw--5 {
  font-weight: var(--font-weight-5);
}

.fz--1 {
  font-size: var(--font-size-1);
}
.fz--2 {
  font-size: var(--font-size-2);
}
.fz--3 {
  font-size: var(--font-size-3);
}
.fz--4 {
  font-size: var(--font-size-4);
}
.fz--5 {
  font-size: var(--font-size-5);
}
.fz--6 {
  font-size: var(--font-size-6);
}
.fz--7 {
  font-size: var(--font-size-7);
}
.fz--8 {
  font-size: var(--font-size-8);
}
.fz--9 {
  font-size: var(--font-size-9);
}
.fz--10 {
  font-size: var(--font-size-10);
}
.fz--11 {
  font-size: var(--font-size-11);
}
.fz--12 {
  font-size: var(--font-size-12);
}

.gap--xxs {
  padding-inline: calc(var(--unit) * 0.25);
}
.gap--xs {
  padding-inline: calc(var(--unit) * 0.5);
}
.gap--md {
  padding-inline: calc(var(--unit) * 0.75);
}
.gap--lg {
  padding-inline: calc(var(--unit) * 1);
}
.gap--xl {
  padding-inline: calc(var(--unit) * 1.25);
}
.gap--xxl {
  padding-inline: calc(var(--unit) * 1.5);
}

.px--gutter {
  padding-inline: var(--gutter);
}
.px--xxs {
  padding-inline: calc(var(--unit) * 1);
}
.px--xs {
  padding-inline: calc(var(--unit) * 2);
}
.px--md {
  padding-inline: calc(var(--unit) * 3);
}
.px--lg {
  padding-inline: calc(var(--unit) * 4);
}
.px--xl {
  padding-inline: calc(var(--unit) * 5);
}
.px--xxl {
  padding-inline: calc(var(--unit) * 6);
}
.px--xxs-compact {
  padding-inline: calc(var(--unit) * 0.5);
}
.px--xs-compact {
  padding-inline: calc(var(--unit) * 1);
}
.px--md-compact {
  padding-inline: calc(var(--unit) * 1.5);
}
.px--lg-compact {
  padding-inline: calc(var(--unit) * 2);
}
.px--xl-compact {
  padding-inline: calc(var(--unit) * 2.5);
}
.px--xxl-compact {
  padding-inline: calc(var(--unit) * 3);
}
.px--xxs-expanded {
  padding-inline: calc(var(--unit) * 3);
}
.px--xs-expanded {
  padding-inline: calc(var(--unit) * 4);
}
.px--md-expanded {
  padding-inline: calc(var(--unit) * 5);
}
.px--lg-expanded {
  padding-inline: calc(var(--unit) * 6);
}
.px--xl-expanded {
  padding-inline: calc(var(--unit) * 7);
}
.px--xxl-expanded {
  padding-inline: calc(var(--unit) * 8);
}

.py--gutter {
  padding-block: var(--gutter);
}
.py--xxs {
  padding-block: calc(var(--unit) * 1);
}
.py--xs {
  padding-block: calc(var(--unit) * 2);
}
.py--md {
  padding-block: calc(var(--unit) * 3);
}
.py--lg {
  padding-block: calc(var(--unit) * 4);
}
.py--xl {
  padding-block: calc(var(--unit) * 5);
}
.py--xxl {
  padding-block: calc(var(--unit) * 6);
}
.py--xxs-compact {
  padding-block: calc(var(--unit) * 0.5);
}
.py--xs-compact {
  padding-block: calc(var(--unit) * 1);
}
.py--md-compact {
  padding-block: calc(var(--unit) * 1.5);
}
.py--lg-compact {
  padding-block: calc(var(--unit) * 2);
}
.py--xl-compact {
  padding-block: calc(var(--unit) * 2.5);
}
.py--xxl-compact {
  padding-block: calc(var(--unit) * 3);
}
.py--xxs-expanded {
  padding-block: calc(var(--unit) * 3);
}
.py--xs-expanded {
  padding-block: calc(var(--unit) * 4);
}
.py--md-expanded {
  padding-block: calc(var(--unit) * 5);
}
.py--lg-expanded {
  padding-block: calc(var(--unit) * 6);
}
.py--xl-expanded {
  padding-block: calc(var(--unit) * 7);
}
.py--xxl-expanded {
  padding-block: calc(var(--unit) * 8);
}
