[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  --c-accent-0: hsla(var(--c-accent), 0.1);
  --c-accent-1: hsla(var(--c-accent), 0.2);
  --c-accent-2: hsla(var(--c-accent), 0.3);
  --c-accent-3: hsla(var(--c-accent), 0.4);
  --c-accent-4: hsla(var(--c-accent), 0.5);
  --c-accent-5: hsla(var(--c-accent), 0.6);
  --c-accent-6: hsla(var(--c-accent), 0.7);
  --c-accent-7: hsla(var(--c-accent), 0.8);
  --c-accent-8: hsla(var(--c-accent), 0.9);
  --c-accent-9: hsla(var(--c-accent), 1);

  --c-primary-text-0: var(--c-neutral-20);
  --c-primary-text-1: var(--c-neutral-18);
  --c-primary-text-2: var(--c-neutral-16);
  --c-primary-text-3: var(--c-neutral-14);

  --c-secondary-text-0: var(--c-neutral-01);
  --c-secondary-text-1: var(--c-neutral-03);
  --c-secondary-text-2: var(--c-neutral-05);
  --c-secondary-text-3: var(--c-neutral-07);

  --c-primary-surface-0: var(--c-neutral-01);
  --c-primary-surface-1: var(--c-neutral-02);
  --c-primary-surface-2: var(--c-neutral-03);
  --c-primary-surface-3: var(--c-neutral-04);
  --c-primary-surface-4: var(--c-neutral-05);
  --c-primary-surface-5: var(--c-neutral-06);

  --c-secondary-surface-0: var(--c-neutral-20);
  --c-secondary-surface-1: var(--c-neutral-19);
  --c-secondary-surface-2: var(--c-neutral-18);
  --c-secondary-surface-3: var(--c-neutral-17);
  --c-secondary-surface-4: var(--c-neutral-16);
  --c-secondary-surface-5: var(--c-neutral-15);

  --c-primary-surface-0-hover: var(--c-neutral-02);
  --c-primary-surface-1-hover: var(--c-neutral-03);
  --c-primary-surface-2-hover: var(--c-neutral-04);
  --c-primary-surface-3-hover: var(--c-neutral-05);
  --c-primary-surface-4-hover: var(--c-neutral-06);
  --c-primary-surface-5-hover: var(--c-neutral-07);

  --c-secondary-surface-0-hover: var(--c-neutral-19);
  --c-secondary-surface-1-hover: var(--c-neutral-18);
  --c-secondary-surface-2-hover: var(--c-neutral-17);
  --c-secondary-surface-3-hover: var(--c-neutral-16);
  --c-secondary-surface-4-hover: var(--c-neutral-15);
  --c-secondary-surface-5-hover: var(--c-neutral-16);
}
