:root {
  --scale: 1;
  --cursor: default;

  --gap: calc(0.75rem * var(--scale));
  --gutter: calc(calc(var(--gap) * 2) * var(--scale));
  --spacing: calc(calc(var(--gap) * 3) * var(--scale));

  --radius-xs: calc(var(--unit) * 1);
  --radius-sm: calc(var(--unit) * 2);
  --radius-md: calc(var(--unit) * 4);
  --radius-lg: calc(var(--unit) * 8);
  --radius-xl: calc(var(--unit) * 16);
  --radius-rd: 1000px;

  --font-family: 'Satoshi';
  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 500;
  --font-weight-4: 600;
  --font-weight-5: 700;

  --easing-duration-1: 70ms;
  --easing-duration-2: 110ms;
  --easing-duration-3: 150ms;
  --easing-duration-4: 240ms;
  --easing-duration-5: 400ms;
  --easing-duration-6: 700ms;

  --easing-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
  --easing-entrance-productive: cubic-bezier(0, 0, 0.38, 0.9);
  --easing-exit-productive: cubic-bezier(0.2, 0, 1, 0.9);

  --easing-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
  --easing-entrance-expressive: cubic-bezier(0, 0, 0.3, 1);
  --easing-exit-expressive: cubic-bezier(0.4, 0.14, 1, 1);

  // READ-ONLY
  --breakpoint-xs: 36em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;

  // LOCAL
  --app-header-height: 4rem;
}
