:root {
  --unit: 0.5rem;
  --scale: 1;
  --cursor: default;

  --gap: calc(calc(var(--unit) * 1.5) * var(--scale));
  --gutter: calc(calc(var(--gap) * 1.5) * var(--scale));
  --spacing: calc(calc(var(--gutter) * 1.5) * var(--scale));

  --icon-size-sm: 24px;
  --icon-size-md: 28px;
  --icon-size-lg: 32px;

  --border-width-sm: 2px;
  --border-width-md: 3px;
  --border-width-lg: 4px;

  --radius-xs: calc(var(--unit) * 1);
  --radius-sm: calc(var(--unit) * 2);
  --radius-md: calc(var(--unit) * 4);
  --radius-lg: calc(var(--unit) * 8);
  --radius-xl: calc(var(--unit) * 16);
  --radius-rd: 1000px;

  --font-family: 'Satoshi';
  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 500;
  --font-weight-4: 600;
  --font-weight-5: 700;

  --easing-duration-1: 70ms;
  --easing-duration-2: 110ms;
  --easing-duration-3: 150ms;
  --easing-duration-4: 240ms;
  --easing-duration-5: 400ms;
  --easing-duration-6: 700ms;

  --easing-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
  --easing-entrance-productive: cubic-bezier(0, 0, 0.38, 0.9);
  --easing-exit-productive: cubic-bezier(0.2, 0, 1, 0.9);

  --easing-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
  --easing-entrance-expressive: cubic-bezier(0, 0, 0.3, 1);
  --easing-exit-expressive: cubic-bezier(0.4, 0.14, 1, 1);

  --breakpoint-xs: 36em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;

  --app-header-height: calc(3.5rem + 4px);
  --app-hero-height: 40vh;

  --app-index-parallax-1: -3;
  --app-index-parallax-2: -2;
  --app-index-parallax-3: -1;
  --app-index-content: 1;
  --app-index-header: 999;
  --app-index-overlay: 9999;

  --font-size-caption-sm-mobile: 10px;
  --font-size-caption-sm-desktop: 14px;

  --font-size-caption-md-mobile: 11px;
  --font-size-caption-md-desktop: 15px;

  --font-size-caption-lg-mobile: 12px;
  --font-size-caption-lg-desktop: 16px;

  --font-size-body-sm-mobile: 12px;
  --font-size-body-sm-desktop: 16px;

  --font-size-body-md-mobile: 14px;
  --font-size-body-md-desktop: 16px;

  --font-size-body-lg-mobile: 16px;
  --font-size-body-lg-desktop: 18px;

  --font-size-body-xl-mobile: 18px;
  --font-size-body-xl-desktop: 20px;

  --font-size-subtitle-sm-mobile: 16px;
  --font-size-subtitle-sm-desktop: 22px;

  --font-size-subtitle-md-mobile: 18px;
  --font-size-subtitle-md-desktop: 24px;

  --font-size-subtitle-lg-mobile: 20px;
  --font-size-subtitle-lg-desktop: 26px;

  --font-size-title-sm-mobile: 24px;
  --font-size-title-sm-desktop: 32px;

  --font-size-title-md-mobile: 28px;
  --font-size-title-md-desktop: 36px;

  --font-size-title-lg-mobile: 32px;
  --font-size-title-lg-desktop: 40px;

  --font-size-title-xl-mobile: 40px;
  --font-size-title-xl-desktop: 52px;

  --font-size-title-xxl-mobile: 68px;
  --font-size-title-xxl-desktop: 92px;

  --font-size-body-sm: var(--font-size-body-sm-mobile);
  --font-size-body-md: var(--font-size-body-md-mobile);
  --font-size-body-lg: var(--font-size-body-lg-mobile);
  --font-size-body-xl: var(--font-size-body-xl-mobile);

  --font-size-caption-sm: var(--font-size-caption-sm-mobile);
  --font-size-caption-md: var(--font-size-caption-md-mobile);
  --font-size-caption-lg: var(--font-size-caption-lg-mobile);

  --font-size-subtitle-sm: var(--font-size-subtitle-sm-mobile);
  --font-size-subtitle-md: var(--font-size-subtitle-md-mobile);
  --font-size-subtitle-lg: var(--font-size-subtitle-lg-mobile);

  --font-size-title-sm: var(--font-size-title-sm-mobile);
  --font-size-title-md: var(--font-size-title-md-mobile);
  --font-size-title-lg: var(--font-size-title-lg-mobile);
  --font-size-title-xl: var(--font-size-title-xl-mobile);
  --font-size-title-xxl: var(--font-size-title-xxl-mobile);

  @media (min-width: 60em) {
    --font-size-body-sm: var(--font-size-body-sm-desktop);
    --font-size-body-md: var(--font-size-body-md-desktop);
    --font-size-body-lg: var(--font-size-body-lg-desktop);
    --font-size-body-xl: var(--font-size-body-xl-desktop);

    --font-size-caption-sm: var(--font-size-caption-sm-desktop);
    --font-size-caption-md: var(--font-size-caption-md-desktop);
    --font-size-caption-lg: var(--font-size-caption-lg-desktop);

    --font-size-subtitle-sm: var(--font-size-subtitle-sm-desktop);
    --font-size-subtitle-md: var(--font-size-subtitle-md-desktop);
    --font-size-subtitle-lg: var(--font-size-subtitle-lg-desktop);

    --font-size-title-sm: var(--font-size-title-sm-desktop);
    --font-size-title-md: var(--font-size-title-md-desktop);
    --font-size-title-lg: var(--font-size-title-lg-desktop);
    --font-size-title-xl: var(--font-size-title-xl-desktop);
    --font-size-title-xxl: var(--font-size-title-xxl-desktop);
  }
}
