.v2-home-hero {
  &-title-line-1,
  &-title-line-2 {
    display: block;
    font-size: var(--v2-font-size-08);
    line-height: var(--v2-line-height-02);
    max-width: 16ch;

    @media (min-width: 40em) {
      max-width: 16ch;
      font-size: var(--v2-font-size-08);
    }
    @media (min-width: 50em) {
      max-width: 24ch;
      font-size: var(--v2-font-size-08);
    }
  }
}

.v2-home-intro {
  &-layout {
    min-height: 360px;

    @media (min-width: 50em) {
      min-height: auto;
    }
  }
  &-text {
    font-size: var(--v2-font-size-04);
    line-height: var(--v2-line-height-03);
    margin-inline: var(--v2-gutter);
    padding-block: calc(var(--v2-gutter) * 2);
    max-width: 50ch;

    @media (min-width: 50em) {
      padding-block: calc(var(--v2-gutter) * 3);
    }
  }
}

.v2-home-brands {
  display: grid;
  place-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);

  &-title {
    font-size: var(--v2-font-size-07);
    line-height: var(--v2-line-height-03);
    margin-inline: var(--v2-gutter);
    max-width: 30ch;
  }

  &-text {
    font-size: var(--v2-font-size-03);
    line-height: var(--v2-line-height-03);
    margin-inline: var(--v2-gutter);
    padding-block: calc(var(--v2-gutter) * 2);
    max-width: 60ch;
  }

  &-box:nth-of-type(1) {
    grid-column: 1 / 13;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  &-box:nth-of-type(2) {
    grid-column: 1 / 13;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: var(--v2-unit);
  }

  &-tile {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-width: var(--v2-unit);
    outline-color: transparent;
    outline-style: solid;

    &:focus:not(:focus-visible) {
      outline-color: transparent;
    }

    &:focus:focus-visible {
      outline-color: var(--v2-color-focus);
    }

    &:not([data-loading]),
    &:not([data-disabled]),
    &:not([data-readonly]) {
      cursor: pointer;
    }

    &[data-loading] {
      cursor: wait;
    }
    &[data-readonly] {
      cursor: default;
    }
    &[data-disabled] {
      cursor: not-allowed;
    }

    .v2-company-logo {
      max-width: 150px;
    }
  }
}

.v2-home-experience {
  &-box:nth-of-type(1) {
  }
  &-box:nth-of-type(2) {
  }
}

// .v2-home-intro {
//   &-text {
//     font-size: var(--v2-font-size-06);
//     margin-inline: var(--v2-gutter);
//     padding-block: calc(var(--v2-gutter) * 2);
//   }

//   &-title {
//     font-size: var(--v2-font-size-06);
//   }

//   @media (min-width: 60em) {
//     &-text {
//       font-size: var(--v2-font-size-05);
//       padding-block: calc(var(--v2-gutter) * 2);
//     }
//   }
// }

// .v2-home-brands {
//   display: grid;
//   grid-template-rows: auto;
//   grid-template-columns: repeat(12, 1fr);

//   &-box {
//     display: block;
//     margin-inline: var(--v2-gutter);
//   }

//   &-box:nth-of-type(1) {
//     grid-column: 1 / 6;
//   }

//   &-box:nth-of-type(2) {
//     grid-column: 7 / 13;
//   }

//   &-title {
//     font-size: var(--v2-font-size-06);
//     // margin-inline: var(--v2-gutter);
//   }

//   &-text {
//     font-size: var(--v2-font-size-04);
//     // margin-inline: var(--v2-gutter);
//   }
// }

// .v2-home-experience {
//   display: grid;
//   grid-template-rows: auto;
//   grid-template-columns: repeat(12, 1fr);

//   &-title-line-1,
//   &-title-line-2 {
//     display: block;
//   }

//   &-title-line-1 {
//     margin-bottom: calc(var(--v2-unit) * 4);
//   }

//   &-box {
//     display: block;
//     margin-inline: var(--v2-gutter);
//     padding-block: calc(var(--v2-gutter) * 2);
//   }

//   &-box:nth-of-type(1) {
//     grid-column: 1 / 6;
//   }

//   &-box:nth-of-type(2) {
//     grid-column: 7 / 13;
//   }

//   &-title {
//     font-size: var(--v2-font-size-06);
//     // margin-inline: var(--v2-gutter);
//   }

//   &-text {
//     font-size: var(--v2-font-size-04);
//     // margin-inline: var(--v2-gutter);
//   }
// }
