@use '../utils' as utils;

.v2-home-hero-title {
  @include utils.reset;
  max-width: 16ch;

  span {
    @include utils.reset;

    display: block;
    line-height: var(--v2-line-height-03);
  }
}

.v2-home-intro-banner {
  @include utils.reset;
  font-size: var(--v2-font-size-05);
  font-weight: var(--v2-font-weight-medium);
  line-height: var(--v2-line-height-03);
}

.v2-home-intro-card-layout {
  @include utils.reset;
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  padding-block: calc(var(--v2-space) * 4);
  gap: calc(var(--v2-space) * 3);
}

.v2-home-intro-card-item {
  @include utils.reset;

  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  padding-inline: var(--v2-gutter);
  gap: calc(var(--v2-space) / 2);

  span.v2-text {
    font-size: var(--v2-font-size-07);
    font-weight: var(--v2-font-weight-bold);
    line-height: var(--v2-line-height-01);
  }

  .v2-title {
    font-size: var(--v2-font-size-04);
    font-weight: var(--v2-font-weight-medium);
    line-height: var(--v2-line-height-01);
    margin-top: var(--v2-space);
  }

  .v2-text {
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-regular);
    line-height: var(--v2-line-height-04);
    margin-top: var(--v2-space);
  }
}

.v2-home-resume {
  @include utils.reset;
  @include utils.where-writing-mode;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  [data-prefers-dir='rtl'] & {
    align-items: flex-end;
  }

  & > .v2-title {
    width: 100%;
    padding-inline: var(--v2-gutter);
    font-size: var(--v2-font-size-06);
    font-weight: var(--v2-font-weight-medium);
    line-height: var(--v2-line-height-03);
  }
  & > .v2-title span {
    display: block;
  }

  .v2-text {
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-regular);
    line-height: var(--v2-line-height-04);
  }
}

.v2-home-resume-tabs {
  @include utils.reset;

  margin-top: calc(var(--v2-space) * 4);
  padding-inline: var(--v2-gutter);

  .v2-tabs-list {
    width: 100%;
    max-width: 40em;
  }
  .v2-tabs-item {
    width: 100%;
  }
  .v2-tabs-panel {
    padding-block: calc(var(--v2-space) * 3);
    max-width: 60em;

    .v2-title {
      font-size: var(--v2-font-size-06);
      font-weight: var(--v2-font-weight-medium);
      line-height: var(--v2-line-height-03);
    }

    & > .v2-text:nth-of-type(1) {
      font-weight: var(--v2-font-weight-medium);
      margin-bottom: var(--v2-space);
    }

    .v2-text {
      margin-top: var(--v2-space);
    }
  }
}

.v2-home-brands {
  @include utils.reset;
  @include utils.reset;
  @include utils.where-writing-mode;

  .v2-text {
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-regular);
    line-height: var(--v2-line-height-04);
  }

  & > .v2-title {
    font-size: var(--v2-font-size-06);
    font-weight: var(--v2-font-weight-medium);
    line-height: var(--v2-line-height-03);

    span {
      display: block;
    }
  }

  & > .v2-text {
    margin-top: calc(var(--v2-space) * 3);
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-regular);
    line-height: var(--v2-line-height-04);
    max-width: 60em;
  }
}

.v2-home-brands-tile {
  @include utils.reset;
  @include utils.button-focus;
  @include utils.button-cursor;

  display: flex;
  min-height: 200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.v2-home-brands-tile svg {
  @include utils.reset;
  max-width: 120px;
}

.v2-home-brands-tile-layout {
  @include utils.reset;

  gap: var(--v2-unit);
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  padding-inline: var(--v2-gutter);
  margin-block: calc(var(--v2-space) * 3);
}

@media (min-width: 40em) {
  .v2-home-hero-title {
    max-width: 32ch;
  }
  .v2-home-brands-tile-layout {
    grid-template-columns: repeat(2, 1fr);
  }
  .v2-home-brands-tile-layout svg {
    max-width: 120px;
  }
}

@media (min-width: 80em) {
  .v2-home-intro-card-layout {
    grid-template-columns: repeat(2, 1fr);
    row-gap: calc(var(--v2-space) * 3);
    column-gap: calc(var(--v2-space) * 1);
  }
  .v2-home-brands-tile-layout {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
