@use '../utils' as utils;

.v2-sandbox-directory-tile-group {
  width: 100%;
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--v2-unit);
  margin-block: var(--v2-space);
  padding-inline: var(--v2-gutter);
}

.v2-sandbox-directory-tile-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--v2-space);
}

@media (min-width: 60em) {
  .v2-sandbox-directory-tile-group {
    grid-template-columns: repeat(3, 1fr);
  }
}
