@use '../utils' as utils;

.v2-stack-table {
  @include utils.reset;

  width: 100%;
  display: block;
  // padding: calc(var(--v2-unit) / 2);
}

.v2-stack-table-head,
.v2-stack-table-body {
  @include utils.reset;

  width: 100%;
  display: block;
}

.v2-stack-table-head-row,
.v2-stack-table-body-row {
  @include utils.reset;

  gap: var(--v2-unit);
  flex: 1 1 100%;
  display: flex;

  [data-prefers-dir='rtl'] & {
    flex-direction: row-reverse;
  }
}

.v2-stack-table-head-row {
  border-top: solid var(--v2-unit) transparent;
  border-bottom: solid var(--v2-unit) transparent;
}
.v2-stack-table-body-row {
  border-bottom: solid var(--v2-unit) transparent;
}

.v2-stack-table-head-cell {
  font-size: var(--v2-font-size-02);
  font-family: var(--v2-font-family);
  font-weight: var(--v2-font-weight-regular);
}

.v2-stack-table-body-cell {
  font-size: var(--v2-font-size-02);
  font-family: var(--v2-font-family);
  font-weight: var(--v2-font-weight-regular);
}

.v2-stack-table-head-cell,
.v2-stack-table-body-cell {
  @include utils.reset;
  @include utils.where-writing-mode;

  width: min-content;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-block: calc(var(--v2-unit) * 4);
  padding-inline: calc(var(--v2-unit) * 6);

  span {
    @include utils.where-writing-mode;

    display: inline-flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  a {
    @include utils.where-writing-mode;
    @include utils.link-focus;

    max-width: 100%;
    display: inline-flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.v2-stack-table-head-cell {
  align-items: center;
  justify-content: space-between;
}

.v2-stack-table-head-cell[data-table-control] {
  @include utils.button-cursor;
  @include utils.button-focus;
}

.v2-stack-table-head-cell .v2-icon {
  height: var(--v2-font-size-02);
  width: var(--v2-font-size-02);
}

.v2-stack-table-body-cell {
  align-items: flex-start;
  min-height: 44px;
}

.v2-stack-table-body-cell[data-table-column='category'] span {
  border-radius: 6px;
  padding-block: calc(var(--v2-unit) * 1);
  padding-inline: calc(var(--v2-unit) * 2);
}

.v2-stack-table-head-cell,
.v2-stack-table-body-cell {
  &[data-table-column='name'] {
    flex: 1 0 25%;
  }

  &[data-table-column='category'] {
    flex: 1 0 25%;
  }

  &[data-table-column='description'] {
    display: none;
  }

  &[data-table-column='website'] {
    flex: 1 1 50%;
    width: 100%;
  }
}

@media (min-width: 60em) {
  .v2-stack-table-head-cell,
  .v2-stack-table-body-cell {
    &[data-table-column='name'] {
      flex: 1 0 10%;
    }

    &[data-table-column='category'] {
      flex: 1 0 10%;
    }

    &[data-table-column='description'] {
      flex: 1 1 40%;
      display: flex;
    }

    &[data-table-column='website'] {
      flex: 1 1 40%;
      width: 100%;
    }
  }
}
