.v2-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--v2-01);

  &-hero {
    --v2-hero-items: 5;
    --v2-hero-items-height: calc(var(--v2-action) * var(--v2-hero-items));
    --v2-hero-gaps: calc(var(--v2-hero-items) - 1);
    --v2-hero-gaps-height: calc(var(--s-01) * var(--v2-hero-gaps));
    --v2-hero-height: calc(var(--v2-hero-items-height) + var(--v2-hero-gaps-height));

    width: 100%;
    display: block;

    @media (min-width: 60em) {
      min-height: var(--v2-hero-height);
    }
  }

  &-hero-layout {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-block: var(--v2-gutter);
    padding-inline: var(--v2-gutter);

    @media (min-width: 60em) {
      min-height: var(--v2-hero-height);
    }
  }

  &-section {
    width: 100%;
    display: block;
  }

  &-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-block: var(--v2-gutter-gap);
    padding-inline: var(--v2-gutter);

    &-layout {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      [data-prefers-dir='rtl'] & {
        flex-direction: row-reverse;
      }
    }
  }
}
