.v2-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--v2-01);

  &-hero {
    --v2-hero-items: 5;
    --v2-hero-items-height: calc(var(--v2-action) * var(--v2-hero-items));
    --v2-hero-gaps: calc(var(--v2-hero-items) - 1);
    --v2-hero-gaps-height: calc(var(--v2-01) * var(--v2-hero-gaps));
    --v2-hero-height: calc(var(--v2-hero-items-height) + var(--v2-hero-gaps-height));

    width: 100%;
    display: block;

    @media (min-width: 60em) {
      min-height: var(--v2-hero-height);
    }
  }

  &-hero-layout {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-block: var(--v2-gutter);
    padding-inline: var(--v2-gutter);
    min-height: calc(var(--v2-hero-height) * 1.75);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }

    @media (min-width: 60em) {
      min-height: var(--v2-hero-height);
    }
  }

  &-section {
    width: 100%;
    display: block;
  }

  &-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &-link-layout {
    font-size: var(--v2-font-size-06);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
  }

  &-link-layout .v2-icon {
    width: var(--v2-font-size-06);
    height: var(--v2-font-size-06);
  }

  &-link-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-intro-layout {
    display: flex;
    flex-direction: column;
    gap: var(--v2-gap-xxs);

    @media (min-width: 80em) {
      flex-direction: row;
    }
  }

  &-intro-box {
    flex: 1 0 50%;

    @media (min-width: 80em) {
      height: 300px;
    }
  }

  &-intro-banner {
    padding-block: calc(var(--v2-gutter) * 2);
    padding-inline: var(--v2-gutter);

    @media (min-width: 60em) {
      padding-block: calc(var(--v2-gutter) * 1.5);
    }
    @media (min-width: 80em) {
      padding-block: var(--v2-gutter);
    }
  }

  &-intro-banner .v2-text {
    font-size: var(--v2-font-size-06);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-md);

    @media (min-width: 80em) {
      font-size: var(--v2-font-size-06);
      max-width: 90%;
    }
  }

  &-intro-links {
    gap: var(--v2-gap-xxs);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-intro-links .v2-page-link {
    padding: var(--v2-gutter);

    @media (min-width: 60em) {
      padding-inline: var(--v2-gutter);
      padding-block: calc(var(--v2-gutter) / 2);
      height: calc(125px - calc(var(--v2-gap-xxs) / 2));
    }
    @media (min-width: 80em) {
      height: calc(150px - calc(var(--v2-gap-xxs) / 2));
    }
  }
}
