.v2-canvas-action-variants,
.v2-canvas-button-variants {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.v2-canvas-control-default {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  flex-direction: column;
}

.v2-canvas-accordion-default {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  min-height: 700px;
}

.v2-canvas-accordion-default-content {
  padding: var(--v2-06);
}

.v2-canvas-divider-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 300px;
  min-height: 300px;
  gap: 24px;
}

.v2-canvas-divider-item {
  width: 700px;
}

.v2-canvas-color {
  width: 100%;
  display: block;

  &-row {
    width: 100%;
    display: block;
  }

  &-row-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-row-label {
    width: max-content;
    display: inline-flex;
    padding-block: var(--v2-02);
    padding-inline: var(--v2-04);
    background-color: var(--c-base-surface-1-pressed);
    color: var(--c-base-text-low);
    border-radius: 4px;
  }

  &-row-item-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
  }

  &-row-item-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-row-item-swatch {
    width: 100%;
    height: 100px;
  }
}

.v2-canvas-tabs-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.v2-canvas-tabs-layout {
  display: block;
  max-width: 700px;
}

.v2-canvas-tabs-content {
  display: block;
  max-width: 700px;
  padding-block: var(--v2-06);
  padding-inline: var(--v2-06);
}

.v2-canvas-tabs-content-title {
  font-size: var(--v2-font-size-08);
  font-weight: var(--v2-font-weight-med);
  line-height: var(--v2-line-height-sm);
  margin-bottom: var(--v2-03);
}
.v2-canvas-tabs-content-text {
  font-size: var(--v2-font-size-05);
  font-weight: var(--v2-font-weight-reg);
  line-height: var(--v2-line-height-md);
  margin-bottom: var(--v2-03);
}
