.v2-group {
  display: flex;
  gap: var(--v2-group-gap, var(--v2-gap-xxs));

  &:where([data-orientation='vertical']) {
    flex-direction: column;
    height: 100%;
  }
  &:where([data-orientation='horizontal']) {
    flex-direction: row;
    width: 100%;
  }

  &--gap-xxs {
    --v2-group-gap: var(--v2-gap-xxs);
  }
  &--gap-xs {
    --v2-group-gap: var(--v2-gap-xs);
  }
  &--gap-sm {
    --v2-group-gap: var(--v2-gap-sm);
  }
  &--gap-md {
    --v2-group-gap: var(--v2-gap-md);
  }
  &--gap-lg {
    --v2-group-gap: var(--v2-gap-lg);
  }
  &--gap-xl {
    --v2-group-gap: var(--v2-gap-xl);
  }
  &--gap-xxl {
    --v2-group-gap: var(--v2-gap-xxl);
  }
}
