.v2-button-u {
  cursor: var(--x-cursor);
  z-index: var(--x-index);

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-color: transparent;
  border-width: var(--s-1);
  border-style: solid;

  outline-color: transparent;
  outline-width: var(--s-1);
  outline-style: solid;
  outline-offset: unset;

  &:not([data-disabled])[data-loading] {
    --x-cursor: wait;
  }

  &:not([data-loading])[data-disabled],
  &:not([data-loading])[data-disabled]:hover,
  &:not([data-loading])[data-disabled]:active,
  &:not([data-loading])[data-disabled][data-selected] {
    --x-cursor: not-allowed;
  }

  &:not([data-loading]):not([data-disabled]),
  &:not([data-loading]):not([data-disabled]):hover,
  &:not([data-loading]):not([data-disabled]):active,
  &:not([data-loading]):not([data-disabled])[data-selected] {
    --x-cursor: pointer;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }

  &:focus:focus-visible {
    --x-index: 900;
    outline-color: var(--c-focus);
  }
}
