.v2-tile-group,
.v2-action-group,
.v2-button-group,
.v2-radio-group,
.v2-toggle-group,
.v2-checkbox-group {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  display: flex;

  &[data-orientation='vertical'] {
    flex-direction: column;

    &[data-prefer-dir='rtl'] {
      flex-direction: column;
    }
  }

  &[data-orientation='horizontal'] {
    flex-direction: row;

    &[data-prefer-dir='rtl'] {
      flex-direction: row-reverse;
    }
  }
}
