@use './mixins' as mixins;

@layer reset {
  .sec-sandbox-hero,
  .sec-toolbox-hero,
  .sec-projects-hero,
  .sec-experience-hero {
    @include mixins.reset;
    &-content {
      @include mixins.reset;
    }
  }
}

.page-hero,
.page-layout,
.page-header,
.page-footer,
.page-menu-panel {
  @media (min-width: 60em) {
    margin-left: var(--height-header);
  }
}

// .page-header {
//   border: solid var(--unit) var(--hex-orange-400);
// }
// .page-menu-nav {
//   border: solid var(--unit) var(--hex-blue-400);
// }
// .page-menu-target {
//   // border: solid var(--unit) var(--hex-yellow-400);
// }

.sec-sandbox-hero,
.sec-toolbox-hero,
.sec-projects-hero,
.sec-experience-hero {
  &-content {
    display: block;
  }
}

.page-header-logo {
  user-select: none;
  outline: solid var(--unit) transparent;
  border: solid var(--unit) transparent;

  &:not([aria-disabled]):focus:not(:focus-visible),
  &:not([data-disabled]):focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:not([aria-disabled]):focus:focus-visible,
  &:not([data-disabled]):focus:focus-visible {
    outline-color: var(--hex-blue-500);
  }
  &:not([aria-disabled]):hover,
  &:not([data-disabled]):hover {
    cursor: pointer;
  }
  &[aria-disabled]:hover,
  &[data-disabled]:hover {
    cursor: default;
  }
}

.demo-motion {
  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hex-orange-400);
    height: 150px;
    width: 300px;
  }
}

.sec-demo {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);

  .title {
    font-size: var(--font-size-title-sm);
    font-weight: var(--font-weight-2);
    margin-bottom: var(--gutter);
    font-style: italic;
  }
  .subtitle {
    font-size: var(--font-size-subtitle-lg);
    font-weight: var(--font-weight-2);
    margin-bottom: calc(var(--gutter) / 2);
  }

  &-header,
  &-content {
    padding-inline: var(--gutter);
  }

  &-header {
    padding-top: calc(var(--gutter) * 2);
  }

  &-content {
    padding-bottom: calc(var(--gutter) * 2);
  }

  &-content {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 60em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
