:root {
  --index-base: -2;
  --index-hero: -1;
  --index-layout: 0;
  --index-screen: 0;
  --index-page: 0;
  --index-main: 1;
  --index-navbar: 999;
  --index-header: 999;
  --index-modal: 1000;

  --height-hero: 40vh;
  --height-footer: 40vh;
  --height-header: calc(var(--unit) * 30);
}
