.Page,
.Page-nav,
.Page-hero,
.Page-header,
.Page-conent,
.Page-container,
.Page-footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

@keyframes page-transition {
  0% {
    opacity: 1;
    background-color: rgba(var(--c-primary, 1));
  }
  100% {
    opacity: 0;
    background-color: rgba(var(--c-primary, 0));
  }
}

.Page {
  --cols: 12;
  --page-width: 1400px;
  --page-gutter: calc(var(--unit) * 8);
  --page-nav-height: calc(var(--unit) * 30);

  margin: 0;
  padding: 0;
  z-index: 0;
  display: block;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-family);
  font-size: var(--text-font-size-sm);
  line-height: var(--text-line-height-sm);
  padding-right: 1rem;
  margin-right: -1rem;

  // TEMPORARY
  min-height: 200vh;

  &-container {
    width: 100%;
    max-width: var(--page-width);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: var(--page-gutter);
  }

  &-header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(calc(var(--cols) * 2), 1fr);
    position: fixed;
    z-index: var(--z-index-overlay);
    right: 0;
    left: 0;
    top: 0;
  }

  &-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--page-nav-height);
    grid-column: 2 / 24;
  }

  &-hamburger {
    cursor: pointer;
    width: calc(var(--unit) * 10);
    height: calc(var(--unit) * 10);
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .slice {
      width: 100%;
      height: calc(var(--unit) * 1);
      background-color: rgba(var(--c-secondary), 0.87);
      margin-block: calc(var(--unit) * 1);
    }

    .slice-1 {
      align-self: flex-start;
    }
    .slice-3 {
      align-self: flex-end;
    }
  }

  &-hero {
    width: 100%;
    display: block;
    margin-inline: auto;
    padding-block: var(--page-gutter);
    max-width: var(--page-width);
  }

  &[data-transition]::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    position: absolute;

    transition-property: background-color;
    transition-duration: 1600ms;
    transition-timing-function: ease-in-out;

    animation-name: page-transition;
    animation-duration: 1600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  &-info-button,
  &-info-panel {
    --panel-button-height: 40px;
  }

  &-info-button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    width: var(--panel-button-height);
    writing-mode: vertical-lr;
    padding-inline: 1.2rem;
    background-color: rgba(var(--c-primary), 0.08);
  }

  &-info-panel {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    z-index: 8000;
    left: 0;
    top: 60%;
    transform: translateX(calc(-100% + var(--panel-button-height)));
    background-color: rgba(var(--c-primary), 0.2);

    p {
      padding-inline: 1.2rem;
    }

    &[data-mounted] {
      transform: translateX(0%);
    }
  }

  @media (min-width: 30em) {
    --page-gutter: calc(var(--unit) * 8);
  }
  @media (min-width: 40em) {
    --page-gutter: calc(var(--unit) * 10);
  }
  @media (min-width: 50em) {
    --page-gutter: calc(var(--unit) * 12);
  }
  @media (min-width: 60em) {
    --page-gutter: calc(var(--unit) * 12);
  }
}
