.Page,
.Page-nav,
.Page-hero,
.Page-header,
.Page-conent,
.Page-container,
.Page-footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.Page {
  --page-width: 1400px;
  --page-gutter: calc(var(--unit) * 8);
  --page-nav-height: calc(var(--unit) * 30);

  margin: 0;
  padding: 0;
  z-index: 0;
  display: block;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-family);
  font-size: var(--text-font-size-sm);
  line-height: var(--text-line-height-sm);

  // TEMPORARY
  min-height: 200vh;

  &-container {
    width: 100%;
    max-width: var(--page-width);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: var(--page-gutter);
  }

  &-header {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--page-gutter);
    position: fixed;
    z-index: var(--z-index-overlay);
    right: 0;
    left: 0;
    top: 0;
  }

  &-nav {
    width: 100%;
    height: var(--page-nav-height);
    max-width: var(--page-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-hero {
    width: 100%;
    display: block;
    margin-inline: auto;
    padding-block: var(--page-gutter);
    max-width: var(--page-width);

    h1 {
      margin-top: calc(var(--page-nav-height) * 4);
    }
  }
}
