.Page {
  --page-nav: var(--spacing-10);
  --page-gutter: var(--spacing-7);

  z-index: 0;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;

  font-size: var(--font-size-sm);
  font-family: var(--font-family);
  line-height: var(--line-height-sm);

  // TEMPORARY
  min-height: 200vh;

  &-container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: var(--page-gutter);
  }

  &-header {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    position: fixed;

    width: 100%;
    display: inline-flex;
    box-sizing: border-box;

    backdrop-filter: blur(16px);
    background-color: rgba(var(--rgb-primary-base), 0.9);
    z-index: var(--z-index-overlay);
  }

  &-nav {
    width: 100%;
    height: var(--page-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-hero {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    padding-block: var(--page-gutter);

    &-title {
      margin-top: calc(var(--spacing-16) * 1.5);
    }
  }

  &-footer {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
  }

  &-content {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
  }
}
