.Section {
  width: 100%;
  display: block;
  max-width: 100%;

  &-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100%;
  }
}

.Section,
.Section-content {
  --section-gap-xxs: calc(var(--unit) * 10);
  --section-gap-xs: calc(var(--unit) * 14);
  --section-gap-sm: calc(var(--unit) * 18);
  --section-gap-md: calc(var(--unit) * 22);
  --section-gap-lg: calc(var(--unit) * 26);
  --section-gap-xl: calc(var(--unit) * 30);
  --section-gap-xxl: calc(var(--unit) * 34);

  --section-padding-xxs: calc(var(--unit) * 10);
  --section-padding-xs: calc(var(--unit) * 12);
  --section-padding-sm: calc(var(--unit) * 16);
  --section-padding-md: calc(var(--unit) * 22);
  --section-padding-lg: calc(var(--unit) * 30);
  --section-padding-xl: calc(var(--unit) * 40);
  --section-padding-xxl: calc(var(--unit) * 52);
}
