.v2-layout-app {
  width: 100%;
  display: block;
}

.v2-layout-main {
  width: 100%;
  display: block;
}

.v2-layout-page {
  z-index: var(--index-page);

  gap: var(--s-01);
  display: flex;
  flex-direction: column;
  position: relative;
}

.v2-layout-screen {
  width: 100%;
  display: block;
}

.v2-layout-section {
  width: 100%;
  display: block;
}

@media screen and (min-width: 60em) {
  .v2-layout-page {
    padding-top: calc(var(--size-action) + calc(var(--s-01) * 2));
    padding-left: calc(var(--size-action) + calc(var(--s-01) * 2));
  }
}
