@use '../../app/utils' as utils;

html,
body {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-base), 1);
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);
}

.v2-accent-text {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-brand {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-page {
  color: hsla(var(--v2-hsl-surface), 0.87);
}

.v2-hero {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-surface), 0.02);
}

.v2-side {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-base), 1);
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);
}

.v2-side-nav-label {
  background-color: hsla(var(--v2-hsl-base), 1);
}

.v2-side-nav-label::after {
  background-color: hsla(var(--v2-hsl-accent), 1);
}

.v2-side-spacer {
  background-color: hsla(var(--v2-hsl-surface), 0.02);
}

.v2-side-menu-select {
  background-color: hsla(var(--v2-hsl-base), 1);
}

.v2-side-nav-target[data-selected] {
  color: hsla(var(--v2-hsl-accent), 0.87) !important;
}

.v2-header {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-base), 1);
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);
}

.v2-header-spacer {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-surface), 0.02);
}

.v2-header-logo {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-surface), 0.02);

  &:hover {
    background-color: hsla(var(--v2-hsl-surface), 0.03);
  }
  &:active {
    background-color: hsla(var(--v2-hsl-surface), 0.04);
  }
}

.v2-footer {
  color: hsla(var(--v2-hsl-surface), 0.47);
  background-color: hsla(var(--v2-hsl-surface), 0.02);
}

.v2-footer-item {
  &:hover {
    color: hsla(var(--v2-hsl-surface), 0.87);

    &::before {
      background-color: hsla(var(--v2-hsl-accent), 1);
    }
  }
}

.v2-headline-layout::after {
  background-color: hsla(var(--v2-hsl-surface), 0.12);
}

.v2-headline-title {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-headline-order {
  color: hsla(var(--v2-hsl-surface), 0.12);
}

.v2-home-hero-title-line-1 {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-home-hero-title-line-2 {
  color: hsla(var(--v2-hsl-surface), 0.87);
}

.v2-home-intro-text {
  color: hsla(var(--v2-hsl-surface), 0.87);
}

.v2-home-stats-card-value {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-home-stats-card-text {
  color: hsla(var(--v2-hsl-surface), 0.67);
}

.v2-home-brands-banner-title span {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-home-brands-banner-text {
  color: hsla(var(--v2-hsl-surface), 0.67);
}

.v2-home-brands-tile {
  color: hsla(var(--v2-hsl-surface), 0.67);
  background-color: hsla(var(--v2-hsl-surface), 0.02);
  transition-timing-function: var(--v2-easing-productive);
  transition-duration: var(--v2-duration-moderate-01);
  transition-property: all;

  &:hover,
  &:active {
    color: hsla(var(--v2-hsl-accent), 0.97);
    background-color: hsla(var(--v2-hsl-accent), 0.08);
  }
}

.v2-home-resume-banner-title span:nth-of-type(2) {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-home-resume-tabs-panel-overline {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-home-resume-tabs-panel-title {
  color: hsla(var(--v2-hsl-surface), 0.97);
}

.v2-home-resume-tabs-panel-text {
  color: hsla(var(--v2-hsl-surface), 0.67);
}

.v2-stack-table {
  color: hsla(var(--v2-hsl-surface), 0.47);
}

.v2-stack-table-head-cell {
  background-color: hsl(var(--v2-hsl-surface), 0.03);
  color: hsl(var(--v2-hsl-surface), 0.67);
}

.v2-stack-table-head-cell[data-table-control] {
  transition-timing-function: var(--v2-easing-productive);
  transition-duration: var(--v2-duration-moderate-01);
  transition-property: all;
}

.v2-stack-table-head-cell[data-table-control]:hover {
  background-color: hsl(var(--v2-hsl-surface), 0.04);
}

.v2-stack-table-head-cell[data-table-control]:active {
  background-color: hsl(var(--v2-hsl-surface), 0.06);
}

.v2-stack-table-head-cell[data-table-control-active] {
  color: hsl(var(--v2-hsl-accent), 1);
}
.v2-stack-table-head-cell[data-table-control-active] .v2-icon {
  color: hsl(var(--v2-hsl-accent), 1);
}

.v2-stack-table-body-cell a {
  background-color: transparent;
  color: hsl(var(--v2-hsl-accent), 0.67);
  transition-timing-function: var(--v2-easing-productive);
  transition-duration: var(--v2-duration-moderate-01);
  transition-property: all;
}

.v2-stack-table-body-cell a:hover {
  color: hsl(var(--v2-hsl-accent), 1);
}

.v2-stack-table-body-cell[data-table-column='category'] span {
  background-color: hsl(var(--v2-hsl-accent), 0.08);
  color: hsl(var(--v2-hsl-accent), 1);
}

.v2-stack-table-body-cell {
  background-color: hsl(var(--v2-hsl-surface), 0.02);
  color: hsl(var(--v2-hsl-surface), 0.47);
}

.v2-sandbox-canvas-display-viewer {
  background-color: hsl(var(--v2-hsl-base), 1);
  color: hsl(var(--v2-hsl-surface), 1);
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);
}

.v2-sandbox-canvas-color-drawer {
  background-color: hsl(var(--v2-hsl-base), 1);
}
.v2-sandbox-canvas-display-menu {
  .v2-select-target,
  .v2-select-option {
    cursor: pointer;
    outline-width: var(--v2-unit);
    outline-color: transparent;
    outline-style: solid;

    &:focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: var(--v2-color-focus);
      outline-offset: calc(var(--v2-unit) * -1);
    }
  }

  .v2-select-target {
    background-color: hsla(var(--v2-hsl-surface), 0.02);
    border-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  .v2-select-target:hover {
    background-color: hsla(var(--v2-hsl-surface), 0.04);
    border-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  .v2-select-target:active {
    background-color: hsla(var(--v2-hsl-surface), 0.05);
    border-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  .v2-select-option {
    background-color: hsla(var(--v2-hsl-surface), 0.02);
    border-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  .v2-select-option:hover {
    background-color: hsla(var(--v2-hsl-surface), 0.04);
    border-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  .v2-select-option:active {
    background-color: hsla(var(--v2-hsl-surface), 0.05);
    border-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  .v2-select-box {
    background-color: hsl(var(--v2-hsl-base), 1);
  }
}

.v2-demo-canvas {
  background-color: hsla(var(--v2-hsl-base), 1);
}

.v2-demo-tool-drawer {
  background-color: hsla(var(--v2-hsl-base), 1);
}
