@use '../../app/utils' as utils;

html,
body {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-base), 1);
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);
}

.v2-accent-text {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-brand {
  color: hsla(var(--v2-hsl-accent), 0.97);
}

.v2-page {
  color: hsla(var(--v2-hsl-surface), 0.87);
}

.v2-hero {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-surface), 0.03);
}

.v2-side {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-base), 1);
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);

  &-nav-label {
    color: hsla(var(--v2-hsl-surface), 0.87);
    background-color: hsla(var(--v2-hsl-base), 1);
  }

  &-nav-label::after {
    background-color: hsla(var(--v2-hsl-accent), 1);
  }

  &-nav-target[data-selected] .v2-icon {
    color: hsla(var(--v2-hsl-accent), 0.87) !important;
  }

  &-spacer {
    background-color: hsla(var(--v2-hsl-surface), 0.03);
  }

  &-menu-select {
    background-color: hsla(var(--v2-hsl-base), 1);
  }
}

.v2-header {
  color: hsla(var(--v2-hsl-surface), 0.87);
  background-color: hsla(var(--v2-hsl-base), 1);
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);

  &-logo {
    color: hsla(var(--v2-hsl-surface), 0.87);
    background-color: hsla(var(--v2-hsl-surface), 0.02);
  }
  &-logo:hover {
    background-color: hsla(var(--v2-hsl-surface), 0.03);
  }
  &-logo:active {
    background-color: hsla(var(--v2-hsl-surface), 0.04);
  }
}

.v2-footer {
  color: hsla(var(--v2-hsl-surface), 0.47);
  background-color: hsla(var(--v2-hsl-surface), 0.02);

  &-item:hover {
    color: hsla(var(--v2-hsl-surface), 0.87);
  }
  &-item:hover::before {
    background-color: hsla(var(--v2-hsl-accent), 1);
  }
}

.v2-headline {
  &-layout::after {
    background-color: hsla(var(--v2-hsl-surface), 0.12);
  }

  &-title {
    color: hsla(var(--v2-hsl-accent), 0.97);
  }

  &-order {
    color: hsla(var(--v2-hsl-surface), 0.12);
  }
}

.v2-demo {
  &-canvas {
    background-color: hsla(var(--v2-hsl-base), 1);
    transition-property: background-color, border-color, outline-color, color, fill, stroke;
    transition-timing-function: var(--v2-easing-expressive);
    transition-duration: var(--v2-duration-slow-01);
  }

  &-toolbar {
    background-color: hsla(var(--v2-hsl-base), 1);
  }

  &-tool-drawer {
    background-color: hsla(var(--v2-hsl-base), 1);
  }

  &-controls-layout {
    background-color: hsla(var(--v2-hsl-base), 1);
    border-color: hsla(var(--v2-hsl-surface), 0.04);
  }
}

.v2-home {
  &-hero-title span:nth-of-type(1) {
    color: hsla(var(--v2-hsl-accent), 0.97);
  }

  &-intro-banner {
    color: hsla(var(--v2-hsl-surface), 0.67);
  }

  &-intro-card-item span.v2-text {
    color: hsla(var(--v2-hsl-accent), 0.97);
  }

  &-intro-card-item .v2-text {
    color: hsla(var(--v2-hsl-surface), 0.67);
  }

  &-brands-tile {
    color: hsla(var(--v2-hsl-surface), 0.67);
    background-color: hsla(var(--v2-hsl-surface), 0.02);
    transition-timing-function: var(--v2-easing-productive);
    transition-duration: var(--v2-duration-moderate-01);
    transition-property: all;
  }

  &-brands-tile:hover,
  &-brands-tile:active {
    color: hsla(var(--v2-hsl-accent), 0.97);
    background-color: hsla(var(--v2-hsl-accent), 0.08);
  }

  &-resume .v2-title span:nth-of-type(2) {
    color: hsla(var(--v2-hsl-accent), 0.97);
  }

  &-resume-tabs-panel span.v2-text {
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &-resume-tabs-panel .v2-text {
    color: hsla(var(--v2-hsl-surface), 0.67);
  }

  &-brands .v2-title span {
    color: hsla(var(--v2-hsl-accent), 0.97);
  }

  &-brands .v2-text {
    color: hsla(var(--v2-hsl-surface), 0.67);
  }
}

.v2-stack {
  &-intro .v2-text {
    color: hsla(var(--v2-hsl-surface), 0.67);
  }

  &-table {
    color: hsla(var(--v2-hsl-surface), 0.47);
  }

  &-table-head-cell {
    background-color: hsl(var(--v2-hsl-surface), 0.03);
    color: hsl(var(--v2-hsl-surface), 0.67);
  }

  &-table-head-cell[data-table-control] {
    transition-timing-function: var(--v2-easing-productive);
    transition-duration: var(--v2-duration-moderate-01);
    transition-property: all;
  }

  &-table-head-cell[data-table-control]:hover {
    background-color: hsl(var(--v2-hsl-surface), 0.04);
  }

  &-table-head-cell[data-table-control]:active {
    background-color: hsl(var(--v2-hsl-surface), 0.06);
  }

  &-table-head-cell[data-table-control-active] {
    color: hsl(var(--v2-hsl-accent), 1);
  }

  &-table-head-cell[data-table-control-active] .v2-icon {
    color: hsl(var(--v2-hsl-accent), 1);
  }

  &-table-body-cell {
    background-color: hsl(var(--v2-hsl-surface), 0.02);
    color: hsl(var(--v2-hsl-surface), 0.47);
  }

  &-table-body-cell a {
    background-color: transparent;
    color: hsl(var(--v2-hsl-accent), 0.67);
    transition-timing-function: var(--v2-easing-productive);
    transition-duration: var(--v2-duration-moderate-01);
    transition-property: all;
  }

  &-table-body-cell a:hover {
    color: hsl(var(--v2-hsl-accent), 1);
  }

  &-table-body-cell[data-table-column='category'] span {
    background-color: hsl(var(--v2-hsl-accent), 0.08);
    color: hsl(var(--v2-hsl-accent), 1);
  }
}

// ROUTES | SANDBOX

.v2-sandbox {
  &-layout-main {
    background-color: hsla(var(--v2-hsl-surface), 0.02);
  }

  &-directory-tile-item {
    color: hsla(var(--v2-hsl-surface), 0.67);
    background-color: hsla(var(--v2-hsl-surface), 0.03);
    transition-timing-function: var(--v2-easing-productive);
    transition-duration: var(--v2-duration-moderate-01);
    transition-property: all;

    [data-prefers-color-mode='light'] & {
      background-color: hsla(var(--v2-hsl-surface), 0.06);
    }
  }

  &-directory-tile-item:hover,
  &-directory-tile-item:active {
    color: hsla(var(--v2-hsl-accent), 0.97);
    background-color: hsla(var(--v2-hsl-accent), 0.1);
  }
}

[data-prefers-color-mode='light'] {
  .v2-side {
    &-nav-label {
      color: hsla(var(--v2-hsl-base), 1);
      background-color: hsla(var(--v2-hsl-surface), 1);
    }

    &-spacer {
      background-color: hsla(var(--v2-hsl-surface), 0.06);
    }
  }

  .v2-footer {
    background-color: hsla(var(--v2-hsl-surface), 0.06);
  }

  .v2-hero {
    background-color: hsla(var(--v2-hsl-surface), 0.06);
  }

  .v2-headline {
    &-layout::after {
      background-color: hsla(var(--v2-hsl-surface), 0.24);
    }

    &-order {
      color: hsla(var(--v2-hsl-surface), 0.24);
    }
  }

  .v2-home {
    &-intro-banner {
      color: hsla(var(--v2-hsl-surface), 1);
    }

    &-brands-tile {
      color: hsla(var(--v2-hsl-surface), 0.67);
      background-color: hsla(var(--v2-hsl-surface), 0.06);
    }
  }

  .v2-sandbox {
    &-layout-main {
      background-color: hsla(var(--v2-hsl-surface), 0.03);
    }
  }
}
