// INTERACTION | STATES | FOCUS

.v2-button,
.v2-action {
  outline-style: solid;
  outline-color: transparent;
  outline-width: var(--unit);
}

.v2-button:focus:not(:focus-visible),
.v2-action:focus:not(:focus-visible) {
  outline-color: transparent;
  outline-offset: 0;
}

.v2-button:focus-visible,
.v2-action:focus-visible {
  outline-color: var(--c-focus);
  outline-offset: 0;
}

// INTERACTION | STATES | CURSOR

.v2-button,
.v2-action {
  cursor: default;
}

.v2-button[data-disabled],
.v2-action[data-disabled] {
  cursor: default;
}

.v2-button:not([data-disabled]),
.v2-action:not([data-disabled]) {
  cursor: pointer;
}

.v2-button:not([data-disabled]):hover,
.v2-action:not([data-disabled]):hover {
  cursor: pointer;
}

.v2-button:not([data-disabled]):active,
.v2-action:not([data-disabled]):active {
  cursor: pointer;
}

.v2-button:not([data-disabled])[data-selected],
.v2-action:not([data-disabled])[data-selected] {
  cursor: pointer;
}

// ACTION | DISABLED

.v2-action--default[data-disabled],
.v2-action--elevated[data-disabled] {
  background-color: var(--c-action-base--disabled);
  color: var(--c-action-text--disabled);
}

// ACTION | ENABLED | DEFAULT

.v2-action--default:not([data-disabled]),
.v2-action--default:not([data-disabled]):hover,
.v2-action--default:not([data-disabled]):active,
.v2-action--default:not([data-disabled])[data-selected] {
  color: var(--c-action-text--default);
}

.v2-action-spacer--default,
.v2-action--default:not([data-disabled]) {
  background-color: var(--c-action-base--default);
}

.v2-action--default:not([data-disabled]):hover {
  background-color: var(--c-action-hover--default);
}

.v2-action--default:not([data-disabled]):active {
  background-color: var(--c-action-active--default);
}

.v2-action--default:not([data-disabled])[data-selected] {
  background-color: var(--c-action-selected--default);
}

// ACTION | ENABLED | ELEVATED

.v2-action--elevated:not([data-disabled]),
.v2-action--elevated:not([data-disabled]):hover,
.v2-action--elevated:not([data-disabled]):active,
.v2-action--elevated:not([data-disabled])[data-selected] {
  color: var(--c-action-text--elevated);
}

.v2-action-spacer--elevated,
.v2-action--elevated:not([data-disabled]) {
  background-color: var(--c-action-base--elevated);
}

.v2-action--elevated:not([data-disabled]):hover {
  background-color: var(--c-action-hover--elevated);
}

.v2-action--elevated:not([data-disabled]):active {
  background-color: var(--c-action-active--elevated);
}

.v2-action--elevated:not([data-disabled])[data-selected] {
  background-color: var(--c-action-selected--elevated);
}

// BUTTON | GLOBAL

.v2-button {
  --c-button-text-disabled: transparent;
  --c-button-base-disabled: transparent;
  --c-button-border-disabled: transparent;

  --c-button-text-enabled: transparent;
  --c-button-base-enabled: transparent;
  --c-button-border-enabled: transparent;

  --c-button-text-hover: transparent;
  --c-button-base-hover: transparent;
  --c-button-border-hover: transparent;

  --c-button-text-active: transparent;
  --c-button-base-active: transparent;
  --c-button-border-active: transparent;

  --c-button-text-selected: transparent;
  --c-button-base-selected: transparent;
  --c-button-border-selected: transparent;

  color: var(--c-button-text);
  border-color: var(--c-button-border);
  background-color: var(--c-button-base);

  &:not([data-disabled]) {
    color: var(--c-button-text);
    border-color: var(--c-button-border);
    background-color: var(--c-button-base);
  }

  &:not([data-disabled]):hover {
    color: var(--c-button-text-hover);
    border-color: var(--c-button-border-hover);
    background-color: var(--c-button-base-hover);
  }

  &:not([data-disabled]):active {
    color: var(--c-button-text-active);
    border-color: var(--c-button-border-active);
    background-color: var(--c-button-base-active);
  }

  &:not([data-disabled])[data-selected] {
    color: var(--c-button-text-selected);
    border-color: var(--c-button-border-selected);
    background-color: var(--c-button-base-selected);
  }

  &[data-disabled] {
    color: var(--c-button-text-disabled);
    border-color: var(--c-button-border-disabled);
    background-color: var(--c-button-base-disabled);
  }
}

.v2-button--default.v2-button--solid {
  --c-button-text-disabled: var(--c-button-text--disabled);
  --c-button-base-disabled: var(--c-button-base--disabled);
  --c-button-border-disabled: transparent;

  --c-button-text-enabled: transparent;
  --c-button-base-enabled: transparent;
  --c-button-border-enabled: transparent;
  --c-button-text-hover: transparent;
  --c-button-base-hover: transparent;
  --c-button-border-hover: transparent;
  --c-button-text-active: transparent;
  --c-button-base-active: transparent;
  --c-button-border-active: transparent;
  --c-button-text-selected: transparent;
  --c-button-base-selected: transparent;
  --c-button-border-selected: transparent;
}

// // BUTTON | DISABLED

// .v2-button--default {
//   --c-button-text-disabled: transparent;
//   --c-button-base-disabled: transparent;
//   --c-button-border-disabled: transparent;

//   --c-button-text-enabled: transparent;
//   --c-button-base-enabled: transparent;
//   --c-button-border-enabled: transparent;

//   --c-button-text-hover: transparent;
//   --c-button-base-hover: transparent;
//   --c-button-border-hover: transparent;

//   --c-button-text-active: transparent;
//   --c-button-base-active: transparent;
//   --c-button-border-active: transparent;

//   --c-button-text-selected: transparent;
//   --c-button-base-selected: transparent;
//   --c-button-border-selected: transparent;

//   background-color: var(--c-button-base--disabled);
//   color: var(--c-button-text--disabled);
// }

// // BUTTON | ENABLED | DEFAULT | SOLID

// .v2-button--default:not([data-disabled]),
// .v2-button--default:not([data-disabled]):hover,
// .v2-button--default:not([data-disabled]):active,
// .v2-button--default:not([data-disabled])[data-selected] {
//   color: var(--c-button-text--default);

//   &.v2-button--solid {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--text {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--ghost {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--tonal {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--outlined {
//     background-color: var(--c-button-base--default);
//   }
// }

// .v2-button--default:not([data-disabled]) {
//   background-color: var(--c-button-base--default);

//   &.v2-button--solid {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--text {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--ghost {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--tonal {
//     background-color: var(--c-button-base--default);
//   }
//   &.v2-button--outlined {
//     background-color: var(--c-button-base--default);
//   }
// }

// .v2-button--default:not([data-disabled]):hover {
//   background-color: var(--c-button-hover--default);

//   &.v2-button--solid {
//     background-color: var(--c-button-hover--default);
//   }
//   &.v2-button--text {
//     background-color: var(--c-button-hover--default);
//   }
//   &.v2-button--ghost {
//     background-color: var(--c-button-hover--default);
//   }
//   &.v2-button--tonal {
//     background-color: var(--c-button-hover--default);
//   }
//   &.v2-button--outlined {
//     background-color: var(--c-button-hover--default);
//   }
// }

// .v2-button--default:not([data-disabled]):active {
//   background-color: var(--c-button-active--default);

//   &.v2-button--solid {
//     background-color: var(--c-button-active--default);
//   }
//   &.v2-button--text {
//     background-color: var(--c-button-active--default);
//   }
//   &.v2-button--ghost {
//     background-color: var(--c-button-active--default);
//   }
//   &.v2-button--tonal {
//     background-color: var(--c-button-active--default);
//   }
//   &.v2-button--outlined {
//     background-color: var(--c-button-active--default);
//   }
// }

// .v2-button--default:not([data-disabled])[data-selected] {
//   background-color: var(--c-button-selected--default);

//   &.v2-button--solid {
//     background-color: var(--c-button-selected--default);
//   }
//   &.v2-button--text {
//     background-color: var(--c-button-selected--default);
//   }
//   &.v2-button--ghost {
//     background-color: var(--c-button-selected--default);
//   }
//   &.v2-button--tonal {
//     background-color: var(--c-button-selected--default);
//   }
//   &.v2-button--outlined {
//     background-color: var(--c-button-selected--default);
//   }
// }
