[data-prefers-color-mode='light'] {
  --c-base-surface-enabled-s: 0;
  --c-base-surface-hovered-s: 0.04;
  --c-base-surface-pressed-s: 0.08;
  --c-base-surface-selected-s: 0.08;

  --c-base-surface-1-enabled-s: 0.04;
  --c-base-surface-1-hovered-s: 0.08;
  --c-base-surface-1-pressed-s: 0.1;
  --c-base-surface-1-selected-s: 0.1;

  --c-base-surface-2-enabled-s: 0.08;
  --c-base-surface-2-hovered-s: 0.1;
  --c-base-surface-2-pressed-s: 0.12;
  --c-base-surface-2-selected-s: 0.12;

  --c-accent-surface-enabled-s: 0;
  --c-accent-surface-hovered-s: 0.06;
  --c-accent-surface-pressed-s: 0.09;
  --c-accent-surface-selected-s: 0.09;

  --c-accent-surface-1-enabled-s: 0.12;
  --c-accent-surface-1-hovered-s: 0.15;
  --c-accent-surface-1-pressed-s: 0.18;
  --c-accent-surface-1-selected-s: 0.18;

  --c-accent-surface-2-enabled-s: 0.15;
  --c-accent-surface-2-hovered-s: 0.18;
  --c-accent-surface-2-pressed-s: 0.21;
  --c-accent-surface-2-selected-s: 0.21;
}
