@layer reset {
  .v2-accordion,
  .v2-action,
  .v2-box,
  .v2-button,
  .v2-checkbox,
  .v2-checkbox-copy,
  .v2-checkbox-label,
  .v2-checkbox-error,
  .v2-checkbox-group,
  .v2-checkbox-message,
  .v2-control,
  .v2-divider,
  .v2-floating,
  .v2-icon,
  .v2-label,
  .v2-navlink,
  .v2-radio,
  .v2-stack,
  .v2-text,
  .v2-textbox,
  .v2-tile,
  .v2-title,
  .v2-toggle {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.v2-text,
.v2-label,
.v2-title {
  font-size: var(--fz);
  font-weight: var(--fw);
  font-family: var(--ff-base);
  line-height: var(--fh);

  text-align: left;
  direction: ltr;

  [data-prefers-dir='rtl'] & {
    direction: rtl;
    text-align: right;
  }

  &--fw-1 {
    --fw: var(--fw-1);
  }
  &--fw-2 {
    --fw: var(--fw-2);
  }
  &--fw-3 {
    --fw: var(--fw-3);
  }
  &--fw-4 {
    --fw: var(--fw-4);
  }
  &--fw-5 {
    --fw: var(--fw-5);
  }

  &--fh-1 {
    --fh: var(--fh-1);
  }
  &--fh-2 {
    --fh: var(--fh-2);
  }
  &--fh-3 {
    --fh: var(--fh-3);
  }
  &--fh-4 {
    --fh: var(--fh-4);
  }
  &--fh-5 {
    --fh: var(--fh-5);
  }
  &--fh-6 {
    --fh: var(--fh-6);
  }

  &--fz-1 {
    --fz: var(--fz-1);
  }
  &--fz-2 {
    --fz: var(--fz-2);
  }
  &--fz-3 {
    --fz: var(--fz-3);
  }
  &--fz-4 {
    --fz: var(--fz-4);
  }
  &--fz-5 {
    --fz: var(--fz-5);
  }
  &--fz-6 {
    --fz: var(--fz-6);
  }
  &--fz-7 {
    --fz: var(--fz-7);
  }
  &--fz-8 {
    --fz: var(--fz-8);
  }
  &--fz-9 {
    --fz: var(--fz-9);
  }
  &--fz-10 {
    --fz: var(--fz-10);
  }
  &--fz-11 {
    --fz: var(--fz-11);
  }
  &--fz-12 {
    --fz: var(--fz-12);
  }
  &--fz-13 {
    --fz: var(--fz-13);
  }
  &--fz-14 {
    --fz: var(--fz-14);
  }
  &--fz-15 {
    --fz: var(--fz-15);
  }
  &--fz-16 {
    --fz: var(--fz-16);
  }
}
