.v2-footer {
  // width: calc(100% - var(--size-action-offset));
  display: block;
  padding: var(--s-8);

  &-content {
    display: flex;
    gap: var(--s-8);
  }

  &-branding {
    width: 30%;
    display: block;
  }

  &-nav {
    width: 70%;
    display: flex;
    gap: var(--s-8);
  }

  &-nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--s-1);
  }

  &-nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--size-action-root);

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-inline: var(--s-4);
      font-size: var(--fz-4);
    }
  }
}
