@use '../../mixins' as mixins;

.v2-footer {
  width: 100%;
  display: flex;
  min-height: calc(var(--s-16) * 3);
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  &-box-menu,
  &-box-logo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: var(--s-8);
    padding-block: var(--s-8);
    gap: var(--s-8);

    // border: solid 1px orange;
  }

  &-box-logo {
    flex-direction: row;
  }

  &-box-menu {
    flex: 1 0;
  }
}
