.v2-footer {
  display: block;
  padding-block: var(--s-12);
  padding-inline: var(--s-8);

  &-content {
    display: flex;
    gap: var(--s-8);
  }

  &-brand {
    width: 30%;
    display: block;
  }

  &-nav {
    width: 70%;
    display: flex;
    gap: var(--s-8);

    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--s-1);
    }

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: calc(var(--size-action-root) / 1.25);

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // padding-inline: var(--s-4);
        font-size: var(--fz-4);

        direction: ltr;
        text-align: left;

        [data-prefers-dir='rtl'] & {
          direction: rtl;
          text-align: right;
        }
      }
    }
  }
}
