@use '../../mixins' as mixins;

.v2-header {
  --x-header-idx: var(--idx-header);
  --x-header-height: var(--size-action-offset);

  width: 100%;
  height: var(--x-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--x-header-idx);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  &:focus-within {
    --x-header-idx: calc(var(--idx-header) + 1);
  }
}
