@use '../../mixins' as mixins;

.v2-header {
  width: 100%;
  height: var(--size-action-offset);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--idx-header);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
