.v2-logo {
  width: var(--x-logo-size, 24px);
  height: var(--x-logo-size, 24px);
  display: flex;
  align-items: center;
  justify-content: center;

  &--size-xxs {
    --x-logo-size: 18px;
  }
  &--size-xs {
    --x-logo-size: 24px;
  }
  &--size-sm {
    --x-logo-size: 32px;
  }
  &--size-md {
    --x-logo-size: 64px;
  }
  &--size-lg {
    --x-logo-size: 96px;
  }
  &--size-xl {
    --x-logo-size: 128px;
  }
  &--size-xxl {
    --x-logo-size: 256px;
  }
}
