.v2-sidemenu {
  display: none;

  @media screen and (min-width: 60em) {
    top: var(--size-action-offset);
    left: 0;
    width: var(--size-action-offset);
    height: calc(100% - calc(var(--size-action-offset) + var(--s-1)));
    z-index: var(--idx-sidemenu);
    display: flex;
    position: fixed;

    &:focus-within {
      z-index: calc(var(--idx-sidemenu) + 1);
    }
  }

  &-panel {
    --x-panel-rows: 2;
    --x-panel-cols: 6;
    --x-panel-width-gaps: calc(calc(var(--x-panel-cols) + 1) * var(--s-1));
    --x-panel-width-items: calc(var(--x-panel-cols) * var(--size-action-root));
    --x-panel-width: calc(var(--x-panel-width-gaps) + var(--x-panel-width-items));
    --x-panel-height-gaps: calc(calc(var(--x-panel-rows) + 1) * var(--s-1));
    --x-panel-height-items: calc(var(--x-panel-rows) * var(--size-action-root));
    --x-panel-height: calc(var(--x-panel-height-gaps) + var(--x-panel-height-items));

    height: 100% !important;
    max-width: var(--x-panel-width);
    padding-block: var(--s-1);
    margin-block: calc(var(--s-1) * -1);
    flex-wrap: wrap;
  }
}
