.v2-sidemenu {
  display: none;

  @media screen and (min-width: 60em) {
    top: var(--size-action-offset);
    left: 0;
    width: var(--size-action-offset);
    height: calc(100% - calc(var(--size-action-offset) + var(--s-1)));
    z-index: var(--idx-sidemenu);
    display: flex;
    position: fixed;

    &:focus-within {
      z-index: calc(var(--idx-sidemenu) + 1);
    }
  }
}
