.v2-token-table,
.v2-token-table-row,
.v2-token-table-cell,
.v2-token-table-head,
.v2-token-table-body,
.v2-token-table-foot {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
}

.v2-token-table {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--s-1);
}

.v2-token-table-row {
  gap: var(--s-1);
  display: flex;
  min-width: 100%;
}

.v2-token-table-row:not(:last-of-type) {
  margin-bottom: var(--s-1);
}

.v2-token-table-cell {
  flex: 1 0;
  padding-block: var(--s-2);
  padding-inline: var(--s-3);
  font-family: var(--ff);
  font-weight: var(--fw-3);
  font-size: var(--fz-3);
}

.v2-token-table-head .v2-token-table-cell {
  background-color: var(--c-base-3);
}

.v2-token-table-body .v2-token-table-cell {
  background-color: var(--c-base-2);
}

.v2-token-table-body .v2-token-table-row:nth-of-type(even) .v2-token-table-cell {
  background-color: var(--c-base-2);
}

.v2-token-table-foot .v2-token-table-cell {
  background-color: var(--c-base-1);
}

.v2-token-table-swatch {
  background-color: var(--c-base-8);
}
