@use '../../mixins' as mixins;

@layer reset {
  .sec {
    @include mixins.reset;
    &-header,
    &-content {
      @include mixins.reset;
    }
  }
}

.sec {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
