[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  --c-red-050: hsl(var(--hue-red), 05%);
  --c-red-100: hsl(var(--hue-red), 10%);
  --c-red-200: hsl(var(--hue-red), 20%);
  --c-red-300: hsl(var(--hue-red), 30%);
  --c-red-400: hsl(var(--hue-red), 40%);
  --c-red-500: hsl(var(--hue-red), 50%);
  --c-red-600: hsl(var(--hue-red), 60%);
  --c-red-700: hsl(var(--hue-red), 70%);
  --c-red-800: hsl(var(--hue-red), 80%);
  --c-red-900: hsl(var(--hue-red), 90%);
  --c-red-950: hsl(var(--hue-red), 95%);

  --c-orange-050: hsl(var(--hue-orange), 05%);
  --c-orange-100: hsl(var(--hue-orange), 10%);
  --c-orange-200: hsl(var(--hue-orange), 20%);
  --c-orange-300: hsl(var(--hue-orange), 30%);
  --c-orange-400: hsl(var(--hue-orange), 40%);
  --c-orange-500: hsl(var(--hue-orange), 50%);
  --c-orange-600: hsl(var(--hue-orange), 60%);
  --c-orange-700: hsl(var(--hue-orange), 70%);
  --c-orange-800: hsl(var(--hue-orange), 80%);
  --c-orange-900: hsl(var(--hue-orange), 90%);
  --c-orange-950: hsl(var(--hue-orange), 95%);

  --c-yellow-050: hsl(var(--hue-yellow), 05%);
  --c-yellow-100: hsl(var(--hue-yellow), 10%);
  --c-yellow-200: hsl(var(--hue-yellow), 20%);
  --c-yellow-300: hsl(var(--hue-yellow), 30%);
  --c-yellow-400: hsl(var(--hue-yellow), 40%);
  --c-yellow-500: hsl(var(--hue-yellow), 50%);
  --c-yellow-600: hsl(var(--hue-yellow), 60%);
  --c-yellow-700: hsl(var(--hue-yellow), 70%);
  --c-yellow-800: hsl(var(--hue-yellow), 80%);
  --c-yellow-900: hsl(var(--hue-yellow), 90%);
  --c-yellow-950: hsl(var(--hue-yellow), 95%);

  --c-green-050: hsl(var(--hue-green), 05%);
  --c-green-100: hsl(var(--hue-green), 10%);
  --c-green-200: hsl(var(--hue-green), 20%);
  --c-green-300: hsl(var(--hue-green), 30%);
  --c-green-400: hsl(var(--hue-green), 40%);
  --c-green-500: hsl(var(--hue-green), 50%);
  --c-green-600: hsl(var(--hue-green), 60%);
  --c-green-700: hsl(var(--hue-green), 70%);
  --c-green-800: hsl(var(--hue-green), 80%);
  --c-green-900: hsl(var(--hue-green), 90%);
  --c-green-950: hsl(var(--hue-green), 95%);

  --c-mint-050: hsl(var(--hue-mint), 05%);
  --c-mint-100: hsl(var(--hue-mint), 10%);
  --c-mint-200: hsl(var(--hue-mint), 20%);
  --c-mint-300: hsl(var(--hue-mint), 30%);
  --c-mint-400: hsl(var(--hue-mint), 40%);
  --c-mint-500: hsl(var(--hue-mint), 50%);
  --c-mint-600: hsl(var(--hue-mint), 60%);
  --c-mint-700: hsl(var(--hue-mint), 70%);
  --c-mint-800: hsl(var(--hue-mint), 80%);
  --c-mint-900: hsl(var(--hue-mint), 90%);
  --c-mint-950: hsl(var(--hue-mint), 95%);

  --c-teal-050: hsl(var(--hue-teal), 05%);
  --c-teal-100: hsl(var(--hue-teal), 10%);
  --c-teal-200: hsl(var(--hue-teal), 20%);
  --c-teal-300: hsl(var(--hue-teal), 30%);
  --c-teal-400: hsl(var(--hue-teal), 40%);
  --c-teal-500: hsl(var(--hue-teal), 50%);
  --c-teal-600: hsl(var(--hue-teal), 60%);
  --c-teal-700: hsl(var(--hue-teal), 70%);
  --c-teal-800: hsl(var(--hue-teal), 80%);
  --c-teal-900: hsl(var(--hue-teal), 90%);
  --c-teal-950: hsl(var(--hue-teal), 95%);

  --c-cyan-050: hsl(var(--hue-cyan), 05%);
  --c-cyan-100: hsl(var(--hue-cyan), 10%);
  --c-cyan-200: hsl(var(--hue-cyan), 20%);
  --c-cyan-300: hsl(var(--hue-cyan), 30%);
  --c-cyan-400: hsl(var(--hue-cyan), 40%);
  --c-cyan-500: hsl(var(--hue-cyan), 50%);
  --c-cyan-600: hsl(var(--hue-cyan), 60%);
  --c-cyan-700: hsl(var(--hue-cyan), 70%);
  --c-cyan-800: hsl(var(--hue-cyan), 80%);
  --c-cyan-900: hsl(var(--hue-cyan), 90%);
  --c-cyan-950: hsl(var(--hue-cyan), 95%);

  --c-blue-050: hsl(var(--hue-blue), 05%);
  --c-blue-100: hsl(var(--hue-blue), 10%);
  --c-blue-200: hsl(var(--hue-blue), 20%);
  --c-blue-300: hsl(var(--hue-blue), 30%);
  --c-blue-400: hsl(var(--hue-blue), 40%);
  --c-blue-500: hsl(var(--hue-blue), 50%);
  --c-blue-600: hsl(var(--hue-blue), 60%);
  --c-blue-700: hsl(var(--hue-blue), 70%);
  --c-blue-800: hsl(var(--hue-blue), 80%);
  --c-blue-900: hsl(var(--hue-blue), 90%);
  --c-blue-950: hsl(var(--hue-blue), 95%);

  --c-indigo-050: hsl(var(--hue-indigo), 05%);
  --c-indigo-100: hsl(var(--hue-indigo), 10%);
  --c-indigo-200: hsl(var(--hue-indigo), 20%);
  --c-indigo-300: hsl(var(--hue-indigo), 30%);
  --c-indigo-400: hsl(var(--hue-indigo), 40%);
  --c-indigo-500: hsl(var(--hue-indigo), 50%);
  --c-indigo-600: hsl(var(--hue-indigo), 60%);
  --c-indigo-700: hsl(var(--hue-indigo), 70%);
  --c-indigo-800: hsl(var(--hue-indigo), 80%);
  --c-indigo-900: hsl(var(--hue-indigo), 90%);
  --c-indigo-950: hsl(var(--hue-indigo), 95%);

  --c-purple-050: hsl(var(--hue-purple), 05%);
  --c-purple-100: hsl(var(--hue-purple), 10%);
  --c-purple-200: hsl(var(--hue-purple), 20%);
  --c-purple-300: hsl(var(--hue-purple), 30%);
  --c-purple-400: hsl(var(--hue-purple), 40%);
  --c-purple-500: hsl(var(--hue-purple), 50%);
  --c-purple-600: hsl(var(--hue-purple), 60%);
  --c-purple-700: hsl(var(--hue-purple), 70%);
  --c-purple-800: hsl(var(--hue-purple), 80%);
  --c-purple-900: hsl(var(--hue-purple), 90%);
  --c-purple-950: hsl(var(--hue-purple), 95%);

  --c-pink-050: hsl(var(--hue-pink), 05%);
  --c-pink-100: hsl(var(--hue-pink), 10%);
  --c-pink-200: hsl(var(--hue-pink), 20%);
  --c-pink-300: hsl(var(--hue-pink), 30%);
  --c-pink-400: hsl(var(--hue-pink), 40%);
  --c-pink-500: hsl(var(--hue-pink), 50%);
  --c-pink-600: hsl(var(--hue-pink), 60%);
  --c-pink-700: hsl(var(--hue-pink), 70%);
  --c-pink-800: hsl(var(--hue-pink), 80%);
  --c-pink-900: hsl(var(--hue-pink), 90%);
  --c-pink-950: hsl(var(--hue-pink), 95%);

  --c-brown-050: hsl(var(--hue-brown), 05%);
  --c-brown-100: hsl(var(--hue-brown), 10%);
  --c-brown-200: hsl(var(--hue-brown), 20%);
  --c-brown-300: hsl(var(--hue-brown), 30%);
  --c-brown-400: hsl(var(--hue-brown), 40%);
  --c-brown-500: hsl(var(--hue-brown), 50%);
  --c-brown-600: hsl(var(--hue-brown), 60%);
  --c-brown-700: hsl(var(--hue-brown), 70%);
  --c-brown-800: hsl(var(--hue-brown), 80%);
  --c-brown-900: hsl(var(--hue-brown), 90%);
  --c-brown-950: hsl(var(--hue-brown), 95%);
}
