.sec-home-hero-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.sec-home-overview-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
