html,
body,
:root,
#root,
.sec-layout {
  transition-property: color, background-color, fill, stroke;
  transition-timing-function: var(--site-easing-standard-expressive);
  transition-duration: var(--site-easing-duration-2);
}

.tile,
.radio,
.button,
.checkbox,
.action-item {
  transition-property: color, background-color, fill, stroke;
  transition-timing-function: var(--site-easing-standard-productive);
  transition-duration: var(--site-easing-duration-2);
}
