[data-prefers-color-scheme='dim'] {
  [data-scheme='primary'] {
    .button {
      --c-button-text: var(--c-slate-50);
      --c-button-background: var(--c-slate-950);
    }
    .action {
      --c-action-text: var(--c-slate-50);
      --c-action-background: var(--c-slate-950);
    }
  }
}

[data-prefers-color-scheme='dark'] {
  [data-scheme='primary'] {
    .button {
      --c-button-text: var(--c-zinc-50);
      --c-button-background: var(--c-zinc-950);
    }
    .action {
      --c-action-text: var(--c-zinc-50);
      --c-action-background: var(--c-zinc-950);
    }
  }
}

[data-prefers-color-scheme='light'] {
  [data-scheme='primary'] {
    .button {
      --c-button-text: var(--c-zinc-950);
      --c-button-background: var(--c-zinc-50);
    }
    .action {
      --c-action-text: var(--c-zinc-950);
      --c-action-background: var(--c-zinc-50);
    }
  }
}
