[data-prefers-color-mode='dim'] {
  --v2-hsl-neutral-0: 218, 80%, 2%;
  --v2-hsl-neutral-1: 216, 28%, 7%;
  --v2-hsl-neutral-2: 214, 25%, 11%;
  --v2-hsl-neutral-3: 212, 19%, 16%;
  --v2-hsl-neutral-4: 218, 17%, 18%;
  --v2-hsl-neutral-5: 217, 18%, 20%;
  --v2-hsl-neutral-6: 215, 17%, 22%;
  --v2-hsl-neutral-7: 214, 12%, 27%;
  --v2-hsl-neutral-8: 215, 8%, 43%;
  --v2-hsl-neutral-9: 214, 8%, 60%;
  --v2-hsl-neutral-10: 219, 13%, 75%;
  --v2-hsl-neutral-11: 216, 19%, 85%;
  --v2-hsl-neutral-12: 210, 67%, 96%;
  --v2-hsl-neutral-13: 210, 67%, 100%;
  --v2-hsl-blue-0: 206, 100%, 90%;
  --v2-hsl-blue-1: 207, 100%, 82%;
  --v2-hsl-blue-2: 208, 100%, 74%;
  --v2-hsl-blue-3: 212, 100%, 67%;
  --v2-hsl-blue-4: 215, 98%, 61%;
  --v2-hsl-blue-5: 216, 84%, 52%;
  --v2-hsl-blue-6: 217, 84%, 42%;
  --v2-hsl-blue-7: 218, 85%, 33%;
  --v2-hsl-blue-8: 219, 80%, 23%;
  --v2-hsl-blue-9: 220, 88%, 16%;
  --v2-hsl-green-0: 124, 78%, 82%;
  --v2-hsl-green-1: 125, 69%, 70%;
  --v2-hsl-green-2: 127, 59%, 58%;
  --v2-hsl-green-3: 128, 49%, 49%;
  --v2-hsl-green-4: 131, 55%, 40%;
  --v2-hsl-green-5: 132, 59%, 33%;
  --v2-hsl-green-6: 135, 62%, 26%;
  --v2-hsl-green-7: 138, 69%, 19%;
  --v2-hsl-green-8: 141, 90%, 12%;
  --v2-hsl-green-9: 139, 81%, 8%;
  --v2-hsl-yellow-0: 46, 86%, 80%;
  --v2-hsl-yellow-1: 44, 85%, 66%;
  --v2-hsl-yellow-2: 42, 74%, 57%;
  --v2-hsl-yellow-3: 41, 72%, 48%;
  --v2-hsl-yellow-4: 40, 91%, 38%;
  --v2-hsl-yellow-5: 40, 96%, 32%;
  --v2-hsl-yellow-6: 37, 91%, 27%;
  --v2-hsl-yellow-7: 35, 100%, 21%;
  --v2-hsl-yellow-8: 33, 100%, 15%;
  --v2-hsl-yellow-9: 30, 100%, 10%;
  --v2-hsl-orange-0: 34, 100%, 86%;
  --v2-hsl-orange-1: 33, 100%, 75%;
  --v2-hsl-orange-2: 28, 100%, 67%;
  --v2-hsl-orange-3: 25, 86%, 59%;
  --v2-hsl-orange-4: 23, 71%, 51%;
  --v2-hsl-orange-5: 21, 73%, 43%;
  --v2-hsl-orange-6: 20, 76%, 35%;
  --v2-hsl-orange-7: 19, 84%, 25%;
  --v2-hsl-orange-8: 19, 96%, 18%;
  --v2-hsl-orange-9: 19, 100%, 12%;
  --v2-hsl-red-0: 8, 100%, 92%;
  --v2-hsl-red-1: 6, 100%, 86%;
  --v2-hsl-red-2: 5, 100%, 80%;
  --v2-hsl-red-3: 4, 100%, 72%;
  --v2-hsl-red-4: 3, 93%, 63%;
  --v2-hsl-red-5: 1, 69%, 53%;
  --v2-hsl-red-6: 360, 68%, 43%;
  --v2-hsl-red-7: 358, 74%, 32%;
  --v2-hsl-red-8: 356, 89%, 21%;
  --v2-hsl-red-9: 0, 95%, 15%;
  --v2-hsl-purple-0: 267, 100%, 94%;
  --v2-hsl-purple-1: 270, 100%, 89%;
  --v2-hsl-purple-2: 269, 100%, 83%;
  --v2-hsl-purple-3: 265, 100%, 78%;
  --v2-hsl-purple-4: 262, 90%, 73%;
  --v2-hsl-purple-5: 261, 73%, 62%;
  --v2-hsl-purple-6: 260, 56%, 52%;
  --v2-hsl-purple-7: 261, 52%, 39%;
  --v2-hsl-purple-8: 262, 58%, 28%;
  --v2-hsl-purple-9: 261, 67%, 19%;
  --v2-hsl-pink-0: 331, 100%, 93%;
  --v2-hsl-pink-1: 331, 100%, 87%;
  --v2-hsl-pink-2: 329, 100%, 80%;
  --v2-hsl-pink-3: 329, 89%, 72%;
  --v2-hsl-pink-4: 328, 63%, 62%;
  --v2-hsl-pink-5: 327, 48%, 52%;
  --v2-hsl-pink-6: 327, 49%, 42%;
  --v2-hsl-pink-7: 326, 55%, 32%;
  --v2-hsl-pink-8: 325, 71%, 22%;
  --v2-hsl-pink-9: 324, 83%, 14%;
  --v2-hsl-coral-0: 15, 100%, 91%;
  --v2-hsl-coral-1: 12, 100%, 85%;
  --v2-hsl-coral-2: 12, 100%, 77%;
  --v2-hsl-coral-3: 11, 90%, 68%;
  --v2-hsl-coral-4: 10, 80%, 59%;
  --v2-hsl-coral-5: 9, 64%, 49%;
  --v2-hsl-coral-6: 8, 69%, 40%;
  --v2-hsl-coral-7: 7, 76%, 30%;
  --v2-hsl-coral-8: 6, 92%, 20%;
  --v2-hsl-coral-9: 5, 97%, 14%;
}
