[data-prefers-color-mode='light'] {
  --v2-hsl-neutral-0: 210, 29%, 100%;
  --v2-hsl-neutral-1: 210, 29%, 97%;
  --v2-hsl-neutral-2: 210, 23%, 95%;
  --v2-hsl-neutral-3: 213, 22%, 92%;
  --v2-hsl-neutral-4: 207, 22%, 90%;
  --v2-hsl-neutral-5: 212, 21%, 88%;
  --v2-hsl-neutral-6: 208, 19%, 85%;
  --v2-hsl-neutral-7: 210, 20%, 82%;
  --v2-hsl-neutral-8: 214, 10%, 55%;
  --v2-hsl-neutral-9: 211, 11%, 39%;
  --v2-hsl-neutral-10: 212, 10%, 30%;
  --v2-hsl-neutral-11: 212, 10%, 25%;
  --v2-hsl-neutral-12: 213, 11%, 16%;
  --v2-hsl-neutral-13: 213, 13%, 14%;
  --v2-hsl-blue-0: 199, 100%, 93%;
  --v2-hsl-blue-1: 203, 100%, 86%;
  --v2-hsl-blue-2: 204, 100%, 75%;
  --v2-hsl-blue-3: 208, 100%, 66%;
  --v2-hsl-blue-4: 211, 100%, 56%;
  --v2-hsl-blue-5: 212, 92%, 45%;
  --v2-hsl-blue-6: 213, 94%, 35%;
  --v2-hsl-blue-7: 214, 96%, 28%;
  --v2-hsl-blue-8: 216, 83%, 23%;
  --v2-hsl-blue-9: 217, 100%, 17%;
  --v2-hsl-green-0: 133, 80%, 92%;
  --v2-hsl-green-1: 134, 66%, 80%;
  --v2-hsl-green-2: 135, 62%, 65%;
  --v2-hsl-green-3: 137, 50%, 53%;
  --v2-hsl-green-4: 137, 57%, 41%;
  --v2-hsl-green-5: 137, 66%, 30%;
  --v2-hsl-green-6: 138, 71%, 23%;
  --v2-hsl-green-7: 141, 90%, 16%;
  --v2-hsl-green-8: 142, 100%, 12%;
  --v2-hsl-green-9: 143, 100%, 9%;
  --v2-hsl-yellow-0: 53, 100%, 89%;
  --v2-hsl-yellow-1: 48, 93%, 74%;
  --v2-hsl-yellow-2: 46, 79%, 61%;
  --v2-hsl-yellow-3: 44, 66%, 50%;
  --v2-hsl-yellow-4: 42, 100%, 37%;
  --v2-hsl-yellow-5: 40, 100%, 30%;
  --v2-hsl-yellow-6: 37, 100%, 25%;
  --v2-hsl-yellow-7: 36, 98%, 20%;
  --v2-hsl-yellow-8: 35, 100%, 15%;
  --v2-hsl-yellow-9: 36, 100%, 12%;
  --v2-hsl-orange-0: 28, 100%, 95%;
  --v2-hsl-orange-1: 28, 100%, 85%;
  --v2-hsl-orange-2: 27, 100%, 74%;
  --v2-hsl-orange-3: 25, 96%, 63%;
  --v2-hsl-orange-4: 24, 76%, 51%;
  --v2-hsl-orange-5: 24, 100%, 37%;
  --v2-hsl-orange-6: 23, 100%, 29%;
  --v2-hsl-orange-7: 22, 100%, 23%;
  --v2-hsl-orange-8: 22, 100%, 18%;
  --v2-hsl-orange-9: 19, 100%, 14%;
  --v2-hsl-red-0: 5, 100%, 96%;
  --v2-hsl-red-1: 3, 100%, 90%;
  --v2-hsl-red-2: 2, 100%, 83%;
  --v2-hsl-red-3: 360, 100%, 75%;
  --v2-hsl-red-4: 359, 95%, 63%;
  --v2-hsl-red-5: 356, 72%, 47%;
  --v2-hsl-red-6: 350, 84%, 35%;
  --v2-hsl-red-7: 349, 90%, 27%;
  --v2-hsl-red-8: 346, 100%, 20%;
  --v2-hsl-red-9: 344, 100%, 15%;
  --v2-hsl-purple-0: 285, 100%, 97%;
  --v2-hsl-purple-1: 271, 100%, 92%;
  --v2-hsl-purple-2: 267, 100%, 86%;
  --v2-hsl-purple-3: 265, 100%, 80%;
  --v2-hsl-purple-4: 261, 92%, 72%;
  --v2-hsl-purple-5: 261, 69%, 59%;
  --v2-hsl-purple-6: 261, 53%, 48%;
  --v2-hsl-purple-7: 261, 56%, 38%;
  --v2-hsl-purple-8: 261, 59%, 30%;
  --v2-hsl-purple-9: 260, 66%, 23%;
  --v2-hsl-pink-0: 330, 100%, 97%;
  --v2-hsl-pink-1: 327, 100%, 91%;
  --v2-hsl-pink-2: 327, 100%, 84%;
  --v2-hsl-pink-3: 326, 100%, 75%;
  --v2-hsl-pink-4: 325, 76%, 63%;
  --v2-hsl-pink-5: 324, 54%, 49%;
  --v2-hsl-pink-6: 323, 59%, 38%;
  --v2-hsl-pink-7: 322, 58%, 30%;
  --v2-hsl-pink-8: 320, 67%, 23%;
  --v2-hsl-pink-9: 319, 93%, 16%;
  --v2-hsl-coral-0: 15, 100%, 96%;
  --v2-hsl-coral-1: 12, 100%, 90%;
  --v2-hsl-coral-2: 12, 100%, 82%;
  --v2-hsl-coral-3: 11, 97%, 72%;
  --v2-hsl-coral-4: 11, 81%, 60%;
  --v2-hsl-coral-5: 9, 64%, 47%;
  --v2-hsl-coral-6: 9, 70%, 36%;
  --v2-hsl-coral-7: 8, 79%, 28%;
  --v2-hsl-coral-8: 7, 91%, 22%;
  --v2-hsl-coral-9: 6, 98%, 16%;
}
