[data-prefers-color-mode='dim'][data-prefers-color-accent='red'] {
  --v2-color-accent: hsl(var(--v2-hsl-red-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='orange'] {
  --v2-color-accent: hsl(var(--v2-hsl-orange-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='yellow'] {
  --v2-color-accent: hsl(var(--v2-hsl-yellow-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='green'] {
  --v2-color-accent: hsl(var(--v2-hsl-green-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='mint'] {
  --v2-color-accent: hsl(var(--v2-hsl-mint-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='teal'] {
  --v2-color-accent: hsl(var(--v2-hsl-teal-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='cyan'] {
  --v2-color-accent: hsl(var(--v2-hsl-cyan-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='blue'] {
  --v2-color-accent: hsl(var(--v2-hsl-blue-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='indigo'] {
  --v2-color-accent: hsl(var(--v2-hsl-indigo-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='purple'] {
  --v2-color-accent: hsl(var(--v2-hsl-purple-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='pink'] {
  --v2-color-accent: hsl(var(--v2-hsl-pink-4));
}

[data-prefers-color-mode='dim'][data-prefers-color-accent='brown'] {
  --v2-color-accent: hsl(var(--v2-hsl-brown-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='red'] {
  --v2-color-accent: hsl(var(--v2-hsl-red-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='orange'] {
  --v2-color-accent: hsl(var(--v2-hsl-orange-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='yellow'] {
  --v2-color-accent: hsl(var(--v2-hsl-yellow-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='green'] {
  --v2-color-accent: hsl(var(--v2-hsl-green-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='mint'] {
  --v2-color-accent: hsl(var(--v2-hsl-mint-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='teal'] {
  --v2-color-accent: hsl(var(--v2-hsl-teal-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='cyan'] {
  --v2-color-accent: hsl(var(--v2-hsl-cyan-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='blue'] {
  --v2-color-accent: hsl(var(--v2-hsl-blue-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='indigo'] {
  --v2-color-accent: hsl(var(--v2-hsl-indigo-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='purple'] {
  --v2-color-accent: hsl(var(--v2-hsl-purple-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='pink'] {
  --v2-color-accent: hsl(var(--v2-hsl-pink-4));
}

[data-prefers-color-mode='dark'][data-prefers-color-accent='brown'] {
  --v2-color-accent: hsl(var(--v2-hsl-brown-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='red'] {
  --v2-color-accent: hsl(var(--v2-hsl-red-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='orange'] {
  --v2-color-accent: hsl(var(--v2-hsl-orange-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='yellow'] {
  --v2-color-accent: hsl(var(--v2-hsl-yellow-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='green'] {
  --v2-color-accent: hsl(var(--v2-hsl-green-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='mint'] {
  --v2-color-accent: hsl(var(--v2-hsl-mint-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='teal'] {
  --v2-color-accent: hsl(var(--v2-hsl-teal-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='cyan'] {
  --v2-color-accent: hsl(var(--v2-hsl-cyan-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='blue'] {
  --v2-color-accent: hsl(var(--v2-hsl-blue-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='indigo'] {
  --v2-color-accent: hsl(var(--v2-hsl-indigo-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='purple'] {
  --v2-color-accent: hsl(var(--v2-hsl-purple-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='pink'] {
  --v2-color-accent: hsl(var(--v2-hsl-pink-4));
}

[data-prefers-color-mode='light'][data-prefers-color-accent='brown'] {
  --v2-color-accent: hsl(var(--v2-hsl-brown-4));
}
