@use '../mixins' as mixins;

@layer reset {
  .control,
  .control-thumb,
  .control-track,
  .control-item,
  .control-item-label {
    @include mixins.reset;
  }
}

.control,
.control-item,
.control-track,
.control-thumb {
  --control-height-sm: calc(var(--unit) * 18);
  --control-height-md: calc(var(--unit) * 24);
  --control-height-lg: calc(var(--unit) * 30);

  border-radius: calc(var(--unit) * 2);
}

.control,
.control-track,
.control-item,
.control-thumb {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.control {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;

  &-track {
    z-index: 0;
    position: relative;
  }

  &-item {
    flex: 1;
    z-index: 1;
    position: relative;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    height: var(--control-height, var(--control-height-sm));
  }

  &-thumb {
    height: var(--control-height, var(--control-height-sm));
    z-index: -1;
    position: absolute;
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 250ms;
  }

  &--size-sm {
    --control-height: var(--control-height-sm);
  }
  &--size-md {
    --control-height: var(--control-height-md);
  }
  &--size-lg {
    --control-height: var(--control-height-lg);
  }
}
