@use '../mixins' as mixins;

@layer reset {
  .control,
  .control-thumb,
  .control-track,
  .control-item,
  .control-item-label {
    @include mixins.reset;
  }
}

.control,
.control-item,
.control-track,
.control-thumb {
  --control-height-sm: calc(var(--unit) * 18);
  --control-height-md: calc(var(--unit) * 24);
  --control-height-lg: calc(var(--unit) * 30);

  border-radius: calc(var(--unit) * 2);
}

.control {
  &--size-sm {
    --control-height: var(--control-height-sm);
  }
  &--size-md {
    --control-height: var(--control-height-md);
  }
  &--size-lg {
    --control-height: var(--control-height-lg);
  }

  z-index: 0;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  &-track {
    z-index: 0;
    min-width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  &-item {
    z-index: 1;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    min-width: 100%;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    height: var(--control-height, var(--control-height-sm));
  }

  &-thumb {
    height: var(--control-height, var(--control-height-sm));
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
