@use '../mixins' as mixins;

@layer reset {
  .sec-home {
    @include mixins.reset;

    &-hero,
    &-hero-content,
    &-hero-underlay--upper,
    &-hero-underlay--lower {
      @include mixins.reset;
    }

    &-overview,
    &-overview-box,
    &-overview-content {
      @include mixins.reset;
    }

    &-nav-tiles,
    &-nav-tiles-box,
    &-nav-tiles-content {
      @include mixins.reset;
    }
  }
}

.sec-home {
  &-hero-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--height-header);
    z-index: var(--index-hero);
    height: var(--height-hero);
    overflow-x: hidden;
    isolation: isolate;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    @media (min-width: 60em) {
      margin-left: var(--height-header);
      padding-inline: calc(var(--gutter) * 2);
    }
  }

  &-hero-underlay--upper,
  &-hero-underlay--lower {
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    z-index: var(--index-base);
  }
  &-hero-title--upper {
    font-size: var(--font-size-title-lg);
    font-weight: var(--font-weight-1);
    line-height: 1.4;
  }
  &-hero-title--lower {
    font-size: var(--font-size-title-lg);
    font-weight: var(--font-weight-2);
    margin-bottom: var(--gutter);
    line-height: 1.4;
  }
  &-hero-underlay--upper {
    top: 0;
  }
  &-hero-underlay--lower {
    bottom: 0;
  }

  &-overview-content {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 60em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-overview-box {
    padding-block: calc(var(--gutter) * 2);
    padding-inline: var(--gutter);

    .title {
      font-size: var(--font-size-title-sm);
      font-weight: var(--font-weight-1);
      margin-bottom: var(--gutter);
      line-height: 1.2;
    }

    @media (min-width: 60em) {
      padding-inline: calc(var(--gutter) * 2);
    }
  }

  &-nav-tiles {
    &-content {
      display: grid;
      place-content: start;
      grid-template-rows: auto;
      grid-template-columns: repeat(1, 1fr);

      @media (min-width: 60em) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-box {
    }
  }
}
