[data-prefers-color-mode='dim'],
[data-prefers-color-mode='dim'] [data-scheme='base'] {
  --c-rgb-base: 44, 44, 46;
  --c-rgb-neutral: 88, 88, 92;
  --c-rgb-contrast: 255, 255, 255;
}

[data-prefers-color-mode='dim'] [data-scheme='secondary'] {
  --c-rgb-base: 255, 255, 255;
  --c-rgb-neutral: 211, 211, 209;
  --c-rgb-contrast: 44, 44, 46;
}

[data-prefers-color-mode='dark'],
[data-prefers-color-mode='dark'] [data-scheme='base'] {
  --c-rgb-base: 28, 28, 30;
  --c-rgb-neutral: 56, 56, 60;
  --c-rgb-contrast: 255, 255, 255;
}

[data-prefers-color-mode='dark'] [data-scheme='secondary'] {
  --c-rgb-base: 255, 255, 255;
  --c-rgb-neutral: 211, 211, 209;
  --c-rgb-contrast: 44, 44, 46;
}

[data-prefers-color-mode='light'],
[data-prefers-color-mode='light'] [data-scheme='primary'] {
  --c-rgb-base: 255, 255, 255;
  --c-rgb-neutral: 211, 211, 209;
  --c-rgb-contrast: 44, 44, 46;
}

[data-prefers-color-mode='light'] [data-scheme='secondary'] {
  --c-rgb-base: 28, 28, 30;
  --c-rgb-neutral: 56, 56, 60;
  --c-rgb-contrast: 255, 255, 255;
}

[data-prefers-color-mode='dim'][data-prefers-color-contrast='no'] {
  --c-rgb-red: var(--c-rgb-red-dark);
  --c-rgb-orange: var(--c-rgb-orange-dark);
  --c-rgb-yellow: var(--c-rgb-yellow-dark);
  --c-rgb-green: var(--c-rgb-green-dark);
  --c-rgb-mint: var(--c-rgb-mint-dark);
  --c-rgb-teal: var(--c-rgb-teal-dark);
  --c-rgb-cyan: var(--c-rgb-cyan-dark);
  --c-rgb-blue: var(--c-rgb-blue-dark);
  --c-rgb-indigo: var(--c-rgb-indigo-dark);
  --c-rgb-purple: var(--c-rgb-purple-dark);
  --c-rgb-pink: var(--c-rgb-pink-dark);
  --c-rgb-brown: var(--c-rgb-brown-dark);
}

[data-prefers-color-mode='dark'][data-prefers-color-contrast='no'] {
  --c-rgb-red: var(--c-rgb-red-dark);
  --c-rgb-orange: var(--c-rgb-orange-dark);
  --c-rgb-yellow: var(--c-rgb-yellow-dark);
  --c-rgb-green: var(--c-rgb-green-dark);
  --c-rgb-mint: var(--c-rgb-mint-dark);
  --c-rgb-teal: var(--c-rgb-teal-dark);
  --c-rgb-cyan: var(--c-rgb-cyan-dark);
  --c-rgb-blue: var(--c-rgb-blue-dark);
  --c-rgb-indigo: var(--c-rgb-indigo-dark);
  --c-rgb-purple: var(--c-rgb-purple-dark);
  --c-rgb-pink: var(--c-rgb-pink-dark);
  --c-rgb-brown: var(--c-rgb-brown-dark);
}

[data-prefers-color-mode='light'][data-prefers-color-contrast='no'] {
  --c-rgb-red: var(--c-rgb-red-light);
  --c-rgb-orange: var(--c-rgb-orange-light);
  --c-rgb-yellow: var(--c-rgb-yellow-light);
  --c-rgb-green: var(--c-rgb-green-light);
  --c-rgb-mint: var(--c-rgb-mint-light);
  --c-rgb-teal: var(--c-rgb-teal-light);
  --c-rgb-cyan: var(--c-rgb-cyan-light);
  --c-rgb-blue: var(--c-rgb-blue-light);
  --c-rgb-indigo: var(--c-rgb-indigo-light);
  --c-rgb-purple: var(--c-rgb-purple-light);
  --c-rgb-pink: var(--c-rgb-pink-light);
  --c-rgb-brown: var(--c-rgb-brown-light);
}

[data-prefers-color-mode='dim'][data-prefers-color-contrast='yes'] {
  --c-rgb-red: var(--c-rgb-red-accessible-dark);
  --c-rgb-orange: var(--c-rgb-orange-accessible-dark);
  --c-rgb-yellow: var(--c-rgb-yellow-accessible-dark);
  --c-rgb-green: var(--c-rgb-green-accessible-dark);
  --c-rgb-mint: var(--c-rgb-mint-accessible-dark);
  --c-rgb-teal: var(--c-rgb-teal-accessible-dark);
  --c-rgb-cyan: var(--c-rgb-cyan-accessible-dark);
  --c-rgb-blue: var(--c-rgb-blue-accessible-dark);
  --c-rgb-indigo: var(--c-rgb-indigo-accessible-dark);
  --c-rgb-purple: var(--c-rgb-purple-accessible-dark);
  --c-rgb-pink: var(--c-rgb-pink-accessible-dark);
  --c-rgb-brown: var(--c-rgb-brown-accessible-dark);
}

[data-prefers-color-mode='dark'][data-prefers-color-contrast='yes'] {
  --c-rgb-red: var(--c-rgb-red-accessible-dark);
  --c-rgb-orange: var(--c-rgb-orange-accessible-dark);
  --c-rgb-yellow: var(--c-rgb-yellow-accessible-dark);
  --c-rgb-green: var(--c-rgb-green-accessible-dark);
  --c-rgb-mint: var(--c-rgb-mint-accessible-dark);
  --c-rgb-teal: var(--c-rgb-teal-accessible-dark);
  --c-rgb-cyan: var(--c-rgb-cyan-accessible-dark);
  --c-rgb-blue: var(--c-rgb-blue-accessible-dark);
  --c-rgb-indigo: var(--c-rgb-indigo-accessible-dark);
  --c-rgb-purple: var(--c-rgb-purple-accessible-dark);
  --c-rgb-pink: var(--c-rgb-pink-accessible-dark);
  --c-rgb-brown: var(--c-rgb-brown-accessible-dark);
}

[data-prefers-color-mode='light'][data-prefers-color-contrast='yes'] {
  --c-rgb-red: var(--c-rgb-red-accessible-light);
  --c-rgb-orange: var(--c-rgb-orange-accessible-light);
  --c-rgb-yellow: var(--c-rgb-yellow-accessible-light);
  --c-rgb-green: var(--c-rgb-green-accessible-light);
  --c-rgb-mint: var(--c-rgb-mint-accessible-light);
  --c-rgb-teal: var(--c-rgb-teal-accessible-light);
  --c-rgb-cyan: var(--c-rgb-cyan-accessible-light);
  --c-rgb-blue: var(--c-rgb-blue-accessible-light);
  --c-rgb-indigo: var(--c-rgb-indigo-accessible-light);
  --c-rgb-purple: var(--c-rgb-purple-accessible-light);
  --c-rgb-pink: var(--c-rgb-pink-accessible-light);
  --c-rgb-brown: var(--c-rgb-brown-accessible-light);
}

[data-prefers-color-mode='light'] {
  --c-base-default-bkgd-enabled: rgba(var(--c-rgb-contrast), 0);
  --c-base-default-text-enabled: rgba(var(--c-rgb-contrast), 0.87);
  --c-base-default-icon-enabled: rgba(var(--c-rgb-contrast), 0.87);

  --c-base-default-bkgd-hovered: rgba(var(--c-rgb-contrast), 0.04);
  --c-base-default-text-hovered: rgba(var(--c-rgb-contrast), 0.91);
  --c-base-default-icon-hovered: rgba(var(--c-rgb-contrast), 0.91);

  --c-base-default-bkgd-pressed: rgba(var(--c-rgb-contrast), 0.08);
  --c-base-default-text-pressed: rgba(var(--c-rgb-contrast), 0.93);
  --c-base-default-icon-pressed: rgba(var(--c-rgb-contrast), 0.93);

  --c-base-default-bkgd-selected: rgba(var(--c-rgb-contrast), 0.08);
  --c-base-default-text-selected: rgba(var(--c-rgb-contrast), 0.99);
  --c-base-default-icon-selected: rgba(var(--c-rgb-contrast), 0.99);

  --c-base-elevated-bkgd-enabled: rgba(var(--c-rgb-contrast), 0.04);
  --c-base-elevated-text-enabled: rgba(var(--c-rgb-contrast), 0.87);
  --c-base-elevated-icon-enabled: rgba(var(--c-rgb-contrast), 0.87);

  --c-base-elevated-bkgd-hovered: rgba(var(--c-rgb-contrast), 0.08);
  --c-base-elevated-text-hovered: rgba(var(--c-rgb-contrast), 0.91);
  --c-base-elevated-icon-hovered: rgba(var(--c-rgb-contrast), 0.91);

  --c-base-elevated-bkgd-pressed: rgba(var(--c-rgb-contrast), 0.12);
  --c-base-elevated-text-pressed: rgba(var(--c-rgb-contrast), 0.93);
  --c-base-elevated-icon-pressed: rgba(var(--c-rgb-contrast), 0.93);

  --c-base-elevated-bkgd-selected: rgba(var(--c-rgb-contrast), 0.12);
  --c-base-elevated-text-selected: rgba(var(--c-rgb-contrast), 0.99);
  --c-base-elevated-icon-selected: rgba(var(--c-rgb-contrast), 0.99);

  --c-accent-default-bkgd-enabled: rgba(var(--c-rgb-accent), 0);
  --c-accent-default-text-enabled: rgba(var(--c-rgb-accent), 0.87);
  --c-accent-default-icon-enabled: rgba(var(--c-rgb-accent), 0.87);

  --c-accent-default-bkgd-hovered: rgba(var(--c-rgb-accent), 0.06);
  --c-accent-default-text-hovered: rgba(var(--c-rgb-accent), 0.91);
  --c-accent-default-icon-hovered: rgba(var(--c-rgb-accent), 0.91);

  --c-accent-default-bkgd-pressed: rgba(var(--c-rgb-accent), 0.09);
  --c-accent-default-text-pressed: rgba(var(--c-rgb-accent), 0.93);
  --c-accent-default-icon-pressed: rgba(var(--c-rgb-accent), 0.93);

  --c-accent-default-bkgd-selected: rgba(var(--c-rgb-accent), 0.09);
  --c-accent-default-text-selected: rgba(var(--c-rgb-accent), 0.99);
  --c-accent-default-icon-selected: rgba(var(--c-rgb-accent), 0.99);

  --c-accent-elevated-bkgd-enabled: rgba(var(--c-rgb-accent), 0.09);
  --c-accent-elevated-text-enabled: rgba(var(--c-rgb-accent), 0.87);
  --c-accent-elevated-icon-enabled: rgba(var(--c-rgb-accent), 0.87);

  --c-accent-elevated-bkgd-hovered: rgba(var(--c-rgb-accent), 0.12);
  --c-accent-elevated-text-hovered: rgba(var(--c-rgb-accent), 0.91);
  --c-accent-elevated-icon-hovered: rgba(var(--c-rgb-accent), 0.91);

  --c-accent-elevated-bkgd-pressed: rgba(var(--c-rgb-accent), 0.15);
  --c-accent-elevated-text-pressed: rgba(var(--c-rgb-accent), 0.93);
  --c-accent-elevated-icon-pressed: rgba(var(--c-rgb-accent), 0.93);

  --c-accent-elevated-bkgd-selected: rgba(var(--c-rgb-accent), 0.15);
  --c-accent-elevated-text-selected: rgba(var(--c-rgb-accent), 0.99);
  --c-accent-elevated-icon-selected: rgba(var(--c-rgb-accent), 0.99);
}

[data-prefers-color-mode='dim'],
[data-prefers-color-mode='dark'] {
  --c-base-default-bkgd-enabled: rgba(var(--c-rgb-contrast), 0);
  --c-base-default-text-enabled: rgba(var(--c-rgb-contrast), 0.87);
  --c-base-default-icon-enabled: rgba(var(--c-rgb-contrast), 0.87);

  --c-base-default-bkgd-hovered: rgba(var(--c-rgb-contrast), 0.02);
  --c-base-default-text-hovered: rgba(var(--c-rgb-contrast), 0.91);
  --c-base-default-icon-hovered: rgba(var(--c-rgb-contrast), 0.91);

  --c-base-default-bkgd-pressed: rgba(var(--c-rgb-contrast), 0.04);
  --c-base-default-text-pressed: rgba(var(--c-rgb-contrast), 0.93);
  --c-base-default-icon-pressed: rgba(var(--c-rgb-contrast), 0.93);

  --c-base-default-bkgd-selected: rgba(var(--c-rgb-contrast), 0.04);
  --c-base-default-text-selected: rgba(var(--c-rgb-contrast), 0.99);
  --c-base-default-icon-selected: rgba(var(--c-rgb-contrast), 0.99);

  --c-base-elevated-bkgd-enabled: rgba(var(--c-rgb-contrast), 0.02);
  --c-base-elevated-text-enabled: rgba(var(--c-rgb-contrast), 0.87);
  --c-base-elevated-icon-enabled: rgba(var(--c-rgb-contrast), 0.87);

  --c-base-elevated-bkgd-hovered: rgba(var(--c-rgb-contrast), 0.04);
  --c-base-elevated-text-hovered: rgba(var(--c-rgb-contrast), 0.91);
  --c-base-elevated-icon-hovered: rgba(var(--c-rgb-contrast), 0.91);

  --c-base-elevated-bkgd-pressed: rgba(var(--c-rgb-contrast), 0.06);
  --c-base-elevated-text-pressed: rgba(var(--c-rgb-contrast), 0.93);
  --c-base-elevated-icon-pressed: rgba(var(--c-rgb-contrast), 0.93);

  --c-base-elevated-bkgd-selected: rgba(var(--c-rgb-contrast), 0.06);
  --c-base-elevated-text-selected: rgba(var(--c-rgb-contrast), 0.99);
  --c-base-elevated-icon-selected: rgba(var(--c-rgb-contrast), 0.99);

  --c-accent-default-bkgd-enabled: rgba(var(--c-rgb-accent), 0);
  --c-accent-default-text-enabled: rgba(var(--c-rgb-accent), 0.87);
  --c-accent-default-icon-enabled: rgba(var(--c-rgb-accent), 0.87);

  --c-accent-default-bkgd-hovered: rgba(var(--c-rgb-accent), 0.06);
  --c-accent-default-text-hovered: rgba(var(--c-rgb-accent), 0.91);
  --c-accent-default-icon-hovered: rgba(var(--c-rgb-accent), 0.91);

  --c-accent-default-bkgd-pressed: rgba(var(--c-rgb-accent), 0.09);
  --c-accent-default-text-pressed: rgba(var(--c-rgb-accent), 0.93);
  --c-accent-default-icon-pressed: rgba(var(--c-rgb-accent), 0.93);

  --c-accent-default-bkgd-selected: rgba(var(--c-rgb-accent), 0.09);
  --c-accent-default-text-selected: rgba(var(--c-rgb-accent), 0.99);
  --c-accent-default-icon-selected: rgba(var(--c-rgb-accent), 0.99);

  --c-accent-elevated-bkgd-enabled: rgba(var(--c-rgb-accent), 0.06);
  --c-accent-elevated-text-enabled: rgba(var(--c-rgb-accent), 0.87);
  --c-accent-elevated-icon-enabled: rgba(var(--c-rgb-accent), 0.87);

  --c-accent-elevated-bkgd-hovered: rgba(var(--c-rgb-accent), 0.09);
  --c-accent-elevated-text-hovered: rgba(var(--c-rgb-accent), 0.91);
  --c-accent-elevated-icon-hovered: rgba(var(--c-rgb-accent), 0.91);

  --c-accent-elevated-bkgd-pressed: rgba(var(--c-rgb-accent), 0.12);
  --c-accent-elevated-text-pressed: rgba(var(--c-rgb-accent), 0.93);
  --c-accent-elevated-icon-pressed: rgba(var(--c-rgb-accent), 0.93);

  --c-accent-elevated-bkgd-selected: rgba(var(--c-rgb-accent), 0.12);
  --c-accent-elevated-text-selected: rgba(var(--c-rgb-accent), 0.99);
  --c-accent-elevated-icon-selected: rgba(var(--c-rgb-accent), 0.99);
}

[data-prefers-color-mode='dim'],
[data-prefers-color-mode='dark'],
[data-prefers-color-mode='light'] {
  --c-base-bkgd: rgba(var(--c-rgb-base), 1);
}
