[data-prefers-color-mode='light'] {
  --c-contrast-a1: 0.03;
  --c-contrast-a2: 0.05;
  --c-contrast-a3: 0.07;
  --c-contrast-a4: 0.09;
  --c-contrast-a5: 0.11;
  --c-contrast-a6: 0.13;

  --c-accent-a1: 0.09;
  --c-accent-a2: 0.12;
  --c-accent-a3: 0.15;
  --c-accent-a4: 0.17;
  --c-accent-a5: 0.19;
  --c-accent-a6: 0.21;
}
