[data-prefers-color-mode='light'] {
  /// =====================================================================================
  /// APP
  /// =====================================================================================

  --c-root-bgd: rgba(var(--c-rgb-base), 1);
  --c-root-clr: rgba(var(--c-rgb-contrast), 0.87);

  --c-root-clr-max: rgba(var(--c-rgb-contrast), 0.97);
  --c-root-clr-med: rgba(var(--c-rgb-contrast), 0.87);
  --c-root-clr-low: rgba(var(--c-rgb-contrast), 0.67);
  --c-root-clr-min: rgba(var(--c-rgb-contrast), 0.37);

  --c-accent-clr-max: rgba(var(--c-rgb-accent), 0.97);
  --c-accent-clr-med: rgba(var(--c-rgb-accent), 0.87);
  --c-accent-clr-low: rgba(var(--c-rgb-accent), 0.67);
  --c-accent-clr-min: rgba(var(--c-rgb-accent), 0.37);

  --c-canvas-bgd: rgba(var(--c-rgb-base), 1);
  --c-canvas-bdr: rgba(var(--c-rgb-contrast), 0.08);
  --c-canvas-clr: rgba(var(--c-rgb-contrast), 0.87);

  --c-canvas-controls-bgd: rgba(var(--c-rgb-contrast), 0.03);
  --c-canvas-controls-bdr: rgba(var(--c-rgb-contrast), 0.08);
  --c-canvas-controls-clr: rgba(var(--c-rgb-contrast), 0.87);

  --c-page-intro-banner-bgd: rgba(var(--c-rgb-contrast), 0.03);
  --c-page-intro-banner-clr: rgba(var(--c-rgb-contrast), 0.7);

  --c-page-headline-clr: rgba(var(--c-rgb-contrast), 0.17);

  --c-stack-table-head-cell-bgd: rgba(var(--c-rgb-contrast), 0.05);
  --c-stack-table-body-cell-bgd: rgba(var(--c-rgb-contrast), 0.03);

  --c-about-timeline-track: rgba(var(--c-rgb-contrast), 0.17);
  --c-about-timeline-marker: rgba(var(--c-rgb-accent), 0.99);

  /// =====================================================================================
  /// CORE
  /// =====================================================================================

  /// CORE/TOGGLE
  /// =====================================================================================

  --c-toggle-thumb-bgd-enabled-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-thumb-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-thumb-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-thumb-bgd-checked-default: rgba(var(--c-rgb-contrast), 0.87);

  --c-toggle-thumb-bdr-enabled-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-thumb-bdr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-thumb-bdr-pressed-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-thumb-bdr-checked-default: rgba(var(--c-rgb-contrast), 0.87);

  --c-toggle-track-bgd-enabled-default: transparent;
  --c-toggle-track-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.04);
  --c-toggle-track-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.08);
  --c-toggle-track-bgd-checked-default: rgba(var(--c-rgb-contrast), 0.12);

  --c-toggle-track-bdr-enabled-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-track-bdr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-track-bdr-pressed-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toggle-track-bdr-checked-default: rgba(var(--c-rgb-contrast), 0.87);

  /// CORE/BUTTON
  /// =====================================================================================

  --c-button-bgd-enabled-default: transparent;
  --c-button-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.02);
  --c-button-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.03);
  --c-button-bgd-selected-default: rgba(var(--c-rgb-contrast), 0.03);

  --c-button-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.76);
  --c-button-clr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-button-clr-pressed-default: rgba(var(--c-rgb-contrast), 0.93);
  --c-button-clr-selected-default: rgba(var(--c-rgb-contrast), 0.93);

  --c-button-bgd-enabled-default-accent: var(--c-button-bgd-enabled-default);
  --c-button-bgd-hovered-default-accent: var(--c-button-bgd-hovered-default);
  --c-button-bgd-pressed-default-accent: var(--c-button-bgd-pressed-default);
  --c-button-bgd-selected-default-accent: var(--c-button-bgd-selected-default);

  --c-button-clr-enabled-default-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-button-clr-hovered-default-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-button-clr-pressed-default-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-button-clr-selected-default-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-button-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.03);
  --c-button-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.04);
  --c-button-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.05);
  --c-button-bgd-selected-elevated: rgba(var(--c-rgb-contrast), 0.05);

  --c-button-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.76);
  --c-button-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-button-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.93);
  --c-button-clr-selected-elevated: rgba(var(--c-rgb-contrast), 0.93);

  --c-button-bgd-enabled-elevated-accent: var(--c-button-bgd-enabled-elevated);
  --c-button-bgd-hovered-elevated-accent: var(--c-button-bgd-hovered-elevated);
  --c-button-bgd-pressed-elevated-accent: var(--c-button-bgd-pressed-elevated);
  --c-button-bgd-selected-elevated-accent: var(--c-button-bgd-selected-elevated);

  --c-button-clr-enabled-elevated-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-button-clr-hovered-elevated-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-button-clr-pressed-elevated-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-button-clr-selected-elevated-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-button-bgd-enabled-default-accent-tonal: transparent;
  --c-button-bgd-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-button-bgd-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-button-bgd-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);

  --c-button-clr-enabled-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-button-clr-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-button-clr-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-button-clr-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  --c-button-bgd-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-button-bgd-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-button-bgd-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);
  --c-button-bgd-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);

  --c-button-clr-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-button-clr-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-button-clr-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-button-clr-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  /// CORE/ACTION
  /// =====================================================================================

  --c-action-bgd-enabled-default: transparent;
  --c-action-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.02);
  --c-action-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.03);
  --c-action-bgd-selected-default: rgba(var(--c-rgb-contrast), 0.03);

  --c-action-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.76);
  --c-action-clr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-action-clr-pressed-default: rgba(var(--c-rgb-contrast), 0.93);
  --c-action-clr-selected-default: rgba(var(--c-rgb-contrast), 0.93);

  --c-action-bgd-enabled-default-accent: var(--c-action-bgd-enabled-default);
  --c-action-bgd-hovered-default-accent: var(--c-action-bgd-hovered-default);
  --c-action-bgd-pressed-default-accent: var(--c-action-bgd-pressed-default);
  --c-action-bgd-selected-default-accent: var(--c-action-bgd-selected-default);

  --c-action-clr-enabled-default-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-action-clr-hovered-default-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-action-clr-pressed-default-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-action-clr-selected-default-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-action-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.03);
  --c-action-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.04);
  --c-action-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.05);
  --c-action-bgd-selected-elevated: rgba(var(--c-rgb-contrast), 0.05);

  --c-action-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.76);
  --c-action-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-action-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.93);
  --c-action-clr-selected-elevated: rgba(var(--c-rgb-contrast), 0.93);

  --c-action-bgd-enabled-elevated-accent: var(--c-action-bgd-enabled-elevated);
  --c-action-bgd-hovered-elevated-accent: var(--c-action-bgd-hovered-elevated);
  --c-action-bgd-pressed-elevated-accent: var(--c-action-bgd-pressed-elevated);
  --c-action-bgd-selected-elevated-accent: var(--c-action-bgd-selected-elevated);

  --c-action-clr-enabled-elevated-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-action-clr-hovered-elevated-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-action-clr-pressed-elevated-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-action-clr-selected-elevated-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-action-bgd-enabled-default-accent-tonal: transparent;
  --c-action-bgd-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-action-bgd-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-action-bgd-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);

  --c-action-clr-enabled-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-action-clr-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-action-clr-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-action-clr-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  --c-action-bgd-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-action-bgd-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-action-bgd-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);
  --c-action-bgd-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);

  --c-action-clr-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-action-clr-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-action-clr-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-action-clr-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  /// CORE/ICONBTN
  /// =====================================================================================

  --c-iconbtn-bgd-enabled-default: transparent;
  --c-iconbtn-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.02);
  --c-iconbtn-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.03);
  --c-iconbtn-bgd-selected-default: rgba(var(--c-rgb-contrast), 0.03);

  --c-iconbtn-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.76);
  --c-iconbtn-clr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-iconbtn-clr-pressed-default: rgba(var(--c-rgb-contrast), 0.93);
  --c-iconbtn-clr-selected-default: rgba(var(--c-rgb-contrast), 0.93);

  --c-iconbtn-bgd-enabled-default-accent: var(--c-iconbtn-bgd-enabled-default);
  --c-iconbtn-bgd-hovered-default-accent: var(--c-iconbtn-bgd-hovered-default);
  --c-iconbtn-bgd-pressed-default-accent: var(--c-iconbtn-bgd-pressed-default);
  --c-iconbtn-bgd-selected-default-accent: var(--c-iconbtn-bgd-selected-default);

  --c-iconbtn-clr-enabled-default-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-iconbtn-clr-hovered-default-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-iconbtn-clr-pressed-default-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-iconbtn-clr-selected-default-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-iconbtn-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.03);
  --c-iconbtn-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.04);
  --c-iconbtn-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.05);
  --c-iconbtn-bgd-selected-elevated: rgba(var(--c-rgb-contrast), 0.05);

  --c-iconbtn-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.76);
  --c-iconbtn-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-iconbtn-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.93);
  --c-iconbtn-clr-selected-elevated: rgba(var(--c-rgb-contrast), 0.93);

  --c-iconbtn-bgd-enabled-elevated-accent: var(--c-iconbtn-bgd-enabled-elevated);
  --c-iconbtn-bgd-hovered-elevated-accent: var(--c-iconbtn-bgd-hovered-elevated);
  --c-iconbtn-bgd-pressed-elevated-accent: var(--c-iconbtn-bgd-pressed-elevated);
  --c-iconbtn-bgd-selected-elevated-accent: var(--c-iconbtn-bgd-selected-elevated);

  --c-iconbtn-clr-enabled-elevated-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-iconbtn-clr-hovered-elevated-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-iconbtn-clr-pressed-elevated-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-iconbtn-clr-selected-elevated-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-iconbtn-bgd-enabled-default-accent-tonal: transparent;
  --c-iconbtn-bgd-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-iconbtn-bgd-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-iconbtn-bgd-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);

  --c-iconbtn-clr-enabled-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-iconbtn-clr-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-iconbtn-clr-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-iconbtn-clr-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  --c-iconbtn-bgd-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-iconbtn-bgd-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-iconbtn-bgd-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);
  --c-iconbtn-bgd-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);

  --c-iconbtn-clr-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-iconbtn-clr-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-iconbtn-clr-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-iconbtn-clr-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  /// CORE/TOOLBTN
  /// =====================================================================================

  --c-toolbtn-bgd-enabled-default: transparent;
  --c-toolbtn-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.02);
  --c-toolbtn-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.03);
  --c-toolbtn-bgd-selected-default: rgba(var(--c-rgb-contrast), 0.03);

  --c-toolbtn-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.76);
  --c-toolbtn-clr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-toolbtn-clr-pressed-default: rgba(var(--c-rgb-contrast), 0.93);
  --c-toolbtn-clr-selected-default: rgba(var(--c-rgb-contrast), 0.93);

  --c-toolbtn-bgd-enabled-default-accent: var(--c-toolbtn-bgd-enabled-default);
  --c-toolbtn-bgd-hovered-default-accent: var(--c-toolbtn-bgd-hovered-default);
  --c-toolbtn-bgd-pressed-default-accent: var(--c-toolbtn-bgd-pressed-default);
  --c-toolbtn-bgd-selected-default-accent: var(--c-toolbtn-bgd-selected-default);

  --c-toolbtn-clr-enabled-default-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-toolbtn-clr-hovered-default-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-toolbtn-clr-pressed-default-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-toolbtn-clr-selected-default-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-toolbtn-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.03);
  --c-toolbtn-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.04);
  --c-toolbtn-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.05);
  --c-toolbtn-bgd-selected-elevated: rgba(var(--c-rgb-contrast), 0.05);

  --c-toolbtn-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.76);
  --c-toolbtn-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-toolbtn-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.93);
  --c-toolbtn-clr-selected-elevated: rgba(var(--c-rgb-contrast), 0.93);

  --c-toolbtn-bgd-enabled-elevated-accent: var(--c-toolbtn-bgd-enabled-elevated);
  --c-toolbtn-bgd-hovered-elevated-accent: var(--c-toolbtn-bgd-hovered-elevated);
  --c-toolbtn-bgd-pressed-elevated-accent: var(--c-toolbtn-bgd-pressed-elevated);
  --c-toolbtn-bgd-selected-elevated-accent: var(--c-toolbtn-bgd-selected-elevated);

  --c-toolbtn-clr-enabled-elevated-accent: rgba(var(--c-rgb-accent), 0.76);
  --c-toolbtn-clr-hovered-elevated-accent: rgba(var(--c-rgb-accent), 0.87);
  --c-toolbtn-clr-pressed-elevated-accent: rgba(var(--c-rgb-accent), 0.93);
  --c-toolbtn-clr-selected-elevated-accent: rgba(var(--c-rgb-accent), 0.93);

  --c-toolbtn-bgd-enabled-default-accent-tonal: transparent;
  --c-toolbtn-bgd-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-toolbtn-bgd-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-toolbtn-bgd-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.09);

  --c-toolbtn-clr-enabled-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-toolbtn-clr-hovered-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-toolbtn-clr-pressed-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-toolbtn-clr-selected-default-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  --c-toolbtn-bgd-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.07);
  --c-toolbtn-bgd-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.09);
  --c-toolbtn-bgd-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);
  --c-toolbtn-bgd-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.12);

  --c-toolbtn-clr-enabled-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-toolbtn-clr-hovered-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-toolbtn-clr-pressed-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);
  --c-toolbtn-clr-selected-elevated-accent-tonal: rgba(var(--c-rgb-accent), 0.99);

  /// CORE/SELECT
  /// =====================================================================================

  --c-select-box-bgd-enabled: rgba(var(--c-rgb-base), 1);

  --c-select-list-bgd-enabled-default: rgba(var(--c-rgb-contrast), 0);
  --c-select-list-bdr-enabled-default: rgba(var(--c-rgb-contrast), 0.02);
  --c-select-list-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.02);
  --c-select-list-bdr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.02);

  --c-select-target-bgd-enabled-default: transparent;
  --c-select-target-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.01);
  --c-select-target-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.02);
  --c-select-target-bgd-selected-default: rgba(var(--c-rgb-contrast), 0.03);

  --c-select-target-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.76);
  --c-select-target-clr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-select-target-clr-pressed-default: rgba(var(--c-rgb-contrast), 0.93);
  --c-select-target-clr-selected-default: rgba(var(--c-rgb-contrast), 0.93);

  --c-select-target-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.03);
  --c-select-target-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.04);
  --c-select-target-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.05);
  --c-select-target-bgd-selected-elevated: rgba(var(--c-rgb-contrast), 0.06);

  --c-select-target-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.76);
  --c-select-target-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-select-target-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.93);
  --c-select-target-clr-selected-elevated: rgba(var(--c-rgb-contrast), 0.93);

  --c-select-option-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.02);
  --c-select-option-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.03);
  --c-select-option-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.04);
  --c-select-option-bgd-selected-elevated: rgba(var(--c-rgb-contrast), 0.04);

  --c-select-option-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.76);
  --c-select-option-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-select-option-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.93);
  --c-select-option-clr-selected-elevated: rgba(var(--c-rgb-contrast), 0.93);

  /// CORE/CONTROL
  /// =====================================================================================

  --c-control-segment-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-segment-bgd-enabled-default: transparent;

  --c-control-segment-clr-hovered-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-segment-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.02);

  --c-control-segment-clr-pressed-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-segment-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.03);

  --c-control-segment-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-segment-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.02);

  --c-control-segment-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-segment-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.02);

  --c-control-segment-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-segment-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.02);

  --c-control-thumb-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-thumb-bgd-enabled-default: rgba(var(--c-rgb-contrast), 0.03);

  --c-control-thumb-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.87);
  --c-control-thumb-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.02);

  /// CORE/DIVIDER
  /// =====================================================================================

  --c-divider-clr-default: rgba(var(--c-rgb-contrast), 0.32);
  --c-divider-bgd-default: rgba(var(--c-rgb-contrast), 0.32);

  --c-divider-clr-elevated: rgba(var(--c-rgb-contrast), 0.24);
  --c-divider-bgd-elevated: rgba(var(--c-rgb-contrast), 0.24);

  /// CORE/ACCORDION
  /// =====================================================================================

  --c-accordion-target-bgd-enabled-default: transparent;
  --c-accordion-target-clr-enabled-default: rgba(var(--c-rgb-contrast), 0.67);

  --c-accordion-target-bgd-hovered-default: rgba(var(--c-rgb-contrast), 0.02);
  --c-accordion-target-clr-hovered-default: rgba(var(--c-rgb-contrast), 0.67);

  --c-accordion-target-bgd-pressed-default: rgba(var(--c-rgb-contrast), 0.03);
  --c-accordion-target-clr-pressed-default: rgba(var(--c-rgb-contrast), 0.67);

  --c-accordion-target-bgd-enabled-elevated: rgba(var(--c-rgb-contrast), 0.02);
  --c-accordion-target-clr-enabled-elevated: rgba(var(--c-rgb-contrast), 0.67);

  --c-accordion-target-bgd-hovered-elevated: rgba(var(--c-rgb-contrast), 0.03);
  --c-accordion-target-clr-hovered-elevated: rgba(var(--c-rgb-contrast), 0.67);

  --c-accordion-target-bgd-pressed-elevated: rgba(var(--c-rgb-contrast), 0.04);
  --c-accordion-target-clr-pressed-elevated: rgba(var(--c-rgb-contrast), 0.67);
}
