:root {
  --v2-inherit: inherit;
  --v2-transparent: transparent;
}

[data-prefers-color-mode='light'] {
  --v2-hsl-focus: 211, 100%, 50%;
  --v2-hsl-primary: 242, 01%, 100%;
  --v2-hsl-secondary: 242, 01%, 04%;
  --v2-hsl-tertiary: 242, 01%, 80%;

  --v2-rgb-red: 255, 59, 48;
  --v2-rgb-orange: 255, 149, 0;
  --v2-rgb-yellow: 255, 204, 0;
  --v2-rgb-green: 52, 199, 89;
  --v2-rgb-mint: 0, 199, 190;
  --v2-rgb-teal: 48, 176, 199;
  --v2-rgb-cyan: 50, 173, 230;
  --v2-rgb-blue: 0, 122, 255;
  --v2-rgb-indigo: 88, 86, 214;
  --v2-rgb-purple: 175, 82, 222;
  --v2-rgb-pink: 255, 45, 85;
  --v2-rgb-brown: 165, 132, 94;

  &[data-prefers-color-contrast='yes'] {
    --v2-rgb-red: 215, 0, 21;
    --v2-rgb-orange: 201, 52, 0;
    --v2-rgb-yellow: 178, 80, 0;
    --v2-rgb-green: 36, 138, 61;
    --v2-rgb-mint: 12, 129, 123;
    --v2-rgb-teal: 0, 130, 153;
    --v2-rgb-cyan: 0, 113, 164;
    --v2-rgb-blue: 0, 64, 221;
    --v2-rgb-indigo: 54, 52, 163;
    --v2-rgb-purple: 137, 68, 171;
    --v2-rgb-pink: 211, 15, 69;
    --v2-rgb-brown: 127, 101, 69;
  }

  [data-color-scheme='secondary'] {
    --v2-hsl-primary: 242, 01%, 04%;
    --v2-hsl-secondary: 242, 01%, 100%;
    --v2-hsl-tertiary: 242, 01%, 24%;
  }
}

[data-prefers-color-mode='dim'] {
  --v2-hsl-focus: 211, 100%, 50%;
  --v2-hsl-primary: 242, 01%, 14%;
  --v2-hsl-secondary: 242, 01%, 100%;
  --v2-hsl-tertiary: 242, 01%, 34%;

  --v2-rgb-red: 255, 69, 58;
  --v2-rgb-orange: 255, 159, 10;
  --v2-rgb-yellow: 255, 214, 10;
  --v2-rgb-green: 48, 209, 88;
  --v2-rgb-mint: 102, 212, 207;
  --v2-rgb-teal: 64, 200, 224;
  --v2-rgb-cyan: 100, 210, 255;
  --v2-rgb-blue: 10, 132, 255;
  --v2-rgb-indigo: 94, 92, 230;
  --v2-rgb-purple: 191, 90, 242;
  --v2-rgb-pink: 255, 55, 95;
  --v2-rgb-brown: 172, 142, 104;

  &[data-prefers-color-contrast='yes'] {
    --v2-rgb-red: 255, 105, 97;
    --v2-rgb-orange: 255, 179, 64;
    --v2-rgb-yellow: 255, 212, 38;
    --v2-rgb-green: 48, 219, 91;
    --v2-rgb-mint: 102, 212, 207;
    --v2-rgb-teal: 93, 230, 255;
    --v2-rgb-cyan: 112, 215, 255;
    --v2-rgb-blue: 64, 156, 255;
    --v2-rgb-indigo: 125, 122, 255;
    --v2-rgb-purple: 218, 143, 255;
    --v2-rgb-pink: 255, 100, 130;
    --v2-rgb-brown: 181, 148, 105;
  }

  [data-scheme='secondary'] {
    --v2-hsl-primary: 242, 01%, 100%;
    --v2-hsl-secondary: 242, 01%, 14%;
    --v2-hsl-tertiary: 242, 01%, 70%;
  }
}

[data-prefers-color-mode='dark'] {
  --v2-hsl-focus: 211, 100%, 50%;

  --v2-hsl-primary: 242, 01%, 04%;
  --v2-hsl-secondary: 242, 01%, 100%;
  --v2-hsl-tertiary: 242, 01%, 24%;

  --v2-rgb-red: 255, 69, 58;
  --v2-rgb-orange: 255, 159, 10;
  --v2-rgb-yellow: 255, 214, 10;
  --v2-rgb-green: 48, 209, 88;
  --v2-rgb-mint: 102, 212, 207;
  --v2-rgb-teal: 64, 200, 224;
  --v2-rgb-cyan: 100, 210, 255;
  --v2-rgb-blue: 10, 132, 255;
  --v2-rgb-indigo: 94, 92, 230;
  --v2-rgb-purple: 191, 90, 242;
  --v2-rgb-pink: 255, 55, 95;
  --v2-rgb-brown: 172, 142, 104;

  &[data-prefers-color-contrast='yes'] {
    --v2-rgb-red: 255, 105, 97;
    --v2-rgb-orange: 255, 179, 64;
    --v2-rgb-yellow: 255, 212, 38;
    --v2-rgb-green: 48, 219, 91;
    --v2-rgb-mint: 102, 212, 207;
    --v2-rgb-teal: 93, 230, 255;
    --v2-rgb-cyan: 112, 215, 255;
    --v2-rgb-blue: 64, 156, 255;
    --v2-rgb-indigo: 125, 122, 255;
    --v2-rgb-purple: 218, 143, 255;
    --v2-rgb-pink: 255, 100, 130;
    --v2-rgb-brown: 181, 148, 105;
  }

  [data-scheme='secondary'] {
    --v2-hsl-primary: 242, 01%, 100%;
    --v2-hsl-secondary: 242, 01%, 04%;
    --v2-hsl-tertiary: 242, 01%, 80%;
  }
}

// :root {
//   --c-focus: #007aff;
//   --c-white: #ffffff;
//   --c-black: #000000;
//   --c-inherit: inherit;
//   --c-transparent: transparent;

//   --c-rgb-red-dark: 255, 69, 58;
//   --c-rgb-orange-dark: 255, 159, 10;
//   --c-rgb-yellow-dark: 255, 214, 10;
//   --c-rgb-green-dark: 48, 209, 88;
//   --c-rgb-mint-dark: 102, 212, 207;
//   --c-rgb-teal-dark: 64, 200, 224;
//   --c-rgb-cyan-dark: 100, 210, 255;
//   --c-rgb-blue-dark: 10, 132, 255;
//   --c-rgb-indigo-dark: 94, 92, 230;
//   --c-rgb-purple-dark: 191, 90, 242;
//   --c-rgb-pink-dark: 255, 55, 95;
//   --c-rgb-brown-dark: 172, 142, 104;
//   --c-rgb-gray-01-dark: 142, 142, 147;
//   --c-rgb-gray-02-dark: 99, 99, 102;
//   --c-rgb-gray-03-dark: 72, 72, 74;
//   --c-rgb-gray-04-dark: 58, 58, 60;
//   --c-rgb-gray-05-dark: 44, 44, 46;
//   --c-rgb-gray-06-dark: 28, 28, 30;

//   --c-rgb-red-a11y-dark: 255, 105, 97;
//   --c-rgb-orange-a11y-dark: 255, 179, 64;
//   --c-rgb-yellow-a11y-dark: 255, 212, 38;
//   --c-rgb-green-a11y-dark: 48, 219, 91;
//   --c-rgb-mint-a11y-dark: 102, 212, 207;
//   --c-rgb-teal-a11y-dark: 93, 230, 255;
//   --c-rgb-cyan-a11y-dark: 112, 215, 255;
//   --c-rgb-blue-a11y-dark: 64, 156, 255;
//   --c-rgb-indigo-a11y-dark: 125, 122, 255;
//   --c-rgb-purple-a11y-dark: 218, 143, 255;
//   --c-rgb-pink-a11y-dark: 255, 100, 130;
//   --c-rgb-brown-a11y-dark: 181, 148, 105;
//   --c-rgb-gray-01-a11y-dark: 174, 174, 178;
//   --c-rgb-gray-02-a11y-dark: 124, 124, 128;
//   --c-rgb-gray-03-a11y-dark: 84, 84, 86;
//   --c-rgb-gray-04-a11y-dark: 68, 68, 70;
//   --c-rgb-gray-05-a11y-dark: 54, 54, 56;
//   --c-rgb-gray-06-a11y-dark: 36, 36, 38;

//   --c-rgb-red-light: 255, 59, 48;
//   --c-rgb-orange-light: 255, 149, 0;
//   --c-rgb-yellow-light: 255, 204, 0;
//   --c-rgb-green-light: 52, 199, 89;
//   --c-rgb-mint-light: 0, 199, 190;
//   --c-rgb-teal-light: 48, 176, 199;
//   --c-rgb-cyan-light: 50, 173, 230;
//   --c-rgb-blue-light: 0, 122, 255;
//   --c-rgb-indigo-light: 88, 86, 214;
//   --c-rgb-purple-light: 175, 82, 222;
//   --c-rgb-pink-light: 255, 45, 85;
//   --c-rgb-brown-light: 165, 132, 94;
//   --c-rgb-gray-01-light: 142, 142, 147;
//   --c-rgb-gray-02-light: 174, 174, 178;
//   --c-rgb-gray-03-light: 199, 199, 204;
//   --c-rgb-gray-04-light: 209, 209, 214;
//   --c-rgb-gray-05-light: 229, 229, 234;
//   --c-rgb-gray-06-light: 242, 242, 247;

//   --c-rgb-red-a11y-light: 215, 0, 21;
//   --c-rgb-orange-a11y-light: 201, 52, 0;
//   --c-rgb-yellow-a11y-light: 178, 80, 0;
//   --c-rgb-green-a11y-light: 36, 138, 61;
//   --c-rgb-mint-a11y-light: 12, 129, 123;
//   --c-rgb-teal-a11y-light: 0, 130, 153;
//   --c-rgb-cyan-a11y-light: 0, 113, 164;
//   --c-rgb-blue-a11y-light: 0, 64, 221;
//   --c-rgb-indigo-a11y-light: 54, 52, 163;
//   --c-rgb-purple-a11y-light: 137, 68, 171;
//   --c-rgb-pink-a11y-light: 211, 15, 69;
//   --c-rgb-brown-a11y-light: 127, 101, 69;
//   --c-rgb-gray-01-a11y-light: 108, 108, 112;
//   --c-rgb-gray-02-a11y-light: 142, 142, 147;
//   --c-rgb-gray-03-a11y-light: 174, 174, 178;
//   --c-rgb-gray-04-a11y-light: 188, 188, 192;
//   --c-rgb-gray-05-a11y-light: 216, 216, 220;
//   --c-rgb-gray-06-a11y-light: 235, 235, 240;
// }
