.sec-home-hero {
  display: block;
  height: calc(100vh + var(--page-nav-height));
  isolation: isolate;
  margin-inline: auto;
  position: relative;
  z-index: 0;

  h1,
  h2 {
    display: block;
    line-height: 1;
    transition-duration: var(--easing-duration-5);
    transition-property: color;
    transition-timing-function: var(--easing-standard-expressive);
  }

  h1 {
    line-height: 1.2;
    font-weight: var(--font-weight-reg);
    font-size: calc(var(--unit) * 22);

    @media (min-width: 20em) {
      font-size: calc(var(--unit) * 22);
    }
    @media (min-width: 40em) {
      font-size: calc(var(--unit) * 22);
    }
    @media (min-width: 60em) {
      font-size: calc(var(--unit) * 22);
    }
  }

  h2 {
    line-height: 1.2;
    font-weight: var(--font-weight-bld);
    font-size: calc(var(--unit) * 16);
    color: rgba(var(--c-accent), 1);

    @media (min-width: 20em) {
      font-size: calc(var(--unit) * 16);
    }
    @media (min-width: 40em) {
      font-size: calc(var(--unit) * 16);
    }
    @media (min-width: 60em) {
      font-size: calc(var(--unit) * 16);
    }
  }

  &-pattern {
    display: block;
    height: calc(100% - var(--page-nav-height));
    margin-top: var(--page-nav-height);
    position: absolute;
    width: 100%;
    z-index: -2;
  }

  &-content {
    &-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(var(--cols), 1fr);
      grid-template-columns: repeat(calc(var(--cols) * 2), 1fr);
      position: absolute;
      z-index: 1;
    }

    &-copy {
      grid-row: 9 / 11;
      grid-column: 2 / 22;
      position: absolute;
      z-index: 2;

      @media (min-width: 60em) {
        grid-column: 2 / 13;
      }
    }
  }
}

.sec-home-keynote {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--cols), 1fr);

  &-left {
    grid-column: 1 / 7;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(var(--cols), 1fr);
    padding-block: calc(var(--unit) * 48);

    &-header {
      grid-column: 1 / 12;
    }
    &-content {
      grid-column: 2 / 12;
    }
  }

  &-right {
    grid-column: 7 / 13;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(var(--cols), 1fr);
    padding-block: calc(var(--unit) * 48);

    &-header {
      grid-column: 1 / 12;
    }
    &-content {
      grid-column: 1 / 12;
    }
  }
}

.sec-home-overview {
  width: 100%;
  display: block;
  padding-block: calc(var(--unit) * 48);

  &--content {
    padding-inline: var(--page-gutter);
  }

  &-header h3 {
    font-size: calc(var(--unit) * 20);
    margin-top: calc(var(--unit) * 16);
    max-width: 20em;
  }
  &-content .Text {
    color: rgba(var(--c-secondary), 0.76);
    font-size: calc(var(--unit) * 10);
    margin-top: calc(var(--unit) * 16);
    max-width: 40em;
  }
}

.sec-home-experience {
  padding-block: calc(var(--unit) * 48);

  &--content {
    margin-inline: var(--page-gutter);
  }
}
