html,
body,
.v2-layout,
.v2-header,
.v2-page,
.v2-page-hero,
.v2-side,
.v2-side-nav-tooltip,
.v2-side-select-drawer,
.v2-side-select-drawer-layout {
  background-color: var(--c-base);
  color: var(--c-base-text-med);
}

.v2-icon {
  fill: var(--c-base-text-med);
}

.v2-footer {
  background-color: var(--c-base-surface-1-enabled);
}

.v2-side-nav {
  &-target[data-selected] .v2-icon {
    fill: var(--c-accent-icon-max);
  }

  &-tooltip-layout {
    background-color: var(--c-base-surface-1-enabled);
  }
  &-tooltip .v2-text {
    color: var(--c-accent-text-max);
  }

  &-tooltip::after {
    background-color: var(--c-accent);
  }
}

.v2-overview {
  &-hero-title-line-2 {
    color: var(--c-accent-text-max);
  }

  &-stats-card-value {
    color: var(--c-accent-text-max);
  }

  &-stats-card-title {
    color: var(--c-base-text-med);
  }

  &-stats-card-text {
    color: var(--c-base-text-low);
  }

  &-resume-banner-subtitle {
    color: var(--c-accent-text-med);
  }
  &-resume-banner-title-line-1 {
    color: var(--c-base-text-low);
  }

  &-resume-banner-title-line-2 {
    color: var(--c-base-text-med);
  }

  &-resume-list-item {
    background-color: var(--c-base-surface-1-enabled);
  }

  &-resume-list-item::before {
    background-color: var(--c-accent-text-med);
  }

  &-resume-list-item-location {
    color: var(--c-accent-text-max);
  }

  &-resume-list-item-title {
    color: var(--c-base-text-med);
  }

  &-resume-list-item-text {
    color: var(--c-base-text-low);
  }
}

.v2-page-intro-banner {
  background-color: var(--c-base-surface-1-enabled);
  color: var(--c-base-text-low);
}

.v2-page-link--base-defualt {
  &:not([data-disabled]),
  &:not([data-readonly]) {
    background-color: var(--c-base-surface-enabled);
    color: var(--c-base-text-med);
  }
  &:not([data-disabled]):hover,
  &:not([data-readonly]):hover {
    background-color: var(--c-base-surface-hovered);
    color: var(--c-base-text-med);
  }
  &:not([data-disabled]):active,
  &:not([data-readonly]):active {
    background-color: var(--c-base-surface-pressed);
    color: var(--c-base-text-max);
  }
  &:not([data-disabled])[data-selected],
  &:not([data-readonly])[data-selected] {
    background-color: var(--c-base-surface-selected);
    color: var(--c-base-text-max);
  }
}

.v2-page-link--base-elevated {
  &:not([data-disabled]),
  &:not([data-readonly]) {
    background-color: var(--c-base-surface-1-enabled);
    color: var(--c-base-text-med);
  }
  &:not([data-disabled]):hover,
  &:not([data-readonly]):hover {
    background-color: var(--c-base-surface-1-hovered);
    color: var(--c-base-text-med);
  }
  &:not([data-disabled]):active,
  &:not([data-readonly]):active {
    background-color: var(--c-base-surface-1-pressed);
    color: var(--c-base-text-max);
  }
  &:not([data-disabled])[data-selected],
  &:not([data-readonly])[data-selected] {
    background-color: var(--c-base-surface-1-selected);
    color: var(--c-base-text-max);
  }
}

.v2-page-link--base-defualt,
.v2-page-link--base-elevated {
  &:not([data-disabled]) .v2-icon,
  &:not([data-readonly]) .v2-icon {
    fill: var(--c-base-icon-med);
  }
  &:not([data-disabled]):hover .v2-icon,
  &:not([data-readonly]):hover .v2-icon {
    fill: var(--c-base-icon-med);
  }
  &:not([data-disabled]):active .v2-icon,
  &:not([data-readonly]):active .v2-icon {
    fill: var(--c-base-icon-max);
  }
  &:not([data-disabled])[data-selected] .v2-icon,
  &:not([data-readonly])[data-selected] .v2-icon {
    fill: var(--c-base-icon-max);
  }
}

.v2-page-link--accent-defualt {
  &:not([data-disabled]),
  &:not([data-readonly]) {
    background-color: var(--c-base-surface-enabled);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):hover,
  &:not([data-readonly]):hover {
    background-color: var(--c-base-surface-hovered);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):active,
  &:not([data-readonly]):active {
    background-color: var(--c-base-surface-pressed);
    color: var(--c-accent-text-max);
  }
  &:not([data-disabled])[data-selected],
  &:not([data-readonly])[data-selected] {
    background-color: var(--c-base-surface-selected);
    color: var(--c-accent-text-max);
  }
}

.v2-page-link--accent-elevated {
  &:not([data-disabled]),
  &:not([data-readonly]) {
    background-color: var(--c-base-surface-1-enabled);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):hover,
  &:not([data-readonly]):hover {
    background-color: var(--c-base-surface-1-hovered);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):active,
  &:not([data-readonly]):active {
    background-color: var(--c-base-surface-1-pressed);
    color: var(--c-accent-text-max);
  }
  &:not([data-disabled])[data-selected],
  &:not([data-readonly])[data-selected] {
    background-color: var(--c-base-surface-1-selected);
    color: var(--c-accent-text-max);
  }
}

.v2-page-link--accent-tonal {
  &:not([data-disabled]),
  &:not([data-readonly]) {
    background-color: var(--c-accent-surface-1-enabled);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):hover,
  &:not([data-readonly]):hover {
    background-color: var(--c-accent-surface-1-hovered);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):active,
  &:not([data-readonly]):active {
    background-color: var(--c-accent-surface-1-pressed);
    color: var(--c-accent-text-max);
  }
  &:not([data-disabled])[data-selected],
  &:not([data-readonly])[data-selected] {
    background-color: var(--c-accent-surface-1-selected);
    color: var(--c-accent-text-max);
  }
}

.v2-page-link--accent-ghost {
  &:not([data-disabled]),
  &:not([data-readonly]) {
    background-color: var(--c-base-surface-enabled);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):hover,
  &:not([data-readonly]):hover {
    background-color: var(--c-accent-surface-hovered);
    color: var(--c-accent-text-med);
  }
  &:not([data-disabled]):active,
  &:not([data-readonly]):active {
    background-color: var(--c-accent-surface-pressed);
    color: var(--c-accent-text-max);
  }
  &:not([data-disabled])[data-selected],
  &:not([data-readonly])[data-selected] {
    background-color: var(--c-accent-surface-selected);
    color: var(--c-accent-text-max);
  }
}

.v2-page-link--accent-ghost,
.v2-page-link--accent-tonal,
.v2-page-link--accent-default,
.v2-page-link--accent-elevated {
  &:not([data-disabled]) .v2-icon,
  &:not([data-readonly]) .v2-icon {
    fill: var(--c-accent-icon-med);
  }
  &:not([data-disabled]):hover .v2-icon,
  &:not([data-readonly]):hover .v2-icon {
    fill: var(--c-accent-icon-med);
  }
  &:not([data-disabled]):active .v2-icon,
  &:not([data-readonly]):active .v2-icon {
    fill: var(--c-accent-icon-max);
  }
  &:not([data-disabled])[data-selected] .v2-icon,
  &:not([data-readonly])[data-selected] .v2-icon {
    fill: var(--c-accent-icon-max);
  }
}
