@layer tokens {
  :root {
    --motion-delay: 1ms;
    --motion-repeat: 1;
    --motion-duration: calc(var(--frame-length) * 4);

    --easing-delay: 1ms;
    --easing-duration: calc(var(--frame-length) * 4);

    --easing-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
    --easing-productive-exit: cubic-bezier(0.2, 0, 1, 0.9);
    --easing-productive-enter: cubic-bezier(0, 0, 0.38, 0.9);

    --easing-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
    --easing-expressive-exit: cubic-bezier(0.4, 0.14, 1, 1);
    --easing-expressive-enter: cubic-bezier(0, 0, 0.3, 1);
  }
}
