@use '../../mixins' as mixins;

@layer reset {
  .menu {
    @include mixins.reset;
    &-panel,
    &-header,
    &-footer,
    &-target,
    &-target-grid,
    &-target-grid-row,
    &-target-grid-cell {
      @include mixins.reset;
    }
  }
}

.menu {
  &-target-grid {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--unit) * 2);

    &-row {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--unit) * 2);
    }
    &-cell {
      display: flex;
      height: calc(var(--unit) * 2);
      width: calc(var(--unit) * 2);
    }
  }

  &-nav {
    display: none;

    @media (min-width: 60em) {
      display: block;
      top: var(--height-header);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: calc(var(--index-menu) + 1);
      position: fixed;
      isolation: isolate;
      width: var(--height-header);

      &-list {
        margin: var(--unit);
      }
    }
  }

  &-panel {
    top: var(--height-header);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: calc(var(--index-menu) - 1);
    position: fixed;
    isolation: isolate;

    @media (min-width: 60em) {
      left: calc(var(--height-header) + var(--unit));
      max-width: var(--width-menu-panel);
    }

    &-content {
      margin: var(--unit);
    }
  }
}
