@use '../../mixins' as mixins;

@layer reset {
  .footer {
    @include mixins.reset;
    &-content,
    &-box:nth-of-type(1),
    &-box:nth-of-type(2) {
      @include mixins.reset;
    }
  }
}

.footer {
  display: block;
  position: relative;
  isolation: isolate;

  @media (min-width: 60em) {
    margin-left: var(--header-height);
  }

  &-content {
    width: 100%;
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 60em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-box:nth-of-type(1),
  &-box:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-inline: var(--gutter);
    padding-block: calc(var(--gutter) * 2);
    min-height: var(--height-footer);
    width: 100%;
  }
}
