.v2-control-segment {
  transition-property: background-color, border-color, outline-color, color, fill, stroke, opacity;
  transition-timing-function: var(--v2-easing-productive);
  transition-duration: var(--v2-duration-moderate-01);

  &--default {
    background-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  &--default .v2-icon {
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  &--default .v2-label {
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  &--default:hover {
    background-color: hsla(var(--v2-hsl-surface), 0.01);
    color: hsla(var(--v2-hsl-surface), 1);
  }

  &--default:hover .v2-icon {
    color: hsla(var(--v2-hsl-surface), 1);
  }

  &--default:hover .v2-label {
    color: hsla(var(--v2-hsl-surface), 1);
  }

  &--default:active {
    background-color: hsla(var(--v2-hsl-surface), 0.01);
    color: hsla(var(--v2-hsl-surface), 1);
  }

  &--accent:active .v2-icon {
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &--accent:active .v2-label {
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &--accent {
    background-color: hsla(var(--v2-hsl-surface), 0);
    color: hsla(var(--v2-hsl-accent), 0.87);
  }

  &--accent .v2-icon {
    color: hsla(var(--v2-hsl-accent), 0.87);
  }

  &--accent .v2-label {
    color: hsla(var(--v2-hsl-accent), 0.87);
  }

  &--accent:hover {
    background-color: hsla(var(--v2-hsl-surface), 0.01);
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &--accent:hover .v2-icon {
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &--accent:hover .v2-label {
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &--accent:active {
    background-color: hsla(var(--v2-hsl-surface), 0.01);
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &--accent:active .v2-icon {
    color: hsla(var(--v2-hsl-accent), 1);
  }

  &--accent:active .v2-label {
    color: hsla(var(--v2-hsl-accent), 1);
  }
}

.v2-control-thumb {
  transition-property: background-color, border-color, outline-color, color, transform;
  transition-timing-function: var(--v2-easing-productive);
  transition-duration: var(--v2-duration-slow-01);

  &--default {
    background-color: hsla(var(--v2-hsl-surface), 0.05);
    color: hsla(var(--v2-hsl-surface), 0.87);
  }

  &--accent {
    background-color: hsla(var(--v2-hsl-surface), 0.05);
    color: hsla(var(--v2-hsl-accent), 0.87);
  }
}

[data-prefers-color-mode='light'] {
  .v2-control-thumb {
    &--default {
      background-color: hsla(var(--v2-hsl-surface), 0.08);
      color: hsla(var(--v2-hsl-surface), 0.87);
    }

    &--accent {
      background-color: hsla(var(--v2-hsl-surface), 0.08);
      color: hsla(var(--v2-hsl-accent), 0.87);
    }
  }

  .v2-control-segment {
    &--default {
      background-color: hsla(var(--v2-hsl-surface), 0);
      color: hsla(var(--v2-hsl-surface), 0.87);
    }

    &--default:hover {
      background-color: hsla(var(--v2-hsl-surface), 0.01);
      color: hsla(var(--v2-hsl-surface), 1);
    }

    &--default:hover .v2-icon {
      color: hsla(var(--v2-hsl-surface), 1);
    }

    &--default:hover .v2-label {
      color: hsla(var(--v2-hsl-surface), 1);
    }

    &--default:active {
      background-color: hsla(var(--v2-hsl-surface), 0.01);
      color: hsla(var(--v2-hsl-surface), 1);
    }

    &--default:active .v2-icon {
      color: hsla(var(--v2-hsl-surface), 1);
    }

    &--default:active .v2-label {
      color: hsla(var(--v2-hsl-surface), 1);
    }

    &--accent {
      background-color: hsla(var(--v2-hsl-surface), 0);
      color: hsla(var(--v2-hsl-accent), 0.87);
    }

    &--accent:hover {
      background-color: hsla(var(--v2-hsl-surface), 0.01);
      color: hsla(var(--v2-hsl-accent), 1);
    }

    &--accent:hover .v2-icon {
      color: hsla(var(--v2-hsl-accent), 1);
    }

    &--accent:hover .v2-label {
      color: hsla(var(--v2-hsl-accent), 1);
    }

    &--accent:active {
      background-color: hsla(var(--v2-hsl-surface), 0.01);
      color: hsla(var(--v2-hsl-accent), 1);
    }

    &--accent:active .v2-icon {
      color: hsla(var(--v2-hsl-accent), 1);
    }

    &--accent:active .v2-label {
      color: hsla(var(--v2-hsl-accent), 1);
    }
  }
}
