.v2-text {
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-expressive);
  transition-duration: var(--v2-duration-slow-01);
}
