.v2-button {
  &:not([data-loading]),
  &:not([data-readonly]),
  &:not([data-disabled]) {
    background-color: var(--v2-color-button-0-enabled);
    border-color: transparent;
    color: inherit;

    .v2-icon {
      color: inherit;
    }
  }

  &:not([data-loading]):hover,
  &:not([data-readonly]):hover,
  &:not([data-disabled]):hover {
    background-color: var(--v2-color-button-0-hovered);
    color: var(--v2-color-text-0);
  }

  &:not([data-loading])[data-selected],
  &:not([data-readonly])[data-selected],
  &:not([data-disabled])[data-selected] {
    background-color: var(--v2-color-button-0-hovered);
    color: var(--v2-color-text-0);
  }

  &:not([data-loading]):active,
  &:not([data-readonly]):active,
  &:not([data-disabled]):active {
    background-color: var(--v2-color-button-0-pressed);
    color: var(--v2-color-text-0);
  }

  // &[data-loading] {
  // }
  // &[data-readonly] {
  // }
  // &[data-disabled] {
  // }
}

.v2-action {
  &:not([data-loading]),
  &:not([data-readonly]),
  &:not([data-disabled]) {
    background-color: var(--v2-color-button-0-enabled);
    border-color: transparent;
    color: inherit;

    .v2-icon {
      color: var(--v2-color-text-0);
    }
  }

  &:not([data-loading]):hover,
  &:not([data-readonly]):hover,
  &:not([data-disabled]):hover {
    background-color: var(--v2-color-button-0-hovered);
    color: var(--v2-color-text-0);
  }

  &:not([data-loading])[data-selected],
  &:not([data-readonly])[data-selected],
  &:not([data-disabled])[data-selected] {
    background-color: var(--v2-color-button-0-hovered);
    color: var(--v2-color-text-0);
  }

  &:not([data-loading]):active,
  &:not([data-readonly]):active,
  &:not([data-disabled]):active {
    background-color: var(--v2-color-button-0-pressed);
    color: var(--v2-color-text-0);
  }
}

.v2-icon {
  color: var(--v2-color-text-0);
}
