// .v2-select-target--default:not([data-loading]),
// .v2-select-target--default:not([data-readonly]),
// .v2-select-target--default:not([data-disabled]) {
//   background-color: hsla(var(--v2-hsl-surface), 0.02);
//   border-color: hsla(var(--v2-hsl-surface), 0.03);
//   color: hsla(var(--v2-hsl-surface), 0.67);

//   .v2-icon {
//     color: hsla(var(--v2-hsl-surface), 0.67);
//   }

//   [data-prefers-color-mode='light'] & {
//     background-color: hsla(var(--v2-hsl-surface), 0.06);
//   }
// }

// .v2-select-target--default:not([data-loading]):hover,
// .v2-select-target--default:not([data-readonly]):hover,
// .v2-select-target--default:not([data-disabled]):hover {
//   background-color: hsla(var(--v2-hsl-surface), 0.04);
//   color: hsla(var(--v2-hsl-surface), 0.87);
// }

// .v2-select-target--default:not([data-loading]):active,
// .v2-select-target--default:not([data-readonly]):active,
// .v2-select-target--default:not([data-disabled]):active {
//   background-color: hsla(var(--v2-hsl-surface), 0.05);
//   color: hsla(var(--v2-hsl-surface), 0.87);
// }

// .v2-select-target--default[data-disabled],
// .v2-select-target--default[data-disabled]:hover,
// .v2-select-target--default[data-disabled]:active {
//   background-color: hsla(var(--v2-hsl-surface), 0.3);
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-base), 1);

//   .v2-icon {
//     color: hsla(var(--v2-hsl-base), 1);
//   }
// }

// .v2-select-option--default:not([data-loading]),
// .v2-select-option--default:not([data-readonly]),
// .v2-select-option--default:not([data-disabled]) {
//   background-color: hsla(var(--v2-hsl-surface), 0.02);
//   color: hsla(var(--v2-hsl-surface), 0.67);

//   .v2-icon {
//     color: hsla(var(--v2-hsl-surface), 0.67);
//   }
// }

// .v2-select-option--default:not([data-loading]):hover,
// .v2-select-option--default:not([data-readonly]):hover,
// .v2-select-option--default:not([data-disabled]):hover {
//   background-color: hsla(var(--v2-hsl-surface), 0.04);
//   color: hsla(var(--v2-hsl-surface), 0.87);
// }

// .v2-select-option--default:not([data-loading]):active,
// .v2-select-option--default:not([data-readonly]):active,
// .v2-select-option--default:not([data-disabled]):active {
//   background-color: hsla(var(--v2-hsl-surface), 0.05);
//   color: hsla(var(--v2-hsl-surface), 0.87);
// }

// .v2-select-option--default[data-selected] {
//   background-color: hsla(var(--v2-hsl-surface), 0.04);
//   color: hsla(var(--v2-hsl-surface), 0.87);
// }

.v2-switch,
.v2-switch-track,
.v2-switch .v2-icon {
  transition-property: background-color, border-color, outline-color, color, fill, stroke;
  transition-timing-function: var(--v2-easing-productive);
  transition-duration: var(--v2-duration-moderate-01);
}

.v2-switch--default:not([data-loading]) .v2-label,
.v2-switch--default:not([data-readonly]) .v2-label,
.v2-switch--default:not([data-disabled]) .v2-label {
  color: hsla(var(--v2-hsl-surface), 0.87);
}

.v2-switch--default:not([data-loading]) .v2-switch-track,
.v2-switch--default:not([data-readonly]) .v2-switch-track,
.v2-switch--default:not([data-disabled]) .v2-switch-track {
  border-color: hsla(var(--v2-hsl-surface), 0.32);
}

.v2-switch--default:not([data-loading]) .v2-switch-thumb,
.v2-switch--default:not([data-readonly]) .v2-switch-thumb,
.v2-switch--default:not([data-disabled]) .v2-switch-thumb {
  background-color: hsla(var(--v2-hsl-surface), 0.87);
}

.v2-switch--default:not([data-loading]):hover .v2-label,
.v2-switch--default:not([data-readonly]):hover .v2-label,
.v2-switch--default:not([data-disabled]):hover .v2-label {
  color: hsla(var(--v2-hsl-surface), 1);
}

.v2-switch--default:not([data-loading]):hover .v2-switch-track,
.v2-switch--default:not([data-readonly]):hover .v2-switch-track,
.v2-switch--default:not([data-disabled]):hover .v2-switch-track {
  border-color: hsla(var(--v2-hsl-surface), 0.48);
  background-color: hsla(var(--v2-hsl-surface), 0.02);
}

.v2-switch--default:not([data-loading]):hover .v2-switch-thumb,
.v2-switch--default:not([data-readonly]):hover .v2-switch-thumb,
.v2-switch--default:not([data-disabled]):hover .v2-switch-thumb {
  background-color: hsla(var(--v2-hsl-surface), 1);
}

.v2-switch--default:not([data-loading]):active .v2-label,
.v2-switch--default:not([data-readonly]):active .v2-label,
.v2-switch--default:not([data-disabled]):active .v2-label {
  color: hsla(var(--v2-hsl-surface), 1);
}

.v2-switch--default:not([data-loading]):active .v2-switch-track,
.v2-switch--default:not([data-readonly]):active .v2-switch-track,
.v2-switch--default:not([data-disabled]):active .v2-switch-track {
  border-color: hsla(var(--v2-hsl-surface), 0.48);
  background-color: hsla(var(--v2-hsl-surface), 0.04);
}

.v2-switch--default:not([data-loading]):active .v2-switch-thumb,
.v2-switch--default:not([data-readonly]):active .v2-switch-thumb,
.v2-switch--default:not([data-disabled]):active .v2-switch-thumb {
  background-color: hsla(var(--v2-hsl-surface), 1);
}

.v2-switch--default[data-checked] .v2-switch-thumb,
.v2-switch--default[data-checked]:hover .v2-switch-thumb,
.v2-switch--default[data-checked]:active .v2-switch-thumb {
  background-color: hsla(var(--v2-hsl-accent), 1);
}

.v2-switch--default[data-checked] .v2-switch-track,
.v2-switch--default[data-checked]:hover .v2-switch-track,
.v2-switch--default[data-checked]:active .v2-switch-track {
  background-color: hsla(var(--v2-hsl-surface), 0.1);
}

.v2-switch--default[data-disabled] .v2-switch-thumb,
.v2-switch--default[data-disabled]:hover .v2-switch-thumb,
.v2-switch--default[data-disabled]:active .v2-switch-thumb {
  background-color: hsla(var(--v2-hsl-surface), 0.3);
}

.v2-switch--default[data-disabled] .v2-switch-track,
.v2-switch--default[data-disabled]:hover .v2-switch-track,
.v2-switch--default[data-disabled]:active .v2-switch-track {
  background-color: hsla(var(--v2-hsl-surface), 0.3);
}

.v2-switch--default[data-disabled] .v2-label,
.v2-switch--default[data-disabled]:hover .v2-label,
.v2-switch--default[data-disabled]:active .v2-label {
  color: hsla(var(--v2-hsl-surface), 0.3);
}

// .v2-tabs-item {
//   transition-property: background-color, border-color, outline-color, color, fill, stroke;
//   transition-timing-function: var(--v2-easing-productive);
//   transition-duration: var(--v2-duration-moderate-01);

//   &::after {
//     transition-property: background-color, border-color, outline-color, color, fill, stroke;
//     transition-timing-function: var(--v2-easing-productive);
//     transition-duration: var(--v2-duration-moderate-01);
//   }
// }

// .v2-tabs-item--default:not([data-loading]),
// .v2-tabs-item--default:not([data-readonly]),
// .v2-tabs-item--default:not([data-disabled]) {
//   background-color: transparent;
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-surface), 0.47);

//   &::after {
//     background-color: hsla(var(--v2-hsl-surface), 0.16);
//   }
// }

// .v2-tabs-item--default:not([data-loading]):hover,
// .v2-tabs-item--default:not([data-readonly]):hover,
// .v2-tabs-item--default:not([data-disabled]):hover,
// .v2-tabs-item--default:not([data-loading])[data-selected],
// .v2-tabs-item--default:not([data-readonly])[data-selected],
// .v2-tabs-item--default:not([data-disabled])[data-selected] {
//   background-color: transparent;
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-surface), 0.47);

//   &::after {
//     background-color: hsla(var(--v2-hsl-surface), 0.16);
//   }
// }

// .v2-tabs-item--default:not([data-loading]):active,
// .v2-tabs-item--default:not([data-readonly]):active,
// .v2-tabs-item--default:not([data-disabled]):active {
//   background-color: transparent;
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-surface), 0.47);

//   &::after {
//     background-color: hsla(var(--v2-hsl-surface), 0.16);
//   }
// }

// .v2-tabs-item--accent:not([data-loading]),
// .v2-tabs-item--accent:not([data-readonly]),
// .v2-tabs-item--accent:not([data-disabled]) {
//   background-color: transparent;
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-surface), 0.47);

//   &::after {
//     background-color: hsla(var(--v2-hsl-surface), 0.16);
//   }
// }

// .v2-tabs-item--accent:not([data-loading]):hover,
// .v2-tabs-item--accent:not([data-readonly]):hover,
// .v2-tabs-item--accent:not([data-disabled]):hover {
//   background-color: hsla(var(--v2-hsl-surface), 0.02);
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-surface), 0.67);

//   &::after {
//     background-color: hsla(var(--v2-hsl-surface), 0.24);
//   }
// }

// .v2-tabs-item--accent:not([data-loading])[data-selected],
// .v2-tabs-item--accent:not([data-readonly])[data-selected],
// .v2-tabs-item--accent:not([data-disabled])[data-selected] {
//   background-color: hsla(var(--v2-hsl-surface), 0.02);
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-accent), 1);

//   &::after {
//     background-color: hsla(var(--v2-hsl-accent), 1);
//   }
// }

// .v2-tabs-item--accent:not([data-loading]):active,
// .v2-tabs-item--accent:not([data-readonly]):active,
// .v2-tabs-item--accent:not([data-disabled]):active {
//   background-color: hsla(var(--v2-hsl-surface), 0.04);
//   border-color: transparent;
//   color: hsla(var(--v2-hsl-surface), 0.87);

//   &::after {
//     background-color: hsla(var(--v2-hsl-surface), 0.32);
//   }
// }
