[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  --c-red-A100: hsla(var(--hsl-red), 0.1);
  --c-orange-A100: hsla(var(--hsl-orange), 0.1);
  --c-yellow-A100: hsla(var(--hsl-yellow), 0.1);
  --c-green-A100: hsla(var(--hsl-green), 0.1);
  --c-mint-A100: hsla(var(--hsl-mint), 0.1);
  --c-teal-A100: hsla(var(--hsl-teal), 0.1);
  --c-cyan-A100: hsla(var(--hsl-cyan), 0.1);
  --c-blue-A100: hsla(var(--hsl-blue), 0.1);
  --c-indigo-A100: hsla(var(--hsl-indigo), 0.1);
  --c-purple-A100: hsla(var(--hsl-purple), 0.1);
  --c-pink-A100: hsla(var(--hsl-pink), 0.1);
  --c-brown-A100: hsla(var(--hsl-brown), 0.1);

  --c-red-A200: hsla(var(--hsl-red), 0.2);
  --c-orange-A200: hsla(var(--hsl-orange), 0.2);
  --c-yellow-A200: hsla(var(--hsl-yellow), 0.2);
  --c-green-A200: hsla(var(--hsl-green), 0.2);
  --c-mint-A200: hsla(var(--hsl-mint), 0.2);
  --c-teal-A200: hsla(var(--hsl-teal), 0.2);
  --c-cyan-A200: hsla(var(--hsl-cyan), 0.2);
  --c-blue-A200: hsla(var(--hsl-blue), 0.2);
  --c-indigo-A200: hsla(var(--hsl-indigo), 0.2);
  --c-purple-A200: hsla(var(--hsl-purple), 0.2);
  --c-pink-A200: hsla(var(--hsl-pink), 0.2);
  --c-brown-A200: hsla(var(--hsl-brown), 0.2);

  --c-red-A300: hsla(var(--hsl-red), 0.3);
  --c-orange-A300: hsla(var(--hsl-orange), 0.3);
  --c-yellow-A300: hsla(var(--hsl-yellow), 0.3);
  --c-green-A300: hsla(var(--hsl-green), 0.3);
  --c-mint-A300: hsla(var(--hsl-mint), 0.3);
  --c-teal-A300: hsla(var(--hsl-teal), 0.3);
  --c-cyan-A300: hsla(var(--hsl-cyan), 0.3);
  --c-blue-A300: hsla(var(--hsl-blue), 0.3);
  --c-indigo-A300: hsla(var(--hsl-indigo), 0.3);
  --c-purple-A300: hsla(var(--hsl-purple), 0.3);
  --c-pink-A300: hsla(var(--hsl-pink), 0.3);
  --c-brown-A300: hsla(var(--hsl-brown), 0.3);

  --c-red-A400: hsla(var(--hsl-red), 0.4);
  --c-orange-A400: hsla(var(--hsl-orange), 0.4);
  --c-yellow-A400: hsla(var(--hsl-yellow), 0.4);
  --c-green-A400: hsla(var(--hsl-green), 0.4);
  --c-mint-A400: hsla(var(--hsl-mint), 0.4);
  --c-teal-A400: hsla(var(--hsl-teal), 0.4);
  --c-cyan-A400: hsla(var(--hsl-cyan), 0.4);
  --c-blue-A400: hsla(var(--hsl-blue), 0.4);
  --c-indigo-A400: hsla(var(--hsl-indigo), 0.4);
  --c-purple-A400: hsla(var(--hsl-purple), 0.4);
  --c-pink-A400: hsla(var(--hsl-pink), 0.4);
  --c-brown-A400: hsla(var(--hsl-brown), 0.4);

  --c-red-A500: hsla(var(--hsl-red), 0.5);
  --c-orange-A500: hsla(var(--hsl-orange), 0.5);
  --c-yellow-A500: hsla(var(--hsl-yellow), 0.5);
  --c-green-A500: hsla(var(--hsl-green), 0.5);
  --c-mint-A500: hsla(var(--hsl-mint), 0.5);
  --c-teal-A500: hsla(var(--hsl-teal), 0.5);
  --c-cyan-A500: hsla(var(--hsl-cyan), 0.5);
  --c-blue-A500: hsla(var(--hsl-blue), 0.5);
  --c-indigo-A500: hsla(var(--hsl-indigo), 0.5);
  --c-purple-A500: hsla(var(--hsl-purple), 0.5);
  --c-pink-A500: hsla(var(--hsl-pink), 0.5);
  --c-brown-A500: hsla(var(--hsl-brown), 0.5);

  --c-red-A600: hsla(var(--hsl-red), 0.6);
  --c-orange-A600: hsla(var(--hsl-orange), 0.6);
  --c-yellow-A600: hsla(var(--hsl-yellow), 0.6);
  --c-green-A600: hsla(var(--hsl-green), 0.6);
  --c-mint-A600: hsla(var(--hsl-mint), 0.6);
  --c-teal-A600: hsla(var(--hsl-teal), 0.6);
  --c-cyan-A600: hsla(var(--hsl-cyan), 0.6);
  --c-blue-A600: hsla(var(--hsl-blue), 0.6);
  --c-indigo-A600: hsla(var(--hsl-indigo), 0.6);
  --c-purple-A600: hsla(var(--hsl-purple), 0.6);
  --c-pink-A600: hsla(var(--hsl-pink), 0.6);
  --c-brown-A600: hsla(var(--hsl-brown), 0.6);

  --c-red-A700: hsla(var(--hsl-red), 0.7);
  --c-orange-A700: hsla(var(--hsl-orange), 0.7);
  --c-yellow-A700: hsla(var(--hsl-yellow), 0.7);
  --c-green-A700: hsla(var(--hsl-green), 0.7);
  --c-mint-A700: hsla(var(--hsl-mint), 0.7);
  --c-teal-A700: hsla(var(--hsl-teal), 0.7);
  --c-cyan-A700: hsla(var(--hsl-cyan), 0.7);
  --c-blue-A700: hsla(var(--hsl-blue), 0.7);
  --c-indigo-A700: hsla(var(--hsl-indigo), 0.7);
  --c-purple-A700: hsla(var(--hsl-purple), 0.7);
  --c-pink-A700: hsla(var(--hsl-pink), 0.7);
  --c-brown-A700: hsla(var(--hsl-brown), 0.7);

  --c-red-A800: hsla(var(--hsl-red), 0.8);
  --c-orange-A800: hsla(var(--hsl-orange), 0.8);
  --c-yellow-A800: hsla(var(--hsl-yellow), 0.8);
  --c-green-A800: hsla(var(--hsl-green), 0.8);
  --c-mint-A800: hsla(var(--hsl-mint), 0.8);
  --c-teal-A800: hsla(var(--hsl-teal), 0.8);
  --c-cyan-A800: hsla(var(--hsl-cyan), 0.8);
  --c-blue-A800: hsla(var(--hsl-blue), 0.8);
  --c-indigo-A800: hsla(var(--hsl-indigo), 0.8);
  --c-purple-A800: hsla(var(--hsl-purple), 0.8);
  --c-pink-A800: hsla(var(--hsl-pink), 0.8);
  --c-brown-A800: hsla(var(--hsl-brown), 0.8);

  --c-red-A900: hsla(var(--hsl-red), 0.9);
  --c-orange-A900: hsla(var(--hsl-orange), 0.9);
  --c-yellow-A900: hsla(var(--hsl-yellow), 0.9);
  --c-green-A900: hsla(var(--hsl-green), 0.9);
  --c-mint-A900: hsla(var(--hsl-mint), 0.9);
  --c-teal-A900: hsla(var(--hsl-teal), 0.9);
  --c-cyan-A900: hsla(var(--hsl-cyan), 0.9);
  --c-blue-A900: hsla(var(--hsl-blue), 0.9);
  --c-indigo-A900: hsla(var(--hsl-indigo), 0.9);
  --c-purple-A900: hsla(var(--hsl-purple), 0.9);
  --c-pink-A900: hsla(var(--hsl-pink), 0.9);
  --c-brown-A900: hsla(var(--hsl-brown), 0.9);
}
