@use '../mixins' as mixins;

@layer tokens {
  :root {
    --stack-gap-xs: calc(var(--gap) * 1);
    --stack-gap-sm: calc(var(--gap) * 2);
    --stack-gap-md: calc(var(--gap) * 4);
    --stack-gap-lg: calc(var(--gap) * 6);
    --stack-gap-xl: calc(var(--gap) * 8);
  }
}

.stack {
  @include mixins.reset;

  display: flex;
  flex-direction: column;
  justify-content: var(--stack-justify);
  align-items: var(--stack-align);
  gap: var(--stack-gap);

  &--align-start {
    --stack-align: flex-start;
  }
  &--align-end {
    --stack-align: flex-end;
  }
  &--align-center {
    --stack-align: center;
  }
  &--justify-start {
    --stack-justify: flex-start;
  }
  &--justify-end {
    --stack-justify: flex-end;
  }
  &--justify-center {
    --stack-justify: center;
  }

  &--gap-xs {
    --stack-gap: var(--stack-gap-xs);
  }
  &--gap-sm {
    --stack-gap: var(--stack-gap-sm);
  }
  &--gap-md {
    --stack-gap: var(--stack-gap-md);
  }
  &--gap-lg {
    --stack-gap: var(--stack-gap-lg);
  }
  &--gap-xl {
    --stack-gap: var(--stack-gap-xl);
  }
}
