.v2-viewer {
  &-layout {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--v2-01);
  }

  &-panel {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--v2-01);

    // border: solid 1px orange;

    .v2-divider {
      margin-block: var(--v2-04);
    }

    &-meta {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      padding: calc(var(--v2-gutter) / 2);
    }

    .v2-title {
      font-size: var(--v2-font-size-05);
      font-weight: var(--v2-font-weight-med);
      line-height: var(--v2-line-height-sm);
    }

    .v2-text {
      font-size: var(--v2-font-size-03);
      font-weight: var(--v2-font-weight-reg);
      line-height: var(--v2-line-height-md);
    }

    &-layout {
      height: 600px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      padding: calc(var(--v2-gutter) / 2);
    }
  }

  &-canvas {
    width: 100%;
    display: flex;
    flex-direction: column;
    // display: block;
  }

  &-panel-controls,
  &-canvas-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-canvas-display {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
  }

  // &-canvas {
  //   height: 600px;
  //   display: flex;
  //   align-items: flex-start;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   gap: var(--v2-01);
  // }

  // &-canvas-layout {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   justify-content: center;
  //   padding: calc(var(--v2-gutter) / 2);
  // }

  // &-canvas-controls {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: space-between;
  //   border: solid 1px dodgerblue;
  // }
}
