.PageHeader {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  box-sizing: border-box;
  height: var(--page-header-height);

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--page-header-height);
    background-color: inherit;
    // border: solid 2px indianred;
  }
}

.PageHeaderLogoBox {
  &-link {
  }
}

.PageHeaderActionBox {
}
