.PageHero {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  padding-block: var(--page-gutter);
}

.PageHeroTitle {
  margin-top: calc(var(--page-header-height) + var(--page-hero-height));
}
