.PageProgress {
  @supports (animation-timeline: scroll()) {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    z-index: 100;
    position: fixed;
    animation-name: scroll-progress-timeline;
    animation-timing-function: var(--easing-standard-expressive);
    animation-timeline: scroll();
    animation-duration: auto;
    transform-origin: left;
    transition-duration: var(--easing-duration-1);
    transition-timing-function: var(--easing-standard-expressive);
    transition-property: transform;
  }
}
