.home-hero {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding-inline: var(--gutter);

  .underlay-top,
  .underlay-bottom {
    position: absolute;
    z-index: var(--app-index-parallax-2);
    height: 50%;
    width: 100%;
    right: 0;
    left: 0;
  }

  .underlay-top {
    top: 0;
    background-color: hsla(var(--c-accent), 0.5);
  }
  .underlay-bottom {
    bottom: 0;
    background-color: hsla(var(--c-accent), 0.6);
  }

  .title {
    margin-block: var(--gap);
  }
}
