.home-hero {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding-inline: var(--gutter);

  .title {
    margin-block: var(--gap);
  }
  .subtitle {
  }
}

// .home-hero {
//   display: grid;
//   place-content: end;
//   grid-template-rows: auto;
//   grid-template-columns: repeat(1, 1fr);
//   // z-index: var(--app-index-parallax-1);
//   // height: var(--app-header-height);
//   // position: fixed;
//   // right: 0;
//   // left: 0;
//   // top: 0;

//   // .inner {
//   //   // width: 100%;
//   //   height: 100%;
//   //   display: grid;
//   //   align-content: end;
//   //   justify-items: end;
//   //   grid-template-rows: auto;
//   //   grid-template-columns: repeat(1, 1fr);
//   //   padding: var(--gutter);
//   // }

//   // h2.title {
//   //   font-size: 20px;
//   //   font-weight: 500;
//   //   line-height: 28px;
//   // }
//   // h1.title {
//   //   font-size: 32px;
//   //   font-weight: 300;
//   //   line-height: 40px;
//   // }
// }

// .home-sec-overview {
// }
// .home-sec-timeline {
// }
// .home-sec-chemistry {
// }
// .home-sec-experience {
// }
