.home-hero {
  .underlay-top,
  .underlay-bottom {
    left: 0;
    right: 0;
    height: 50%;
    z-index: var(--app-index-parallax-2);
    position: absolute;
  }

  .underlay-top {
    top: 0;
    background: linear-gradient(
      10deg,
      hsla(var(--c-accent), 0.79) 0%,
      hsla(var(--c-accent), 0.69) 50%,
      hsla(var(--c-accent), 0.59) 100%
    );
  }
  .underlay-bottom {
    bottom: 0;
    background: linear-gradient(
      190deg,
      hsla(var(--c-accent), 0.79) 0%,
      hsla(var(--c-accent), 0.69) 50%,
      hsla(var(--c-accent), 0.59) 100%
    );
  }

  h1.title {
    margin-block: var(--gap);
  }
}
