.v2-landing-title {
  font-size: var(--fz-14);
  font-family: var(--ff);
  font-weight: var(--fw-1);
  line-height: var(--fh-2);

  width: 100%;
  display: block;

  span {
    width: 100%;
    display: block;
  }
}
