.sandbox {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  height: 300vh;

  .Title:first-of-type {
    font-size: calc(var(--unit) * 24);
    font-weight: 400;
  }

  &-content {
    display: block;
    padding: calc(var(--unit) * 24);
  }

  &-demo {
    display: grid;
  }
}

.sandbox-demo-popover {
  display: grid;
  place-content: center;
  height: 500px;
  width: 500px;
  background-color: rgba(var(--c-red), 0.1);

  &-target {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: solid 0px transparent;
    border: solid 0px transparent;
    // position: relative;
    width: max-content;
    display: inline-flex;
    padding-block: calc(var(--unit) * 8);
    padding-inline: calc(var(--unit) * 16);
    font-size: calc(var(--unit) * 8);
    font-weight: 400;
  }

  &-floating {
    top: 0;
    left: 0;
    width: max-content;
    height: 300px;
    width: 200px;
    background-color: rgba(var(--c-blue), 0.3);

    p {
      font-weight: 400;
      font-size: calc(var(--unit) * 8);
      padding-inline: calc(var(--unit) * 16);
    }
  }
}

.sandbox-controls {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  gap: calc(var(--unit) * 1);

  &-option {
    height: 60px;
    padding: calc(var(--unit) * 4);
    align-items: flex-end;
    justify-content: flex-end;
    text-transform: capitalize;
    // padding: 0.8rem 1.2rem;
  }
}
