.sandbox {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  // min-height: calc(100vh - var(--page-height-header));
  height: 300vh;

  .Title:first-of-type {
    font-size: calc(var(--unit) * 24);
    font-weight: 400;
  }

  &-content {
    display: block;
    padding: calc(var(--unit) * 24);
  }

  &-demo {
    display: grid;
  }

  &-demo-dropdown {
    &-target {
      display: inline-flex;
      padding: 0.8rem 1.2rem;
      align-items: center;
      justify-content: flex-start;
      background-color: rgba(var(--c-secondary), 0.04);
    }
    &-box {
    }
  }
}
