.slot-component {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--c-accent), 0.3);
  color: rgba(var(--c-accent), 0.9);
}

.sandbox {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(24, 1fr);

  .Title:first-of-type {
    font-size: calc(var(--unit) * 24);
    font-weight: 400;
    line-height: 1.2;
  }

  &-content {
    // TEMPORARY
    min-height: 300vh;
    // TEMPORARY

    grid-column: 2 / 24;
    display: block;
  }
}

.sandbox-component {
  display: block;
  background-color: rgba(var(--c-secondary), 0.02);
}

.sandbox-display {
  &-panel {
    display: flex;
    min-height: 40vh;
    justify-content: center;
    flex-direction: column;
    padding-block: calc(var(--unit) * 32);
    padding-inline: calc(var(--unit) * 24);

    &[data-placement='center'] {
      outline: solid 2px red;
      align-items: center;
    }
    &[data-placement='start'] {
      outline: solid 2px green;
      align-items: flex-start;
    }
    &[data-placement='end'] {
      outline: solid 2px rgb(30, 144, 255);
      align-items: flex-end;
    }
  }

  &-container {
    display: inline-flex;
    width: max-content;
    // margin-block: auto;
    // margin-inline: auto;
  }
}

.sandbox-control {
  &-panel {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-block: calc(var(--unit) * 32);
    padding-inline: calc(var(--unit) * 24);
    background-color: rgba(var(--c-secondary), 0.02);
  }

  &-container {
  }
}
