.v2-settings {
  &-container {
    padding-block: var(--s-10);
    padding-inline: var(--s-8);
  }

  &-panel {
    display: block;

    &-title {
      font-size: var(--fz-12);
      font-weight: var(--fw-1);
      line-height: 1.2;
    }

    &-header {
      display: block;
    }
    &-content {
      display: block;
    }
  }
}
