// .v2-text,
// .v2-label,
// .v2-title {
//   color: inherit;
// }

// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////

// .v2-button--default[data-disabled],
// .v2-action--default[data-disabled] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default[data-readonly],
// .v2-action--default[data-readonly] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default[data-disabled] .v2-icon,
// .v2-action--default[data-disabled] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default[data-readonly] .v2-icon,
// .v2-action--default[data-readonly] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly]),
// .v2-action--default:not([data-disabled]):not([data-readonly]) {
//   color: rgba(var(--c-rgb-cont), 0.86);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly]) .v2-icon,
// .v2-action--default:not([data-disabled]):not([data-readonly]) .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.86);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--default:not([data-disabled]):not([data-readonly])[data-selected] {
//   color: rgba(var(--c-rgb-cont), 0.92);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon,
// .v2-action--default:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.92);
// }

// .v2-button--default[data-readonly],
// .v2-action--default[data-readonly] {
//   background-color: rgba(var(--c-rgb-cont), 0.32);
// }

// .v2-button--default[data-disabled],
// .v2-action--default[data-disabled] {
//   background-color: rgba(var(--c-rgb-cont), 0.36);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly]),
// .v2-action--default:not([data-disabled]):not([data-readonly]) {
//   background-color: var(--c-transparent);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly]):hover,
// .v2-action--default:not([data-disabled]):not([data-readonly]):hover {
//   background-color: rgba(var(--c-rgb-cont), 0.04);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly]):active,
// .v2-action--default:not([data-disabled]):not([data-readonly]):active {
//   background-color: rgba(var(--c-rgb-cont), 0.06);
// }

// .v2-button--default:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--default:not([data-disabled]):not([data-readonly])[data-selected] {
//   background-color: rgba(var(--c-rgb-cont), 0.08);
// }

// .v2-button-spacer--default,
// .v2-action-spacer--default {
//   background-color: var(--c-transparent);
// }

// ///////////////////////////////////////////////////////////////

// .v2-button--default-elevated[data-disabled],
// .v2-action--default-elevated[data-disabled] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default-elevated[data-readonly],
// .v2-action--default-elevated[data-readonly] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default-elevated[data-disabled] .v2-icon,
// .v2-action--default-elevated[data-disabled] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default-elevated[data-readonly] .v2-icon,
// .v2-action--default-elevated[data-readonly] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly]),
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly]) {
//   color: rgba(var(--c-rgb-cont), 0.86);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly]) .v2-icon,
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly]) .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.86);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly])[data-selected] {
//   color: rgba(var(--c-rgb-cont), 0.92);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon,
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.92);
// }

// .v2-button--default-elevated[data-readonly],
// .v2-action--default-elevated[data-readonly] {
//   background-color: rgba(var(--c-rgb-cont), 0.32);
// }

// .v2-button--default-elevated[data-disabled],
// .v2-action--default-elevated[data-disabled] {
//   background-color: rgba(var(--c-rgb-cont), 0.36);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly]),
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly]) {
//   background-color: rgba(var(--c-rgb-cont), 0.04);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly]):hover,
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly]):hover {
//   background-color: rgba(var(--c-rgb-cont), 0.06);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly]):active,
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly]):active {
//   background-color: rgba(var(--c-rgb-cont), 0.08);
// }

// .v2-button--default-elevated:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--default-elevated:not([data-disabled]):not([data-readonly])[data-selected] {
//   background-color: rgba(var(--c-rgb-cont), 0.08);
// }

// .v2-button-spacer--default-elevated,
// .v2-action-spacer--default-elevated {
//   background-color: rgba(var(--c-rgb-cont), 0.04);
// }

// ///////////////////////////////////////////////////////////////

// .v2-button--accent[data-disabled],
// .v2-action--accent[data-disabled] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent[data-readonly],
// .v2-action--accent[data-readonly] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent[data-disabled] .v2-icon,
// .v2-action--accent[data-disabled] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent[data-readonly] .v2-icon,
// .v2-action--accent[data-readonly] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly]),
// .v2-action--accent:not([data-disabled]):not([data-readonly]) {
//   color: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly]) .v2-icon,
// .v2-action--accent:not([data-disabled]):not([data-readonly]) .v2-icon {
//   fill: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--accent:not([data-disabled]):not([data-readonly])[data-selected] {
//   color: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon,
// .v2-action--accent:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon {
//   fill: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent[data-readonly],
// .v2-action--accent[data-readonly] {
//   background-color: rgba(var(--c-rgb-cont), 0.32);
// }

// .v2-button--accent[data-disabled],
// .v2-action--accent[data-disabled] {
//   background-color: rgba(var(--c-rgb-cont), 0.36);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly]),
// .v2-action--accent:not([data-disabled]):not([data-readonly]) {
//   background-color: var(--c-transparent);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly]):hover,
// .v2-action--accent:not([data-disabled]):not([data-readonly]):hover {
//   background-color: rgba(var(--c-rgb-accent), 0.08);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly]):active,
// .v2-action--accent:not([data-disabled]):not([data-readonly]):active {
//   background-color: rgba(var(--c-rgb-accent), 0.12);
// }

// .v2-button--accent:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--accent:not([data-disabled]):not([data-readonly])[data-selected] {
//   background-color: rgba(var(--c-rgb-accent), 0.16);
// }

// .v2-button-spacer--accent,
// .v2-action-spacer--accent {
//   background-color: var(--c-transparent);
// }

// ///////////////////////////////////////////////////////////////

// .v2-button--accent-elevated[data-disabled],
// .v2-action--accent-elevated[data-disabled] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent-elevated[data-readonly],
// .v2-action--accent-elevated[data-readonly] {
//   color: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent-elevated[data-disabled] .v2-icon,
// .v2-action--accent-elevated[data-disabled] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent-elevated[data-readonly] .v2-icon,
// .v2-action--accent-elevated[data-readonly] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.48);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly]),
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly]) {
//   color: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly]) .v2-icon,
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly]) .v2-icon {
//   fill: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly])[data-selected] {
//   color: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon,
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly])[data-selected] .v2-icon {
//   fill: rgba(var(--c-rgb-accent), 1);
// }

// .v2-button--accent-elevated[data-readonly],
// .v2-action--accent-elevated[data-readonly] {
//   background-color: rgba(var(--c-rgb-cont), 0.32);
// }

// .v2-button--accent-elevated[data-disabled],
// .v2-action--accent-elevated[data-disabled] {
//   background-color: rgba(var(--c-rgb-cont), 0.36);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly]),
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly]) {
//   background-color: rgba(var(--c-rgb-accent), 0.08);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly]):hover,
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly]):hover {
//   background-color: rgba(var(--c-rgb-accent), 0.12);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly]):active,
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly]):active {
//   background-color: rgba(var(--c-rgb-accent), 0.16);
// }

// .v2-button--accent-elevated:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-action--accent-elevated:not([data-disabled]):not([data-readonly])[data-selected] {
//   background-color: rgba(var(--c-rgb-accent), 0.16);
// }

// .v2-button-spacer--accent-elevated,
// .v2-action-spacer--accent-elevated {
//   background-color: var(--c-transparent);
// }

// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////

// .v2-divider--default .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.2);
// }

// .v2-divider--default {
//   color: rgba(var(--c-rgb-cont), 0.2);
// }

// .v2-divider--default::before,
// .v2-divider--default::after {
//   border-top-color: rgba(var(--c-rgb-cont), 0.2);
// }

// .v2-divider--accent .v2-icon {
//   fill: rgb(var(--c-rgb-accent), 0.6);
// }

// .v2-divider--accent {
//   color: rgb(var(--c-rgb-accent), 0.6);
// }

// .v2-divider--accent::before,
// .v2-divider--accent::after {
//   border-top-color: rgb(var(--c-rgb-accent), 0.6);
// }

// /// SELECT
// ///////////////////////////////////////////////////////////////

// .v2-select-target--default,
// .v2-select-target--default-elevated {
//   color: rgba(var(--c-rgb-cont), 0.47);
// }
// .v2-select-option--default,
// .v2-select-option--default-elevated {
//   color: rgba(var(--c-rgb-cont), 0.67);
// }

// .v2-select-box--default,
// .v2-select-box--default-elevated {
//   background-color: rgba(var(--c-rgb-base), 1);
// }

// .v2-select-target--default,
// .v2-select-option--default {
//   background-color: transparent;
// }

// .v2-select-target--default:not([data-disabled]):hover,
// .v2-select-option--default:not([data-disabled]):hover {
//   background-color: rgba(var(--c-rgb-cont), 0.03);
// }

// .v2-select-target--default:not([data-disabled]):active,
// .v2-select-option--default:not([data-disabled]):active {
//   background-color: rgba(var(--c-rgb-cont), 0.05);
// }

// .v2-select-target--default:not([data-disabled])[data-selected],
// .v2-select-option--default:not([data-disabled])[data-selected] {
//   background-color: rgba(var(--c-rgb-cont), 0.07);
// }

// .v2-select-target--default-elevated,
// .v2-select-option--default-elevated {
//   background-color: rgba(var(--c-rgb-cont), 0.03);
// }

// .v2-select-target--default-elevated:not([data-disabled]):hover,
// .v2-select-option--default-elevated:not([data-disabled]):hover {
//   background-color: rgba(var(--c-rgb-cont), 0.05);
// }

// .v2-select-target--default-elevated:not([data-disabled]):active,
// .v2-select-option--default-elevated:not([data-disabled]):active {
//   background-color: rgba(var(--c-rgb-cont), 0.05);
// }

// .v2-select-target--default-elevated:not([data-disabled])[data-selected],
// .v2-select-option--default-elevated:not([data-disabled])[data-selected] {
//   background-color: rgba(var(--c-rgb-cont), 0.07);
// }

// /// TOAST
// ///////////////////////////////////////////////////////////////

// .v2-toast--default {
//   background-color: rgba(var(--c-rgb-base), 1);
// }

// .v2-toast--default::after {
//   background-color: rgba(var(--c-rgb-accent), 1);
// }

// .v2-toast--default {
//   border-color: rgba(var(--c-rgb-cont), 0.06);
// }

// .v2-toast--default .v2-title {
//   color: rgba(var(--c-rgb-cont), 0.77);
// }
// .v2-toast--default .v2-text {
//   color: rgba(var(--c-rgb-cont), 0.47);
// }

// .v2-toast--default .v2-icon {
//   fill: rgba(var(--c-rgb-accent), 1);
// }

// /// INPUTS
// ///////////////////////////////////////////////////////////////

// .v2-inline-input:not([data-disabled]) .v2-inline-input-error {
//   color: rgba(var(--c-rgb-red), 0.67);
// }

// .v2-inline-input:not([data-disabled]) .v2-inline-input-message {
//   color: rgba(var(--c-rgb-cont), 0.47);
// }

// .v2-inline-input--accent:not([data-disabled]) .v2-label,
// .v2-inline-input--default:not([data-disabled]) .v2-label,
// .v2-inline-input--accent-elevated:not([data-disabled]) .v2-label,
// .v2-inline-input--default-elevated:not([data-disabled]) .v2-label {
//   color: rgba(var(--c-rgb-cont), 0.77);
// }

// .v2-inline-input--default:not([data-disabled]) .v2-icon,
// .v2-inline-input--default-elevated:not([data-disabled]) .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.77);
// }

// .v2-inline-input--accent:not([data-disabled]) .v2-icon,
// .v2-inline-input--accent-elevated:not([data-disabled]) .v2-icon {
//   fill: rgba(var(--c-rgb-accent), 1);
// }

// .v2-inline-input--accent[data-disabled] .v2-icon,
// .v2-inline-input--default[data-disabled] .v2-icon,
// .v2-inline-input--accent-elevated[data-disabled] .v2-icon,
// .v2-inline-input--default-elevated[data-disabled] .v2-icon {
//   fill: rgba(var(--c-rgb-cont), 0.47);
// }

// .v2-inline-input--accent:not([data-disabled]):not([data-readonly]),
// .v2-inline-input--default:not([data-disabled]):not([data-readonly]) {
//   background-color: transparent;
// }
// .v2-inline-input--accent:not([data-disabled]):not([data-readonly]):hover,
// .v2-inline-input--default:not([data-disabled]):not([data-readonly]):hover {
//   background-color: rgba(var(--c-rgb-cont), 0.03);
// }

// .v2-inline-input--accent:not([data-disabled]):not([data-readonly]):active,
// .v2-inline-input--default:not([data-disabled]):not([data-readonly]):active {
//   background-color: rgba(var(--c-rgb-cont), 0.05);
// }

// .v2-inline-input--accent:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-inline-input--default:not([data-disabled]):not([data-readonly])[data-selected] {
//   background-color: rgba(var(--c-rgb-cont), 0.06);
// }

// .v2-inline-input--accent-elevated:not([data-disabled]):not([data-readonly]),
// .v2-inline-input--default-elevated:not([data-disabled]):not([data-readonly]) {
//   background-color: rgba(var(--c-rgb-cont), 0.03);
// }

// .v2-inline-input--accent-elevated:not([data-disabled]):not([data-readonly]):hover,
// .v2-inline-input--default-elevated:not([data-disabled]):not([data-readonly]):hover {
//   background-color: rgba(var(--c-rgb-cont), 0.05);
// }

// .v2-inline-input--accent-elevated:not([data-disabled]):not([data-readonly]):active,
// .v2-inline-input--default-elevated:not([data-disabled]):not([data-readonly]):active {
//   background-color: rgba(var(--c-rgb-cont), 0.06);
// }

// .v2-inline-input--accent-elevated:not([data-disabled]):not([data-readonly])[data-selected],
// .v2-inline-input--default-elevated:not([data-disabled]):not([data-readonly])[data-selected] {
//   background-color: rgba(var(--c-rgb-cont), 0.07);
// }

/// GLOBAL UTILITIES
///////////////////////////////////////////////////////////////

.v2-title--accent-red,
.v2-text--accent-red {
  color: rgba(var(--c-rgb-red), 1);
}

.v2-title--accent-orange,
.v2-text--accent-orange {
  color: rgba(var(--c-rgb-orange), 1);
}

.v2-title--accent-yellow,
.v2-text--accent-yellow {
  color: rgba(var(--c-rgb-yellow), 1);
}

.v2-title--accent-green,
.v2-text--accent-green {
  color: rgba(var(--c-rgb-green), 1);
}

.v2-title--accent-mint,
.v2-text--accent-mint {
  color: rgba(var(--c-rgb-mint), 1);
}

.v2-title--accent-teal,
.v2-text--accent-teal {
  color: rgba(var(--c-rgb-teal), 1);
}

.v2-title--accent-cyan,
.v2-text--accent-cyan {
  color: rgba(var(--c-rgb-cyan), 1);
}

.v2-title--accent-blue,
.v2-text--accent-blue {
  color: rgba(var(--c-rgb-blue), 1);
}

.v2-title--accent-indigo,
.v2-text--accent-indigo {
  color: rgba(var(--c-rgb-indigo), 1);
}

.v2-title--accent-purple,
.v2-text--accent-purple {
  color: rgba(var(--c-rgb-purple), 1);
}

.v2-title--accent-pink,
.v2-text--accent-pink {
  color: rgba(var(--c-rgb-pink), 1);
}

.v2-title--accent-brown,
.v2-text--accent-brown {
  color: rgba(var(--c-rgb-brown), 1);
}

.v2-icon--accent-red {
  fill: rgba(var(--c-rgb-red), 1) !important;
}

.v2-icon--accent-orange {
  fill: rgba(var(--c-rgb-orange), 1) !important;
}

.v2-icon--accent-yellow {
  fill: rgba(var(--c-rgb-yellow), 1) !important;
}

.v2-icon--accent-green {
  fill: rgba(var(--c-rgb-green), 1) !important;
}

.v2-icon--accent-mint {
  fill: rgba(var(--c-rgb-mint), 1) !important;
}

.v2-icon--accent-teal {
  fill: rgba(var(--c-rgb-teal), 1) !important;
}

.v2-icon--accent-cyan {
  fill: rgba(var(--c-rgb-cyan), 1) !important;
}

.v2-icon--accent-blue {
  fill: rgba(var(--c-rgb-blue), 1) !important;
}

.v2-icon--accent-indigo {
  fill: rgba(var(--c-rgb-indigo), 1) !important;
}

.v2-icon--accent-purple {
  fill: rgba(var(--c-rgb-purple), 1) !important;
}

.v2-icon--accent-pink {
  fill: rgba(var(--c-rgb-pink), 1) !important;
}

.v2-icon--accent-brown {
  fill: rgba(var(--c-rgb-brown), 1) !important;
}
