#root,
.v2-page,
.v2-menu,
.v2-header,
.v2-sidemenu {
  color: var(--c-text-max);
  background-color: var(--c-base);
}

.v2-hero {
  background-color: var(--c-hero);
}

.v2-footer {
  background-color: var(--c-footer);
}
