[data-prefers-color-accent='red'] {
  --c-rgb-accent: var(--c-rgb-red);
}

[data-prefers-color-accent='orange'] {
  --c-rgb-accent: var(--c-rgb-orange);
}

[data-prefers-color-accent='yellow'] {
  --c-rgb-accent: var(--c-rgb-yellow);
}

[data-prefers-color-accent='green'] {
  --c-rgb-accent: var(--c-rgb-green);
}

[data-prefers-color-accent='mint'] {
  --c-rgb-accent: var(--c-rgb-mint);
}

[data-prefers-color-accent='teal'] {
  --c-rgb-accent: var(--c-rgb-teal);
}

[data-prefers-color-accent='cyan'] {
  --c-rgb-accent: var(--c-rgb-cyan);
}

[data-prefers-color-accent='blue'] {
  --c-rgb-accent: var(--c-rgb-blue);
}

[data-prefers-color-accent='indigo'] {
  --c-rgb-accent: var(--c-rgb-indigo);
}

[data-prefers-color-accent='purple'] {
  --c-rgb-accent: var(--c-rgb-purple);
}

[data-prefers-color-accent='pink'] {
  --c-rgb-accent: var(--c-rgb-pink);
}

[data-prefers-color-accent='brown'] {
  --c-rgb-accent: var(--c-rgb-brown);
}
