.sec-home-hero-content {
  margin-top: var(--site-header-height);
  z-index: var(--site-hero-index);
  height: var(--site-hero-height);
  overflow-x: hidden;
  isolation: isolate;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  @media (min-width: 60em) {
    margin-left: var(--site-header-height);
  }
}

.sec-home-hero-underlay--upper,
.sec-home-hero-underlay--lower {
  width: 100%;
  height: 50%;
  display: block;
  position: absolute;
  z-index: calc(var(--site-hero-index) - 1);
}

.sec-home-hero-underlay--upper {
  top: 0;
}
.sec-home-hero-underlay--lower {
  bottom: 0;
}
