.v2-sandbox-canvas {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--s-10);
  gap: var(--s-06);
  padding-inline: var(--s-06);

  &-header {
    width: 100%;
    display: flex;
    padding: var(--s-04);
    // margin-bottom: var(--s-06);
  }

  &-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--s-06);
  }
}

.v2-sandbox-canvas-header {
  background-color: hsla(var(--c-hue-cont), 0.05);
  color: hsla(var(--c-hue-cont), 0.67);
}
