.v2-scheme-swatch {
  padding-block: var(--s-08);
  padding-inline: var(--s-12);

  &-inner {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.v2-home {
  &-title span {
    width: 100%;
    display: block;
  }

  &-overview-inner,
  &-overview-banner,
  &-overview-link-group {
    flex-direction: column;
    display: flex;
    gap: var(--s-01);
  }

  &-overview-banner,
  &-overview-link-group {
    flex: 1 0;
  }

  &-overview-inner {
    @media (min-width: 40em) {
      flex-direction: row;
    }
  }

  &-overview {
    width: 100%;
    display: block;
  }

  &-overview-banner {
    gap: var(--s-01);
    flex: 1 0;
    display: flex;
    flex-direction: column;
    padding-inline: var(--size-gutter);
    padding-block: calc(var(--size-gutter) * 1.5);

    font-size: var(--fz-10);
  }

  &-overview-link-group {
  }

  &-overview-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--size-gutter);
    padding-inline: var(--size-gutter);

    font-size: var(--fz-08);
    font-weight: var(--fw-03);

    span {
      display: flex;
    }

    .v2-icon {
      height: var(--fz-08);
      width: var(--fz-08);
    }
  }

  &-stats {
    display: block;
  }

  &-experience {
    display: block;
  }

  &-highlights {
    display: block;
  }

  // &-overview-banner {
  //   background-color: rgba(var(--c-rgb-accent), 0.12);
  //   color: rgba(var(--c-rgb-accent), 1);
  // }

  // &-overview-link {
  //   color: rgba(var(--c-rgb-accent), 1);
  // }
  // &-overview-link .v2-icon {
  //   fill: rgba(var(--c-rgb-accent), 1);
  // }
  // &-overview-link:nth-of-type(1) {
  //   background-color: rgba(var(--c-rgb-accent), 0.12);
  // }
  // &-overview-link:nth-of-type(2) {
  //   background-color: rgba(var(--c-rgb-cont), 0);
  // }
}

// .v2-home-title {
//   span {
//     display: block;
//   }
// }

// .v2-home-overview {
//   &-inner {
//     gap: var(--s-01);
//     display: grid;
//     grid-template-rows: auto;
//     grid-template-columns: repeat(1, 1fr);

//     @media screen and (min-width: 60em) {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }

//   &-banner {
//     padding-block: calc(var(--size-gutter) * 2);
//     padding-inline: var(--size-gutter);
//   }

//   &-banner-text {
//     font-size: var(--fz-10);
//     font-weight: var(--fw-03);
//     line-height: var(--fh-03);
//   }

//   &-link-group {
//     display: flex;
//     gap: var(--s-01);
//   }

//   &-link-item {
//     padding-block: var(--size-gutter);
//     padding-inline: var(--size-gutter);
//   }
// }

// .v2-home-stats {
//   &-inner {
//     display: grid;
//     grid-template-rows: auto;
//     grid-template-columns: repeat(1, 1fr);
//     gap: var(--s-01);

//     @media screen and (min-width: 70em) {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }

//   &-card {
//     display: flex;
//     flex-direction: column;
//     padding-block: calc(var(--size-gutter) * 2);
//     padding-inline: var(--size-gutter);
//     gap: calc(var(--size-gutter-gap) / 2);

//     @media screen and (min-width: 60em) {
//       padding-block: var(--s-10);
//     }
//   }

//   &-card-header {
//     display: flex;
//     flex-direction: column;
//     gap: var(--size-gutter-gap);
//   }

//   &-card-value {
//     font-size: var(--fz-14);
//     font-weight: var(--fw-04);
//     line-height: var(--fh-01);

//     @media screen and (min-width: 60em) {
//       font-size: var(--fz-14);
//     }
//   }

//   &-card-title {
//     font-size: var(--fz-10);
//     font-weight: var(--fw-03);
//     line-height: var(--fh-01);
//   }

//   &-card-text {
//     font-size: var(--fz-07);
//     font-weight: var(--fw-02);
//     line-height: var(--fh-03);
//   }
// }

// .v2-home-experience {
//   &-inner {
//     display: grid;
//     grid-template-rows: auto;
//     grid-template-columns: repeat(1, 1fr);
//     margin-inline: var(--size-gutter);
//     padding-block: calc(var(--size-gutter) * 2);
//     column-gap: var(--size-gutter);
//     row-gap: calc(var(--size-gutter) * 2);

//     @media screen and (min-width: 60em) {
//       grid-template-columns: repeat(2, 1fr);
//     }
//     @media screen and (min-width: 80em) {
//       grid-template-columns: repeat(3, 1fr);
//     }
//   }

//   &-card {
//     display: flex;
//     flex-direction: row;
//     gap: var(--size-gutter-gap);
//   }

//   &-card-content {
//     display: flex;
//     flex-direction: column;
//     gap: var(--size-gutter-gap);
//   }

//   &-card-title {
//     font-size: var(--fz-10);
//     font-weight: var(--fw-03);
//     line-height: var(--fh-01);
//   }

//   &-card-text {
//     font-size: var(--fz-07);
//     font-weight: var(--fw-02);
//     line-height: var(--fh-03);
//   }
// }
