@use '../mixins' as mixins;
@use '../query' as query;

@layer reset {
  .v2-settings-hero,
  .v2-settings-panel,
  .v2-settings-group {
    @include mixins.reset;
  }
}

.v2-settings {
  &-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: var(--gutter);
  }

  &-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--gutter) * 2);
    height: calc(var(--gutter) * 2);
    border-radius: 1000px;
    background-color: var(--c-pri-4);
    // transform: translateY(40%);

    .icon {
      width: var(--gutter);
      height: var(--gutter);
    }
  }

  &-panel {
    display: block;
  }
  &-group {
    display: block;
    padding-inline: var(--gutter);
  }
}
