@use '../mixins' as mixins;
@use '../query' as query;

@layer reset {
  .tech-table,
  .tech-table-row,
  .tech-table-cell,
  .tech-table-header,
  .tech-table-controls {
    @include mixins.reset;
  }
}

.tech-table {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;

  &-controls {
    gap: var(--unit);
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: var(--unit);
  }

  &-row {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
  }

  &-color-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--action-size) / 3);
    height: calc(var(--action-size) / 3);
    border-radius: 1000px;
  }

  &-tag-cell {
    width: 100%;
    gap: calc(var(--unit) * 2);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    @include mixins.rtl {
      flex-direction: row-reverse;
    }
  }

  &-tag-cell-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-block: calc(var(--unit) * 2);
    padding-inline: calc(var(--unit) * 4);
    border: solid 1px transparent;
    border-radius: calc(var(--unit) * 2);
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-2);
  }

  &-cell:first-of-type,
  &-cell:last-of-type {
    align-items: center;
    justify-content: center;
  }

  &-header {
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
  }

  &-cell:nth-of-type(1),
  &-header:nth-of-type(1) {
    flex: 0 1;
  }
  &-cell:nth-of-type(2),
  &-header:nth-of-type(2) {
    flex: 0 1 100%;
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
  }
  &-cell:nth-of-type(3),
  &-header:nth-of-type(3) {
    display: none;
    flex: 1 0;
  }
  &-cell:nth-of-type(4),
  &-header:nth-of-type(4) {
    display: none;
    flex: 1 0;
  }
  &-cell:nth-of-type(5),
  &-header:nth-of-type(5) {
    flex: 0 1;
  }

  @include query.md {
    &-cell:nth-of-type(1),
    &-header:nth-of-type(1) {
      flex: 0 1;
    }
    &-cell:nth-of-type(2),
    &-header:nth-of-type(2) {
      flex: 0 1 15%;
    }
    &-cell:nth-of-type(3),
    &-header:nth-of-type(3) {
      display: none;
      flex: 1 0;
    }
    &-cell:nth-of-type(4),
    &-header:nth-of-type(4) {
      display: none;
      flex: 1 0;
    }
    &-cell:nth-of-type(5),
    &-header:nth-of-type(5) {
      flex: 0 1;
    }
  }

  @include query.lg {
    &-cell:nth-of-type(1),
    &-header:nth-of-type(1) {
      flex: 0 1;
    }
    &-cell:nth-of-type(2),
    &-header:nth-of-type(2) {
      flex: 0 1 15%;
    }
    &-cell:nth-of-type(3),
    &-header:nth-of-type(3) {
      display: flex;
      flex: 1 0;
    }
    &-cell:nth-of-type(4),
    &-header:nth-of-type(4) {
      display: none;
      flex: 1 0;
    }
    &-cell:nth-of-type(5),
    &-header:nth-of-type(5) {
      flex: 0 1;
    }
  }

  @include query.xl {
    &-cell:nth-of-type(1),
    &-header:nth-of-type(1) {
      flex: 0 1;
    }
    &-cell:nth-of-type(2),
    &-header:nth-of-type(2) {
      flex: 0 1 15%;
    }
    &-cell:nth-of-type(3),
    &-header:nth-of-type(3) {
      display: flex;
      flex: 1 0;
    }
    &-cell:nth-of-type(4),
    &-header:nth-of-type(4) {
      display: flex;
      flex: 1 0;
    }
    &-cell:nth-of-type(5),
    &-header:nth-of-type(5) {
      flex: 0 1;
    }
  }
}
