.v2-demo-root {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
}

.v2-demo-spacing-1,
.v2-demo-spacing-2,
.v2-demo-spacing-3,
.v2-demo-spacing-4 {
  background-color: indianred;
  display: block;
  width: 600px;
}

.v2-demo-spacing-1 {
  height: var(--spacing-1);
}
.v2-demo-spacing-2 {
  height: var(--spacing-2);
}
.v2-demo-spacing-3 {
  height: var(--spacing-3);
}
.v2-demo-spacing-4 {
  height: var(--spacing-4);
}
