// MIXINS | BREAKPOINTS

$breakpoint-map: (
  'mobile': (
    'sm': 320px,
    'md': 400px,
    'lg': 480px,
  ),
  'tablet': (
    'sm': 640px,
    'md': 760px,
    'lg': 880px,
  ),
  'desktop': (
    'sm': 1024px,
    'md': 1200px,
    'lg': 1400px,
  ),
);

@mixin query($device: 'desktop', $size: 'sm') {
  $device-map: map-get($breakpoint-map, $device);
  $size-key: map-get($device-map, $size);

  @media screen and (min-width: #{$size-key}) {
    @content;
  }
}

// MIXINS | THEME | PREFERENCE | MODE

@mixin theme-modes {
  [data-prefers-mode='dim'],
  [data-prefers-mode='dark'],
  [data-prefers-mode='light'] {
    @content;
  }
}

@mixin theme-mode($value: 'dark') {
  [data-prefers-mode='#{$value}'] {
    @content;
  }
}

@mixin theme-has-mode($value: 'dark') {
  &[data-prefers-mode='#{$value}'] {
    @content;
  }
}

@mixin theme-where-mode($value: 'dark') {
  [data-prefers-mode='#{$value}'] & {
    @content;
  }
}

// MIXINS | THEME | PREFERENCE | COLOR

@mixin theme-colors {
  [data-prefers-color='red'],
  [data-prefers-color='orange'],
  [data-prefers-color='yellow'],
  [data-prefers-color='green'],
  [data-prefers-color='mint'],
  [data-prefers-color='teal'],
  [data-prefers-color='cyan'],
  [data-prefers-color='blue'],
  [data-prefers-color='indigo'],
  [data-prefers-color='purple'],
  [data-prefers-color='pink'],
  [data-prefers-color='brown'] {
    @content;
  }
}

@mixin theme-color($value: 'red') {
  [data-prefers-color='#{$value}'] {
    @content;
  }
}

@mixin theme-has-color($value: 'red') {
  &[data-prefers-color='#{$value}'] {
    @content;
  }
}

@mixin theme-where-color($value: 'red') {
  [data-prefers-color='#{$value}'] & {
    @content;
  }
}

// MIXINS | THEME | SCHEME

@mixin theme-scheme($value: 'primary') {
  [data-scheme='#{$value}'] {
    @content;
  }
}

@mixin theme-has-scheme($value: 'primary') {
  &[data-scheme='#{$value}'] {
    @content;
  }
}

@mixin theme-where-scheme($value: 'primary') {
  [data-scheme='#{$value}'] & {
    @content;
  }
}
