[data-prefers-color-scheme='dim'] {
  --c-pri: #18191b;
  --c-sec: #f5f5f5;
  --c-on-pri: #f5f5f5;
  --c-on-sec: #18191b;
}

[data-prefers-color-scheme='dark'] {
  --c-pri: #0a0a0a;
  --c-sec: #f5f5f5;
  --c-on-pri: #f5f5f5;
  --c-on-sec: #0a0a0a;
}

[data-prefers-color-scheme='light'] {
  --c-pri: #f5f5f5;
  --c-sec: #0e0e0e;
  --c-on-pri: #0e0e0e;
  --c-on-sec: #f5f5f5;
}

[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  // BASE

  --color-text-0: color-mix(in srgb, var(--c-sec) 99%, var(--c-on-sec));
  --color-text-1: color-mix(in srgb, var(--c-sec) 90%, var(--c-on-sec));
  --color-text-2: color-mix(in srgb, var(--c-sec) 80%, var(--c-on-sec));
  --color-text-3: color-mix(in srgb, var(--c-sec) 70%, var(--c-on-sec));

  --color-background-0: color-mix(in srgb, var(--c-pri) 99%, var(--c-on-pri));
  --color-background-1: color-mix(in srgb, var(--c-pri) 93%, var(--c-on-pri));
  --color-background-2: color-mix(in srgb, var(--c-pri) 87%, var(--c-on-pri));
  --color-background-3: color-mix(in srgb, var(--c-pri) 81%, var(--c-on-pri));
  --color-background-4: color-mix(in srgb, var(--c-pri) 75%, var(--c-on-pri));
  --color-background-5: color-mix(in srgb, var(--c-pri) 69%, var(--c-on-pri));

  --color-background-0-hover: color-mix(in srgb, var(--c-pri) 96%, var(--c-on-pri));
  --color-background-1-hover: color-mix(in srgb, var(--c-pri) 90%, var(--c-on-pri));
  --color-background-2-hover: color-mix(in srgb, var(--c-pri) 84%, var(--c-on-pri));
  --color-background-3-hover: color-mix(in srgb, var(--c-pri) 78%, var(--c-on-pri));
  --color-background-4-hover: color-mix(in srgb, var(--c-pri) 72%, var(--c-on-pri));
  --color-background-5-hover: color-mix(in srgb, var(--c-pri) 66%, var(--c-on-pri));

  --color-border-0: color-mix(in srgb, var(--c-pri) 83%, var(--c-on-pri));
  --color-border-1: color-mix(in srgb, var(--c-pri) 77%, var(--c-on-pri));
  --color-border-2: color-mix(in srgb, var(--c-pri) 71%, var(--c-on-pri));
  --color-border-3: color-mix(in srgb, var(--c-pri) 65%, var(--c-on-pri));
  --color-border-4: color-mix(in srgb, var(--c-pri) 59%, var(--c-on-pri));
  --color-border-5: color-mix(in srgb, var(--c-pri) 53%, var(--c-on-pri));

  // INVERTED

  --color-text-0-invert: color-mix(in srgb, var(--c-pri) 99%, var(--c-on-pri));
  --color-text-1-invert: color-mix(in srgb, var(--c-pri) 90%, var(--c-on-pri));
  --color-text-2-invert: color-mix(in srgb, var(--c-pri) 80%, var(--c-on-pri));
  --color-text-3-invert: color-mix(in srgb, var(--c-pri) 70%, var(--c-on-pri));

  --color-background-0-invert: color-mix(in srgb, var(--c-sec) 99%, var(--c-on-sec));
  --color-background-1-invert: color-mix(in srgb, var(--c-sec) 93%, var(--c-on-sec));
  --color-background-2-invert: color-mix(in srgb, var(--c-sec) 87%, var(--c-on-sec));
  --color-background-3-invert: color-mix(in srgb, var(--c-sec) 81%, var(--c-on-sec));
  --color-background-4-invert: color-mix(in srgb, var(--c-sec) 75%, var(--c-on-sec));
  --color-background-5-invert: color-mix(in srgb, var(--c-sec) 69%, var(--c-on-sec));

  --color-background-0-invert-hover: color-mix(in srgb, var(--c-sec) 96%, var(--c-on-sec));
  --color-background-1-invert-hover: color-mix(in srgb, var(--c-sec) 90%, var(--c-on-sec));
  --color-background-2-invert-hover: color-mix(in srgb, var(--c-sec) 84%, var(--c-on-sec));
  --color-background-3-invert-hover: color-mix(in srgb, var(--c-sec) 78%, var(--c-on-sec));
  --color-background-4-invert-hover: color-mix(in srgb, var(--c-sec) 72%, var(--c-on-sec));
  --color-background-5-invert-hover: color-mix(in srgb, var(--c-sec) 66%, var(--c-on-sec));

  --color-border-0-invert: color-mix(in srgb, var(--c-sec) 83%, var(--c-on-sec));
  --color-border-1-invert: color-mix(in srgb, var(--c-sec) 77%, var(--c-on-sec));
  --color-border-2-invert: color-mix(in srgb, var(--c-sec) 71%, var(--c-on-sec));
  --color-border-3-invert: color-mix(in srgb, var(--c-sec) 65%, var(--c-on-sec));
  --color-border-4-invert: color-mix(in srgb, var(--c-sec) 59%, var(--c-on-sec));
  --color-border-5-invert: color-mix(in srgb, var(--c-sec) 53%, var(--c-on-sec));

  background-color: var(--color-background-0);
  color: var(--color-text-0);
}

[data-prefers-color-scheme='dark'] {
  --c-hsl-orange: 25, 95%, 57%;
  --c-hsl-yellow: 38, 92%, 69%;
  --c-hsl-green: 142, 71%, 49%;
  --c-hsl-cyan: 173, 80%, 44%;
  --c-hsl-blue: 199, 89%, 52%;
  --c-hsl-indigo: 217, 91%, 64%;
  --c-hsl-purple: 258, 90%, 70%;
  --c-hsl-violet: 271, 91%, 69%;
  --c-hsl-magenta: 292, 84%, 65%;
  --c-hsl-pink: 330, 81%, 64%;
  --c-hsl-red: 0, 84%, 64%;

  --c-text-orange: hsla(var(--c-hsl-orange), 0.9);
  --c-text-yellow: hsla(var(--c-hsl-yellow), 0.9);
  --c-text-green: hsla(var(--c-hsl-green), 0.9);
  --c-text-cyan: hsla(var(--c-hsl-cyan), 0.9);
  --c-text-blue: hsla(var(--c-hsl-blue), 0.9);
  --c-text-indigo: hsla(var(--c-hsl-indigo), 0.9);
  --c-text-purple: hsla(var(--c-hsl-purple), 0.9);
  --c-text-violet: hsla(var(--c-hsl-violet), 0.9);
  --c-text-magenta: hsla(var(--c-hsl-magenta), 0.9);
  --c-text-pink: hsla(var(--c-hsl-pink), 0.9);
  --c-text-red: hsla(var(--c-hsl-red), 0.9);

  --c-bkgd-orange: hsla(var(--c-hsl-orange), 0.15);
  --c-bkgd-yellow: hsla(var(--c-hsl-yellow), 0.15);
  --c-bkgd-green: hsla(var(--c-hsl-green), 0.15);
  --c-bkgd-cyan: hsla(var(--c-hsl-cyan), 0.15);
  --c-bkgd-blue: hsla(var(--c-hsl-blue), 0.15);
  --c-bkgd-indigo: hsla(var(--c-hsl-indigo), 0.15);
  --c-bkgd-purple: hsla(var(--c-hsl-purple), 0.15);
  --c-bkgd-violet: hsla(var(--c-hsl-violet), 0.15);
  --c-bkgd-magenta: hsla(var(--c-hsl-magenta), 0.15);
  --c-bkgd-pink: hsla(var(--c-hsl-pink), 0.15);
  --c-bkgd-red: hsla(var(--c-hsl-red), 0.15);

  --c-bkgd-orange-hover: hsla(var(--c-hsl-orange), 0.2);
  --c-bkgd-yellow-hover: hsla(var(--c-hsl-yellow), 0.2);
  --c-bkgd-green-hover: hsla(var(--c-hsl-green), 0.2);
  --c-bkgd-cyan-hover: hsla(var(--c-hsl-cyan), 0.2);
  --c-bkgd-blue-hover: hsla(var(--c-hsl-blue), 0.2);
  --c-bkgd-indigo-hover: hsla(var(--c-hsl-indigo), 0.2);
  --c-bkgd-purple-hover: hsla(var(--c-hsl-purple), 0.2);
  --c-bkgd-violet-hover: hsla(var(--c-hsl-violet), 0.2);
  --c-bkgd-magenta-hover: hsla(var(--c-hsl-magenta), 0.2);
  --c-bkgd-pink-hover: hsla(var(--c-hsl-pink), 0.2);
  --c-bkgd-red-hover: hsla(var(--c-hsl-red), 0.2);

  --c-border-orange: hsla(var(--c-hsl-orange), 0.5);
  --c-border-yellow: hsla(var(--c-hsl-yellow), 0.5);
  --c-border-green: hsla(var(--c-hsl-green), 0.5);
  --c-border-cyan: hsla(var(--c-hsl-cyan), 0.5);
  --c-border-blue: hsla(var(--c-hsl-blue), 0.5);
  --c-border-indigo: hsla(var(--c-hsl-indigo), 0.5);
  --c-border-purple: hsla(var(--c-hsl-purple), 0.5);
  --c-border-violet: hsla(var(--c-hsl-violet), 0.5);
  --c-border-magenta: hsla(var(--c-hsl-magenta), 0.5);
  --c-border-pink: hsla(var(--c-hsl-pink), 0.5);
  --c-border-red: hsla(var(--c-hsl-red), 0.5);
}

[data-prefers-color-scheme='dim'] {
  --c-hsl-orange: 25, 95%, 57%;
  --c-hsl-yellow: 38, 92%, 69%;
  --c-hsl-green: 142, 71%, 49%;
  --c-hsl-cyan: 173, 80%, 44%;
  --c-hsl-blue: 199, 89%, 52%;
  --c-hsl-indigo: 217, 91%, 64%;
  --c-hsl-purple: 258, 90%, 70%;
  --c-hsl-violet: 271, 91%, 69%;
  --c-hsl-magenta: 292, 84%, 65%;
  --c-hsl-pink: 330, 81%, 64%;
  --c-hsl-red: 0, 84%, 64%;

  --c-text-orange: hsla(var(--c-hsl-orange), 0.9);
  --c-text-yellow: hsla(var(--c-hsl-yellow), 0.9);
  --c-text-green: hsla(var(--c-hsl-green), 0.9);
  --c-text-cyan: hsla(var(--c-hsl-cyan), 0.9);
  --c-text-blue: hsla(var(--c-hsl-blue), 0.9);
  --c-text-indigo: hsla(var(--c-hsl-indigo), 0.9);
  --c-text-purple: hsla(var(--c-hsl-purple), 0.9);
  --c-text-violet: hsla(var(--c-hsl-violet), 0.9);
  --c-text-magenta: hsla(var(--c-hsl-magenta), 0.9);
  --c-text-pink: hsla(var(--c-hsl-pink), 0.9);
  --c-text-red: hsla(var(--c-hsl-red), 0.9);

  --c-bkgd-orange: hsla(var(--c-hsl-orange), 0.15);
  --c-bkgd-yellow: hsla(var(--c-hsl-yellow), 0.15);
  --c-bkgd-green: hsla(var(--c-hsl-green), 0.15);
  --c-bkgd-cyan: hsla(var(--c-hsl-cyan), 0.15);
  --c-bkgd-blue: hsla(var(--c-hsl-blue), 0.15);
  --c-bkgd-indigo: hsla(var(--c-hsl-indigo), 0.15);
  --c-bkgd-purple: hsla(var(--c-hsl-purple), 0.15);
  --c-bkgd-violet: hsla(var(--c-hsl-violet), 0.15);
  --c-bkgd-magenta: hsla(var(--c-hsl-magenta), 0.15);
  --c-bkgd-pink: hsla(var(--c-hsl-pink), 0.15);
  --c-bkgd-red: hsla(var(--c-hsl-red), 0.15);

  --c-bkgd-orange-hover: hsla(var(--c-hsl-orange), 0.2);
  --c-bkgd-yellow-hover: hsla(var(--c-hsl-yellow), 0.2);
  --c-bkgd-green-hover: hsla(var(--c-hsl-green), 0.2);
  --c-bkgd-cyan-hover: hsla(var(--c-hsl-cyan), 0.2);
  --c-bkgd-blue-hover: hsla(var(--c-hsl-blue), 0.2);
  --c-bkgd-indigo-hover: hsla(var(--c-hsl-indigo), 0.2);
  --c-bkgd-purple-hover: hsla(var(--c-hsl-purple), 0.2);
  --c-bkgd-violet-hover: hsla(var(--c-hsl-violet), 0.2);
  --c-bkgd-magenta-hover: hsla(var(--c-hsl-magenta), 0.2);
  --c-bkgd-pink-hover: hsla(var(--c-hsl-pink), 0.2);
  --c-bkgd-red-hover: hsla(var(--c-hsl-red), 0.2);

  --c-border-orange: hsla(var(--c-hsl-orange), 0.5);
  --c-border-yellow: hsla(var(--c-hsl-yellow), 0.5);
  --c-border-green: hsla(var(--c-hsl-green), 0.5);
  --c-border-cyan: hsla(var(--c-hsl-cyan), 0.5);
  --c-border-blue: hsla(var(--c-hsl-blue), 0.5);
  --c-border-indigo: hsla(var(--c-hsl-indigo), 0.5);
  --c-border-purple: hsla(var(--c-hsl-purple), 0.5);
  --c-border-violet: hsla(var(--c-hsl-violet), 0.5);
  --c-border-magenta: hsla(var(--c-hsl-magenta), 0.5);
  --c-border-pink: hsla(var(--c-hsl-pink), 0.5);
  --c-border-red: hsla(var(--c-hsl-red), 0.5);
}

[data-prefers-color-scheme='light'] {
  --c-hsl-orange: 25, 95%, 47%;
  --c-hsl-yellow: 38, 92%, 59%;
  --c-hsl-green: 142, 71%, 39%;
  --c-hsl-cyan: 173, 80%, 34%;
  --c-hsl-blue: 199, 89%, 42%;
  --c-hsl-indigo: 217, 91%, 54%;
  --c-hsl-purple: 258, 90%, 60%;
  --c-hsl-violet: 271, 91%, 59%;
  --c-hsl-magenta: 292, 84%, 55%;
  --c-hsl-pink: 330, 81%, 54%;
  --c-hsl-red: 0, 84%, 54%;

  --c-text-orange: hsla(var(--c-hsl-orange), 0.9);
  --c-text-yellow: hsla(var(--c-hsl-yellow), 0.9);
  --c-text-green: hsla(var(--c-hsl-green), 0.9);
  --c-text-cyan: hsla(var(--c-hsl-cyan), 0.9);
  --c-text-blue: hsla(var(--c-hsl-blue), 0.9);
  --c-text-indigo: hsla(var(--c-hsl-indigo), 0.9);
  --c-text-purple: hsla(var(--c-hsl-purple), 0.9);
  --c-text-violet: hsla(var(--c-hsl-violet), 0.9);
  --c-text-magenta: hsla(var(--c-hsl-magenta), 0.9);
  --c-text-pink: hsla(var(--c-hsl-pink), 0.9);
  --c-text-red: hsla(var(--c-hsl-red), 0.9);

  --c-bkgd-orange: hsla(var(--c-hsl-orange), 0.1);
  --c-bkgd-yellow: hsla(var(--c-hsl-yellow), 0.1);
  --c-bkgd-green: hsla(var(--c-hsl-green), 0.1);
  --c-bkgd-cyan: hsla(var(--c-hsl-cyan), 0.1);
  --c-bkgd-blue: hsla(var(--c-hsl-blue), 0.1);
  --c-bkgd-indigo: hsla(var(--c-hsl-indigo), 0.1);
  --c-bkgd-purple: hsla(var(--c-hsl-purple), 0.1);
  --c-bkgd-violet: hsla(var(--c-hsl-violet), 0.1);
  --c-bkgd-magenta: hsla(var(--c-hsl-magenta), 0.1);
  --c-bkgd-pink: hsla(var(--c-hsl-pink), 0.1);
  --c-bkgd-red: hsla(var(--c-hsl-red), 0.1);

  --c-bkgd-orange-hover: hsla(var(--c-hsl-orange), 0.175);
  --c-bkgd-yellow-hover: hsla(var(--c-hsl-yellow), 0.175);
  --c-bkgd-green-hover: hsla(var(--c-hsl-green), 0.175);
  --c-bkgd-cyan-hover: hsla(var(--c-hsl-cyan), 0.175);
  --c-bkgd-blue-hover: hsla(var(--c-hsl-blue), 0.175);
  --c-bkgd-indigo-hover: hsla(var(--c-hsl-indigo), 0.175);
  --c-bkgd-purple-hover: hsla(var(--c-hsl-purple), 0.175);
  --c-bkgd-violet-hover: hsla(var(--c-hsl-violet), 0.175);
  --c-bkgd-magenta-hover: hsla(var(--c-hsl-magenta), 0.175);
  --c-bkgd-pink-hover: hsla(var(--c-hsl-pink), 0.175);
  --c-bkgd-red-hover: hsla(var(--c-hsl-red), 0.175);

  --c-border-orange: hsla(var(--c-hsl-orange), 0.5);
  --c-border-yellow: hsla(var(--c-hsl-yellow), 0.5);
  --c-border-green: hsla(var(--c-hsl-green), 0.5);
  --c-border-cyan: hsla(var(--c-hsl-cyan), 0.5);
  --c-border-blue: hsla(var(--c-hsl-blue), 0.5);
  --c-border-indigo: hsla(var(--c-hsl-indigo), 0.5);
  --c-border-purple: hsla(var(--c-hsl-purple), 0.5);
  --c-border-violet: hsla(var(--c-hsl-violet), 0.5);
  --c-border-magenta: hsla(var(--c-hsl-magenta), 0.5);
  --c-border-pink: hsla(var(--c-hsl-pink), 0.5);
  --c-border-red: hsla(var(--c-hsl-red), 0.5);
}

.accent-color-swatch {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-sm);
  transition-property: color, background-color, border, outline;
  transition-timing-function: var(--easing-standard-productive);
  transition-duration: var(--easing-duration-1);
}

// ACCENT_TEXT_COLORS

[data-accent-color-text='orange'] {
  color: var(--c-text-orange);
}
[data-accent-color-text='yellow'] {
  color: var(--c-text-yellow);
}
[data-accent-color-text='green'] {
  color: var(--c-text-green);
}
[data-accent-color-text='cyan'] {
  color: var(--c-text-cyan);
}
[data-accent-color-text='blue'] {
  color: var(--c-text-blue);
}
[data-accent-color-text='indigo'] {
  color: var(--c-text-indigo);
}
[data-accent-color-text='purple'] {
  color: var(--c-text-purple);
}
[data-accent-color-text='violet'] {
  color: var(--c-text-violet);
}
[data-accent-color-text='magenta'] {
  color: var(--c-text-magenta);
}
[data-accent-color-text='pink'] {
  color: var(--c-text-pink);
}
[data-accent-color-text='red'] {
  color: var(--c-text-red);
}

// ACCENT_BACKGROUND_COLORS

[data-accent-color-bkgd='orange'] {
  background-color: var(--c-bkgd-orange);
}
[data-accent-color-bkgd='yellow'] {
  background-color: var(--c-bkgd-yellow);
}
[data-accent-color-bkgd='green'] {
  background-color: var(--c-bkgd-green);
}
[data-accent-color-bkgd='cyan'] {
  background-color: var(--c-bkgd-cyan);
}
[data-accent-color-bkgd='blue'] {
  background-color: var(--c-bkgd-blue);
}
[data-accent-color-bkgd='indigo'] {
  background-color: var(--c-bkgd-indigo);
}
[data-accent-color-bkgd='purple'] {
  background-color: var(--c-bkgd-purple);
}
[data-accent-color-bkgd='violet'] {
  background-color: var(--c-bkgd-violet);
}
[data-accent-color-bkgd='magenta'] {
  background-color: var(--c-bkgd-magenta);
}
[data-accent-color-bkgd='pink'] {
  background-color: var(--c-bkgd-pink);
}
[data-accent-color-bkgd='red'] {
  background-color: var(--c-bkgd-red);
}

// ACCENT_BORDER_COLORS

[data-accent-color-border='orange'] {
  border-color: var(--c-border-orange);
}
[data-accent-color-border='yellow'] {
  border-color: var(--c-border-yellow);
}
[data-accent-color-border='green'] {
  border-color: var(--c-border-green);
}
[data-accent-color-border='cyan'] {
  border-color: var(--c-border-cyan);
}
[data-accent-color-border='blue'] {
  border-color: var(--c-border-blue);
}
[data-accent-color-border='indigo'] {
  border-color: var(--c-border-indigo);
}
[data-accent-color-border='purple'] {
  border-color: var(--c-border-purple);
}
[data-accent-color-border='violet'] {
  border-color: var(--c-border-violet);
}
[data-accent-color-border='magenta'] {
  border-color: var(--c-border-magenta);
}
[data-accent-color-border='pink'] {
  border-color: var(--c-border-pink);
}
[data-accent-color-border='red'] {
  border-color: var(--c-border-red);
}

// ACCENT_INTERACTIVE_SCHEMES

[data-int-accent-color-bkgd='orange'] {
  color: var(--c-text-orange);
  background-color: var(--c-bkgd-orange);
  &:hover {
    background-color: var(--c-bkgd-orange-hover);
  }
}
[data-int-accent-color-bkgd='yellow'] {
  color: var(--c-text-yellow);
  background-color: var(--c-bkgd-yellow);
  &:hover {
    background-color: var(--c-bkgd-yellow-hover);
  }
}
[data-int-accent-color-bkgd='green'] {
  color: var(--c-text-green);
  background-color: var(--c-bkgd-green);
  &:hover {
    background-color: var(--c-bkgd-green-hover);
  }
}
[data-int-accent-color-bkgd='cyan'] {
  color: var(--c-text-cyan);
  background-color: var(--c-bkgd-cyan);
  &:hover {
    background-color: var(--c-bkgd-cyan-hover);
  }
}
[data-int-accent-color-bkgd='blue'] {
  color: var(--c-text-blue);
  background-color: var(--c-bkgd-blue);
  &:hover {
    background-color: var(--c-bkgd-blue-hover);
  }
}
[data-int-accent-color-bkgd='indigo'] {
  color: var(--c-text-indigo);
  background-color: var(--c-bkgd-indigo);
  &:hover {
    background-color: var(--c-bkgd-indigo-hover);
  }
}
[data-int-accent-color-bkgd='purple'] {
  color: var(--c-text-purple);
  background-color: var(--c-bkgd-purple);
  &:hover {
    background-color: var(--c-bkgd-purple-hover);
  }
}
[data-int-accent-color-bkgd='violet'] {
  color: var(--c-text-violet);
  background-color: var(--c-bkgd-violet);
  &:hover {
    background-color: var(--c-bkgd-violet-hover);
  }
}
[data-int-accent-color-bkgd='magenta'] {
  color: var(--c-text-magenta);
  background-color: var(--c-bkgd-magenta);
  &:hover {
    background-color: var(--c-bkgd-magenta-hover);
  }
}
[data-int-accent-color-bkgd='pink'] {
  color: var(--c-text-pink);
  background-color: var(--c-bkgd-pink);
  &:hover {
    background-color: var(--c-bkgd-pink-hover);
  }
}
[data-int-accent-color-bkgd='red'] {
  color: var(--c-text-red);
  background-color: var(--c-bkgd-red);
  &:hover {
    background-color: var(--c-bkgd-red-hover);
  }
}

.page {
  background-color: var(--color-background-0);
  color: var(--color-text-0);

  & > .header {
    [data-prefers-color-scheme='dim'] & {
      background-color: hsla(220, 6%, 11%, 0.7);
      backdrop-filter: blur(16px);
    }
    [data-prefers-color-scheme='dark'] & {
      background-color: hsla(0, 0%, 5%, 0.7);
      backdrop-filter: blur(16px);
    }
    [data-prefers-color-scheme='light'] & {
      background-color: hsla(0, 0%, 96%, 0.7);
      backdrop-filter: blur(16px);
    }
    ///
  }
}
