[data-prefers-color-scheme='dim'] {
  --c-pri: #18191b;
  --c-sec: #f5f5f5;
  --c-on-pri: #f5f5f5;
  --c-on-sec: #18191b;
}

[data-prefers-color-scheme='dark'] {
  --c-pri: #0a0a0a;
  --c-sec: #f5f5f5;
  --c-on-pri: #f5f5f5;
  --c-on-sec: #0a0a0a;
}

[data-prefers-color-scheme='light'] {
  --c-pri: #f5f5f5;
  --c-sec: #0e0e0e;
  --c-on-pri: #0e0e0e;
  --c-on-sec: #f5f5f5;
}

[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  // BASE

  --color-text-0: color-mix(in srgb, var(--c-sec) 99%, var(--c-on-sec));
  --color-text-1: color-mix(in srgb, var(--c-sec) 90%, var(--c-on-sec));
  --color-text-2: color-mix(in srgb, var(--c-sec) 80%, var(--c-on-sec));
  --color-text-3: color-mix(in srgb, var(--c-sec) 70%, var(--c-on-sec));

  --color-background-0: color-mix(in srgb, var(--c-pri) 99%, var(--c-on-pri));
  --color-background-1: color-mix(in srgb, var(--c-pri) 93%, var(--c-on-pri));
  --color-background-2: color-mix(in srgb, var(--c-pri) 87%, var(--c-on-pri));
  --color-background-3: color-mix(in srgb, var(--c-pri) 81%, var(--c-on-pri));
  --color-background-4: color-mix(in srgb, var(--c-pri) 75%, var(--c-on-pri));
  --color-background-5: color-mix(in srgb, var(--c-pri) 69%, var(--c-on-pri));

  --color-background-0-hover: color-mix(in srgb, var(--c-pri) 96%, var(--c-on-pri));
  --color-background-1-hover: color-mix(in srgb, var(--c-pri) 90%, var(--c-on-pri));
  --color-background-2-hover: color-mix(in srgb, var(--c-pri) 84%, var(--c-on-pri));
  --color-background-3-hover: color-mix(in srgb, var(--c-pri) 78%, var(--c-on-pri));
  --color-background-4-hover: color-mix(in srgb, var(--c-pri) 72%, var(--c-on-pri));
  --color-background-5-hover: color-mix(in srgb, var(--c-pri) 66%, var(--c-on-pri));

  --color-border-0: color-mix(in srgb, var(--c-pri) 83%, var(--c-on-pri));
  --color-border-1: color-mix(in srgb, var(--c-pri) 77%, var(--c-on-pri));
  --color-border-2: color-mix(in srgb, var(--c-pri) 71%, var(--c-on-pri));
  --color-border-3: color-mix(in srgb, var(--c-pri) 65%, var(--c-on-pri));
  --color-border-4: color-mix(in srgb, var(--c-pri) 59%, var(--c-on-pri));
  --color-border-5: color-mix(in srgb, var(--c-pri) 53%, var(--c-on-pri));

  // INVERTED

  --color-text-0-invert: color-mix(in srgb, var(--c-pri) 99%, var(--c-on-pri));
  --color-text-1-invert: color-mix(in srgb, var(--c-pri) 90%, var(--c-on-pri));
  --color-text-2-invert: color-mix(in srgb, var(--c-pri) 80%, var(--c-on-pri));
  --color-text-3-invert: color-mix(in srgb, var(--c-pri) 70%, var(--c-on-pri));

  --color-background-0-invert: color-mix(in srgb, var(--c-sec) 99%, var(--c-on-sec));
  --color-background-1-invert: color-mix(in srgb, var(--c-sec) 93%, var(--c-on-sec));
  --color-background-2-invert: color-mix(in srgb, var(--c-sec) 87%, var(--c-on-sec));
  --color-background-3-invert: color-mix(in srgb, var(--c-sec) 81%, var(--c-on-sec));
  --color-background-4-invert: color-mix(in srgb, var(--c-sec) 75%, var(--c-on-sec));
  --color-background-5-invert: color-mix(in srgb, var(--c-sec) 69%, var(--c-on-sec));

  --color-background-0-invert-hover: color-mix(in srgb, var(--c-sec) 96%, var(--c-on-sec));
  --color-background-1-invert-hover: color-mix(in srgb, var(--c-sec) 90%, var(--c-on-sec));
  --color-background-2-invert-hover: color-mix(in srgb, var(--c-sec) 84%, var(--c-on-sec));
  --color-background-3-invert-hover: color-mix(in srgb, var(--c-sec) 78%, var(--c-on-sec));
  --color-background-4-invert-hover: color-mix(in srgb, var(--c-sec) 72%, var(--c-on-sec));
  --color-background-5-invert-hover: color-mix(in srgb, var(--c-sec) 66%, var(--c-on-sec));

  --color-border-0-invert: color-mix(in srgb, var(--c-sec) 83%, var(--c-on-sec));
  --color-border-1-invert: color-mix(in srgb, var(--c-sec) 77%, var(--c-on-sec));
  --color-border-2-invert: color-mix(in srgb, var(--c-sec) 71%, var(--c-on-sec));
  --color-border-3-invert: color-mix(in srgb, var(--c-sec) 65%, var(--c-on-sec));
  --color-border-4-invert: color-mix(in srgb, var(--c-sec) 59%, var(--c-on-sec));
  --color-border-5-invert: color-mix(in srgb, var(--c-sec) 53%, var(--c-on-sec));

  background-color: var(--color-background-0);
  color: var(--color-text-0);
}

[data-prefers-color-scheme='dark'] {
  --c-hsl-orange: 25, 95%, 57%;
  --c-hsl-yellow: 38, 92%, 69%;
  --c-hsl-green: 142, 71%, 49%;
  --c-hsl-cyan: 173, 80%, 44%;
  --c-hsl-blue: 199, 89%, 52%;
  --c-hsl-indigo: 217, 91%, 64%;
  --c-hsl-purple: 258, 90%, 70%;
  --c-hsl-violet: 271, 91%, 69%;
  --c-hsl-magenta: 292, 84%, 65%;
  --c-hsl-pink: 330, 81%, 64%;
  --c-hsl-red: 0, 84%, 64%;
}

[data-prefers-color-scheme='dim'] {
  --c-hsl-orange: 25, 95%, 57%;
  --c-hsl-yellow: 38, 92%, 69%;
  --c-hsl-green: 142, 71%, 49%;
  --c-hsl-cyan: 173, 80%, 44%;
  --c-hsl-blue: 199, 89%, 52%;
  --c-hsl-indigo: 217, 91%, 64%;
  --c-hsl-purple: 258, 90%, 70%;
  --c-hsl-violet: 271, 91%, 69%;
  --c-hsl-magenta: 292, 84%, 65%;
  --c-hsl-pink: 330, 81%, 64%;
  --c-hsl-red: 0, 84%, 64%;
}

[data-prefers-color-scheme='light'] {
  --c-hsl-orange: 25, 95%, 47%;
  --c-hsl-yellow: 38, 92%, 48%;
  --c-hsl-green: 142, 71%, 39%;
  --c-hsl-cyan: 173, 80%, 34%;
  --c-hsl-blue: 199, 89%, 42%;
  --c-hsl-indigo: 217, 91%, 54%;
  --c-hsl-purple: 258, 90%, 60%;
  --c-hsl-violet: 271, 91%, 59%;
  --c-hsl-magenta: 292, 84%, 55%;
  --c-hsl-pink: 330, 81%, 54%;
  --c-hsl-red: 0, 84%, 54%;
}

.accent-color-swatch {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-sm);
  transition-property: color, background-color, border, outline;
  transition-timing-function: var(--easing-standard-productive);
  transition-duration: var(--easing-duration-1);
}

.accent-color-swatch-button-accent {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-rd);
}

.accent-color-swatch-button-avatar {
  border-radius: var(--radius-lg);
  padding-block: 0.2rem;
  padding-inline: 0.8rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex: 0 1 33%;
  gap: 0.4rem;
}

.page {
  background-color: var(--color-background-0);
  color: var(--color-text-0);

  & > .header {
    [data-prefers-color-scheme='dim'] & {
      background-color: hsla(220, 6%, 11%, 0.65);
      backdrop-filter: blur(16px);
    }
    [data-prefers-color-scheme='dark'] & {
      background-color: hsla(0, 0%, 5%, 0.65);
      backdrop-filter: blur(16px);
    }
    [data-prefers-color-scheme='light'] & {
      background-color: hsla(0, 0%, 96%, 0.65);
      backdrop-filter: blur(16px);
    }
    ///
  }
}
