:root {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: initial;
}

html,
body {
  display: block;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: block;
  min-height: 200vh;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  --cursor: pointer;
  --outline-color: transparent;

  cursor: var(--cursor);
  border: var(--border-sm);
  outline: var(--border-sm);
  outline-color: var(--outline-color);

  &:disabled,
  &[data-disabled] {
    --cursor: default;
  }
  &:focus:not(:focus-visible) {
    --outline-color: transparent;
  }
  &:focus:focus-visible {
    --outline-color: dodgerblue;
  }
}

a {
  text-decoration: none;
}

.container {
  display: block;
  margin-inline: auto;
  max-width: 1400px;
}

.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  &-hero,
  &-title,
  &-footer,
  &-header,
  &-content,
  &-section,
  &-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &-hero {
    display: block;
    padding-block: var(--spacing-4);
    padding-inline: var(--spacing-2);
  }

  &-title {
    display: block;
    line-height: 1;
    font-weight: 200;
    font-size: var(--font-size-12);
    padding-top: calc(var(--spacing-10) + var(--page-header-height));
    background-blend-mode: darken;
  }

  &-content {
    display: block;
  }

  &-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > .container {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  &-header {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    & > .container {
      width: 100%;
      height: var(--page-header-height);
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &-footer {
    display: block;
  }
}

.scheme {
  &-primary {
    background-color: var(--color-background-0);
    color: var(--color-text-A0);

    .button {
      background-color: var(--color-background-1);
      color: var(--color-text-A0);
      &:hover {
        background-color: var(--color-background-1-hover);
      }
    }
  }

  &-secondary {
    background-color: var(--color-background-0-invert);
    color: var(--color-text-A0-invert);

    .button {
      background-color: var(--color-background-1-invert);
      color: var(--color-text-A0-invert);
      &:hover {
        background-color: var(--color-background-1-invert-hover);
      }
    }
  }
}
