[data-prefers-color-scheme='dim'] {
  --c-pri: #18191b;
  --c-sec: #f5f5f5;
  --c-on-pri: #f5f5f5;
  --c-on-sec: #18191b;
}

[data-prefers-color-scheme='dark'] {
  --c-pri: #0a0a0a;
  --c-sec: #f5f5f5;
  --c-on-pri: #f5f5f5;
  --c-on-sec: #0a0a0a;
}

[data-prefers-color-scheme='light'] {
  --c-pri: #f5f5f5;
  --c-sec: #0e0e0e;
  --c-on-pri: #0e0e0e;
  --c-on-sec: #f5f5f5;
}

[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  --color-text-A0: color-mix(in srgb, var(--c-sec) 99%, var(--c-on-sec));
  --color-text-A1: color-mix(in srgb, var(--c-sec) 90%, var(--c-on-sec));
  --color-text-A2: color-mix(in srgb, var(--c-sec) 80%, var(--c-on-sec));
  --color-text-A3: color-mix(in srgb, var(--c-sec) 70%, var(--c-on-sec));

  --color-background-0: color-mix(in srgb, var(--c-pri) 99%, var(--c-on-pri));
  --color-background-1: color-mix(in srgb, var(--c-pri) 93%, var(--c-on-pri));
  --color-background-2: color-mix(in srgb, var(--c-pri) 87%, var(--c-on-pri));
  --color-background-3: color-mix(in srgb, var(--c-pri) 81%, var(--c-on-pri));
  --color-background-4: color-mix(in srgb, var(--c-pri) 75%, var(--c-on-pri));
  --color-background-5: color-mix(in srgb, var(--c-pri) 69%, var(--c-on-pri));

  --color-background-0-hover: color-mix(in srgb, var(--c-pri) 96%, var(--c-on-pri));
  --color-background-1-hover: color-mix(in srgb, var(--c-pri) 90%, var(--c-on-pri));
  --color-background-2-hover: color-mix(in srgb, var(--c-pri) 84%, var(--c-on-pri));
  --color-background-3-hover: color-mix(in srgb, var(--c-pri) 78%, var(--c-on-pri));
  --color-background-4-hover: color-mix(in srgb, var(--c-pri) 72%, var(--c-on-pri));
  --color-background-5-hover: color-mix(in srgb, var(--c-pri) 66%, var(--c-on-pri));

  --color-text-A0-invert: color-mix(in srgb, var(--c-pri) 99%, var(--c-on-pri));
  --color-text-A1-invert: color-mix(in srgb, var(--c-pri) 90%, var(--c-on-pri));
  --color-text-A2-invert: color-mix(in srgb, var(--c-pri) 80%, var(--c-on-pri));
  --color-text-A3-invert: color-mix(in srgb, var(--c-pri) 70%, var(--c-on-pri));

  --color-background-0-invert: color-mix(in srgb, var(--c-sec) 99%, var(--c-on-sec));
  --color-background-1-invert: color-mix(in srgb, var(--c-sec) 93%, var(--c-on-sec));
  --color-background-2-invert: color-mix(in srgb, var(--c-sec) 87%, var(--c-on-sec));
  --color-background-3-invert: color-mix(in srgb, var(--c-sec) 81%, var(--c-on-sec));
  --color-background-4-invert: color-mix(in srgb, var(--c-sec) 75%, var(--c-on-sec));
  --color-background-5-invert: color-mix(in srgb, var(--c-sec) 69%, var(--c-on-sec));

  --color-background-0-invert-hover: color-mix(in srgb, var(--c-sec) 96%, var(--c-on-sec));
  --color-background-1-invert-hover: color-mix(in srgb, var(--c-sec) 90%, var(--c-on-sec));
  --color-background-2-invert-hover: color-mix(in srgb, var(--c-sec) 84%, var(--c-on-sec));
  --color-background-3-invert-hover: color-mix(in srgb, var(--c-sec) 78%, var(--c-on-sec));
  --color-background-4-invert-hover: color-mix(in srgb, var(--c-sec) 72%, var(--c-on-sec));
  --color-background-5-invert-hover: color-mix(in srgb, var(--c-sec) 66%, var(--c-on-sec));

  background-color: var(--color-background-0);
  color: var(--color-text-A0);
}

.page {
  background-color: var(--color-background-0);
  color: var(--color-text-A0);

  &-header {
    [data-prefers-color-scheme='dim'] & {
      background-color: hsla(220, 6%, 11%, 0.7);
      backdrop-filter: blur(16px);
    }
    [data-prefers-color-scheme='dark'] & {
      background-color: hsla(0, 0%, 5%, 0.7);
      backdrop-filter: blur(16px);
    }
    [data-prefers-color-scheme='light'] & {
      background-color: hsla(0, 0%, 96%, 0.7);
      backdrop-filter: blur(16px);
    }
  }
}
