@use '../mixins' as mixins;
@use '../query' as query;

@layer reset {
  .table,
  .table-row,
  .table-cell,
  .table-head,
  .table-body,
  .table-header {
    @include mixins.reset;
  }
}

@layer tokens {
  :root {
    --table-height-row: calc(var(--unit) * 20);
  }
}

.table {
  gap: var(--unit);
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: stretch;
  font-family: var(--font-family);
  font-weight: var(--font-weight-1);

  &-head,
  &-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: stretch;
    gap: var(--unit);
  }

  &-row {
    gap: var(--unit);
    width: 100%;
    display: flex;
  }

  &-cell,
  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: var(--action-size);
    padding: calc(var(--unit) * 4);
    font-size: var(--font-size-3);
    font-family: var(--font-family);

    span {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      direction: ltr;
      text-align: left;

      @include mixins.rtl {
        direction: rtl;
        text-align: right;
      }
    }
  }

  &-cell {
    font-weight: var(--font-weight-1);
  }
  &-header {
    font-weight: var(--font-weight-2);
  }
}
