:root {
  --rgb-light-mode-red: rgb(255, 59, 48);
  --rgb-dark-mode-red: rgb(255, 69, 58);

  --rgb-light-mode-red-a11y: rgb(215, 0, 21);
  --rgb-dark-mode-red-a11y: rgb(255, 105, 97);

  --rgb-light-mode-orange: rgb(255, 149, 0);
  --rgb-dark-mode-orange: rgb(255, 159, 10);

  --rgb-light-mode-orange-a11y: rgb(201, 52, 0);
  --rgb-dark-mode-orange-a11y: rgb(255, 179, 64);

  --rgb-light-mode-yellow: rgb(255, 204, 0);
  --rgb-dark-mode-yellow: rgb(255, 214, 10);

  --rgb-light-mode-yellow-a11y: rgb(160, 90, 0);
  --rgb-dark-mode-yellow-a11y: rgb(255, 212, 38);

  --rgb-light-mode-green: rgb(40, 205, 65);
  --rgb-dark-mode-green: rgb(50, 215, 75);

  --rgb-light-mode-green-a11y: rgb(0, 125, 27);
  --rgb-dark-mode-green-a11y: rgb(49, 222, 75);

  --rgb-light-mode-mint: rgb(0, 199, 190);
  --rgb-dark-mode-mint: rgb(102, 212, 207);

  --rgb-light-mode-mint-a11y: rgb(12, 129, 123);
  --rgb-dark-mode-mint-a11y: rgb(102, 212, 207);

  --rgb-light-mode-teal: rgb(89, 173, 196);
  --rgb-dark-mode-teal: rgb(106, 196, 220);

  --rgb-light-mode-teal-a11y: rgb(0, 130, 153);
  --rgb-dark-mode-teal-a11y: rgb(93, 230, 255);

  --rgb-light-mode-cyan: rgb(85, 190, 240);
  --rgb-dark-mode-cyan: rgb(90, 200, 245);

  --rgb-light-mode-cyan-a11y: rgb(0, 113, 164);
  --rgb-dark-mode-cyan-a11y: rgb(112, 215, 255);

  --rgb-light-mode-blue: rgb(0, 122, 255);
  --rgb-dark-mode-blue: rgb(10, 132, 255);

  --rgb-light-mode-blue-a11y: rgb(0, 64, 221);
  --rgb-dark-mode-blue-a11y: rgb(64, 156, 255);

  --rgb-light-mode-indigo: rgb(88, 86, 214);
  --rgb-dark-mode-indigo: rgb(94, 92, 230);

  --rgb-light-mode-indigo-a11y: rgb(54, 52, 163);
  --rgb-dark-mode-indigo-a11y: rgb(125, 122, 255);

  --rgb-light-mode-purple: rgb(175, 82, 222);
  --rgb-dark-mode-purple: rgb(191, 90, 242);

  --rgb-light-mode-purple-a11y: rgb(173, 68, 171);
  --rgb-dark-mode-purple-a11y: rgb(218, 143, 255);

  --rgb-light-mode-pink: rgb(255, 45, 85);
  --rgb-dark-mode-pink: rgb(255, 55, 95);

  --rgb-light-mode-pink-a11y: rgb(211, 15, 69);
  --rgb-dark-mode-pink-a11y: rgb(255, 100, 130);

  --rgb-light-mode-brown: rgb(162, 132, 94);
  --rgb-dark-mode-brown: rgb(172, 142, 104);

  --rgb-light-mode-brown-a11y: rgb(127, 101, 69);
  --rgb-dark-mode-brown-a11y: rgb(181, 148, 105);

  --rgb-light-mode-gray: rgb(142, 142, 147);
  --rgb-dark-mode-gray: rgb(152, 152, 157);

  --rgb-light-mode-gray-a11y: rgb(105, 105, 110);
  --rgb-dark-mode-gray-a11y: rgb(152, 152, 157);

  --rgb-light-mode-surface-1: rgb(142, 142, 147);
  --rgb-dark-mode-surface-1: rgb(142, 142, 147);

  --rgb-light-mode-surface-1-a11y: rgb(108, 108, 112);
  --rgb-dark-mode-surface-1-a11y: rgb(174, 174, 178);

  --rgb-light-mode-surface-2: rgb(174, 174, 178);
  --rgb-dark-mode-surface-2: rgb(99, 99, 102);

  --rgb-light-mode-surface-2-a11y: rgb(142, 142, 147);
  --rgb-dark-mode-surface-2-a11y: rgb(124, 124, 128);

  --rgb-light-mode-surface-3: rgb(199, 199, 204);
  --rgb-dark-mode-surface-3: rgb(72, 72, 74);

  --rgb-light-mode-surface-3-a11y: rgb(174, 174, 178);
  --rgb-dark-mode-surface-3-a11y: rgb(84, 84, 86);

  --rgb-light-mode-surface-4: rgb(209, 209, 214);
  --rgb-dark-mode-surface-4: rgb(58, 58, 60);

  --rgb-light-mode-surface-4-a11y: rgb(188, 188, 192);
  --rgb-dark-mode-surface-4-a11y: rgb(68, 68, 70);

  --rgb-light-mode-surface-5: rgb(229, 229, 234);
  --rgb-dark-mode-surface-5: rgb(44, 44, 46);

  --rgb-light-mode-surface-5-a11y: rgb(216, 216, 220);
  --rgb-dark-mode-surface-5-a11y: rgb(54, 54, 56);

  --rgb-light-mode-surface-6: rgb(242, 242, 247);
  --rgb-dark-mode-surface-6: rgb(28, 28, 30);

  --rgb-light-mode-surface-6-a11y: rgb(235, 235, 240);
  --rgb-dark-mode-surface-6-a11y: rgb(36, 36, 38);
}

[data-prefers-mode='dim'] {
  --c-primary-text: var(--rgb-light-mode-surface-6);
  --c-primary-background: var(--rgb-dark-mode-surface-6);

  --c-primary-button: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 100%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-hover: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 95%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-active: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 90%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-selected: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 85%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-elevated: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 80%,
    var(--rgb-light-mode-surface-6)
  );

  --c-secondary-text: var(--rgb-dark-mode-surface-6);
  --c-secondary-background: var(--rgb-light-mode-surface-6);

  --c-secondary-button: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 100%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-hover: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 95%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-active: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 90%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-selected: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 85%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-elevated: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 80%,
    var(--rgb-light-mode-surface-6)
  );
}

[data-prefers-mode='dark'] {
  --c-primary-text: var(--rgb-light-mode-surface-6);
  --c-primary-background: var(--rgb-dark-mode-surface-6);

  --c-primary-button: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 100%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-hover: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 95%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-active: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 90%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-selected: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 85%,
    var(--rgb-light-mode-surface-6)
  );
  --c-primary-button-elevated: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 80%,
    var(--rgb-light-mode-surface-6)
  );

  --c-secondary-text: var(--rgb-dark-mode-surface-6);
  --c-secondary-background: var(--rgb-light-mode-surface-6);

  --c-secondary-button: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 100%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-hover: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 95%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-active: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 90%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-selected: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 85%,
    var(--rgb-light-mode-surface-6)
  );
  --c-secondary-button-elevated: color-mix(
    in srgb,
    var(--rgb-dark-mode-surface-6) 80%,
    var(--rgb-light-mode-surface-6)
  );
}

[data-prefers-mode='light'] {
  --c-primary-text: var(--rgb-dark-mode-surface-6);
  --c-primary-background: var(--rgb-light-mode-surface-6);

  --c-primary-button: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 100%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-primary-button-hover: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 95%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-primary-button-active: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 90%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-primary-button-selected: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 85%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-primary-button-elevated: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 80%,
    var(--rgb-dark-mode-surface-6)
  );

  --c-secondary-text: var(--rgb-light-mode-surface-6);
  --c-secondary-background: var(--rgb-dark-mode-surface-6);

  --c-secondary-button: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 100%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-secondary-button-hover: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 95%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-secondary-button-active: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 90%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-secondary-button-selected: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 85%,
    var(--rgb-dark-mode-surface-6)
  );
  --c-secondary-button-elevated: color-mix(
    in srgb,
    var(--rgb-light-mode-surface-6) 80%,
    var(--rgb-dark-mode-surface-6)
  );
}

[data-prefers-mode='dim'],
[data-prefers-mode='dark'] {
  --c-red: var(--rgb-dark-mode-red);
  --c-orange: var(--rgb-dark-mode-orange);
  --c-yellow: var(--rgb-dark-mode-yellow);
  --c-green: var(--rgb-dark-mode-green);
  --c-mint: var(--rgb-dark-mode-mint);
  --c-teal: var(--rgb-dark-mode-teal);
  --c-cyan: var(--rgb-dark-mode-cyan);
  --c-blue: var(--rgb-dark-mode-blue);
  --c-indigo: var(--rgb-dark-mode-indigo);
  --c-purple: var(--rgb-dark-mode-purple);
  --c-pink: var(--rgb-dark-mode-pink);
  --c-brown: var(--rgb-dark-mode-brown);
  --c-gray: var(--rgb-dark-mode-gray);
}

[data-prefers-mode='light'] {
  --c-red: var(--rgb-light-mode-red);
  --c-orange: var(--rgb-light-mode-orange);
  --c-yellow: var(--rgb-light-mode-yellow);
  --c-green: var(--rgb-light-mode-green);
  --c-mint: var(--rgb-light-mode-mint);
  --c-teal: var(--rgb-light-mode-teal);
  --c-cyan: var(--rgb-light-mode-cyan);
  --c-blue: var(--rgb-light-mode-blue);
  --c-indigo: var(--rgb-light-mode-indigo);
  --c-purple: var(--rgb-light-mode-purple);
  --c-pink: var(--rgb-light-mode-pink);
  --c-brown: var(--rgb-light-mode-brown);
  --c-gray: var(--rgb-light-mode-gray);
}

[data-prefers-mode='dim'][data-prefers-accessible-color],
[data-prefers-mode='dark'][data-prefers-accessible-color] {
  --c-red: var(--rgb-dark-mode-red-a11y);
  --c-orange: var(--rgb-dark-mode-orange-a11y);
  --c-yellow: var(--rgb-dark-mode-yellow-a11y);
  --c-green: var(--rgb-dark-mode-green-a11y);
  --c-mint: var(--rgb-dark-mode-mint-a11y);
  --c-teal: var(--rgb-dark-mode-teal-a11y);
  --c-cyan: var(--rgb-dark-mode-cyan-a11y);
  --c-blue: var(--rgb-dark-mode-blue-a11y);
  --c-indigo: var(--rgb-dark-mode-indigo-a11y);
  --c-purple: var(--rgb-dark-mode-purple-a11y);
  --c-pink: var(--rgb-dark-mode-pink-a11y);
  --c-brown: var(--rgb-dark-mode-brown-a11y);
  --c-gray: var(--rgb-dark-mode-gray-a11y);
}

[data-prefers-mode='light'][data-prefers-accessible-color] {
  --c-red: var(--rgb-dark-mode-red-a11y);
  --c-orange: var(--rgb-dark-mode-orange-a11y);
  --c-yellow: var(--rgb-dark-mode-yellow-a11y);
  --c-green: var(--rgb-dark-mode-green-a11y);
  --c-mint: var(--rgb-dark-mode-mint-a11y);
  --c-teal: var(--rgb-dark-mode-teal-a11y);
  --c-cyan: var(--rgb-dark-mode-cyan-a11y);
  --c-blue: var(--rgb-dark-mode-blue-a11y);
  --c-indigo: var(--rgb-dark-mode-indigo-a11y);
  --c-purple: var(--rgb-dark-mode-purple-a11y);
  --c-pink: var(--rgb-dark-mode-pink-a11y);
  --c-brown: var(--rgb-dark-mode-brown-a11y);
  --c-gray: var(--rgb-dark-mode-gray-a11y);
}

[data-prefers-mode='dim'][data-prefers-accent='red'],
[data-prefers-mode='dark'][data-prefers-accent='red'],
[data-prefers-mode='light'][data-prefers-accent='red'] {
  --c-accent-text: var(--c-red);
}

[data-prefers-mode='dim'][data-prefers-accent='orange'],
[data-prefers-mode='dark'][data-prefers-accent='orange'],
[data-prefers-mode='light'][data-prefers-accent='orange'] {
  --c-accent-text: var(--c-orange);
}

[data-prefers-mode='dim'][data-prefers-accent='yellow'],
[data-prefers-mode='dark'][data-prefers-accent='yellow'],
[data-prefers-mode='light'][data-prefers-accent='yellow'] {
  --c-accent-text: var(--c-yellow);
}

[data-prefers-mode='dim'][data-prefers-accent='red'],
[data-prefers-mode='dark'][data-prefers-accent='red'],
[data-prefers-mode='light'][data-prefers-accent='red'] {
  --c-accent-text: var(--c-green);
}

[data-prefers-mode='dim'][data-prefers-accent='orange'],
[data-prefers-mode='dark'][data-prefers-accent='orange'],
[data-prefers-mode='light'][data-prefers-accent='orange'] {
  --c-accent-text: var(--c-mint);
}

[data-prefers-mode='dim'][data-prefers-accent='yellow'],
[data-prefers-mode='dark'][data-prefers-accent='yellow'],
[data-prefers-mode='light'][data-prefers-accent='yellow'] {
  --c-accent-text: var(--c-teal);
}

[data-prefers-mode='dim'][data-prefers-accent='red'],
[data-prefers-mode='dark'][data-prefers-accent='red'],
[data-prefers-mode='light'][data-prefers-accent='red'] {
  --c-accent-text: var(--c-cyan);
}

[data-prefers-mode='dim'][data-prefers-accent='orange'],
[data-prefers-mode='dark'][data-prefers-accent='orange'],
[data-prefers-mode='light'][data-prefers-accent='orange'] {
  --c-accent-text: var(--c-blue);
}

[data-prefers-mode='dim'][data-prefers-accent='yellow'],
[data-prefers-mode='dark'][data-prefers-accent='yellow'],
[data-prefers-mode='light'][data-prefers-accent='yellow'] {
  --c-accent-text: var(--c-indigo);
}

[data-prefers-mode='dim'][data-prefers-accent='red'],
[data-prefers-mode='dark'][data-prefers-accent='red'],
[data-prefers-mode='light'][data-prefers-accent='red'] {
  --c-accent-text: var(--c-purple);
}

[data-prefers-mode='dim'][data-prefers-accent='orange'],
[data-prefers-mode='dark'][data-prefers-accent='orange'],
[data-prefers-mode='light'][data-prefers-accent='orange'] {
  --c-accent-text: var(--c-pink);
}

[data-prefers-mode='dim'][data-prefers-accent='yellow'],
[data-prefers-mode='dark'][data-prefers-accent='yellow'],
[data-prefers-mode='light'][data-prefers-accent='yellow'] {
  --c-accent-text: var(--c-brown);
}

[data-prefers-mode='dim'][data-prefers-accent='yellow'],
[data-prefers-mode='dark'][data-prefers-accent='yellow'],
[data-prefers-mode='light'][data-prefers-accent='yellow'] {
  --c-accent-text: var(--c-gray);
}
