:root {
  --root-body-width: 320px;
  --root-font-size: 16px;
  --root-font-weight: 400;
  --root-line-height: 1.6;
  --root-letter-spacing: initial;
  --root-moz-font-smoothing: grayscale;
  --root-webkit-font-smoothing: antialiased;
  --root-focus-outline: solid 2px dodgerblue;

  --root-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --root-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  display: block;
  font-size: inherit;
  box-sizing: border-box;
  font-size: var(--root-font-size);
  font-weight: var(--root-font-weight);
  font-family: var(--root-font-family);
  line-height: var(--root-font-height);
  letter-spacing: var(--root-letter-spacing);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: var(--root-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--root-moz-font-smoothing);

  @media screen and (max-device-width: 500px) {
    -webkit-text-size-adjust: 100%;
  }
}

#root {
  display: block;
  margin: 0;
  padding: 0;
  z-index: 0;
  font-size: inherit;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

svg + p {
  cursor: default;
}

code {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: var(--root-font-family-mono);
}

a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  font-size: inherit;
  font-family: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: inherit;
}

label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

input,
select,
button,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  border: none;
  font: inherit;
}

select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-transform: none;
}

[data-respect-reduced-motion] {
  @media (prefers-reduced-motion: reduce) {
    [data-reduce-motion] {
      transition: none;
      animation: none;
    }
  }
}
