@mixin primary-1 {
  background-color: var(--c-pri-1);
  color: var(--c-sec-1);
}

@mixin primary-1-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-pri-1-hh);
    color: var(--c-sec-1);
  }
}

@mixin primary-1-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-pri-1-aa);
    color: var(--c-sec-1);
  }
}

@mixin primary-2 {
  background-color: var(--c-pri-2);
  color: var(--c-sec-1);
}

@mixin primary-2-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-pri-2-hh);
    color: var(--c-sec-1);
  }
}

@mixin primary-2-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-pri-2-aa);
    color: var(--c-sec-1);
  }
}

@mixin primary-3 {
  background-color: var(--c-pri-3);
  color: var(--c-sec-1);
}

@mixin primary-3-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-pri-3-hh);
    color: var(--c-sec-1);
  }
}

@mixin primary-3-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-pri-3-aa);
    color: var(--c-sec-1);
  }
}

@mixin primary-4 {
  background-color: var(--c-pri-4);
  color: var(--c-sec-1);
}

@mixin primary-4-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-pri-4-hh);
    color: var(--c-sec-1);
  }
}

@mixin primary-4-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-pri-4-aa);
    color: var(--c-sec-1);
  }
}

@mixin primary-5 {
  background-color: var(--c-pri-5);
  color: var(--c-sec-1);
}

@mixin primary-5-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-pri-5-hh);
    color: var(--c-sec-1);
  }
}

@mixin primary-5-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-pri-5-aa);
    color: var(--c-sec-1);
  }
}

@mixin primary-6 {
  background-color: var(--c-pri-6);
  color: var(--c-sec-1);
}

@mixin primary-6-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-pri-6-hh);
    color: var(--c-sec-1);
  }
}

@mixin primary-6-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-pri-6-aa);
    color: var(--c-sec-1);
  }
}

@mixin secondary-1 {
  background-color: var(--c-sec-1);
  color: var(--c-pri-1);
}

@mixin secondary-1-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-sec-1-hh);
    color: var(--c-pri-1);
  }
}

@mixin secondary-1-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-sec-1-aa);
    color: var(--c-pri-1);
  }
}

@mixin secondary-2 {
  background-color: var(--c-sec-2);
  color: var(--c-pri-1);
}

@mixin secondary-2-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-sec-2-hh);
    color: var(--c-pri-1);
  }
}

@mixin secondary-2-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-sec-2-aa);
    color: var(--c-pri-1);
  }
}

@mixin secondary-3 {
  background-color: var(--c-sec-3);
  color: var(--c-pri-1);
}

@mixin secondary-3-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-sec-3-hh);
    color: var(--c-pri-1);
  }
}

@mixin secondary-3-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-sec-3-aa);
    color: var(--c-pri-1);
  }
}

@mixin secondary-4 {
  background-color: var(--c-sec-4);
  color: var(--c-pri-1);
}

@mixin secondary-4-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-sec-4-hh);
    color: var(--c-pri-1);
  }
}

@mixin secondary-4-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-sec-4-aa);
    color: var(--c-pri-1);
  }
}

@mixin secondary-5 {
  background-color: var(--c-sec-5);
  color: var(--c-pri-1);
}

@mixin secondary-5-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-sec-5-hh);
    color: var(--c-pri-1);
  }
}

@mixin secondary-5-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-sec-5-aa);
    color: var(--c-pri-1);
  }
}

@mixin secondary-6 {
  background-color: var(--c-sec-6);
  color: var(--c-pri-1);
}

@mixin secondary-6-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-sec-6-hh);
    color: var(--c-pri-1);
  }
}

@mixin secondary-6-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-sec-6-aa);
    color: var(--c-pri-1);
  }
}

@mixin tertiary-1 {
  background-color: var(--c-ter-1);
  color: var(--c-sec-1);
}

@mixin tertiary-1-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-ter-1-hh);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-1-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-ter-1-aa);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-2 {
  background-color: var(--c-ter-2);
  color: var(--c-sec-1);
}

@mixin tertiary-2-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-ter-2-hh);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-2-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-ter-2-aa);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-3 {
  background-color: var(--c-ter-3);
  color: var(--c-sec-1);
}

@mixin tertiary-3-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-ter-3-hh);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-3-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-ter-3-aa);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-4 {
  background-color: var(--c-ter-4);
  color: var(--c-sec-1);
}

@mixin tertiary-4-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-ter-4-hh);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-4-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-ter-4-aa);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-5 {
  background-color: var(--c-ter-5);
  color: var(--c-sec-1);
}

@mixin tertiary-5-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-ter-5-hh);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-5-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-ter-5-aa);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-6 {
  background-color: var(--c-ter-6);
  color: var(--c-sec-1);
}

@mixin tertiary-6-hh {
  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    transition-duration: 250ms;
    background-color: var(--c-ter-6-hh);
    color: var(--c-sec-1);
  }
}

@mixin tertiary-6-aa {
  &:not([data-disabled]):active,
  &:not([aria-disabled]):active {
    transition-duration: 250ms;
    background-color: var(--c-ter-6-aa);
    color: var(--c-sec-1);
  }
}
