@mixin transition-colors-static {
  transition-property: color, background-color, border-color, outline-color, stroke, fill;
  transition-timing-function: var(--easing-standard-expressive);
  transition-duration: var(--easing-duration-3);
}

@mixin transition-colors-interactive {
  transition-property: color, background-color, border-color, outline-color, stroke, fill;
  transition-timing-function: var(--easing-standard-productive);
  transition-duration: var(--easing-duration-3);
}

[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  color: var(--c-primary-text);
  background-color: var(--c-primary-background);

  .button,
  .action--link,
  .action--button {
    color: var(--c-primary-text);
    background-color: var(--c-primary-button);

    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      color: var(--c-primary-text);
      background-color: var(--c-primary-button-hover);
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      color: var(--c-primary-text);
      background-color: var(--c-primary-button-active);
    }
  }

  [data-scheme='secondary'] {
    color: var(--c-secondary-text);
    background-color: var(--c-secondary-background);

    .button,
    .action--link,
    .action--button {
      color: var(--c-secondary-text);
      background-color: var(--c-secondary-button);

      &:not([data-disabled]):hover,
      &:not([aria-disabled]):hover {
        color: var(--c-secondary-text);
        background-color: var(--c-secondary-button-hover);
      }
      &:not([data-disabled]):active,
      &:not([aria-disabled]):active {
        color: var(--c-secondary-text);
        background-color: var(--c-secondary-button-active);
      }
    }
  }

  .button,
  .action--link,
  .action--button,
  .search-result-item {
    outline: solid var(--unit) transparent;
    border: solid var(--unit) transparent;

    &:not([aria-disabled]):focus:not(:focus-visible),
    &:not([data-disabled]):focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:not([aria-disabled]):focus:focus-visible,
    &:not([data-disabled]):focus:focus-visible {
      outline-color: var(--c-blue);
    }
  }

  .layout-header {
    background-color: var(--c-primary-background);
    border-bottom: solid var(--unit) var(--c-primary-border);
    border-left: solid var(--unit) var(--c-primary-border);
  }
  .layout-nav {
    background-color: var(--c-primary-background);
    border-right: solid var(--unit) var(--c-primary-border);
  }
  .layout-nav-item[aria-selected] {
    color: var(--c-accent);

    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      color: var(--c-accent);
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      color: var(--c-accent);
    }
  }

  .search-input {
    border: solid var(--unit) transparent;
    outline: solid var(--unit) transparent;
    border-left: solid var(--unit) var(--c-primary-border);
    background-color: var(--c-primary-panel);
    color: var(--c-primary-text-med);

    &:not([aria-disabled]):focus-visible,
    &:not([data-disabled]):focus-visible {
      outline: solid var(--unit) transparent !important;
      outline-color: var(--c-blue) !important;
    }
  }
  .search-result {
    background-color: var(--c-primary-panel);
  }
  .search-result-item {
    background-color: var(--c-primary-panel);

    path {
      fill: var(--c-primary-text-low);
    }
    .text:first-of-type {
      color: var(--c-primary-text-med);
    }
    .text:last-of-type {
      color: var(--c-primary-text-low);
    }
  }

  .layout-menu {
    background-color: var(--c-primary-background);
    border-bottom: solid var(--unit) var(--c-primary-border);
  }
  .layout-menu-panel {
    background-color: var(--c-primary-panel);
    border-right: solid var(--unit) var(--c-primary-border);
  }
  .layout-menu-cell {
    background-color: var(--c-accent);
  }

  .page-hero-content--home,
  .page-hero-content--default {
    h2.title {
      color: var(--c-primary-text-med);
    }
    h1.title {
      color: var(--c-accent);
    }
  }
}
