[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  color: var(--c-primary-text);
  background-color: var(--c-primary-background);

  .button,
  .action--link,
  .action--button,
  .layout-search-input {
    color: var(--c-primary-text);
    background-color: var(--c-primary-button);

    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      color: var(--c-primary-text);
      background-color: var(--c-primary-button-hover);
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      color: var(--c-primary-text);
      background-color: var(--c-primary-button-active);
    }
  }

  [data-scheme='secondary'] {
    color: var(--c-secondary-text);
    background-color: var(--c-secondary-background);

    .button,
    .action--link,
    .action--button,
    .layout-search-input {
      color: var(--c-secondary-text);
      background-color: var(--c-secondary-button);

      &:not([data-disabled]):hover,
      &:not([aria-disabled]):hover {
        color: var(--c-secondary-text);
        background-color: var(--c-secondary-button-hover);
      }
      &:not([data-disabled]):active,
      &:not([aria-disabled]):active {
        color: var(--c-secondary-text);
        background-color: var(--c-secondary-button-active);
      }
    }
  }

  .button,
  .action--link,
  .action--button {
    outline: solid var(--unit) transparent;
    border: solid var(--unit) transparent;

    &:not([aria-disabled]):focus:not(:focus-visible),
    &:not([data-disabled]):focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:not([aria-disabled]):focus:focus-visible,
    &:not([data-disabled]):focus:focus-visible {
      outline-color: var(--c-blue);
    }
  }

  .layout-header {
    background-color: var(--c-primary-background);
    border-left: solid var(--unit) var(--c-primary-border);
    border-bottom: solid var(--unit) var(--c-primary-border);
  }

  .layout-nav {
    background-color: var(--c-primary-background);
    border-right: solid var(--unit) var(--c-primary-border);
  }

  .layout-search-input {
    border: solid var(--unit) transparent;
    outline: solid var(--unit) transparent;
    border-left: solid var(--unit) var(--c-primary-border);

    &:not([aria-disabled]):focus-visible,
    &:not([data-disabled]):focus-visible {
      outline: solid var(--unit) transparent !important;
      outline-color: var(--c-blue) !important;
    }
  }

  .layout-menu {
    background-color: var(--c-primary-background);
    border-bottom: solid var(--unit) var(--c-primary-border);

    &-panel {
      background-color: var(--c-primary-surface-1);
    }
    &-cell {
      background-color: var(--c-accent-text);
    }
  }
}
