@use '../mixins' as mixins;
@use './schemes' as schemes;

@mixin color-motion-interactive {
  transition-property: color, background-color, border-color, stroke, fill;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

@mixin color-motion-base {
  transition-property: color, background-color, border-color, stroke, fill;
  transition-timing-function: ease-in-out;
  transition-duration: 600ms;
}

@mixin color-focus-outline {
  outline: solid var(--unit) transparent;
  border: solid var(--unit) transparent;

  &:not([aria-disabled]):focus:not(:focus-visible),
  &:not([data-disabled]):focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:not([aria-disabled]):focus:focus-visible,
  &:not([data-disabled]):focus:focus-visible {
    outline-color: var(--c-blue);
  }
}

html[data-prefers-mode='dim'],
html[data-prefers-mode='dark'],
html[data-prefers-mode='light'] {
  @include schemes.primary-1;
  @include color-motion-base;
}

.splash {
  @include schemes.primary-1;
  @include color-motion-base;
}

.button {
  @include schemes.primary-2;
  @include schemes.primary-2-hh;
  @include schemes.primary-2-aa;
  @include color-focus-outline;
  @include color-motion-base;
}

.action {
  @include schemes.primary-2;
  @include schemes.primary-2-hh;
  @include schemes.primary-2-aa;
  @include color-focus-outline;
  @include color-motion-base;
}

.divider {
  &-label {
    color: var(--c-pri-9);
  }
  &-seperator {
    background-color: var(--c-pri-9);
  }
}

.layout {
  @include schemes.primary-1;
  @include color-motion-base;
}

.layout-logo {
  @include color-motion-base;
}

.layout-nav {
  @include schemes.primary-1;
  @include color-motion-base;

  .action::before {
    @include color-motion-interactive;
    transition-property: opacity, background-color;
  }
  .action:not([aria-selected])::before {
    background-color: transparent;
  }
  .action[aria-selected]::before {
    background-color: var(--c-accent-a900);
  }
}

.layout-nav-spacer {
  @include schemes.primary-2;
  @include color-motion-base;
}

.layout-header {
  @include schemes.primary-1;
  @include color-motion-base;
  border-color: transparent;
}

.layout-header-left,
.layout-header-right {
  @include schemes.primary-2;
  @include color-motion-base;
}

.layout-logo svg {
  @include color-motion-base;
  color: var(--c-accent-s500);
}

.page-hero--default {
  @include schemes.primary-2;
  @include color-motion-base;
  border-bottom: solid var(--unit) transparent;
  border-bottom-color: var(--c-pri-1);
}

.menu {
  @include schemes.primary-1;
  @include color-motion-base;
}

.menu-cell {
  @include color-motion-base;
  background-color: var(--c-accent-s500);
}

.menu-panel {
  @include color-motion-base;
  border-right: solid var(--unit) transparent;
  border-right-color: var(--c-pri-1);

  .divider {
    color: var(--c-pri-8);
  }
  &-container {
    @include schemes.primary-2;
    @include color-motion-base;
  }

  &-group {
    @include schemes.primary-1;
    @include color-motion-base;
  }

  .control-item {
    @include color-focus-outline;
    transition-property: background-color;
    background-color: inherit;

    &:not([data-selected]):hover,
    &:not([aria-selected]):hover {
      @include schemes.primary-1-hh;
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      @include schemes.primary-1-hh;
    }
  }

  .control-thumb {
    @include schemes.primary-2;

    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      @include schemes.primary-2;
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      @include schemes.primary-2;
    }
  }

  .color-group-item {
    @include schemes.primary-1;
    @include color-focus-outline;
    @include color-motion-base;

    &:not([data-selected]):hover,
    &:not([aria-selected]):hover {
      @include schemes.primary-2-hh;
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      @include schemes.primary-2-aa;
    }
  }
}

.search-input {
  @include color-focus-outline;
  @include color-motion-base;
  @include schemes.tertiary-1;
  color: var(--c-sec-5);
}
.search-input::placeholder {
  @include color-motion-base;
  color: var(--c-pri-8);
}
.search-result {
  @include schemes.primary-1;
  @include color-motion-base;
}
.search-result-item {
  @include color-focus-outline;
  @include color-motion-base;
  @include schemes.tertiary-1;
  @include schemes.tertiary-1-hh;
  @include schemes.tertiary-1-aa;
  color: var(--c-sec-5);
}
.search-result-item .icon {
  @include color-motion-base;
  color: var(--c-sec-5);
}
.search-result-item-copy .text:nth-of-type(1) {
  @include color-motion-base;
  color: var(--c-sec-2);
}
.search-result-item-copy .text:nth-of-type(2) {
  @include color-motion-base;
  color: var(--c-sec-5);
}

.sec-home-hero h1.title {
  @include color-motion-base;
  color: var(--c-accent-s500);
}

.sec-home-test-1 .box:nth-of-type(1) {
  @include color-motion-base;
  @include schemes.tertiary-1;
}
.sec-home-test-1 .box:nth-of-type(2) {
  @include color-motion-base;
  @include schemes.tertiary-1;
}
.sec-home-test-1 .box:nth-of-type(3) {
  @include color-motion-base;
  @include schemes.tertiary-1;
}
.sec-home-test-1 .box:nth-of-type(4) {
  @include color-motion-base;
  @include schemes.tertiary-1;
}

.sec-home-overview .box:nth-of-type(1) {
  @include color-motion-base;
  background-color: var(--c-accent-a100);
  color: var(--c-accent-a900);
}
.sec-home-overview .box:nth-of-type(2) {
  @include color-motion-base;
  @include schemes.primary-1;
}
