@mixin transition-colors-static {
  transition-property: color, background-color, border-color, outline-color, stroke, fill;
  transition-timing-function: var(--easing-standard-expressive);
  transition-duration: var(--easing-duration-3);
}

@mixin transition-colors-interactive {
  transition-property: color, background-color, border-color, outline-color, stroke, fill;
  transition-timing-function: var(--easing-standard-productive);
  transition-duration: var(--easing-duration-3);
}

@mixin transition-transform-interactive {
  transition-property: transform;
  transition-timing-function: var(--easing-standard-expressive);
  transition-duration: var(--easing-duration-3);
}

[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  // color: var(--c-text);
  // background-color: var(--c-background);
  // transition-property: color, background-color, border-color, outline-color, stroke, fill;
  // transition-timing-function: var(--easing-standard-expressive);
  // transition-duration: var(--easing-duration-5);

  .box,
  .page,
  .menu,
  .layout,
  .layout-nav,
  .layout-header {
    color: var(--c-text);
    background-color: var(--c-background);
    transition-property: color, background-color, border-color, outline-color, stroke, fill;
    transition-timing-function: var(--easing-standard-expressive);
    transition-duration: var(--easing-duration-5);
  }

  // [data-scheme='secondary'] {
  //   transition-property: color, background-color, border-color, outline-color, stroke, fill;
  //   transition-timing-function: var(--easing-standard-expressive);
  //   transition-duration: var(--easing-duration-5);
  //   transition-delay: 100ms;
  // }

  .button,
  .control-item,
  .action--link,
  .action--button,
  .search-result-item {
    @include transition-colors-interactive;
    outline: solid var(--unit) transparent;
    border: solid var(--unit) transparent;

    &:not([aria-disabled]):focus:not(:focus-visible),
    &:not([data-disabled]):focus:not(:focus-visible) {
      outline-color: transparent;
    }
    &:not([aria-disabled]):focus:focus-visible,
    &:not([data-disabled]):focus:focus-visible {
      outline-color: var(--c-blue);
    }
  }

  .button,
  .action--link,
  .action--button {
    color: var(--c-text);
    background-color: var(--c-button);

    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      color: var(--c-text);
      background-color: var(--c-button-hover);
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      color: var(--c-text);
      background-color: var(--c-button-active);
    }
  }

  .tile--clickable {
    &:not([data-disabled]),
    &:not([aria-disabled]) {
      color: var(--c-text);
      background-color: var(--c-tile-base);
    }
    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      background-color: var(--c-tile-hover);
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      background-color: var(--c-tile-active);
    }
  }

  .control-thumb {
    @include transition-transform-interactive;
  }

  .control--default {
    .control-item:not([data-disabled]) {
      color: var(--c-text);
      background-color: var(--c-control-base);
    }
    .control-item:not([data-disabled]):not([data-selected]):hover {
      background-color: var(--c-control-hover);
    }
    .control-item:not([data-disabled]):not([data-selected]):active {
      background-color: var(--c-control-active);
    }
    .control-thumb:not([data-disabled]) {
      background-color: var(--c-control-thumb);
    }
  }

  .control--accent {
    .control-item:not([data-disabled]) {
      color: var(--c-text);
      background-color: var(--c-control-base);
    }
    .control-item[data-selected]:not([data-disabled]) {
      color: var(--c-accent);
    }
    .control-item:not([data-disabled]):not([data-selected]):hover {
      background-color: var(--c-control-hover);
    }
    .control-item:not([data-disabled]):not([data-selected]):active {
      background-color: var(--c-control-active);
    }
    .control-thumb:not([data-disabled]) {
      background-color: var(--c-accent-a100);
    }
  }

  .layout-header {
    border-bottom: solid var(--unit) var(--c-border);
    border-left: solid var(--unit) var(--c-border);
  }

  .layout-nav {
    border-right: solid var(--unit) var(--c-border);
  }

  .layout-nav-item[aria-selected] {
    color: var(--c-accent);

    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      color: var(--c-accent);
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      color: var(--c-accent);
    }
  }

  .menu {
    border-bottom: solid var(--unit) var(--c-border);
  }

  .menu-panel {
    background-color: var(--c-panel-base);
    border-right: solid var(--unit) var(--c-border);
  }

  .menu-cell {
    background-color: var(--c-accent);
  }

  .search-input {
    border: solid var(--unit) transparent;
    outline: solid var(--unit) transparent;
    border-left: solid var(--unit) var(--c-border);
    background-color: var(--c-panel-base);
    color: var(--c-text-med);

    &:not([aria-disabled]):focus-visible,
    &:not([data-disabled]):focus-visible {
      outline: solid var(--unit) transparent !important;
      outline-color: var(--c-blue) !important;
    }
  }

  .search-result {
    background-color: var(--c-background);
  }

  .search-result-item {
    background-color: var(--c-panel-base);

    &:not([aria-disabled]):hover,
    &:not([data-disabled]):hover {
      background-color: var(--c-panel-hover);
    }
    &:not([aria-disabled]):active,
    &:not([data-disabled]):active {
      background-color: var(--c-panel-active);
    }

    path {
      fill: var(--c-text-low);
    }
    .text:first-of-type {
      color: var(--c-text-med);
    }
    .text:last-of-type {
      color: var(--c-text-low);
    }
  }

  .page-hero h2.title {
    color: var(--c-text-med);
  }

  .sec-home-hero h1.title {
    color: var(--c-accent);
  }
  .sec-home-overview-box--right {
    background-color: var(--c-background);
  }
}
