.v2-action {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  height: var(--size-action);
  width: var(--size-action);
}

.v2-action-group[data-orientation='vertical'],
.v2-action-group[data-orientation='horizontal'] {
  gap: var(--s-01);
}

.v2-action-group[data-orientation='vertical'] .v2-action-spacer,
.v2-action-group[data-orientation='horizontal'] .v2-action-spacer {
  height: var(--size-action);
  width: var(--size-action);
}

.v2-action-group[data-orientation='vertical'] .v2-action-spacer[data-grow],
.v2-action-group[data-orientation='horizontal'] .v2-action-spacer[data-grow] {
  flex: 1 0;
}
