.v2-action {
  min-width: var(--size-action-root);
  min-height: var(--size-action-root);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &-group {
    gap: var(--unit);
    display: flex;
    padding-inline: calc(var(--size-action-unit) / 2);
  }

  &-spacer {
    flex: 1 0;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &-group[data-orientation='vertical'] {
    width: var(--size-action-offset);
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    .v2-action-spacer {
      width: var(--size-action-root);
      height: 100%;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-group[data-orientation='horizontal'] {
    width: 100%;
    height: var(--size-action-offset);
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    .v2-action-spacer {
      width: 100%;
      height: var(--size-action-root);
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
    }
  }
}
