.v2-button {
  --button-height-xs: calc(var(--unit) * 18);
  --button-height-sm: calc(var(--unit) * 22);
  --button-height-md: calc(var(--unit) * 26);
  --button-height-lg: calc(var(--unit) * 30);
  --button-height-xl: calc(var(--unit) * 34);

  --button-spacing-x-xs: calc(var(--unit) * 4);
  --button-spacing-x-sm: calc(var(--unit) * 6);
  --button-spacing-x-md: calc(var(--unit) * 8);
  --button-spacing-x-lg: calc(var(--unit) * 10);
  --button-spacing-x-xl: calc(var(--unit) * 12);

  --button-spacing-y-xs: calc(var(--unit) * 4);
  --button-spacing-y-sm: calc(var(--unit) * 5);
  --button-spacing-y-md: calc(var(--unit) * 6);
  --button-spacing-y-lg: calc(var(--unit) * 7);
  --button-spacing-y-xl: calc(var(--unit) * 8);

  --button-font-xs: calc(var(--unit) * 6);
  --button-font-sm: calc(var(--unit) * 7);
  --button-font-md: calc(var(--unit) * 8);
  --button-font-lg: calc(var(--unit) * 9);
  --button-font-xl: calc(var(--unit) * 10);

  width: var(--button-width, max-content);
  height: var(--button-height, var(--button-height-xs));
  display: var(--button-display, inline-flex);
  align-items: var(--button-align);
  justify-content: var(--button-justify);
  padding-block: var(--button-spacing-y, var(--button-spacing-y-xs));
  padding-inline: var(--button-spacing-x, var(--button-spacing-x-xs));
  font-size: var(--button-font, var(--button-font-xs));
  font-weight: var(--fw-2);
  line-height: 1;

  [data-block] {
    --button-display: block;
    --button-width: 100%;
  }

  &:not([data-block]) {
    --button-align: center;
    --button-justify: center;
  }

  &--xs {
    --button-spacing-y: var(--button-spacing-y-xs);
    --button-spacing-x: var(--button-spacing-x-xs);
    --button-height: var(--button-height-xs);
    --button-font: var(--button-font-xs);
  }
  &--sm {
    --button-spacing-y: var(--button-spacing-y-sm);
    --button-spacing-x: var(--button-spacing-x-sm);
    --button-height: var(--button-height-sm);
    --button-font: var(--button-font-sm);
  }
  &--md {
    --button-spacing-y: var(--button-spacing-y-md);
    --button-spacing-x: var(--button-spacing-x-md);
    --button-height: var(--button-height-md);
    --button-font: var(--button-font-md);
  }
  &--lg {
    --button-spacing-y: var(--button-spacing-y-lg);
    --button-spacing-x: var(--button-spacing-x-lg);
    --button-height: var(--button-height-lg);
    --button-font: var(--button-font-lg);
  }
  &--xl {
    --button-spacing-y: var(--button-spacing-y-xl);
    --button-spacing-x: var(--button-spacing-x-xl);
    --button-height: var(--button-height-xl);
    --button-font: var(--button-font-xl);
  }
}
