.v2-divider {
  --x-divider-font-size-sm: 11px;
  --x-divider-font-size-md: 8px;
  --x-divider-font-size-lg: 8px;

  --x-divider-size-sm: 1px;
  --x-divider-size-md: 2px;
  --x-divider-size-lg: 3spx;

  height: var(--x-divider-font-size);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: var(--x-divider-size);
    border-top: solid var(--x-divider-size);
    border-top-style: var(--x-divider-decoration);
  }

  &[data-position='end']::after {
    flex: 0;
  }

  &[data-position='start']::before {
    flex: 0;
  }

  &-label {
    display: inline-flex;
    height: var(--x-divider-font-size);
    font-size: var(--x-divider-font-size);
    line-height: var(--x-divider-font-size);
  }

  .v2-icon {
    width: var(--x-divider-font-size) !important;
    height: var(--x-divider-font-size) !important;
    min-width: var(--x-divider-font-size) !important;
    min-height: var(--x-divider-font-size) !important;
  }

  &-content {
    height: var(--x-divider-font-size);
    display: inline-flex;
    align-items: center;
  }

  &-label[data-position='start'][data-with-icon] {
    margin-inline: var(--s-04);
  }
  &-label[data-position='center'][data-with-icon] {
    margin-inline: var(--s-04);
  }
  &-label[data-position='end'][data-with-icon] {
    margin-inline: var(--s-04);
  }

  &-label[data-position='start']:not([data-with-icon]) {
    margin-inline-end: var(--s-04);
  }
  &-label[data-position='center']:not([data-with-icon]) {
    margin-inline: var(--s-04);
  }
  &-label[data-position='end']:not([data-with-icon]) {
    margin-inline-start: var(--s-04);
  }

  &-label:not([data-with-icon]) {
    margin-inline-end: 0;
  }
  &-label:not([data-with-icon]) {
    margin-inline: 0;
  }
  &-label:not([data-with-icon]) {
    margin-inline-start: 0;
  }

  &--decoration-solid::after,
  &--decoration-solid::before {
    --x-divider-decoration: solid;
  }
  &--decoration-dotted::after,
  &--decoration-dotted::before {
    --x-divider-decoration: dotted;
  }
  &--decoration-dashed::after,
  &--decoration-dashed::before {
    --x-divider-decoration: dashed;
  }

  &--size-sm {
    --x-divider-font-size: var(--x-divider-font-size-sm);
    --x-divider-size: var(--x-divider-size-sm);
  }
  &--size-md {
    --x-divider-font-size: var(--x-divider-font-size-md);
    --x-divider-size: var(--x-divider-size-md);
  }
  &--size-lg {
    --x-divider-font-size: var(--x-divider-font-size-lg);
    --x-divider-size: var(--x-divider-size-lg);
  }
}
