.v2-divider {
  --x-divider-sm: 20px;
  --x-divider-md: 22px;
  --x-divider-lg: 24px;

  --x-divider-fz-sm: 12px;
  --x-divider-fz-md: 14px;
  --x-divider-fz-lg: 16px;

  --x-divider-icon-sm: 10px;
  --x-divider-icon-md: 12px;
  --x-divider-icon-lg: 14px;

  --x-divider-seperator-sm: 1px;
  --x-divider-seperator-md: 1.5px;
  --x-divider-seperator-lg: 2px;

  height: var(--x-divider);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &[data-position='end'] {
    flex-direction: row-reverse;

    [data-prefers-dir='rtl'] & {
      flex-direction: row;
    }
  }

  &[data-position='start'] {
    flex-direction: row;

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &[data-position='center'] {
    flex-direction: row;

    [data-prefers-dir='rtl'] & {
      flex-direction: row;
    }
  }

  .v2-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .v2-label {
    max-height: min-content;
    width: min-content;
    text-wrap: nowrap;
    font-size: var(--x-divider-fz);
    line-height: var(--x-divider-fz);
    margin-bottom: var(--s-1);
  }

  &--size-sm {
    --x-divider: var(--x-divider-sm);
    --x-divider-fz: var(--x-divider-fz-sm);
    --x-divider-seperator: var(--x-divider-seperator-sm);
  }
  &--size-md {
    --x-divider: var(--x-divider-md);
    --x-divider-fz: var(--x-divider-fz-md);
    --x-divider-seperator: var(--x-divider-seperator-md);
  }
  &--size-lg {
    --x-divider: var(--x-divider-lg);
    --x-divider-fz: var(--x-divider-fz-lg);
    --x-divider-seperator: var(--x-divider-seperator-lg);
  }
}

.v2-divider-content {
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--s-3);

  [data-position='end'] & {
    padding-left: var(--s-3);
  }

  [data-position='start'] & {
    padding-right: var(--s-3);
  }

  [data-position='center'] & {
    padding-left: var(--s-3);
    padding-right: var(--s-3);
  }

  [data-prefers-dir='rtl'] & {
    flex-direction: row-reverse;
  }
}

.v2-divider-seperator {
  height: var(--x-divider-seperator);
  width: 100%;
  flex: 1;
  display: flex;
}
