.v2-icon {
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  overflow: hidden;

  width: var(--x-icon-size);
  height: var(--x-icon-size);
  min-width: var(--x-icon-size);
  min-height: var(--x-icon-size);

  &--size-xxs {
    --x-icon-size: var(--size-icon-xxs);
  }
  &--size-xs {
    --x-icon-size: var(--size-icon-xs);
  }
  &--size-sm {
    --x-icon-size: var(--size-icon-sm);
  }
  &--size-md {
    --x-icon-size: var(--size-icon-md);
  }
  &--size-lg {
    --x-icon-size: var(--size-icon-lg);
  }
  &--size-xl {
    --x-icon-size: var(--size-icon-xl);
  }
  &--size-xxl {
    --x-icon-size: var(--size-icon-xxl);
  }
}
