.v2-icon {
  width: var(--x-icon-size, 16px);
  height: var(--x-icon-size, 16px);
  display: flex;
  align-items: center;
  justify-content: center;

  &--size-xs {
    --x-icon-size: 16px;
  }
  &--size-sm {
    --x-icon-size: 18px;
  }
  &--size-md {
    --x-icon-size: 20px;
  }
  &--size-lg {
    --x-icon-size: 24px;
  }
  &--size-xl {
    --x-icon-size: 28px;
  }
}
