.v2-icon-button {
  --x-icon-button-padding-xxs: calc(var(--s-01) * 1);
  --x-icon-button-padding-xs: calc(var(--s-01) * 2);
  --x-icon-button-padding-sm: calc(var(--s-01) * 2);
  --x-icon-button-padding-md: calc(var(--s-01) * 3);
  --x-icon-button-padding-lg: calc(var(--s-01) * 3);
  --x-icon-button-padding-xl: calc(var(--s-01) * 4);
  --x-icon-button-padding-xxl: calc(var(--s-01) * 4);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--x-icon-button-padding, var(--x-icon-button-padding-xs));
  padding-inline: var(--x-icon-button-padding, var(--x-icon-button-padding-xs));
  border-radius: var(--x-icon-button-radius);

  &--size-xxs {
    --x-icon-button-padding: var(--x-icon-button-padding-xs);
  }
  &--size-xs {
    --x-icon-button-padding: var(--x-icon-button-padding-xs);
  }
  &--size-sm {
    --x-icon-button-padding: var(--x-icon-button-padding-sm);
  }
  &--size-md {
    --x-icon-button-padding: var(--x-icon-button-padding-md);
  }
  &--size-lg {
    --x-icon-button-padding: var(--x-icon-button-padding-lg);
  }
  &--size-xl {
    --x-icon-button-padding: var(--x-icon-button-padding-xl);
  }
  &--size-xxl {
    --x-icon-button-padding: var(--x-icon-button-padding-xl);
  }

  &--radius-xs {
    --x-icon-button-radius: var(--radius-xs);
  }
  &--radius-sm {
    --x-icon-button-radius: var(--radius-sm);
  }
  &--radius-md {
    --x-icon-button-radius: var(--radius-md);
  }
  &--radius-lg {
    --x-icon-button-radius: var(--radius-lg);
  }
  &--radius-xl {
    --x-icon-button-radius: var(--radius-xl);
  }
  &--radius-rd {
    --x-icon-button-radius: var(--radius-rd);
  }
}
