.v2-inline-input {
  --x-inline-input-spacing-x-xs: calc(var(--s-01) * 2);
  --x-inline-input-spacing-x-sm: calc(var(--s-01) * 3);
  --x-inline-input-spacing-x-md: calc(var(--s-01) * 4);
  --x-inline-input-spacing-x-lg: calc(var(--s-01) * 5);
  --x-inline-input-spacing-x-xl: calc(var(--s-01) * 6);

  --x-inline-input-spacing-y-xs: calc(var(--s-01) * 1);
  --x-inline-input-spacing-y-sm: calc(var(--s-01) * 2);
  --x-inline-input-spacing-y-md: calc(var(--s-01) * 3);
  --x-inline-input-spacing-y-lg: calc(var(--s-01) * 4);
  --x-inline-input-spacing-y-xl: calc(var(--s-01) * 5);

  // --x-inline-input-height-xs: calc(var(--s-01) * 20);
  // --x-inline-input-height-sm: calc(var(--s-01) * 20);
  // --x-inline-input-height-md: calc(var(--s-01) * 20);
  // --x-inline-input-height-lg: calc(var(--s-01) * 20);
  // --x-inline-input-height-xl: calc(var(--s-01) * 20);

  gap: var(--x-inline-input-spacing-x);
  // min-height: var(--x-inline-input-height);
  padding-inline: var(--x-inline-input-spacing-x);

  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  &-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--x-inline-input-height);
    margin-block: var(--x-inline-input-spacing-y);
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-block: var(--x-inline-input-spacing-y);
    gap: calc(var(--x-inline-input-spacing-y) / 2);
  }

  &--size-xs {
    --x-inline-input-height: var(--x-inline-input-height-xs);
    --x-inline-input-spacing-y: var(--x-inline-input-spacing-y-xs);
  }
  &--size-sm {
    --x-inline-input-height: var(--x-inline-input-height-sm);
    --x-inline-input-spacing-x: var(--x-inline-input-spacing-x-sm);
    --x-inline-input-spacing-y: var(--x-inline-input-spacing-y-sm);
  }
  &--size-md {
    --x-inline-input-height: var(--x-inline-input-height-md);
    --x-inline-input-spacing-x: var(--x-inline-input-spacing-x-md);
    --x-inline-input-spacing-y: var(--x-inline-input-spacing-y-md);
  }
  &--size-lg {
    --x-inline-input-height: var(--x-inline-input-height-lg);
    --x-inline-input-spacing-x: var(--x-inline-input-spacing-x-lg);
    --x-inline-input-spacing-y: var(--x-inline-input-spacing-y-lg);
  }
  &--size-xl {
    --x-inline-input-height: var(--x-inline-input-height-xl);
    --x-inline-input-spacing-x: var(--x-inline-input-spacing-x-xl);
    --x-inline-input-spacing-y: var(--x-inline-input-spacing-y-xl);
  }
}

.v2-inline-input-label {
  font-size: var(--fz-05);
  font-weight: var(--fw-02);
  font-family: var(--ff);
  line-height: var(--size-icon-xs);
}

.v2-inline-input-error {
  font-size: var(--fz-05);
  font-weight: var(--fw-01);
  font-family: var(--ff);
  line-height: var(--fh-03);
}

.v2-inline-input-message {
  font-size: var(--fz-05);
  font-weight: var(--fw-01);
  font-family: var(--ff);
  line-height: var(--fh-03);
}
