.v2-selectbox-dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.v2-selectbox-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &-label {
    width: 100%;
    display: block;
    padding-block: var(--s-3);
    padding-inline: var(--s-4);
  }
}

.v2-selectbox-target {
  min-width: var(--s-16);
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: calc(var(--s-16) * 2);
  padding-block: var(--s-2);
  padding-inline: var(--s-4);
  font-size: var(--fz-6);
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: var(--s-1);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &-label {
    width: 100%;
    display: block;
  }
}

.v2-selectbox-option {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: calc(var(--s-16) * 2);
  padding-block: var(--s-2);
  padding-inline: var(--s-4);
  font-size: var(--fz-6);

  &-label {
    width: 100%;
    display: block;
  }
}
