.v2-select-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  gap: var(--s-1);
}

.v2-select-target {
  min-width: calc(calc(var(--s-10) * 6) + var(--s-1));
  padding: var(--s-1);
  position: relative;
  display: flex;
  min-height: var(--s-8);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-inline: var(--s-4);
  padding-block: var(--s-3);
  font-size: var(--fz-6);

  .v2-select-label {
    width: 100%;
  }
}

.v2-select-item {
  width: 100%;
  min-height: var(--s-8);
  padding: var(--s-1);

  &:first-of-type {
    padding-top: var(--s-1);
  }
  &:last-of-type {
    padding-bottom: var(--s-1);
  }
}

.v2-select-option {
  width: 100%;
  display: flex;
  min-height: var(--s-8);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: var(--s-4);
  padding-block: var(--s-3);
  font-size: var(--fz-6);
  position: relative;

  [data-prefers-dir='rtl'] & {
    flex-direction: row-reverse;
  }
}

.v2-select-label {
  width: 100%;
  display: block;
  padding-inline: var(--s-4);
  padding-block: var(--s-3);
}

// .v2-select-group {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   justify-content: center;
// }

// .v2-select-target {
//   min-width: var(--s-16);
//   height: 42px;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   min-width: calc(var(--s-16) * 2);
//   padding-inline: var(--s-4);
//   padding-block: var(--s-3);
//   font-size: var(--fz-6);
//   position: relative;

//   &::after {
//     content: '';
//     width: 100%;
//     height: var(--s-1);
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     left: 0;
//   }
// }

// .v2-select-option {
//   width: 100%;
//   height: 42px;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   padding-inline: var(--s-4);
//   padding-block: var(--s-3);
//   font-size: var(--fz-6);
// }

// .v2-select-option:first-of-type {
//   .v2-select-label {
//     margin-top: var(--s-1);
//   }
// }

// .v2-select-label {
//   width: 100%;
//   height: 100%;
//   display: block;
// }
