.v2-stack {
  gap: var(--v2-stack-gap);
  flex-direction: column;
  display: flex;

  &--gap-xs {
    --v2-stack-gap: calc(var(--unit) * 1);
  }
  &--gap-sm {
    --v2-stack-gap: calc(var(--unit) * 4);
  }
  &--gap-md {
    --v2-stack-gap: calc(var(--unit) * 8);
  }
  &--gap-lg {
    --v2-stack-gap: calc(var(--unit) * 16);
  }
  &--gap-xl {
    --v2-stack-gap: calc(var(--unit) * 24);
  }
}
