.v2-tabs-spacer,
.v2-tabs-list,
.v2-tabs-item {
  --x-tabs-item-height: 56px;
  --x-tabs-list-height: calc(var(--x-tabs-items-height) + calc(var(--s-1) * 2));
  --x-tabs-item-spacing: var(--s-4);
  --x-tabs-item-min-width: calc(var(--x-tabs-item-height) * 4);
}

.v2-tabs {
  width: 100%;
  display: block;

  &-spacer {
    flex: 1 0;
    width: 100%;
    height: var(--x-tabs-item-height);
    display: flex;
  }

  &-list {
    height: var(--x-tabs-list-height);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--s-1);

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-item {
    gap: var(--x-tabs-item-spacing);
    height: var(--x-tabs-item-height);
    min-width: var(--x-tabs-item-min-width);
    padding-inline: var(--x-tabs-item-spacing);

    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      [data-orientation='horizontal'] & {
        height: var(--s-1);
      }
    }
  }
}
