.v2-tabs {
  width: 100%;
  display: block;

  &-spacer {
    flex: 1 0;
    width: 100%;
    height: calc(var(--s-10) - calc(var(--s-1) * 2));
    display: flex;
  }

  &-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: var(--s-1);
    gap: var(--s-1);

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-item {
    gap: var(--s-4);
    height: calc(var(--s-10) - calc(var(--s-1) * 2));
    min-width: calc(var(--s-10) * 3);
    padding-inline: var(--s-4);
    padding-block: var(--s-3);

    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      [data-orientation='horizontal'] & {
        height: var(--s-1);
      }
    }
  }
}
