// .v2-table {
//   width: 100%;
//   display: block;

//   &-row {
//     width: 100%;
//     display: flex;
//   }

//   &-cell {
//     flex: 1 1;
//     display: flex;
//     align-items: flex-start;
//     justify-content: flex-start;
//     padding-block: var(--s-4);
//     padding-inline: var(--s-4);
//     border-bottom: solid 2px transparent;
//     font-family: var(--ff);
//     font-size: var(--fz-6);
//   }

//   &-head {
//     width: 100%;
//     display: block;
//   }

//   &-body {
//     width: 100%;
//     display: block;
//   }

//   &-foot {
//     width: 100%;
//     display: block;
//   }
// }

.v2-table {
  width: 100%;
  display: block;
}

.v2-table-row {
  width: 100%;
  display: flex;
}

.v2-table-cell {
  flex: 1 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.v2-table-head > .v2-table-row {
  border-bottom: solid 2px transparent;
}

.v2-table-head .v2-table-cell {
  font-size: var(--fz-5);
  font-weight: var(--fw-2);
  font-family: var(--ff);
  padding-inline: var(--s-4);
  padding-block: var(--s-4);
}

.v2-table-body .v2-table-cell {
  font-size: var(--fz-5);
  font-weight: var(--fw-1);
  font-family: var(--ff);
  padding-inline: var(--s-4);
  padding-block: var(--s-4);
}

.v2-table-foot .v2-table-cell {
  font-size: var(--fz-5);
  font-weight: var(--fw-1);
  font-family: var(--ff);
  padding-inline: var(--s-4);
  padding-block: var(--s-4);
}

.v2-table-head {
  width: 100%;
  display: block;
}

.v2-table-body {
  width: 100%;
  display: block;
}

.v2-table-foot {
  width: 100%;
  display: block;
}
