.v2-text {
  width: 100%;
  display: block;
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
  text-decoration: none;
  padding: 0;
  margin: 0;

  &:where([data-truncate]) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:where([data-truncate='start']) {
    direction: rtl;
    text-align: right;

    [data-prefers-dir='rtl'] & {
      direction: ltr;
      text-align: left;
    }
  }

  &:where([data-variant='gradient']) {
    background-image: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:where([data-line-clamp]) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--text-line-clamp);
    -webkit-box-orient: vertical;
  }

  &:where([data-inherit]) {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  &:where([data-inline]) {
    line-height: 1;
  }
}
