.v2-tile {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-inline: var(--s-5);
  padding-block: var(--s-8);
  gap: var(--s-4);

  @media screen and (min-width: 40em) {
    padding-inline: var(--s-6);
  }
  @media screen and (min-width: 60em) {
    padding-inline: var(--s-8);
  }
}

.v2-tile-group {
  gap: var(--s-1);
  display: flex;

  &[data-orientation='horizontal'] {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    &[data-prefers-dir='rtl'] {
      flex-direction: row-reverse;
    }
  }

  &[data-orientation='vertical'] {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}
