.v2-toast {
  display: flex;
  position: fixed;
  max-width: var(--breakpoint-tablet-sm);
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-block: var(--s-05);
  padding-inline: var(--s-05);
  border-width: var(--s-01);
  border-style: solid;
  gap: var(--s-03);

  &::after {
    width: var(--s-01);
    content: '';
    position: absolute;
    bottom: 0;
    right: calc(var(--s-01) * -1);
    top: 0;
  }

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 1000px;
    border: solid 2px transparent;
    outline: solid 2px transparent;
    // position: absolute;
    // right: calc(var(--s-06) - 12px);
    // top: calc(var(--s-06) - 12px);

    &:hover {
      cursor: pointer;
    }
    &:active {
      cursor: pointer;
    }
  }

  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--s-04);

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-title {
    flex: 1;
    font-size: var(--fz-05);
    font-weight: var(--fw-03);
    font-family: var(--ff);
  }

  &-text {
    width: 100%;
    font-size: var(--fz-04);
    font-weight: var(--fw-02);
    font-family: var(--ff);
  }
}
