.v2-icon {
  color: inherit;
}

.v2-button {
  color: inherit;
}

.v2-iconbtn {
  color: inherit;
}

.v2-actionbtn {
  color: inherit;
}

.v2-radio {
  color: inherit;
}

.v2-checkbox {
  color: inherit;
}
