.v2-stack-table-head,
.v2-stack-table-body,
.v2-stack-table-layout,
.v2-stack-table-head-row,
.v2-stack-table-body-row,
.v2-stack-table-head-cell,
.v2-stack-table-body-cell {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.v2-stack-table {
  width: 100%;
  display: block;
  max-width: 100em;

  &-layout {
    width: 100%;
    border: none;
    display: block;
    border-collapse: collapse;
  }

  &-head,
  &-body {
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--v2-01);
  }

  &-head-row,
  &-body-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    min-height: var(--v2-action);
    gap: var(--v2-01);
  }

  &-head-row {
    border-block: solid var(--v2-01) transparent;
  }

  &-head-cell,
  &-body-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: var(--v2-action);
    padding-inline: var(--v2-04);
    text-align: start;

    [data-prefers-dir='rtl'] {
      text-align: end;
    }
  }

  &-head-cell {
    width: 100%;
    flex-grow: 1;
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-med);
    line-height: var(--v2-line-height-sm);
    font-family: var(--v2-font-family);

    .v2-icon {
      height: var(--v2-font-size-03);
      width: var(--v2-font-size-03);
    }
  }

  &-head-cell[data-table-control] {
    justify-content: space-between;
  }

  &-body-cell {
    width: 100%;
    flex-grow: 1;
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
    font-family: var(--v2-font-family);
  }

  &-head-cell[data-table-column='type'],
  &-body-cell[data-table-column='type'] {
    @media (min-width: 60em) {
      width: 10%;
    }
  }

  &-head-cell[data-table-column='name'],
  &-body-cell[data-table-column='name'] {
    width: 100%;

    @media (min-width: 60em) {
      width: 20%;
    }
  }

  &-head-cell[data-table-column='desc'],
  &-body-cell[data-table-column='desc'] {
    display: none;

    @media (min-width: 60em) {
      display: flex;
      width: 60%;
    }
  }

  &-head-cell[data-table-column='docs'],
  &-body-cell[data-table-column='docs'] {
    @media (min-width: 60em) {
      width: 10%;
    }
  }

  // td,
  // th,
  // tr,
  // thead,
  // tbody,
  // tfoot {
  //   margin: 0;
  //   padding: 0;
  //   box-sizing: border-box;
  // }

  // table {
  //   width: 100%;
  //   border: none;
  //   display: block;
  //   border-collapse: collapse;
  // }

  // thead,
  // tbody {
  //   width: 100%;
  //   flex-grow: 1;
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  //   flex-direction: column;
  //   gap: var(--v2-01);
  // }

  // tr {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   flex-direction: row;
  //   justify-content: flex-start;
  //   min-height: var(--v2-action);
  //   gap: var(--v2-01);
  // }

  // thead tr {
  //   border-block: solid var(--v2-01) transparent;
  // }

  // th,
  // td {
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-start;
  //   min-height: var(--v2-action);
  //   font-size: var(--v2-font-size-03);
  //   font-weight: var(--v2-font-weight-reg);
  //   line-height: var(--v2-line-height-sm);
  //   font-family: var(--v2-font-family);
  //   text-align: start;

  //   [data-prefers-dir='rtl'] {
  //     text-align: end;
  //   }
  // }

  // th {
  //   width: 100%;
  //   flex-grow: 1;
  //   font-weight: var(--v2-font-weight-med);
  // }

  // td {
  // }

  // th[data-table-column='type'],
  // td[data-table-column='type'] {
  //   justify-content: center;
  //   min-width: var(--v2-action);
  //   max-width: var(--v2-action);
  // }

  // th[data-table-column='link'],
  // td[data-table-column='link'] {
  //   justify-content: center;
  //   min-width: var(--v2-action);
  //   max-width: var(--v2-action);
  // }

  // th[data-table-column='label'],
  // td[data-table-column='label'] {
  //   width: 100%;
  //   padding-inline: var(--v2-04);
  //   justify-content: flex-start;

  //   @media (min-width: 60em) {
  //     width: 30%;
  //   }
  // }

  // th[data-table-column='info'],
  // td[data-table-column='info'] {
  //   width: 100%;
  //   display: none;

  //   @media (min-width: 60em) {
  //     display: flex;
  //     justify-content: flex-start;
  //     padding-inline: var(--v2-04);
  //   }
  // }
}
