:root {
  --scale: 1;
  --cursor: default;

  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-rd: 1000px;

  --z-index-app: 100;
  --z-index-modal: 200;
  --z-index-popover: 300;
  --z-index-overlay: 400;
  --z-index-max: 9999;

  --border-sm: solid 1.5px transparent;
  --border-md: solid 2.5px transparent;
  --border-lg: solid 3.5px transparent;

  --font-weight-lgt: 300;
  --font-weight-reg: 400;
  --font-weight-med: 500;
  --font-weight-bld: 600;
  --font-weight-xbd: 700;

  --font-family-lgt: 'Satoshi-Light';
  --font-family-reg: 'Satoshi-Regular';
  --font-family-med: 'Satoshi-Medium';
  --font-family-bld: 'Satoshi-Bold';
  --font-family-xbd: 'Satoshi-Black';

  --font-family-lgt-italic: 'Satoshi-LightItalic';
  --font-family-reg-italic: 'Satoshi-Italic';
  --font-family-med-italic: 'Satoshi-MediumItalic';
  --font-family-bld-italic: 'Satoshi-BoldItalic';
  --font-family-xbd-italic: 'Satoshi-BlackItalic';

  --font-size-1: calc(4px * var(--scale));
  --font-size-2: calc(8px * var(--scale));
  --font-size-3: calc(12px * var(--scale));
  --font-size-4: calc(16px * var(--scale));
  --font-size-5: calc(20px * var(--scale));
  --font-size-6: calc(24px * var(--scale));
  --font-size-7: calc(28px * var(--scale));
  --font-size-8: calc(32px * var(--scale));
  --font-size-9: calc(36px * var(--scale));
  --font-size-10: calc(40px * var(--scale));
  --font-size-11: calc(44px * var(--scale));
  --font-size-12: calc(48px * var(--scale));

  --easing-duration-1: 70ms;
  --easing-duration-2: 110ms;
  --easing-duration-3: 150ms;
  --easing-duration-4: 240ms;
  --easing-duration-5: 400ms;
  --easing-duration-6: 700ms;

  --spacing-1: calc(2px * var(--scale));
  --spacing-2: calc(4px * var(--scale));
  --spacing-3: calc(8px * var(--scale));
  --spacing-4: calc(12px * var(--scale));
  --spacing-5: calc(16px * var(--scale));
  --spacing-6: calc(20px * var(--scale));
  --spacing-7: calc(24px * var(--scale));
  --spacing-8: calc(32px * var(--scale));
  --spacing-9: calc(40px * var(--scale));
  --spacing-10: calc(48px * var(--scale));
  --spacing-11: calc(56px * var(--scale));
  --spacing-12: calc(64px * var(--scale));
  --spacing-13: calc(72px * var(--scale));
  --spacing-14: calc(80px * var(--scale));
  --spacing-15: calc(120px * var(--scale));

  --easing-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
  --easing-entrance-productive: cubic-bezier(0, 0, 0.38, 0.9);
  --easing-exit-productive: cubic-bezier(0.2, 0, 1, 0.9);

  --easing-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
  --easing-entrance-expressive: cubic-bezier(0, 0, 0.3, 1);
  --easing-exit-expressive: cubic-bezier(0.4, 0.14, 1, 1);

  --page-gutter: var(--spacing-2);
  --page-hero-height: calc(96px * var(--scale));
  --page-title-height: calc(40px * var(--scale));
  --page-header-height: calc(48px * var(--scale));

  @media (min-width: 20rem) {
    --page-hero-height: calc(144px * var(--scale));
    --page-title-height: calc(48px * var(--scale));
    --page-header-height: calc(56px * var(--scale));
  }

  @media (min-width: 40rem) {
    --page-gutter: var(--spacing-3);
    --page-hero-height: calc(144px * var(--scale));
    --page-title-height: calc(48px * var(--scale));
    --page-header-height: calc(56px * var(--scale));
  }

  @media (min-width: 60rem) {
    --page-gutter: var(--spacing-4);
  }

  @media (min-width: 80rem) {
    --page-gutter: var(--spacing-5);
  }
}

// @media (min-width: 20rem) {}
// @media (min-width: 40rem) {}
// @media (min-width: 60rem) {}
// @media (min-width: 80rem) {}
// @media (min-width: 100rem) {}

// --width-card-sm: 160px;
// --width-card-lg: 240px;
// --width-mobile-sm: 320px;
// --width-mobile-lg: 480px;
// --width-tablet-sm: 640px;
// --width-tablet-lg: 880px;
// --width-desktop-sm: 1024px;
// --width-desktop-lg: 1200px;
// --width-widescreen-sm: 1400px;

.Puzzle {
  width: 100%;
  border: solid 2px indianred;
  display: block;
}

.PuzzleGrid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  max-width: 600px;
  position: relative;
  isolation: isolate;
  z-index: 1;
}

.PuzzleRow {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 100px);
}

.PuzzleCell {
  height: 100px;
  outline: solid 1px gray;
}

// .PuzzleBlock {}
