[data-prefers-color-scheme='light'] {
  --c-pri: #f5f5f5;
  --c-sec: #0e0e0e;
  --c-on-pri: #0e0e0e;
  --c-on-sec: #f5f5f5;
}
[data-prefers-color-scheme='light'] {
  --c-hsl-orange: 25, 95%, 47%;
  --c-hsl-yellow: 38, 92%, 48%;
  --c-hsl-green: 142, 71%, 39%;
  --c-hsl-cyan: 173, 80%, 34%;
  --c-hsl-blue: 199, 89%, 42%;
  --c-hsl-indigo: 217, 91%, 54%;
  --c-hsl-purple: 258, 90%, 60%;
  --c-hsl-violet: 271, 91%, 59%;
  --c-hsl-magenta: 292, 84%, 55%;
  --c-hsl-pink: 330, 81%, 54%;
  --c-hsl-red: 0, 84%, 54%;
  --c-hsl-disabled: 0, 0%, 60%;
}
