@use '../../mixins' as mixins;

@layer reset {
  .page-header {
    @include mixins.reset;
    &-logo,
    &-logo span,
    &-content,
    &-box:nth-of-type(1),
    &-box:nth-of-type(2) {
      @include mixins.reset;
    }
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--height-header);

  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: var(--index-header);

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-box:nth-of-type(1),
  &-box:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: var(--gutter);
  }
}
