@use '../../mixins' as mixins;

@layer reset {
  .header {
    @include mixins.reset;
    &-content,
    &-box:nth-of-type(1),
    &-box:nth-of-type(2) {
      @include mixins.reset;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--height-header);
  z-index: var(--index-header);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--unit);
  }

  &-box:nth-of-type(1),
  &-box:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
