@use '../../mixins' as mixins;

.header {
  &-layout,
  &-content {
    @include mixins.reset;
  }

  .box:nth-of-type(1),
  .box:nth-of-type(2) {
    @include mixins.reset;
  }

  &-layout {
    height: var(--site-height-header);
    z-index: var(--site-index-header);
    isolation: isolate;
    position: fixed;
    display: block;
    right: 0;
    left: 0;
    top: 0;

    @media (min-width: 60em) {
      margin-left: var(--site-height-header);
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .box:nth-of-type(1),
  .box:nth-of-type(2) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: var(--site-gutter);
  }
}
