:root {
  --v2-radius-01: calc(var(--v2-unit) * 2); // 4px
  --v2-radius-02: calc(var(--v2-unit) * 4); // 8px
  --v2-radius-03: calc(var(--v2-unit) * 6); // 12px
  --v2-radius-04: calc(var(--v2-unit) * 8); // 16px
  --v2-radius-05: calc(var(--v2-unit) * 10); // 20px
  --v2-radius-rd: calc(var(--v2-unit) * 1000); // 2000px

  --v2-font-family: 'Satoshi';

  --v2-line-height-01: 1;
  --v2-line-height-02: 1.15;
  --v2-line-height-03: 1.35;
  --v2-line-height-04: 1.5;
  --v2-line-height-05: 1.62;
  --v2-line-height-06: 1.75;
  --v2-line-height-07: 1.85;

  --v2-font-weight-light: 300;
  --v2-font-weight-regular: 400;
  --v2-font-weight-medium: 500;
  --v2-font-weight-bold: 600;
  --v2-font-weight-black: 700;
}
