@layer tokens {
  :root {
    --v2-unit: 0.125rem;
    --v2-space: calc(var(--v2-unit) * 8);
    --v2-gutter: calc(var(--v2-unit) * 12);
    --v2-action: calc(var(--v2-unit) * 26);
    --v2-action-offset: calc(var(--v2-unit) * 2);
    --v2-action-button: calc(var(--v2-unit) * 24);

    --v2-radius-01: calc(var(--v2-unit) * 2); // 4px
    --v2-radius-02: calc(var(--v2-unit) * 4); // 8px
    --v2-radius-03: calc(var(--v2-unit) * 6); // 12px
    --v2-radius-04: calc(var(--v2-unit) * 8); // 16px
    --v2-radius-05: calc(var(--v2-unit) * 10); // 20px
    --v2-radius-rd: calc(var(--v2-unit) * 1000); // 2000px

    --v2-font-family: 'Satoshi';

    --v2-line-height-01: 1;
    --v2-line-height-02: 1.15;
    --v2-line-height-03: 1.35;
    --v2-line-height-04: 1.5;
    --v2-line-height-05: 1.62;
    --v2-line-height-06: 1.75;
    --v2-line-height-07: 1.85;

    --v2-font-weight-light: 300;
    --v2-font-weight-regular: 400;
    --v2-font-weight-medium: 500;
    --v2-font-weight-bold: 600;
    --v2-font-weight-black: 700;

    --v2-font-size-01: calc(var(--v2-unit) * 4);
    --v2-font-size-02: calc(var(--v2-unit) * 6);
    --v2-font-size-03: calc(var(--v2-unit) * 8);
    --v2-font-size-04: calc(var(--v2-unit) * 10);
    --v2-font-size-05: calc(var(--v2-unit) * 12);
    --v2-font-size-06: calc(var(--v2-unit) * 14);
    --v2-font-size-07: calc(var(--v2-unit) * 16);
    --v2-font-size-08: calc(var(--v2-unit) * 18);
    --v2-font-size-09: calc(var(--v2-unit) * 20);
    --v2-font-size-10: calc(var(--v2-unit) * 22);
    --v2-font-size-11: calc(var(--v2-unit) * 24);
    --v2-font-size-12: calc(var(--v2-unit) * 26);
    --v2-font-size-13: calc(var(--v2-unit) * 28);
    --v2-font-size-14: calc(var(--v2-unit) * 30);
    --v2-font-size-15: calc(var(--v2-unit) * 32);
    --v2-font-size-16: calc(var(--v2-unit) * 34);
    --v2-font-size-17: calc(var(--v2-unit) * 36);
    --v2-font-size-18: calc(var(--v2-unit) * 38);
    --v2-font-size-19: calc(var(--v2-unit) * 40);
    --v2-font-size-20: calc(var(--v2-unit) * 42);

    --v2-delay-01: 0ms;
    --v2-delay-02: 100ms;
    --v2-delay-03: 200ms;

    --v2-duration-fast-01: 70ms;
    --v2-duration-fast-02: 110ms;
    --v2-duration-moderate-01: 150ms;
    --v2-duration-moderate-02: 240ms;
    --v2-duration-slow-01: 400ms;
    --v2-duration-slow-02: 700ms;

    --v2-easing-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
    --v2-easing-productive-exit: cubic-bezier(0.2, 0, 1, 0.9);
    --v2-easing-productive-enter: cubic-bezier(0, 0, 0.38, 0.9);

    --v2-easing-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
    --v2-easing-expressive-exit: cubic-bezier(0.4, 0.14, 1, 1);
    --v2-easing-expressive-enter: cubic-bezier(0, 0, 0.3, 1);

    --v2-button-height-xxs: calc(var(--v2-unit) * 16);
    --v2-button-height-xs: calc(var(--v2-unit) * 18);
    --v2-button-height-sm: calc(var(--v2-unit) * 20);
    --v2-button-height-md: calc(var(--v2-unit) * 22);
    --v2-button-height-lg: calc(var(--v2-unit) * 24);
    --v2-button-height-xl: calc(var(--v2-unit) * 26);
    --v2-button-height-xxl: calc(var(--v2-unit) * 28);

    --v2-button-font-size-xxs: calc(var(--v2-unit) * 4);
    --v2-button-font-size-xs: calc(var(--v2-unit) * 5);
    --v2-button-font-size-sm: calc(var(--v2-unit) * 6);
    --v2-button-font-size-md: calc(var(--v2-unit) * 6);
    --v2-button-font-size-lg: calc(var(--v2-unit) * 7);
    --v2-button-font-size-xl: calc(var(--v2-unit) * 7);
    --v2-button-font-size-xxl: calc(var(--v2-unit) * 8);

    --v2-button-icon-size-xxs: calc(var(--v2-unit) * 5);
    --v2-button-icon-size-xs: calc(var(--v2-unit) * 6);
    --v2-button-icon-size-sm: calc(var(--v2-unit) * 7);
    --v2-button-icon-size-md: calc(var(--v2-unit) * 8);
    --v2-button-icon-size-lg: calc(var(--v2-unit) * 9);
    --v2-button-icon-size-xl: calc(var(--v2-unit) * 10);
    --v2-button-icon-size-xxl: calc(var(--v2-unit) * 11);

    --v2-button-spacing-x-xxs: calc(var(--v2-unit) * 6);
    --v2-button-spacing-x-xs: calc(var(--v2-unit) * 6);
    --v2-button-spacing-x-sm: calc(var(--v2-unit) * 7);
    --v2-button-spacing-x-md: calc(var(--v2-unit) * 7);
    --v2-button-spacing-x-lg: calc(var(--v2-unit) * 8);
    --v2-button-spacing-x-xl: calc(var(--v2-unit) * 8);
    --v2-button-spacing-x-xxl: calc(var(--v2-unit) * 8);

    --v2-tabs-item-height-xxs: calc(var(--v2-unit) * 16);
    --v2-tabs-item-height-xs: calc(var(--v2-unit) * 18);
    --v2-tabs-item-height-sm: calc(var(--v2-unit) * 20);
    --v2-tabs-item-height-md: calc(var(--v2-unit) * 22);
    --v2-tabs-item-height-lg: calc(var(--v2-unit) * 24);
    --v2-tabs-item-height-xl: calc(var(--v2-unit) * 26);
    --v2-tabs-item-height-xxl: calc(var(--v2-unit) * 28);

    --v2-tabs-item-font-size-xxs: calc(var(--v2-unit) * 4);
    --v2-tabs-item-font-size-xs: calc(var(--v2-unit) * 5);
    --v2-tabs-item-font-size-sm: calc(var(--v2-unit) * 6);
    --v2-tabs-item-font-size-md: calc(var(--v2-unit) * 7);
    --v2-tabs-item-font-size-lg: calc(var(--v2-unit) * 8);
    --v2-tabs-item-font-size-xl: calc(var(--v2-unit) * 9);
    --v2-tabs-item-font-size-xxl: calc(var(--v2-unit) * 10);

    --v2-tabs-item-spacing-x-xxs: calc(var(--v2-unit) * 6);
    --v2-tabs-item-spacing-x-xs: calc(var(--v2-unit) * 6);
    --v2-tabs-item-spacing-x-sm: calc(var(--v2-unit) * 6);
    --v2-tabs-item-spacing-x-md: calc(var(--v2-unit) * 6);
    --v2-tabs-item-spacing-x-lg: calc(var(--v2-unit) * 6);
    --v2-tabs-item-spacing-x-xl: calc(var(--v2-unit) * 6);
    --v2-tabs-item-spacing-x-xxl: calc(var(--v2-unit) * 6);
  }
}
