.v2-text--base-max {
  color: rgb(var(--c-rgb-cont), 0.97);
}
.v2-text--base-med {
  color: rgb(var(--c-rgb-cont), 0.87);
}
.v2-text--base-low {
  color: rgb(var(--c-rgb-cont), 0.67);
}
.v2-text--base-min {
  color: rgb(var(--c-rgb-cont), 0.47);
}

.v2-text--accent-max {
  color: rgb(var(--c-rgb-accent), 0.97);
}
.v2-text--accent-med {
  color: rgb(var(--c-rgb-accent), 0.87);
}
.v2-text--accent-low {
  color: rgb(var(--c-rgb-accent), 0.67);
}
.v2-text--accent-min {
  color: rgb(var(--c-rgb-accent), 0.47);
}

.v2-text--red-max {
  color: rgb(var(--c-rgb-red), 0.97);
}
.v2-text--red-med {
  color: rgb(var(--c-rgb-red), 0.87);
}
.v2-text--red-low {
  color: rgb(var(--c-rgb-red), 0.67);
}
.v2-text--red-min {
  color: rgb(var(--c-rgb-red), 0.47);
}

.v2-text--orange-max {
  color: rgb(var(--c-rgb-orange), 0.97);
}
.v2-text--orange-med {
  color: rgb(var(--c-rgb-orange), 0.87);
}
.v2-text--orange-low {
  color: rgb(var(--c-rgb-orange), 0.67);
}
.v2-text--orange-min {
  color: rgb(var(--c-rgb-orange), 0.47);
}

.v2-text--yellow-max {
  color: rgb(var(--c-rgb-yellow), 0.97);
}
.v2-text--yellow-med {
  color: rgb(var(--c-rgb-yellow), 0.87);
}
.v2-text--yellow-low {
  color: rgb(var(--c-rgb-yellow), 0.67);
}
.v2-text--yellow-min {
  color: rgb(var(--c-rgb-yellow), 0.47);
}

.v2-text--green-max {
  color: rgb(var(--c-rgb-green), 0.97);
}
.v2-text--green-med {
  color: rgb(var(--c-rgb-green), 0.87);
}
.v2-text--green-low {
  color: rgb(var(--c-rgb-green), 0.67);
}
.v2-text--green-min {
  color: rgb(var(--c-rgb-green), 0.47);
}

.v2-text--mint-max {
  color: rgb(var(--c-rgb-mint), 0.97);
}
.v2-text--mint-med {
  color: rgb(var(--c-rgb-mint), 0.87);
}
.v2-text--mint-low {
  color: rgb(var(--c-rgb-mint), 0.67);
}
.v2-text--mint-min {
  color: rgb(var(--c-rgb-mint), 0.47);
}

.v2-text--teal-max {
  color: rgb(var(--c-rgb-teal), 0.97);
}
.v2-text--teal-med {
  color: rgb(var(--c-rgb-teal), 0.87);
}
.v2-text--teal-low {
  color: rgb(var(--c-rgb-teal), 0.67);
}
.v2-text--teal-min {
  color: rgb(var(--c-rgb-teal), 0.47);
}

.v2-text--cyan-max {
  color: rgb(var(--c-rgb-cyan), 0.97);
}
.v2-text--cyan-med {
  color: rgb(var(--c-rgb-cyan), 0.87);
}
.v2-text--cyan-low {
  color: rgb(var(--c-rgb-cyan), 0.67);
}
.v2-text--cyan-min {
  color: rgb(var(--c-rgb-cyan), 0.47);
}

.v2-text--blue-max {
  color: rgb(var(--c-rgb-blue), 0.97);
}
.v2-text--blue-med {
  color: rgb(var(--c-rgb-blue), 0.87);
}
.v2-text--blue-low {
  color: rgb(var(--c-rgb-blue), 0.67);
}
.v2-text--blue-min {
  color: rgb(var(--c-rgb-blue), 0.47);
}

.v2-text--indigo-max {
  color: rgb(var(--c-rgb-indigo), 0.97);
}
.v2-text--indigo-med {
  color: rgb(var(--c-rgb-indigo), 0.87);
}
.v2-text--indigo-low {
  color: rgb(var(--c-rgb-indigo), 0.67);
}
.v2-text--indigo-min {
  color: rgb(var(--c-rgb-indigo), 0.47);
}

.v2-text--purple-max {
  color: rgb(var(--c-rgb-purple), 0.97);
}
.v2-text--purple-med {
  color: rgb(var(--c-rgb-purple), 0.87);
}
.v2-text--purple-low {
  color: rgb(var(--c-rgb-purple), 0.67);
}
.v2-text--purple-min {
  color: rgb(var(--c-rgb-purple), 0.47);
}

.v2-text--pink-max {
  color: rgb(var(--c-rgb-pink), 0.97);
}
.v2-text--pink-med {
  color: rgb(var(--c-rgb-pink), 0.87);
}
.v2-text--pink-low {
  color: rgb(var(--c-rgb-pink), 0.67);
}
.v2-text--pink-min {
  color: rgb(var(--c-rgb-pink), 0.47);
}

.v2-text--brown-max {
  color: rgb(var(--c-rgb-brown), 0.97);
}
.v2-text--brown-med {
  color: rgb(var(--c-rgb-brown), 0.87);
}
.v2-text--brown-low {
  color: rgb(var(--c-rgb-brown), 0.67);
}
.v2-text--brown-min {
  color: rgb(var(--c-rgb-brown), 0.47);
}
