.v2-title--base-max {
  color: rgb(var(--c-rgb-cont), 0.97);
}
.v2-title--base-med {
  color: rgb(var(--c-rgb-cont), 0.87);
}
.v2-title--base-low {
  color: rgb(var(--c-rgb-cont), 0.67);
}
.v2-title--base-min {
  color: rgb(var(--c-rgb-cont), 0.47);
}

.v2-title--accent-max {
  color: rgb(var(--c-rgb-accent), 0.97);
}
.v2-title--accent-med {
  color: rgb(var(--c-rgb-accent), 0.87);
}
.v2-title--accent-low {
  color: rgb(var(--c-rgb-accent), 0.67);
}
.v2-title--accent-min {
  color: rgb(var(--c-rgb-accent), 0.47);
}

.v2-title--red-max {
  color: rgb(var(--c-rgb-red), 0.97);
}
.v2-title--red-med {
  color: rgb(var(--c-rgb-red), 0.87);
}
.v2-title--red-low {
  color: rgb(var(--c-rgb-red), 0.67);
}
.v2-title--red-min {
  color: rgb(var(--c-rgb-red), 0.47);
}

.v2-title--orange-max {
  color: rgb(var(--c-rgb-orange), 0.97);
}
.v2-title--orange-med {
  color: rgb(var(--c-rgb-orange), 0.87);
}
.v2-title--orange-low {
  color: rgb(var(--c-rgb-orange), 0.67);
}
.v2-title--orange-min {
  color: rgb(var(--c-rgb-orange), 0.47);
}

.v2-title--yellow-max {
  color: rgb(var(--c-rgb-yellow), 0.97);
}
.v2-title--yellow-med {
  color: rgb(var(--c-rgb-yellow), 0.87);
}
.v2-title--yellow-low {
  color: rgb(var(--c-rgb-yellow), 0.67);
}
.v2-title--yellow-min {
  color: rgb(var(--c-rgb-yellow), 0.47);
}

.v2-title--green-max {
  color: rgb(var(--c-rgb-green), 0.97);
}
.v2-title--green-med {
  color: rgb(var(--c-rgb-green), 0.87);
}
.v2-title--green-low {
  color: rgb(var(--c-rgb-green), 0.67);
}
.v2-title--green-min {
  color: rgb(var(--c-rgb-green), 0.47);
}

.v2-title--mint-max {
  color: rgb(var(--c-rgb-mint), 0.97);
}
.v2-title--mint-med {
  color: rgb(var(--c-rgb-mint), 0.87);
}
.v2-title--mint-low {
  color: rgb(var(--c-rgb-mint), 0.67);
}
.v2-title--mint-min {
  color: rgb(var(--c-rgb-mint), 0.47);
}

.v2-title--teal-max {
  color: rgb(var(--c-rgb-teal), 0.97);
}
.v2-title--teal-med {
  color: rgb(var(--c-rgb-teal), 0.87);
}
.v2-title--teal-low {
  color: rgb(var(--c-rgb-teal), 0.67);
}
.v2-title--teal-min {
  color: rgb(var(--c-rgb-teal), 0.47);
}

.v2-title--cyan-max {
  color: rgb(var(--c-rgb-cyan), 0.97);
}
.v2-title--cyan-med {
  color: rgb(var(--c-rgb-cyan), 0.87);
}
.v2-title--cyan-low {
  color: rgb(var(--c-rgb-cyan), 0.67);
}
.v2-title--cyan-min {
  color: rgb(var(--c-rgb-cyan), 0.47);
}

.v2-title--blue-max {
  color: rgb(var(--c-rgb-blue), 0.97);
}
.v2-title--blue-med {
  color: rgb(var(--c-rgb-blue), 0.87);
}
.v2-title--blue-low {
  color: rgb(var(--c-rgb-blue), 0.67);
}
.v2-title--blue-min {
  color: rgb(var(--c-rgb-blue), 0.47);
}

.v2-title--indigo-max {
  color: rgb(var(--c-rgb-indigo), 0.97);
}
.v2-title--indigo-med {
  color: rgb(var(--c-rgb-indigo), 0.87);
}
.v2-title--indigo-low {
  color: rgb(var(--c-rgb-indigo), 0.67);
}
.v2-title--indigo-min {
  color: rgb(var(--c-rgb-indigo), 0.47);
}

.v2-title--purple-max {
  color: rgb(var(--c-rgb-purple), 0.97);
}
.v2-title--purple-med {
  color: rgb(var(--c-rgb-purple), 0.87);
}
.v2-title--purple-low {
  color: rgb(var(--c-rgb-purple), 0.67);
}
.v2-title--purple-min {
  color: rgb(var(--c-rgb-purple), 0.47);
}

.v2-title--pink-max {
  color: rgb(var(--c-rgb-pink), 0.97);
}
.v2-title--pink-med {
  color: rgb(var(--c-rgb-pink), 0.87);
}
.v2-title--pink-low {
  color: rgb(var(--c-rgb-pink), 0.67);
}
.v2-title--pink-min {
  color: rgb(var(--c-rgb-pink), 0.47);
}

.v2-title--brown-max {
  color: rgb(var(--c-rgb-brown), 0.97);
}
.v2-title--brown-med {
  color: rgb(var(--c-rgb-brown), 0.87);
}
.v2-title--brown-low {
  color: rgb(var(--c-rgb-brown), 0.67);
}
.v2-title--brown-min {
  color: rgb(var(--c-rgb-brown), 0.47);
}
