.v2-icon--base-max {
  color: rgb(var(--c-rgb-cont), 0.97);
}
.v2-icon--base-med {
  color: rgb(var(--c-rgb-cont), 0.87);
}
.v2-icon--base-low {
  color: rgb(var(--c-rgb-cont), 0.67);
}
.v2-icon--base-min {
  color: rgb(var(--c-rgb-cont), 0.47);
}

.v2-icon--accent-max {
  color: rgb(var(--c-rgb-accent), 0.97);
}
.v2-icon--accent-med {
  color: rgb(var(--c-rgb-accent), 0.87);
}
.v2-icon--accent-low {
  color: rgb(var(--c-rgb-accent), 0.67);
}
.v2-icon--accent-min {
  color: rgb(var(--c-rgb-accent), 0.47);
}

.v2-icon--red-max {
  color: rgb(var(--c-rgb-red), 0.97);
}
.v2-icon--red-med {
  color: rgb(var(--c-rgb-red), 0.87);
}
.v2-icon--red-low {
  color: rgb(var(--c-rgb-red), 0.67);
}
.v2-icon--red-min {
  color: rgb(var(--c-rgb-red), 0.47);
}

.v2-icon--orange-max {
  color: rgb(var(--c-rgb-orange), 0.97);
}
.v2-icon--orange-med {
  color: rgb(var(--c-rgb-orange), 0.87);
}
.v2-icon--orange-low {
  color: rgb(var(--c-rgb-orange), 0.67);
}
.v2-icon--orange-min {
  color: rgb(var(--c-rgb-orange), 0.47);
}

.v2-icon--yellow-max {
  color: rgb(var(--c-rgb-yellow), 0.97);
}
.v2-icon--yellow-med {
  color: rgb(var(--c-rgb-yellow), 0.87);
}
.v2-icon--yellow-low {
  color: rgb(var(--c-rgb-yellow), 0.67);
}
.v2-icon--yellow-min {
  color: rgb(var(--c-rgb-yellow), 0.47);
}

.v2-icon--green-max {
  color: rgb(var(--c-rgb-green), 0.97);
}
.v2-icon--green-med {
  color: rgb(var(--c-rgb-green), 0.87);
}
.v2-icon--green-low {
  color: rgb(var(--c-rgb-green), 0.67);
}
.v2-icon--green-min {
  color: rgb(var(--c-rgb-green), 0.47);
}

.v2-icon--mint-max {
  color: rgb(var(--c-rgb-mint), 0.97);
}
.v2-icon--mint-med {
  color: rgb(var(--c-rgb-mint), 0.87);
}
.v2-icon--mint-low {
  color: rgb(var(--c-rgb-mint), 0.67);
}
.v2-icon--mint-min {
  color: rgb(var(--c-rgb-mint), 0.47);
}

.v2-icon--teal-max {
  color: rgb(var(--c-rgb-teal), 0.97);
}
.v2-icon--teal-med {
  color: rgb(var(--c-rgb-teal), 0.87);
}
.v2-icon--teal-low {
  color: rgb(var(--c-rgb-teal), 0.67);
}
.v2-icon--teal-min {
  color: rgb(var(--c-rgb-teal), 0.47);
}

.v2-icon--cyan-max {
  color: rgb(var(--c-rgb-cyan), 0.97);
}
.v2-icon--cyan-med {
  color: rgb(var(--c-rgb-cyan), 0.87);
}
.v2-icon--cyan-low {
  color: rgb(var(--c-rgb-cyan), 0.67);
}
.v2-icon--cyan-min {
  color: rgb(var(--c-rgb-cyan), 0.47);
}

.v2-icon--blue-max {
  color: rgb(var(--c-rgb-blue), 0.97);
}
.v2-icon--blue-med {
  color: rgb(var(--c-rgb-blue), 0.87);
}
.v2-icon--blue-low {
  color: rgb(var(--c-rgb-blue), 0.67);
}
.v2-icon--blue-min {
  color: rgb(var(--c-rgb-blue), 0.47);
}

.v2-icon--indigo-max {
  color: rgb(var(--c-rgb-indigo), 0.97);
}
.v2-icon--indigo-med {
  color: rgb(var(--c-rgb-indigo), 0.87);
}
.v2-icon--indigo-low {
  color: rgb(var(--c-rgb-indigo), 0.67);
}
.v2-icon--indigo-min {
  color: rgb(var(--c-rgb-indigo), 0.47);
}

.v2-icon--purple-max {
  color: rgb(var(--c-rgb-purple), 0.97);
}
.v2-icon--purple-med {
  color: rgb(var(--c-rgb-purple), 0.87);
}
.v2-icon--purple-low {
  color: rgb(var(--c-rgb-purple), 0.67);
}
.v2-icon--purple-min {
  color: rgb(var(--c-rgb-purple), 0.47);
}

.v2-icon--pink-max {
  color: rgb(var(--c-rgb-pink), 0.97);
}
.v2-icon--pink-med {
  color: rgb(var(--c-rgb-pink), 0.87);
}
.v2-icon--pink-low {
  color: rgb(var(--c-rgb-pink), 0.67);
}
.v2-icon--pink-min {
  color: rgb(var(--c-rgb-pink), 0.47);
}

.v2-icon--brown-max {
  color: rgb(var(--c-rgb-brown), 0.97);
}
.v2-icon--brown-med {
  color: rgb(var(--c-rgb-brown), 0.87);
}
.v2-icon--brown-low {
  color: rgb(var(--c-rgb-brown), 0.67);
}
.v2-icon--brown-min {
  color: rgb(var(--c-rgb-brown), 0.47);
}
