:root {
  --c-focus: #007aff;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-inherit: inherit;
  --c-transparent: transparent;

  // COLORS | MODE | LIGHT

  --c-hex-light-red: #ff3b30;
  --c-hex-light-orange: #ff9500;
  --c-hex-light-yellow: #ffcc00;
  --c-hex-light-green: #34c759;
  --c-hex-light-mint: #00c7be;
  --c-hex-light-teal: #30b0c7;
  --c-hex-light-cyan: #32ade6;
  --c-hex-light-blue: #007aff;
  --c-hex-light-indigo: #5856d6;
  --c-hex-light-purple: #af52de;
  --c-hex-light-pink: #ff2d55;
  --c-hex-light-brown: #a2845e;

  --c-hue-light-red: 3, 100%, 59%;
  --c-hue-light-orange: 35, 100%, 50%;
  --c-hue-light-yellow: 48, 100%, 50%;
  --c-hue-light-green: 135, 59%, 49%;
  --c-hue-light-mint: 177, 100%, 39%;
  --c-hue-light-teal: 189, 61%, 48%;
  --c-hue-light-cyan: 199, 78%, 55%;
  --c-hue-light-blue: 211, 100%, 50%;
  --c-hue-light-indigo: 241, 61%, 59%;
  --c-hue-light-purple: 280, 68%, 60%;
  --c-hue-light-pink: 349, 100%, 59%;
  --c-hue-light-brown: 34, 27%, 50%;

  // COLORS | MODE | DARK

  --c-hex-dark-red: #ff453a;
  --c-hex-dark-orange: #ff9f0a;
  --c-hex-dark-yellow: #ffd60a;
  --c-hex-dark-green: #30d158;
  --c-hex-dark-mint: #66d4cf;
  --c-hex-dark-teal: #40c8e0;
  --c-hex-dark-cyan: #64d2ff;
  --c-hex-dark-blue: #0a84ff;
  --c-hex-dark-indigo: #5e5ce6;
  --c-hex-dark-purple: #bf5af2;
  --c-hex-dark-pink: #ff375f;
  --c-hex-dark-brown: #ac8e68;

  --c-hue-dark-red: 3, 100%, 61%;
  --c-hue-dark-orange: 36, 100%, 52%;
  --c-hue-dark-yellow: 50, 100%, 52%;
  --c-hue-dark-green: 135, 64%, 50%;
  --c-hue-dark-mint: 177, 56%, 62%;
  --c-hue-dark-teal: 189, 72%, 57%;
  --c-hue-dark-cyan: 197, 100%, 70%;
  --c-hue-dark-blue: 210, 100%, 52%;
  --c-hue-dark-indigo: 241, 73%, 63%;
  --c-hue-dark-purple: 280, 85%, 65%;
  --c-hue-dark-pink: 348, 100%, 60%;
  --c-hue-dark-brown: 34, 29%, 54%;

  // COLORS | MODE | DIM

  --c-hex-dim-red: #ff453a;
  --c-hex-dim-orange: #ff9f0a;
  --c-hex-dim-yellow: #ffd60a;
  --c-hex-dim-green: #30d158;
  --c-hex-dim-mint: #66d4cf;
  --c-hex-dim-teal: #40c8e0;
  --c-hex-dim-cyan: #64d2ff;
  --c-hex-dim-blue: #0a84ff;
  --c-hex-dim-indigo: #5e5ce6;
  --c-hex-dim-purple: #bf5af2;
  --c-hex-dim-pink: #ff375f;
  --c-hex-dim-brown: #ac8e68;

  --c-hue-dim-red: 3, 100%, 61%;
  --c-hue-dim-orange: 36, 100%, 52%;
  --c-hue-dim-yellow: 50, 100%, 52%;
  --c-hue-dim-green: 135, 64%, 50%;
  --c-hue-dim-mint: 177, 56%, 62%;
  --c-hue-dim-teal: 189, 72%, 57%;
  --c-hue-dim-cyan: 197, 100%, 70%;
  --c-hue-dim-blue: 210, 100%, 52%;
  --c-hue-dim-indigo: 241, 73%, 63%;
  --c-hue-dim-purple: 280, 85%, 65%;
  --c-hue-dim-pink: 348, 100%, 60%;
  --c-hue-dim-brown: 34, 29%, 54%;
}
