[data-prefers-mode='dark'][data-prefers-accessible-contrast='no'] {
  --c-rgb-base: var(--c-rgb-gray-06-default-dark);
  --c-rgb-cont: var(--c-rgb-gray-06-default-light);
}

[data-prefers-mode='dim'][data-prefers-accessible-contrast='no'] {
  --c-rgb-base: var(--c-rgb-gray-05-default-dark);
  --c-rgb-cont: var(--c-rgb-gray-06-default-light);
}

[data-prefers-mode='light'][data-prefers-accessible-contrast='no'] {
  --c-rgb-base: var(--c-rgb-gray-06-default-light);
  --c-rgb-cont: var(--c-rgb-gray-06-default-dark);
}

[data-prefers-mode='dim'][data-prefers-accessible-contrast='no'],
[data-prefers-mode='dark'][data-prefers-accessible-contrast='no'] {
  --c-rgb-red: var(--c-rgb-red-default-dark);
  --c-rgb-orange: var(--c-rgb-orange-default-dark);
  --c-rgb-yellow: var(--c-rgb-yellow-default-dark);
  --c-rgb-green: var(--c-rgb-green-default-dark);
  --c-rgb-mint: var(--c-rgb-mint-default-dark);
  --c-rgb-teal: var(--c-rgb-teal-default-dark);
  --c-rgb-cyan: var(--c-rgb-cyan-default-dark);
  --c-rgb-blue: var(--c-rgb-blue-default-dark);
  --c-rgb-indigo: var(--c-rgb-indigo-default-dark);
  --c-rgb-purple: var(--c-rgb-purple-default-dark);
  --c-rgb-pink: var(--c-rgb-pink-default-dark);
  --c-rgb-brown: var(--c-rgb-brown-default-dark);
}

[data-prefers-mode='light'][data-prefers-accessible-contrast='no'] {
  --c-rgb-red: var(--c-rgb-red-default-light);
  --c-rgb-orange: var(--c-rgb-orange-default-light);
  --c-rgb-yellow: var(--c-rgb-yellow-default-light);
  --c-rgb-green: var(--c-rgb-green-default-light);
  --c-rgb-mint: var(--c-rgb-mint-default-light);
  --c-rgb-teal: var(--c-rgb-teal-default-light);
  --c-rgb-cyan: var(--c-rgb-cyan-default-light);
  --c-rgb-blue: var(--c-rgb-blue-default-light);
  --c-rgb-indigo: var(--c-rgb-indigo-default-light);
  --c-rgb-purple: var(--c-rgb-purple-default-light);
  --c-rgb-pink: var(--c-rgb-pink-default-light);
  --c-rgb-brown: var(--c-rgb-brown-default-light);
}

[data-prefers-mode='dark'][data-prefers-accessible-contrast='yes'] {
  --c-rgb-base: var(--c-rgb-gray-06-accessible-dark);
  --c-rgb-cont: var(--c-rgb-gray-06-accessible-light);
}

[data-prefers-mode='dim'][data-prefers-accessible-contrast='yes'] {
  --c-rgb-base: var(--c-rgb-gray-05-accessible-dark);
  --c-rgb-cont: var(--c-rgb-gray-06-accessible-light);
}

[data-prefers-mode='light'][data-prefers-accessible-contrast='yes'] {
  --c-rgb-base: var(--c-rgb-gray-06-accessible-light);
  --c-rgb-cont: var(--c-rgb-gray-06-accessible-dark);
}

[data-prefers-mode='dim'][data-prefers-accessible-contrast='yes'],
[data-prefers-mode='dark'][data-prefers-accessible-contrast='yes'] {
  --c-rgb-red: var(--c-rgb-red-accessible-dark);
  --c-rgb-orange: var(--c-rgb-orange-accessible-dark);
  --c-rgb-yellow: var(--c-rgb-yellow-accessible-dark);
  --c-rgb-green: var(--c-rgb-green-accessible-dark);
  --c-rgb-mint: var(--c-rgb-mint-accessible-dark);
  --c-rgb-teal: var(--c-rgb-teal-accessible-dark);
  --c-rgb-cyan: var(--c-rgb-cyan-accessible-dark);
  --c-rgb-blue: var(--c-rgb-blue-accessible-dark);
  --c-rgb-indigo: var(--c-rgb-indigo-accessible-dark);
  --c-rgb-purple: var(--c-rgb-purple-accessible-dark);
  --c-rgb-pink: var(--c-rgb-pink-accessible-dark);
  --c-rgb-brown: var(--c-rgb-brown-accessible-dark);
}

[data-prefers-mode='light'][data-prefers-accessible-contrast='yes'] {
  --c-rgb-red: var(--c-rgb-red-accessible-light);
  --c-rgb-orange: var(--c-rgb-orange-accessible-light);
  --c-rgb-yellow: var(--c-rgb-yellow-accessible-light);
  --c-rgb-green: var(--c-rgb-green-accessible-light);
  --c-rgb-mint: var(--c-rgb-mint-accessible-light);
  --c-rgb-teal: var(--c-rgb-teal-accessible-light);
  --c-rgb-cyan: var(--c-rgb-cyan-accessible-light);
  --c-rgb-blue: var(--c-rgb-blue-accessible-light);
  --c-rgb-indigo: var(--c-rgb-indigo-accessible-light);
  --c-rgb-purple: var(--c-rgb-purple-accessible-light);
  --c-rgb-pink: var(--c-rgb-pink-accessible-light);
  --c-rgb-brown: var(--c-rgb-brown-accessible-light);
}
