[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  --c-red-050: hsl(var(--c-hue-red), 05%);
  --c-red-100: hsl(var(--c-hue-red), 10%);
  --c-red-150: hsl(var(--c-hue-red), 15%);
  --c-red-200: hsl(var(--c-hue-red), 20%);
  --c-red-250: hsl(var(--c-hue-red), 25%);
  --c-red-300: hsl(var(--c-hue-red), 30%);
  --c-red-350: hsl(var(--c-hue-red), 35%);
  --c-red-400: hsl(var(--c-hue-red), 40%);
  --c-red-450: hsl(var(--c-hue-red), 45%);
  --c-red-500: hsl(var(--c-hue-red), 50%);
  --c-red-550: hsl(var(--c-hue-red), 55%);
  --c-red-600: hsl(var(--c-hue-red), 60%);
  --c-red-650: hsl(var(--c-hue-red), 65%);
  --c-red-700: hsl(var(--c-hue-red), 70%);
  --c-red-750: hsl(var(--c-hue-red), 75%);
  --c-red-800: hsl(var(--c-hue-red), 80%);
  --c-red-850: hsl(var(--c-hue-red), 85%);
  --c-red-900: hsl(var(--c-hue-red), 90%);
  --c-red-950: hsl(var(--c-hue-red), 95%);

  --c-orange-050: hsl(var(--c-hue-orange), 05%);
  --c-orange-100: hsl(var(--c-hue-orange), 10%);
  --c-orange-150: hsl(var(--c-hue-orange), 15%);
  --c-orange-200: hsl(var(--c-hue-orange), 20%);
  --c-orange-250: hsl(var(--c-hue-orange), 25%);
  --c-orange-300: hsl(var(--c-hue-orange), 30%);
  --c-orange-350: hsl(var(--c-hue-orange), 35%);
  --c-orange-400: hsl(var(--c-hue-orange), 40%);
  --c-orange-450: hsl(var(--c-hue-orange), 45%);
  --c-orange-500: hsl(var(--c-hue-orange), 50%);
  --c-orange-550: hsl(var(--c-hue-orange), 55%);
  --c-orange-600: hsl(var(--c-hue-orange), 60%);
  --c-orange-650: hsl(var(--c-hue-orange), 65%);
  --c-orange-700: hsl(var(--c-hue-orange), 70%);
  --c-orange-750: hsl(var(--c-hue-orange), 75%);
  --c-orange-800: hsl(var(--c-hue-orange), 80%);
  --c-orange-850: hsl(var(--c-hue-orange), 85%);
  --c-orange-900: hsl(var(--c-hue-orange), 90%);
  --c-orange-950: hsl(var(--c-hue-orange), 95%);

  --c-yellow-050: hsl(var(--c-hue-yellow), 05%);
  --c-yellow-100: hsl(var(--c-hue-yellow), 10%);
  --c-yellow-150: hsl(var(--c-hue-yellow), 15%);
  --c-yellow-200: hsl(var(--c-hue-yellow), 20%);
  --c-yellow-250: hsl(var(--c-hue-yellow), 25%);
  --c-yellow-300: hsl(var(--c-hue-yellow), 30%);
  --c-yellow-350: hsl(var(--c-hue-yellow), 35%);
  --c-yellow-400: hsl(var(--c-hue-yellow), 40%);
  --c-yellow-450: hsl(var(--c-hue-yellow), 45%);
  --c-yellow-500: hsl(var(--c-hue-yellow), 50%);
  --c-yellow-550: hsl(var(--c-hue-yellow), 55%);
  --c-yellow-600: hsl(var(--c-hue-yellow), 60%);
  --c-yellow-650: hsl(var(--c-hue-yellow), 65%);
  --c-yellow-700: hsl(var(--c-hue-yellow), 70%);
  --c-yellow-750: hsl(var(--c-hue-yellow), 75%);
  --c-yellow-800: hsl(var(--c-hue-yellow), 80%);
  --c-yellow-850: hsl(var(--c-hue-yellow), 85%);
  --c-yellow-900: hsl(var(--c-hue-yellow), 90%);
  --c-yellow-950: hsl(var(--c-hue-yellow), 95%);

  --c-green-050: hsl(var(--c-hue-green), 05%);
  --c-green-100: hsl(var(--c-hue-green), 10%);
  --c-green-150: hsl(var(--c-hue-green), 15%);
  --c-green-200: hsl(var(--c-hue-green), 20%);
  --c-green-250: hsl(var(--c-hue-green), 25%);
  --c-green-300: hsl(var(--c-hue-green), 30%);
  --c-green-350: hsl(var(--c-hue-green), 35%);
  --c-green-400: hsl(var(--c-hue-green), 40%);
  --c-green-450: hsl(var(--c-hue-green), 45%);
  --c-green-500: hsl(var(--c-hue-green), 50%);
  --c-green-550: hsl(var(--c-hue-green), 55%);
  --c-green-600: hsl(var(--c-hue-green), 60%);
  --c-green-650: hsl(var(--c-hue-green), 65%);
  --c-green-700: hsl(var(--c-hue-green), 70%);
  --c-green-750: hsl(var(--c-hue-green), 75%);
  --c-green-800: hsl(var(--c-hue-green), 80%);
  --c-green-850: hsl(var(--c-hue-green), 85%);
  --c-green-900: hsl(var(--c-hue-green), 90%);
  --c-green-950: hsl(var(--c-hue-green), 95%);

  --c-mint-050: hsl(var(--c-hue-mint), 05%);
  --c-mint-100: hsl(var(--c-hue-mint), 10%);
  --c-mint-150: hsl(var(--c-hue-mint), 15%);
  --c-mint-200: hsl(var(--c-hue-mint), 20%);
  --c-mint-250: hsl(var(--c-hue-mint), 25%);
  --c-mint-300: hsl(var(--c-hue-mint), 30%);
  --c-mint-350: hsl(var(--c-hue-mint), 35%);
  --c-mint-400: hsl(var(--c-hue-mint), 40%);
  --c-mint-450: hsl(var(--c-hue-mint), 45%);
  --c-mint-500: hsl(var(--c-hue-mint), 50%);
  --c-mint-550: hsl(var(--c-hue-mint), 55%);
  --c-mint-600: hsl(var(--c-hue-mint), 60%);
  --c-mint-650: hsl(var(--c-hue-mint), 65%);
  --c-mint-700: hsl(var(--c-hue-mint), 70%);
  --c-mint-750: hsl(var(--c-hue-mint), 75%);
  --c-mint-800: hsl(var(--c-hue-mint), 80%);
  --c-mint-850: hsl(var(--c-hue-mint), 85%);
  --c-mint-900: hsl(var(--c-hue-mint), 90%);
  --c-mint-950: hsl(var(--c-hue-mint), 95%);

  --c-teal-050: hsl(var(--c-hue-teal), 05%);
  --c-teal-100: hsl(var(--c-hue-teal), 10%);
  --c-teal-150: hsl(var(--c-hue-teal), 15%);
  --c-teal-200: hsl(var(--c-hue-teal), 20%);
  --c-teal-250: hsl(var(--c-hue-teal), 25%);
  --c-teal-300: hsl(var(--c-hue-teal), 30%);
  --c-teal-350: hsl(var(--c-hue-teal), 35%);
  --c-teal-400: hsl(var(--c-hue-teal), 40%);
  --c-teal-450: hsl(var(--c-hue-teal), 45%);
  --c-teal-500: hsl(var(--c-hue-teal), 50%);
  --c-teal-550: hsl(var(--c-hue-teal), 55%);
  --c-teal-600: hsl(var(--c-hue-teal), 60%);
  --c-teal-650: hsl(var(--c-hue-teal), 65%);
  --c-teal-700: hsl(var(--c-hue-teal), 70%);
  --c-teal-750: hsl(var(--c-hue-teal), 75%);
  --c-teal-800: hsl(var(--c-hue-teal), 80%);
  --c-teal-850: hsl(var(--c-hue-teal), 85%);
  --c-teal-900: hsl(var(--c-hue-teal), 90%);
  --c-teal-950: hsl(var(--c-hue-teal), 95%);

  --c-cyan-050: hsl(var(--c-hue-cyan), 05%);
  --c-cyan-100: hsl(var(--c-hue-cyan), 10%);
  --c-cyan-150: hsl(var(--c-hue-cyan), 15%);
  --c-cyan-200: hsl(var(--c-hue-cyan), 20%);
  --c-cyan-250: hsl(var(--c-hue-cyan), 25%);
  --c-cyan-300: hsl(var(--c-hue-cyan), 30%);
  --c-cyan-350: hsl(var(--c-hue-cyan), 35%);
  --c-cyan-400: hsl(var(--c-hue-cyan), 40%);
  --c-cyan-450: hsl(var(--c-hue-cyan), 45%);
  --c-cyan-500: hsl(var(--c-hue-cyan), 50%);
  --c-cyan-550: hsl(var(--c-hue-cyan), 55%);
  --c-cyan-600: hsl(var(--c-hue-cyan), 60%);
  --c-cyan-650: hsl(var(--c-hue-cyan), 65%);
  --c-cyan-700: hsl(var(--c-hue-cyan), 70%);
  --c-cyan-750: hsl(var(--c-hue-cyan), 75%);
  --c-cyan-800: hsl(var(--c-hue-cyan), 80%);
  --c-cyan-850: hsl(var(--c-hue-cyan), 85%);
  --c-cyan-900: hsl(var(--c-hue-cyan), 90%);
  --c-cyan-950: hsl(var(--c-hue-cyan), 95%);

  --c-blue-050: hsl(var(--c-hue-blue), 05%);
  --c-blue-100: hsl(var(--c-hue-blue), 10%);
  --c-blue-150: hsl(var(--c-hue-blue), 15%);
  --c-blue-200: hsl(var(--c-hue-blue), 20%);
  --c-blue-250: hsl(var(--c-hue-blue), 25%);
  --c-blue-300: hsl(var(--c-hue-blue), 30%);
  --c-blue-350: hsl(var(--c-hue-blue), 35%);
  --c-blue-400: hsl(var(--c-hue-blue), 40%);
  --c-blue-450: hsl(var(--c-hue-blue), 45%);
  --c-blue-500: hsl(var(--c-hue-blue), 50%);
  --c-blue-550: hsl(var(--c-hue-blue), 55%);
  --c-blue-600: hsl(var(--c-hue-blue), 60%);
  --c-blue-650: hsl(var(--c-hue-blue), 65%);
  --c-blue-700: hsl(var(--c-hue-blue), 70%);
  --c-blue-750: hsl(var(--c-hue-blue), 75%);
  --c-blue-800: hsl(var(--c-hue-blue), 80%);
  --c-blue-850: hsl(var(--c-hue-blue), 85%);
  --c-blue-900: hsl(var(--c-hue-blue), 90%);
  --c-blue-950: hsl(var(--c-hue-blue), 95%);

  --c-indigo-050: hsl(var(--c-hue-indigo), 05%);
  --c-indigo-100: hsl(var(--c-hue-indigo), 10%);
  --c-indigo-150: hsl(var(--c-hue-indigo), 15%);
  --c-indigo-200: hsl(var(--c-hue-indigo), 20%);
  --c-indigo-250: hsl(var(--c-hue-indigo), 25%);
  --c-indigo-300: hsl(var(--c-hue-indigo), 30%);
  --c-indigo-350: hsl(var(--c-hue-indigo), 35%);
  --c-indigo-400: hsl(var(--c-hue-indigo), 40%);
  --c-indigo-450: hsl(var(--c-hue-indigo), 45%);
  --c-indigo-500: hsl(var(--c-hue-indigo), 50%);
  --c-indigo-550: hsl(var(--c-hue-indigo), 55%);
  --c-indigo-600: hsl(var(--c-hue-indigo), 60%);
  --c-indigo-650: hsl(var(--c-hue-indigo), 65%);
  --c-indigo-700: hsl(var(--c-hue-indigo), 70%);
  --c-indigo-750: hsl(var(--c-hue-indigo), 75%);
  --c-indigo-800: hsl(var(--c-hue-indigo), 80%);
  --c-indigo-850: hsl(var(--c-hue-indigo), 85%);
  --c-indigo-900: hsl(var(--c-hue-indigo), 90%);
  --c-indigo-950: hsl(var(--c-hue-indigo), 95%);

  --c-purple-050: hsl(var(--c-hue-purple), 05%);
  --c-purple-100: hsl(var(--c-hue-purple), 10%);
  --c-purple-150: hsl(var(--c-hue-purple), 15%);
  --c-purple-200: hsl(var(--c-hue-purple), 20%);
  --c-purple-250: hsl(var(--c-hue-purple), 25%);
  --c-purple-300: hsl(var(--c-hue-purple), 30%);
  --c-purple-350: hsl(var(--c-hue-purple), 35%);
  --c-purple-400: hsl(var(--c-hue-purple), 40%);
  --c-purple-450: hsl(var(--c-hue-purple), 45%);
  --c-purple-500: hsl(var(--c-hue-purple), 50%);
  --c-purple-550: hsl(var(--c-hue-purple), 55%);
  --c-purple-600: hsl(var(--c-hue-purple), 60%);
  --c-purple-650: hsl(var(--c-hue-purple), 65%);
  --c-purple-700: hsl(var(--c-hue-purple), 70%);
  --c-purple-750: hsl(var(--c-hue-purple), 75%);
  --c-purple-800: hsl(var(--c-hue-purple), 80%);
  --c-purple-850: hsl(var(--c-hue-purple), 85%);
  --c-purple-900: hsl(var(--c-hue-purple), 90%);
  --c-purple-950: hsl(var(--c-hue-purple), 95%);

  --c-pink-050: hsl(var(--c-hue-pink), 05%);
  --c-pink-100: hsl(var(--c-hue-pink), 10%);
  --c-pink-150: hsl(var(--c-hue-pink), 15%);
  --c-pink-200: hsl(var(--c-hue-pink), 20%);
  --c-pink-250: hsl(var(--c-hue-pink), 25%);
  --c-pink-300: hsl(var(--c-hue-pink), 30%);
  --c-pink-350: hsl(var(--c-hue-pink), 35%);
  --c-pink-400: hsl(var(--c-hue-pink), 40%);
  --c-pink-450: hsl(var(--c-hue-pink), 45%);
  --c-pink-500: hsl(var(--c-hue-pink), 50%);
  --c-pink-550: hsl(var(--c-hue-pink), 55%);
  --c-pink-600: hsl(var(--c-hue-pink), 60%);
  --c-pink-650: hsl(var(--c-hue-pink), 65%);
  --c-pink-700: hsl(var(--c-hue-pink), 70%);
  --c-pink-750: hsl(var(--c-hue-pink), 75%);
  --c-pink-800: hsl(var(--c-hue-pink), 80%);
  --c-pink-850: hsl(var(--c-hue-pink), 85%);
  --c-pink-900: hsl(var(--c-hue-pink), 90%);
  --c-pink-950: hsl(var(--c-hue-pink), 95%);

  --c-brown-050: hsl(var(--c-hue-brown), 05%);
  --c-brown-100: hsl(var(--c-hue-brown), 10%);
  --c-brown-150: hsl(var(--c-hue-brown), 15%);
  --c-brown-200: hsl(var(--c-hue-brown), 20%);
  --c-brown-250: hsl(var(--c-hue-brown), 25%);
  --c-brown-300: hsl(var(--c-hue-brown), 30%);
  --c-brown-350: hsl(var(--c-hue-brown), 35%);
  --c-brown-400: hsl(var(--c-hue-brown), 40%);
  --c-brown-450: hsl(var(--c-hue-brown), 45%);
  --c-brown-500: hsl(var(--c-hue-brown), 50%);
  --c-brown-550: hsl(var(--c-hue-brown), 55%);
  --c-brown-600: hsl(var(--c-hue-brown), 60%);
  --c-brown-650: hsl(var(--c-hue-brown), 65%);
  --c-brown-700: hsl(var(--c-hue-brown), 70%);
  --c-brown-750: hsl(var(--c-hue-brown), 75%);
  --c-brown-800: hsl(var(--c-hue-brown), 80%);
  --c-brown-850: hsl(var(--c-hue-brown), 85%);
  --c-brown-900: hsl(var(--c-hue-brown), 90%);
  --c-brown-950: hsl(var(--c-hue-brown), 95%);
}
