[data-prefers-accent='red'] {
  --c-hue-accent: var(--c-hue-red);
}
[data-prefers-accent='orange'] {
  --c-hue-accent: var(--c-hue-orange);
}
[data-prefers-accent='yellow'] {
  --c-hue-accent: var(--c-hue-yellow);
}
[data-prefers-accent='green'] {
  --c-hue-accent: var(--c-hue-green);
}
[data-prefers-accent='mint'] {
  --c-hue-accent: var(--c-hue-mint);
}
[data-prefers-accent='teal'] {
  --c-hue-accent: var(--c-hue-teal);
}
[data-prefers-accent='cyan'] {
  --c-hue-accent: var(--c-hue-cyan);
}
[data-prefers-accent='blue'] {
  --c-hue-accent: var(--c-hue-blue);
}
[data-prefers-accent='indigo'] {
  --c-hue-accent: var(--c-hue-indigo);
}
[data-prefers-accent='purple'] {
  --c-hue-accent: var(--c-hue-purple);
}
[data-prefers-accent='pink'] {
  --c-hue-accent: var(--c-hue-pink);
}
[data-prefers-accent='brown'] {
  --c-hue-accent: var(--c-hue-brown);
}
