[data-prefers-accent='red'] {
  --c-rgb-accent: var(--c-rgb-red);
}
[data-prefers-accent='orange'] {
  --c-rgb-accent: var(--c-rgb-orange);
}
[data-prefers-accent='yellow'] {
  --c-rgb-accent: var(--c-rgb-yellow);
}
[data-prefers-accent='green'] {
  --c-rgb-accent: var(--c-rgb-green);
}
[data-prefers-accent='mint'] {
  --c-rgb-accent: var(--c-rgb-mint);
}
[data-prefers-accent='teal'] {
  --c-rgb-accent: var(--c-rgb-teal);
}
[data-prefers-accent='cyan'] {
  --c-rgb-accent: var(--c-rgb-cyan);
}
[data-prefers-accent='blue'] {
  --c-rgb-accent: var(--c-rgb-blue);
}
[data-prefers-accent='indigo'] {
  --c-rgb-accent: var(--c-rgb-indigo);
}
[data-prefers-accent='purple'] {
  --c-rgb-accent: var(--c-rgb-purple);
}
[data-prefers-accent='pink'] {
  --c-rgb-accent: var(--c-rgb-pink);
}
[data-prefers-accent='brown'] {
  --c-rgb-accent: var(--c-rgb-brown);
}
