@use '../mixins' as mixins;

:root {
  --hex-slate-50: #f8fafc;
  --hex-slate-100: #f1f5f9;
  --hex-slate-200: #e2e8f0;
  --hex-slate-300: #cbd5e1;
  --hex-slate-400: #94a3b8;
  --hex-slate-500: #64748b;
  --hex-slate-600: #475569;
  --hex-slate-700: #334155;
  --hex-slate-800: #1e293b;
  --hex-slate-900: #0f172a;
  --hex-slate-950: #020617;

  --hex-gray-50: #f9fafb;
  --hex-gray-100: #f3f4f6;
  --hex-gray-200: #e5e7eb;
  --hex-gray-300: #d1d5db;
  --hex-gray-400: #9ca3af;
  --hex-gray-500: #6b7280;
  --hex-gray-600: #4b5563;
  --hex-gray-700: #374151;
  --hex-gray-800: #1f2937;
  --hex-gray-900: #111827;
  --hex-gray-950: #030712;

  --hex-zinc-50: #fafafa;
  --hex-zinc-100: #f4f4f5;
  --hex-zinc-200: #e4e4e7;
  --hex-zinc-300: #d4d4d8;
  --hex-zinc-400: #a1a1aa;
  --hex-zinc-500: #71717a;
  --hex-zinc-600: #52525b;
  --hex-zinc-700: #3f3f46;
  --hex-zinc-800: #27272a;
  --hex-zinc-900: #18181b;
  --hex-zinc-950: #09090b;

  --hex-neutral-50: #fafafa;
  --hex-neutral-100: #f5f5f5;
  --hex-neutral-200: #e5e5e5;
  --hex-neutral-300: #d4d4d4;
  --hex-neutral-400: #a3a3a3;
  --hex-neutral-500: #737373;
  --hex-neutral-600: #525252;
  --hex-neutral-700: #404040;
  --hex-neutral-800: #262626;
  --hex-neutral-900: #171717;
  --hex-neutral-950: #0a0a0a;

  --hex-stone-50: #fafaf9;
  --hex-stone-100: #f5f5f4;
  --hex-stone-200: #e7e5e4;
  --hex-stone-300: #d6d3d1;
  --hex-stone-400: #a8a29e;
  --hex-stone-500: #78716c;
  --hex-stone-600: #57534e;
  --hex-stone-700: #44403c;
  --hex-stone-800: #292524;
  --hex-stone-900: #1c1917;
  --hex-stone-950: #0c0a09;

  --hex-red-50: #fef2f2;
  --hex-red-100: #fee2e2;
  --hex-red-200: #fecaca;
  --hex-red-300: #fca5a5;
  --hex-red-400: #f87171;
  --hex-red-500: #ef4444;
  --hex-red-600: #dc2626;
  --hex-red-700: #b91c1c;
  --hex-red-800: #991b1b;
  --hex-red-900: #7f1d1d;
  --hex-red-950: #450a0a;

  --hex-orange-50: #fff7ed;
  --hex-orange-100: #ffedd5;
  --hex-orange-200: #fed7aa;
  --hex-orange-300: #fdba74;
  --hex-orange-400: #fb923c;
  --hex-orange-500: #f97316;
  --hex-orange-600: #ea580c;
  --hex-orange-700: #c2410c;
  --hex-orange-800: #9a3412;
  --hex-orange-900: #7c2d12;
  --hex-orange-950: #431407;

  --hex-amber-50: #fffbeb;
  --hex-amber-100: #fef3c7;
  --hex-amber-200: #fde68a;
  --hex-amber-300: #fcd34d;
  --hex-amber-400: #fbbf24;
  --hex-amber-500: #f59e0b;
  --hex-amber-600: #d97706;
  --hex-amber-700: #b45309;
  --hex-amber-800: #92400e;
  --hex-amber-900: #78350f;
  --hex-amber-950: #451a03;

  --hex-yellow-50: #fefce8;
  --hex-yellow-100: #fef9c3;
  --hex-yellow-200: #fef08a;
  --hex-yellow-300: #fde047;
  --hex-yellow-400: #facc15;
  --hex-yellow-500: #eab308;
  --hex-yellow-600: #ca8a04;
  --hex-yellow-700: #a16207;
  --hex-yellow-800: #854d0e;
  --hex-yellow-900: #713f12;
  --hex-yellow-950: #422006;

  --hex-lime-50: #f7fee7;
  --hex-lime-100: #ecfccb;
  --hex-lime-200: #d9f99d;
  --hex-lime-300: #bef264;
  --hex-lime-400: #a3e635;
  --hex-lime-500: #84cc16;
  --hex-lime-600: #65a30d;
  --hex-lime-700: #4d7c0f;
  --hex-lime-800: #3f6212;
  --hex-lime-900: #365314;
  --hex-lime-950: #1a2e05;

  --hex-green-50: #f0fdf4;
  --hex-green-100: #dcfce7;
  --hex-green-200: #bbf7d0;
  --hex-green-300: #86efac;
  --hex-green-400: #4ade80;
  --hex-green-500: #22c55e;
  --hex-green-600: #16a34a;
  --hex-green-700: #15803d;
  --hex-green-800: #166534;
  --hex-green-900: #14532d;
  --hex-green-950: #052e16;

  --hex-emerald-50: #ecfdf5;
  --hex-emerald-100: #d1fae5;
  --hex-emerald-200: #a7f3d0;
  --hex-emerald-300: #6ee7b7;
  --hex-emerald-400: #34d399;
  --hex-emerald-500: #10b981;
  --hex-emerald-600: #059669;
  --hex-emerald-700: #047857;
  --hex-emerald-800: #065f46;
  --hex-emerald-900: #064e3b;
  --hex-emerald-950: #022c22;

  --hex-teal-50: #f0fdfa;
  --hex-teal-100: #ccfbf1;
  --hex-teal-200: #99f6e4;
  --hex-teal-300: #5eead4;
  --hex-teal-400: #2dd4bf;
  --hex-teal-500: #14b8a6;
  --hex-teal-600: #0d9488;
  --hex-teal-700: #0f766e;
  --hex-teal-800: #115e59;
  --hex-teal-900: #134e4a;
  --hex-teal-950: #042f2e;

  --hex-cyan-50: #ecfeff;
  --hex-cyan-100: #cffafe;
  --hex-cyan-200: #a5f3fc;
  --hex-cyan-300: #67e8f9;
  --hex-cyan-400: #22d3ee;
  --hex-cyan-500: #06b6d4;
  --hex-cyan-600: #0891b2;
  --hex-cyan-700: #0e7490;
  --hex-cyan-800: #155e75;
  --hex-cyan-900: #164e63;
  --hex-cyan-950: #083344;

  --hex-sky-50: #f0f9ff;
  --hex-sky-100: #e0f2fe;
  --hex-sky-200: #bae6fd;
  --hex-sky-300: #7dd3fc;
  --hex-sky-400: #38bdf8;
  --hex-sky-500: #0ea5e9;
  --hex-sky-600: #0284c7;
  --hex-sky-700: #0369a1;
  --hex-sky-800: #075985;
  --hex-sky-900: #0c4a6e;
  --hex-sky-950: #082f49;

  --hex-blue-50: #eff6ff;
  --hex-blue-100: #dbeafe;
  --hex-blue-200: #bfdbfe;
  --hex-blue-300: #93c5fd;
  --hex-blue-400: #60a5fa;
  --hex-blue-500: #3b82f6;
  --hex-blue-600: #2563eb;
  --hex-blue-700: #1d4ed8;
  --hex-blue-800: #1e40af;
  --hex-blue-900: #1e3a8a;
  --hex-blue-950: #172554;

  --hex-indigo-50: #eef2ff;
  --hex-indigo-100: #e0e7ff;
  --hex-indigo-200: #c7d2fe;
  --hex-indigo-300: #a5b4fc;
  --hex-indigo-400: #818cf8;
  --hex-indigo-500: #6366f1;
  --hex-indigo-600: #4f46e5;
  --hex-indigo-700: #4338ca;
  --hex-indigo-800: #3730a3;
  --hex-indigo-900: #312e81;
  --hex-indigo-950: #1e1b4b;

  --hex-violet-50: #f5f3ff;
  --hex-violet-100: #ede9fe;
  --hex-violet-200: #ddd6fe;
  --hex-violet-300: #c4b5fd;
  --hex-violet-400: #a78bfa;
  --hex-violet-500: #8b5cf6;
  --hex-violet-600: #7c3aed;
  --hex-violet-700: #6d28d9;
  --hex-violet-800: #5b21b6;
  --hex-violet-900: #4c1d95;
  --hex-violet-950: #2e1065;

  --hex-purple-50: #faf5ff;
  --hex-purple-100: #f3e8ff;
  --hex-purple-200: #e9d5ff;
  --hex-purple-300: #d8b4fe;
  --hex-purple-400: #c084fc;
  --hex-purple-500: #a855f7;
  --hex-purple-600: #9333ea;
  --hex-purple-700: #7e22ce;
  --hex-purple-800: #6b21a8;
  --hex-purple-900: #581c87;
  --hex-purple-950: #3b0764;

  --hex-fuchsia-50: #fdf4ff;
  --hex-fuchsia-100: #fae8ff;
  --hex-fuchsia-200: #f5d0fe;
  --hex-fuchsia-300: #f0abfc;
  --hex-fuchsia-400: #e879f9;
  --hex-fuchsia-500: #d946ef;
  --hex-fuchsia-600: #c026d3;
  --hex-fuchsia-700: #a21caf;
  --hex-fuchsia-800: #86198f;
  --hex-fuchsia-900: #701a75;
  --hex-fuchsia-950: #4a044e;

  --hex-pink-50: #fdf2f8;
  --hex-pink-100: #fce7f3;
  --hex-pink-200: #fbcfe8;
  --hex-pink-300: #f9a8d4;
  --hex-pink-400: #f472b6;
  --hex-pink-500: #ec4899;
  --hex-pink-600: #db2777;
  --hex-pink-700: #be185d;
  --hex-pink-800: #9d174d;
  --hex-pink-900: #831843;
  --hex-pink-950: #500724;

  --hex-rose-50: #fff1f2;
  --hex-rose-100: #ffe4e6;
  --hex-rose-200: #fecdd3;
  --hex-rose-300: #fda4af;
  --hex-rose-400: #fb7185;
  --hex-rose-500: #f43f5e;
  --hex-rose-600: #e11d48;
  --hex-rose-700: #be123c;
  --hex-rose-800: #9f1239;
  --hex-rose-900: #881337;
  --hex-rose-950: #4c0519;

  --rgb-slate-50: 248, 250, 252;
  --rgb-slate-100: 241, 245, 249;
  --rgb-slate-200: 226, 232, 240;
  --rgb-slate-300: 203, 213, 225;
  --rgb-slate-400: 148, 163, 184;
  --rgb-slate-500: 100, 116, 139;
  --rgb-slate-600: 71, 85, 105;
  --rgb-slate-700: 51, 65, 85;
  --rgb-slate-800: 30, 41, 59;
  --rgb-slate-900: 15, 23, 42;
  --rgb-slate-950: 2, 6, 23;

  --rgb-gray-50: 249, 250, 251;
  --rgb-gray-100: 243, 244, 246;
  --rgb-gray-200: 229, 231, 235;
  --rgb-gray-300: 209, 213, 219;
  --rgb-gray-400: 156, 163, 175;
  --rgb-gray-500: 107, 114, 128;
  --rgb-gray-600: 75, 85, 99;
  --rgb-gray-700: 55, 65, 81;
  --rgb-gray-800: 31, 41, 55;
  --rgb-gray-900: 17, 24, 39;
  --rgb-gray-950: 3, 7, 18;

  --rgb-zinc-50: 250, 250, 250;
  --rgb-zinc-100: 244, 244, 245;
  --rgb-zinc-200: 228, 228, 231;
  --rgb-zinc-300: 212, 212, 216;
  --rgb-zinc-400: 161, 161, 170;
  --rgb-zinc-500: 113, 113, 122;
  --rgb-zinc-600: 82, 82, 91;
  --rgb-zinc-700: 63, 63, 70;
  --rgb-zinc-800: 39, 39, 42;
  --rgb-zinc-900: 24, 24, 27;
  --rgb-zinc-950: 9, 9, 11;

  --rgb-neutral-50: 250, 250, 250;
  --rgb-neutral-100: 245, 245, 245;
  --rgb-neutral-200: 229, 229, 229;
  --rgb-neutral-300: 212, 212, 212;
  --rgb-neutral-400: 163, 163, 163;
  --rgb-neutral-500: 115, 115, 115;
  --rgb-neutral-600: 82, 82, 82;
  --rgb-neutral-700: 64, 64, 64;
  --rgb-neutral-800: 38, 38, 38;
  --rgb-neutral-900: 23, 23, 23;
  --rgb-neutral-950: 10, 10, 10;

  --rgb-stone-50: 250, 250, 249;
  --rgb-stone-100: 245, 245, 244;
  --rgb-stone-200: 231, 229, 228;
  --rgb-stone-300: 214, 211, 209;
  --rgb-stone-400: 168, 162, 158;
  --rgb-stone-500: 120, 113, 108;
  --rgb-stone-600: 87, 83, 78;
  --rgb-stone-700: 68, 64, 60;
  --rgb-stone-800: 41, 37, 36;
  --rgb-stone-900: 28, 25, 23;
  --rgb-stone-950: 12, 10, 9;

  --rgb-red-50: 254, 242, 242;
  --rgb-red-100: 254, 226, 226;
  --rgb-red-200: 254, 202, 202;
  --rgb-red-300: 252, 165, 165;
  --rgb-red-400: 248, 113, 113;
  --rgb-red-500: 239, 68, 68;
  --rgb-red-600: 220, 38, 38;
  --rgb-red-700: 185, 28, 28;
  --rgb-red-800: 153, 27, 27;
  --rgb-red-900: 127, 29, 29;
  --rgb-red-950: 69, 10, 10;

  --rgb-orange-50: 255, 247, 237;
  --rgb-orange-100: 255, 237, 213;
  --rgb-orange-200: 254, 215, 170;
  --rgb-orange-300: 253, 186, 116;
  --rgb-orange-400: 251, 146, 60;
  --rgb-orange-500: 249, 115, 22;
  --rgb-orange-600: 234, 88, 12;
  --rgb-orange-700: 194, 65, 12;
  --rgb-orange-800: 154, 52, 18;
  --rgb-orange-900: 124, 45, 18;
  --rgb-orange-950: 67, 20, 7;

  --rgb-amber-50: 255, 251, 235;
  --rgb-amber-100: 254, 243, 199;
  --rgb-amber-200: 253, 230, 138;
  --rgb-amber-300: 252, 211, 77;
  --rgb-amber-400: 251, 191, 36;
  --rgb-amber-500: 245, 158, 11;
  --rgb-amber-600: 217, 119, 6;
  --rgb-amber-700: 180, 83, 9;
  --rgb-amber-800: 146, 64, 14;
  --rgb-amber-900: 120, 53, 15;
  --rgb-amber-950: 69, 26, 3;

  --rgb-yellow-50: 254, 252, 232;
  --rgb-yellow-100: 254, 249, 195;
  --rgb-yellow-200: 254, 240, 138;
  --rgb-yellow-300: 253, 224, 71;
  --rgb-yellow-400: 250, 204, 21;
  --rgb-yellow-500: 234, 179, 8;
  --rgb-yellow-600: 202, 138, 4;
  --rgb-yellow-700: 161, 98, 7;
  --rgb-yellow-800: 133, 77, 14;
  --rgb-yellow-900: 113, 63, 18;
  --rgb-yellow-950: 66, 32, 6;

  --rgb-lime-50: 247, 254, 231;
  --rgb-lime-100: 236, 252, 203;
  --rgb-lime-200: 217, 249, 157;
  --rgb-lime-300: 190, 242, 100;
  --rgb-lime-400: 163, 230, 53;
  --rgb-lime-500: 132, 204, 22;
  --rgb-lime-600: 101, 163, 13;
  --rgb-lime-700: 77, 124, 15;
  --rgb-lime-800: 63, 98, 18;
  --rgb-lime-900: 54, 83, 20;
  --rgb-lime-950: 26, 46, 5;

  --rgb-green-50: 240, 253, 244;
  --rgb-green-100: 220, 252, 231;
  --rgb-green-200: 187, 247, 208;
  --rgb-green-300: 134, 239, 172;
  --rgb-green-400: 74, 222, 128;
  --rgb-green-500: 34, 197, 94;
  --rgb-green-600: 22, 163, 74;
  --rgb-green-700: 21, 128, 61;
  --rgb-green-800: 22, 101, 52;
  --rgb-green-900: 20, 83, 45;
  --rgb-green-950: 5, 46, 22;

  --rgb-emerald-50: 236, 253, 245;
  --rgb-emerald-100: 209, 250, 229;
  --rgb-emerald-200: 167, 243, 208;
  --rgb-emerald-300: 110, 231, 183;
  --rgb-emerald-400: 52, 211, 153;
  --rgb-emerald-500: 16, 185, 129;
  --rgb-emerald-600: 5, 150, 105;
  --rgb-emerald-700: 4, 120, 87;
  --rgb-emerald-800: 6, 95, 70;
  --rgb-emerald-900: 6, 78, 59;
  --rgb-emerald-950: 2, 44, 34;

  --rgb-teal-50: 240, 253, 250;
  --rgb-teal-100: 204, 251, 241;
  --rgb-teal-200: 153, 246, 228;
  --rgb-teal-300: 94, 234, 212;
  --rgb-teal-400: 45, 212, 191;
  --rgb-teal-500: 20, 184, 166;
  --rgb-teal-600: 13, 148, 136;
  --rgb-teal-700: 15, 118, 110;
  --rgb-teal-800: 17, 94, 89;
  --rgb-teal-900: 19, 78, 74;
  --rgb-teal-950: 4, 47, 46;

  --rgb-cyan-50: 236, 254, 255;
  --rgb-cyan-100: 207, 250, 254;
  --rgb-cyan-200: 165, 243, 252;
  --rgb-cyan-300: 103, 232, 249;
  --rgb-cyan-400: 34, 211, 238;
  --rgb-cyan-500: 6, 182, 212;
  --rgb-cyan-600: 8, 145, 178;
  --rgb-cyan-700: 14, 116, 144;
  --rgb-cyan-800: 21, 94, 117;
  --rgb-cyan-900: 22, 78, 99;
  --rgb-cyan-950: 8, 51, 68;

  --rgb-sky-50: 240, 249, 255;
  --rgb-sky-100: 224, 242, 254;
  --rgb-sky-200: 186, 230, 253;
  --rgb-sky-300: 125, 211, 252;
  --rgb-sky-400: 56, 189, 248;
  --rgb-sky-500: 14, 165, 233;
  --rgb-sky-600: 2, 132, 199;
  --rgb-sky-700: 3, 105, 161;
  --rgb-sky-800: 7, 89, 133;
  --rgb-sky-900: 12, 74, 110;
  --rgb-sky-950: 8, 47, 73;

  --rgb-blue-50: 239, 246, 255;
  --rgb-blue-100: 219, 234, 254;
  --rgb-blue-200: 191, 219, 254;
  --rgb-blue-300: 147, 197, 253;
  --rgb-blue-400: 96, 165, 250;
  --rgb-blue-500: 59, 130, 246;
  --rgb-blue-600: 37, 99, 235;
  --rgb-blue-700: 29, 78, 216;
  --rgb-blue-800: 30, 64, 175;
  --rgb-blue-900: 30, 58, 138;
  --rgb-blue-950: 23, 37, 84;

  --rgb-indigo-50: 238, 242, 255;
  --rgb-indigo-100: 224, 231, 255;
  --rgb-indigo-200: 199, 210, 254;
  --rgb-indigo-300: 165, 180, 252;
  --rgb-indigo-400: 129, 140, 248;
  --rgb-indigo-500: 99, 102, 241;
  --rgb-indigo-600: 79, 70, 229;
  --rgb-indigo-700: 67, 56, 202;
  --rgb-indigo-800: 55, 48, 163;
  --rgb-indigo-900: 49, 46, 129;
  --rgb-indigo-950: 30, 27, 75;

  --rgb-violet-50: 245, 243, 255;
  --rgb-violet-100: 237, 233, 254;
  --rgb-violet-200: 221, 214, 254;
  --rgb-violet-300: 196, 181, 253;
  --rgb-violet-400: 167, 139, 250;
  --rgb-violet-500: 139, 92, 246;
  --rgb-violet-600: 124, 58, 237;
  --rgb-violet-700: 109, 40, 217;
  --rgb-violet-800: 91, 33, 182;
  --rgb-violet-900: 76, 29, 149;
  --rgb-violet-950: 46, 16, 101;

  --rgb-purple-50: 250, 245, 255;
  --rgb-purple-100: 243, 232, 255;
  --rgb-purple-200: 233, 213, 255;
  --rgb-purple-300: 216, 180, 254;
  --rgb-purple-400: 192, 132, 252;
  --rgb-purple-500: 168, 85, 247;
  --rgb-purple-600: 147, 51, 234;
  --rgb-purple-700: 126, 34, 206;
  --rgb-purple-800: 107, 33, 168;
  --rgb-purple-900: 88, 28, 135;
  --rgb-purple-950: 59, 7, 100;

  --rgb-fuchsia-50: 253, 244, 255;
  --rgb-fuchsia-100: 250, 232, 255;
  --rgb-fuchsia-200: 245, 208, 254;
  --rgb-fuchsia-300: 240, 171, 252;
  --rgb-fuchsia-400: 232, 121, 249;
  --rgb-fuchsia-500: 217, 70, 239;
  --rgb-fuchsia-600: 192, 38, 211;
  --rgb-fuchsia-700: 162, 28, 175;
  --rgb-fuchsia-800: 134, 25, 143;
  --rgb-fuchsia-900: 112, 26, 117;
  --rgb-fuchsia-950: 74, 4, 78;

  --rgb-pink-50: 253, 242, 248;
  --rgb-pink-100: 252, 231, 243;
  --rgb-pink-200: 251, 207, 232;
  --rgb-pink-300: 249, 168, 212;
  --rgb-pink-400: 244, 114, 182;
  --rgb-pink-500: 236, 72, 153;
  --rgb-pink-600: 219, 39, 119;
  --rgb-pink-700: 190, 24, 93;
  --rgb-pink-800: 157, 23, 77;
  --rgb-pink-900: 131, 24, 67;
  --rgb-pink-950: 80, 7, 36;

  --rgb-rose-50: 255, 241, 242;
  --rgb-rose-100: 255, 228, 230;
  --rgb-rose-200: 254, 205, 211;
  --rgb-rose-300: 253, 164, 175;
  --rgb-rose-400: 251, 113, 133;
  --rgb-rose-500: 244, 63, 94;
  --rgb-rose-600: 225, 29, 72;
  --rgb-rose-700: 190, 18, 60;
  --rgb-rose-800: 159, 18, 57;
  --rgb-rose-900: 136, 19, 55;
  --rgb-rose-950: 76, 5, 25;
}

[data-prefers-accent='red'] {
  --c-accent-50: var(--hex-red-50);
  --c-accent-100: var(--hex-red-100);
  --c-accent-200: var(--hex-red-200);
  --c-accent-300: var(--hex-red-300);
  --c-accent-400: var(--hex-red-400);
  --c-accent-500: var(--hex-red-500);
  --c-accent-600: var(--hex-red-600);
  --c-accent-700: var(--hex-red-700);
  --c-accent-800: var(--hex-red-800);
  --c-accent-900: var(--hex-red-900);
  --c-accent-950: var(--hex-red-950);

  --c-accent-50-A3: rgba(var(--rgb-red-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-red-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-red-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-red-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-red-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-red-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-red-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-red-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-red-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-red-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-red-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-red-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-red-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-red-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-red-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-red-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-red-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-red-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-red-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-red-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-red-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-red-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-red-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-red-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-red-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-red-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-red-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-red-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-red-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-red-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-red-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-red-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-red-950), 0.7);
}

[data-prefers-accent='orange'] {
  --c-accent-50: var(--hex-orange-50);
  --c-accent-100: var(--hex-orange-100);
  --c-accent-200: var(--hex-orange-200);
  --c-accent-300: var(--hex-orange-300);
  --c-accent-400: var(--hex-orange-400);
  --c-accent-500: var(--hex-orange-500);
  --c-accent-600: var(--hex-orange-600);
  --c-accent-700: var(--hex-orange-700);
  --c-accent-800: var(--hex-orange-800);
  --c-accent-900: var(--hex-orange-900);
  --c-accent-950: var(--hex-orange-950);

  --c-accent-50-A3: rgba(var(--rgb-orange-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-orange-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-orange-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-orange-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-orange-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-orange-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-orange-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-orange-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-orange-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-orange-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-orange-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-orange-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-orange-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-orange-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-orange-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-orange-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-orange-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-orange-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-orange-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-orange-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-orange-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-orange-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-orange-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-orange-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-orange-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-orange-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-orange-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-orange-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-orange-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-orange-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-orange-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-orange-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-orange-950), 0.7);
}

[data-prefers-accent='amber'] {
  --c-accent-50: var(--hex-amber-50);
  --c-accent-100: var(--hex-amber-100);
  --c-accent-200: var(--hex-amber-200);
  --c-accent-300: var(--hex-amber-300);
  --c-accent-400: var(--hex-amber-400);
  --c-accent-500: var(--hex-amber-500);
  --c-accent-600: var(--hex-amber-600);
  --c-accent-700: var(--hex-amber-700);
  --c-accent-800: var(--hex-amber-800);
  --c-accent-900: var(--hex-amber-900);
  --c-accent-950: var(--hex-amber-950);

  --c-accent-50-A3: rgba(var(--rgb-amber-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-amber-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-amber-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-amber-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-amber-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-amber-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-amber-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-amber-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-amber-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-amber-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-amber-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-amber-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-amber-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-amber-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-amber-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-amber-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-amber-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-amber-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-amber-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-amber-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-amber-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-amber-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-amber-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-amber-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-amber-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-amber-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-amber-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-amber-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-amber-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-amber-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-amber-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-amber-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-amber-950), 0.7);
}

[data-prefers-accent='yellow'] {
  --c-accent-50: var(--hex-yellow-50);
  --c-accent-100: var(--hex-yellow-100);
  --c-accent-200: var(--hex-yellow-200);
  --c-accent-300: var(--hex-yellow-300);
  --c-accent-400: var(--hex-yellow-400);
  --c-accent-500: var(--hex-yellow-500);
  --c-accent-600: var(--hex-yellow-600);
  --c-accent-700: var(--hex-yellow-700);
  --c-accent-800: var(--hex-yellow-800);
  --c-accent-900: var(--hex-yellow-900);
  --c-accent-950: var(--hex-yellow-950);

  --c-accent-50-A3: rgba(var(--rgb-yellow-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-yellow-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-yellow-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-yellow-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-yellow-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-yellow-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-yellow-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-yellow-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-yellow-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-yellow-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-yellow-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-yellow-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-yellow-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-yellow-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-yellow-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-yellow-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-yellow-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-yellow-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-yellow-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-yellow-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-yellow-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-yellow-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-yellow-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-yellow-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-yellow-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-yellow-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-yellow-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-yellow-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-yellow-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-yellow-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-yellow-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-yellow-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-yellow-950), 0.7);
}

[data-prefers-accent='lime'] {
  --c-accent-50: var(--hex-lime-50);
  --c-accent-100: var(--hex-lime-100);
  --c-accent-200: var(--hex-lime-200);
  --c-accent-300: var(--hex-lime-300);
  --c-accent-400: var(--hex-lime-400);
  --c-accent-500: var(--hex-lime-500);
  --c-accent-600: var(--hex-lime-600);
  --c-accent-700: var(--hex-lime-700);
  --c-accent-800: var(--hex-lime-800);
  --c-accent-900: var(--hex-lime-900);
  --c-accent-950: var(--hex-lime-950);

  --c-accent-50-A3: rgba(var(--rgb-lime-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-lime-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-lime-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-lime-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-lime-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-lime-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-lime-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-lime-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-lime-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-lime-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-lime-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-lime-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-lime-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-lime-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-lime-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-lime-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-lime-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-lime-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-lime-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-lime-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-lime-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-lime-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-lime-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-lime-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-lime-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-lime-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-lime-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-lime-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-lime-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-lime-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-lime-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-lime-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-lime-950), 0.7);
}

[data-prefers-accent='green'] {
  --c-accent-50: var(--hex-green-50);
  --c-accent-100: var(--hex-green-100);
  --c-accent-200: var(--hex-green-200);
  --c-accent-300: var(--hex-green-300);
  --c-accent-400: var(--hex-green-400);
  --c-accent-500: var(--hex-green-500);
  --c-accent-600: var(--hex-green-600);
  --c-accent-700: var(--hex-green-700);
  --c-accent-800: var(--hex-green-800);
  --c-accent-900: var(--hex-green-900);
  --c-accent-950: var(--hex-green-950);

  --c-accent-50-A3: rgba(var(--rgb-green-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-green-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-green-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-green-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-green-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-green-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-green-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-green-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-green-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-green-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-green-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-green-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-green-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-green-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-green-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-green-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-green-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-green-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-green-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-green-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-green-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-green-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-green-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-green-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-green-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-green-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-green-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-green-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-green-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-green-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-green-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-green-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-green-950), 0.7);
}

[data-prefers-accent='emerald'] {
  --c-accent-50: var(--hex-emerald-50);
  --c-accent-100: var(--hex-emerald-100);
  --c-accent-200: var(--hex-emerald-200);
  --c-accent-300: var(--hex-emerald-300);
  --c-accent-400: var(--hex-emerald-400);
  --c-accent-500: var(--hex-emerald-500);
  --c-accent-600: var(--hex-emerald-600);
  --c-accent-700: var(--hex-emerald-700);
  --c-accent-800: var(--hex-emerald-800);
  --c-accent-900: var(--hex-emerald-900);
  --c-accent-950: var(--hex-emerald-950);

  --c-accent-50-A3: rgba(var(--rgb-emerald-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-emerald-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-emerald-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-emerald-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-emerald-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-emerald-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-emerald-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-emerald-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-emerald-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-emerald-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-emerald-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-emerald-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-emerald-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-emerald-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-emerald-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-emerald-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-emerald-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-emerald-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-emerald-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-emerald-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-emerald-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-emerald-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-emerald-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-emerald-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-emerald-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-emerald-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-emerald-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-emerald-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-emerald-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-emerald-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-emerald-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-emerald-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-emerald-950), 0.7);
}

[data-prefers-accent='teal'] {
  --c-accent-50: var(--hex-teal-50);
  --c-accent-100: var(--hex-teal-100);
  --c-accent-200: var(--hex-teal-200);
  --c-accent-300: var(--hex-teal-300);
  --c-accent-400: var(--hex-teal-400);
  --c-accent-500: var(--hex-teal-500);
  --c-accent-600: var(--hex-teal-600);
  --c-accent-700: var(--hex-teal-700);
  --c-accent-800: var(--hex-teal-800);
  --c-accent-900: var(--hex-teal-900);
  --c-accent-950: var(--hex-teal-950);

  --c-accent-50-A3: rgba(var(--rgb-teal-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-teal-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-teal-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-teal-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-teal-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-teal-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-teal-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-teal-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-teal-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-teal-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-teal-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-teal-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-teal-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-teal-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-teal-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-teal-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-teal-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-teal-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-teal-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-teal-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-teal-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-teal-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-teal-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-teal-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-teal-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-teal-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-teal-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-teal-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-teal-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-teal-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-teal-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-teal-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-teal-950), 0.7);
}

[data-prefers-accent='cyan'] {
  --c-accent-50: var(--hex-cyan-50);
  --c-accent-100: var(--hex-cyan-100);
  --c-accent-200: var(--hex-cyan-200);
  --c-accent-300: var(--hex-cyan-300);
  --c-accent-400: var(--hex-cyan-400);
  --c-accent-500: var(--hex-cyan-500);
  --c-accent-600: var(--hex-cyan-600);
  --c-accent-700: var(--hex-cyan-700);
  --c-accent-800: var(--hex-cyan-800);
  --c-accent-900: var(--hex-cyan-900);
  --c-accent-950: var(--hex-cyan-950);

  --c-accent-50-A3: rgba(var(--rgb-cyan-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-cyan-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-cyan-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-cyan-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-cyan-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-cyan-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-cyan-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-cyan-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-cyan-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-cyan-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-cyan-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-cyan-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-cyan-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-cyan-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-cyan-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-cyan-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-cyan-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-cyan-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-cyan-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-cyan-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-cyan-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-cyan-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-cyan-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-cyan-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-cyan-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-cyan-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-cyan-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-cyan-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-cyan-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-cyan-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-cyan-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-cyan-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-cyan-950), 0.7);
}

[data-prefers-accent='sky'] {
  --c-accent-50: var(--hex-sky-50);
  --c-accent-100: var(--hex-sky-100);
  --c-accent-200: var(--hex-sky-200);
  --c-accent-300: var(--hex-sky-300);
  --c-accent-400: var(--hex-sky-400);
  --c-accent-500: var(--hex-sky-500);
  --c-accent-600: var(--hex-sky-600);
  --c-accent-700: var(--hex-sky-700);
  --c-accent-800: var(--hex-sky-800);
  --c-accent-900: var(--hex-sky-900);
  --c-accent-950: var(--hex-sky-950);

  --c-accent-50-A3: rgba(var(--rgb-sky-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-sky-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-sky-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-sky-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-sky-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-sky-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-sky-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-sky-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-sky-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-sky-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-sky-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-sky-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-sky-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-sky-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-sky-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-sky-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-sky-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-sky-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-sky-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-sky-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-sky-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-sky-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-sky-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-sky-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-sky-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-sky-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-sky-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-sky-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-sky-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-sky-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-sky-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-sky-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-sky-950), 0.7);
}

[data-prefers-accent='blue'] {
  --c-accent-50: var(--hex-blue-50);
  --c-accent-100: var(--hex-blue-100);
  --c-accent-200: var(--hex-blue-200);
  --c-accent-300: var(--hex-blue-300);
  --c-accent-400: var(--hex-blue-400);
  --c-accent-500: var(--hex-blue-500);
  --c-accent-600: var(--hex-blue-600);
  --c-accent-700: var(--hex-blue-700);
  --c-accent-800: var(--hex-blue-800);
  --c-accent-900: var(--hex-blue-900);
  --c-accent-950: var(--hex-blue-950);

  --c-accent-50-A3: rgba(var(--rgb-blue-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-blue-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-blue-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-blue-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-blue-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-blue-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-blue-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-blue-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-blue-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-blue-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-blue-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-blue-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-blue-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-blue-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-blue-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-blue-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-blue-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-blue-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-blue-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-blue-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-blue-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-blue-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-blue-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-blue-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-blue-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-blue-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-blue-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-blue-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-blue-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-blue-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-blue-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-blue-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-blue-950), 0.7);
}

[data-prefers-accent='indigo'] {
  --c-accent-50: var(--hex-indigo-50);
  --c-accent-100: var(--hex-indigo-100);
  --c-accent-200: var(--hex-indigo-200);
  --c-accent-300: var(--hex-indigo-300);
  --c-accent-400: var(--hex-indigo-400);
  --c-accent-500: var(--hex-indigo-500);
  --c-accent-600: var(--hex-indigo-600);
  --c-accent-700: var(--hex-indigo-700);
  --c-accent-800: var(--hex-indigo-800);
  --c-accent-900: var(--hex-indigo-900);
  --c-accent-950: var(--hex-indigo-950);

  --c-accent-50-A3: rgba(var(--rgb-indigo-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-indigo-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-indigo-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-indigo-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-indigo-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-indigo-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-indigo-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-indigo-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-indigo-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-indigo-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-indigo-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-indigo-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-indigo-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-indigo-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-indigo-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-indigo-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-indigo-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-indigo-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-indigo-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-indigo-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-indigo-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-indigo-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-indigo-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-indigo-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-indigo-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-indigo-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-indigo-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-indigo-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-indigo-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-indigo-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-indigo-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-indigo-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-indigo-950), 0.7);
}

[data-prefers-accent='violet'] {
  --c-accent-50: var(--hex-violet-50);
  --c-accent-100: var(--hex-violet-100);
  --c-accent-200: var(--hex-violet-200);
  --c-accent-300: var(--hex-violet-300);
  --c-accent-400: var(--hex-violet-400);
  --c-accent-500: var(--hex-violet-500);
  --c-accent-600: var(--hex-violet-600);
  --c-accent-700: var(--hex-violet-700);
  --c-accent-800: var(--hex-violet-800);
  --c-accent-900: var(--hex-violet-900);
  --c-accent-950: var(--hex-violet-950);

  --c-accent-50-A3: rgba(var(--rgb-violet-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-violet-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-violet-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-violet-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-violet-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-violet-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-violet-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-violet-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-violet-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-violet-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-violet-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-violet-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-violet-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-violet-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-violet-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-violet-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-violet-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-violet-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-violet-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-violet-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-violet-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-violet-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-violet-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-violet-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-violet-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-violet-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-violet-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-violet-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-violet-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-violet-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-violet-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-violet-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-violet-950), 0.7);
}

[data-prefers-accent='purple'] {
  --c-accent-50: var(--hex-purple-50);
  --c-accent-100: var(--hex-purple-100);
  --c-accent-200: var(--hex-purple-200);
  --c-accent-300: var(--hex-purple-300);
  --c-accent-400: var(--hex-purple-400);
  --c-accent-500: var(--hex-purple-500);
  --c-accent-600: var(--hex-purple-600);
  --c-accent-700: var(--hex-purple-700);
  --c-accent-800: var(--hex-purple-800);
  --c-accent-900: var(--hex-purple-900);
  --c-accent-950: var(--hex-purple-950);

  --c-accent-50-A3: rgba(var(--rgb-purple-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-purple-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-purple-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-purple-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-purple-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-purple-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-purple-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-purple-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-purple-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-purple-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-purple-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-purple-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-purple-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-purple-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-purple-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-purple-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-purple-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-purple-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-purple-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-purple-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-purple-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-purple-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-purple-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-purple-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-purple-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-purple-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-purple-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-purple-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-purple-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-purple-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-purple-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-purple-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-purple-950), 0.7);
}

[data-prefers-accent='fuchsia'] {
  --c-accent-50: var(--hex-fuchsia-50);
  --c-accent-100: var(--hex-fuchsia-100);
  --c-accent-200: var(--hex-fuchsia-200);
  --c-accent-300: var(--hex-fuchsia-300);
  --c-accent-400: var(--hex-fuchsia-400);
  --c-accent-500: var(--hex-fuchsia-500);
  --c-accent-600: var(--hex-fuchsia-600);
  --c-accent-700: var(--hex-fuchsia-700);
  --c-accent-800: var(--hex-fuchsia-800);
  --c-accent-900: var(--hex-fuchsia-900);
  --c-accent-950: var(--hex-fuchsia-950);

  --c-accent-50-A3: rgba(var(--rgb-fuchsia-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-fuchsia-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-fuchsia-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-fuchsia-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-fuchsia-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-fuchsia-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-fuchsia-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-fuchsia-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-fuchsia-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-fuchsia-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-fuchsia-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-fuchsia-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-fuchsia-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-fuchsia-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-fuchsia-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-fuchsia-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-fuchsia-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-fuchsia-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-fuchsia-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-fuchsia-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-fuchsia-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-fuchsia-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-fuchsia-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-fuchsia-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-fuchsia-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-fuchsia-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-fuchsia-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-fuchsia-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-fuchsia-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-fuchsia-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-fuchsia-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-fuchsia-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-fuchsia-950), 0.7);
}

[data-prefers-accent='pink'] {
  --c-accent-50: var(--hex-pink-50);
  --c-accent-100: var(--hex-pink-100);
  --c-accent-200: var(--hex-pink-200);
  --c-accent-300: var(--hex-pink-300);
  --c-accent-400: var(--hex-pink-400);
  --c-accent-500: var(--hex-pink-500);
  --c-accent-600: var(--hex-pink-600);
  --c-accent-700: var(--hex-pink-700);
  --c-accent-800: var(--hex-pink-800);
  --c-accent-900: var(--hex-pink-900);
  --c-accent-950: var(--hex-pink-950);

  --c-accent-50-A3: rgba(var(--rgb-pink-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-pink-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-pink-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-pink-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-pink-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-pink-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-pink-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-pink-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-pink-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-pink-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-pink-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-pink-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-pink-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-pink-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-pink-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-pink-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-pink-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-pink-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-pink-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-pink-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-pink-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-pink-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-pink-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-pink-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-pink-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-pink-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-pink-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-pink-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-pink-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-pink-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-pink-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-pink-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-pink-950), 0.7);
}

[data-prefers-accent='rose'] {
  --c-accent-50: var(--hex-rose-50);
  --c-accent-100: var(--hex-rose-100);
  --c-accent-200: var(--hex-rose-200);
  --c-accent-300: var(--hex-rose-300);
  --c-accent-400: var(--hex-rose-400);
  --c-accent-500: var(--hex-rose-500);
  --c-accent-600: var(--hex-rose-600);
  --c-accent-700: var(--hex-rose-700);
  --c-accent-800: var(--hex-rose-800);
  --c-accent-900: var(--hex-rose-900);
  --c-accent-950: var(--hex-rose-950);

  --c-accent-50-A3: rgba(var(--rgb-rose-50), 0.3);
  --c-accent-100-A3: rgba(var(--rgb-rose-100), 0.3);
  --c-accent-200-A3: rgba(var(--rgb-rose-200), 0.3);
  --c-accent-300-A3: rgba(var(--rgb-rose-300), 0.3);
  --c-accent-400-A3: rgba(var(--rgb-rose-400), 0.3);
  --c-accent-500-A3: rgba(var(--rgb-rose-500), 0.3);
  --c-accent-600-A3: rgba(var(--rgb-rose-600), 0.3);
  --c-accent-700-A3: rgba(var(--rgb-rose-700), 0.3);
  --c-accent-800-A3: rgba(var(--rgb-rose-800), 0.3);
  --c-accent-900-A3: rgba(var(--rgb-rose-900), 0.3);
  --c-accent-950-A3: rgba(var(--rgb-rose-950), 0.3);

  --c-accent-50-A5: rgba(var(--rgb-rose-50), 0.5);
  --c-accent-100-A5: rgba(var(--rgb-rose-100), 0.5);
  --c-accent-200-A5: rgba(var(--rgb-rose-200), 0.5);
  --c-accent-300-A5: rgba(var(--rgb-rose-300), 0.5);
  --c-accent-400-A5: rgba(var(--rgb-rose-400), 0.5);
  --c-accent-500-A5: rgba(var(--rgb-rose-500), 0.5);
  --c-accent-600-A5: rgba(var(--rgb-rose-600), 0.5);
  --c-accent-700-A5: rgba(var(--rgb-rose-700), 0.5);
  --c-accent-800-A5: rgba(var(--rgb-rose-800), 0.5);
  --c-accent-900-A5: rgba(var(--rgb-rose-900), 0.5);
  --c-accent-950-A5: rgba(var(--rgb-rose-950), 0.5);

  --c-accent-50-A7: rgba(var(--rgb-rose-50), 0.7);
  --c-accent-100-A7: rgba(var(--rgb-rose-100), 0.7);
  --c-accent-200-A7: rgba(var(--rgb-rose-200), 0.7);
  --c-accent-300-A7: rgba(var(--rgb-rose-300), 0.7);
  --c-accent-400-A7: rgba(var(--rgb-rose-400), 0.7);
  --c-accent-500-A7: rgba(var(--rgb-rose-500), 0.7);
  --c-accent-600-A7: rgba(var(--rgb-rose-600), 0.7);
  --c-accent-700-A7: rgba(var(--rgb-rose-700), 0.7);
  --c-accent-800-A7: rgba(var(--rgb-rose-800), 0.7);
  --c-accent-900-A7: rgba(var(--rgb-rose-900), 0.7);
  --c-accent-950-A7: rgba(var(--rgb-rose-950), 0.7);
}
