.v2-inline-input {
  --v2-input-border: solid var(--v2-border-md) transparent;
  --v2-input-outline: solid var(--v2-border-md) transparent;

  --v2-input-gap-xs: calc(var(--v2-01) * 4);
  --v2-input-gap-sm: calc(var(--v2-01) * 4);
  --v2-input-gap-md: calc(var(--v2-01) * 4);
  --v2-input-gap-lg: calc(var(--v2-01) * 4);
  --v2-input-gap-xl: calc(var(--v2-01) * 4);

  --v2-input-height-xs: calc(var(--v2-01) * 12);
  --v2-input-height-sm: calc(var(--v2-01) * 12);
  --v2-input-height-md: calc(var(--v2-01) * 12);
  --v2-input-height-lg: calc(var(--v2-01) * 12);
  --v2-input-height-xl: calc(var(--v2-01) * 12);

  border: var(--v2-input-border);
  outline: var(--v2-input-outline);

  display: flex;
  align-items: var(--v2-input-align, center);
  justify-content: var(--v2-input-justify, flex-start);
  gap: var(--v2-input-gap, var(--v2-input-gap-sm));

  &:focus:not(:focus-visible) {
    --v2-input-outline: solid var(--v2-border-md) transparent;
  }
  &:focus:focus-visible {
    --v2-input-outline: solid var(--v2-border-md) var(--c-focus);
  }
}
