.footer-layout {
  z-index: var(--site-content-index);
  display: block;
  position: relative;
  isolation: isolate;

  @media (min-width: 60em) {
    margin-left: var(--site-header-height);
  }
}

.footer-content {
  width: 100%;
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 60em) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer-content--left,
.footer-content--right {
  width: 100%;
  display: flex;
  min-height: var(--site-footer-height);
  align-items: flex-start;
  justify-content: flex-start;
  padding-inline: var(--site-gutter);
  padding-block: calc(var(--site-gutter) * 2);
}
