.navbar-layout {
  z-index: var(--site-navbar-index);
  width: var(--site-header-height);
  isolation: isolate;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
}

.navbar-content {
  gap: var(--site-gap);
  width: 100%;
  height: 100%;
  z-index: var(--site-navbar-index);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: var(--site-gap);

  svg {
    width: var(--site-icon-size-md);
    height: var(--site-icon-size-md);
  }
}

.navbar-content--upper,
.navbar-content--lower {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-skip-link {
  width: max-content;
  height: var(--site-action-height);
  transform: translateX(calc(100% + var(--site-gap)));
  padding-inline: var(--site-gutter);
  position: absolute;
  right: 0;
  top: 0;

  &[data-hidden] {
    visibility: hidden;
  }
  &[data-show] {
    visibility: visible;
  }
}
