.page-layout {
  display: block;
  z-index: var(--site-index);
  isolation: isolate;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  max-width: 100%;
}

.page-hero {
  margin-top: var(--site-header-height);
  height: var(--site-hero-height);
  z-index: var(--site-hero-index);
  isolation: isolate;
  overflow-x: hidden;
  position: fixed;
  display: block;
  right: 0;
  left: 0;
  top: 0;
}

.page-content {
  margin-top: calc(var(--site-hero-height) + var(--site-header-height));
  z-index: var(--site-content-index);
  display: block;
  position: relative;
  isolation: isolate;
}
