html,
body,
#root {
  color: var(--c-root-text);
  background-color: var(--c-root);
}

.v2-page {
  color: var(--c-root-text);
  background-color: var(--c-root);
}

.v2-main {
  color: var(--c-root-text);
  background-color: var(--c-root);
}

.v2-hero {
  color: var(--c-base-text);
  background-color: var(--c-base);
}

.v2-header {
  color: var(--c-root-text);
  background-color: var(--c-root);
}

.v2-footer {
  color: var(--c-root-text);
  background-color: var(--c-root);
}
