body {
  background-color: var(--c-base);
  color: var(--c-text);
}

.v2-page {
  background-color: var(--c-base);
  color: var(--c-text);
}

.v2-main {
  background-color: var(--c-base);
  color: var(--c-text);
}

.v2-hero {
  background-color: var(--c-base);
  color: var(--c-text);
}

.v2-sidebar {
  background-color: var(--c-base);
  color: var(--c-text);
}

.v2-header {
  background-color: var(--c-base);
  color: var(--c-text);
}

.v2-footer {
  background-color: var(--c-base);
  color: var(--c-text);
}
