.v2-overview {
  &-hero-title {
    font-size: var(--v2-font-size-14);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);

    max-width: 80%;
  }

  &-hero-title-line-1,
  &-hero-title-line-2 {
    display: block;
  }

  &-stats-layout {
    gap: var(--v2-gutter);
    display: flex;
    flex-direction: column;
    padding-inline: var(--v2-gutter);
    margin-block: calc(var(--v2-gutter) * 2);

    gap: calc(var(--v2-gutter) * 3);

    @media (min-width: 80em) {
      gap: calc(var(--v2-gutter) * 2);
      margin-block: calc(var(--v2-gutter) * 3);
    }
  }

  &-stats-card-group {
    gap: calc(var(--v2-gutter) * 3);
    display: flex;
    flex-direction: column;

    @media (min-width: 80em) {
      flex-direction: row;
      gap: calc(var(--v2-gutter) * 2);
    }
  }

  &-stats-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  &-stats-card-value {
    font-size: var(--v2-font-size-16);
    font-weight: var(--v2-font-weight-med);
    line-height: var(--v2-line-height-xs);
  }

  &-stats-card-title {
    font-size: var(--v2-font-size-10);
    font-weight: var(--v2-font-weight-lgt);
    line-height: var(--v2-line-height-sm);
    margin-top: calc(var(--v2-gutter) / 3);
  }

  &-stats-card-text {
    font-size: var(--v2-font-size-04);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-md);
    margin-top: calc(var(--v2-gutter) / 3.5);
  }

  &-resume-layout {
    display: flex;
    flex-direction: column;

    @media (min-width: 80em) {
      flex-direction: row;
    }
  }

  &-resume-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-inline: var(--v2-gutter);
    padding-block: calc(var(--v2-gutter) * 3);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }

    @media (min-width: 80em) {
      width: 40%;
      padding-block: var(--v2-gutter);
    }
  }

  &-resume-banner-subtitle {
    font-size: var(--v2-font-size-06);
    font-weight: var(--v2-font-weight-lgt);
    line-height: var(--v2-line-height-md);
  }

  &-resume-banner-title {
    font-size: var(--v2-font-size-15);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-xs);
    margin-top: calc(var(--v2-gutter) / 4);
  }

  &-resume-banner-title-line-2 {
    font-size: var(--v2-font-size-16);
    margin-top: calc(var(--v2-gutter) / 4);
  }

  &-resume-banner .v2-button {
    width: 75%;
    margin-top: var(--v2-gutter);
  }

  &-resume-banner-title-line-1,
  &-resume-banner-title-line-2 {
    display: block;
  }

  &-resume-list {
    gap: var(--v2-gap-xxs);
    display: flex;
    flex-direction: column;

    @media (min-width: 80em) {
      width: 60%;
    }
  }

  &-resume-list-item {
    padding-block: calc(var(--v2-gutter) * 1.5);
    padding-inline: var(--v2-gutter);

    @media (min-width: 80em) {
      padding-block: calc(var(--v2-gutter) / 1.5);
    }
  }

  &-resume-list-item-location {
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-lgt);
    line-height: var(--v2-line-height-md);
  }

  &-resume-list-item-title {
    font-size: var(--v2-font-size-10);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-xs);
    margin-top: calc(var(--v2-gutter) / 3);
  }

  &-resume-list-item-text {
    font-size: var(--v2-font-size-04);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-md);
    margin-top: calc(var(--v2-gutter) / 3.5);
  }
}
