.v2-overview-intro {
  &-layout {
    gap: var(--v2-01);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  &-banner {
    padding-block: var(--v2-10);
    padding-inline: var(--v2-gutter);
  }

  &-links {
    gap: var(--v2-01);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 60em) {
    &-layout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
