.v2-overview {
  &-hero-title {
    display: block;
    max-width: 80%;
  }

  &-hero-title-line-1,
  &-hero-title-line-2 {
    display: block;
    font-size: var(--v2-font-size-14);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
  }

  &-stats-layout {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);

    [data-prefers-dir='rtl'] & {
      justify-self: end;
    }
  }

  &-stats-card-group {
    gap: var(--v2-gutter);
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  &-stats-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: var(--v2-gutter);
    margin-top: calc(var(--v2-gutter) * 2.5);
    gap: calc(var(--v2-gutter) / 2);
  }

  &-stats-card-value {
    font-size: var(--v2-font-size-16);
    font-weight: var(--v2-font-weight-bld);
    line-height: var(--v2-line-height-xs);
  }

  &-stats-card-title {
    font-size: var(--v2-font-size-08);
    font-weight: var(--v2-font-weight-lgt);
    line-height: var(--v2-line-height-sm);
  }

  &-stats-card-text {
    font-size: var(--v2-font-size-05);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
  }

  &-resume-layout {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  &-resume-banner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: calc(var(--v2-gutter) * 3);
    margin-inline: var(--v2-gutter);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }
  }

  &-resume-banner-title {
    font-size: var(--v2-font-size-14);
    font-weight: var(--v2-font-weight-bld);
    line-height: var(--v2-line-height-sm);
  }

  &-resume-banner-title-line-1,
  &-resume-banner-title-line-2 {
    display: block;
  }

  &-resume-banner .v2-button {
    width: 100%;
    max-width: 600px;
    margin-top: var(--v2-08);
  }

  &-resume-list {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--v2-01);
  }

  &-resume-list-item-location {
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
  }

  &-resume-list-item-text {
    font-size: var(--v2-font-size-05);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
  }

  &-resume-list-item-title {
    font-size: var(--v2-font-size-08);
    font-weight: var(--v2-font-weight-lgt);
    line-height: var(--v2-line-height-sm);
  }

  &-resume-list-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: calc(var(--v2-gutter) * 2);
    padding-inline: var(--v2-gutter);
    gap: var(--v2-04);
  }

  &-brands-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--v2-gap-xxs);
  }

  &-brands-banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-block: calc(var(--v2-gutter) * 2);
    margin-inline: var(--v2-gutter);
    gap: calc(var(--v2-gutter) / 1.5);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }
  }

  &-brands-banner .v2-text,
  &-brands-banner .v2-title {
    width: 100%;
    display: block;
    max-width: 800px;
  }

  &-brands-banner .v2-title {
    font-size: var(--v2-font-size-14);
    font-weight: var(--v2-font-weight-bld);
    line-height: var(--v2-line-height-sm);
  }

  &-brands-banner .v2-text {
    font-size: var(--v2-font-size-05);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
  }

  &-brands-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }

  &-brands-item .v2-company-logo {
    width: 128px;
  }
}

@media (min-width: 40em) {
}

@media (min-width: 60em) {
  .v2-overview {
    &-brands-layout {
      grid-template-columns: repeat(3, 1fr);
    }
    &-resume-banner {
      padding-block: calc(var(--v2-gutter) * 1.5);
    }
    &-resume-list-item {
      padding-block: calc(var(--v2-gutter) * 1.5);
    }
  }
}

@media (min-width: 70em) {
  .v2-overview {
    &-stats-layout {
      grid-template-columns: repeat(2, 1fr);
    }
    &-resume-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 80em) {
  .v2-overview {
    &-stats-layout {
      grid-template-columns: repeat(2, 1fr);
    }
    &-brands-layout {
      grid-template-columns: repeat(4, 1fr);
    }
    &-brands-banner {
      padding-block: calc(var(--v2-gutter) * 2);
    }
    &-resume-banner {
      padding-block: calc(var(--v2-gutter) * 2);
    }
    &-resume-list-item {
      padding-block: calc(var(--v2-gutter) * 2);
    }
  }
}

@media (min-width: 100em) {
}
