.Avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2);
  border: var(--border-xs);
  border-radius: var(--radius-rd);
  color: rgba(var(--rgb-accent), 1);
  border-color: rgba(var(--rgb-accent), 1);
  background-color: rgba(var(--rgb-accent), 0.1);

  &:hover {
    background-color: rgba(var(--rgb-accent), 0.2);
  }
}
