.Avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2);
  border-radius: var(--radius-rd);
  border: var(--border-sm);

  color: rgba(var(--rgb-accent), 1);
  background-color: rgba(var(--rgb-accent), 0.2);
  &:hover {
    background-color: rgba(var(--rgb-accent), 0.25);
  }
}
