@use '../modifiers' as modifiers;

.Button {
  --button-height-xs: calc(30px * var(--scale));
  --button-height-sm: calc(36px * var(--scale));
  --button-height-md: calc(42px * var(--scale));
  --button-height-lg: calc(48px * var(--scale));
  --button-height-xl: calc(54px * var(--scale));

  --button-padding-x-xs: calc(10px * var(--scale));
  --button-padding-x-sm: calc(12px * var(--scale));
  --button-padding-x-md: calc(16px * var(--scale));
  --button-padding-x-lg: calc(18px * var(--scale));
  --button-padding-x-xl: calc(20px * var(--scale));

  --button-font-size-xs: calc(14px * var(--scale));
  --button-font-size-sm: calc(15px * var(--scale));
  --button-font-size-md: calc(16px * var(--scale));
  --button-font-size-lg: calc(17px * var(--scale));
  --button-font-size-xl: calc(18px * var(--scale));

  display: inline-flex;
  height: var(--button-height, var(--button-height-xs));
  padding-inline: var(--button-padding-x, var(--button-padding-x-xs));
  font-size: var(--button-font-size, var(--button-font-size-xs));
  line-height: 1;

  @include modifiers.flex-align;
  @include modifiers.flex-justify;

  &--size-xs {
    --button-height: var(--button-height-xs);
    --button-font-size: var(--button-font-size-xs);
    --button-padding-x: var(--button-padding-x-xs);
  }
  &--size-sm {
    --button-height: var(--button-height-sm);
    --button-font-size: var(--button-font-size-sm);
    --button-padding-x: var(--button-padding-x-sm);
  }
  &--size-md {
    --button-height: var(--button-height-md);
    --button-font-size: var(--button-font-size-md);
    --button-padding-x: var(--button-padding-x-md);
  }
  &--size-lg {
    --button-height: var(--button-height-lg);
    --button-font-size: var(--button-font-size-lg);
    --button-padding-x: var(--button-padding-x-lg);
  }
  &--size-xl {
    --button-height: var(--button-height-xl);
    --button-padding-x: var(--button-padding-x-xl);
    --button-font-size: var(--button-font-size-xl);
  }
}

.button--solid-primary {
  background-color: var(--color-background-1);
  color: inherit;
  &:hover {
    background-color: var(--color-background-1-hover);
  }
}

.button--solid-secondary {
  background-color: var(--color-background-1-invert);
  color: inherit;
  &:hover {
    background-color: var(--color-background-1-invert-hover);
  }
}
