@use '../mixins' as mixins;

.button {
  --button-height-xs: calc(30px * var(--scale));
  --button-height-sm: calc(36px * var(--scale));
  --button-height-md: calc(42px * var(--scale));
  --button-height-lg: calc(50px * var(--scale));
  --button-height-xl: calc(60px * var(--scale));

  --button-padding-x-xs: calc(8px * var(--scale));
  --button-padding-x-sm: calc(9px * var(--scale));
  --button-padding-x-md: calc(10px * var(--scale));
  --button-padding-x-lg: calc(11px * var(--scale));
  --button-padding-x-xl: calc(12px * var(--scale));

  // --button-padding-x-xs: rem(14px);
  // --button-padding-x-sm: rem(18px);
  // --button-padding-x-md: rem(22px);
  // --button-padding-x-lg: rem(26px);
  // --button-padding-x-xl: rem(32px);

  // --button-padding-x-compact-xs: rem();
  // --button-padding-x-compact-sm: rem();
  // --button-padding-x-compact-md: rem();
  // --button-padding-x-compact-lg: rem();
  // --button-padding-x-compact-xl: rem();

  user-select: none;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  outline: solid 2px transparent;
  border: solid 2px transparent;
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
  padding-inline: 0.6rem;
  margin: 2px;

  &:not([data-grow]) {
    width: max-content;
  }
  [data-grow] {
    width: 100%;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: rgba(var(--c-blue), 1);
    outline-offset: 2px;
  }

  &-inner {
    height: 100%;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }
}

.button-group {
  width: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &[data-orientation='vertical'] {
    flex-direction: column;
  }
  &[data-orientation='horizontal'] {
    flex-direction: row;
  }
}
