@use '../mixins' as mixins;

.Button {
  width: 100%;
  height: var(--button-height);
  display: inline-flex;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &--size-xs {
    --button-height: var(--spacing-7);
  }
  &--size-sm {
    --button-height: var(--spacing-8);
  }
  &--size-md {
    --button-height: var(--spacing-9);
  }
  &--size-lg {
    --button-height: var(--spacing-10);
  }
  &--size-xl {
    --button-height: var(--spacing-11);
  }
}
