@use '../mixins' as mixins;

.caption {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.2;
  text-align: left;
  direction: ltr;

  @include mixins.rtl {
    text-align: right;
    direction: rtl;
  }

  &[data-variant='gradient'] {
    background-image: var(--caption-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &[data-truncate='start'] {
    direction: rtl;
    text-align: right;

    @include mixins.rtl {
      direction: ltr;
      text-align: left;
    }
  }

  &[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--caption-line-clamp);
    -webkit-box-orient: vertical;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  &[data-truncate] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
