.Control {
  margin: 0;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  isolation: isolate;
  z-index: 0;
  border-radius: var(--segment-radius);
  border: var(--border-xs);

  &--scheme-default {
    background-color: rgba(var(--rgb-primary-surface), 0.05);
  }

  &-track {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    [data-orientation='vertical'] & {
      flex-direction: column;
    }
    [data-orientation='horizontal'] & {
      flex-direction: row;
    }
  }

  &-indicator {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    background-color: rgba(var(--rgb-accent), 0.2);
    transition-property: transform;
    transition-timing-function: var(--easing-standard-expressive);
    transition-duration: var(--easing-duration-5);
    border-radius: var(--segment-radius);
    border: var(--border-xs);
  }

  &-segment {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    border: none;
    box-sizing: border-box;
    line-height: 1;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: var(--segment-height);
  }

  &--radius-xs {
    --segment-radius: var(--radius-xs);
  }
  &--radius-sm {
    --segment-radius: var(--radius-sm);
  }
  &--radius-md {
    --segment-radius: var(--radius-md);
  }
  &--radius-lg {
    --segment-radius: var(--radius-lg);
  }
  &--radius-xl {
    --segment-radius: var(--radius-xl);
  }

  &--size-xs {
    --segment-height: calc(var(--unit) * 12);
  }
  &--size-sm {
    --segment-height: calc(var(--unit) * 14);
  }
  &--size-md {
    --segment-height: calc(var(--unit) * 16);
  }
  &--size-lg {
    --segment-height: calc(var(--unit) * 18);
  }
  &--size-xl {
    --segment-height: calc(var(--unit) * 20);
  }
}
