.Control {
  display: inline-flex;

  &[data-orientation='vertical'] {
    justify-content: center;
    flex-direction: column;
  }
  &[data-orientation='horizontal'] {
    flex-direction: row;
    align-items: center;
  }

  &--scheme-default {
    border-color: rgba(var(--rgb-primary-surface), 0.05);
    background-color: rgba(var(--rgb-primary-surface), 0.05);
  }

  &-segment {
    height: var(--segment-height);
    padding-inline: calc(var(--unit) * 4);

    //   .primary & {
    //     &--scheme-default {
    //       background-color: rgba(var(--rgb-primary-surface), 0);
    //     }
    //     &--scheme-default:hover {
    //       background-color: rgba(var(--rgb-primary-surface), 0.05);
    //     }
    //     &--scheme-default:active {
    //       background-color: rgba(var(--rgb-primary-surface), 0.08);
    //     }
    //     &--scheme-default[data-selected] {
    //       background-color: rgba(var(--rgb-primary-surface), 0.12);
    //     }
    //     &--scheme-default:not([data-selected]) {
    //       color: rgba(var(--rgb-primary-surface), 0.4);
    //     }
    //   }

    //   .secondary & {
    //     &--scheme-default {
    //       background-color: rgba(var(--rgb-secondary-surface), 0);
    //     }
    //     &--scheme-default:hover {
    //       background-color: rgba(var(--rgb-secondary-surface), 0.05);
    //     }
    //     &--scheme-default:active {
    //       background-color: rgba(var(--rgb-secondary-surface), 0.08);
    //     }
    //     &--scheme-default[data-selected] {
    //       background-color: rgba(var(--rgb-secondary-surface), 0.12);
    //     }
    //     &--scheme-default:not([data-selected]) {
    //       color: rgba(var(--rgb-secondary-surface), 0.4);
    //     }
    //   }

    //   &--scheme-accent {
    //     background-color: rgba(var(--rgb-accent), 0.2);
    //   }
    //   &--scheme-accent:hover {
    //     background-color: rgba(var(--rgb-accent), 0.3);
    //   }
    //   &--scheme-accent:active {
    //     background-color: rgba(var(--rgb-accent), 0.4);
    //   }
    //   &--scheme-accent[data-selected] {
    //     background-color: rgba(var(--rgb-accent), 0.5);
    //   }

    &--size-xs {
      --segment-height: calc(var(--unit) * 12);
    }
    &--size-sm {
      --segment-height: calc(var(--unit) * 14);
    }
    &--size-md {
      --segment-height: calc(var(--unit) * 16);
    }
    &--size-lg {
      --segment-height: calc(var(--unit) * 18);
    }
    &--size-xl {
      --segment-height: calc(var(--unit) * 20);
    }
  }
}

.Control,
.Control-segment {
  border-radius: var(--segment-radius);
  border: var(--border-xs);

  &--radius-xs {
    --segment-radius: var(--radius-xs);
  }
  &--radius-sm {
    --segment-radius: var(--radius-sm);
  }
  &--radius-md {
    --segment-radius: var(--radius-md);
  }
  &--radius-lg {
    --segment-radius: var(--radius-lg);
  }
  &--radius-xl {
    --segment-radius: var(--radius-xl);
  }
}

// .Control {
//   &-root {
//     display: block;
//     position: relative;
//   }

//   &-track {
//     display: inline-flex;
//     // padding: calc(var(--unit) * 2);
//     // gap: calc(var(--unit) * 1);
//     border: var(--border-sm);

//     &[aria-orientation='horizontal'],
//     &[data-orientation='horizontal'] {
//       flex-direction: row;
//       align-items: center;
//     }

//     &[aria-orientation='vertical'],
//     &[data-orientation='vertical'] {
//       flex-direction: column;
//       justify-content: center;
//     }
//   }

//   &-item {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     height: var(--control-item-height);
//     padding-inline: calc(var(--unit) * 2);
//     background-color: transparent;
//     border-radius: var(--radius-xs);
//     border: var(--border-sm);

//     .Section.primary & {
//       &--scheme-default:hover {
//         background-color: rgba(var(--rgb-primary-surface), 0.05);
//       }
//       &--scheme-default:active {
//         background-color: rgba(var(--rgb-primary-surface), 0.08);
//       }
//       &--scheme-default[data-selected-control] {
//         background-color: rgba(var(--rgb-primary-surface), 0.11);
//       }

//       &--scheme-accent:hover {
//         background-color: rgba(var(--rgb-accent), 0.15);
//       }
//       &--scheme-accent:active {
//         background-color: rgba(var(--rgb-accent), 0.2);
//       }
//       &--scheme-accent[data-selected-control] {
//         background-color: rgba(var(--rgb-accent), 0.25);
//       }
//     }

//     .Section.secondary & {
//       &--scheme-default:hover {
//         background-color: rgba(var(--rgb-secondary-surface), 0.05);
//       }
//       &--scheme-default:active {
//         background-color: rgba(var(--rgb-secondary-surface), 0.08);
//       }
//       &--scheme-default[data-selected-control] {
//         background-color: rgba(var(--rgb-secondary-surface), 0.11);
//       }

//       &--scheme-accent:hover {
//         background-color: rgba(var(--rgb-accent), 0.15);
//       }
//       &--scheme-accent:active {
//         background-color: rgba(var(--rgb-accent), 0.2);
//       }
//       &--scheme-accent[data-selected-control] {
//         background-color: rgba(var(--rgb-accent), 0.25);
//       }
//     }

//     &--size-xs {
//       --control-item-height: calc(var(--unit) * 12);
//     }
//     &--size-sm {
//       --control-item-height: calc(var(--unit) * 14);
//     }
//     &--size-md {
//       --control-item-height: calc(var(--unit) * 16);
//     }
//     &--size-lg {
//       --control-item-height: calc(var(--unit) * 18);
//     }
//     &--size-xl {
//       --control-item-height: calc(var(--unit) * 20);
//     }
//   }
// }
