.Control {
  display: inline-flex;

  &[data-orientation='vertical'] {
    justify-content: center;
    flex-direction: column;
  }
  &[data-orientation='horizontal'] {
    flex-direction: row;
    align-items: center;
  }

  &--scheme-default {
    border-color: rgba(var(--rgb-primary-surface), 0.05);
    background-color: rgba(var(--rgb-primary-surface), 0.05);
  }

  &-segment {
    height: var(--segment-height);
    padding-inline: calc(var(--unit) * 4);

    &--size-xs {
      --segment-height: calc(var(--unit) * 12);
    }
    &--size-sm {
      --segment-height: calc(var(--unit) * 14);
    }
    &--size-md {
      --segment-height: calc(var(--unit) * 16);
    }
    &--size-lg {
      --segment-height: calc(var(--unit) * 18);
    }
    &--size-xl {
      --segment-height: calc(var(--unit) * 20);
    }
  }
}

.Control,
.Control-segment {
  border-radius: var(--segment-radius);
  border: var(--border-xs);

  &--radius-xs {
    --segment-radius: var(--radius-xs);
  }
  &--radius-sm {
    --segment-radius: var(--radius-sm);
  }
  &--radius-md {
    --segment-radius: var(--radius-md);
  }
  &--radius-lg {
    --segment-radius: var(--radius-lg);
  }
  &--radius-xl {
    --segment-radius: var(--radius-xl);
  }
}
