.divider,
.divider-label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.divider {
  --divider-height-sm: 2px;
  --divider-height-md: 3px;
  --divider-height-lg: 4px;

  height: var(--divider-height);
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;

  &-label {
    position: absolute;
    font-size: var(--font-size-caption-sm);
    font-weight: var(--font-weight-2);
    line-height: 1.1;

    [data-label-position='left'] & {
      left: 0;
    }
    [data-label-position='right'] & {
      right: 0;
    }
  }

  &--size-sm {
    --divider-height: var(--divider-height-sm);
  }
  &--size-md {
    --divider-height: var(--divider-height-md);
  }
  &--size-lg {
    --divider-height: var(--divider-height-lg);
  }
}
