.icon {
  display: inline-flex;
}

.icon[data-icon-size='xxs'] {
  height: var(--icon-size-xxs);
  width: var(--icon-size-xxs);
}
.icon[data-icon-size='xs'] {
  height: var(--icon-size-xs);
  width: var(--icon-size-xs);
}
.icon[data-icon-size='sm'] {
  height: var(--icon-size-sm);
  width: var(--icon-size-sm);
}
.icon[data-icon-size='md'] {
  height: var(--icon-size-md);
  width: var(--icon-size-md);
}
.icon[data-icon-size='lg'] {
  height: var(--icon-size-lg);
  width: var(--icon-size-lg);
}
.icon[data-icon-size='xl'] {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
}
.icon[data-icon-size='xxl'] {
  height: var(--icon-size-xxl);
  width: var(--icon-size-xxl);
}
