.Icon {
  --icon-size-xs: calc(var(--unit) * 10);
  --icon-size-sm: calc(var(--unit) * 12);
  --icon-size-md: calc(var(--unit) * 14);
  --icon-size-lg: calc(var(--unit) * 16);
  --icon-size-xl: calc(var(--unit) * 18);

  display: inline-flex;
  width: var(--icon-size, var(--icon-size-xs));
  height: var(--icon-size, var(--icon-size-xs));
}
