@layer reset {
  .v2-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.v2-page {
  width: 100%;
  display: block;
  min-height: calc(100vh - var(--action-box));

  @media (min-width: 60em) {
    width: calc(100% - var(--action-box));
    margin-top: var(--action-box);
    margin-left: var(--action-box);
  }
}
