.popover-target {
  // width: max-content;
  // position: relative;
  // min-width: 0;
}

.popover-floating {
  top: 0;
  left: 0;
  width: max-content;
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  position: absolute;
  // width: auto;
}
