.popover-target {
  min-width: 0;
  width: max-content;
  position: relative;
}

.popover-floating {
  top: 0;
  left: 0;
  width: max-content;
  position: absolute;
  border: solid 2px dodgerblue;
}
