.Radio {
  --radio-padding-x-xs: calc(var(--unit) * 4);
  --radio-padding-x-sm: calc(var(--unit) * 4);
  --radio-padding-x-md: calc(var(--unit) * 6);
  --radio-padding-x-lg: calc(var(--unit) * 6);
  --radio-padding-x-xl: calc(var(--unit) * 8);

  --radio-height-xs: calc(var(--unit) * 18);
  --radio-height-sm: calc(var(--unit) * 20);
  --radio-height-md: calc(var(--unit) * 22);
  --radio-height-lg: calc(var(--unit) * 24);
  --radio-height-xl: calc(var(--unit) * 26);

  height: var(--radio-height, var(--radio-height-xs));
  padding-inline: var(--radio-padding-x, var(--radio-padding-x-xs));
}
