@layer reset {
  .v2-search {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.v2-search {
  display: none;

  @media (min-width: 60em) {
    gap: var(--unit);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    z-index: calc(var(--index-header) + 1);
    font-size: var(--fz-2);
    font-weight: var(--fw-1);
    font-family: var(--ff);
  }
}

.v2-search-input {
  @media (min-width: 60em) {
    height: var(--action-size);
    padding-inline: var(--gutter);
    display: flex;
    min-width: calc(var(--action-box) * 10);
    font-size: var(--fz-2);
    font-weight: var(--fw-2);
    font-family: var(--ff);

    &::placeholder {
      font-size: var(--fz-2);
      font-weight: var(--fw-2);
      font-family: var(--ff);
    }
  }
}

.v2-search-result {
  @media (min-width: 60em) {
    z-index: calc(var(--index-header) - 1);
    display: flex;
    position: absolute;
    min-height: var(--action-box);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--unit);
    padding-top: 0;
    margin-top: var(--unit);
    top: var(--action-size);
    gap: var(--unit);
    right: calc(var(--unit) * -1);
    left: calc(var(--unit) * -1);
  }
}

.v2-search-item {
  @media (min-width: 60em) {
    width: 100%;
    height: var(--action-box);
    display: flex;
    align-items: center;
    justify-content: center;

    .v2-text {
      font-size: var(--fz-2);
      font-weight: var(--fw-2);
      font-family: var(--ff);
    }
  }
}

.v2-search-item-inner {
  @media (min-width: 60em) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.v2-search-item-iconbox {
  @media (min-width: 60em) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--action-size);
    width: var(--action-size);
  }
}

.v2-search-item-copy {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
