@layer reset {
  .v2-search {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.v2-search {
  gap: var(--unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.v2-search-input {
  height: var(--action-size);
  padding-inline: var(--gutter);
  display: flex;
}
