.sec {
  --sec-cols: 24;

  &-root {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(var(--sec-cols), 1fr);
    // outline: solid 2px red;
  }

  // &-header {
  //   grid-column: 2 / 24;
  //   // outline: solid 2px green;
  // }

  // &-content {
  //   grid-column: 2 / 24;
  //   // outline: solid 2px dodgerblue;
  // }
}
