@layer reset {
  .v2-sidebar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.v2-sidebar {
  color: var(--c-primary-text-1);
  background-color: var(--c-primary-1);
  display: none;

  @media (min-width: 60em) {
    width: var(--action-box);
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    top: var(--action-box);

    .v2-action-group {
      padding-top: 0;
    }
  }
}
