.space {
  --space-height-xxs: calc(var(--unit) * 12);
  --space-height-xs: calc(var(--unit) * 18);
  --space-height-sm: calc(var(--unit) * 24);
  --space-height-md: calc(var(--unit) * 30);
  --space-height-lg: calc(var(--unit) * 36);
  --space-height-xl: calc(var(--unit) * 42);
  --space-height-xxl: calc(var(--unit) * 48);

  width: 100%;
  height: var(--space-height);
  display: block;
}
