.Space {
  width: 100%;
  display: block;
  height: var(--space-height);

  &--size-xs {
    --space-height: var(--spacing-7);
  }
  &--size-sm {
    --space-height: var(--spacing-8);
  }
  &--size-md {
    --space-height: var(--spacing-9);
  }
  &--size-lg {
    --space-height: var(--spacing-10);
  }
  &--size-xl {
    --space-height: var(--spacing-11);
  }
}
