.stack {
  --stack-gap-xxs: calc(var(--unit) * 1);
  --stack-gap-xs: calc(var(--unit) * 2);
  --stack-gap-sm: calc(var(--unit) * 4);
  --stack-gap-md: calc(var(--unit) * 8);
  --stack-gap-lg: calc(var(--unit) * 12);
  --stack-gap-xl: calc(var(--unit) * 16);
  --stack-gap-xxl: calc(var(--unit) * 20);

  display: flex;
  flex-direction: column;
  justify-content: var(--stack-justify, flex-start);
  align-items: var(--stack-align, stretch);
  gap: var(--stack-gap);
}
