.Stack {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--stack-gap);

  &--gap-xxs {
    --stack-gap: var(--spacing-1);
  }
  &--gap-xs {
    --stack-gap: var(--spacing-2);
  }
  &--gap-sm {
    --stack-gap: var(--spacing-4);
  }
  &--gap-md {
    --stack-gap: var(--spacing-6);
  }
  &--gap-lg {
    --stack-gap: var(--spacing-8);
  }
  &--gap-xl {
    --stack-gap: var(--spacing-10);
  }
  &--gap-xxl {
    --stack-gap: var(--spacing-12);
  }
}
