.tabs-panel {
  display: block;
}

.tabs-list {
  width: 100%;
  display: flex;
  margin: 2px;
  gap: 2px;

  [data-alignment='start'] {
    justify-content: flex-start;
  }
  [data-alignment='end'] {
    justify-content: flex-end;
  }
}

.tabs-item {
  --tabs-item-height-xs: calc(var(--spacing) * 1);
  --tabs-item-height-sm: calc(var(--spacing) * 1.1);
  --tabs-item-height-md: calc(var(--spacing) * 1.2);
  --tabs-item-height-lg: calc(var(--spacing) * 1.3);
  --tabs-item-height-xl: calc(var(--spacing) * 1.4);

  --tabs-item-padding-x-xs: calc(var(--gap) * 1);
  --tabs-item-padding-x-sm: calc(var(--gap) * 1.5);
  --tabs-item-padding-x-md: calc(var(--gap) * 2);
  --tabs-item-padding-x-lg: calc(var(--gap) * 2.5);
  --tabs-item-padding-x-xl: calc(var(--gap) * 3);

  align-items: center;
  display: inline-flex;
  width: max-content;

  [data-grow] {
    width: 100%;
  }
}
