.Tabs {
  &-item {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    height: var(--tab-height);
    padding-inline: var(--tab-padding-x, var(--spacing-3));
    background-color: rgba(var(--rgb-primary-surface), 0.05);

    outline: solid 2px transparent;

    &:focus:not(:focus:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: rgba(var(--rgb-indigo), 1);
    }

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: rgba(var(--rgb-accent), 0.3);
      bottom: -2px;
      right: -2px;
      left: -2px;
    }
    &:hover {
      background-color: rgba(var(--rgb-primary-surface), 0.08);
    }
    &:hover::after {
      background-color: rgba(var(--rgb-accent), 0.5);
      bottom: -2px;
      height: 3px;
    }

    &--selected:hover {
      background-color: rgba(var(--rgb-primary-surface), 0.08);
    }
    &--selected:hover::after {
      background-color: rgba(var(--rgb-accent), 1);
    }

    &--selected::after {
      background-color: rgba(var(--rgb-accent), 1);
      bottom: -2px;
      height: 3px;
    }

    &--size-xs {
      --tab-height: calc(28px * var(--scale));
      --tab-padding-x: var(--spacing-3);
    }
    &--size-sm {
      --tab-height: calc(36px * var(--scale));
      --tab-padding-x: var(--spacing-4);
    }
    &--size-md {
      --tab-height: calc(44px * var(--scale));
      --tab-padding-x: var(--spacing-5);
    }
    &--size-lg {
      --tab-height: calc(52px * var(--scale));
      --tab-padding-x: var(--spacing-6);
    }
    &--size-xl {
      --tab-height: calc(60px * var(--scale));
      --tab-padding-x: var(--spacing-7);
    }
  }
}

.TabsGroup {
  width: 100%;
  display: flex;
  flex: 0 1 100%;
  gap: calc(var(--unit) * 1);

  &[data-orientation='horizontal'] {
    flex-direction: row;
  }
  &[data-orientation='vertical'] {
    flex-direction: column;
  }
}
