.Tabs {
  &-list {
    display: flex;
    gap: var(--spacing-1);

    &[data-orientation='vertical'] {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &[data-orientation='horizontal'] {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &-item {
    &--size-xs {
    }
    &--size-sm {
    }
    &--size-md {
    }
    &--size-lg {
    }
    &--size-xl {
    }
  }
}
