.tabss {
  --tabs-height-xs: var(--tabs-height-xs);
  --tabs-height-sm: var(--tabs-height-sm);
  --tabs-height-md: var(--tabs-height-md);
  --tabs-height-lg: var(--tabs-height-lg);
  --tabs-height-xl: var(--tabs-height-xl);

  &[data-orientation='vertical'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &[data-orientation='horizontal'] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &-item {
    height: var(--tabs-height, var(--tabs-height-xs));

    &:focus:focus-visible {
      outline: solid 2px hsl(var(--c-surface-indigo));
    }
    &:focus:not(:focus:focus-visible) {
      outline: solid 2px transparent;
    }

    &-size-xs {
      --tabs-height: var(--tabs-height-xs);
    }
    &-size-sm {
      --tabs-height: var(--tabs-height-sm);
    }
    &-size-md {
      --tabs-height: var(--tabs-height-md);
    }
    &-size-lg {
      --tabs-height: var(--tabs-height-lg);
    }
    &-size-xl {
      --tabs-height: var(--tabs-height-xl);
    }
  }
}

// --tabs-height-xs: calc(36px * var(--scale));
// --tabs-height-sm: calc(42px * var(--scale));
// --tabs-height-md: calc(48px * var(--scale));
// --tabs-height-lg: calc(54px * var(--scale));
// --tabs-height-xl: calc(60px * var(--scale));

// --tabs-padding-x-xs: calc(10px * var(--scale));
// --tabs-padding-x-sm: calc(12px * var(--scale));
// --tabs-padding-x-md: calc(16px * var(--scale));
// --tabs-padding-x-lg: calc(18px * var(--scale));
// --tabs-padding-x-xl: calc(20px * var(--scale));

// --tabs-font-size-xs: calc(14px * var(--scale));
// --tabs-font-size-sm: calc(15px * var(--scale));
// --tabs-font-size-md: calc(16px * var(--scale));
// --tabs-font-size-lg: calc(17px * var(--scale));
// --tabs-font-size-xl: calc(18px * var(--scale));

// display: inline-flex;
// align-items: center;
// height: var(--tabs-height, var(--tabs-height-xs));
// padding-inline: var(--tabs-padding-x, var(--tabs-padding-x-xs));
// font-size: var(--tabs-font-size, var(--tabs-font-size-xs));
// line-height: 1;

// &:focus:not(:focus:focus-visible) {
//   outline: solid 2px transparent;
// }
// &:focus:focus-visible {
//   outline: solid 2px hsl(var(--c-surface-indigo));
// }

// &--size-xs {
//   --tabs-height: var(--tabs-height-xs);
//   --tabs-font-size: var(--tabs-font-size-xs);
//   --tabs-padding-x: var(--tabs-padding-x-xs);
// }
// &--size-sm {
//   --tabs-height: var(--tabs-height-sm);
//   --tabs-font-size: var(--tabs-font-size-sm);
//   --tabs-padding-x: var(--tabs-padding-x-sm);
// }
// &--size-md {
//   --tabs-height: var(--tabs-height-md);
//   --tabs-font-size: var(--tabs-font-size-md);
//   --tabs-padding-x: var(--tabs-padding-x-md);
// }
// &--size-lg {
//   --tabs-height: var(--tabs-height-lg);
//   --tabs-font-size: var(--tabs-font-size-lg);
//   --tabs-padding-x: var(--tabs-padding-x-lg);
// }
// &--size-xl {
//   --tabs-height: var(--tabs-height-xl);
//   --tabs-padding-x: var(--tabs-padding-x-xl);
//   --tabs-font-size: var(--tabs-font-size-xl);
// }
