@use '../mixins' as mixins;

.Text {
  --text-size-xs: calc(var(--unit) * 8);
  --text-size-sm: calc(var(--unit) * 10);
  --text-size-md: calc(var(--unit) * 12);
  --text-size-lg: calc(var(--unit) * 14);
  --text-size-xl: calc(var(--unit) * 16);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  line-height: 1.2;
  font-size: var(--text-size, var(--text-size-xs));
  font-weight: var(--text-weight, var(--font-weight-reg));
  color: var(--text-color, rgba(var(--c-secondary), 0.89));

  direction: ltr;
  text-align: left;

  @include mixins.rtl {
    text-align: right;
    direction: rtl;
  }

  &[data-variant='gradient'] {
    background-image: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &[data-truncate='start'] {
    direction: rtl;
    text-align: right;

    @include mixins.rtl {
      direction: ltr;
      text-align: left;
    }
  }

  &[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--text-line-clamp);
    -webkit-box-orient: vertical;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  &[data-truncate] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--size-xs {
    --text-size: var(--text-size-xs);
  }
  &--size-sm {
    --text-size: var(--text-size-sm);
  }
  &--size-md {
    --text-size: var(--text-size-md);
  }
  &--size-lg {
    --text-size: var(--text-size-lg);
  }
  &--size-xl {
    --text-size: var(--text-size-xl);
  }

  &--weight-xlt {
    --text-weight: var(--font-weight-xlt);
  }
  &--weight-lgt {
    --text-weight: var(--font-weight-lgt);
  }
  &--weight-reg {
    --text-weight: var(--font-weight-reg);
  }
  &--weight-med {
    --text-weight: var(--font-weight-med);
  }
  &--weight-bld {
    --text-weight: var(--font-weight-bld);
  }
  &--weight-xbd {
    --text-weight: var(--font-weight-xbd);
  }

  .scheme-primary & {
    &--emp-xlt {
      --text-color: rgba(var(--c-secondary), 0.49);
    }
    &--emp-lgt {
      --text-color: rgba(var(--c-secondary), 0.59);
    }
    &--emp-reg {
      --text-color: rgba(var(--c-secondary), 0.69);
    }
    &--emp-med {
      --text-color: rgba(var(--c-secondary), 0.79);
    }
    &--emp-bld {
      --text-color: rgba(var(--c-secondary), 0.89);
    }
    &--emp-xbd {
      --text-color: rgba(var(--c-secondary), 0.99);
    }
  }

  .scheme-secondary & {
    &--emp-xlt {
      --text-color: rgba(var(--c-primary), 0.49);
    }
    &--emp-lgt {
      --text-color: rgba(var(--c-primary), 0.59);
    }
    &--emp-reg {
      --text-color: rgba(var(--c-primary), 0.69);
    }
    &--emp-med {
      --text-color: rgba(var(--c-primary), 0.79);
    }
    &--emp-bld {
      --text-color: rgba(var(--c-primary), 0.89);
    }
    &--emp-xbd {
      --text-color: rgba(var(--c-primary), 0.99);
    }
  }
}
