@use '../mixins' as mixins;

.Text {
  --text-font-size-xxs: calc(var(--unit) * 6);
  --text-font-size-xs: calc(var(--unit) * 7);
  --text-font-size-sm: calc(var(--unit) * 8);
  --text-font-size-md: calc(var(--unit) * 9);
  --text-font-size-lg: calc(var(--unit) * 10);
  --text-font-size-xl: calc(var(--unit) * 11);
  --text-font-size-xxl: calc(var(--unit) * 12);

  --text-line-height-xxs: 0.8;
  --text-line-height-xs: 0.9;
  --text-line-height-sm: 1;
  --text-line-height-md: 1.1;
  --text-line-height-lg: 1.2;
  --text-line-height-xl: 1.3;
  --text-line-height-xxl: 1.5;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: var(--text-line-height, var(--text-line-height-xs));
  font-weight: var(--text-font-weight, var(--font-weight-reg));
  font-size: var(--text-font-size, var(--text-font-size-xs));

  &[data-variant='gradient'] {
    background-image: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &[data-truncate='start'] {
    direction: rtl;
    text-align: right;

    @include mixins.rtl {
      direction: ltr;
      text-align: left;
    }
  }

  &[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--text-line-clamp);
    -webkit-box-orient: vertical;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  &[data-truncate] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
