.Tile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding-block: calc(var(--unit) * 6);
  padding-inline: calc(var(--unit) * 6);
  outline: solid 2px transparent;
  border: solid 2px transparent;

  &[data-interactive='true'] {
    user-select: none;
  }

  &--scheme-accent {
    background-color: rgba(var(--c-accent), 0.3);
  }
  &--scheme-primary {
    background-color: rgba(var(--c-secondary), 0.04);
  }
  &--scheme-secondary {
    background-color: rgba(var(--c-primary), 0.04);
  }
}

.Tile-group {
  --tile-direction: column;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--unit) * 1);
  flex-direction: var(--tile-direction, column);

  @media (min-width: 60em) {
    &[data-orientation='horizontal'] {
      --tile-direction: row;
    }
  }
}
