.Title {
  --title-font-size-xxs: calc(var(--unit) * 12);
  --title-font-size-xs: calc(var(--unit) * 16);
  --title-font-size-sm: calc(var(--unit) * 20);
  --title-font-size-md: calc(var(--unit) * 24);
  --title-font-size-lg: calc(var(--unit) * 28);
  --title-font-size-xl: calc(var(--unit) * 32);
  --title-font-size-xxl: calc(var(--unit) * 36);

  --title-line-height-xxs: 1;
  --title-line-height-xs: 1.1;
  --title-line-height-sm: 1.2;
  --title-line-height-md: 1.3;
  --title-line-height-lg: 1.4;
  --title-line-height-xl: 1.5;
  --title-line-height-xxl: 1.6;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: var(--title-line-height, var(--line-height-xs));
  font-weight: var(--title-font-weight, var(--font-weight-reg));
  font-size: var(--title-font-size, var(--title-font-size-xs));

  &[data-variant='gradient'] {
    background-image: var(--title-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--title-line-clamp);
    -webkit-box-orient: vertical;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
}
