@use '../mixins' as mixins;

.Title {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  line-height: 1.2;
  font-weight: var(--font-weight-reg);
  text-align: start;

  @include mixins.rtl {
    text-align: end;
  }

  &[data-variant='gradient'] {
    background-image: var(--title-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--title-line-clamp);
    -webkit-box-orient: vertical;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
}
