.Title {
  --title-size-xs: var(--font-size-5);
  --title-size-sm: var(--font-size-6);
  --title-size-md: var(--font-size-7);
  --title-size-lg: var(--font-size-8);
  --title-size-xl: var(--font-size-9);

  --title-size-h6: var(--font-size-4);
  --title-size-h5: var(--font-size-5);
  --title-size-h4: var(--font-size-6);
  --title-size-h3: var(--font-size-7);
  --title-size-h2: var(--font-size-8);
  --title-size-h1: var(--font-size-9);

  --title-height-xs: var(--font-size-6);
  --title-height-sm: var(--font-size-7);
  --title-height-md: var(--font-size-8);
  --title-height-lg: var(--font-size-9);
  --title-height-xl: var(--font-size-10);

  @media (min-width: 20em) {
    --title-size-h6: var(--font-size-5);
    --title-size-h5: var(--font-size-6);
    --title-size-h4: var(--font-size-7);
    --title-size-h3: var(--font-size-8);
    --title-size-h2: var(--font-size-9);
    --title-size-h1: var(--font-size-10);
  }

  @media (min-width: 40em) {
    --title-size-h6: var(--font-size-6);
    --title-size-h5: var(--font-size-7);
    --title-size-h4: var(--font-size-8);
    --title-size-h3: var(--font-size-9);
    --title-size-h2: var(--font-size-10);
    --title-size-h1: var(--font-size-11);
  }

  @media (min-width: 60em) {
    --title-size-h6: var(--font-size-7);
    --title-size-h5: var(--font-size-8);
    --title-size-h4: var(--font-size-9);
    --title-size-h3: var(--font-size-10);
    --title-size-h2: var(--font-size-11);
    --title-size-h1: var(--font-size-12);
  }

  display: block;
  font-size: var(--title-size);
  line-height: var(--title-height);
  text-justify: var(--title-justify);
  text-align: var(--title-align);

  &--h6 {
    --title-size: var(--title-size-h6);
  }
  &--h5 {
    --title-size: var(--title-size-h5);
  }
  &--h4 {
    --title-size: var(--title-size-h4);
  }
  &--h3 {
    --title-size: var(--title-size-h3);
  }
  &--h2 {
    --title-size: var(--title-size-h2);
  }
  &--h1 {
    --title-size: var(--title-size-h1);
  }

  &--size-xs {
    --title-size: var(--title-size-xs);
    --title-height: var(--title-height-xs);
  }
  &--size-sm {
    --title-size: var(--title-size-sm);
    --title-height: var(--title-height-sm);
  }
  &--size-md {
    --title-size: var(--title-size-md);
    --title-height: var(--title-height-md);
  }
  &--size-lg {
    --title-size: var(--title-size-lg);
    --title-height: var(--title-height-lg);
  }
  &--size-xl {
    --title-size: var(--title-size-xl);
    --title-height: var(--title-height-xl);
  }

  &--align-center {
    --title-align: center;
  }
  &--align-start {
    --title-align: flex-start;
  }
  &--align-end {
    --title-align: flex-end;
  }

  &--justify-center {
    --title-justify: center;
  }
  &--justify-start {
    --title-justify: flex-start;
  }
  &--justify-end {
    --title-justify: flex-end;
  }
}
