.Title {
  width: 100%;
  flex: 0 1 100%;
  // display: inline-flex;
  text-align: start;
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: var(--title-lead);

  &--level-h1 {
    --title-size: var(--h1-font-size);
    --title-lead: var(--h1-line-height);
  }
  &--level-h2 {
    --title-size: var(--h2-font-size);
    --title-lead: var(--h2-line-height);
  }
  &--level-h3 {
    --title-size: var(--h3-font-size);
    --title-lead: var(--h3-line-height);
  }
  &--level-h4 {
    --title-size: var(--h4-font-size);
    --title-lead: var(--h4-line-height);
  }
  &--level-h5 {
    --title-size: var(--h5-font-size);
    --title-lead: var(--h5-line-height);
  }
  &--level-h6 {
    --title-size: var(--h6-font-size);
    --title-lead: var(--h6-line-height);
  }

  &--size-xxs {
    --title-size: var(--title-size-xxs);
  }
  &--size-xs {
    --title-size: var(--title-size-xs);
  }
  &--size-sm {
    --title-size: var(--title-size-sm);
  }
  &--size-md {
    --title-size: var(--title-size-md);
  }
  &--size-lg {
    --title-size: var(--title-size-lg);
  }
  &--size-xl {
    --title-size: var(--title-size-xl);
  }
  &--size-xxl {
    --title-size: var(--title-size-xxl);
  }

  &--lead-xxs {
    --title-lead: var(--title-lead-xxs);
  }
  &--lead-xs {
    --title-lead: var(--title-lead-xs);
  }
  &--lead-sm {
    --title-lead: var(--title-lead-sm);
  }
  &--lead-md {
    --title-lead: var(--title-lead-md);
  }
  &--lead-lg {
    --title-lead: var(--title-lead-lg);
  }
  &--lead-xl {
    --title-lead: var(--title-lead-xl);
  }
  &--lead-xxl {
    --title-lead: var(--title-lead-xxl);
  }

  &--scheme-accent-max {
    color: rgba(var(--rgb-accent), 0.87);
  }
  &--scheme-accent-high {
    color: rgba(var(--rgb-accent), 0.87);
  }
  &--scheme-accent-med {
    color: rgba(var(--rgb-accent), 0.67);
  }
  &--scheme-accent-low {
    color: rgba(var(--rgb-accent), 0.47);
  }
}
