.ToolButton {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: solid 2px transparent;
  border: solid 2px transparent;

  svg {
    width: 80%;
    height: 80%;
  }

  &:not([data-disabled]),
  &:not([data-loading]) {
    cursor: pointer;
  }
  &[data-disabled] {
    cursor: not-allowed;
  }
  &[data-loading] {
    cursor: progress;
  }

  &:focus:not(:focus:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: rgba(var(--c-blue), 0.87);
  }
}
