@use '../../mixins' as mixins;

.page {
  &-hero,
  &-layout,
  &-content {
    @include mixins.reset;
  }

  &-layout {
    display: block;
    z-index: var(--site-index-page);
    isolation: isolate;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-hero {
    margin-top: var(--site-height-header);
    height: var(--site-height-hero);
    z-index: var(--site-index-hero);
    isolation: isolate;
    overflow-x: hidden;
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;

    @media (min-width: 60em) {
      margin-left: var(--site-height-header);
    }
  }

  &-content {
    margin-top: calc(var(--site-height-header) + var(--site-height-hero));
    display: block;
    position: relative;
    isolation: isolate;

    @media (min-width: 60em) {
      margin-left: var(--site-height-header);
    }
  }
}
