@use '../../mixins' as mixins;

@layer reset {
  .page {
    @include mixins.reset;
    &-hero,
    &-content {
      @include mixins.reset;
    }
  }
}

.page {
  display: block;
  z-index: var(--index-page);
  isolation: isolate;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  &-hero {
    margin-top: var(--height-header);
    height: var(--height-hero);
    z-index: var(--index-hero);
    isolation: isolate;
    overflow-x: hidden;
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;

    @media (min-width: 60em) {
      margin-left: var(--height-header);
    }
  }

  &-content {
    margin-top: calc(var(--height-header) + var(--height-hero));
    display: block;
    position: relative;
    isolation: isolate;

    @media (min-width: 60em) {
      margin-left: var(--height-header);
    }
  }
}
