@use '../mixins' as mixins;

@layer reset {
  .icon {
    @include mixins.reset;
    svg {
      @include mixins.reset;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);

  svg {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
  }

  &--size-md {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
  &--size-lg {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }
}
