@use '../mixins' as mixins;

[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  [data-gradient] {
    background: linear-gradient(
      var(--c-gradient-direction),
      var(--c-gradient-start) 0%,
      var(--c-gradient-middle) 50%,
      var(--c-gradient-end) 100%
    );
  }

  [data-gradient$='top'] {
    --c-gradient-direction: to top;
  }
  [data-gradient$='left'] {
    --c-gradient-direction: to left;
  }
  [data-gradient$='right'] {
    --c-gradient-direction: to right;
  }
  [data-gradient$='bottom'] {
    --c-gradient-direction: to bottom;
  }
  [data-gradient$='top-left'] {
    --c-gradient-direction: to top left;
  }
  [data-gradient$='top-right'] {
    --c-gradient-direction: to top right;
  }
  [data-gradient$='bottom-left'] {
    --c-gradient-direction: to bottom left;
  }
  [data-gradient$='bottom-right'] {
    --c-gradient-direction: to bottom right;
  }
}

[data-prefers-mode='dim'] {
  [data-gradient^='accent'] {
    --c-gradient-start: var(--c-accent-950);
    --c-gradient-middle: var(--c-accent-950);
    --c-gradient-end: var(--c-accent-900);
  }
  [data-gradient='accent-hero-upper'] {
    --c-gradient-direction: 325deg;
    --c-gradient-start: var(--c-accent-500-A3);
    --c-gradient-middle: var(--c-accent-500-A3);
    --c-gradient-end: var(--c-accent-500-A5);
  }
  [data-gradient='accent-hero-lower'] {
    --c-gradient-direction: 35deg;
    --c-gradient-start: var(--c-accent-500-A3);
    --c-gradient-middle: var(--c-accent-500-A3);
    --c-gradient-end: var(--c-accent-500-A5);
  }
}

[data-prefers-mode='dark'] {
  [data-gradient^='accent'] {
    --c-gradient-start: var(--c-accent-950);
    --c-gradient-middle: var(--c-accent-950);
    --c-gradient-end: var(--c-accent-900);
  }
  [data-gradient='accent-hero-upper'] {
    --c-gradient-direction: 325deg;
    --c-gradient-start: var(--c-accent-500-A3);
    --c-gradient-middle: var(--c-accent-500-A3);
    --c-gradient-end: var(--c-accent-500-A5);
  }
  [data-gradient='accent-hero-lower'] {
    --c-gradient-direction: 35deg;
    --c-gradient-start: var(--c-accent-500-A3);
    --c-gradient-middle: var(--c-accent-500-A3);
    --c-gradient-end: var(--c-accent-500-A5);
  }
}

[data-prefers-mode='light'] {
  [data-gradient^='accent'] {
    --c-gradient-start: var(--c-accent-300);
    --c-gradient-middle: var(--c-accent-400);
    --c-gradient-end: var(--c-accent-400);
  }
  [data-gradient='accent-hero-upper'] {
    --c-gradient-direction: 325deg;
    --c-gradient-start: var(--c-accent-500-A3);
    --c-gradient-middle: var(--c-accent-500-A3);
    --c-gradient-end: var(--c-accent-500-A5);
  }
  [data-gradient='accent-hero-lower'] {
    --c-gradient-direction: 35deg;
    --c-gradient-start: var(--c-accent-500-A3);
    --c-gradient-middle: var(--c-accent-500-A3);
    --c-gradient-end: var(--c-accent-500-A5);
  }
}
