@use '../mixins' as mixins;

[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  [data-gradient] {
    background: linear-gradient(
      to var(--c-gradient-direction),
      var(--c-gradient-start) 0%,
      var(--c-gradient-middle) 50%,
      var(--c-gradient-end) 100%
    );
  }

  [data-gradient$='top'] {
    --c-gradient-direction: top;
  }
  [data-gradient$='left'] {
    --c-gradient-direction: left;
  }
  [data-gradient$='right'] {
    --c-gradient-direction: right;
  }
  [data-gradient$='bottom'] {
    --c-gradient-direction: bottom;
  }
  [data-gradient$='top-left'] {
    --c-gradient-direction: top left;
  }
  [data-gradient$='top-right'] {
    --c-gradient-direction: top right;
  }
  [data-gradient$='bottom-left'] {
    --c-gradient-direction: bottom left;
  }
  [data-gradient$='bottom-right'] {
    --c-gradient-direction: bottom right;
  }
}

[data-prefers-mode='dim'] {
  @include mixins.transition-colors-static;

  [data-gradient^='accent'] {
    --c-gradient-start: var(--c-accent-950-A3);
    --c-gradient-middle: var(--c-accent-950-A3);
    --c-gradient-end: var(--c-accent-900-A3);
  }
}

[data-prefers-mode='dark'] {
  [data-gradient^='accent'] {
    --c-gradient-start: var(--c-accent-950-A3);
    --c-gradient-middle: var(--c-accent-900-A3);
    --c-gradient-end: var(--c-accent-800-A3);
  }
}

[data-prefers-mode='light'] {
  [data-gradient^='accent'] {
    --c-gradient-start: var(--c-accent-500-A5);
    --c-gradient-middle: var(--c-accent-500-A5);
    --c-gradient-end: var(--c-accent-600-A5);
  }
}
