.v2-demo-root {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
}

.v2-demo-box-accordion {
  display: block;
  width: 600px;
}

.v2-demo-box-button {
  display: block;
}

.v2-demo-box-control {
  display: block;
}

.v2-demo-box-disclosure {
  display: block;
}

.v2-demo-box-floating {
  display: block;
}

.v2-demo-box-section {
  display: block;
}

.v2-demo-box-tabs {
  display: block;
}
