.v2-demo {
  display: block;

  &-directory-layout {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);

    gap: var(--v2-01);
    margin-block: var(--v2-gutter);
    padding-inline: var(--v2-gutter);

    @media (min-width: 50em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 60em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 80em) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-directory-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .v2-title {
      font-size: var(--v2-font-size-01);
    }
    .v2-text {
      margin-top: calc(var(--v2-gutter) / 3);
    }
  }

  &-directory-card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-directory-card-body {
    padding-block: var(--v2-08);
    padding-inline: var(--v2-06);
  }

  &-directory-card svg {
    flex: 1;
  }
}
