.v2-overview {
  &-hero-title {
    display: block;
    max-width: 80%;
  }

  &-hero-title-line-1,
  &-hero-title-line-2 {
    display: block;
  }

  &-stats-layout {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);

    [data-prefers-dir='rtl'] & {
      justify-self: end;
    }
  }

  &-stats-card-group {
    gap: var(--v2-gutter);
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  &-stats-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: var(--v2-gutter);
    margin-top: calc(var(--v2-gutter) * 2.5);
    gap: calc(var(--v2-gutter) / 2);
  }

  &-stats-card-value {
    display: block;
  }

  &-stats-card-title {
    display: block;
  }

  &-stats-card-text {
    display: block;
  }

  &-experience-banner .v2-button-layout {
    justify-content: space-between;
  }

  &-experience-layout {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }

  &-experience-banner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline: var(--v2-gutter);
    padding-block: calc(var(--v2-gutter) * 3);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }
  }

  &-experience-banner-title {
    display: block;
  }

  &-experience-banner-title-line-1,
  &-experience-banner-title-line-2 {
    display: block;
  }

  &-experience-banner .v2-button {
    width: 100%;
    max-width: 600px;
    margin-top: var(--v2-08);
  }

  &-experience-list {
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--v2-01);
  }

  &-experience-list-item-location {
    display: block;
  }

  &-experience-list-item-text {
    display: block;
  }

  &-experience-list-item-title {
    display: block;
  }

  &-experience-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    gap: var(--v2-04);
    padding-inline: var(--v2-gutter);
    padding-block: calc(var(--v2-gutter) * 2);
  }

  &-brands-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);

    gap: var(--v2-gap-xxs);
  }

  &-brands-banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    gap: calc(var(--v2-gutter) / 1.5);
    margin-inline: var(--v2-gutter);
    padding-block: calc(var(--v2-gutter) * 2);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }
  }

  &-brands-banner .v2-text,
  &-brands-banner .v2-title {
    width: 100%;
    display: block;
    max-width: 800px;
  }

  &-brands-banner .v2-title {
    display: block;
  }

  &-brands-banner .v2-text {
    display: block;
  }

  &-brands-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
  }

  &-brands-item .v2-company-logo {
    width: 128px;
  }
}

@media (min-width: 60em) {
  .v2-overview {
    &-brands-layout {
      grid-template-columns: repeat(3, 1fr);
    }
    &-experience-banner {
      padding-block: calc(var(--v2-gutter) * 1.5);
    }
    &-experience-list-item {
      padding-block: calc(var(--v2-gutter) * 1.5);
    }
  }
}

@media (min-width: 70em) {
  .v2-overview {
    &-stats-layout {
      grid-template-columns: repeat(2, 1fr);
    }
    &-experience-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 80em) {
  .v2-overview {
    &-stats-layout {
      grid-template-columns: repeat(2, 1fr);
    }
    &-brands-layout {
      grid-template-columns: repeat(4, 1fr);
    }
    &-brands-banner {
      padding-block: calc(var(--v2-gutter) * 2);
    }
    &-experience-banner {
      padding-block: calc(var(--v2-gutter) * 2);
    }
    &-experience-list-item {
      padding-block: calc(var(--v2-gutter) * 2);
    }
  }
}
