.v2-stack-table-head,
.v2-stack-table-body,
.v2-stack-table-layout,
.v2-stack-table-head-row,
.v2-stack-table-body-row,
.v2-stack-table-head-cell,
.v2-stack-table-body-cell {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.v2-stack-table {
  width: 100%;
  display: block;
  max-width: 100em;

  &-layout {
    width: 100%;
    border: none;
    display: block;
    border-collapse: collapse;
  }

  &-head,
  &-body {
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--v2-01);
  }

  &-head-row,
  &-body-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    min-height: var(--v2-action);
    gap: var(--v2-01);

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-head-row {
    border-bottom: solid var(--v2-01) transparent;
  }

  &-head-cell,
  &-body-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: var(--v2-action);
    padding-inline: var(--v2-04);

    direction: ltr;
    text-align: left;

    [data-prefers-dir='rtl'] & {
      text-align: right;
      direction: rtl;
    }

    &:where([data-truncate]) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:where([data-truncate='start']) {
      direction: rtl;
      text-align: right;

      [data-prefers-dir='rtl'] & {
        direction: ltr;
        text-align: left;
      }
    }

    &:not([data-table-column='type']) {
      span {
        width: 100%;
        direction: ltr;
        text-align: left;

        [data-prefers-dir='rtl'] & {
          text-align: right;
          direction: rtl;
        }
      }
    }
  }

  &-head-cell {
    width: 100%;
    flex-grow: 1;
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-med);
    line-height: var(--v2-line-height-sm);
    font-family: var(--v2-font-family);

    .v2-icon {
      height: var(--v2-font-size-03);
      width: var(--v2-font-size-03);
    }
  }

  &-head-cell[data-table-control] {
    justify-content: space-between;
  }

  &-body-cell {
    width: 100%;
    flex-grow: 1;
    font-size: var(--v2-font-size-03);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-sm);
    font-family: var(--v2-font-family);
  }

  &-body-cell[data-table-column='type'] {
    span {
      padding-block: var(--v2-01);
      padding-inline: var(--v2-03);
      border: solid 1px currentColor;
      border-radius: 4px;
      font-size: var(--v2-font-size-01);
      font-family: var(--v2-font-family);
      line-height: var(--v2-line-height-md);
      letter-spacing: 0.24px;
    }
  }

  &-head-cell[data-table-column='type'],
  &-body-cell[data-table-column='type'] {
    width: 40%;

    @media (min-width: 60em) {
      width: 15%;
    }
  }

  &-head-cell[data-table-column='name'],
  &-body-cell[data-table-column='name'] {
    width: 40%;

    @media (min-width: 60em) {
      width: 15%;
    }
  }

  &-head-cell[data-table-column='desc'],
  &-body-cell[data-table-column='desc'] {
    display: none;

    @media (min-width: 60em) {
      display: flex;
      width: 60%;
    }
  }

  &-head-cell[data-table-column='docs'],
  &-body-cell[data-table-column='docs'] {
    width: 20%;

    @media (min-width: 60em) {
      width: 10%;
    }
  }
}
