@use '../utils' as utils;

.v2-demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.v2-demo-toolbar {
  width: 100%;
  padding-block: var(--v2-unit);
}

.v2-demo-tool-drawer {
  padding: var(--v2-unit);
}

.v2-demo-tool-accent-drawer {
  width: calc(calc(var(--v2-action-button) * 6) + calc(var(--v2-unit) * 7));
  height: calc(calc(var(--v2-action-button) * 2) + calc(var(--v2-unit) * 3));
}

.v2-demo-canvas {
  @include utils.reset;

  width: 100%;
  z-index: 0;
  display: block;
  padding: var(--v2-space);
  position: relative;
  isolation: isolate;
  min-height: 600px;
}

.v2-demo-canvas-container {
  @include utils.reset;

  width: 100%;
  display: grid;
  position: absolute;
  margin-block: auto;
  place-items: center;
  padding-inline: var(--v2-gutter);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.v2-demo-controls {
  @include utils.reset;

  z-index: 1;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.v2-demo-controls-target {
  @include utils.reset;
}

.v2-demo-controls-layout {
  @include utils.reset;

  width: 360px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-style: solid;
  border-color: transparent;
  border-width: var(--v2-unit);
  padding: var(--v2-space);

  .v2-switch {
    width: 100%;
  }
}

.v2-demo-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: var(--v2-space);
  gap: calc(var(--v2-space) / 2);
}

.v2-sandbox-accordion {
  max-width: 60em;

  .v2-accordion-panel .v2-text {
    padding: var(--v2-gutter);
  }
}
