@use '../utils' as utils;

.v2-demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 80em;
  margin-inline: var(--v2-gutter);
}

.v2-demo-toolbar {
  width: 100%;
  padding-block: var(--v2-unit);

  [data-prefers-dir='rtl'] & {
    flex-direction: row-reverse;
  }
}

.v2-demo-tool-drawer {
  padding: var(--v2-unit);
}

.v2-demo-tool-accent-drawer {
  width: calc(calc(var(--v2-action-button) * 6) + calc(var(--v2-unit) * 7));
  height: calc(calc(var(--v2-action-button) * 2) + calc(var(--v2-unit) * 3));
}

.v2-demo-canvas {
  @include utils.reset;

  width: 100%;
  display: block;
  padding: var(--v2-space);
  position: relative;
  min-height: 600px;
  z-index: 1;
}

.v2-demo-canvas-container {
  @include utils.reset;

  width: 100%;
  display: grid;
  position: absolute;
  margin-block: auto;
  place-items: center;
  padding-inline: var(--v2-gutter);
  transform: translate(-50%, -40%);
  left: 50%;
  top: 40%;
}

.v2-demo-controls {
  @include utils.reset;

  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.v2-demo-controls-target {
  @include utils.reset;
}

.v2-demo-controls-layout {
  @include utils.reset;

  width: 360px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-style: solid;
  border-color: transparent;
  border-width: var(--v2-unit);
  padding: var(--v2-gutter);
  gap: calc(var(--v2-gutter) / 1.5);

  .v2-switch {
    width: 100%;
    padding-inline: calc(var(--v2-switch-spacing-x) * 0);
  }
}

.v2-demo-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(var(--v2-gutter) / 2);
}

.v2-demo-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(var(--v2-gutter) / 2);
}

@media (min-width: 80em) {
  .v2-demo-toolbar {
    padding-inline: var(--v2-unit);
  }
}
