.v2-headline {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-inline: var(--v2-gutter);
}

.v2-headline-layout {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  margin-block: calc(var(--v2-space) * 4);
  padding-bottom: calc(var(--v2-space) / 2);
  flex-direction: row;

  [data-prefers-dir='rtl'] & {
    flex-direction: row-reverse;
  }

  &::after {
    content: '';
    height: var(--v2-unit);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.v2-headline-anchor {
  visibility: hidden;
}

.v2-headline-title {
  text-align: right;
  font-size: var(--v2-font-size-05);
  font-weight: var(--v2-font-weight-medium);
  font-family: var(--v2-font-family);
  line-height: var(--v2-line-height-02);

  [data-prefers-dir='rtl'] & {
    text-align: left;
  }
}

.v2-headline-order {
  text-align: left;
  font-size: var(--v2-font-size-10);
  font-weight: var(--v2-font-weight-black);
  font-family: var(--v2-font-family);
  line-height: var(--v2-line-height-01);

  [data-prefers-dir='rtl'] & {
    text-align: right;
  }
}

@media (min-width: 80em) {
  .v2-headline {
    [data-prefers-dir='rtl'] & {
      justify-content: flex-end;
    }
  }
}
