.v2-hero {
  width: 100%;
  display: block;
}

.v2-hero-layout {
  height: calc(var(--v2-gutter) * 18);
  max-width: 80em;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  margin-inline: auto;
  padding: var(--v2-gutter);

  [data-prefers-dir='ltr'] & {
    align-items: flex-start;
  }

  [data-prefers-dir='rtl'] & {
    align-items: flex-end;
  }
}

.v2-hero-layout .v2-title {
  width: 100%;
  display: block;
  font-size: var(--v2-font-size-08);
  line-height: var(--v2-line-height-01);
}

@media (min-width: 40em) {
  .v2-hero-layout {
    height: calc(var(--v2-space) * 18);
  }
}

@media (min-width: 50em) {
  .v2-hero-layout {
    height: calc(var(--v2-space) * 18);
  }
}

@media (min-width: 60em) {
  .v2-hero-layout {
    height: calc(var(--v2-space) * 18);
  }
}

@media (min-width: 80em) {
  .v2-hero-layout {
    height: calc(var(--v2-space) * 18);
  }
}

@media (min-width: 100em) {
  .v2-hero-layout {
    height: calc(var(--v2-space) * 16);
  }
}
