.v2-hero {
  width: 100%;
  display: block;
}

.v2-hero-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(var(--v2-gutter) * 20);
  margin-inline: var(--v2-gutter);
  padding-block: var(--v2-gutter);

  [data-prefers-dir='ltr'] & {
    align-items: flex-start;
  }

  [data-prefers-dir='rtl'] & {
    align-items: flex-end;
  }
}

.v2-hero-layout .v2-title {
  font-size: var(--v2-font-size-08);
  line-height: var(--v2-line-height-01);
}

@media (min-width: 40em) {
  .v2-hero-layout {
    height: calc(var(--v2-gutter) * 20);
  }
}

@media (min-width: 50em) {
  .v2-hero-layout {
    height: calc(var(--v2-gutter) * 16);
  }
}

@media (min-width: 60em) {
  .v2-hero-layout {
    height: calc(var(--v2-gutter) * 12);
  }
}
