@use '../../mixins' as mixins;

@include mixins.theme-mode('dark') {
  --c-base: hsl(230, 1%, 10%);
  --c-text: hsla(230, 1%, 99%, 0.87);

  @include mixins.scheme('primary') {
    --c-base: hsl(230, 1%, 10%);
    --c-text: hsla(230, 1%, 99%, 0.87);
  }

  @include mixins.scheme('secondary') {
    --c-base: hsl(230, 1%, 96%);
    --c-text: hsla(230, 1%, 1%, 0.87);
  }
}
