@layer token-colors {
  [data-prefers-color-scheme='dim'],
  [data-prefers-color-scheme='dark'],
  [data-prefers-color-scheme='light'] {
    --v2-hsl-neutral-SS: 0, 0%;

    --v2-hsl-neutral-00: var(--v2-hsl-neutral), 01%;
    --v2-hsl-neutral-01: var(--v2-hsl-neutral), 04%;
    --v2-hsl-neutral-02: var(--v2-hsl-neutral), 08%;
    --v2-hsl-neutral-03: var(--v2-hsl-neutral), 12%;
    --v2-hsl-neutral-04: var(--v2-hsl-neutral), 16%;
    --v2-hsl-neutral-05: var(--v2-hsl-neutral), 20%;
    --v2-hsl-neutral-06: var(--v2-hsl-neutral), 24%;
    --v2-hsl-neutral-07: var(--v2-hsl-neutral), 28%;
    --v2-hsl-neutral-08: var(--v2-hsl-neutral), 32%;
    --v2-hsl-neutral-09: var(--v2-hsl-neutral), 36%;
    --v2-hsl-neutral-10: var(--v2-hsl-neutral), 40%;
    --v2-hsl-neutral-11: var(--v2-hsl-neutral), 44%;
    --v2-hsl-neutral-12: var(--v2-hsl-neutral), 48%;
    --v2-hsl-neutral-13: var(--v2-hsl-neutral), 52%;
    --v2-hsl-neutral-14: var(--v2-hsl-neutral), 56%;
    --v2-hsl-neutral-15: var(--v2-hsl-neutral), 60%;
    --v2-hsl-neutral-16: var(--v2-hsl-neutral), 64%;
    --v2-hsl-neutral-17: var(--v2-hsl-neutral), 68%;
    --v2-hsl-neutral-18: var(--v2-hsl-neutral), 72%;
    --v2-hsl-neutral-19: var(--v2-hsl-neutral), 76%;
    --v2-hsl-neutral-20: var(--v2-hsl-neutral), 80%;
    --v2-hsl-neutral-21: var(--v2-hsl-neutral), 84%;
    --v2-hsl-neutral-22: var(--v2-hsl-neutral), 88%;
    --v2-hsl-neutral-23: var(--v2-hsl-neutral), 92%;
    --v2-hsl-neutral-24: var(--v2-hsl-neutral), 96%;
    --v2-hsl-neutral-25: var(--v2-hsl-neutral), 99%;

    --v2-color-neutral-00: var(--v2-hsl-neutral-00);
    --v2-color-neutral-01: var(--v2-hsl-neutral-01);
    --v2-color-neutral-02: var(--v2-hsl-neutral-02);
    --v2-color-neutral-03: var(--v2-hsl-neutral-03);
    --v2-color-neutral-04: var(--v2-hsl-neutral-04);
    --v2-color-neutral-05: var(--v2-hsl-neutral-05);
    --v2-color-neutral-06: var(--v2-hsl-neutral-06);
    --v2-color-neutral-07: var(--v2-hsl-neutral-07);
    --v2-color-neutral-08: var(--v2-hsl-neutral-08);
    --v2-color-neutral-09: var(--v2-hsl-neutral-09);
    --v2-color-neutral-10: var(--v2-hsl-neutral-10);
    --v2-color-neutral-11: var(--v2-hsl-neutral-11);
    --v2-color-neutral-12: var(--v2-hsl-neutral-12);
    --v2-color-neutral-13: var(--v2-hsl-neutral-13);
    --v2-color-neutral-14: var(--v2-hsl-neutral-14);
    --v2-color-neutral-15: var(--v2-hsl-neutral-15);
    --v2-color-neutral-16: var(--v2-hsl-neutral-16);
    --v2-color-neutral-17: var(--v2-hsl-neutral-17);
    --v2-color-neutral-18: var(--v2-hsl-neutral-18);
    --v2-color-neutral-19: var(--v2-hsl-neutral-19);
    --v2-color-neutral-20: var(--v2-hsl-neutral-20);
    --v2-color-neutral-21: var(--v2-hsl-neutral-21);
    --v2-color-neutral-22: var(--v2-hsl-neutral-22);
    --v2-color-neutral-23: var(--v2-hsl-neutral-23);
    --v2-color-neutral-24: var(--v2-hsl-neutral-24);
    --v2-color-neutral-25: var(--v2-hsl-neutral-25);
  }
}
