$dir: ('ltr', 'rtl');

$mode: ('dark', 'dim', 'light');

$color: ('yellow', 'blue', 'cyan', 'green', 'grey', 'magenta', 'orange', 'purple', 'red', 'slate', 'stone', 'teal');

$accent: ('yellow', 'blue', 'cyan', 'green', 'grey', 'magenta', 'orange', 'purple', 'red', 'slate', 'stone', 'teal');