@use '../../mixins' as mixins;

.site {
  &-layout {
    @include mixins.reset;
    display: block;
    z-index: var(--site-index-layout);
    position: relative;
    isolation: isolate;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    max-width: 100%;
  }
}
