@layer theme-tokens {
  [data-prefers-color-mode='dark'] {
    --v2-color-focus: hsl(220, 100%, 56%);

    --v2-color-text-0: hsla(var(--v2-hue-grey), 99%, 0.99);
    --v2-color-text-1: hsla(var(--v2-hue-grey), 99%, 0.87);
    --v2-color-text-2: hsla(var(--v2-hue-grey), 99%, 0.65);
    --v2-color-text-3: hsla(var(--v2-hue-grey), 99%, 0.43);

    --v2-color-label-0: hsla(var(--v2-hue-grey), 99%, 0.99);
    --v2-color-label-1: hsla(var(--v2-hue-grey), 99%, 0.87);
    --v2-color-label-2: hsla(var(--v2-hue-grey), 99%, 0.65);
    --v2-color-label-3: hsla(var(--v2-hue-grey), 99%, 0.43);

    --v2-color-background-0: hsl(var(--v2-hue-grey), 07%);
    --v2-color-background-1: hsl(var(--v2-hue-grey), 10%);
    --v2-color-background-2: hsl(var(--v2-hue-grey), 13%);
    --v2-color-background-3: hsl(var(--v2-hue-grey), 16%);
    --v2-color-background-4: hsl(var(--v2-hue-grey), 19%);

    --v2-color-background-0-hovered: hsl(var(--v2-hue-grey), 10%);
    --v2-color-background-1-hovered: hsl(var(--v2-hue-grey), 13%);
    --v2-color-background-2-hovered: hsl(var(--v2-hue-grey), 16%);
    --v2-color-background-3-hovered: hsl(var(--v2-hue-grey), 19%);
    --v2-color-background-4-hovered: hsl(var(--v2-hue-grey), 22%);

    --v2-color-background-0-pressed: hsl(var(--v2-hue-grey), 12%);
    --v2-color-background-1-pressed: hsl(var(--v2-hue-grey), 15%);
    --v2-color-background-2-pressed: hsl(var(--v2-hue-grey), 18%);
    --v2-color-background-3-pressed: hsl(var(--v2-hue-grey), 21%);
    --v2-color-background-4-pressed: hsl(var(--v2-hue-grey), 24%);

    --v2-color-button-0-enabled: hsl(var(--v2-hue-grey), 10%);
    --v2-color-button-1-enabled: hsl(var(--v2-hue-grey), 13%);
    --v2-color-button-2-enabled: hsl(var(--v2-hue-grey), 16%);
    --v2-color-button-3-enabled: hsl(var(--v2-hue-grey), 19%);
    --v2-color-button-4-enabled: hsl(var(--v2-hue-grey), 22%);

    --v2-color-button-0-hovered: hsl(var(--v2-hue-grey), 12%);
    --v2-color-button-1-hovered: hsl(var(--v2-hue-grey), 15%);
    --v2-color-button-2-hovered: hsl(var(--v2-hue-grey), 18%);
    --v2-color-button-3-hovered: hsl(var(--v2-hue-grey), 21%);
    --v2-color-button-4-hovered: hsl(var(--v2-hue-grey), 24%);

    --v2-color-button-0-pressed: hsl(var(--v2-hue-grey), 14%);
    --v2-color-button-1-pressed: hsl(var(--v2-hue-grey), 17%);
    --v2-color-button-2-pressed: hsl(var(--v2-hue-grey), 20%);
    --v2-color-button-3-pressed: hsl(var(--v2-hue-grey), 23%);
    --v2-color-button-4-pressed: hsl(var(--v2-hue-grey), 26%);

    [data-container-scheme='secondary'] {
    }
  }
}
