[data-prefers-color-mode='dim'] {
  --v2-color-focus: hsl(220, 100%, 56%);

  --v2-hsl-base: var(--v2-hue-slate), 12%;
  --v2-hsl-surface: var(--v2-hue-slate), 99%;

  [data-container-scheme='secondary'] {
    --v2-hsl-base: var(--v2-hue-slate), 99%;
    --v2-hsl-surface: var(--v2-hue-slate), 12%;
  }
}
