@layer token-colors {
  [data-prefers-color-mode='light'] {
    --v2-color-text-0: var(--v2-color-grey-950);
    --v2-color-text-1: var(--v2-color-grey-850);
    --v2-color-text-2: var(--v2-color-grey-750);
    --v2-color-text-3: var(--v2-color-grey-650);
    --v2-color-text-4: var(--v2-color-grey-550);

    --v2-color-background-0: var(--v2-color-grey-50);
    --v2-color-background-1: var(--v2-color-grey-100);
    --v2-color-background-2: var(--v2-color-grey-50);
    --v2-color-background-3: var(--v2-color-grey-150);
    --v2-color-background-4: var(--v2-color-grey-50);

    --v2-color-background-0-hover: var(--v2-color-grey-100);
    --v2-color-background-1-hover: var(--v2-color-grey-150);
    --v2-color-background-2-hover: var(--v2-color-grey-100);
    --v2-color-background-3-hover: var(--v2-color-grey-200);
    --v2-color-background-4-hover: var(--v2-color-grey-100);

    [data-container-scheme='secondary'] {
      --v2-color-text-0: var(--v2-color-grey-50);
      --v2-color-text-1: var(--v2-color-grey-150);
      --v2-color-text-2: var(--v2-color-grey-250);
      --v2-color-text-3: var(--v2-color-grey-350);
      --v2-color-text-4: var(--v2-color-grey-450);

      --v2-color-background-0: var(--v2-color-grey-950);
      --v2-color-background-1: var(--v2-color-grey-900);
      --v2-color-background-2: var(--v2-color-grey-800);
      --v2-color-background-3: var(--v2-color-grey-700);
      --v2-color-background-4: var(--v2-color-grey-600);

      --v2-color-background-0-hover: var(--v2-color-grey-900);
      --v2-color-background-1-hover: var(--v2-color-grey-850);
      --v2-color-background-2-hover: var(--v2-color-grey-750);
      --v2-color-background-3-hover: var(--v2-color-grey-650);
      --v2-color-background-4-hover: var(--v2-color-grey-550);
    }
  }
}
