html,
body {
  background-color: rgba(var(--c-rgb-base), 1);
  color: rgba(var(--c-rgb-contrast), 0.87);
}

svg {
  fill: rgba(var(--c-rgb-contrast), 0.87);
}

.v2-app-header {
  background-color: rgba(var(--c-rgb-base), 1);
  color: rgba(var(--c-rgb-contrast), 0.87);
}

.v2-app-side,
.v2-app-side-select-drawer,
.v2-app-side-select-drawer-layout {
  background-color: rgba(var(--c-rgb-base), 1);
  color: rgba(var(--c-rgb-contrast), 0.87);
}

.v2-app-footer {
  background-color: rgba(var(--c-rgb-contrast), 0.02);
}

.v2-page-hero {
  background-color: rgba(var(--c-rgb-contrast), 0.02);
}
