.v2-footer {
  // border: solid 2px tan;

  width: 100%;
  display: block;
  z-index: 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  &-layout {
    display: flex;
    flex-direction: column;
    padding-block: var(--v2-gutter);
    margin-inline: var(--v2-gutter);
    gap: var(--v2-gutter);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }
  }

  &-meta {
    display: flex;
    flex-direction: column;

    [data-prefers-dir='rtl'] & {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  &-meta-logo {
    --v2-footer-meta-logo-height: 430px;
    --v2-footer-meta-logo-width: 500px;
    --v2-footer-meta-logo-offset: 20px;
    --v2-footer-meta-logo-scale: 1;

    scale: var(--v2-footer-meta-logo-scale, 1);
    right: var(--v2-footer-meta-logo-offset-x, 0);
    bottom: var(--v2-footer-meta-logo-offset-y, 0);
    transform: translate(15%, -25%);
    position: absolute;
    z-index: -1;

    svg {
      height: 100%;
      display: flex;
    }

    @media (min-width: 40em) {
      transform: translate(15%, -25%);
    }
    @media (min-width: 60em) {
      transform: translate(15%, -25%);
    }
    @media (min-width: 80em) {
      transform: translate(15%, -25%);
    }
    @media (min-width: 100em) {
      transform: translate(15%, -25%);
    }

    [data-prefers-dir='rtl'] & {
      transform: translateX(-25%);
      left: var(--v2-footer-meta-logo-offset-x, 0);

      @media (min-width: 40em) {
        transform: translateX(-25%);
      }
      @media (min-width: 60em) {
        transform: translateX(-25%);
      }
      @media (min-width: 80em) {
        transform: translateX(-25%);
      }
      @media (min-width: 100em) {
        transform: translateX(-25%);
      }
    }
  }

  &-meta-handle {
    width: max-content;
    font-size: var(--v2-font-size-12);
    font-weight: var(--v2-font-weight-lgt);
    line-height: var(--v2-line-height-sm);
  }

  &-meta-name {
    font-size: var(--v2-font-size-08);
    font-weight: var(--v2-font-weight-med);
    line-height: var(--v2-line-height-sm);
  }

  &-meta-card {
    margin-inline: var(--v2-gutter);
  }

  &-menu {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--v2-gutter);
    max-width: 60em;
  }

  &-menu-group {
    width: 100%;
    flex-grow: 1;
  }

  &-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-inline: var(--v2-01);
    margin-top: var(--v2-04);

    [data-prefers-dir='rtl'] & {
      justify-content: flex-end;
    }
  }

  &-menu-item:first-of-type {
    margin-top: var(--v2-06);
  }

  &-menu-link {
    font-size: var(--v2-font-size-04);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-lg);
  }

  &-menu-link,
  &-meta-handle {
    display: inline-flex;
    isolation: isolate;
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      content: '';
      height: var(--v2-01);
      position: absolute;
      bottom: calc(var(--v2-01) * -1);
      right: 0;
      left: 0;
    }

    &::before {
      z-index: 1;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 400ms ease;

      [data-prefers-dir='rtl'] & {
        transform-origin: right;
      }
    }

    &::after {
      z-index: 2;
      transform: scaleX(1);
      transform-origin: right;
      transition: all 400ms ease;

      [data-prefers-dir='rtl'] & {
        transform-origin: left;
      }
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &:hover::after {
      transform: scaleX(0);
    }
  }
}
