.v2-footer {
  // border: solid 2px tan;

  width: 100%;
  display: block;
  z-index: 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  &-layout {
    display: flex;
    flex-direction: column;
    padding-block: var(--v2-gutter);
    margin-inline: var(--v2-gutter);
    gap: var(--v2-gutter);

    [data-prefers-dir='rtl'] & {
      align-items: flex-end;
    }
  }

  &-meta {
    display: flex;
    flex-direction: column;

    [data-prefers-dir='rtl'] & {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  &-meta-logo {
    --v2-footer-meta-logo-size: 400px;
    --v2-footer-meta-logo-offset: -60px;

    transform: translateX(25%);
    position: absolute;
    z-index: -1;
    bottom: var(--v2-footer-meta-logo-offset);
    right: 0;

    [data-prefers-dir='rtl'] & {
      transform: translateX(-25%);
      left: 0;
    }

    @media (min-width: 40em) {
      --v2-footer-meta-logo-size: 500px;
      --v2-footer-meta-logo-offset: -80px;
    }
    @media (min-width: 60em) {
      --v2-footer-meta-logo-size: 600px;
      --v2-footer-meta-logo-offset: -100px;
    }
    @media (min-width: 80em) {
      --v2-footer-meta-logo-size: 700px;
      --v2-footer-meta-logo-offset: -120px;
    }
    @media (min-width: 100em) {
      --v2-footer-meta-logo-size: 800px;
      --v2-footer-meta-logo-offset: -140px;
    }
  }

  &-meta-handle {
    width: max-content;
    font-size: var(--v2-font-size-12);
    font-weight: var(--v2-font-weight-lgt);
    line-height: var(--v2-line-height-sm);
  }

  &-meta-name {
    font-size: var(--v2-font-size-08);
    font-weight: var(--v2-font-weight-med);
    line-height: var(--v2-line-height-sm);
  }

  &-meta-card {
    margin-inline: var(--v2-gutter);
  }

  &-menu {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--v2-gutter);
    max-width: 60em;
  }

  &-menu-group {
    width: 100%;
    flex-grow: 1;
  }

  &-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-inline: var(--v2-01);
    margin-top: var(--v2-04);

    [data-prefers-dir='rtl'] & {
      justify-content: flex-end;
    }
  }

  &-menu-item:first-of-type {
    margin-top: var(--v2-06);
  }

  &-menu-link {
    font-size: var(--v2-font-size-04);
    font-weight: var(--v2-font-weight-reg);
    line-height: var(--v2-line-height-lg);
  }

  &-menu-link,
  &-meta-handle {
    display: inline-flex;
    isolation: isolate;
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      content: '';
      height: var(--v2-01);
      position: absolute;
      bottom: calc(var(--v2-01) * -1);
      right: 0;
      left: 0;
    }

    &::before {
      z-index: 1;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 400ms ease;

      [data-prefers-dir='rtl'] & {
        transform-origin: right;
      }
    }

    &::after {
      z-index: 2;
      transform: scaleX(1);
      transform-origin: right;
      transition: all 400ms ease;

      [data-prefers-dir='rtl'] & {
        transform-origin: left;
      }
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &:hover::after {
      transform: scaleX(0);
    }
  }

  // &-layout {
  //   display: flex;
  //   flex-direction: column;

  //   @media (min-width: 60em) {
  //     flex-direction: row;

  //     [data-prefers-dir='rtl'] & {
  //       flex-direction: row-reverse;
  //     }
  //   }
  // }

  // &-meta {
  //   display: flex;
  //   flex-grow: 1;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  //   flex-direction: column;

  //   [data-prefers-dir='rtl'] & {
  //     flex-direction: row-reverse;
  //   }

  //   gap: calc(var(--v2-gutter) / 2);
  //   padding-block: var(--v2-gutter);
  //   padding-inline: var(--v2-gutter);

  //   border: solid 2px tan;
  // }

  // &-meta-social {
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-start;
  //   flex-direction: row;
  //   gap: var(--v2-04);
  // }

  // &-meta-social-logo {
  //   height: var(--v2-10);
  // }

  // &-meta-social-handle {
  //   font-size: var(--v2-font-size-12);
  //   font-weight: var(--v2-font-weight-reg);
  //   line-height: var(--v2-line-height-lg);
  // }

  // &-meta-info {
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  //   flex-direction: column;
  //   gap: var(--v2-04);
  // }

  // &-meta-text-name,
  // &-meta-text-email,
  // &-meta-text-location {
  //   width: 100%;
  //   display: block;
  // }

  // &-meta-text-name {
  //   font-size: var(--v2-font-size-07);
  //   font-weight: var(--v2-font-weight-med);
  //   line-height: var(--v2-line-height-xs);
  // }

  // &-meta-text-location {
  //   font-size: var(--v2-font-size-03);
  //   font-weight: var(--v2-font-weight-reg);
  //   line-height: var(--v2-line-height-xs);
  // }

  // &-meta-text-email {
  //   font-size: var(--v2-font-size-04);
  //   font-weight: var(--v2-font-weight-reg);
  //   line-height: var(--v2-line-height-xs);
  // }

  &-links {
    gap: var(--v2-gutter);
    padding: var(--v2-gutter);
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 60em) {
      flex-grow: 1;
      width: 50%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-links-group {
    width: 100%;
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--v2-04);
  }

  &-links-group-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &-links-group-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--v2-font-size-03);
    padding-block: var(--v2-03);
    padding-inline: var(--v2-02);
  }
}
