@use '../mixins' as mixins;

@layer reset {
  .action {
    @include mixins.reset;
    &-group {
      @include mixins.reset;
    }
  }
}

.action {
  @include mixins.transition-colors-interactive;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--action-size);
  height: var(--action-size);
}
