@use '../mixins' as mixins;

[data-prefers-mode='dim'] {
  --c-primary-text: hsl(230, 12%, 99%);
  --c-primary-base: hsl(230, 12%, 12%);
  --c-primary-hover: hsl(230, 12%, 16%);
  --c-primary-pressed: hsl(230, 12%, 14%);
  --c-primary-selected: hsl(230, 12%, 20%);
  --c-primary-disabled: hsl(230, 12%, 40%);
  --c-primary-shell-border: hsl(230, 12%, 20%);

  --c-secondary-text: hsl(230, 12%, 12%);
  --c-secondary-base: hsl(230, 12%, 99%);
  --c-secondary-hover: hsl(230, 12%, 95%);
  --c-secondary-pressed: hsl(230, 12%, 97%);
  --c-secondary-selected: hsl(230, 12%, 91%);
  --c-secondary-disabled: hsl(230, 12%, 60%);
  --c-secondary-shell-border: hsl(230, 12%, 91%);

  --c-tertiary-text: hsl(230, 12%, 99%);
  --c-tertiary-base: hsl(230, 12%, 16%);
  --c-tertiary-hover: hsl(230, 12%, 20%);
  --c-tertiary-pressed: hsl(230, 12%, 18%);
  --c-tertiary-selected: hsl(230, 12%, 24%);
  --c-tertiary-disabled: hsl(230, 12%, 40%);
  --c-tertiary-shell-border: hsl(230, 12%, 24%);
}

[data-prefers-mode='dark'] {
  --c-primary-text: hsl(230, 3%, 99%);
  --c-primary-base: hsl(230, 3%, 10%);
  --c-primary-hover: hsl(230, 3%, 14%);
  --c-primary-pressed: hsl(230, 3%, 12%);
  --c-primary-selected: hsl(230, 3%, 18%);
  --c-primary-disabled: hsl(230, 3%, 40%);
  --c-primary-shell-border: hsl(230, 3%, 18%);

  --c-secondary-text: hsl(230, 3%, 12%);
  --c-secondary-base: hsl(230, 3%, 99%);
  --c-secondary-hover: hsl(230, 3%, 95%);
  --c-secondary-pressed: hsl(230, 3%, 97%);
  --c-secondary-selected: hsl(230, 3%, 91%);
  --c-secondary-disabled: hsl(230, 3%, 60%);
  --c-secondary-shell-border: hsl(230, 3%, 91%);

  --c-tertiary-text: hsl(230, 3%, 99%);
  --c-tertiary-base: hsl(230, 3%, 14%);
  --c-tertiary-hover: hsl(230, 3%, 18%);
  --c-tertiary-pressed: hsl(230, 3%, 16%);
  --c-tertiary-selected: hsl(230, 3%, 22%);
  --c-tertiary-disabled: hsl(230, 3%, 40%);
  --c-tertiary-shell-border: hsl(230, 3%, 20%);
}

[data-prefers-mode='light'] {
  --c-primary-text: hsl(230, 3%, 8%);
  --c-primary-base: hsl(230, 3%, 99%);
  --c-primary-hover: hsl(230, 3%, 95%);
  --c-primary-pressed: hsl(230, 3%, 97%);
  --c-primary-selected: hsl(230, 3%, 91%);
  --c-primary-disabled: hsl(230, 3%, 60%);
  --c-primary-shell-border: hsl(230, 3%, 91%);

  --c-secondary-text: hsl(230, 3%, 99%);
  --c-secondary-base: hsl(230, 3%, 10%);
  --c-secondary-hover: hsl(230, 3%, 14%);
  --c-secondary-pressed: hsl(230, 3%, 12%);
  --c-secondary-selected: hsl(230, 3%, 18%);
  --c-secondary-disabled: hsl(230, 3%, 40%);
  --c-secondary-shell-border: hsl(230, 3%, 18%);

  --c-tertiary-text: hsl(230, 3%, 8%);
  --c-tertiary-base: hsl(230, 3%, 94%);
  --c-tertiary-hover: hsl(230, 3%, 90%);
  --c-tertiary-pressed: hsl(230, 3%, 92%);
  --c-tertiary-selected: hsl(230, 3%, 86%);
  --c-tertiary-disabled: hsl(230, 3%, 60%);
  --c-tertiary-shell-border: hsl(230, 3%, 86%);
}

[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  @include mixins.transition-colors-static;
  background-color: var(--c-primary-base);
  color: var(--c-primary-text);

  .page,
  .layout {
    @include mixins.transition-colors-static;
    background-color: var(--c-primary-base);
    color: var(--c-primary-text);
  }

  .page-menu-target-cell {
    @include mixins.transition-colors-static;
    background-color: var(--c-secondary-base);
  }

  .button--default,
  .action--default,
  .tile--clickable,
  .tile--expandable,
  .tile--selectable,
  .page-menu-target {
    @include mixins.transition-colors-interactive;
    background-color: transparent;
    color: inherit;

    &:not([aria-disabled]):hover,
    &:not([data-disabled]):hover {
      background-color: var(--c-primary-hover);
    }
    &:not([aria-disabled]):active,
    &:not([data-disabled]):active {
      background-color: var(--c-primary-pressed);
    }
  }

  .box[data-scheme='primary'],
  .sec[data-scheme='primary'],
  .tile[data-scheme='primary'] {
    @include mixins.transition-colors-static;
    background-color: var(--c-primary-base);
    color: var(--c-primary-text);

    .button--default,
    .action--default,
    .tile--clickable,
    .tile--expandable,
    .tile--selectable,
    .page-menu-target {
      @include mixins.transition-colors-interactive;
      background-color: transparent;
      color: inherit;

      &:not([aria-disabled]):hover,
      &:not([data-disabled]):hover {
        background-color: var(--c-primary-hover);
      }
      &:not([aria-disabled]):active,
      &:not([data-disabled]):active {
        background-color: var(--c-primary-pressed);
      }
    }
  }

  .box[data-scheme='secondary'],
  .sec[data-scheme='secondary'],
  .tile[data-scheme='secondary'] {
    @include mixins.transition-colors-static;
    background-color: var(--c-secondary-base);
    color: var(--c-secondary-text);

    .button--default,
    .action--default,
    .tile--clickable,
    .tile--expandable,
    .tile--selectable,
    .page-menu-target {
      @include mixins.transition-colors-interactive;
      background-color: transparent;
      color: inherit;

      &:not([aria-disabled]):hover,
      &:not([data-disabled]):hover {
        background-color: var(--c-secondary-hover);
      }
      &:not([aria-disabled]):active,
      &:not([data-disabled]):active {
        background-color: var(--c-secondary-pressed);
      }
    }
  }

  .box[data-scheme='tertiary'],
  .sec[data-scheme='tertiary'],
  .tile[data-scheme='tertiary'] {
    @include mixins.transition-colors-static;
    background-color: var(--c-tertiary-base);
    color: var(--c-tertiary-text);

    .button--default,
    .action--default,
    .tile--clickable,
    .tile--expandable,
    .tile--selectable,
    .page-menu-target {
      @include mixins.transition-colors-interactive;
      background-color: transparent;
      color: inherit;

      &:not([aria-disabled]):hover,
      &:not([data-disabled]):hover {
        background-color: var(--c-tertiary-hover);
      }
      &:not([aria-disabled]):active,
      &:not([data-disabled]):active {
        background-color: var(--c-tertiary-pressed);
      }
    }
  }
}
