// CONFIG

.v2-base-default,
.v2-base-elevated,
.v2-accent-default,
.v2-accent-elevated {
  transition:
    background-color var(--duration-slow-01) var(--easing-expressive),
    outline-color var(--duration-slow-01) var(--easing-expressive),
    border-color var(--duration-slow-01) var(--easing-expressive),
    opacity var(--duration-slow-01) var(--easing-expressive),
    stroke var(--duration-slow-01) var(--easing-expressive),
    color var(--duration-slow-01) var(--easing-expressive),
    fill var(--duration-slow-01) var(--easing-expressive);
}

.v2-base-default-interactive,
.v2-base-elevated-interactive,
.v2-accent-default-interactive,
.v2-accent-elevated-interactive {
  transition:
    background-color var(--duration-moderate-01) var(--easing-productive),
    outline-color var(--duration-moderate-01) var(--easing-productive),
    border-color var(--duration-moderate-01) var(--easing-productive),
    opacity var(--duration-moderate-01) var(--easing-productive),
    stroke var(--duration-moderate-01) var(--easing-productive),
    color var(--duration-moderate-01) var(--easing-productive),
    fill var(--duration-moderate-01) var(--easing-productive);
}

.v2-base-default,
.v2-base-default-interactive:not([data-disabled]),
.v2-base-default-interactive:not([data-readonly]) {
  background-color: var(--c-base-default-enabled);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-default-interactive:not([data-disabled]):hover,
.v2-base-default-interactive:not([data-readonly]):hover {
  background-color: var(--c-base-default-hovered);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-default-interactive:not([data-disabled]):active,
.v2-base-default-interactive:not([data-readonly]):active {
  background-color: var(--c-base-default-pressed);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-default-interactive:not([data-disabled])[data-selected],
.v2-base-default-interactive:not([data-readonly])[data-selected] {
  background-color: var(--c-base-default-selected);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-default .v2-icon,
.v2-base-default-interactive:not([data-disabled]) .v2-icon,
.v2-base-default-interactive:not([data-readonly]) .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-default-interactive:not([data-disabled]):hover .v2-icon,
.v2-base-default-interactive:not([data-readonly]):hover .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-default-interactive:not([data-disabled]):active .v2-icon,
.v2-base-default-interactive:not([data-readonly]):active .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-default-interactive:not([data-disabled])[data-selected] .v2-icon,
.v2-base-default-interactive:not([data-readonly])[data-selected] .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated,
.v2-base-elevated-interactive:not([data-disabled]),
.v2-base-elevated-interactive:not([data-readonly]) {
  background-color: var(--c-base-elevated-enabled);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated-interactive:not([data-disabled]):hover,
.v2-base-elevated-interactive:not([data-readonly]):hover {
  background-color: var(--c-base-elevated-hovered);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated-interactive:not([data-disabled]):active,
.v2-base-elevated-interactive:not([data-readonly]):active {
  background-color: var(--c-base-elevated-pressed);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated-interactive:not([data-disabled])[data-selected],
.v2-base-elevated-interactive:not([data-readonly])[data-selected] {
  background-color: var(--c-base-elevated-selected);
  color: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated .v2-icon,
.v2-base-elevated-interactive:not([data-disabled]) .v2-icon,
.v2-base-elevated-interactive:not([data-readonly]) .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated-interactive:not([data-disabled]):hover .v2-icon,
.v2-base-elevated-interactive:not([data-readonly]):hover .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated-interactive:not([data-disabled]):active .v2-icon,
.v2-base-elevated-interactive:not([data-readonly]):active .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-base-elevated-interactive:not([data-disabled])[data-selected] .v2-icon,
.v2-base-elevated-interactive:not([data-readonly])[data-selected] .v2-icon {
  fill: rgba(var(--c-rgb-cont), 0.87);
}

.v2-accent-default,
.v2-accent-default-interactive:not([data-disabled]),
.v2-accent-default-interactive:not([data-readonly]) {
  background-color: var(--c-accent-default-enabled);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-default-interactive:not([data-disabled]):hover,
.v2-accent-default-interactive:not([data-readonly]):hover {
  background-color: var(--c-accent-default-hovered);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-default-interactive:not([data-disabled]):active,
.v2-accent-default-interactive:not([data-readonly]):active {
  background-color: var(--c-accent-default-pressed);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-default-interactive:not([data-disabled])[data-selected],
.v2-accent-default-interactive:not([data-readonly])[data-selected] {
  background-color: var(--c-accent-default-selected);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-default .v2-icon,
.v2-accent-default-interactive:not([data-disabled]) .v2-icon,
.v2-accent-default-interactive:not([data-readonly]) .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-default-interactive:not([data-disabled]):hover .v2-icon,
.v2-accent-default-interactive:not([data-readonly]):hover .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-default-interactive:not([data-disabled]):active .v2-icon,
.v2-accent-default-interactive:not([data-readonly]):active .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-default-interactive:not([data-disabled])[data-selected] .v2-icon,
.v2-accent-default-interactive:not([data-readonly])[data-selected] .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated,
.v2-accent-elevated-interactive:not([data-disabled]),
.v2-accent-elevated-interactive:not([data-readonly]) {
  background-color: var(--c-accent-elevated-enabled);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated-interactive:not([data-disabled]):hover,
.v2-accent-elevated-interactive:not([data-readonly]):hover {
  background-color: var(--c-accent-elevated-hovered);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated-interactive:not([data-disabled]):active,
.v2-accent-elevated-interactive:not([data-readonly]):active {
  background-color: var(--c-accent-elevated-pressed);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated-interactive:not([data-disabled])[data-selected],
.v2-accent-elevated-interactive:not([data-readonly])[data-selected] {
  background-color: var(--c-accent-elevated-selected);
  color: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated .v2-icon,
.v2-accent-elevated-interactive:not([data-disabled]) .v2-icon,
.v2-accent-elevated-interactive:not([data-readonly]) .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated-interactive:not([data-disabled]):hover .v2-icon,
.v2-accent-elevated-interactive:not([data-readonly]):hover .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated-interactive:not([data-disabled]):active .v2-icon,
.v2-accent-elevated-interactive:not([data-readonly]):active .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}

.v2-accent-elevated-interactive:not([data-disabled])[data-selected] .v2-icon,
.v2-accent-elevated-interactive:not([data-readonly])[data-selected] .v2-icon {
  fill: rgba(var(--c-rgb-accent), 0.87);
}
