.v2-canvas {
  width: 100%;
  display: block;
  padding-top: var(--v2-gutter);
  padding-inline: var(--v2-gutter);

  &-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 500px;

    @media (min-width: 60em) {
      flex-direction: row-reverse;
    }
  }

  &-color,
  &-select,
  &-segmented {
    width: 100%;

    .v2-divider {
      margin-bottom: var(--v2-04);
    }

    .v2-select-target {
      width: 100%;
    }
  }

  &-color-item {
    width: var(--v2-08);
    height: var(--v2-08);
    border-radius: var(--v2-02);
    position: relative;
    cursor: pointer;
  }

  &-color-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--v2-01);
  }

  &-color-icon {
    position: absolute;
    bottom: var(--v2-02);
    right: var(--v2-02);
  }

  &-controls {
    gap: var(--v2-06);
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-inline: var(--v2-06);
    padding-block: var(--v2-08);
    min-width: 400px;

    .v2-toggle {
      --v2-toggle-order: 0;
    }

    @media (min-width: 60em) {
      flex: 0 1;
    }
  }

  &-display {
    flex: 1 0;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;

    @media (min-width: 60em) {
      min-height: 300px;
    }

    &-actions {
      padding: 0;
      position: absolute;
      width: calc(100% - calc(var(--v2-01) * 2));
      left: var(--v2-01);

      @media (max-width: 60em) {
        bottom: var(--v2-01);
      }
      @media (min-width: 60em) {
        top: var(--v2-01);
      }
    }

    &-container {
      padding: var(--v2-gutter);
      flex: 1 0 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 400px;
    }
  }
}
