.v2-canvas {
  width: 100%;
  display: block;
  padding-inline: var(--v2-gutter);

  &-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-width: var(--v2-01);
    border-style: solid;
    border-radius: var(--v2-radius-lg);
    color: var(--c-canvas-clr);
    border-color: var(--c-canvas-bdr);
    background-color: var(--c-canvas-bgd);

    @media (min-width: 60em) {
      flex-direction: row;
    }
  }

  &-select {
    max-width: 320px;

    .v2-label {
      line-height: 1;
      margin-bottom: var(--v2-03);
    }

    .v2-select-target {
      width: 320px;
    }
  }

  &-controls {
    gap: var(--v2-06);
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-inline: var(--v2-06);
    padding-block: var(--v2-06);

    color: var(--c-canvas-controls-clr);
    border-color: var(--c-canvas-controls-bdr);
    background-color: var(--c-canvas-controls-bgd);

    .v2-toggle {
      --v2-toggle-order: 0;
    }

    @media (min-width: 60em) {
      flex: 1 1 40%;
    }
  }

  &-display {
    flex: 1 1 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;

    color: var(--c-canvas-display-clr);
    border-color: var(--c-canvas-display-bdr);
    background-color: var(--c-canvas-display-bgd);
  }
}
