@mixin use-font-face(
  $font-url: 'Satoshi-Light',
  $font-weight: 300,
  $font-style: normal,
  $font-display: swap,
  $font-family: 'Satoshi'
) {
  @font-face {
    display: $font-display;
    font-style: $font-style;
    font-weight: $font-weight;
    font-family: $font-family;
    src:
      url('/fonts/Satoshi/woff2/#{$font-url}.woff2') format('woff2'),
      url('/fonts/Satoshi/woff/#{$font-url}.woff') format('woff'),
      url('/fonts/Satoshi/ttf/#{$font-url}.ttf') format('ttf'),
      url('/fonts/Satoshi/eot/#{$font-url}.eot') format('eot');
  }
}

@include use-font-face('Satoshi-Light', 300, normal, 'Satoshi');
@include use-font-face('Satoshi-Regular', 400, normal, 'Satoshi');
@include use-font-face('Satoshi-Medium', 500, normal, 'Satoshi');
@include use-font-face('Satoshi-Bold', 600, normal, 'Satoshi');
@include use-font-face('Satoshi-Black', 700, normal, 'Satoshi');

@include use-font-face('Satoshi-LightItalic', 300, italic, 'Satoshi');
@include use-font-face('Satoshi-RegularItalic', 400, italic, 'Satoshi');
@include use-font-face('Satoshi-MediumItalic', 500, italic, 'Satoshi');
@include use-font-face('Satoshi-BoldItalic', 600, italic, 'Satoshi');
@include use-font-face('Satoshi-BlackItalic', 700, italic, 'Satoshi');
