@mixin reset {
  vertical-align: baseline;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin reset-interactive {
  vertical-align: baseline;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin ltr {
  [data-prefers-dir='ltr'] & {
    @content;
  }
}

@mixin rtl {
  [data-prefers-dir='rtl'] & {
    @content;
  }
}
