@use './mixins' as mixins;

#root {
  display: block;
  position: relative;
  min-height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.accent {
  background-color: var(--c-accent);
}
.accent-text {
  color: var(--c-accent);
}

.layout-nav {
  z-index: var(--app-index-nav);
}
.layout-header {
  z-index: var(--app-index-header);
}
.layout-menu-panel {
  z-index: var(--app-index-panel);
}

.title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-2);
}

h1.title {
  font-size: var(--font-size-title-xl);
}
h2.title {
  font-size: var(--font-size-title-md);
}

.text {
  font-family: var(--font-family);
}

.button,
.action--link,
.action--button {
  cursor: default;

  &[data-disabled]:hover,
  &[aria-disabled]:hover {
    cursor: default;
  }

  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    cursor: pointer;
  }
}

.layout-search-input {
  cursor: default;

  &[data-disabled]:hover,
  &[aria-disabled]:hover {
    cursor: text;
  }

  &:not([data-disabled]):hover,
  &:not([aria-disabled]):hover {
    cursor: text;
  }
}
