:root {
  --index-page: 0;
  --index-header: 1000;
  --index-sidemenu: 1000;

  // SPACING
  --s-01: calc(var(--v2-unit) * 1); // 2px
  --s-02: calc(var(--v2-unit) * 2); // 4px
  --s-03: calc(var(--v2-unit) * 4); // 8px
  --s-04: calc(var(--v2-unit) * 6); // 12px
  --s-05: calc(var(--v2-unit) * 8); // 16px
  --s-06: calc(var(--v2-unit) * 12); // 24px
  --s-07: calc(var(--v2-unit) * 16); // 32px
  --s-08: calc(var(--v2-unit) * 20); // 40px
  --s-09: calc(var(--v2-unit) * 24); // 48px
  --s-10: calc(var(--v2-unit) * 28); // 56px
  --s-11: calc(var(--v2-unit) * 32); // 64px
  --s-12: calc(var(--v2-unit) * 36); // 72px
  --s-13: calc(var(--v2-unit) * 40); // 80px
  --s-14: calc(var(--v2-unit) * 48); // 96px
  --s-15: calc(var(--v2-unit) * 64); // 128px
  --s-16: calc(var(--v2-unit) * 80); // 160px
  // MOTION

  // FONT-FAMILY

  // FONT-SIZE

  // BREAKPOINTS

  --breakpoint-mobile-sm: 320px;
  --breakpoint-mobile-md: 400px;
  --breakpoint-mobile-lg: 480px;

  --breakpoint-tablet-sm: 640px;
  --breakpoint-tablet-md: 760px;
  --breakpoint-tablet-lg: 880px;

  --breakpoint-desktop-sm: 1024px;
  --breakpoint-desktop-md: 1200px;
  --breakpoint-desktop-lg: 1400px;
}
