:root {
  --app-index-nav: 1001;
  --app-index-header: 1001;
  --app-index-panel: 899;
  --app-index-menu: 1000;

  --app-width-menu: 30em;

  --app-height-hero-mobile: 30vh;
  --app-height-hero-desktop: 40vh;

  --app-height-hero: var(--app-height-hero-mobile);

  @media (min-width: 60em) {
    --app-height-hero: var(--app-height-hero-desktop);
  }
}
