html,
body,
:root,
#root,
.layout,
.page-layout,
.screen-layout,
.header-layout,
.footer-layout,
.navbar-layout,
.toolbar-layout,
.page-content,
.screen-content,
.header-content,
.footer-content,
.navbar-content,
.toolbar-content {
  color: var(--text-primary-1);
  background-color: var(--background-primary-1);
}

.footer-content--left,
.footer-content--right {
  color: var(--text-primary-1);
  background-color: var(--background-primary-2);
}
