.animated-grid-controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
}

.animated-grid-container {
  height: 600px;
  width: 600px;
}

.animated-grid {
  --pi: 3.14159265;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(1, 1fr);
}

.animated-grid-row,
.animated-grid-cell {
  --grid-total-duration: 2000ms;
  --grid-cell-index: 0;
  --grid-row-index: 0;
}

.animated-grid-row {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);

  --row-percentage: sin(var(--grid-row-index) * 0.03);
  --row-duration: calc(var(--grid-total-duration) * sin(var(--grid-row-index) * 0.1));
  --row-delay: calc(var(--row-percentage) * calc(var(--grid-total-duration) / pi));
  // --row-delay: calc(var(--row-percentage) * calc(var(--grid-total-duration) / 2));

  transition-property: opacity, background-color, transform;
  transition-timing-function: ease-in-out;
  transition-duration: var(--row-duration);
  transition-delay: var(--row-delay);

  background-color: rgba(var(--c-accent), 0);

  [data-animation-exit] & {
    background-color: rgba(var(--c-accent), 0);
  }
  [data-animation-enter] & {
    background-color: rgba(var(--c-accent), var(--row-percentage));
  }

  &:nth-of-type(1) {
    --grid-row-index: 1;
  }
  &:nth-of-type(2) {
    --grid-row-index: 2;
  }
  &:nth-of-type(3) {
    --grid-row-index: 3;
  }
  &:nth-of-type(4) {
    --grid-row-index: 4;
  }
  &:nth-of-type(5) {
    --grid-row-index: 5;
  }
  &:nth-of-type(6) {
    --grid-row-index: 6;
  }
  &:nth-of-type(7) {
    --grid-row-index: 7;
  }
  &:nth-of-type(8) {
    --grid-row-index: 8;
  }
  &:nth-of-type(9) {
    --grid-row-index: 9;
  }
  &:nth-of-type(10) {
    --grid-row-index: 10;
  }
  &:nth-of-type(11) {
    --grid-row-index: 11;
  }
  &:nth-of-type(12) {
    --grid-row-index: 12;
  }
}

.animated-grid-cell {
  width: 100%;
  height: 100%;

  --cell-percentage: sin(var(--grid-cell-index) * 0.02);
  --cell-duration: calc(var(--grid-total-duration) * sin(var(--grid-cell-index) * 0.1));
  --cell-delay: calc(var(--cell-percentage) * calc(var(--grid-total-duration) / pi));

  transition-property: opacity, background-color, transform;
  transition-timing-function: ease-in-out;
  transition-duration: var(--cell-duration);
  transition-delay: var(--cell-delay);

  background-color: rgba(var(--c-accent), 0);

  [data-animation-exit] & {
    background-color: rgba(var(--c-accent), 0);
  }
  [data-animation-enter] & {
    background-color: rgba(var(--c-accent), var(--cell-percentage));
  }

  &:nth-of-type(1) {
    --grid-cell-index: 1;
  }
  &:nth-of-type(2) {
    --grid-cell-index: 2;
  }
  &:nth-of-type(3) {
    --grid-cell-index: 3;
  }
  &:nth-of-type(4) {
    --grid-cell-index: 4;
  }
  &:nth-of-type(5) {
    --grid-cell-index: 5;
  }
  &:nth-of-type(6) {
    --grid-cell-index: 6;
  }
  &:nth-of-type(7) {
    --grid-cell-index: 7;
  }
  &:nth-of-type(8) {
    --grid-cell-index: 8;
  }
  &:nth-of-type(9) {
    --grid-cell-index: 9;
  }
  &:nth-of-type(10) {
    --grid-cell-index: 10;
  }
  &:nth-of-type(11) {
    --grid-cell-index: 11;
  }
  &:nth-of-type(12) {
    --grid-cell-index: 12;
  }
}
