.v2-check-grid {
  --x-check-grid-size-xs: var(--s-06);
  --x-check-grid-size-sm: var(--s-06);
  --x-check-grid-size-md: var(--s-06);
  --x-check-grid-size-lg: var(--s-06);
  --x-check-grid-size-xl: var(--s-06);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  &--size-xs {
    --x-check-grid-size: var(--x-check-grid-size-xs);
  }
  &--size-sm {
    --x-check-grid-size: var(--x-check-grid-size-sm);
  }
  &--size-md {
    --x-check-grid-size: var(--x-check-grid-size-md);
  }
  &--size-lg {
    --x-check-grid-size: var(--x-check-grid-size-lg);
  }
  &--size-xl {
    --x-check-grid-size: var(--x-check-grid-size-xl);
  }
}

.v2-check-grid-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  height: var(--x-check-grid-size);
}

.v2-check-grid-cell {
  width: var(--x-check-grid-size);
  height: var(--x-check-grid-size);
}
