.v2-footer {
  width: 100%;
  display: block;
  min-height: 50vh;

  &-inner {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline: var(--s-06);
    padding-block: var(--s-06);
  }
}
