.GlobalControl {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: grid;
  position: fixed;
  box-sizing: border-box;
  gap: calc(var(--unit) * 1);
  padding: calc(var(--unit) * 4);
  z-index: 99999;

  &-tools {
    width: 100%;
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: calc(var(--unit) * 1);
  }

  &-categories {
    width: 100%;
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: calc(var(--unit) * 1);
  }

  &-panel {
    width: 100%;
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: calc(var(--unit) * 1);
  }
}
