.v2-header {
  width: 100%;
  display: block;
  position: fixed;
  right: 0;
  // left: calc(var(--size-action) + calc(var(--s-01) * 2));
  left: 0;
  top: 0;

  &-inner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-block: var(--s-01);
    padding-inline: var(--s-01);
  }
}
