@use '../mixins' as mixins;

@layer reset {
  .v2-header {
    @include mixins.reset;
  }
}

.v2-header {
  width: 100%;
  height: var(--action-box);
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  right: 0;
  left: var(--action-box);
  top: 0;

  &-skip,
  &-link {
    height: var(--action-box);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    outline: solid var(--unit) transparent;

    &:not(:focus:focus-visible) {
      outline-color: transparent;
    }
    &:focus:focus-visible {
      outline-color: var(--c-blue);
      outline-offset: calc(var(--unit) * -1);
    }

    &-inner {
      width: var(--action-size);
      height: var(--action-size);
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      background-color: var(--c-pri-2);
      color: var(--c-sec-4);
      padding-inline: calc(var(--gutter) / 2);
    }
  }

  &-link-inner {
    width: 30em;
  }

  .v2-logo {
    width: calc(var(--action-size) * 0.5);
    height: calc(var(--action-size) * 0.5);

    &-icon {
      width: calc(var(--action-size) * 0.5);
      height: calc(var(--action-size) * 0.5);
    }
  }
}
