@use '../query' as query;
@use '../mixins' as mixins;

@layer reset {
  .v2-hero--default {
    @include mixins.reset;
  }
}

.v2-hero--default {
  display: block;
  background-color: var(--c-pri-2);

  .box {
    height: calc(calc(var(--action-size) + var(--unit)) * 12);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-inline: var(--gutter);

    @include query.md {
      height: calc(calc(var(--action-size) + var(--unit)) * 6);
    }
    @include query.lg {
      height: calc(calc(calc(var(--action-size) + var(--unit)) * 5) - var(--unit));
    }

    .title {
      margin-bottom: var(--gutter);
    }
  }
}
