.Rotary {
  --pi: 3.1415926535;
  --rotary-diameter: 300px;
  --rotary-radius: calc(var(--rotary-diameter) / 2);
  --rotary-border-radius: calc(var(--rotary-diameter) * var(--pi));
  // --rotary-offset-x: 50px;
  // --rotary-offset-y: 50px;

  transition:
    rotate 1500ms ease-in-out,
    transform 1500ms ease-in-out;

  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  isolation: isolate;
  position: fixed;
  border-radius: var(--rotary-border-radius);
  height: var(--rotary-diameter);
  width: var(--rotary-diameter);
  outline: solid 2px indianred;

  &-dial {
    position: absolute;
  }

  &-menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: var(--rotary-diameter);
    height: var(--rotary-diameter);
    outline: solid 2px palegreen;
    border-radius: var(--rotary-border-radius);

    button:nth-of-type(1),
    button:nth-of-type(2),
    button:nth-of-type(3),
    button:nth-of-type(4),
    button:nth-of-type(5),
    button:nth-of-type(6),
    button:nth-of-type(7),
    button:nth-of-type(8) {
      position: absolute;
      rotate: calc(45deg * var(--slice-index));
    }

    button:nth-of-type(1) svg,
    button:nth-of-type(2) svg,
    button:nth-of-type(3) svg,
    button:nth-of-type(4) svg,
    button:nth-of-type(5) svg,
    button:nth-of-type(6) svg,
    button:nth-of-type(7) svg,
    button:nth-of-type(8) svg {
      --slice-hue: 40;

      position: absolute;
      fill: hsl(calc(var(--slice-hue) * var(--slice-index)), 50%, 60%);
      rotate: calc(45deg * var(--slice-index));
      transform: translate(-50%, -50%);
    }

    button:nth-of-type(1) svg {
      --slice-index: 1;
    }
    button:nth-of-type(2) svg {
      --slice-index: 2;
    }
    button:nth-of-type(3) svg {
      --slice-index: 3;
    }
    button:nth-of-type(4) svg {
      --slice-index: 4;
    }
    button:nth-of-type(5) svg {
      --slice-index: 5;
    }
    button:nth-of-type(6) svg {
      --slice-index: 6;
    }
    button:nth-of-type(7) svg {
      --slice-index: 7;
    }
    button:nth-of-type(8) svg {
      --slice-index: 8;
    }
  }
}

// &-slice,
// &-slice svg {
//   top: 0;
//   left: 0;
//   width: var(--rotary-radius);
//   height: var(--rotary-radius);
//   display: flex;
//   position: absolute;

//   transition:
//     rotate 1500ms ease-in-out,
//     transform 1500ms ease-in-out;

//   color: hsla(var(--c-surface-primary), 0.01);
//   fill: hsla(var(--c-surface-primary), 0.01);

//   &:hover {
//     color: hsla(var(--c-surface-primary), 0.05);
//     fill: hsla(var(--c-surface-primary), 0.05);
//   }

//   [data-animation-enter] & {
//     transition: fill 200ms ease-in-out;
//     rotate: calc(45deg * var(--slice-index));
//     color: hsla(var(--c-surface-primary), 0.05);
//     fill: hsla(var(--c-surface-primary), 0.05);

//     &:hover {
//       color: hsla(var(--c-surface-primary), 0.1);
//       fill: hsla(var(--c-surface-primary), 0.1);
//     }
//   }
// }

// &-menu:nth-child(1),
// &-menu:nth-child(2),
// &-menu:nth-child(3),
// &-menu:nth-child(4),
// &-menu:nth-child(5),
// &-menu:nth-child(6),
// &-menu:nth-child(7),
// &-menu:nth-child(8) {
//   --slice-index: 0;

//   transform: translate(-50%, -50%);
//   width: calc(var(--rotary-radius) * 2);
//   height: calc(var(--rotary-radius) * 2);
// }

// &-menu {
//   div:nth-of-type(1),
//   div:nth-of-type(2),
//   div:nth-of-type(3),
//   div:nth-of-type(4),
//   div:nth-of-type(5),
//   div:nth-of-type(6),
//   div:nth-of-type(7),
//   div:nth-of-type(8) {
//     --slice-index: 0;

//     // transform: translate(-50%, -50%);
//     // width: calc(var(--rotary-radius) * 2);
//     // height: calc(var(--rotary-radius) * 2);

//     top: 0;
//     left: 0;
//     width: var(--rotary-radius);
//     height: var(--rotary-radius);
//     display: flex;
//     position: absolute;

//     transition:
//       rotate 1500ms ease-in-out,
//       transform 1500ms ease-in-out;

//     color: hsla(var(--c-surface-primary), 0.01);
//     fill: hsla(var(--c-surface-primary), 0.01);

//     &:hover {
//       color: hsla(var(--c-surface-primary), 0.05);
//       fill: hsla(var(--c-surface-primary), 0.05);
//     }

//     [data-animation-enter] & {
//       transition: fill 200ms ease-in-out;
//       rotate: calc(45deg * var(--slice-index));
//       color: hsla(var(--c-surface-primary), 0.05);
//       fill: hsla(var(--c-surface-primary), 0.05);

//       &:hover {
//         color: hsla(var(--c-surface-primary), 0.1);
//         fill: hsla(var(--c-surface-primary), 0.1);
//       }
//     }
//   }

//   div:nth-of-type(1) {
//     --slice-index: 1;
//     fill: indianred;
//   }
//   div:nth-of-type(2) {
//     --slice-index: 2;
//   }
//   div:nth-of-type(3) {
//     --slice-index: 3;
//   }
//   div:nth-of-type(4) {
//     --slice-index: 4;
//   }
//   div:nth-of-type(5) {
//     --slice-index: 5;
//   }
//   div:nth-of-type(6) {
//     --slice-index: 6;
//   }
//   div:nth-of-type(7) {
//     --slice-index: 7;
//   }
//   div:nth-of-type(8) {
//     --slice-index: 8;
//     fill: palegreen;
//   }
// }
