@use '../query' as query;
@use '../mixins' as mixins;

@layer reset {
  .v2-search {
    @include mixins.reset;
  }
}

.v2-search {
  display: none;

  @include query.lg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-input,
    &-clear,
    &-action {
      height: var(--action-size);
      gap: var(--unit);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: var(--c-sec-4);
      background-color: var(--c-pri-2);

      &:not(:focus:focus-visible) {
        outline: solid var(--unit) transparent;
        outline-color: transparent;
      }
      &:focus:focus-visible {
        outline: solid var(--unit) transparent;
        outline-color: var(--c-blue);
      }
    }

    &-box {
      gap: var(--unit);
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      outline: solid var(--unit) transparent;
    }

    &-input {
      flex: 1;
      padding-inline: calc(var(--gutter) / 2);
      min-width: var(--action-size);
    }

    &-clear,
    &-action {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--action-size);
      min-width: var(--action-size);
    }
  }
}
