.v2-sidemenu {
  display: none;

  @media screen and (min-width: 60em) {
    z-index: var(--index-sidemenu);
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    top: calc(var(--size-action) + var(--s-01));

    &-inner {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-block: var(--s-01);
      padding-inline: var(--s-01);
    }

    &-link[data-selected]::before {
      width: var(--s-01);
      content: '';
      position: absolute;
      bottom: calc(var(--s-01) * -1);
      left: calc(var(--s-01) * -1);
      top: calc(var(--s-01) * -1);
    }

    &-select-drawer {
      --x-item-count: 6;
      --x-gap-count: calc(var(--x-item-count) + 1);
      --x-gap-width: calc(var(--s-01) * var(--x-gap-count));
      --x-item-width: calc(var(--size-action) * var(--x-item-count));

      flex-wrap: wrap;
      max-width: calc(var(--x-item-width) + var(--x-gap-width));
      padding-block: var(--s-01);
      padding-inline: var(--s-01);
    }
  }
}
