.v2-tile-link {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: var(--fz-08);

  &-inner {
    gap: var(--s-04);
    display: flex;
  }

  &-content,
  &-content .v2-icon {
    height: var(--fz-08);
    min-height: var(--fz-08);
  }

  &:hover {
    &-content:not([data-rotation='false']) .v2-icon {
      transform: rotate(90deg);
    }
  }

  &-content .v2-icon {
    width: var(--fz-08);
    min-width: var(--fz-08);
  }
}
