:root {
  // GLOBAL COLOR TOKENS

  --c-focus: #007aff;
  --c-white: #ffffff;
  --c-black: #000000;

  // LIGHT MODE COLOR TOKENS

  --hue-red-light: 3, 100%;
  --hue-orange-light: 35, 100%;
  --hue-yellow-light: 48, 100%;
  --hue-green-light: 135, 59%;
  --hue-mint-light: 177, 100%;
  --hue-teal-light: 189, 61%;
  --hue-cyan-light: 199, 78%;
  --hue-blue-light: 211, 100%;
  --hue-indigo-light: 241, 61%;
  --hue-purple-light: 280, 68%;
  --hue-pink-light: 349, 100%;
  --hue-brown-light: 34, 27%;

  --hex-red-light: #ff3b30;
  --hex-orange-light: #ff9500;
  --hex-yellow-light: #ffcc00;
  --hex-green-light: #34c759;
  --hex-mint-light: #00c7be;
  --hex-teal-light: #30b0c7;
  --hex-cyan-light: #32ade6;
  --hex-blue-light: #007aff;
  --hex-indigo-light: #5856d6;
  --hex-purple-light: #af52de;
  --hex-pink-light: #ff2d55;
  --hex-brown-light: #a2845e;

  --hsl-red-light: var(--hue-red), 59%;
  --hsl-orange-light: var(--hue-orange), 50%;
  --hsl-yellow-light: var(--hue-yellow), 50%;
  --hsl-green-light: var(--hue-green), 49%;
  --hsl-mint-light: var(--hue-mint), 39%;
  --hsl-teal-light: var(--hue-teal), 48%;
  --hsl-cyan-light: var(--hue-cyan), 55%;
  --hsl-blue-light: var(--hue-blue), 50%;
  --hsl-indigo-light: var(--hue-indigo), 59%;
  --hsl-purple-light: var(--hue-purple), 60%;
  --hsl-pink-light: var(--hue-pink), 59%;
  --hsl-brown-light: var(--hue-brown), 50%;

  // DARK MODE COLOR TOKENS

  --hue-red-dark: 3, 100%;
  --hue-orange-dark: 36, 100%;
  --hue-yellow-dark: 50, 100%;
  --hue-green-dark: 135, 64%;
  --hue-mint-dark: 177, 56%;
  --hue-teal-dark: 189, 72%;
  --hue-cyan-dark: 197, 100%;
  --hue-blue-dark: 210, 100%;
  --hue-indigo-dark: 241, 73%;
  --hue-purple-dark: 280, 85%;
  --hue-pink-dark: 348, 100%;
  --hue-brown-dark: 34, 29%;

  --hex-red-dark: #ff453a;
  --hex-orange-dark: #ff9f0a;
  --hex-yellow-dark: #ffd60a;
  --hex-green-dark: #30d158;
  --hex-mint-dark: #66d4cf;
  --hex-teal-dark: #40c8e0;
  --hex-cyan-dark: #64d2ff;
  --hex-blue-dark: #0a84ff;
  --hex-indigo-dark: #5e5ce6;
  --hex-purple-dark: #bf5af2;
  --hex-pink-dark: #ff375f;
  --hex-brown-dark: #ac8e68;

  --hsl-red-dark: var(--hue-red), 61%;
  --hsl-orange-dark: var(--hue-orange), 52%;
  --hsl-yellow-dark: var(--hue-yellow), 52%;
  --hsl-green-dark: var(--hue-green), 50%;
  --hsl-mint-dark: var(--hue-mint), 62%;
  --hsl-teal-dark: var(--hue-teal), 57%;
  --hsl-cyan-dark: var(--hue-cyan), 70%;
  --hsl-blue-dark: var(--hue-blue), 52%;
  --hsl-indigo-dark: var(--hue-indigo), 63%;
  --hsl-purple-dark: var(--hue-purple), 65%;
  --hsl-pink-dark: var(--hue-pink), 60%;
  --hsl-brown-dark: var(--hue-brown), 54%;

  // DIM MODE COLOR TOKENS

  --hue-red-dim: 3, 100%;
  --hue-orange-dim: 36, 100%;
  --hue-yellow-dim: 50, 100%;
  --hue-green-dim: 135, 64%;
  --hue-mint-dim: 177, 56%;
  --hue-teal-dim: 189, 72%;
  --hue-cyan-dim: 197, 100%;
  --hue-blue-dim: 210, 100%;
  --hue-indigo-dim: 241, 73%;
  --hue-purple-dim: 280, 85%;
  --hue-pink-dim: 348, 100%;
  --hue-brown-dim: 34, 29%;

  --hex-red-dim: #ff453a;
  --hex-orange-dim: #ff9f0a;
  --hex-yellow-dim: #ffd60a;
  --hex-green-dim: #30d158;
  --hex-mint-dim: #66d4cf;
  --hex-teal-dim: #40c8e0;
  --hex-cyan-dim: #64d2ff;
  --hex-blue-dim: #0a84ff;
  --hex-indigo-dim: #5e5ce6;
  --hex-purple-dim: #bf5af2;
  --hex-pink-dim: #ff375f;
  --hex-brown-dim: #ac8e68;

  --hsl-red-dim: var(--hue-red), 61%;
  --hsl-orange-dim: var(--hue-orange), 52%;
  --hsl-yellow-dim: var(--hue-yellow), 52%;
  --hsl-green-dim: var(--hue-green), 50%;
  --hsl-mint-dim: var(--hue-mint), 62%;
  --hsl-teal-dim: var(--hue-teal), 57%;
  --hsl-cyan-dim: var(--hue-cyan), 70%;
  --hsl-blue-dim: var(--hue-blue), 52%;
  --hsl-indigo-dim: var(--hue-indigo), 63%;
  --hsl-purple-dim: var(--hue-purple), 65%;
  --hsl-pink-dim: var(--hue-pink), 60%;
  --hsl-brown-dim: var(--hue-brown), 54%;
}

[data-prefers-mode='light'] {
  --hue-red: var(--hue-red-light);
  --hue-orange: var(--hue-orange-light);
  --hue-yellow: var(--hue-yellow-light);
  --hue-green: var(--hue-green-light);
  --hue-mint: var(--hue-mint-light);
  --hue-teal: var(--hue-teal-light);
  --hue-cyan: var(--hue-cyan-light);
  --hue-blue: var(--hue-blue-light);
  --hue-indigo: var(--hue-indigo-light);
  --hue-purple: var(--hue-purple-light);
  --hue-pink: var(--hue-pink-light);
  --hue-brown: var(--hue-brown-light);

  --hex-red: var(--hex-red-light);
  --hex-orange: var(--hex-orange-light);
  --hex-yellow: var(--hex-yellow-light);
  --hex-green: var(--hex-green-light);
  --hex-mint: var(--hex-mint-light);
  --hex-teal: var(--hex-teal-light);
  --hex-cyan: var(--hex-cyan-light);
  --hex-blue: var(--hex-blue-light);
  --hex-indigo: var(--hex-indigo-light);
  --hex-purple: var(--hex-purple-light);
  --hex-pink: var(--hex-pink-light);
  --hex-brown: var(--hex-brown-light);

  --hsl-red: var(--hsl-red-light);
  --hsl-orange: var(--hsl-orange-light);
  --hsl-yellow: var(--hsl-yellow-light);
  --hsl-green: var(--hsl-green-light);
  --hsl-mint: var(--hsl-mint-light);
  --hsl-teal: var(--hsl-teal-light);
  --hsl-cyan: var(--hsl-cyan-light);
  --hsl-blue: var(--hsl-blue-light);
  --hsl-indigo: var(--hsl-indigo-light);
  --hsl-purple: var(--hsl-purple-light);
  --hsl-pink: var(--hsl-pink-light);
  --hsl-brown: var(--hsl-brown-light);
}

[data-prefers-mode='dark'] {
  --hue-red: var(--hue-red-dark);
  --hue-orange: var(--hue-orange-dark);
  --hue-yellow: var(--hue-yellow-dark);
  --hue-green: var(--hue-green-dark);
  --hue-mint: var(--hue-mint-dark);
  --hue-teal: var(--hue-teal-dark);
  --hue-cyan: var(--hue-cyan-dark);
  --hue-blue: var(--hue-blue-dark);
  --hue-indigo: var(--hue-indigo-dark);
  --hue-purple: var(--hue-purple-dark);
  --hue-pink: var(--hue-pink-dark);
  --hue-brown: var(--hue-brown-dark);

  --hex-red: var(--hex-red-dark);
  --hex-orange: var(--hex-orange-dark);
  --hex-yellow: var(--hex-yellow-dark);
  --hex-green: var(--hex-green-dark);
  --hex-mint: var(--hex-mint-dark);
  --hex-teal: var(--hex-teal-dark);
  --hex-cyan: var(--hex-cyan-dark);
  --hex-blue: var(--hex-blue-dark);
  --hex-indigo: var(--hex-indigo-dark);
  --hex-purple: var(--hex-purple-dark);
  --hex-pink: var(--hex-pink-dark);
  --hex-brown: var(--hex-brown-dark);

  --hsl-red: var(--hsl-red-dark);
  --hsl-orange: var(--hsl-orange-dark);
  --hsl-yellow: var(--hsl-yellow-dark);
  --hsl-green: var(--hsl-green-dark);
  --hsl-mint: var(--hsl-mint-dark);
  --hsl-teal: var(--hsl-teal-dark);
  --hsl-cyan: var(--hsl-cyan-dark);
  --hsl-blue: var(--hsl-blue-dark);
  --hsl-indigo: var(--hsl-indigo-dark);
  --hsl-purple: var(--hsl-purple-dark);
  --hsl-pink: var(--hsl-pink-dark);
  --hsl-brown: var(--hsl-brown-dark);
}

[data-prefers-mode='dim'] {
  --hue-red: var(--hue-red-dim);
  --hue-orange: var(--hue-orange-dim);
  --hue-yellow: var(--hue-yellow-dim);
  --hue-green: var(--hue-green-dim);
  --hue-mint: var(--hue-mint-dim);
  --hue-teal: var(--hue-teal-dim);
  --hue-cyan: var(--hue-cyan-dim);
  --hue-blue: var(--hue-blue-dim);
  --hue-indigo: var(--hue-indigo-dim);
  --hue-purple: var(--hue-purple-dim);
  --hue-pink: var(--hue-pink-dim);
  --hue-brown: var(--hue-brown-dim);

  --hex-red: var(--hex-red-dim);
  --hex-orange: var(--hex-orange-dim);
  --hex-yellow: var(--hex-yellow-dim);
  --hex-green: var(--hex-green-dim);
  --hex-mint: var(--hex-mint-dim);
  --hex-teal: var(--hex-teal-dim);
  --hex-cyan: var(--hex-cyan-dim);
  --hex-blue: var(--hex-blue-dim);
  --hex-indigo: var(--hex-indigo-dim);
  --hex-purple: var(--hex-purple-dim);
  --hex-pink: var(--hex-pink-dim);
  --hex-brown: var(--hex-brown-dim);

  --hsl-red: var(--hsl-red-dim);
  --hsl-orange: var(--hsl-orange-dim);
  --hsl-yellow: var(--hsl-yellow-dim);
  --hsl-green: var(--hsl-green-dim);
  --hsl-mint: var(--hsl-mint-dim);
  --hsl-teal: var(--hsl-teal-dim);
  --hsl-cyan: var(--hsl-cyan-dim);
  --hsl-blue: var(--hsl-blue-dim);
  --hsl-indigo: var(--hsl-indigo-dim);
  --hsl-purple: var(--hsl-purple-dim);
  --hsl-pink: var(--hsl-pink-dim);
  --hsl-brown: var(--hsl-brown-dim);
}

[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  --c-red: var(--hex-red);
  --c-orange: var(--hex-orange);
  --c-yellow: var(--hex-yellow);
  --c-green: var(--hex-green);
  --c-mint: var(--hex-mint);
  --c-teal: var(--hex-teal);
  --c-cyan: var(--hex-cyan);
  --c-blue: var(--hex-blue);
  --c-indigo: var(--hex-indigo);
  --c-purple: var(--hex-purple);
  --c-pink: var(--hex-pink);
  --c-brown: var(--hex-brown);
}
