:root {
  --app-body-width: 320px;
  --app-font-size: 16px;
  --app-font-weight: 400;
  --app-line-height: 1.6;
  --app-letter-spacing: initial;
  --app-moz-font-smoothing: grayscale;
  --app-webkit-font-smoothing: antialiased;
  --app-focus-outline: solid 2px dodgerblue;

  --app-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --app-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  display: block;
  font-size: inherit;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  z-index: 0;
  display: flex;
  font-size: inherit;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  isolation: isolate;
  min-width: var(--app-body-width);
  max-width: none;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  font-size: var(--app-font-size);
  font-family: var(--app-font-family);
  font-weight: var(--app-font-weight);
  line-height: var(--app-line-height);
  letter-spacing: var(--app-letter-spacing);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: var(--app-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--app-moz-font-smoothing);

  @media screen and (max-device-width: 500px) {
    -webkit-text-size-adjust: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

svg + p {
  cursor: default;
}

code {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: var(--app-font-family-mono);
}

a {
  margin: 0;
  padding: 0;
  display: inline-flex;
  box-sizing: border-box;
  vertical-align: baseline;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;

  font-size: inherit;
  font-family: inherit;
  text-transform: none;
  text-decoration: none;

  color: inherit;
  background-color: inherit;
  outline: solid 2px transparent;
  border: solid 2px transparent;

  &[aria-disabled] {
    cursor: default;
  }
  &:not([aria-disabled]) {
    cursor: pointer;
  }
  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: var(--app-focus-outline);
  }
}

button {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: inherit;
}

label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

input,
select,
button,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font: inherit;
}

select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-transform: none;
}

[data-respect-reduced-motion] {
  @media (prefers-reduced-motion: reduce) {
    [data-reduce-motion] {
      transition: none;
      animation: none;
    }
  }
}
