.color-swatch-row {
  width: 100%;
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(9, 1fr);
}

.color-swatch-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.color-swatch-card {
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.color-swatch-label {
  font-size: 0.8rem;
}

.color-swatch-group {
  width: 100%;
}
