@use '../mixins' as mixins;

@layer reset {
  .layout,
  .layout-nav,
  .layout-menu,
  .layout-header,
  .layout-nav-box,
  .layout-menu-box,
  .layout-header-box,
  .layout-header-logo {
    @include mixins.reset;
  }
}

#root {
  display: block;
  position: relative;
  min-height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.layout {
  display: block;
  min-height: 100vh;
}

.layout-nav {
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--action-box);
  // height: calc(100% - var(--action-box));
  gap: var(--unit);

  &-lower,
  &-upper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--unit);
  }
}

.layout-header {
  top: 0;
  width: calc(100% - var(--action-box));
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: var(--action-box);

  &-left,
  &-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--unit);
  }

  &-logo-link {
    padding-inline: var(--gutter);
  }
}

.layout-menu {
  top: 0;
  left: 0;
  position: fixed;

  &-panel {
    position: absolute;
    transform: translate(-200%);
  }
}

.layout-content {
  display: block;
  margin-top: var(--action-box);
  margin-left: var(--action-box);
}
