@use '../mixins' as mixins;

@layer reset {
  .page {
    @include mixins.reset;
  }
}

.page {
  display: grid;
  place-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

.page-hero {
  display: grid;
  place-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  min-height: var(--app-height-hero);
}

// padding-block: var(--gutter);
// padding-inline: var(--gutter);

.page-content {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

.page-footer {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}
