.container {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

.page > .header > .container {
  height: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

.page > .hero > .container {
  height: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

.page > .content > .section > .container {
  height: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

.page > .footer > .container {
  height: 100%;
  max-width: 1400px;
  margin-inline: auto;
}
