.page > .header {
}

.header-nav {
  // outline: solid 2px indianred;
  .action-box {
    &-avatar {
      width: 32px;
      height: 32px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: var(--border-sm);
      border-radius: var(--radius-rd);
      background-color: var(--color-background-1);
      border-color: var(--color-border-1);

      &:hover {
        background-color: var(--color-background-1-hover);
      }
    }
  }
}
