.page,
.page-hero {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
}

.page {
  --page-height-header: 48px;

  width: 100%;
  position: relative;
  overflow-x: hidden;

  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(24, 1fr);

  &-header {
    grid-column: 1 / 25;

    top: 0;
    left: 0;
    right: 0;
    height: var(--page-height-header);
    z-index: 100;
    position: fixed;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(24, 1fr);
    background-color: rgba(var(--c-primary), 0.8);
    backdrop-filter: blur(16px);

    &-nav {
      grid-column: 1 / 25;
      overflow: hidden;
      &-item {
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: calc(var(--unit) * 4);
        color: rgba(var(--c-accent), 1);

        &:hover {
          background-color: rgba(var(--c-secondary), 0.04);
        }

        svg {
          width: calc(var(--unit) * 12);
          height: calc(var(--unit) * 12);
        }
      }
    }
  }

  &-content {
    // temporary
    min-height: 300vh;
    grid-row: 2 / 3;
    grid-column: 1 / 25;

    width: 100%;
    display: grid;
    position: relative;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(24, 1fr);
    background-color: rgba(var(--c-secondary), 0);
    color: rgba(var(--c-secondary), 0.87);

    & > div,
    & > section {
      grid-column: 1 / 25;
    }

    @media (min-width: 60em) {
      grid-column: 6 / 25;
    }
  }

  &-hero {
    grid-row: 1 / 2;
    grid-column: 1 / 25;

    display: grid;
    place-content: start;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(24, 1fr);
    margin-top: var(--page-height-header);
    height: calc(100vh - var(--page-height-header));
    color: rgba(var(--c-secondary), 0.87);

    & > div {
      grid-column: 1 / 25;
    }

    @media (min-width: 60em) {
      grid-column: 6 / 25;
      height: calc(50vh - var(--page-height-header));
    }
  }

  &-menu {
    top: 0;
    left: 0;
    bottom: 0;
    position: relative;
    transform: translateX(-100%);
    background-color: rgba(var(--c-secondary), 0.04);
    color: rgba(var(--c-secondary), 0.87);

    @media (min-width: 60em) {
      grid-row: 1 / 3;
      grid-column: 1 / 6;
      transform: translateX(0%);

      &-nav {
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        // position: -webkit-sticky;
        // position: sticky;

        &-item {
          display: inline-flex;
          width: 100%;
        }
      }
    }
  }
}

.section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(24, 1fr);
}
.section.accent {
  background-color: rgba(var(--c-accent), 0.2);
  color: rgba(var(--c-accent), 1);
}
.section.primary {
  color: rgba(var(--c-secondary), 0.87);
  background-color: rgba(var(--c-primary), 1);
}
.section.secondary {
  color: rgba(var(--c-primary), 0.87);
  background-color: rgba(var(--c-secondary), 1);
}
