.page {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  isolation: isolate;
  position: relative;
  z-index: 0;
}

.page > .header {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  box-sizing: border-box;
  height: var(--page-header-height);
  padding-inline: var(--page-gutter);
  // border: solid 1px limegreen;

  .header-nav {
    height: var(--page-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border-inline: solid 1px indianred;

    .logo-box {
      &-link {
      }
    }

    .action-box {
      &--avatar {
      }
      &--avatar-icon {
      }
    }
  }
}

.page > .hero {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  padding-block: var(--page-gutter);
  padding-inline: var(--page-gutter);

  .title {
    font-weight: 200;
    font-size: var(--page-title-height);
    line-height: var(--page-title-height);
    margin-top: calc(var(--page-header-height) + var(--page-hero-height));
  }
}

.page > .content {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

.page > .footer {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}
