.section {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

.page > .content > .section {
  padding-inline: var(--page-gutter);
}
.page > .content > .section--primary {
  background-color: var(--color-background-0);
}
.page > .content > .section--secondary {
  background-color: var(--color-background-0-invert);
  background-color: var(--color-text-0-invert);
}
