@use '../utils' as utils;

.v2-accordion {
  @include utils.reset;

  // width: 100%;
  // height: auto;
  // display: flex;
  // min-width: 200px;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  width: 100%;
  display: block;
}

.v2-accordion-item {
  @include utils.reset;

  width: 100%;
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: var(--v2-unit);
}

.v2-accordion-target {
  @include utils.reset;
  @include utils.button-focus;
  @include utils.button-cursor;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  text-align: center;
  user-select: none;
  font-weight: 600;
  line-height: 1;

  height: var(--v2-accordion-target-height);
  padding-inline: var(--v2-accordion-target-spacing-x);

  svg {
    width: var(--v2-accordion-target-icon-size);
    height: var(--v2-accordion-target-icon-size);
  }

  &-content {
    @include utils.reset;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    .v2-icon {
      transition-property: all;
      transition-duration: var(--v2-duration-slow-01);
      transition-timing-function: var(--v2-easing-expressive);
    }

    &[data-rotate]:not([data-active='true']) .v2-icon {
      transform: scaleX(1);
      rotate: 0deg;
    }

    &[data-rotate][data-active='true'] .v2-icon {
      rotate: 90deg;
    }

    [data-prefers-dir='rtl'] & {
      &[data-rotate]:not([data-active='true']) .v2-icon {
        transform: scaleX(-1);
        rotate: 0deg;
      }

      &[data-rotate][data-active='true'] .v2-icon {
        rotate: -90deg;
      }
    }
  }

  &-layout {
    @include utils.reset;

    gap: calc(var(--v2-accordion-target-spacing-x) * 1.5);
    width: 100%;
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: flex-start;

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  .v2-label {
    @include utils.reset;

    flex: 1 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    line-height: var(--v2-line-height-01);
    font-weight: var(--v2-font-weight-regular);
    font-family: var(--v2-font-family);
    font-size: var(--v2-accordion-target-font-size);
  }

  &--xxs {
    --v2-accordion-target-height: var(--v2-accordion-target-height-xxs);
    --v2-accordion-target-spacing-x: var(--v2-accordion-target-spacing-x-xxs);
    --v2-accordion-target-font-size: var(--v2-accordion-target-font-size-xxs);
    --v2-accordion-target-icon-size: var(--v2-accordion-target-icon-size-xxs);
  }

  &--xs {
    --v2-accordion-target-height: var(--v2-accordion-target-height-xs);
    --v2-accordion-target-spacing-x: var(--v2-accordion-target-spacing-x-xs);
    --v2-accordion-target-font-size: var(--v2-accordion-target-font-size-xs);
    --v2-accordion-target-icon-size: var(--v2-accordion-target-icon-size-xs);
  }

  &--sm {
    --v2-accordion-target-height: var(--v2-accordion-target-height-sm);
    --v2-accordion-target-spacing-x: var(--v2-accordion-target-spacing-x-sm);
    --v2-accordion-target-font-size: var(--v2-accordion-target-font-size-sm);
    --v2-accordion-target-icon-size: var(--v2-accordion-target-icon-size-sm);
  }

  &--md {
    --v2-accordion-target-height: var(--v2-accordion-target-height-md);
    --v2-accordion-target-spacing-x: var(--v2-accordion-target-spacing-x-md);
    --v2-accordion-target-font-size: var(--v2-accordion-target-font-size-md);
    --v2-accordion-target-icon-size: var(--v2-accordion-target-icon-size-md);
  }

  &--lg {
    --v2-accordion-target-height: var(--v2-accordion-target-height-lg);
    --v2-accordion-target-spacing-x: var(--v2-accordion-target-spacing-x-lg);
    --v2-accordion-target-font-size: var(--v2-accordion-target-font-size-lg);
    --v2-accordion-target-icon-size: var(--v2-accordion-target-icon-size-lg);
  }

  &--xl {
    --v2-accordion-target-height: var(--v2-accordion-target-height-xl);
    --v2-accordion-target-spacing-x: var(--v2-accordion-target-spacing-x-xl);
    --v2-accordion-target-font-size: var(--v2-accordion-target-font-size-xl);
    --v2-accordion-target-icon-size: var(--v2-accordion-target-icon-size-xl);
  }

  &--xxl {
    --v2-accordion-target-height: var(--v2-accordion-target-height-xxl);
    --v2-accordion-target-spacing-x: var(--v2-accordion-target-spacing-x-xxl);
    --v2-accordion-target-font-size: var(--v2-accordion-target-font-size-xxl);
    --v2-accordion-target-icon-size: var(--v2-accordion-target-icon-size-xxl);
  }
}

.v2-accordion-panel {
  width: 100%;
  display: block;
}
