@use '../../config' as *;
@use '../utils' as utils;

.v2-action {
  @include utils.reset;
  @include utils.button-focus;
  @include utils.button-cursor;

  width: var(--v2-action-button);
  height: var(--v2-action-button);
}

.v2-action-spacer {
  @include utils.reset;

  display: flex;
  flex: 1 1;

  [data-orientation='horizontal'] & {
    width: 100%;
  }
  [data-orientation='vertical'] & {
    height: 100%;
  }

  &[data-grow] {
    flex: 1 0;
    display: flex;
  }
}
