.v2-checkbox {
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;

  input {
    z-index: 1;
    appearance: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
