.v2-divider {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--v2-divider-height);
  position: relative;

  &::before,
  &::after {
    flex: 1;
    content: '';
    height: var(--v2-divider-size);
    border-top-width: var(--v2-divider-size);
    border-top-style: var(--v2-divider-decoration);
  }

  [data-prefers-dir='rtl'] & {
    flex-direction: row-reverse;
  }

  &[data-position='end']::after {
    flex: 0;
  }

  &[data-position='start']::before {
    flex: 0;
  }

  &-label {
    display: flex;
    align-items: center;
    transform: translateY(-20%);
    font-size: var(--v2-divider-font-size) !important;
    font-weight: var(--v2-font-weight-medium);
    line-height: 1;
    direction: ltr;
    text-align: left;

    [data-prefers-dir='rtl'] & {
      text-align: right;
      direction: rtl;
    }

    &:where([data-truncate]) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:where([data-truncate='start']) {
      direction: rtl;
      text-align: right;

      [data-prefers-dir='rtl'] & {
        direction: ltr;
        text-align: left;
      }
    }
  }

  .v2-icon {
    width: var(--v2-divider-font-size) !important;
    height: var(--v2-divider-font-size) !important;
  }

  &-content {
    gap: var(--v2-divider-gap);
    height: var(--v2-divider-font-size);
    display: inline-flex;
    align-items: center;

    &[data-position='end']:not([data-with-label]):not([data-with-icon]),
    &[data-position='start']:not([data-with-label]):not([data-with-icon]),
    &[data-position='center']:not([data-with-label]):not([data-with-icon]) {
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    &[data-position='start'][data-with-icon]:not([data-with-label]),
    &[data-position='start'][data-with-label]:not([data-with-icon]) {
      margin-inline-start: 0;
      margin-inline-end: var(--v2-divider-gap);

      [data-prefers-dir='rtl'] & {
        margin-inline-start: var(--v2-divider-gap);
        margin-inline-end: 0;
      }
    }

    &[data-position='start'][data-with-icon][data-with-label] {
      margin-inline-start: 0;
      margin-inline-end: var(--v2-divider-gap);

      [data-prefers-dir='rtl'] & {
        margin-inline-start: var(--v2-divider-gap);
        margin-inline-end: 0;
      }
    }

    &[data-position='end'][data-with-icon]:not([data-with-label]),
    &[data-position='end'][data-with-label]:not([data-with-icon]) {
      margin-inline-start: var(--v2-divider-gap);
      margin-inline-end: 0;

      [data-prefers-dir='rtl'] & {
        margin-inline-start: 0;
        margin-inline-end: var(--v2-divider-gap);
      }
    }

    &[data-position='end'][data-with-icon][data-with-label] {
      margin-inline-start: var(--v2-divider-gap);
      margin-inline-end: 0;

      [data-prefers-dir='rtl'] & {
        margin-inline-start: 0;
        margin-inline-end: var(--v2-divider-gap);
      }
    }

    &[data-with-icon][data-with-label],
    &[data-position='center'][data-with-icon]:not([data-with-label]),
    &[data-position='center'][data-with-label]:not([data-with-icon]) {
      margin-inline-start: var(--v2-divider-gap);
      margin-inline-end: var(--v2-divider-gap);
    }
  }

  &--solid::after,
  &--solid::before {
    --v2-divider-decoration: solid;
  }

  &--dotted::after,
  &--dotted::before {
    --v2-divider-decoration: dotted;
  }

  &--dashed::after,
  &--dashed::before {
    --v2-divider-decoration: dashed;
  }

  &--sm {
    --v2-divider-font-size: var(--v2-divider-font-size-sm);
    --v2-divider-size: var(--v2-divider-size-sm);
    --v2-divider-gap: var(--v2-divider-gap-sm);
  }

  &--md {
    --v2-divider-font-size: var(--v2-divider-font-size-md);
    --v2-divider-size: var(--v2-divider-size-md);
    --v2-divider-gap: var(--v2-divider-gap-md);
  }

  &--lg {
    --v2-divider-font-size: var(--v2-divider-font-size-lg);
    --v2-divider-size: var(--v2-divider-size-lg);
    --v2-divider-gap: var(--v2-divider-gap-lg);
  }
}
