@use '../utils' as utils;

.v2-icon-button {
  @include utils.reset;
  @include utils.button-focus;
  @include utils.button-cursor;

  width: auto;
  display: inline;
  position: relative;
  overflow: hidden;
  text-align: center;
  user-select: none;
  border-style: solid;
  border-color: transparent;
  border-width: var(--v2-unit);
  border-radius: var(--v2-icon-button-radius);

  &-layout {
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
    width: var(--v2-icon-button-size);
    height: var(--v2-icon-button-size);
    padding: var(--v2-icon-button-spacing);
  }

  &-layout svg {
    min-width: var(--v2-icon-button-icon-size);
    min-height: var(--v2-icon-button-icon-size);
  }

  &--squared {
    --v2-icon-button-radius: none;
  }

  &--rounded {
    --v2-icon-button-radius: calc(var(--v2-unit) * 4);
  }

  &--round {
    --v2-icon-button-radius: calc(var(--v2-unit) * 1000);
  }

  &--xxs {
    --v2-icon-button-size: var(--v2-icon-button-size-xxs);
    --v2-icon-button-spacing: var(--v2-icon-button-spacing-xxs);
    --v2-icon-button-icon-size: var(--v2-icon-button-icon-size-xxs);
  }

  &--xs {
    --v2-icon-button-size: var(--v2-icon-button-size-xs);
    --v2-icon-button-spacing: var(--v2-icon-button-spacing-xs);
    --v2-icon-button-icon-size: var(--v2-icon-button-icon-size-xs);
  }

  &--sm {
    --v2-icon-button-size: var(--v2-icon-button-size-sm);
    --v2-icon-button-spacing: var(--v2-icon-button-spacing-sm);
    --v2-icon-button-icon-size: var(--v2-icon-button-icon-size-sm);
  }

  &--md {
    --v2-icon-button-size: var(--v2-icon-button-size-md);
    --v2-icon-button-spacing: var(--v2-icon-button-spacing-md);
    --v2-icon-button-icon-size: var(--v2-icon-button-icon-size-md);
  }

  &--lg {
    --v2-icon-button-size: var(--v2-icon-button-size-lg);
    --v2-icon-button-spacing: var(--v2-icon-button-spacing-lg);
    --v2-icon-button-icon-size: var(--v2-icon-button-icon-size-lg);
  }

  &--xl {
    --v2-icon-button-size: var(--v2-icon-button-size-xl);
    --v2-icon-button-spacing: var(--v2-icon-button-spacing-xl);
    --v2-icon-button-icon-size: var(--v2-icon-button-icon-size-xl);
  }

  &--xxl {
    --v2-icon-button-size: var(--v2-icon-button-size-xxl);
    --v2-icon-button-spacing: var(--v2-icon-button-spacing-xxl);
    --v2-icon-button-icon-size: var(--v2-icon-button-icon-size-xxl);
  }
}
