@use '../utils' as utils;

.v2-select {
  &-list {
    @include utils.reset;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--v2-unit);
    border-width: var(--v2-unit);
    border-color: transparent;
    border-style: solid;
  }

  &-target,
  &-option {
    @include utils.reset;
    @include utils.button-focus;
    @include utils.button-cursor;

    border-width: var(--v2-unit);
    border-color: transparent;
    border-style: solid;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-target {
    min-width: 240px;
    height: var(--v2-select-target-height);
    padding-inline: var(--v2-select-target-spacing-x);
  }

  &-option {
    height: var(--v2-select-option-height);
    padding-inline: var(--v2-select-option-spacing-x);
  }

  &-target-layout,
  &-option-layout {
    @include utils.reset;

    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  &-target-layout {
    gap: var(--v2-select-target-gap);
    font-size: var(--v2-select-target-font-size);
  }

  &-option-layout {
    gap: var(--v2-select-option-gap);
    font-size: var(--v2-select-option-font-size);
  }

  &-target .v2-icon {
    width: var(--v2-select-target-icon-size);
    height: var(--v2-select-target-icon-size);
  }

  &-option .v2-icon {
    width: var(--v2-select-option-icon-size);
    height: var(--v2-select-option-icon-size);
  }

  &--xxs {
    --v2-select-target-gap: var(--v2-select-target-gap-xxs);
    --v2-select-target-height: var(--v2-select-target-height-xxs);
    --v2-select-target-spacing-x: var(--v2-select-target-spacing-x-xxs);
    --v2-select-target-font-size: var(--v2-select-target-font-size-xxs);
    --v2-select-target-icon-size: var(--v2-select-target-icon-size-xxs);
    --v2-select-option-gap: var(--v2-select-option-gap-xxs);
    --v2-select-option-height: var(--v2-select-option-height-xxs);
    --v2-select-option-spacing-x: var(--v2-select-option-spacing-x-xxs);
    --v2-select-option-font-size: var(--v2-select-option-font-size-xxs);
    --v2-select-option-icon-size: var(--v2-select-option-icon-size-xxs);
  }
}

.v2-select-list,
.v2-select-target,
.v2-select-option {
  &--xs {
    --v2-select-target-gap: var(--v2-select-target-gap-xs);
    --v2-select-target-height: var(--v2-select-target-height-xs);
    --v2-select-target-spacing-x: var(--v2-select-target-spacing-x-xs);
    --v2-select-target-font-size: var(--v2-select-target-font-size-xs);
    --v2-select-target-icon-size: var(--v2-select-target-icon-size-xs);
    --v2-select-option-gap: var(--v2-select-option-gap-xs);
    --v2-select-option-height: var(--v2-select-option-height-xs);
    --v2-select-option-spacing-x: var(--v2-select-option-spacing-x-xs);
    --v2-select-option-font-size: var(--v2-select-option-font-size-xs);
    --v2-select-option-icon-size: var(--v2-select-option-icon-size-xs);
  }

  &--sm {
    --v2-select-target-gap: var(--v2-select-target-gap-sm);
    --v2-select-target-height: var(--v2-select-target-height-sm);
    --v2-select-target-spacing-x: var(--v2-select-target-spacing-x-sm);
    --v2-select-target-font-size: var(--v2-select-target-font-size-sm);
    --v2-select-target-icon-size: var(--v2-select-target-icon-size-sm);
    --v2-select-option-gap: var(--v2-select-option-gap-sm);
    --v2-select-option-height: var(--v2-select-option-height-sm);
    --v2-select-option-spacing-x: var(--v2-select-option-spacing-x-sm);
    --v2-select-option-font-size: var(--v2-select-option-font-size-sm);
    --v2-select-option-icon-size: var(--v2-select-option-icon-size-sm);
  }

  &--md {
    --v2-select-target-gap: var(--v2-select-target-gap-md);
    --v2-select-target-height: var(--v2-select-target-height-md);
    --v2-select-target-spacing-x: var(--v2-select-target-spacing-x-md);
    --v2-select-target-font-size: var(--v2-select-target-font-size-md);
    --v2-select-target-icon-size: var(--v2-select-target-icon-size-md);
    --v2-select-option-gap: var(--v2-select-option-gap-md);
    --v2-select-option-height: var(--v2-select-option-height-md);
    --v2-select-option-spacing-x: var(--v2-select-option-spacing-x-md);
    --v2-select-option-font-size: var(--v2-select-option-font-size-md);
    --v2-select-option-icon-size: var(--v2-select-option-icon-size-md);
  }

  &--lg {
    --v2-select-target-gap: var(--v2-select-target-gap-lg);
    --v2-select-target-height: var(--v2-select-target-height-lg);
    --v2-select-target-spacing-x: var(--v2-select-target-spacing-x-lg);
    --v2-select-target-font-size: var(--v2-select-target-font-size-lg);
    --v2-select-target-icon-size: var(--v2-select-target-icon-size-lg);
    --v2-select-option-gap: var(--v2-select-option-gap-lg);
    --v2-select-option-height: var(--v2-select-option-height-lg);
    --v2-select-option-spacing-x: var(--v2-select-option-spacing-x-lg);
    --v2-select-option-font-size: var(--v2-select-option-font-size-lg);
    --v2-select-option-icon-size: var(--v2-select-option-icon-size-lg);
  }

  &--xl {
    --v2-select-target-gap: var(--v2-select-target-gap-xl);
    --v2-select-target-height: var(--v2-select-target-height-xl);
    --v2-select-target-spacing-x: var(--v2-select-target-spacing-x-xl);
    --v2-select-target-font-size: var(--v2-select-target-font-size-xl);
    --v2-select-target-icon-size: var(--v2-select-target-icon-size-xl);
    --v2-select-option-gap: var(--v2-select-option-gap-xl);
    --v2-select-option-height: var(--v2-select-option-height-xl);
    --v2-select-option-spacing-x: var(--v2-select-option-spacing-x-xl);
    --v2-select-option-font-size: var(--v2-select-option-font-size-xl);
    --v2-select-option-icon-size: var(--v2-select-option-icon-size-xl);
  }

  &--xxl {
    --v2-select-target-gap: var(--v2-select-target-gap-xxl);
    --v2-select-target-height: var(--v2-select-target-height-xxl);
    --v2-select-target-spacing-x: var(--v2-select-target-spacing-x-xxl);
    --v2-select-target-font-size: var(--v2-select-target-font-size-xxl);
    --v2-select-target-icon-size: var(--v2-select-target-icon-size-xxl);
    --v2-select-option-gap: var(--v2-select-option-gap-xxl);
    --v2-select-option-height: var(--v2-select-option-height-xxl);
    --v2-select-option-spacing-x: var(--v2-select-option-spacing-x-xxl);
    --v2-select-option-font-size: var(--v2-select-option-font-size-xxl);
    --v2-select-option-icon-size: var(--v2-select-option-icon-size-xxl);
  }
}
