@use '../utils' as utils;
.v2-tabs,
.v2-tabs-list,
.v2-tabs-panel,
.v2-tabs-item,
.v2-tabs-item-label,
.v2-tabs-item-layout {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.v2-tabs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  &[data-orientation='vertical'] {
    flex-direction: row;
  }
}

.v2-tabs-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--v2-unit);

  [data-prefers-dir='rtl'] & {
    align-items: flex-end;
    justify-content: flex-end;
  }

  [data-orientation='horizontal'] & {
    flex-direction: row;
  }
  [data-orientation='vertical'] & {
    flex-direction: column;
    width: max-content;
  }
}

.v2-tabs-panel {
  width: 100%;
  display: block;
}

.v2-tabs-item {
  @include utils.reset;
  @include utils.button-focus;
  @include utils.button-cursor;
  @include utils.where-writing-mode;

  z-index: 0;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: var(--v2-duration-moderate-01);
  transition-timing-function: var(--v2-easing-productive);

  height: var(--v2-tabs-item-height);
  font-size: var(--v2-tabs-item-font-size);

  [data-grow] &,
  &[data-grow] {
    flex: 1 0;

    [data-orientation='vertical'] & {
      flex: none;
    }
  }

  [data-orientation='vertical'] & {
    min-width: 160px;
  }

  &::after {
    content: '';
    position: absolute;

    [data-orientation='vertical'] & {
      width: var(--v2-unit);
      bottom: 0;
      left: 0;
      top: 0;
    }

    [data-orientation='horizontal'] & {
      height: var(--v2-unit);
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &-layout {
    gap: calc(var(--v2-button-spacing-x) * 1.5);
    display: flex;
    overflow: visible;
    min-width: max-content;
    align-items: center;
    justify-content: space-between;
    margin-inline: var(--v2-tabs-item-spacing-x);

    [data-prefers-dir='rtl'] & {
      flex-direction: row-reverse;
    }
  }

  &-label {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    font-size: var(--v2-tabs-item-font-size);
    font-weight: var(--v2-font-weight-medium);
    font-family: var(--v2-font-family);
    line-height: var(--v2-line-height-01);
    opacity: 1;

    &:where([data-loading]) {
      opacity: 0.2;
    }
  }

  &--xxs {
    --v2-tabs-item-height: var(--v2-tabs-item-height-xxs);
    --v2-tabs-item-font-size: var(--v2-tabs-item-font-size-xxs);
    --v2-tabs-item-spacing-x: var(--v2-tabs-item-spacing-x-xxs);
  }

  &--xs {
    --v2-tabs-item-height: var(--v2-tabs-item-height-xs);
    --v2-tabs-item-font-size: var(--v2-tabs-item-font-size-xs);
    --v2-tabs-item-spacing-x: var(--v2-tabs-item-spacing-x-xs);
  }

  &--sm {
    --v2-tabs-item-height: var(--v2-tabs-item-height-sm);
    --v2-tabs-item-font-size: var(--v2-tabs-item-font-size-sm);
    --v2-tabs-item-spacing-x: var(--v2-tabs-item-spacing-x-sm);
  }

  &--md {
    --v2-tabs-item-height: var(--v2-tabs-item-height-md);
    --v2-tabs-item-font-size: var(--v2-tabs-item-font-size-md);
    --v2-tabs-item-spacing-x: var(--v2-tabs-item-spacing-x-md);
  }

  &--lg {
    --v2-tabs-item-height: var(--v2-tabs-item-height-lg);
    --v2-tabs-item-font-size: var(--v2-tabs-item-font-size-lg);
    --v2-tabs-item-spacing-x: var(--v2-tabs-item-spacing-x-lg);
  }

  &--xl {
    --v2-tabs-item-height: var(--v2-tabs-item-height-xl);
    --v2-tabs-item-font-size: var(--v2-tabs-item-font-size-xl);
    --v2-tabs-item-spacing-x: var(--v2-tabs-item-spacing-x-xl);
  }

  &--xxl {
    --v2-tabs-item-height: var(--v2-tabs-item-height-xxl);
    --v2-tabs-item-font-size: var(--v2-tabs-item-font-size-xxl);
    --v2-tabs-item-spacing-x: var(--v2-tabs-item-spacing-x-xxl);
  }
}
