@use '../mixins' as mixins;

@layer reset {
  .title {
    @include mixins.reset;
    font-size: inherit;
  }
}

.title {
  width: 100%;
  display: block;
  line-height: 1.4;
  font-weight: 500;
  text-align: left;
  direction: ltr;

  @include mixins.rtl {
    text-align: right;
    direction: rtl;
  }

  &[data-truncate='start'] {
    text-align: right;
    direction: rtl;

    @include mixins.rtl {
      text-align: left;
      direction: ltr;
    }
  }

  &[data-truncate] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
}
