@use '../mixins' as mixins;

@include mixins.mode-dim {
  --c-primary-text: hsl(230, 12%, 99%);
  --c-primary-base: hsl(230, 12%, 12%);
  --c-primary-hover: hsl(230, 12%, 12%);
  --c-primary-pressed: hsl(230, 12%, 12%);
  --c-primary-selected: hsl(230, 12%, 12%);
  --c-primary-disabled: hsl(230, 12%, 12%);

  --c-secondary-text: hsl(230, 12%, 12%);
  --c-secondary-base: hsl(230, 12%, 99%);
  --c-secondary-hover: hsl(230, 12%, 99%);
  --c-secondary-pressed: hsl(230, 12%, 99%);
  --c-secondary-selected: hsl(230, 12%, 99%);
  --c-secondary-disabled: hsl(230, 12%, 99%);

  --c-tertiary-text: hsl(230, 12%, 99%);
  --c-tertiary-base: hsl(230, 12%, 22%);
  --c-primary-hover: hsl(230, 12%, 22%);
  --c-primary-pressed: hsl(230, 12%, 22%);
  --c-primary-selected: hsl(230, 12%, 22%);
  --c-primary-disabled: hsl(230, 12%, 22%);
}

@include mixins.mode-dark {
  --c-primary-text: hsl(230, 06%, 99%);
  --c-primary-base: hsl(230, 06%, 08%);
  --c-primary-hover: hsl(230, 06%, 08%);
  --c-primary-pressed: hsl(230, 06%, 08%);
  --c-primary-selected: hsl(230, 06%, 08%);
  --c-primary-disabled: hsl(230, 06%, 08%);

  --c-secondary-text: hsl(230, 06%, 08%);
  --c-secondary-base: hsl(230, 06%, 99%);
  --c-secondary-hover: hsl(230, 06%, 99%);
  --c-secondary-pressed: hsl(230, 06%, 99%);
  --c-secondary-selected: hsl(230, 06%, 99%);
  --c-secondary-disabled: hsl(230, 06%, 99%);

  --c-tertiary-text: hsl(230, 06%, 99%);
  --c-tertiary-base: hsl(230, 06%, 18%);
  --c-primary-hover: hsl(230, 06%, 18%);
  --c-primary-pressed: hsl(230, 06%, 18%);
  --c-primary-selected: hsl(230, 06%, 18%);
  --c-primary-disabled: hsl(230, 06%, 18%);
}

@include mixins.mode-light {
  --c-primary-text: hsl(230, 06%, 08%);
  --c-primary-base: hsl(230, 06%, 99%);
  --c-primary-hover: hsl(230, 06%, 94%);
  --c-primary-pressed: hsl(230, 06%, 89%);
  --c-primary-selected: hsl(230, 06%, 99%);
  --c-primary-disabled: hsl(230, 06%, 99%);

  --c-secondary-text: hsl(230, 06%, 99%);
  --c-secondary-base: hsl(230, 06%, 08%);
  --c-secondary-hover: hsl(230, 06%, 13%);
  --c-secondary-pressed: hsl(230, 06%, 18%);
  --c-secondary-selected: hsl(230, 06%, 08%);
  --c-secondary-disabled: hsl(230, 06%, 08%);

  --c-tertiary-text: hsl(230, 06%, 08%);
  --c-tertiary-base: hsl(230, 06%, 89%);
  --c-tertiary-hover: hsl(230, 06%, 84%);
  --c-tertiary-pressed: hsl(230, 06%, 79%);
  --c-tertiary-selected: hsl(230, 06%, 89%);
  --c-tertiary-disabled: hsl(230, 06%, 89%);
}

@include mixins.mode {
  color: var(--c-primary-text);
  background-color: var(--c-primary-base);

  [data-scheme='primary'] {
    color: var(--c-primary-text);
    background-color: var(--c-primary-base);

    .button--default,
    .action--default {
      color: var(--c-primary-text);
      background-color: var(--c-primary-base);

      &:not([aria-disabled]):hover,
      &:not([data-disabled]):hover {
        background-color: var(--c-primary-hover);
      }
      &:not([aria-disabled]):active,
      &:not([data-disabled]):active {
        background-color: var(--c-primary-pressed);
      }
    }
  }

  [data-scheme='secondary'] {
    color: var(--c-secondary-text);
    background-color: var(--c-secondary-base);

    .button--default,
    .action--default {
      color: var(--c-secondary-text);
      background-color: var(--c-secondary-base);

      &:not([aria-disabled]):hover,
      &:not([data-disabled]):hover {
        background-color: var(--c-secondary-hover);
      }
      &:not([aria-disabled]):active,
      &:not([data-disabled]):active {
        background-color: var(--c-secondary-pressed);
      }
    }
  }

  [data-scheme='tertiary'] {
    color: var(--c-tertiary-text);
    background-color: var(--c-tertiary-base);

    .button--default,
    .action--default {
      color: var(--c-tertiary-text);
      background-color: var(--c-tertiary-base);

      &:not([aria-disabled]):hover,
      &:not([data-disabled]):hover {
        background-color: var(--c-tertiary-hover);
      }
      &:not([aria-disabled]):active,
      &:not([data-disabled]):active {
        background-color: var(--c-tertiary-pressed);
      }
    }
  }
}
