.sec-home-hero {
  height: calc(100vh + var(--page-nav-height));
  display: block;
  position: relative;
  max-width: var(--page-width);
  margin-inline: auto;
  isolation: isolate;
  z-index: 0;

  h1,
  h2 {
    display: block;
    line-height: 1.2;
    transition-property: color;
    transition-timing-function: var(--easing-standard-expressive);
    transition-duration: var(--easing-duration-5);
    padding-inline: var(--page-gutter);
  }

  h1 {
    font-weight: var(--font-weight-med);
    font-size: calc(var(--unit) * 16);

    @media (min-width: 40em) {
      font-size: calc(var(--unit) * 20);
    }
    @media (min-width: 60em) {
      font-size: calc(var(--unit) * 24);
    }
  }

  h2 {
    font-weight: var(--font-weight-reg);
    font-size: calc(var(--unit) * 14);
    color: rgba(var(--c-accent), 1);

    @media (min-width: 40em) {
      font-size: calc(var(--unit) * 16);
    }
    @media (min-width: 60em) {
      font-size: calc(var(--unit) * 18);
    }
  }

  &-pattern {
    z-index: -2;
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    margin-top: var(--page-nav-height);
  }

  &-content {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.sec-home-overview {
  padding-block: calc(var(--unit) * 32);

  &-header h3 {
    font-size: calc(var(--unit) * 20);
    margin-top: calc(var(--unit) * 16);
  }
  &-content .Text {
    font-size: calc(var(--unit) * 12);
    margin-top: calc(var(--unit) * 16);
    color: rgba(var(--c-secondary), 0.76);
  }
}

.sec-home-experience {
  padding-block: calc(var(--unit) * 32);

  &-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    margin-top: calc(var(--unit) * 16);
    gap: calc(var(--unit) * 8);

    @media (min-width: 60em) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
