@layer token-colors {
  :root {
    --v2-hue-yellow: 50, 100%;
    --v2-hue-blue: 210, 100%;
    --v2-hue-cyan: 200, 100%;
    --v2-hue-green: 150, 80%;
    --v2-hue-grey: 0, 0%;
    --v2-hue-magenta: 330, 100%;
    --v2-hue-orange: 30, 100%;
    --v2-hue-purple: 260, 100%;
    --v2-hue-red: 0, 100%;
    --v2-hue-slate: 210, 10%;
    --v2-hue-stone: 0, 4%;
    --v2-hue-teal: 180, 60%;
  }
}
