[data-prefers-mode='dark'] {
  --c-hue-base: 240, 4%, 04%;
  --c-hue-cont: 240, 8%, 99%;
  --c-hue-neut: 240, 8%, 64%;

  [data-scheme='primary'] {
    --c-hue-base: 240, 4%, 04%;
    --c-hue-cont: 240, 8%, 99%;
    --c-hue-neut: 240, 8%, 64%;
  }

  [data-scheme='secondary'] {
    --c-hue-base: 240, 4%, 99%;
    --c-hue-cont: 240, 8%, 04%;
    --c-hue-neut: 240, 8%, 36%;
  }
}
