[data-prefers-mode='dark'] {
  --c-hue-base: 227, 2%, 04%;
  --c-hue-cont: 227, 2%, 99%;
  --c-hue-neut: 227, 2%, 64%;

  [data-scheme='primary'] {
    --c-hue-base: 227, 2%, 04%;
    --c-hue-cont: 227, 2%, 99%;
    --c-hue-neut: 227, 2%, 64%;
  }

  [data-scheme='secondary'] {
    --c-hue-base: 227, 2%, 99%;
    --c-hue-cont: 227, 2%, 04%;
    --c-hue-neut: 227, 2%, 36%;
  }
}
