[data-prefers-mode='dim'] {
  --c-hue-base: 240, 4%, 12%;
  --c-hue-cont: 240, 8%, 99%;
  --c-hue-neut: 240, 8%, 64%;

  [data-scheme='primary'] {
    --c-hue-base: 240, 4%, 12%;
    --c-hue-cont: 240, 8%, 99%;
    --c-hue-neut: 240, 8%, 64%;
  }

  [data-scheme='secondary'] {
    --c-hue-base: 240, 4%, 99%;
    --c-hue-cont: 240, 8%, 12%;
    --c-hue-neut: 240, 8%, 36%;
  }
}
