[data-prefers-mode='light'] {
  --c-step: 0.06;

  --c-hue-base: 220, 2%, 96%;
  --c-hue-neut: 220, 2%, 64%;
  --c-hue-cont: 220, 2%, 04%;

  [data-scheme='primary'] {
    --c-hue-base: 220, 2%, 96%;
    --c-hue-neut: 220, 2%, 64%;
    --c-hue-cont: 220, 2%, 04%;
  }

  [data-scheme='secondary'] {
    --c-hue-base: 220, 2%, 04%;
    --c-hue-neut: 220, 2%, 64%;
    --c-hue-cont: 220, 2%, 96%;
  }
}
