[data-prefers-mode='dim'] {
  --c-step: 0.04;

  --c-hue-base: 220, 2%, 08%;
  --c-hue-neut: 220, 2%, 40%;
  --c-hue-cont: 220, 2%, 96%;

  [data-scheme='primary'] {
    --c-hue-base: 220, 2%, 08%;
    --c-hue-neut: 220, 2%, 40%;
    --c-hue-cont: 220, 2%, 96%;
  }

  [data-scheme='secondary'] {
    --c-hue-base: 220, 2%, 96%;
    --c-hue-neut: 220, 2%, 60%;
    --c-hue-cont: 220, 2%, 04%;
  }
}
