@mixin default-enabled {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--c-surface-default-enabled);
    color: var(--c-on-surface-default-enabled);
  }
}

@mixin default-hovered {
  &:not([data-disabled], [data-loading], [data-readonly]):hover {
    background-color: var(--c-surface-default-hovered);
    color: var(--c-on-surface-default-hovered);
  }
}

@mixin default-pressed {
  &:not([data-disabled], [data-loading], [data-readonly]):active {
    background-color: var(--c-surface-default-pressed);
    color: var(--c-on-surface-default-pressed);
  }
}

@mixin default-selected {
  &:not([data-disabled], [data-loading], [data-readonly])[data-selected] {
    background-color: var(--c-surface-default-selected);
    color: var(--c-on-surface-default-selected);
  }
}

@mixin default($hoverable: true, $pressable: true, $selectable: false) {
  @include default-enabled();

  @if ($hoverable == true) {
    @include default-hovered();
  }
  @if ($pressable == true) {
    @include default-pressed();
  }
  @if ($selectable == true) {
    @include default-selected();
  }
}

@mixin default-accent-enabled {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--c-surface-default-accent-enabled);
    color: var(--c-on-surface-default-accent-enabled);
  }
}

@mixin default-accent-hovered {
  &:not([data-disabled], [data-loading], [data-readonly]):hover {
    background-color: var(--c-surface-default-accent-hovered);
    color: var(--c-on-surface-default-accent-hovered);
  }
}

@mixin default-accent-pressed {
  &:not([data-disabled], [data-loading], [data-readonly]):active {
    background-color: var(--c-surface-default-accent-pressed);
    color: var(--c-on-surface-default-accent-pressed);
  }
}

@mixin default-accent-selected {
  &:not([data-disabled], [data-loading], [data-readonly])[data-selected] {
    background-color: var(--c-surface-default-accent-selected);
    color: var(--c-on-surface-default-accent-selected);
  }
}

@mixin default-accent($hoverable: true, $pressable: true, $selectable: false) {
  @include default-accent-enabled();

  @if ($hoverable == true) {
    @include default-accent-hovered();
  }
  @if ($pressable == true) {
    @include default-accent-pressed();
  }
  @if ($selectable == true) {
    @include default-accent-selected();
  }
}

@mixin default-accent-tonal-enabled {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--c-surface-default-accent-tonal-enabled);
    color: var(--c-on-surface-default-accent-tonal-enabled);
  }
}

@mixin default-accent-tonal-hovered {
  &:not([data-disabled], [data-loading], [data-readonly]):hover {
    background-color: var(--c-surface-default-accent-tonal-hovered);
    color: var(--c-on-surface-default-accent-tonal-hovered);
  }
}

@mixin default-accent-tonal-pressed {
  &:not([data-disabled], [data-loading], [data-readonly]):active {
    background-color: var(--c-surface-default-accent-tonal-pressed);
    color: var(--c-on-surface-default-accent-tonal-pressed);
  }
}

@mixin default-accent-tonal-selected {
  &:not([data-disabled], [data-loading], [data-readonly])[data-selected] {
    background-color: var(--c-surface-default-accent-tonal-selected);
    color: var(--c-on-surface-default-accent-tonal-selected);
  }
}

@mixin default-accent-tonal($hoverable: true, $pressable: true, $selectable: false) {
  @include default-accent-tonal-enabled();

  @if ($hoverable == true) {
    @include default-accent-tonal-hovered();
  }
  @if ($pressable == true) {
    @include default-accent-tonal-pressed();
  }
  @if ($selectable == true) {
    @include default-accent-tonal-selected();
  }
}

@mixin elevated-enabled {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--c-surface-elevated-enabled);
    color: var(--c-on-surface-elevated-enabled);
  }
}

@mixin elevated-hovered {
  &:not([data-disabled], [data-loading], [data-readonly]):hover {
    background-color: var(--c-surface-elevated-hovered);
    color: var(--c-on-surface-elevated-hovered);
  }
}

@mixin elevated-pressed {
  &:not([data-disabled], [data-loading], [data-readonly]):active {
    background-color: var(--c-surface-elevated-pressed);
    color: var(--c-on-surface-elevated-pressed);
  }
}

@mixin elevated-selected {
  &:not([data-disabled], [data-loading], [data-readonly])[data-selected] {
    background-color: var(--c-surface-elevated-selected);
    color: var(--c-on-surface-elevated-selected);
  }
}

@mixin elevated($hoverable: true, $pressable: true, $selectable: false) {
  @include elevated-enabled();

  @if ($hoverable == true) {
    @include elevated-hovered();
  }
  @if ($pressable == true) {
    @include elevated-pressed();
  }
  @if ($selectable == true) {
    @include elevated-selected();
  }
}

@mixin elevated-accent-enabled {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--c-surface-elevated-accent-enabled);
    color: var(--c-on-surface-elevated-accent-enabled);
  }
}

@mixin elevated-accent-hovered {
  &:not([data-disabled], [data-loading], [data-readonly]):hover {
    background-color: var(--c-surface-elevated-accent-hovered);
    color: var(--c-on-surface-elevated-accent-hovered);
  }
}

@mixin elevated-accent-pressed {
  &:not([data-disabled], [data-loading], [data-readonly]):active {
    background-color: var(--c-surface-elevated-accent-pressed);
    color: var(--c-on-surface-elevated-accent-pressed);
  }
}

@mixin elevated-accent-selected {
  &:not([data-disabled], [data-loading], [data-readonly])[data-selected] {
    background-color: var(--c-surface-elevated-accent-selected);
    color: var(--c-on-surface-elevated-accent-selected);
  }
}

@mixin elevated-accent($hoverable: true, $pressable: true, $selectable: false) {
  @include elevated-accent-enabled();

  @if ($hoverable == true) {
    @include elevated-accent-hovered();
  }
  @if ($pressable == true) {
    @include elevated-accent-pressed();
  }
  @if ($selectable == true) {
    @include elevated-accent-selected();
  }
}

@mixin elevated-accent-tonal-enabled {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--c-surface-elevated-accent-tonal-enabled);
    color: var(--c-on-surface-elevated-accent-tonal-enabled);
  }
}

@mixin elevated-accent-tonal-hovered {
  &:not([data-disabled], [data-loading], [data-readonly]):hover {
    background-color: var(--c-surface-elevated-accent-tonal-hovered);
    color: var(--c-on-surface-elevated-accent-tonal-hovered);
  }
}

@mixin elevated-accent-tonal-pressed {
  &:not([data-disabled], [data-loading], [data-readonly]):active {
    background-color: var(--c-surface-elevated-accent-tonal-pressed);
    color: var(--c-on-surface-elevated-accent-tonal-pressed);
  }
}

@mixin elevated-accent-tonal-selected {
  &:not([data-disabled], [data-loading], [data-readonly])[data-selected] {
    background-color: var(--c-surface-elevated-accent-tonal-selected);
    color: var(--c-on-surface-elevated-accent-tonal-selected);
  }
}

@mixin elevated-accent-tonal($hoverable: true, $pressable: true, $selectable: false) {
  @include elevated-accent-tonal-enabled();

  @if ($hoverable == true) {
    @include elevated-accent-tonal-hovered();
  }
  @if ($pressable == true) {
    @include elevated-accent-tonal-pressed();
  }
  @if ($selectable == true) {
    @include elevated-accent-tonal-selected();
  }
}
