.v2-hero {
  width: 100%;
  display: block;
  margin-top: var(--size-action-offset);
}

.v2-hero-title {
  font-size: var(--fz-16);
  font-weight: var(--fw-1);
  line-height: 1.2;
}

.v2-hero-content {
  width: 100%;
  height: calc(var(--size-action-offset) * 5);
  padding: var(--gutter);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
