.v2-hero {
  width: 100%;
  display: block;
  margin-top: var(--size-action-offset);
}

.v2-hero-title {
  padding-bottom: var(--gutter);
  font-size: var(--fz-12);
  font-weight: var(--fw-1);
  line-height: 1.2;
}

.v2-hero-content {
  width: 100%;
  height: calc(var(--size-action-offset) * 5);
  // display: flex;
  // align-items: flex-start;
  // flex-direction: column;
  // justify-content: flex-end;
  // margin-inline: var(--gutter);
}
