@use '../../mixins' as mixins;

.v2-page-root {
  width: 100%;
  display: block;
  min-height: calc(100vh - var(--v2-height-action-root));

  @include mixins.query('desktop', 'sm') {
    width: calc(100% - var(--v2-height-action-root));
    margin-left: var(--v2-height-action-root);
    margin-top: var(--v2-height-action-root);
  }
}
