@use '../../mixins' as mixins;

.v2-page {
  display: flex;
  min-width: var(--width-page-min);
  max-width: none;
  min-height: 100vh;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
