.v2-screen {
  --v2-screen-width: 100vw;
  --v2-screen-height: 100vh;

  width: var(--v2-screen-width);
  height: var(--v2-screen-height);
  overflow-x: hidden;
  overflow-y: hidden;
  isolation: isolate;
  position: fixed;
  z-index: 10000;
}
