html {
  background-color: var(--v2-color-background-01);
  color: var(--v2-color-text-med);
}

body {
  background-color: var(--v2-color-background-01);
  color: var(--v2-color-text-med);
}

.v2-header {
  background-color: var(--v2-color-background-01);
}

.v2-header-logo svg {
  color: var(--v2-color-accent);
}

.v2-header-spacer {
  background-color: var(--v2-color-background-02);
}

.v2-header-action {
  background-color: var(--v2-color-background-02);
}

.v2-side {
  background-color: var(--v2-color-background-01);
}

.v2-side-spacer {
  background-color: var(--v2-color-background-02);
}

.v2-side-select-drawer {
  background-color: var(--v2-color-background-01);
  color: var(--v2-color-text-med);
}

.v2-side-nav-target,
.v2-side-select-target,
.v2-side-select-drawer-item {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02);
    color: var(--v2-color-text-med);
  }
}

.v2-side-nav-target:hover,
.v2-side-select-target:hover,
.v2-side-select-drawer-item:hover {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02-hovered);
    color: var(--v2-color-text-med);
  }
}

.v2-side-nav-target:active,
.v2-side-select-target:active,
.v2-side-select-drawer-item:active {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02-pressed);
    color: var(--v2-color-text-med);
  }
}

.v2-side-nav-target[data-selected],
.v2-side-select-target[data-selected],
.v2-side-select-drawer-item[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02-selected);
    color: var(--v2-color-text-med);
  }
}

.v2-side-nav-target[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    color: var(--v2-color-accent);
  }
}

.v2-page-link--tonal--default {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02);
    color: var(--v2-color-text-med);
  }
}

.v2-page-link--tonal--default:hover {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02-hovered);
    color: var(--v2-color-text-med);
  }
}

.v2-page-link--tonal--default:active {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02-pressed);
    color: var(--v2-color-text-med);
  }
}

.v2-page-link--tonal--default[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-background-02-selected);
    color: var(--v2-color-text-med);
  }
}

[data-color-scheme='red'],
[data-color-scheme='red'] svg {
  color: hsl(var(--v2-hue-red), 60%);
}
[data-color-scheme='orange'],
[data-color-scheme='orange'] svg {
  color: hsl(var(--v2-hue-orange), 60%);
}
[data-color-scheme='yellow'],
[data-color-scheme='yellow'] svg {
  color: hsl(var(--v2-hue-yellow), 60%);
}
[data-color-scheme='green'],
[data-color-scheme='green'] svg {
  color: hsl(var(--v2-hue-green), 60%);
}
[data-color-scheme='mint'],
[data-color-scheme='mint'] svg {
  color: hsl(var(--v2-hue-mint), 60%);
}
[data-color-scheme='teal'],
[data-color-scheme='teal'] svg {
  color: hsl(var(--v2-hue-teal), 60%);
}
[data-color-scheme='cyan'],
[data-color-scheme='cyan'] svg {
  color: hsl(var(--v2-hue-cyan), 60%);
}
[data-color-scheme='blue'],
[data-color-scheme='blue'] svg {
  color: hsl(var(--v2-hue-blue), 60%);
}
[data-color-scheme='indigo'],
[data-color-scheme='indigo'] svg {
  color: hsl(var(--v2-hue-indigo), 60%);
}
[data-color-scheme='purple'],
[data-color-scheme='purple'] svg {
  color: hsl(var(--v2-hue-purple), 60%);
}
[data-color-scheme='pink'],
[data-color-scheme='pink'] svg {
  color: hsl(var(--v2-hue-pink), 60%);
}
[data-color-scheme='brown'],
[data-color-scheme='brown'] svg {
  color: hsl(var(--v2-hue-brown), 60%);
}
