html {
  background-color: var(--v2-color-neutral-0);
  color: var(--v2-color-neutral-11);
}

body {
  background-color: var(--v2-color-neutral-0);
  color: var(--v2-color-neutral-11);
}

.v2-header {
  background-color: var(--v2-color-neutral-0);
}

.v2-header-logo svg {
  color: var(--v2-color-accent-text);
}

.v2-header-spacer {
  background-color: var(--v2-color-neutral-1);
}

.v2-header-action {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-1);
    color: var(--v2-color-neutral-11);
  }
}

.v2-header-action:hover {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-12);
  }
}

.v2-header-action:active {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-3);
    color: var(--v2-color-neutral-13);
  }
}

.v2-header-action[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-12);
  }
}

.v2-side {
  background-color: var(--v2-color-neutral-0);
}

.v2-side-spacer {
  background-color: var(--v2-color-neutral-1);
}

.v2-side-select-drawer {
  background-color: var(--v2-color-neutral-0);
  color: var(--v2-color-neutral-11);
}

.v2-side-nav-target,
.v2-side-select-target,
.v2-side-select-drawer-item {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-1);
    color: var(--v2-color-neutral-11);
  }
}

.v2-side-nav-target:hover,
.v2-side-select-target:hover,
.v2-side-select-drawer-item:hover {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-11);
  }
}

.v2-side-nav-target:active,
.v2-side-select-target:active,
.v2-side-select-drawer-item:active {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-3);
    color: var(--v2-color-neutral-11);
  }
}

.v2-side-nav-target[data-selected],
.v2-side-select-target[data-selected],
.v2-side-select-drawer-item[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-11);
  }
}

.v2-side-nav-target[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    color: var(--v2-color-accent-text);
  }
}

.v2-page-link--solid-default {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-13);
    color: var(--v2-color-neutral-0);
  }
}

.v2-page-link--solid-default:hover {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-12);
    color: var(--v2-color-neutral-0);
  }
}

.v2-page-link--solid-default:active {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-11);
    color: var(--v2-color-neutral-0);
  }
}

.v2-page-link--solid-default[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-12);
    color: var(--v2-color-neutral-0);
  }
}

.v2-page-link--tonal-default {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-1);
    color: var(--v2-color-neutral-11);
  }
}

.v2-page-link--tonal-default:hover {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-12);
  }
}

.v2-page-link--tonal-default:active {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-3);
    color: var(--v2-color-neutral-13);
  }
}

.v2-page-link--tonal-default[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-12);
  }
}

.v2-overview-brands-item {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-1);
    color: var(--v2-color-neutral-11);
  }
}

.v2-overview-brands-item:hover {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-12);
  }
}

.v2-overview-brands-item:active {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-3);
    color: var(--v2-color-neutral-13);
  }
}

.v2-overview-brands-item[data-selected] {
  &:not([data-disabled], [data-loading], [data-readonly]) {
    background-color: var(--v2-color-neutral-2);
    color: var(--v2-color-neutral-12);
  }
}

.v2-about-resume-header span {
  color: var(--v2-color-neutral-10);
}

.v2-about-resume-header h2.v2-title {
  color: var(--v2-color-accent);
}

.v2-about-resume-header h3.v2-title {
  color: var(--v2-color-neutral-13);
}

.v2-about-resume-content p.v2-text {
  color: var(--v2-color-neutral-10);
}

.v2-stack-table-head-cell {
  background-color: var(--v2-color-neutral-2);
}

.v2-stack-table-body-cell {
  background-color: var(--v2-color-neutral-1);
}

.v2-stack-table-body-cell span {
  color: var(--v2-color-accent);
}
