@use './mixins' as mixins;

html,
body,
.v2-side,
.v2-header {
  color: var(--c-root-clr);
  background-color: var(--c-root-bgd);
  transition:
    background-color var(--v2-duration-slow-01) var(--v2-easing-expressive),
    border-color var(--v2-duration-slow-01) var(--v2-easing-expressive),
    opacity var(--v2-duration-slow-01) var(--v2-easing-expressive),
    stroke var(--v2-duration-slow-01) var(--v2-easing-expressive),
    color var(--v2-duration-slow-01) var(--v2-easing-expressive),
    fill var(--v2-duration-slow-01) var(--v2-easing-expressive);
}

.v2-side-select-drawer {
  color: var(--c-root-clr);
  background-color: var(--c-root-bgd);
}

.v2-page-intro-banner {
  background-color: var(--c-page-intro-banner-bgd);
  color: var(--c-page-intro-banner-clr);
}

.v2-page-link {
  transition:
    background-color var(--v2-duration-moderate-01) var(--v2-easing-productive),
    border-color var(--v2-duration-moderate-01) var(--v2-easing-productive),
    opacity var(--v2-duration-moderate-01) var(--v2-easing-productive),
    stroke var(--v2-duration-moderate-01) var(--v2-easing-productive),
    color var(--v2-duration-moderate-01) var(--v2-easing-productive),
    fill var(--v2-duration-moderate-01) var(--v2-easing-productive);
}

.v2-page-link:not([data-disabled]),
.v2-page-link:not([data-readonly]),
.v2-page-link--default:not([data-disabled]),
.v2-page-link--default:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-enabled-default);
  --c-page-link-clr: var(--c-button-clr-enabled-default);
}

.v2-page-link:hover:not([data-disabled]),
.v2-page-link:hover:not([data-readonly]),
.v2-page-link--default:hover:not([data-disabled]),
.v2-page-link--default:hover:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-hovered-default);
  --c-page-link-clr: var(--c-button-clr-hovered-default);
}

.v2-page-link:active:not([data-disabled]),
.v2-page-link:active:not([data-readonly]),
.v2-page-link--default:active:not([data-disabled]),
.v2-page-link--default:active:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-pressed-default);
  --c-page-link-clr: var(--c-button-clr-pressed-default);
}

.v2-page-link[data-selected]:not([data-disabled]),
.v2-page-link[data-selected]:not([data-readonly]),
.v2-page-link--default[data-selected]:not([data-disabled]),
.v2-page-link--default[data-selected]:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-selected-default);
  --c-page-link-clr: var(--c-button-clr-selected-default);
}

.v2-page-link--elevated:not([data-disabled]),
.v2-page-link--elevated:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-enabled-elevated);
  --c-page-link-clr: var(--c-button-clr-enabled-elevated);
}

.v2-page-link--elevated:hover:not([data-disabled]),
.v2-page-link--elevated:hover:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-hovered-elevated);
  --c-page-link-clr: var(--c-button-clr-hovered-elevated);
}

.v2-page-link--elevated:active:not([data-disabled]),
.v2-page-link--elevated:active:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-pressed-elevated);
  --c-page-link-clr: var(--c-button-clr-pressed-elevated);
}

.v2-page-link--elevated[data-selected]:not([data-disabled]),
.v2-page-link--elevated[data-selected]:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-selected-elevated);
  --c-page-link-clr: var(--c-button-clr-selected-elevated);
}

.v2-page-link--default-accent:not([data-disabled]),
.v2-page-link--default-accent:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-enabled-default-accent);
  --c-page-link-clr: var(--c-button-clr-enabled-default-accent);
}

.v2-page-link--default-accent:hover:not([data-disabled]),
.v2-page-link--default-accent:hover:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-hovered-default-accent);
  --c-page-link-clr: var(--c-button-clr-hovered-default-accent);
}

.v2-page-link--default-accent:active:not([data-disabled]),
.v2-page-link--default-accent:active:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-pressed-default-accent);
  --c-page-link-clr: var(--c-button-clr-pressed-default-accent);
}

.v2-page-link--default-accent[data-selected]:not([data-disabled]),
.v2-page-link--default-accent[data-selected]:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-selected-default-accent);
  --c-page-link-clr: var(--c-button-clr-selected-default-accent);
}

.v2-page-link--elevated-accent:not([data-disabled]),
.v2-page-link--elevated-accent:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-enabled-elevated-accent);
  --c-page-link-clr: var(--c-button-clr-enabled-elevated-accent);
}

.v2-page-link--elevated-accent:hover:not([data-disabled]),
.v2-page-link--elevated-accent:hover:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-hovered-elevated-accent);
  --c-page-link-clr: var(--c-button-clr-hovered-elevated-accent);
}

.v2-page-link--elevated-accent:active:not([data-disabled]),
.v2-page-link--elevated-accent:active:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-pressed-elevated-accent);
  --c-page-link-clr: var(--c-button-clr-pressed-elevated-accent);
}

.v2-page-link--elevated-accent[data-selected]:not([data-disabled]),
.v2-page-link--elevated-accent[data-selected]:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-selected-elevated-accent);
  --c-page-link-clr: var(--c-button-clr-selected-elevated-accent);
}

.v2-page-link--default-accent-tonal:not([data-disabled]),
.v2-page-link--default-accent-tonal:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-enabled-default-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-enabled-default-accent-tonal);
}

.v2-page-link--default-accent-tonal:hover:not([data-disabled]),
.v2-page-link--default-accent-tonal:hover:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-hovered-default-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-hovered-default-accent-tonal);
}

.v2-page-link--default-accent-tonal:active:not([data-disabled]),
.v2-page-link--default-accent-tonal:active:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-pressed-default-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-pressed-default-accent-tonal);
}

.v2-page-link--default-accent-tonal[data-selected]:not([data-disabled]),
.v2-page-link--default-accent-tonal[data-selected]:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-selected-default-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-selected-default-accent-tonal);
}

.v2-page-link--elevated-accent-tonal:not([data-disabled]),
.v2-page-link--elevated-accent-tonal:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-enabled-elevated-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-enabled-elevated-accent-tonal);
}

.v2-page-link--elevated-accent-tonal:hover:not([data-disabled]),
.v2-page-link--elevated-accent-tonal:hover:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-hovered-elevated-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-hovered-elevated-accent-tonal);
}

.v2-page-link--elevated-accent-tonal:active:not([data-disabled]),
.v2-page-link--elevated-accent-tonal:active:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-pressed-elevated-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-pressed-elevated-accent-tonal);
}

.v2-page-link--elevated-accent-tonal[data-selected]:not([data-disabled]),
.v2-page-link--elevated-accent-tonal[data-selected]:not([data-readonly]) {
  --c-page-link-bgd: var(--c-button-bgd-selected-elevated-accent-tonal);
  --c-page-link-clr: var(--c-button-clr-selected-elevated-accent-tonal);
}

.v2-demo-directory-card-body .v2-text {
  color: var(--c-root-clr-low);
}

.v2-demo-title span {
  color: var(--c-accent-clr-max);
}

// html,
// body,
// .v2-layout,
// .v2-header,
// .v2-page,
// .v2-page-hero,
// .v2-side,
// .v2-side-nav-tooltip,
// .v2-side-select-drawer,
// .v2-side-select-drawer-layout {
//   background-color: var(--c-base);
//   color: var(--c-base-text-med);
// }

// span.accent {
//   color: var(--c-accent);
// }

// .v2-icon {
//   color: var(--c-base-text-med);
//   background: none;
//   background-color: none;
// }

// .v2-footer {
//   &-meta-logo svg {
//     stroke: rgba(var(--c-rgb-accent), 0.16);
//     stroke-width: 2px;
//     fill: none;
//   }

//   &-meta-handle {
//     color: var(--c-accent-text-low);
//   }

//   &-meta-handle:hover {
//     color: var(--c-accent-text-med);
//   }

//   &-meta-handle:active {
//     color: var(--c-accent-text-max);
//   }

//   &-menu-link {
//     color: var(--c-base-text-low);
//   }

//   &-menu-link:hover {
//     color: var(--c-base-text-med);
//   }

//   &-menu-link:active {
//     color: var(--c-base-text-max);
//   }

//   &-menu-link::before,
//   &-meta-handle::before {
//     background-color: var(--c-accent-text-med);
//   }

//   &-menu-link::after,
//   &-meta-handle::after {
//     background-color: var(--c-base);
//   }
// }

// .v2-side-nav {
//   &-target[data-selected] .v2-icon {
//     color: var(--c-accent-icon-max) !important;
//   }

//   &-tooltip-layout {
//     background-color: var(--c-base);
//   }
//   &-tooltip .v2-text {
//     color: var(--c-accent-text-max);
//   }

//   &-tooltip::after {
//     background-color: var(--c-accent);
//   }
// }

// .v2-company-logo {
//   color: var(--c-base-text-low);
// }

// .v2-page-headline-order {
//   color: var(--c-base-text-low);

//   @supports ((-webkit-text-stroke-width: 2px) or (-webkit-text-stroke-color: black)) {
//     -webkit-text-stroke-width: 2px;
//     -webkit-text-stroke-color: var(--c-base-surface-2-selected);
//     outline: 2px transparent;
//     outline-offset: 0px;
//     color: transparent;
//   }
// }

// .v2-page-headline-title {
//   color: var(--c-accent-text-med);
// }

// .v2-page-headline-layout::before {
//   background-color: var(--c-base-surface-2-selected);
// }

// .v2-page-intro-banner {
//   background-color: var(--c-base-surface-1-enabled);
//   color: var(--c-base-text-low);
// }

// .v2-page-link--base-defualt {
//   &:not([data-disabled]),
//   &:not([data-readonly]) {
//     background-color: var(--c-base-surface-enabled);
//     color: var(--c-base-text-med);
//   }
//   &:not([data-disabled]):hover,
//   &:not([data-readonly]):hover {
//     background-color: var(--c-base-surface-hovered);
//     color: var(--c-base-text-med);
//   }
//   &:not([data-disabled]):active,
//   &:not([data-readonly]):active {
//     background-color: var(--c-base-surface-pressed);
//     color: var(--c-base-text-max);
//   }
//   &:not([data-disabled])[data-selected],
//   &:not([data-readonly])[data-selected] {
//     background-color: var(--c-base-surface-selected);
//     color: var(--c-base-text-max);
//   }
// }

// .v2-page-link--base-elevated {
//   &:not([data-disabled]),
//   &:not([data-readonly]) {
//     background-color: var(--c-base-surface-1-enabled);
//     color: var(--c-base-text-med);
//   }
//   &:not([data-disabled]):hover,
//   &:not([data-readonly]):hover {
//     background-color: var(--c-base-surface-1-hovered);
//     color: var(--c-base-text-med);
//   }
//   &:not([data-disabled]):active,
//   &:not([data-readonly]):active {
//     background-color: var(--c-base-surface-1-pressed);
//     color: var(--c-base-text-max);
//   }
//   &:not([data-disabled])[data-selected],
//   &:not([data-readonly])[data-selected] {
//     background-color: var(--c-base-surface-1-selected);
//     color: var(--c-base-text-max);
//   }
// }

// .v2-page-link--base-defualt,
// .v2-page-link--base-elevated {
//   &:not([data-disabled]) .v2-icon,
//   &:not([data-readonly]) .v2-icon {
//     color: var(--c-base-icon-med);
//   }
//   &:not([data-disabled]):hover .v2-icon,
//   &:not([data-readonly]):hover .v2-icon {
//     color: var(--c-base-icon-med);
//   }
//   &:not([data-disabled]):active .v2-icon,
//   &:not([data-readonly]):active .v2-icon {
//     color: var(--c-base-icon-max);
//   }
//   &:not([data-disabled])[data-selected] .v2-icon,
//   &:not([data-readonly])[data-selected] .v2-icon {
//     color: var(--c-base-icon-max);
//   }
// }

// .v2-page-link--accent-defualt {
//   &:not([data-disabled]),
//   &:not([data-readonly]) {
//     background-color: var(--c-base-surface-enabled);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):hover,
//   &:not([data-readonly]):hover {
//     background-color: var(--c-base-surface-hovered);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):active,
//   &:not([data-readonly]):active {
//     background-color: var(--c-base-surface-pressed);
//     color: var(--c-accent-text-max);
//   }
//   &:not([data-disabled])[data-selected],
//   &:not([data-readonly])[data-selected] {
//     background-color: var(--c-base-surface-selected);
//     color: var(--c-accent-text-max);
//   }
// }

// .v2-page-link--accent-elevated {
//   &:not([data-disabled]),
//   &:not([data-readonly]) {
//     background-color: var(--c-base-surface-1-enabled);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):hover,
//   &:not([data-readonly]):hover {
//     background-color: var(--c-base-surface-1-hovered);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):active,
//   &:not([data-readonly]):active {
//     background-color: var(--c-base-surface-1-pressed);
//     color: var(--c-accent-text-max);
//   }
//   &:not([data-disabled])[data-selected],
//   &:not([data-readonly])[data-selected] {
//     background-color: var(--c-base-surface-1-selected);
//     color: var(--c-accent-text-max);
//   }
// }

// .v2-page-link--accent-tonal {
//   &:not([data-disabled]),
//   &:not([data-readonly]) {
//     background-color: var(--c-accent-surface-1-enabled);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):hover,
//   &:not([data-readonly]):hover {
//     background-color: var(--c-accent-surface-1-hovered);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):active,
//   &:not([data-readonly]):active {
//     background-color: var(--c-accent-surface-1-pressed);
//     color: var(--c-accent-text-max);
//   }
//   &:not([data-disabled])[data-selected],
//   &:not([data-readonly])[data-selected] {
//     background-color: var(--c-accent-surface-1-selected);
//     color: var(--c-accent-text-max);
//   }
// }

// .v2-page-link--accent-ghost {
//   &:not([data-disabled]),
//   &:not([data-readonly]) {
//     background-color: var(--c-base-surface-enabled);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):hover,
//   &:not([data-readonly]):hover {
//     background-color: var(--c-accent-surface-hovered);
//     color: var(--c-accent-text-med);
//   }
//   &:not([data-disabled]):active,
//   &:not([data-readonly]):active {
//     background-color: var(--c-accent-surface-pressed);
//     color: var(--c-accent-text-max);
//   }
//   &:not([data-disabled])[data-selected],
//   &:not([data-readonly])[data-selected] {
//     background-color: var(--c-accent-surface-selected);
//     color: var(--c-accent-text-max);
//   }
// }

// .v2-page-link--accent-ghost,
// .v2-page-link--accent-tonal,
// .v2-page-link--accent-default,
// .v2-page-link--accent-elevated {
//   &:not([data-disabled]) .v2-icon,
//   &:not([data-readonly]) .v2-icon {
//     color: var(--c-accent-icon-med);
//   }
//   &:not([data-disabled]):hover .v2-icon,
//   &:not([data-readonly]):hover .v2-icon {
//     color: var(--c-accent-icon-med);
//   }
//   &:not([data-disabled]):active .v2-icon,
//   &:not([data-readonly]):active .v2-icon {
//     color: var(--c-accent-icon-max);
//   }
//   &:not([data-disabled])[data-selected] .v2-icon,
//   &:not([data-readonly])[data-selected] .v2-icon {
//     color: var(--c-accent-icon-max);
//   }
// }

// .v2-overview {
//   &-hero-title-line-2 {
//     color: var(--c-accent-text-max);
//   }

//   &-stats-card-value {
//     color: var(--c-accent-text-med);
//   }

//   &-stats-card-title {
//     color: var(--c-base-text-med);
//   }

//   &-stats-card-text {
//     color: var(--c-base-text-low);
//   }

//   &-experience-banner-subtitle {
//     color: var(--c-accent-text-med);
//   }
//   &-experience-banner-title-line-1 {
//     color: var(--c-base-text-med);
//   }

//   &-experience-banner-title-line-2 {
//     color: var(--c-accent-text-max);
//   }

//   &-experience-list-item {
//     background-color: var(--c-base-surface-1-enabled);
//   }

//   &-experience-list-item::before {
//     background-color: var(--c-accent-text-med);
//   }

//   &-experience-list-item-location {
//     color: var(--c-accent-text-max);
//   }

//   &-experience-list-item-title {
//     color: var(--c-base-text-med);
//   }

//   &-experience-list-item-text {
//     color: var(--c-base-text-low);
//   }

//   &-brands-item {
//     &:not([data-disabled]),
//     &:not([data-readonly]) {
//       background-color: var(--c-base-surface-1-enabled);
//     }

//     &:not([data-disabled]):hover,
//     &:not([data-readonly]):hover {
//       background-color: var(--c-base-surface-1-hovered);
//     }

//     &:not([data-disabled]):hover .v2-company-logo,
//     &:not([data-readonly]):hover .v2-company-logo {
//       color: var(--c-base-text-med);
//     }

//     &:not([data-disabled]):active,
//     &:not([data-readonly]):active {
//       background-color: var(--c-base-surface-1-pressed);
//     }

//     &:not([data-disabled]):active .v2-company-logo,
//     &:not([data-readonly]):active .v2-company-logo {
//       color: var(--c-base-text-max);
//     }
//   }

//   &-brands-banner .v2-text,
//   &-brands-banner .v2-title {
//     color: var(--c-base-text-med);
//   }

//   &-brands-banner .v2-title span {
//     color: var(--c-accent-text-max);
//   }

//   &-highlight-tabs-panel {
//     background-color: var(--c-base-surface-1-enabled);
//   }
// }

// .v2-logo--default-max {
//   color: var(--c-base-icon-max);
// }
// .v2-logo--default-med {
//   color: var(--c-base-icon-med);
// }
// .v2-logo--default-low {
//   color: var(--c-base-icon-low);
// }
// .v2-logo--default-min {
//   color: var(--c-base-icon-min);
// }

// .v2-logo--accent-max {
//   color: var(--c-accent-icon-max);
// }
// .v2-logo--accent-med {
//   color: var(--c-accent-icon-med);
// }
// .v2-logo--accent-low {
//   color: var(--c-accent-icon-low);
// }
// .v2-logo--accent-min {
//   color: var(--c-accent-icon-min);
// }

// .v2-stack-table {
//   &-head-cell {
//     background-color: var(--c-base-surface-1-enabled);
//     color: var(--c-accent-text-max);
//   }

//   &-head-cell .v2-icon {
//     color: var(--c-accent-text-max);
//   }

//   &-body-cell[data-table-column='name'],
//   &-body-cell[data-table-column='desc'] {
//     color: var(--c-base-text-low);
//   }

//   &-body-cell[data-table-column='docs'] a {
//     background-color: transparent;
//   }

//   &-body-cell[data-table-column='docs'] a .v2-icon {
//     color: var(--c-accent-text-med);
//   }

//   &-head-cell[data-table-control] {
//     @include mixins.interactive;
//   }

//   &-head-cell[data-table-control]:hover {
//     background-color: var(--c-base-surface-1-hovered);
//   }

//   &-head-cell[data-table-control]:active {
//     background-color: var(--c-base-surface-1-pressed);
//   }

//   &-body-row {
//     border-bottom-color: var(--c-base-surface-1-enabled);
//   }
// }

// .v2-card-action-group {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;

//   &[data-prefers-orientation='vertical'] {
//     height: 100%;
//   }
//   &[data-prefers-orientation='vertical'] {
//     width: 100%;
//   }

//   [data-prefers-dir='rtl'] & {
//     justify-content: flex-end;
//     align-items: flex-end;
//   }
// }

// .v2-snippet {
//   border-color: var(--c-base-border-low);
// }

// .v2-chip {
//   --v2-chip-height-xs: calc(var(--v2-01) * 6);
//   --v2-chip-height-sm: calc(var(--v2-01) * 6);
//   --v2-chip-height-md: calc(var(--v2-01) * 6);
//   --v2-chip-height-lg: calc(var(--v2-01) * 6);
//   --v2-chip-height-xl: calc(var(--v2-01) * 6);

//   --v2-chip-font-size-xs: calc(var(--v2-01) * 10);
//   --v2-chip-font-size-sm: calc(var(--v2-01) * 10);
//   --v2-chip-font-size-md: calc(var(--v2-01) * 10);
//   --v2-chip-font-size-lg: calc(var(--v2-01) * 10);
//   --v2-chip-font-size-xl: calc(var(--v2-01) * 10);

//   --v2-chip-spacing-x-xs: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-x-sm: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-x-md: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-x-lg: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-x-xl: calc(var(--v2-01) * 4);

//   --v2-chip-spacing-y-xs: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-y-sm: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-y-md: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-y-lg: calc(var(--v2-01) * 4);
//   --v2-chip-spacing-y-xl: calc(var(--v2-01) * 4);

//   width: max-content;
//   height: var(--v2-chip-height, var(--v2-chip-height-xs));
//   padding-inline: var(--v2-chip-spacing-x, var(--v2-chip-spacing-x-xs));
//   padding-block: var(--v2-chip-spacing-y, var(--v2-chip-spacing-y-xs));
//   font-size: var(--v2-chip-font-size, var(--v2-chip-font-size-xs));
//   font-weight: var(--v2-font-weight, var(--v2-font-weight-reg));
//   line-height: var(--v2-line-height-sm);
// }

// .v2-card-root {
//   --v2-card-action-height-xs: calc(var(--v2-01) * 12);
//   --v2-card-action-height-sm: calc(var(--v2-01) * 12);
//   --v2-card-action-height-md: calc(var(--v2-01) * 12);
//   --v2-card-action-height-lg: calc(var(--v2-01) * 12);
//   --v2-card-action-height-xl: calc(var(--v2-01) * 12);
// }

// .v2-card-action {
//   --v2-card-action-height-xs: calc(var(--v2-01) * 12);
//   --v2-card-action-height-sm: calc(var(--v2-01) * 12);
//   --v2-card-action-height-md: calc(var(--v2-01) * 12);
//   --v2-card-action-height-lg: calc(var(--v2-01) * 12);
//   --v2-card-action-height-xl: calc(var(--v2-01) * 12);

//   --v2-card-spacing-x-xs: calc(var(--v2-01) * 6);
//   --v2-card-spacing-x-sm: calc(var(--v2-01) * 6);
//   --v2-card-spacing-x-md: calc(var(--v2-01) * 6);
//   --v2-card-spacing-x-lg: calc(var(--v2-01) * 6);
//   --v2-card-spacing-x-xl: calc(var(--v2-01) * 6);
// }

// .v2-card-icon {
//   --v2-card-icon-size-xs: calc(var(--v2-01) * 8);
//   --v2-card-icon-size-sm: calc(var(--v2-01) * 8);
//   --v2-card-icon-size-md: calc(var(--v2-01) * 8);
//   --v2-card-icon-size-lg: calc(var(--v2-01) * 8);
//   --v2-card-icon-size-xl: calc(var(--v2-01) * 8);
// }
// .v2-card-header {
//   --v2-card-header-height: calc(var(--v2-01) * 10);
//   --v2-card-header-height:
// ;
// }
// .v2-card-body {
// }

// // @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
// //   .v2-header {
// //     -webkit-backdrop-filter: blur(10px);
// //     backdrop-filter: blur(10px);
// //     background: hsla(0, 0%, 6%, 0.5);
// //   }
// // }

// // .v2-stack-table-action-header {
// //   @include mixins.base-surface-1-interactive;
// // }
