html,
body {
  color: var(--c-text-0);
  background-color: var(--c-base-0);
}

.v2-page,
.v2-header,
.v2-sidemenu,
.v2-sidemenu-panel {
  color: var(--c-text-0);
  background-color: var(--c-base-0);
  transition:
    fill 400ms ease-in-out,
    color 400ms ease-in-out,
    stroke 400ms ease-in-out,
    opacity 400ms ease-in-out,
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
}

.v2-hero,
.v2-footer {
  color: var(--c-text-0);
  background-color: var(--c-base-1);
  transition:
    fill 400ms ease-in-out,
    color 400ms ease-in-out,
    stroke 400ms ease-in-out,
    opacity 400ms ease-in-out,
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
}

// .v2-tile-link-item,
// .v2-footer-nav-link,
// .v2-search-box-input,
// .v2-search-result-item {
//   cursor: default;

//   border-color: transparent;
//   border-width: var(--s-1);
//   border-style: solid;

//   outline-color: transparent;
//   outline-width: var(--s-1);
//   outline-style: solid;
//   outline-offset: unset;

//   -webkit-user-select: none;
//   -ms-user-select: none;
//   user-select: none;

//   &:not([data-disabled]),
//   &:not([data-disabled]):hover,
//   &:not([data-disabled]):active,
//   &:not([data-disabled])[data-selected] {
//     cursor: pointer;
//   }

//   &[data-disabled],
//   &[data-disabled]:hover,
//   &[data-disabled]:active,
//   &[data-disabled][data-selected] {
//     cursor: default;
//   }

//   &:focus:not(:focus-visible) {
//     outline-color: transparent;
//   }
//   &:focus:focus-visible {
//     z-index: var(--idx-active-item);
//     outline-color: var(--c-focus);
//   }
// }

// .v2-sidemenu-link:not([data-disabled])[data-selected] {
//   &::after {
//     background-color: var(--c-accent-A600);
//   }
// }

// .v2-footer .v2-logo {
//   fill: var(--c-accent-A500);
// }

// .v2-footer-nav-link {
//   color: var(--c-text-low);
// }

// .v2-footer-nav-link:hover {
//   color: var(--c-text-med);
// }

// .v2-tile-link-item--variant-default {
//   &.v2-tile-link-item--scheme-default {
//     &:not([data-disabled]) {
//       background-color: var(--c-background-0-enabled);
//     }
//     &:not([data-disabled]):hover {
//       background-color: var(--c-background-0-hovered);
//     }
//     &:not([data-disabled]):active {
//       background-color: var(--c-background-0-pressed);
//     }
//   }

//   &.v2-tile-link-item--scheme-accent {
//     &:not([data-disabled]) {
//       color: var(--c-accent-A800);
//       background-color: transparent;
//     }
//     &:not([data-disabled]) svg {
//       fill: var(--c-accent-A800);
//     }
//     &:not([data-disabled]):hover {
//       color: var(--c-accent-A800);
//       background-color: var(--c-accent-A100);
//     }
//     &:not([data-disabled]):active {
//       color: var(--c-accent-A800);
//       background-color: var(--c-accent-A150);
//     }
//   }
// }

// .v2-tile-link-item--variant-elevated {
//   &.v2-tile-link-item--scheme-default {
//     &:not([data-disabled]) {
//       background-color: var(--c-elevation-0-enabled);
//     }
//     &:not([data-disabled]):hover {
//       background-color: var(--c-elevation-0-hovered);
//     }
//     &:not([data-disabled]):active {
//       background-color: var(--c-elevation-0-pressed);
//     }
//   }

//   &.v2-tile-link-item--scheme-accent {
//     &:not([data-disabled]) {
//       color: var(--c-accent-A800);
//       background-color: var(--c-accent-A100);
//     }
//     &:not([data-disabled]) svg {
//       fill: var(--c-accent-A800);
//     }
//     &:not([data-disabled]):hover {
//       color: var(--c-accent-A800);
//       background-color: var(--c-accent-A150);
//     }
//     &:not([data-disabled]):active {
//       color: var(--c-accent-A800);
//       background-color: var(--c-accent-A200);
//     }
//   }
// }
