html,
body {
  color: var(--c-text-hgh);
  background-color: var(--c-background-0);
}

svg {
  fill: var(--c-icon-hgh);
}

.v2-page {
  color: var(--c-text-hgh);
  background-color: var(--c-background-0);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-hero {
  color: var(--c-text-hgh);
  background-color: var(--c-elevation-0);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-header {
  color: var(--c-text-hgh);
  background-color: var(--c-background-0);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-footer {
  color: var(--c-text-hgh);
  background-color: var(--c-background-1);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-sidemenu-panel {
  color: var(--c-text-hgh);
  background-color: var(--c-background-0);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-tile-link-item {
  transition:
    transform 300ms ease-in-out,
    background-color 250ms ease,
    border-color 250ms ease,
    opacity 250ms ease,
    stroke 250ms ease,
    color 250ms ease,
    fill 250ms ease;
}

.v2-page svg,
.v2-hero svg,
.v2-header svg,
.v2-sidemenu svg {
  fill: var(--c-icon-hgh);
}

.v2-tile-link-item,
.v2-search-box-input,
.v2-search-result-item {
  cursor: default;

  border-color: transparent;
  border-width: var(--s-1);
  border-style: solid;

  outline-color: transparent;
  outline-width: var(--s-1);
  outline-style: solid;
  outline-offset: unset;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not([data-disabled]),
  &:not([data-disabled]):hover,
  &:not([data-disabled]):active,
  &:not([data-disabled])[data-selected] {
    cursor: pointer;
  }

  &[data-disabled],
  &[data-disabled]:hover,
  &[data-disabled]:active,
  &[data-disabled][data-selected] {
    cursor: default;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    z-index: var(--idx-active-item);
    outline-color: var(--c-focus);
  }
}

.v2-sidemenu-link:not([data-disabled])[data-selected] {
  &::after {
    background-color: var(--c-accent-A600);
  }
}

.v2-footer .v2-logo {
  fill: var(--c-accent-A500);
}

.v2-footer a {
  color: var(--c-text-low);
}

.v2-tile-link-item--variant-default {
  &.v2-tile-link-item--scheme-default {
    &:not([data-disabled]) {
      background-color: var(--c-background-0-enabled);
    }
    &:not([data-disabled]):hover {
      background-color: var(--c-background-0-hovered);
    }
    &:not([data-disabled]):active {
      background-color: var(--c-background-0-pressed);
    }
  }

  &.v2-tile-link-item--scheme-accent {
    &:not([data-disabled]) {
      color: var(--c-accent-A800);
      background-color: transparent;
    }
    &:not([data-disabled]) svg {
      fill: var(--c-accent-A800);
    }
    &:not([data-disabled]):hover {
      color: var(--c-accent-A800);
      background-color: var(--c-accent-A100);
    }
    &:not([data-disabled]):active {
      color: var(--c-accent-A800);
      background-color: var(--c-accent-A150);
    }
  }
}

.v2-tile-link-item--variant-elevated {
  &.v2-tile-link-item--scheme-default {
    &:not([data-disabled]) {
      background-color: var(--c-elevation-0-enabled);
    }
    &:not([data-disabled]):hover {
      background-color: var(--c-elevation-0-hovered);
    }
    &:not([data-disabled]):active {
      background-color: var(--c-elevation-0-pressed);
    }
  }

  &.v2-tile-link-item--scheme-accent {
    &:not([data-disabled]) {
      color: var(--c-accent-A800);
      background-color: var(--c-accent-A100);
    }
    &:not([data-disabled]) svg {
      fill: var(--c-accent-A800);
    }
    &:not([data-disabled]):hover {
      color: var(--c-accent-A800);
      background-color: var(--c-accent-A150);
    }
    &:not([data-disabled]):active {
      color: var(--c-accent-A800);
      background-color: var(--c-accent-A200);
    }
  }
}

.v2-tile-link-item--variant-elevated.v2-tile-link-item--scheme-default {
}
