body,
#root {
  color: var(--c-text-hgh);
  background-color: var(--c-background-0);
}

body svg,
#root svg {
  fill: var(--c-icon-hgh);
}

.v2-page {
  color: var(--c-text-hgh);
  background-color: var(--c-background-1);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-hero {
  color: var(--c-text-hgh);
  background-color: var(--c-background-2);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-header {
  color: var(--c-text-hgh);
  background-color: var(--c-background-1);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-sidemenu {
  color: var(--c-text-hgh);
  background-color: var(--c-background-1);
  transition-property: background-color, color, border-color, opacity, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.v2-page svg,
.v2-hero svg,
.v2-header svg,
.v2-sidemenu svg {
  fill: var(--c-icon-hgh);
}
