.v2-toolbox-table-head {
  &-row {
    border-bottom-style: solid;
    border-bottom-width: var(--s-1);
    border-bottom-color: var(--c-background-0);
    background-color: var(--c-elevation-0);
  }

  &-cell {
    color: var(--c-accent-A600);
    background-color: var(--c-elevation-0-enabled);
    transition:
      transform 300ms ease-in-out,
      background-color 250ms ease,
      border-color 250ms ease,
      opacity 250ms ease,
      stroke 250ms ease,
      color 250ms ease,
      fill 250ms ease;

    &:not([data-disabled]):hover {
      background-color: var(--c-elevation-0-hovered);
    }

    &:not([data-disabled]):active {
      background-color: var(--c-elevation-0-pressed);
    }

    &:not(:first-of-type) {
      border-left-style: solid;
      border-left-width: var(--s-1);
      border-left-color: var(--c-background-0);
    }
  }
}

.v2-toolbox-table-body {
  &-row {
    background-color: var(--c-background-0);

    &:not(:last-of-type) {
      border-bottom-style: solid;
      border-bottom-width: var(--s-1);
      border-bottom-color: var(--c-elevation-0);
    }
  }

  &-cell {
    &:not(:first-of-type) {
      border-left-style: solid;
      border-left-width: var(--s-1);
      border-left-color: var(--c-elevation-0);
    }

    &:nth-of-type(1) {
      color: var(--c-text-hgh);
    }
    &:nth-of-type(3) {
      color: var(--c-text-med);
    }
    &:nth-of-type(4) svg {
      fill: var(--c-text-low);
    }
  }
}

.v2-toolbox-table-foot {
  &-row {
    background-color: var(--c-elevation-0);
  }

  &-cell {
    color: var(--c-text-hgh);

    &:not(:first-of-type) {
      border-left-style: solid;
      border-left-width: var(--s-1);
      border-left-color: var(--c-background-0);
    }
  }
}
