[data-scheme='primary-0'],
[data-scheme='secondary-0'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-0);

  &[data-variant='default'] {
    color: var(--c-text-hgh);
    background-color: var(--c-background-0);
  }
  &[data-variant='elevated'] {
    background-color: var(--c-elevation-0);
  }
  &[data-variant='default'],
  &[data-variant='elevated'] {
    color: var(--c-text-hgh);
  }
  &[data-variant='default'] svg,
  &[data-variant='elevated'] svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-0-interactive'],
[data-scheme='secondary-0-interactive'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-0-enabled);

  &[data-variant='default']:not([data-disabled]) {
    background-color: var(--c-background-0-enabled);
  }
  &[data-variant='default']:not([data-disabled]):hover {
    background-color: var(--c-background-0-hovered);
  }
  &[data-variant='default']:not([data-disabled]):active {
    background-color: var(--c-background-0-pressed);
  }
  &[data-variant='default']:not([data-disabled])[data-selected] {
    background-color: var(--c-background-0-selected);
  }
  &[data-variant='elevated']:not([data-disabled]) {
    background-color: var(--c-elevation-0-enabled);
  }
  &[data-variant='elevated']:not([data-disabled]):hover {
    background-color: var(--c-elevation-0-hovered);
  }
  &[data-variant='elevated']:not([data-disabled]):active {
    background-color: var(--c-elevation-0-pressed);
  }
  &[data-variant='elevated']:not([data-disabled])[data-selected] {
    background-color: var(--c-elevation-0-selected);
  }
  &[data-variant='default']:not([data-disabled]),
  &[data-variant='elevated']:not([data-disabled]) {
    color: var(--c-text-hgh);
  }
  &[data-variant='default']:not([data-disabled]) svg,
  &[data-variant='elevated']:not([data-disabled]) svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-1'],
[data-scheme='secondary-1'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-1);

  &[data-variant='default'] {
    color: var(--c-text-hgh);
    background-color: var(--c-background-1);
  }
  &[data-variant='elevated'] {
    background-color: var(--c-elevation-1);
  }
  &[data-variant='default'],
  &[data-variant='elevated'] {
    color: var(--c-text-hgh);
  }
  &[data-variant='default'] svg,
  &[data-variant='elevated'] svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-1-interactive'],
[data-scheme='secondary-1-interactive'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-1-enabled);

  &[data-variant='default']:not([data-disabled]) {
    background-color: var(--c-background-1-enabled);
  }
  &[data-variant='default']:not([data-disabled]):hover {
    background-color: var(--c-background-1-hovered);
  }
  &[data-variant='default']:not([data-disabled]):active {
    background-color: var(--c-background-1-pressed);
  }
  &[data-variant='default']:not([data-disabled])[data-selected] {
    background-color: var(--c-background-1-selected);
  }
  &[data-variant='elevated']:not([data-disabled]) {
    background-color: var(--c-elevation-1-enabled);
  }
  &[data-variant='elevated']:not([data-disabled]):hover {
    background-color: var(--c-elevation-1-hovered);
  }
  &[data-variant='elevated']:not([data-disabled]):active {
    background-color: var(--c-elevation-1-pressed);
  }
  &[data-variant='elevated']:not([data-disabled])[data-selected] {
    background-color: var(--c-elevation-1-selected);
  }
  &[data-variant='default']:not([data-disabled]),
  &[data-variant='elevated']:not([data-disabled]) {
    color: var(--c-text-hgh);
  }
  &[data-variant='default']:not([data-disabled]) svg,
  &[data-variant='elevated']:not([data-disabled]) svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-2'],
[data-scheme='secondary-2'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-2);

  &[data-variant='default'] {
    color: var(--c-text-hgh);
    background-color: var(--c-background-2);
  }
  &[data-variant='elevated'] {
    background-color: var(--c-elevation-2);
  }
  &[data-variant='default'],
  &[data-variant='elevated'] {
    color: var(--c-text-hgh);
  }
  &[data-variant='default'] svg,
  &[data-variant='elevated'] svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-2-interactive'],
[data-scheme='secondary-2-interactive'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-2-enabled);

  &[data-variant='default']:not([data-disabled]) {
    background-color: var(--c-background-2-enabled);
  }
  &[data-variant='default']:not([data-disabled]):hover {
    background-color: var(--c-background-2-hovered);
  }
  &[data-variant='default']:not([data-disabled]):active {
    background-color: var(--c-background-2-pressed);
  }
  &[data-variant='default']:not([data-disabled])[data-selected] {
    background-color: var(--c-background-2-selected);
  }
  &[data-variant='elevated']:not([data-disabled]) {
    background-color: var(--c-elevation-2-enabled);
  }
  &[data-variant='elevated']:not([data-disabled]):hover {
    background-color: var(--c-elevation-2-hovered);
  }
  &[data-variant='elevated']:not([data-disabled]):active {
    background-color: var(--c-elevation-2-pressed);
  }
  &[data-variant='elevated']:not([data-disabled])[data-selected] {
    background-color: var(--c-elevation-2-selected);
  }
  &[data-variant='default']:not([data-disabled]),
  &[data-variant='elevated']:not([data-disabled]) {
    color: var(--c-text-hgh);
  }
  &[data-variant='default']:not([data-disabled]) svg,
  &[data-variant='elevated']:not([data-disabled]) svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-3'],
[data-scheme='secondary-3'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-3);

  &[data-variant='default'] {
    color: var(--c-text-hgh);
    background-color: var(--c-background-3);
  }
  &[data-variant='elevated'] {
    background-color: var(--c-elevation-3);
  }
  &[data-variant='default'],
  &[data-variant='elevated'] {
    color: var(--c-text-hgh);
  }
  &[data-variant='default'] svg,
  &[data-variant='elevated'] svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-3-interactive'],
[data-scheme='secondary-3-interactive'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-3-enabled);

  &[data-variant='default']:not([data-disabled]) {
    background-color: var(--c-background-3-enabled);
  }
  &[data-variant='default']:not([data-disabled]):hover {
    background-color: var(--c-background-3-hovered);
  }
  &[data-variant='default']:not([data-disabled]):active {
    background-color: var(--c-background-3-pressed);
  }
  &[data-variant='default']:not([data-disabled])[data-selected] {
    background-color: var(--c-background-3-selected);
  }
  &[data-variant='elevated']:not([data-disabled]) {
    background-color: var(--c-elevation-3-enabled);
  }
  &[data-variant='elevated']:not([data-disabled]):hover {
    background-color: var(--c-elevation-3-hovered);
  }
  &[data-variant='elevated']:not([data-disabled]):active {
    background-color: var(--c-elevation-3-pressed);
  }
  &[data-variant='elevated']:not([data-disabled])[data-selected] {
    background-color: var(--c-elevation-3-selected);
  }
  &[data-variant='default']:not([data-disabled]),
  &[data-variant='elevated']:not([data-disabled]) {
    color: var(--c-text-hgh);
  }
  &[data-variant='default']:not([data-disabled]) svg,
  &[data-variant='elevated']:not([data-disabled]) svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-4'],
[data-scheme='secondary-4'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-4);

  &[data-variant='default'] {
    color: var(--c-text-hgh);
    background-color: var(--c-background-4);
  }
  &[data-variant='elevated'] {
    background-color: var(--c-elevation-4);
  }
  &[data-variant='default'],
  &[data-variant='elevated'] {
    color: var(--c-text-hgh);
  }
  &[data-variant='default'] svg,
  &[data-variant='elevated'] svg {
    fill: var(--c-icon-hgh);
  }
}

[data-scheme='primary-4-interactive'],
[data-scheme='secondary-4-interactive'] {
  color: var(--c-text-hgh);
  background-color: var(--c-background-4-enabled);

  &[data-variant='default']:not([data-disabled]) {
    background-color: var(--c-background-4-enabled);
  }
  &[data-variant='default']:not([data-disabled]):hover {
    background-color: var(--c-background-4-hovered);
  }
  &[data-variant='default']:not([data-disabled]):active {
    background-color: var(--c-background-4-pressed);
  }
  &[data-variant='default']:not([data-disabled])[data-selected] {
    background-color: var(--c-background-4-selected);
  }
  &[data-variant='elevated']:not([data-disabled]) {
    background-color: var(--c-elevation-4-enabled);
  }
  &[data-variant='elevated']:not([data-disabled]):hover {
    background-color: var(--c-elevation-4-hovered);
  }
  &[data-variant='elevated']:not([data-disabled]):active {
    background-color: var(--c-elevation-4-pressed);
  }
  &[data-variant='elevated']:not([data-disabled])[data-selected] {
    background-color: var(--c-elevation-4-selected);
  }
  &[data-variant='default']:not([data-disabled]),
  &[data-variant='elevated']:not([data-disabled]) {
    color: var(--c-text-hgh);
  }
  &[data-variant='default']:not([data-disabled]) svg,
  &[data-variant='elevated']:not([data-disabled]) svg {
    fill: var(--c-icon-hgh);
  }
}
