[data-prefers-color-scheme='light'] {
  --c-neutral-1: #ffffff;
  --c-neutral-2: #f3f3f3;
  --c-neutral-3: #e8e8e8;
  --c-neutral-4: #dcdcdc;
  --c-neutral-5: #d0d0d0;
  --c-neutral-6: #c5c5c5;
  --c-neutral-7: #b9b9b9;
  --c-neutral-8: #adadad;
  --c-neutral-9: #a2a2a2;
  --c-neutral-10: #969696;
  --c-neutral-11: #8a8a8a;
  --c-neutral-12: #7e7e7e;
  --c-neutral-13: #737373;
  --c-neutral-14: #676767;
  --c-neutral-15: #5b5b5b;
  --c-neutral-16: #505050;
  --c-neutral-17: #444444;
  --c-neutral-18: #383838;
  --c-neutral-19: #2d2d2d;
  --c-neutral-20: #212121;
}

[data-prefers-color-scheme='dark'] {
  --c-neutral-1: #212121;
  --c-neutral-2: #2d2d2d;
  --c-neutral-3: #383838;
  --c-neutral-4: #444444;
  --c-neutral-5: #505050;
  --c-neutral-6: #5b5b5b;
  --c-neutral-7: #676767;
  --c-neutral-8: #737373;
  --c-neutral-9: #7e7e7e;
  --c-neutral-10: #8a8a8a;
  --c-neutral-11: #969696;
  --c-neutral-12: #a2a2a2;
  --c-neutral-13: #adadad;
  --c-neutral-14: #b9b9b9;
  --c-neutral-15: #c5c5c5;
  --c-neutral-16: #d0d0d0;
  --c-neutral-17: #dcdcdc;
  --c-neutral-18: #e8e8e8;
  --c-neutral-19: #f3f3f3;
  --c-neutral-20: #ffffff;
}

[data-prefers-color-scheme='dim'] {
  --c-neutral-1: #2e3440;
  --c-neutral-2: #393f4a;
  --c-neutral-3: #444954;
  --c-neutral-4: #4f545e;
  --c-neutral-5: #5a5f68;
  --c-neutral-6: #656972;
  --c-neutral-7: #70747c;
  --c-neutral-8: #7b7f86;
  --c-neutral-9: #868990;
  --c-neutral-10: #91949a;
  --c-neutral-11: #9c9fa5;
  --c-neutral-12: #a7aaaf;
  --c-neutral-13: #b2b4b9;
  --c-neutral-14: #bdbfc3;
  --c-neutral-15: #c8cacd;
  --c-neutral-16: #d3d4d7;
  --c-neutral-17: #dedfe1;
  --c-neutral-18: #e9eaeb;
  --c-neutral-19: #f4f4f5;
  --c-neutral-20: #ffffff;
}

[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  --text-primary-1: var(--c-neutral-20);
  --text-primary-2: var(--c-neutral-17);
  --text-primary-3: var(--c-neutral-14);

  --text-secondary-1: var(--c-neutral-1);
  --text-secondary-2: var(--c-neutral-3);
  --text-secondary-3: var(--c-neutral-5);

  --background-primary-1: var(--c-neutral-1);
  --background-primary-2: var(--c-neutral-2);
  --background-primary-3: var(--c-neutral-3);
  --background-primary-4: var(--c-neutral-4);
  --background-primary-5: var(--c-neutral-5);

  --background-primary-1-hover: var(--c-neutral-2);
  --background-primary-2-hover: var(--c-neutral-3);
  --background-primary-3-hover: var(--c-neutral-4);
  --background-primary-4-hover: var(--c-neutral-5);
  --background-primary-5-hover: var(--c-neutral-6);

  --background-secondary-1: var(--c-neutral-20);
  --background-secondary-2: var(--c-neutral-19);
  --background-secondary-3: var(--c-neutral-18);
  --background-secondary-4: var(--c-neutral-17);
  --background-secondary-5: var(--c-neutral-16);

  --background-secondary-1-hover: var(--c-neutral-19);
  --background-secondary-2-hover: var(--c-neutral-18);
  --background-secondary-3-hover: var(--c-neutral-17);
  --background-secondary-4-hover: var(--c-neutral-16);
  --background-secondary-5-hover: var(--c-neutral-15);
}

[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  --c-brown-1: hsl(var(--hsl-brown-1));
  --c-brown-2: hsl(var(--hsl-brown-2));
  --c-brown-3: hsl(var(--hsl-brown-3));
  --c-brown-4: hsl(var(--hsl-brown-4));
  --c-brown-5: hsl(var(--hsl-brown-5));
  --c-brown-6: hsl(var(--hsl-brown-6));
  --c-brown-7: hsl(var(--hsl-brown-7));
  --c-brown-8: hsl(var(--hsl-brown-8));
  --c-brown-9: hsl(var(--hsl-brown-9));

  --c-orange-1: hsl(var(--hsl-orange-1));
  --c-orange-2: hsl(var(--hsl-orange-2));
  --c-orange-3: hsl(var(--hsl-orange-3));
  --c-orange-4: hsl(var(--hsl-orange-4));
  --c-orange-5: hsl(var(--hsl-orange-5));
  --c-orange-6: hsl(var(--hsl-orange-6));
  --c-orange-7: hsl(var(--hsl-orange-7));
  --c-orange-8: hsl(var(--hsl-orange-8));
  --c-orange-9: hsl(var(--hsl-orange-9));

  --c-yellow-1: hsl(var(--hsl-yellow-1));
  --c-yellow-2: hsl(var(--hsl-yellow-2));
  --c-yellow-3: hsl(var(--hsl-yellow-3));
  --c-yellow-4: hsl(var(--hsl-yellow-4));
  --c-yellow-5: hsl(var(--hsl-yellow-5));
  --c-yellow-6: hsl(var(--hsl-yellow-6));
  --c-yellow-7: hsl(var(--hsl-yellow-7));
  --c-yellow-8: hsl(var(--hsl-yellow-8));
  --c-yellow-9: hsl(var(--hsl-yellow-9));

  --c-green-1: hsl(var(--hsl-green-1));
  --c-green-2: hsl(var(--hsl-green-2));
  --c-green-3: hsl(var(--hsl-green-3));
  --c-green-4: hsl(var(--hsl-green-4));
  --c-green-5: hsl(var(--hsl-green-5));
  --c-green-6: hsl(var(--hsl-green-6));
  --c-green-7: hsl(var(--hsl-green-7));
  --c-green-8: hsl(var(--hsl-green-8));
  --c-green-9: hsl(var(--hsl-green-9));

  --c-mint-1: hsl(var(--hsl-mint-1));
  --c-mint-2: hsl(var(--hsl-mint-2));
  --c-mint-3: hsl(var(--hsl-mint-3));
  --c-mint-4: hsl(var(--hsl-mint-4));
  --c-mint-5: hsl(var(--hsl-mint-5));
  --c-mint-6: hsl(var(--hsl-mint-6));
  --c-mint-7: hsl(var(--hsl-mint-7));
  --c-mint-8: hsl(var(--hsl-mint-8));
  --c-mint-9: hsl(var(--hsl-mint-9));

  --c-teal-1: hsl(var(--hsl-teal-1));
  --c-teal-2: hsl(var(--hsl-teal-2));
  --c-teal-3: hsl(var(--hsl-teal-3));
  --c-teal-4: hsl(var(--hsl-teal-4));
  --c-teal-5: hsl(var(--hsl-teal-5));
  --c-teal-6: hsl(var(--hsl-teal-6));
  --c-teal-7: hsl(var(--hsl-teal-7));
  --c-teal-8: hsl(var(--hsl-teal-8));
  --c-teal-9: hsl(var(--hsl-teal-9));

  --c-cyan-1: hsl(var(--hsl-cyan-1));
  --c-cyan-2: hsl(var(--hsl-cyan-2));
  --c-cyan-3: hsl(var(--hsl-cyan-3));
  --c-cyan-4: hsl(var(--hsl-cyan-4));
  --c-cyan-5: hsl(var(--hsl-cyan-5));
  --c-cyan-6: hsl(var(--hsl-cyan-6));
  --c-cyan-7: hsl(var(--hsl-cyan-7));
  --c-cyan-8: hsl(var(--hsl-cyan-8));
  --c-cyan-9: hsl(var(--hsl-cyan-9));

  --c-blue-1: hsl(var(--hsl-blue-1));
  --c-blue-2: hsl(var(--hsl-blue-2));
  --c-blue-3: hsl(var(--hsl-blue-3));
  --c-blue-4: hsl(var(--hsl-blue-4));
  --c-blue-5: hsl(var(--hsl-blue-5));
  --c-blue-6: hsl(var(--hsl-blue-6));
  --c-blue-7: hsl(var(--hsl-blue-7));
  --c-blue-8: hsl(var(--hsl-blue-8));
  --c-blue-9: hsl(var(--hsl-blue-9));

  --c-indigo-1: hsl(var(--hsl-indigo-1));
  --c-indigo-2: hsl(var(--hsl-indigo-2));
  --c-indigo-3: hsl(var(--hsl-indigo-3));
  --c-indigo-4: hsl(var(--hsl-indigo-4));
  --c-indigo-5: hsl(var(--hsl-indigo-5));
  --c-indigo-6: hsl(var(--hsl-indigo-6));
  --c-indigo-7: hsl(var(--hsl-indigo-7));
  --c-indigo-8: hsl(var(--hsl-indigo-8));
  --c-indigo-9: hsl(var(--hsl-indigo-9));

  --c-purple-1: hsl(var(--hsl-purple-1));
  --c-purple-2: hsl(var(--hsl-purple-2));
  --c-purple-3: hsl(var(--hsl-purple-3));
  --c-purple-4: hsl(var(--hsl-purple-4));
  --c-purple-5: hsl(var(--hsl-purple-5));
  --c-purple-6: hsl(var(--hsl-purple-6));
  --c-purple-7: hsl(var(--hsl-purple-7));
  --c-purple-8: hsl(var(--hsl-purple-8));
  --c-purple-9: hsl(var(--hsl-purple-9));

  --c-pink-1: hsl(var(--hsl-pink-1));
  --c-pink-2: hsl(var(--hsl-pink-2));
  --c-pink-3: hsl(var(--hsl-pink-3));
  --c-pink-4: hsl(var(--hsl-pink-4));
  --c-pink-5: hsl(var(--hsl-pink-5));
  --c-pink-6: hsl(var(--hsl-pink-6));
  --c-pink-7: hsl(var(--hsl-pink-7));
  --c-pink-8: hsl(var(--hsl-pink-8));
  --c-pink-9: hsl(var(--hsl-pink-9));

  --c-red-1: hsl(var(--hsl-red-1));
  --c-red-2: hsl(var(--hsl-red-2));
  --c-red-3: hsl(var(--hsl-red-3));
  --c-red-4: hsl(var(--hsl-red-4));
  --c-red-5: hsl(var(--hsl-red-5));
  --c-red-6: hsl(var(--hsl-red-6));
  --c-red-7: hsl(var(--hsl-red-7));
  --c-red-8: hsl(var(--hsl-red-8));
  --c-red-9: hsl(var(--hsl-red-9));

  &[data-prefers-color-accent='orange'] {
    --c-accent-1: hsl(var(--hsl-orange-1));
    --c-accent-2: hsl(var(--hsl-orange-2));
    --c-accent-3: hsl(var(--hsl-orange-3));
    --c-accent-4: hsl(var(--hsl-orange-4));
    --c-accent-5: hsl(var(--hsl-orange-5));
    --c-accent-6: hsl(var(--hsl-orange-6));
    --c-accent-7: hsl(var(--hsl-orange-7));
    --c-accent-8: hsl(var(--hsl-orange-8));
    --c-accent-9: hsl(var(--hsl-orange-9));

    --c-accent-1-A300: hsla(var(--hsl-orange-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-orange-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-orange-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-orange-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-orange-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-orange-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-orange-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-orange-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-orange-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-orange-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-orange-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-orange-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-orange-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-orange-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-orange-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-orange-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-orange-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-orange-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-orange-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-orange-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-orange-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-orange-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-orange-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-orange-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-orange-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-orange-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-orange-9), 0.7);
  }

  &[data-prefers-color-accent='yellow'] {
    --c-accent-1: hsl(var(--hsl-yellow-1));
    --c-accent-2: hsl(var(--hsl-yellow-2));
    --c-accent-3: hsl(var(--hsl-yellow-3));
    --c-accent-4: hsl(var(--hsl-yellow-4));
    --c-accent-5: hsl(var(--hsl-yellow-5));
    --c-accent-6: hsl(var(--hsl-yellow-6));
    --c-accent-7: hsl(var(--hsl-yellow-7));
    --c-accent-8: hsl(var(--hsl-yellow-8));
    --c-accent-9: hsl(var(--hsl-yellow-9));

    --c-accent-1-A300: hsla(var(--hsl-yellow-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-yellow-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-yellow-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-yellow-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-yellow-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-yellow-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-yellow-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-yellow-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-yellow-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-yellow-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-yellow-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-yellow-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-yellow-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-yellow-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-yellow-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-yellow-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-yellow-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-yellow-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-yellow-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-yellow-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-yellow-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-yellow-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-yellow-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-yellow-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-yellow-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-yellow-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-yellow-9), 0.7);
  }

  &[data-prefers-color-accent='green'] {
    --c-accent-1: hsl(var(--hsl-green-1));
    --c-accent-2: hsl(var(--hsl-green-2));
    --c-accent-3: hsl(var(--hsl-green-3));
    --c-accent-4: hsl(var(--hsl-green-4));
    --c-accent-5: hsl(var(--hsl-green-5));
    --c-accent-6: hsl(var(--hsl-green-6));
    --c-accent-7: hsl(var(--hsl-green-7));
    --c-accent-8: hsl(var(--hsl-green-8));
    --c-accent-9: hsl(var(--hsl-green-9));

    --c-accent-1-A300: hsla(var(--hsl-green-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-green-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-green-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-green-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-green-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-green-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-green-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-green-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-green-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-green-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-green-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-green-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-green-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-green-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-green-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-green-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-green-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-green-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-green-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-green-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-green-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-green-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-green-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-green-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-green-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-green-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-green-9), 0.7);
  }

  &[data-prefers-color-accent='mint'] {
    --c-accent-1: hsl(var(--hsl-mint-1));
    --c-accent-2: hsl(var(--hsl-mint-2));
    --c-accent-3: hsl(var(--hsl-mint-3));
    --c-accent-4: hsl(var(--hsl-mint-4));
    --c-accent-5: hsl(var(--hsl-mint-5));
    --c-accent-6: hsl(var(--hsl-mint-6));
    --c-accent-7: hsl(var(--hsl-mint-7));
    --c-accent-8: hsl(var(--hsl-mint-8));
    --c-accent-9: hsl(var(--hsl-mint-9));

    --c-accent-1-A300: hsla(var(--hsl-mint-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-mint-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-mint-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-mint-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-mint-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-mint-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-mint-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-mint-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-mint-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-mint-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-mint-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-mint-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-mint-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-mint-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-mint-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-mint-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-mint-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-mint-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-mint-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-mint-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-mint-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-mint-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-mint-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-mint-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-mint-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-mint-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-mint-9), 0.7);
  }

  &[data-prefers-color-accent='teal'] {
    --c-accent-1: hsl(var(--hsl-teal-1));
    --c-accent-2: hsl(var(--hsl-teal-2));
    --c-accent-3: hsl(var(--hsl-teal-3));
    --c-accent-4: hsl(var(--hsl-teal-4));
    --c-accent-5: hsl(var(--hsl-teal-5));
    --c-accent-6: hsl(var(--hsl-teal-6));
    --c-accent-7: hsl(var(--hsl-teal-7));
    --c-accent-8: hsl(var(--hsl-teal-8));
    --c-accent-9: hsl(var(--hsl-teal-9));

    --c-accent-1-A300: hsla(var(--hsl-teal-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-teal-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-teal-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-teal-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-teal-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-teal-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-teal-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-teal-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-teal-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-teal-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-teal-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-teal-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-teal-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-teal-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-teal-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-teal-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-teal-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-teal-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-teal-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-teal-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-teal-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-teal-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-teal-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-teal-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-teal-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-teal-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-teal-9), 0.7);
  }

  &[data-prefers-color-accent='cyan'] {
    --c-accent-1: hsl(var(--hsl-cyan-1));
    --c-accent-2: hsl(var(--hsl-cyan-2));
    --c-accent-3: hsl(var(--hsl-cyan-3));
    --c-accent-4: hsl(var(--hsl-cyan-4));
    --c-accent-5: hsl(var(--hsl-cyan-5));
    --c-accent-6: hsl(var(--hsl-cyan-6));
    --c-accent-7: hsl(var(--hsl-cyan-7));
    --c-accent-8: hsl(var(--hsl-cyan-8));
    --c-accent-9: hsl(var(--hsl-cyan-9));

    --c-accent-1-A300: hsla(var(--hsl-cyan-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-cyan-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-cyan-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-cyan-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-cyan-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-cyan-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-cyan-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-cyan-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-cyan-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-cyan-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-cyan-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-cyan-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-cyan-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-cyan-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-cyan-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-cyan-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-cyan-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-cyan-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-cyan-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-cyan-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-cyan-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-cyan-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-cyan-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-cyan-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-cyan-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-cyan-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-cyan-9), 0.7);
  }

  &[data-prefers-color-accent='blue'] {
    --c-accent-1: hsl(var(--hsl-blue-1));
    --c-accent-2: hsl(var(--hsl-blue-2));
    --c-accent-3: hsl(var(--hsl-blue-3));
    --c-accent-4: hsl(var(--hsl-blue-4));
    --c-accent-5: hsl(var(--hsl-blue-5));
    --c-accent-6: hsl(var(--hsl-blue-6));
    --c-accent-7: hsl(var(--hsl-blue-7));
    --c-accent-8: hsl(var(--hsl-blue-8));
    --c-accent-9: hsl(var(--hsl-blue-9));

    --c-accent-1-A300: hsla(var(--hsl-blue-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-blue-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-blue-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-blue-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-blue-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-blue-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-blue-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-blue-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-blue-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-blue-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-blue-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-blue-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-blue-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-blue-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-blue-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-blue-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-blue-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-blue-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-blue-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-blue-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-blue-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-blue-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-blue-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-blue-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-blue-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-blue-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-blue-9), 0.7);
  }

  &[data-prefers-color-accent='indigo'] {
    --c-accent-1: hsl(var(--hsl-indigo-1));
    --c-accent-2: hsl(var(--hsl-indigo-2));
    --c-accent-3: hsl(var(--hsl-indigo-3));
    --c-accent-4: hsl(var(--hsl-indigo-4));
    --c-accent-5: hsl(var(--hsl-indigo-5));
    --c-accent-6: hsl(var(--hsl-indigo-6));
    --c-accent-7: hsl(var(--hsl-indigo-7));
    --c-accent-8: hsl(var(--hsl-indigo-8));
    --c-accent-9: hsl(var(--hsl-indigo-9));

    --c-accent-1-A300: hsla(var(--hsl-indigo-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-indigo-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-indigo-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-indigo-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-indigo-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-indigo-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-indigo-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-indigo-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-indigo-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-indigo-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-indigo-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-indigo-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-indigo-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-indigo-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-indigo-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-indigo-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-indigo-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-indigo-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-indigo-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-indigo-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-indigo-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-indigo-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-indigo-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-indigo-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-indigo-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-indigo-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-indigo-9), 0.7);
  }

  &[data-prefers-color-accent='purple'] {
    --c-accent-1: hsl(var(--hsl-purple-1));
    --c-accent-2: hsl(var(--hsl-purple-2));
    --c-accent-3: hsl(var(--hsl-purple-3));
    --c-accent-4: hsl(var(--hsl-purple-4));
    --c-accent-5: hsl(var(--hsl-purple-5));
    --c-accent-6: hsl(var(--hsl-purple-6));
    --c-accent-7: hsl(var(--hsl-purple-7));
    --c-accent-8: hsl(var(--hsl-purple-8));
    --c-accent-9: hsl(var(--hsl-purple-9));

    --c-accent-1-A300: hsla(var(--hsl-purple-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-purple-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-purple-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-purple-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-purple-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-purple-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-purple-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-purple-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-purple-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-purple-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-purple-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-purple-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-purple-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-purple-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-purple-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-purple-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-purple-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-purple-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-purple-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-purple-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-purple-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-purple-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-purple-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-purple-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-purple-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-purple-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-purple-9), 0.7);
  }

  &[data-prefers-color-accent='pink'] {
    --c-accent-1: hsl(var(--hsl-pink-1));
    --c-accent-2: hsl(var(--hsl-pink-2));
    --c-accent-3: hsl(var(--hsl-pink-3));
    --c-accent-4: hsl(var(--hsl-pink-4));
    --c-accent-5: hsl(var(--hsl-pink-5));
    --c-accent-6: hsl(var(--hsl-pink-6));
    --c-accent-7: hsl(var(--hsl-pink-7));
    --c-accent-8: hsl(var(--hsl-pink-8));
    --c-accent-9: hsl(var(--hsl-pink-9));

    --c-accent-1-A300: hsla(var(--hsl-pink-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-pink-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-pink-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-pink-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-pink-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-pink-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-pink-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-pink-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-pink-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-pink-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-pink-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-pink-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-pink-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-pink-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-pink-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-pink-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-pink-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-pink-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-pink-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-pink-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-pink-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-pink-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-pink-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-pink-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-pink-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-pink-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-pink-9), 0.7);
  }

  &[data-prefers-color-accent='brown'] {
    --c-accent-1: hsl(var(--hsl-brown-1));
    --c-accent-2: hsl(var(--hsl-brown-2));
    --c-accent-3: hsl(var(--hsl-brown-3));
    --c-accent-4: hsl(var(--hsl-brown-4));
    --c-accent-5: hsl(var(--hsl-brown-5));
    --c-accent-6: hsl(var(--hsl-brown-6));
    --c-accent-7: hsl(var(--hsl-brown-7));
    --c-accent-8: hsl(var(--hsl-brown-8));
    --c-accent-9: hsl(var(--hsl-brown-9));

    --c-accent-1-A300: hsla(var(--hsl-brown-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-brown-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-brown-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-brown-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-brown-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-brown-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-brown-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-brown-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-brown-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-brown-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-brown-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-brown-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-brown-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-brown-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-brown-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-brown-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-brown-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-brown-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-brown-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-brown-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-brown-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-brown-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-brown-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-brown-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-brown-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-brown-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-brown-9), 0.7);
  }

  &[data-prefers-color-accent='red'] {
    --c-accent-1: hsl(var(--hsl-red-1));
    --c-accent-2: hsl(var(--hsl-red-2));
    --c-accent-3: hsl(var(--hsl-red-3));
    --c-accent-4: hsl(var(--hsl-red-4));
    --c-accent-5: hsl(var(--hsl-red-5));
    --c-accent-6: hsl(var(--hsl-red-6));
    --c-accent-7: hsl(var(--hsl-red-7));
    --c-accent-8: hsl(var(--hsl-red-8));
    --c-accent-9: hsl(var(--hsl-red-9));

    --c-accent-1-A300: hsla(var(--hsl-red-1), 0.3);
    --c-accent-2-A300: hsla(var(--hsl-red-2), 0.3);
    --c-accent-3-A300: hsla(var(--hsl-red-3), 0.3);
    --c-accent-4-A300: hsla(var(--hsl-red-4), 0.3);
    --c-accent-5-A300: hsla(var(--hsl-red-5), 0.3);
    --c-accent-6-A300: hsla(var(--hsl-red-6), 0.3);
    --c-accent-7-A300: hsla(var(--hsl-red-7), 0.3);
    --c-accent-8-A300: hsla(var(--hsl-red-8), 0.3);
    --c-accent-9-A300: hsla(var(--hsl-red-9), 0.3);

    --c-accent-1-A500: hsla(var(--hsl-red-1), 0.5);
    --c-accent-2-A500: hsla(var(--hsl-red-2), 0.5);
    --c-accent-3-A500: hsla(var(--hsl-red-3), 0.5);
    --c-accent-4-A500: hsla(var(--hsl-red-4), 0.5);
    --c-accent-5-A500: hsla(var(--hsl-red-5), 0.5);
    --c-accent-6-A500: hsla(var(--hsl-red-6), 0.5);
    --c-accent-7-A500: hsla(var(--hsl-red-7), 0.5);
    --c-accent-8-A500: hsla(var(--hsl-red-8), 0.5);
    --c-accent-9-A500: hsla(var(--hsl-red-9), 0.5);

    --c-accent-1-A700: hsla(var(--hsl-red-1), 0.7);
    --c-accent-2-A700: hsla(var(--hsl-red-2), 0.7);
    --c-accent-3-A700: hsla(var(--hsl-red-3), 0.7);
    --c-accent-4-A700: hsla(var(--hsl-red-4), 0.7);
    --c-accent-5-A700: hsla(var(--hsl-red-5), 0.7);
    --c-accent-6-A700: hsla(var(--hsl-red-6), 0.7);
    --c-accent-7-A700: hsla(var(--hsl-red-7), 0.7);
    --c-accent-8-A700: hsla(var(--hsl-red-8), 0.7);
    --c-accent-9-A700: hsla(var(--hsl-red-9), 0.7);
  }
}
