[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  &[data-prefers-color-accent='orange'] {
    --rgb-accent: var(--rgb-orange);
  }
  &[data-prefers-color-accent='yellow'] {
    --rgb-accent: var(--rgb-yellow);
  }
  &[data-prefers-color-accent='green'] {
    --rgb-accent: var(--rgb-green);
  }
  &[data-prefers-color-accent='mint'] {
    --rgb-accent: var(--rgb-mint);
  }
  &[data-prefers-color-accent='teal'] {
    --rgb-accent: var(--rgb-teal);
  }
  &[data-prefers-color-accent='cyan'] {
    --rgb-accent: var(--rgb-cyan);
  }
  &[data-prefers-color-accent='blue'] {
    --rgb-accent: var(--rgb-blue);
  }
  &[data-prefers-color-accent='indigo'] {
    --rgb-accent: var(--rgb-indigo);
  }
  &[data-prefers-color-accent='purple'] {
    --rgb-accent: var(--rgb-purple);
  }
  &[data-prefers-color-accent='pink'] {
    --rgb-accent: var(--rgb-pink);
  }
  &[data-prefers-color-accent='brown'] {
    --rgb-accent: var(--rgb-brown);
  }
  &[data-prefers-color-accent='red'] {
    --rgb-accent: var(--rgb-red);
  }

  .Page,
  .Screen {
    color: rgba(var(--rgb-primary-text), 1);
    background-color: rgba(var(--rgb-primary-base), 1);
  }

  .Section.accent {
    background-color: rgba(var(--rgb-accent), 0.1);
  }

  .Section.primary {
    .Text--scheme-accent-max,
    .Title--scheme-accent-max {
      color: rgba(var(--rgb-accent), 0.99);
    }
    .Text--scheme-accent-high,
    .Title--scheme-accent-high {
      color: rgba(var(--rgb-accent), 0.87);
    }
    .Text--scheme-accent-med,
    .Title--scheme-accent-med {
      color: rgba(var(--rgb-accent), 0.67);
    }
    .Text--scheme-accent-low,
    .Title--scheme-accent-low {
      color: rgba(var(--rgb-accent), 0.47);
    }
  }

  .Section.secondary {
    .Text--scheme-accent-max,
    .Title--scheme-accent-max {
      color: rgba(var(--rgb-accent), 0.99);
    }
    .Text--scheme-accent-high,
    .Title--scheme-accent-high {
      color: rgba(var(--rgb-accent), 0.87);
    }
    .Text--scheme-accent-med,
    .Title--scheme-accent-med {
      color: rgba(var(--rgb-accent), 0.67);
    }
    .Text--scheme-accent-low,
    .Title--scheme-accent-low {
      color: rgba(var(--rgb-accent), 0.47);
    }
  }

  .Section.primary {
    color: rgba(var(--rgb-primary-text), 1);
    background-color: rgba(var(--rgb-primary-base), 1);

    .Text--scheme-max,
    .Title--scheme-max {
      color: rgba(var(--rgb-primary-text), 0.99);
    }
    .Text--scheme-high,
    .Title--scheme-high {
      color: rgba(var(--rgb-primary-text), 0.87);
    }
    .Text--scheme-med,
    .Title--scheme-med {
      color: rgba(var(--rgb-primary-text), 0.67);
    }
    .Text--scheme-low,
    .Title--scheme-low {
      color: rgba(var(--rgb-primary-text), 0.47);
    }
  }

  .Section.secondary {
    color: rgba(var(--rgb-secondary-text), 1);
    background-color: rgba(var(--rgb-secondary-base), 1);

    .Text--scheme-max,
    .Title--scheme-max {
      color: rgba(var(--rgb-secondary-text), 0.99);
    }
    .Text--scheme-high,
    .Title--scheme-high {
      color: rgba(var(--rgb-secondary-text), 0.87);
    }
    .Text--scheme-med,
    .Title--scheme-med {
      color: rgba(var(--rgb-secondary-text), 0.67);
    }
    .Text--scheme-low,
    .Title--scheme-low {
      color: rgba(var(--rgb-secondary-text), 0.47);
    }
  }
}
