[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  &[data-prefers-color-accent='orange'] {
    --c-accent: var(--c-orange);
  }
  &[data-prefers-color-accent='yellow'] {
    --c-accent: var(--c-yellow);
  }
  &[data-prefers-color-accent='green'] {
    --c-accent: var(--c-green);
  }
  &[data-prefers-color-accent='mint'] {
    --c-accent: var(--c-mint);
  }
  &[data-prefers-color-accent='teal'] {
    --c-accent: var(--c-teal);
  }
  &[data-prefers-color-accent='cyan'] {
    --c-accent: var(--c-cyan);
  }
  &[data-prefers-color-accent='blue'] {
    --c-accent: var(--c-blue);
  }
  &[data-prefers-color-accent='indigo'] {
    --c-accent: var(--c-indigo);
  }
  &[data-prefers-color-accent='purple'] {
    --c-accent: var(--c-purple);
  }
  &[data-prefers-color-accent='pink'] {
    --c-accent: var(--c-pink);
  }
  &[data-prefers-color-accent='brown'] {
    --c-accent: var(--c-brown);
  }
  &[data-prefers-color-accent='red'] {
    --c-accent: var(--c-red);
  }

  .Button {
    background-color: rgba(var(--c-secondary), 0.08);
  }
  .Button:hover {
    background-color: rgba(var(--c-secondary), 0.12);
  }
  .Button:active {
    background-color: rgba(var(--c-secondary), 0.16);
  }

  .Button.accent {
    background-color: rgba(var(--c-accent), 0.5);
  }
  .Button.accent:hover {
    background-color: rgba(var(--c-accent), 0.6);
  }
  .Button.accent:active {
    background-color: rgba(var(--c-accent), 0.7);
  }

  .Button.inverted {
    color: rgba(var(--c-primary), 1);
    background-color: rgba(var(--c-secondary), 1);
  }
  .Button.inverted:hover {
    background-color: rgba(var(--c-secondary), 0.9);
  }
  .Button.inverted:active {
    background-color: rgba(var(--c-secondary), 0.8);
  }

  .Section.accent {
    background-color: rgba(var(--c-accent), 0.2);
  }
  .Section.primary {
    color: rgba(var(--c-secondary), 1);
    background-color: rgba(var(--c-primary), 1);
  }
  .Section.secondary {
    color: rgba(var(--c-primary), 1);
    background-color: rgba(var(--c-secondary), 1);
  }

  .Section.primary {
    .Button {
      background-color: rgba(var(--c-secondary), 0.08);
    }
    .Button:hover {
      background-color: rgba(var(--c-secondary), 0.12);
    }
    .Button:active {
      background-color: rgba(var(--c-secondary), 0.16);
    }

    .Button.default {
      background-color: rgba(var(--c-secondary), 0.08);
    }
    .Button.default:hover {
      background-color: rgba(var(--c-secondary), 0.12);
    }
    .Button.default:active {
      background-color: rgba(var(--c-secondary), 0.16);
    }

    .Button.accent {
      background-color: rgba(var(--c-accent), 0.5);
    }
    .Button.accent:hover {
      background-color: rgba(var(--c-accent), 0.6);
    }
    .Button.accent:active {
      background-color: rgba(var(--c-accent), 0.7);
    }

    .Button.inverted {
      color: rgba(var(--c-primary), 1);
      background-color: rgba(var(--c-secondary), 1);
    }
    .Button.inverted:hover {
      background-color: rgba(var(--c-secondary), 0.9);
    }
    .Button.inverted:active {
      background-color: rgba(var(--c-secondary), 0.8);
    }
  }

  .Section.secondary {
    .Button {
      background-color: rgba(var(--c-primary), 0.08);
    }
    .Button:hover {
      background-color: rgba(var(--c-primary), 0.12);
    }
    .Button:active {
      background-color: rgba(var(--c-primary), 0.16);
    }

    .Button.default {
      background-color: rgba(var(--c-primary), 0.08);
    }
    .Button.default:hover {
      background-color: rgba(var(--c-primary), 0.12);
    }
    .Button.default:active {
      background-color: rgba(var(--c-primary), 0.16);
    }

    .Button.accent {
      background-color: rgba(var(--c-accent), 0.5);
    }
    .Button.accent:hover {
      background-color: rgba(var(--c-accent), 0.6);
    }
    .Button.accent:active {
      background-color: rgba(var(--c-accent), 0.7);
    }

    .Button.inverted {
      color: rgba(var(--c-secondary), 1);
      background-color: rgba(var(--c-primary), 1);
    }
    .Button.inverted:hover {
      background-color: rgba(var(--c-primary), 0.9);
    }
    .Button.inverted:active {
      background-color: rgba(var(--c-primary), 0.8);
    }
  }

  .Text.accent,
  .Title.accent {
    color: rgba(var(--c-accent), 1);
  }

  .Page,
  .Screen,
  .GlobalControl {
    color: rgba(var(--c-secondary), 1);
    background-color: rgba(var(--c-primary), 1);
  }

  .Page-header {
    backdrop-filter: blur(16px);
    background-color: rgba(var(--c-primary), 0.9);
  }
}
