[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  &[data-prefers-color-accent='orange'] {
    --c-accent: var(--c-orange);
  }
  &[data-prefers-color-accent='yellow'] {
    --c-accent: var(--c-yellow);
  }
  &[data-prefers-color-accent='green'] {
    --c-accent: var(--c-green);
  }
  &[data-prefers-color-accent='mint'] {
    --c-accent: var(--c-mint);
  }
  &[data-prefers-color-accent='teal'] {
    --c-accent: var(--c-teal);
  }
  &[data-prefers-color-accent='cyan'] {
    --c-accent: var(--c-cyan);
  }
  &[data-prefers-color-accent='blue'] {
    --c-accent: var(--c-blue);
  }
  &[data-prefers-color-accent='indigo'] {
    --c-accent: var(--c-indigo);
  }
  &[data-prefers-color-accent='purple'] {
    --c-accent: var(--c-purple);
  }
  &[data-prefers-color-accent='pink'] {
    --c-accent: var(--c-pink);
  }
  &[data-prefers-color-accent='brown'] {
    --c-accent: var(--c-brown);
  }
  &[data-prefers-color-accent='red'] {
    --c-accent: var(--c-red);
  }

  html,
  body,
  #root,
  .Page,
  .Screen,
  .Sandbox,
  .GlobalControl {
    color: rgba(var(--c-secondary), 1);
    background-color: rgba(var(--c-primary), 1);
  }

  .Page-header {
    backdrop-filter: blur(16px);
    background-color: rgba(var(--c-primary), 0.9);
  }
}
