.Page {
  background-color: hsla(var(--c-hsl-primary), 1);
  color: hsla(var(--c-hsl-secondary), 1);
}

.Radio,
.Button,
.Switch,
.Checkbox {
  --c-border: transparent;
  --c-outline: transparent;

  cursor: var(--cursor, pointer);
  border: var(--border-md);
  outline: var(--border-md);
  border-color: var(--c-border);
  outline-color: var(--c-outline);

  &:disabled,
  &[data-disabled] {
    --cursor: default;
  }

  &[data-hovered] {
    --cursor: pointer;
  }

  &:focus:not(:focus-visible) {
    --c-outline: transparent;
  }
  &:focus:focus-visible {
    --c-outline: hsl(var(--c-hsl-focus));
  }
}
