@use './focus' as focus;
@use './cursor' as cursor;
@use './motion' as motion;
@use './surface' as surface;

html,
body,
#root {
  @include surface.primary-1-static();
}

.v2-page,
.v2-main {
  @include surface.primary-1-static();
}

.v2-hero {
  @include surface.primary-2-static();
}

.v2-button {
  @include cursor.clickable();
  @include surface.primary-2-clickable();
}

.v2-action-spacer {
  @include cursor.default();
  @include surface.primary-2-static();
}

.v2-action {
  @include cursor.selectable();
  @include surface.primary-2-selectable();
}

.v2-action-group {
  @include cursor.selectable();
  @include surface.primary-1-static();
}

.v2-action[data-selected]::before,
.v2-action:not([data-selected])::before {
  @include motion.color-static;
  transition-duration: 400ms;
}

.v2-action[data-orientation='vertical'][data-selected]::before {
  background-color: var(--c-accent);
}

.v2-action[data-orientation='horizontal'][data-selected]::before {
  background-color: var(--c-accent);
}

.v2-action[data-orientation='vertical']:not([data-selected])::before {
  background-color: transparent;
}

.v2-action[data-orientation='horizontal']:not([data-selected])::before {
  background-color: transparent;
}

.v2-action.v2-sidebar-select-option[data-selected]::before {
  background-color: transparent;
}

.v2-accordion-target {
  @include cursor.clickable();
  @include surface.primary-1-clickable();
}

.v2-accordion-target--elevated {
  @include cursor.clickable();
  @include surface.primary-2-clickable();
}

.v2-divider {
  background-color: transparent;
}

.v2-divider::after {
  background-color: var(--c-primary-border-4);
}

.v2-divider-inner {
  background-color: var(--c-primary-1);
}
.v2-divider-inner .v2-text,
.v2-divider-inner .v2-icon {
  color: var(--c-primary-border-2);
}

// .v2-checkbox {
//   @include cursor.clickable();
//   @include surface.primary-2-clickable();
// }

// .v2-checkbox-input {
//   @include focus.clickable();
// }

.v2-control-segment {
  @include cursor.clickable();
}

.v2-control-thumb {
  @include surface.primary-2-static();
}

.v2-menu-grid-cell {
  background-color: var(--c-accent);
}

.v2-search {
  @include surface.primary-1-static();
}

.v2-search::before {
  @include surface.primary-2-static();
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.v2-search-input {
  @include cursor.clickable();
  @include surface.primary-2-clickable();
  color: var(--c-primary-text-2);
}

.v2-search-input::placeholder {
  color: var(--c-primary-text-4);
}

.v2-search-result {
  @include surface.primary-1-static();
}

.v2-search-item {
  @include cursor.clickable();
  @include surface.primary-2-clickable();
  color: var(--c-primary-text-3);
}

.v2-search-item svg {
  color: var(--c-primary-text-4);
}

.v2-sidebar-select-drawer {
  @include surface.primary-1-static();
}
