[data-prefers-color-scheme='light'] {
  --hsl-orange-1: 35, 100%, 12%;
  --hsl-orange-2: 35, 100%, 22%;
  --hsl-orange-3: 35, 100%, 32%;
  --hsl-orange-4: 35, 100%, 42%;
  --hsl-orange-5: 35, 100%, 52%;
  --hsl-orange-6: 35, 100%, 62%;
  --hsl-orange-7: 35, 100%, 72%;
  --hsl-orange-8: 35, 100%, 82%;
  --hsl-orange-9: 35, 100%, 92%;

  --hsl-yellow-1: 48, 100%, 12%;
  --hsl-yellow-2: 48, 100%, 22%;
  --hsl-yellow-3: 48, 100%, 32%;
  --hsl-yellow-4: 48, 100%, 42%;
  --hsl-yellow-5: 48, 100%, 52%;
  --hsl-yellow-6: 48, 100%, 62%;
  --hsl-yellow-7: 48, 100%, 72%;
  --hsl-yellow-8: 48, 100%, 82%;
  --hsl-yellow-9: 48, 100%, 92%;

  --hsl-green-1: 135, 59%, 10%;
  --hsl-green-2: 135, 59%, 20%;
  --hsl-green-3: 135, 59%, 30%;
  --hsl-green-4: 135, 59%, 40%;
  --hsl-green-5: 135, 59%, 50%;
  --hsl-green-6: 135, 59%, 60%;
  --hsl-green-7: 135, 59%, 70%;
  --hsl-green-8: 135, 59%, 80%;
  --hsl-green-9: 135, 59%, 90%;

  --hsl-mint-1: 177, 100%, 15%;
  --hsl-mint-2: 177, 100%, 25%;
  --hsl-mint-3: 177, 100%, 35%;
  --hsl-mint-4: 177, 100%, 45%;
  --hsl-mint-5: 177, 100%, 55%;
  --hsl-mint-6: 177, 100%, 65%;
  --hsl-mint-7: 177, 100%, 75%;
  --hsl-mint-8: 177, 100%, 85%;
  --hsl-mint-9: 177, 100%, 95%;

  --hsl-teal-1: 189, 61%, 16%;
  --hsl-teal-2: 189, 61%, 26%;
  --hsl-teal-3: 189, 61%, 36%;
  --hsl-teal-4: 189, 61%, 46%;
  --hsl-teal-5: 189, 61%, 56%;
  --hsl-teal-6: 189, 61%, 66%;
  --hsl-teal-7: 189, 61%, 76%;
  --hsl-teal-8: 189, 61%, 86%;
  --hsl-teal-9: 189, 61%, 96%;

  --hsl-cyan-1: 199, 78%, 10%;
  --hsl-cyan-2: 199, 78%, 20%;
  --hsl-cyan-3: 199, 78%, 30%;
  --hsl-cyan-4: 199, 78%, 40%;
  --hsl-cyan-5: 199, 78%, 50%;
  --hsl-cyan-6: 199, 78%, 60%;
  --hsl-cyan-7: 199, 78%, 70%;
  --hsl-cyan-8: 199, 78%, 80%;
  --hsl-cyan-9: 199, 78%, 90%;

  --hsl-blue-1: 211, 100%, 12%;
  --hsl-blue-2: 211, 100%, 22%;
  --hsl-blue-3: 211, 100%, 32%;
  --hsl-blue-4: 211, 100%, 42%;
  --hsl-blue-5: 211, 100%, 52%;
  --hsl-blue-6: 211, 100%, 62%;
  --hsl-blue-7: 211, 100%, 72%;
  --hsl-blue-8: 211, 100%, 82%;
  --hsl-blue-9: 211, 100%, 92%;

  --hsl-indigo-1: 241, 61%, 13%;
  --hsl-indigo-2: 241, 61%, 23%;
  --hsl-indigo-3: 241, 61%, 33%;
  --hsl-indigo-4: 241, 61%, 43%;
  --hsl-indigo-5: 241, 61%, 53%;
  --hsl-indigo-6: 241, 61%, 63%;
  --hsl-indigo-7: 241, 61%, 73%;
  --hsl-indigo-8: 241, 61%, 83%;
  --hsl-indigo-9: 241, 61%, 93%;

  --hsl-purple-1: 280, 68%, 15%;
  --hsl-purple-2: 280, 68%, 25%;
  --hsl-purple-3: 280, 68%, 35%;
  --hsl-purple-4: 280, 68%, 45%;
  --hsl-purple-5: 280, 68%, 55%;
  --hsl-purple-6: 280, 68%, 65%;
  --hsl-purple-7: 280, 68%, 75%;
  --hsl-purple-8: 280, 68%, 85%;
  --hsl-purple-9: 280, 68%, 95%;

  --hsl-pink-1: 349, 100%, 11%;
  --hsl-pink-2: 349, 100%, 21%;
  --hsl-pink-3: 349, 100%, 31%;
  --hsl-pink-4: 349, 100%, 41%;
  --hsl-pink-5: 349, 100%, 51%;
  --hsl-pink-6: 349, 100%, 61%;
  --hsl-pink-7: 349, 100%, 71%;
  --hsl-pink-8: 349, 100%, 81%;
  --hsl-pink-9: 349, 100%, 91%;

  --hsl-brown-1: 34, 27%, 14%;
  --hsl-brown-2: 34, 27%, 24%;
  --hsl-brown-3: 34, 27%, 34%;
  --hsl-brown-4: 34, 27%, 44%;
  --hsl-brown-5: 34, 27%, 54%;
  --hsl-brown-6: 34, 27%, 64%;
  --hsl-brown-7: 34, 27%, 74%;
  --hsl-brown-8: 34, 27%, 84%;
  --hsl-brown-9: 34, 27%, 94%;

  --hsl-red-1: 3, 100%, 11%;
  --hsl-red-2: 3, 100%, 21%;
  --hsl-red-3: 3, 100%, 31%;
  --hsl-red-4: 3, 100%, 41%;
  --hsl-red-5: 3, 100%, 51%;
  --hsl-red-6: 3, 100%, 61%;
  --hsl-red-7: 3, 100%, 71%;
  --hsl-red-8: 3, 100%, 81%;
  --hsl-red-9: 3, 100%, 91%;
}

[data-prefers-color-scheme='dim'],
[data-prefers-color-scheme='dark'] {
  --hsl-orange-1: 36, 100%, 12%;
  --hsl-orange-2: 36, 100%, 22%;
  --hsl-orange-3: 36, 100%, 32%;
  --hsl-orange-4: 36, 100%, 42%;
  --hsl-orange-5: 36, 100%, 52%;
  --hsl-orange-6: 36, 100%, 62%;
  --hsl-orange-7: 36, 100%, 72%;
  --hsl-orange-8: 36, 100%, 82%;
  --hsl-orange-9: 36, 100%, 92%;

  --hsl-yellow-1: 50, 100%, 12%;
  --hsl-yellow-2: 50, 100%, 22%;
  --hsl-yellow-3: 50, 100%, 32%;
  --hsl-yellow-4: 50, 100%, 42%;
  --hsl-yellow-5: 50, 100%, 52%;
  --hsl-yellow-6: 50, 100%, 62%;
  --hsl-yellow-7: 50, 100%, 72%;
  --hsl-yellow-8: 50, 100%, 82%;
  --hsl-yellow-9: 50, 100%, 92%;

  --hsl-green-1: 135, 64%, 10%;
  --hsl-green-2: 135, 64%, 20%;
  --hsl-green-3: 135, 64%, 30%;
  --hsl-green-4: 135, 64%, 40%;
  --hsl-green-5: 135, 64%, 50%;
  --hsl-green-6: 135, 64%, 60%;
  --hsl-green-7: 135, 64%, 70%;
  --hsl-green-8: 135, 64%, 80%;
  --hsl-green-9: 135, 64%, 90%;

  --hsl-mint-1: 178, 72%, 15%;
  --hsl-mint-2: 178, 72%, 25%;
  --hsl-mint-3: 178, 72%, 35%;
  --hsl-mint-4: 178, 72%, 45%;
  --hsl-mint-5: 178, 72%, 55%;
  --hsl-mint-6: 178, 72%, 65%;
  --hsl-mint-7: 178, 72%, 75%;
  --hsl-mint-8: 178, 72%, 85%;
  --hsl-mint-9: 178, 72%, 95%;

  --hsl-teal-1: 188, 72%, 16%;
  --hsl-teal-2: 188, 72%, 26%;
  --hsl-teal-3: 188, 72%, 36%;
  --hsl-teal-4: 188, 72%, 46%;
  --hsl-teal-5: 188, 72%, 56%;
  --hsl-teal-6: 188, 72%, 66%;
  --hsl-teal-7: 188, 72%, 76%;
  --hsl-teal-8: 188, 72%, 86%;
  --hsl-teal-9: 188, 72%, 96%;

  --hsl-cyan-1: 197, 100%, 10%;
  --hsl-cyan-2: 197, 100%, 20%;
  --hsl-cyan-3: 197, 100%, 30%;
  --hsl-cyan-4: 197, 100%, 40%;
  --hsl-cyan-5: 197, 100%, 50%;
  --hsl-cyan-6: 197, 100%, 60%;
  --hsl-cyan-7: 197, 100%, 70%;
  --hsl-cyan-8: 197, 100%, 80%;
  --hsl-cyan-9: 197, 100%, 90%;

  --hsl-blue-1: 210, 100%, 12%;
  --hsl-blue-2: 210, 100%, 22%;
  --hsl-blue-3: 210, 100%, 32%;
  --hsl-blue-4: 210, 100%, 42%;
  --hsl-blue-5: 210, 100%, 52%;
  --hsl-blue-6: 210, 100%, 62%;
  --hsl-blue-7: 210, 100%, 72%;
  --hsl-blue-8: 210, 100%, 82%;
  --hsl-blue-9: 210, 100%, 92%;

  --hsl-indigo-1: 241, 73%, 13%;
  --hsl-indigo-2: 241, 73%, 23%;
  --hsl-indigo-3: 241, 73%, 33%;
  --hsl-indigo-4: 241, 73%, 43%;
  --hsl-indigo-5: 241, 73%, 53%;
  --hsl-indigo-6: 241, 73%, 63%;
  --hsl-indigo-7: 241, 73%, 73%;
  --hsl-indigo-8: 241, 73%, 83%;
  --hsl-indigo-9: 241, 73%, 93%;

  --hsl-purple-1: 280, 85%, 15%;
  --hsl-purple-2: 280, 85%, 25%;
  --hsl-purple-3: 280, 85%, 35%;
  --hsl-purple-4: 280, 85%, 45%;
  --hsl-purple-5: 280, 85%, 55%;
  --hsl-purple-6: 280, 85%, 65%;
  --hsl-purple-7: 280, 85%, 75%;
  --hsl-purple-8: 280, 85%, 85%;
  --hsl-purple-9: 280, 85%, 95%;

  --hsl-pink-1: 348, 100%, 12%;
  --hsl-pink-2: 348, 100%, 22%;
  --hsl-pink-3: 348, 100%, 32%;
  --hsl-pink-4: 348, 100%, 42%;
  --hsl-pink-5: 348, 100%, 52%;
  --hsl-pink-6: 348, 100%, 62%;
  --hsl-pink-7: 348, 100%, 72%;
  --hsl-pink-8: 348, 100%, 82%;
  --hsl-pink-9: 348, 100%, 92%;

  --hsl-brown-1: 34, 29%, 14%;
  --hsl-brown-2: 34, 29%, 24%;
  --hsl-brown-3: 34, 29%, 34%;
  --hsl-brown-4: 34, 29%, 44%;
  --hsl-brown-5: 34, 29%, 54%;
  --hsl-brown-6: 34, 29%, 64%;
  --hsl-brown-7: 34, 29%, 74%;
  --hsl-brown-8: 34, 29%, 84%;
  --hsl-brown-9: 34, 29%, 94%;

  --hsl-red-1: 3, 100%, 11%;
  --hsl-red-2: 3, 100%, 21%;
  --hsl-red-3: 3, 100%, 31%;
  --hsl-red-4: 3, 100%, 41%;
  --hsl-red-5: 3, 100%, 51%;
  --hsl-red-6: 3, 100%, 61%;
  --hsl-red-7: 3, 100%, 71%;
  --hsl-red-8: 3, 100%, 81%;
  --hsl-red-9: 3, 100%, 91%;
}
