[data-prefers-color-scheme='light'] {
  --c-primary: 255, 255, 255;
  --c-secondary: 28, 28, 30;
  --c-tertiary: 200, 200, 200;

  --c-orange: 255, 149, 0;
  --c-yellow: 255, 204, 0;
  --c-green: 52, 199, 89;
  --c-mint: 0, 199, 190;
  --c-teal: 48, 176, 199;
  --c-cyan: 50, 173, 230;
  --c-blue: 0, 122, 255;
  --c-indigo: 88, 86, 214;
  --c-purple: 175, 82, 222;
  --c-pink: 255, 45, 85;
  --c-brown: 162, 132, 94;
  --c-red: 255, 59, 48;
}

[data-prefers-color-scheme='dim'] {
  --c-primary: 44, 44, 46;
  --c-secondary: 255, 255, 255;
  --c-tertiary: 130, 130, 130;

  --c-orange: 255, 159, 10;
  --c-yellow: 255, 214, 10;
  --c-green: 48, 209, 88;
  --c-mint: 99, 230, 226;
  --c-teal: 64, 203, 224;
  --c-cyan: 100, 210, 255;
  --c-blue: 10, 132, 255;
  --c-indigo: 94, 92, 230;
  --c-purple: 191, 90, 242;
  --c-pink: 255, 55, 95;
  --c-brown: 172, 142, 104;
  --c-red: 255, 69, 58;
}

[data-prefers-color-scheme='dark'] {
  --c-primary: 28, 28, 30;
  --c-secondary: 255, 255, 255;
  --c-tertiary: 80, 80, 80;

  --c-orange: 255, 159, 10;
  --c-yellow: 255, 214, 10;
  --c-green: 48, 209, 88;
  --c-mint: 99, 230, 226;
  --c-teal: 64, 203, 224;
  --c-cyan: 100, 210, 255;
  --c-blue: 10, 132, 255;
  --c-indigo: 94, 92, 230;
  --c-purple: 191, 90, 242;
  --c-pink: 255, 55, 95;
  --c-brown: 172, 142, 104;
  --c-red: 255, 69, 58;
}
