[data-prefers-mode='dim'] {
  --c-neutral-1: hsl(230, 1%, 12%);
  --c-neutral-2: hsl(230, 1%, 14%);
  --c-neutral-3: hsl(230, 1%, 16%);
  --c-neutral-4: hsl(230, 1%, 18%);
  --c-neutral-5: hsl(230, 1%, 20%);
  --c-neutral-6: hsl(230, 1%, 22%);
  --c-neutral-7: hsl(230, 1%, 24%);
  --c-neutral-8: hsl(230, 1%, 26%);
  --c-neutral-9: hsl(230, 1%, 28%);
  --c-neutral-10: hsl(230, 1%, 30%);
  --c-neutral-11: hsl(230, 1%, 32%);
  --c-neutral-12: hsl(230, 1%, 34%);
  --c-neutral-13: hsl(230, 1%, 36%);
  --c-neutral-14: hsl(230, 1%, 38%);
  --c-neutral-15: hsl(230, 1%, 40%);
  --c-neutral-16: hsl(230, 1%, 42%);
  --c-neutral-17: hsl(230, 1%, 44%);
  --c-neutral-18: hsl(230, 1%, 46%);
  --c-neutral-19: hsl(230, 1%, 48%);
  --c-neutral-20: hsl(230, 1%, 50%);

  --c-on-neutral-1: hsl(230, 1%, 97%);
  --c-on-neutral-2: hsl(230, 1%, 95%);
  --c-on-neutral-3: hsl(230, 1%, 93%);
  --c-on-neutral-4: hsl(230, 1%, 91%);
  --c-on-neutral-5: hsl(230, 1%, 89%);
  --c-on-neutral-6: hsl(230, 1%, 87%);
  --c-on-neutral-7: hsl(230, 1%, 85%);
  --c-on-neutral-8: hsl(230, 1%, 83%);
  --c-on-neutral-9: hsl(230, 1%, 81%);
  --c-on-neutral-10: hsl(230, 1%, 79%);
  --c-on-neutral-11: hsl(230, 1%, 77%);
  --c-on-neutral-12: hsl(230, 1%, 75%);
  --c-on-neutral-13: hsl(230, 1%, 73%);
  --c-on-neutral-14: hsl(230, 1%, 71%);
  --c-on-neutral-15: hsl(230, 1%, 69%);
  --c-on-neutral-16: hsl(230, 1%, 67%);
  --c-on-neutral-17: hsl(230, 1%, 65%);
  --c-on-neutral-18: hsl(230, 1%, 63%);
  --c-on-neutral-19: hsl(230, 1%, 61%);
  --c-on-neutral-20: hsl(230, 1%, 59%);

  --c-shade-1: hsl(230, 1%, 15%);
  --c-shade-2: hsl(230, 1%, 17%);
  --c-shade-3: hsl(230, 1%, 19%);
  --c-shade-4: hsl(230, 1%, 21%);
  --c-shade-5: hsl(230, 1%, 23%);
  --c-shade-6: hsl(230, 1%, 25%);
  --c-shade-7: hsl(230, 1%, 27%);
  --c-shade-8: hsl(230, 1%, 29%);
  --c-shade-9: hsl(230, 1%, 31%);
  --c-shade-10: hsl(230, 1%, 33%);
  --c-shade-11: hsl(230, 1%, 35%);
  --c-shade-12: hsl(230, 1%, 37%);
  --c-shade-13: hsl(230, 1%, 39%);
  --c-shade-14: hsl(230, 1%, 41%);
  --c-shade-15: hsl(230, 1%, 43%);
  --c-shade-16: hsl(230, 1%, 45%);
  --c-shade-17: hsl(230, 1%, 47%);
  --c-shade-18: hsl(230, 1%, 49%);
  --c-shade-19: hsl(230, 1%, 51%);
  --c-shade-20: hsl(230, 1%, 53%);

  --c-on-shade-1: hsl(230, 1%, 93%);
  --c-on-shade-2: hsl(230, 1%, 91%);
  --c-on-shade-3: hsl(230, 1%, 89%);
  --c-on-shade-4: hsl(230, 1%, 87%);
  --c-on-shade-5: hsl(230, 1%, 85%);
  --c-on-shade-6: hsl(230, 1%, 83%);
  --c-on-shade-7: hsl(230, 1%, 81%);
  --c-on-shade-8: hsl(230, 1%, 79%);
  --c-on-shade-9: hsl(230, 1%, 77%);
  --c-on-shade-10: hsl(230, 1%, 75%);
  --c-on-shade-11: hsl(230, 1%, 73%);
  --c-on-shade-12: hsl(230, 1%, 71%);
  --c-on-shade-13: hsl(230, 1%, 69%);
  --c-on-shade-14: hsl(230, 1%, 67%);
  --c-on-shade-15: hsl(230, 1%, 65%);
  --c-on-shade-16: hsl(230, 1%, 63%);
  --c-on-shade-17: hsl(230, 1%, 61%);
  --c-on-shade-18: hsl(230, 1%, 59%);
  --c-on-shade-19: hsl(230, 1%, 57%);
  --c-on-shade-20: hsl(230, 1%, 55%);
}
