[data-prefers-mode='dark'] {
  --c-text-1: hsl(220, 2%, 100%, 0.87);
  --c-text-2: hsl(220, 2%, 100%, 0.76);
  --c-text-3: hsl(220, 2%, 100%, 0.65);
  --c-text-4: hsl(220, 2%, 100%, 0.54);
  --c-text-5: hsl(220, 2%, 100%, 0.43);

  --c-base-1: hsl(220, 2%, 8%);
  --c-base-2: hsl(220, 2%, 10%);
  --c-base-3: hsl(220, 2%, 12%);
  --c-base-4: hsl(220, 2%, 14%);
  --c-base-5: hsl(220, 2%, 16%);
  --c-base-6: hsl(220, 2%, 18%);
  --c-base-7: hsl(220, 2%, 20%);
  --c-base-8: hsl(220, 2%, 22%);
  --c-base-9: hsl(220, 2%, 24%);

  --c-base-1--hover: hsl(220, 2%, 10%);
  --c-base-2--hover: hsl(220, 2%, 12%);
  --c-base-3--hover: hsl(220, 2%, 14%);
  --c-base-4--hover: hsl(220, 2%, 16%);
  --c-base-5--hover: hsl(220, 2%, 18%);
  --c-base-6--hover: hsl(220, 2%, 20%);
  --c-base-7--hover: hsl(220, 2%, 22%);
  --c-base-8--hover: hsl(220, 2%, 24%);
  --c-base-9--hover: hsl(220, 2%, 26%);

  --c-base-1--focused: hsl(220, 2%, 11%);
  --c-base-2--focused: hsl(220, 2%, 13%);
  --c-base-3--focused: hsl(220, 2%, 15%);
  --c-base-4--focused: hsl(220, 2%, 17%);
  --c-base-5--focused: hsl(220, 2%, 19%);
  --c-base-6--focused: hsl(220, 2%, 21%);
  --c-base-7--focused: hsl(220, 2%, 23%);
  --c-base-8--focused: hsl(220, 2%, 25%);
  --c-base-9--focused: hsl(220, 2%, 27%);

  --c-base-1--pressed: hsl(220, 2%, 12%);
  --c-base-2--pressed: hsl(220, 2%, 14%);
  --c-base-3--pressed: hsl(220, 2%, 16%);
  --c-base-4--pressed: hsl(220, 2%, 18%);
  --c-base-5--pressed: hsl(220, 2%, 20%);
  --c-base-6--pressed: hsl(220, 2%, 22%);
  --c-base-7--pressed: hsl(220, 2%, 24%);
  --c-base-8--pressed: hsl(220, 2%, 26%);
  --c-base-9--pressed: hsl(220, 2%, 28%);

  --c-base-1--selected: hsl(220, 2%, 14%);
  --c-base-2--selected: hsl(220, 2%, 16%);
  --c-base-3--selected: hsl(220, 2%, 18%);
  --c-base-4--selected: hsl(220, 2%, 20%);
  --c-base-5--selected: hsl(220, 2%, 22%);
  --c-base-6--selected: hsl(220, 2%, 24%);
  --c-base-7--selected: hsl(220, 2%, 26%);
  --c-base-8--selected: hsl(220, 2%, 28%);
  --c-base-9--selected: hsl(220, 2%, 30%);
}
