[data-prefers-color-scheme='light'] {
  --c-primary: 255, 255, 255;
  --c-secondary: 28, 28, 30;
  --c-tertiary: 200, 200, 200;

  --c-orange: 255, 149, 0;
  --c-yellow: 255, 204, 0;
  --c-green: 52, 199, 89;
  --c-mint: 0, 199, 190;
  --c-teal: 48, 176, 199;
  --c-cyan: 50, 173, 230;
  --c-blue: 0, 122, 255;
  --c-indigo: 88, 86, 214;
  --c-purple: 175, 82, 222;
  --c-pink: 255, 45, 85;
  --c-brown: 162, 132, 94;
  --c-red: 255, 59, 48;

  // --rgb-primary-text: 28, 28, 30;
  // --rgb-primary-base: 250, 250, 255;
  // --rgb-primary-surface: 0, 0, 0;

  // --rgb-secondary-base: 28, 28, 30;
  // --rgb-secondary-text: 250, 250, 255;
  // --rgb-secondary-surface: 250, 250, 255;
}
