[data-prefers-color-scheme='dark'] {
  --c-primary: 225, 3%, 04%;
  --c-secondary: 225, 3%, 99%;

  --c-surface-primary: 225, 3%, 99%;
  --c-surface-secondary: 225, 3%, 04%;

  --c-surface-disabled: 223, 3%, 50%;
  --c-surface-readOnly: 223, 3%, 60%;

  --c-surface-orange: 25, 95%, 57%;
  --c-surface-yellow: 38, 92%, 69%;
  --c-surface-green: 142, 71%, 49%;
  --c-surface-cyan: 173, 80%, 44%;
  --c-surface-blue: 199, 89%, 52%;
  --c-surface-indigo: 217, 91%, 64%;
  --c-surface-purple: 258, 90%, 70%;
  --c-surface-violet: 271, 91%, 69%;
  --c-surface-magenta: 292, 84%, 65%;
  --c-surface-pink: 330, 81%, 64%;
  --c-surface-red: 0, 84%, 64%;
}
