[data-prefers-color-scheme='light'] {
  --c-primary: 223, 3%, 99%;
  --c-secondary: 223, 3%, 04%;

  --c-surface-primary: 223, 3%, 04%;
  --c-surface-secondary: 223, 3%, 99%;

  --c-surface-disabled: 223, 3%, 40%;
  --c-surface-readOnly: 223, 3%, 50%;

  --c-surface-orange: 25, 95%, 45%;
  --c-surface-yellow: 38, 92%, 45%;
  --c-surface-green: 142, 71%, 35%;
  --c-surface-cyan: 173, 80%, 35%;
  --c-surface-blue: 199, 89%, 35%;
  --c-surface-indigo: 217, 91%, 40%;
  --c-surface-purple: 258, 90%, 55%;
  --c-surface-violet: 271, 91%, 55%;
  --c-surface-magenta: 292, 84%, 55%;
  --c-surface-pink: 330, 81%, 64%;
  --c-surface-red: 0, 84%, 64%;
}
