[data-prefers-color-scheme='dim'] {
  --c-primary: 44, 44, 46;
  --c-secondary: 255, 255, 255;
  --c-tertiary: 130, 130, 130;

  --c-orange: 255, 159, 10;
  --c-yellow: 255, 214, 10;
  --c-green: 48, 209, 88;
  --c-mint: 99, 230, 226;
  --c-teal: 64, 203, 224;
  --c-cyan: 100, 210, 255;
  --c-blue: 10, 132, 255;
  --c-indigo: 94, 92, 230;
  --c-purple: 191, 90, 242;
  --c-pink: 255, 55, 95;
  --c-brown: 172, 142, 104;
  --c-red: 255, 69, 58;

  // --rgb-primary-base: 44, 44, 46;
  // --rgb-primary-text: 255, 255, 255;
  // --rgb-primary-surface: 255, 255, 255;

  // --rgb-secondary-base: 255, 255, 255;
  // --rgb-secondary-text: 28, 28, 30;
  // --rgb-secondary-surface: 28, 28, 30;
}
