.Chip-group,
.Radio-group,
.Switch-group,
.Button-group,
.Checkbox-group {
  &[data-orientation='horizontal'] {
    flex-direction: row;
  }
  &[data-orientation='vertical'] {
    flex-direction: column;
  }
}

.Text,
.Label,
.Title {
  &--size-xxs {
    --label-font-size: var(--label-size-xxs);
    --text-font-size: var(--text-size-xxs);
    --title-font-size: var(--title-size-xxs);
  }
  &--size-xs {
    --label-font-size: var(--label-size-xs);
    --text-font-size: var(--text-size-xs);
    --title-font-size: var(--title-size-xs);
  }
  &--size-sm {
    --label-font-size: var(--label-size-sm);
    --text-font-size: var(--text-size-sm);
    --title-font-size: var(--title-size-sm);
  }
  &--size-md {
    --label-font-size: var(--label-size-md);
    --text-font-size: var(--text-size-md);
    --title-font-size: var(--title-size-md);
  }
  &--size-lg {
    --label-font-size: var(--label-size-lg);
    --text-font-size: var(--text-size-lg);
    --title-font-size: var(--title-size-lg);
  }
  &--size-xl {
    --label-font-size: var(--label-size-xl);
    --text-font-size: var(--text-size-xl);
    --title-font-size: var(--title-size-xl);
  }
  &--size-xxl {
    --label-font-size: var(--label-size-xxl);
    --text-font-size: var(--text-size-xxl);
    --title-font-size: var(--title-size-xxl);
  }

  &--lead-xxs {
    --text-line-height: var(--text-line-height-xxs);
    --title-line-height: var(--title-line-height-xxs);
  }
  &--lead-xs {
    --text-line-height: var(--text-line-height-xs);
    --title-line-height: var(--title-line-height-xs);
  }
  &--lead-sm {
    --text-line-height: var(--text-line-height-sm);
    --title-line-height: var(--title-line-height-sm);
  }
  &--lead-md {
    --text-line-height: var(--text-line-height-md);
    --title-line-height: var(--title-line-height-md);
  }
  &--lead-lg {
    --text-line-height: var(--text-line-height-lg);
    --title-line-height: var(--title-line-height-lg);
  }
  &--lead-xl {
    --text-line-height: var(--text-line-height-xl);
    --title-line-height: var(--title-line-height-xl);
  }
  &--lead-xxl {
    --text-line-height: var(--text-line-height-xxl);
    --title-line-height: var(--title-line-height-xxl);
  }

  &--weight-xlt {
    --label-font-weight: var(--font-weight-xlt);
    --text-font-weight: var(--font-weight-xlt);
    --title-font-weight: var(--font-weight-xlt);
  }
  &--weight-lgt {
    --label-font-weight: var(--font-weight-lgt);
    --text-font-weight: var(--font-weight-lgt);
    --title-font-weight: var(--font-weight-lgt);
  }
  &--weight-reg {
    --label-font-weight: var(--font-weight-reg);
    --text-font-weight: var(--font-weight-reg);
    --title-font-weight: var(--font-weight-reg);
  }
  &--weight-med {
    --label-font-weight: var(--font-weight-med);
    --text-font-weight: var(--font-weight-med);
    --title-font-weight: var(--font-weight-med);
  }
  &--weight-bld {
    --label-font-weight: var(--font-weight-bld);
    --text-font-weight: var(--font-weight-bld);
    --title-font-weight: var(--font-weight-bld);
  }
  &--weight-xbd {
    --label-font-weight: var(--font-weight-xbd);
    --text-font-weight: var(--font-weight-xbd);
    --title-font-weight: var(--font-weight-xbd);
  }
}

.Icon {
  &--size-xxs {
    --icon-size: var(--icon-size-xxs);
  }
  &--size-xs {
    --icon-size: var(--icon-size-xs);
  }
  &--size-sm {
    --icon-size: var(--icon-size-sm);
  }
  &--size-md {
    --icon-size: var(--icon-size-md);
  }
  &--size-lg {
    --icon-size: var(--icon-size-lg);
  }
  &--size-xl {
    --icon-size: var(--icon-size-xl);
  }
  &--size-xxl {
    --icon-size: var(--icon-size-xxl);
  }
}

.Stack {
  &-align-center {
    --stack-align: center;
  }
  &-align-start {
    --stack-align: flex-start;
  }
  &-align-end {
    --stack-align: flex-end;
  }
}

.Stack {
  &-justify-center {
    --stack-justify: center;
  }
  &-justify-start {
    --stack-justify: flex-start;
  }
  &-justify-end {
    --stack-justify: flex-end;
  }
}

.Stack {
  &--gap-xxs {
    --section-gap: var(--section-gap-xxs);
    --stack-gap: var(--stack-gap-xxs);
  }
  &--gap-xs {
    --section-gap: var(--section-gap-xs);
    --stack-gap: var(--stack-gap-xs);
  }
  &--gap-sm {
    --section-gap: var(--section-gap-sm);
    --stack-gap: var(--stack-gap-sm);
  }
  &--gap-md {
    --section-gap: var(--section-gap-md);
    --stack-gap: var(--stack-gap-md);
  }
  &--gap-lg {
    --section-gap: var(--section-gap-lg);
    --stack-gap: var(--stack-gap-lg);
  }
  &--gap-xl {
    --section-gap: var(--section-gap-xl);
    --stack-gap: var(--stack-gap-xl);
  }
  &--gap-xxl {
    --section-gap: var(--section-gap-xxl);
    --stack-gap: var(--stack-gap-xxl);
  }
}

.Chip,
.Radio,
.Space,
.Button,
.Switch,
.Checkbox {
  &--size-xxs {
    --button-height: var(--button-height-xxs);
    --checkbox-height: var(--checkbox-height-xxs);
    --chip-height: var(--chip-height-xxs);
    --radio-height: var(--radio-height-xxs);
    --space-height: var(--space-height-xxs);
    --switch-height: var(--switch-height-xxs);
  }

  &--size-xs {
    --button-height: var(--button-height-xs);
    --checkbox-height: var(--checkbox-height-xs);
    --chip-height: var(--chip-height-xs);
    --radio-height: var(--radio-height-xs);
    --space-height: var(--space-height-xs);
    --switch-height: var(--switch-height-xs);
  }

  &--size-sm {
    --button-height: var(--button-height-sm);
    --checkbox-height: var(--checkbox-height-sm);
    --chip-height: var(--chip-height-sm);
    --radio-height: var(--radio-height-sm);
    --space-height: var(--space-height-sm);
    --switch-height: var(--switch-height-sm);
  }

  &--size-md {
    --button-height: var(--button-height-md);
    --checkbox-height: var(--checkbox-height-md);
    --chip-height: var(--chip-height-md);
    --radio-height: var(--radio-height-md);
    --space-height: var(--space-height-md);
    --switch-height: var(--switch-height-md);
  }

  &--size-lg {
    --button-height: var(--button-height-lg);
    --checkbox-height: var(--checkbox-height-lg);
    --chip-height: var(--chip-height-lg);
    --radio-height: var(--radio-height-lg);
    --space-height: var(--space-height-lg);
    --switch-height: var(--switch-height-lg);
  }

  &--size-xl {
    --button-height: var(--button-height-xl);
    --checkbox-height: var(--checkbox-height-xl);
    --chip-height: var(--chip-height-xl);
    --radio-height: var(--radio-height-xl);
    --space-height: var(--space-height-xl);
    --switch-height: var(--switch-height-xl);
  }

  &--size-xxl {
    --button-height: var(--button-height-xxl);
    --checkbox-height: var(--checkbox-height-xxl);
    --chip-height: var(--chip-height-xxl);
    --radio-height: var(--radio-height-xxl);
    --space-height: var(--space-height-xxl);
    --switch-height: var(--switch-height-xxl);
  }
}

.Chip,
.Radio,
.Space,
.Button,
.Switch,
.Section,
.Checkbox {
  &--px-xxs {
    --button-padding-x: var(--button-padding-x-xxs);
    --checkbox-padding-x: var(--checkbox-padding-x-xxs);
    --chip-padding-x: var(--chip-padding-x-xxs);
    --radio-padding-x: var(--radio-padding-x-xxs);
    --section-padding-x: var(--section-padding-x-xxs);
    --space-padding-x: var(--space-padding-x-xxs);
    --switch-padding-x: var(--switch-padding-x-xxs);
  }
  &--px-xs {
    --button-padding-x: var(--button-padding-x-xs);
    --checkbox-padding-x: var(--checkbox-padding-x-xs);
    --chip-padding-x: var(--chip-padding-x-xs);
    --radio-padding-x: var(--radio-padding-x-xs);
    --section-padding-x: var(--section-padding-x-xs);
    --space-padding-x: var(--space-padding-x-xs);
    --switch-padding-x: var(--switch-padding-x-xs);
  }
  &--px-sm {
    --button-padding-x: var(--button-padding-x-sm);
    --checkbox-padding-x: var(--checkbox-padding-x-sm);
    --chip-padding-x: var(--chip-padding-x-sm);
    --radio-padding-x: var(--radio-padding-x-sm);
    --section-padding-x: var(--section-padding-x-sm);
    --space-padding-x: var(--space-padding-x-sm);
    --switch-padding-x: var(--switch-padding-x-sm);
  }
  &--px-md {
    --button-padding-x: var(--button-padding-x-md);
    --checkbox-padding-x: var(--checkbox-padding-x-md);
    --chip-padding-x: var(--chip-padding-x-md);
    --radio-padding-x: var(--radio-padding-x-md);
    --section-padding-x: var(--section-padding-x-md);
    --space-padding-x: var(--space-padding-x-md);
    --switch-padding-x: var(--switch-padding-x-md);
  }
  &--px-lg {
    --button-padding-x: var(--button-padding-x-lg);
    --checkbox-padding-x: var(--checkbox-padding-x-lg);
    --chip-padding-x: var(--chip-padding-x-lg);
    --radio-padding-x: var(--radio-padding-x-lg);
    --section-padding-x: var(--section-padding-x-lg);
    --space-padding-x: var(--space-padding-x-lg);
    --switch-padding-x: var(--switch-padding-x-lg);
  }
  &--px-xl {
    --button-padding-x: var(--button-padding-x-xl);
    --checkbox-padding-x: var(--checkbox-padding-x-xl);
    --chip-padding-x: var(--chip-padding-x-xl);
    --radio-padding-x: var(--radio-padding-x-xl);
    --section-padding-x: var(--section-padding-x-xl);
    --space-padding-x: var(--space-padding-x-xl);
    --switch-padding-x: var(--switch-padding-x-xl);
  }
  &--px-xxl {
    --button-padding-x: var(--button-padding-x-xxl);
    --checkbox-padding-x: var(--checkbox-padding-x-xxl);
    --chip-padding-x: var(--chip-padding-x-xxl);
    --radio-padding-x: var(--radio-padding-x-xxl);
    --section-padding-x: var(--section-padding-x-xxl);
    --space-padding-x: var(--space-padding-x-xxl);
    --switch-padding-x: var(--switch-padding-x-xxl);
  }

  &--py-xxs {
    --section-padding-y: var(--section-padding-y-xxs);
  }
  &--py-xs {
    --section-padding-y: var(--section-padding-y-xs);
  }
  &--py-sm {
    --section-padding-y: var(--section-padding-y-sm);
  }
  &--py-md {
    --section-padding-y: var(--section-padding-y-md);
  }
  &--py-lg {
    --section-padding-y: var(--section-padding-y-lg);
  }
  &--py-xl {
    --section-padding-y: var(--section-padding-y-xl);
  }
  &--py-xxl {
    --section-padding-y: var(--section-padding-y-xxl);
  }
}

// &--size-xxs {}
// &--size-xs {}
// &--size-sm {}
// &--size-md {}
// &--size-lg {}
// &--size-xl {}
// &--size-xxl {}
