@use './focus' as focus;
@use './cursor' as cursor;
@use './motion' as motion;

@mixin primary-1-static() {
  @include cursor.default();
  @include motion.color-static();
  color: var(--c-primary-text-1);
  background-color: var(--c-primary-1);
}

@mixin primary-2-static() {
  @include cursor.default();
  @include motion.color-static();
  color: var(--c-primary-text-1);
  background-color: var(--c-primary-2);
}

@mixin primary-3-static() {
  @include cursor.default();
  @include motion.color-static();
  color: var(--c-primary-text-1);
  background-color: var(--c-primary-3);
}

@mixin primary-4-static() {
  @include cursor.default();
  @include motion.color-static();
  color: var(--c-primary-text-1);
  background-color: var(--c-primary-4);
}

@mixin primary-1-clickable() {
  @include primary-1-static();
  @include focus.clickable();
  @include cursor.clickable();
  @include motion.color-clickable();

  &:not([data-disabled]):hover {
    background-color: var(--c-primary-1-hover);
  }
  &:not([data-disabled]):active {
    background-color: var(--c-primary-1-active);
  }
}

@mixin primary-2-clickable() {
  @include primary-2-static();
  @include focus.clickable();
  @include cursor.clickable();
  @include motion.color-clickable();

  &:not([data-disabled]):hover {
    background-color: var(--c-primary-2-hover);
  }
  &:not([data-disabled]):active {
    background-color: var(--c-primary-2-active);
  }
}

@mixin primary-3-clickable() {
  @include primary-3-static();
  @include focus.clickable();
  @include cursor.clickable();
  @include motion.color-clickable();

  &:not([data-disabled]):hover {
    background-color: var(--c-primary-3-hover);
  }
  &:not([data-disabled]):active {
    background-color: var(--c-primary-3-active);
  }
}

@mixin primary-4-clickable() {
  @include primary-4-static();
  @include focus.clickable();
  @include cursor.clickable();
  @include motion.color-clickable();

  &:not([data-disabled]):hover {
    background-color: var(--c-primary-4-hover);
  }
  &:not([data-disabled]):active {
    background-color: var(--c-primary-4-active);
  }
}

@mixin primary-1-selectable() {
  @include primary-1-static();
  @include focus.selectable();
  @include cursor.selectable();
  @include motion.color-selectable();

  &:not([data-disabled])[data-selected],
  &:not([data-disabled])[data-selected]:hover,
  &:not([data-disabled]):not([data-selected]):hover {
    background-color: var(--c-primary-1-hover);
  }
  &:not([data-disabled])[data-selected]:active,
  &:not([data-disabled]):not([data-selected]):active {
    background-color: var(--c-primary-1-active);
  }
}

@mixin primary-2-selectable() {
  @include primary-2-static();
  @include focus.selectable();
  @include cursor.selectable();
  @include motion.color-selectable();

  &:not([data-disabled])[data-selected],
  &:not([data-disabled])[data-selected]:hover,
  &:not([data-disabled]):not([data-selected]):hover {
    background-color: var(--c-primary-2-hover);
  }
  &:not([data-disabled])[data-selected]:active,
  &:not([data-disabled]):not([data-selected]):active {
    background-color: var(--c-primary-2-active);
  }
}

@mixin primary-3-selectable() {
  @include primary-3-static();
  @include focus.selectable();
  @include cursor.selectable();
  @include motion.color-selectable();

  &:not([data-disabled])[data-selected],
  &:not([data-disabled])[data-selected]:hover,
  &:not([data-disabled]):not([data-selected]):hover {
    background-color: var(--c-primary-3-hover);
  }
  &:not([data-disabled])[data-selected]:active,
  &:not([data-disabled]):not([data-selected]):active {
    background-color: var(--c-primary-3-active);
  }
}

@mixin primary-4-selectable() {
  @include primary-4-static();
  @include focus.selectable();
  @include cursor.selectable();
  @include motion.color-selectable();

  &:not([data-disabled])[data-selected],
  &:not([data-disabled])[data-selected]:hover,
  &:not([data-disabled]):not([data-selected]):hover {
    background-color: var(--c-primary-4-hover);
  }
  &:not([data-disabled])[data-selected]:active,
  &:not([data-disabled]):not([data-selected]):active {
    background-color: var(--c-primary-4-active);
  }
}
