// [data-prefers-mode='dim'],
// [data-prefers-mode='dark'],
// [data-prefers-mode='light'] {
//   --c-root-base: var(--c-base-1);
//   --c-root-text: var(--c-text-1);
//   --c-root-icon: var(--c-text-2);

//   --c-page-base: var(--c-base-2);
//   --c-page-text: var(--c-text-2);
//   --c-page-icon: var(--c-text-3);
// }

[data-scheme='red'] {
  --c-icon: var(--c-red);
}

[data-scheme='orange'] {
  --c-icon: var(--c-red);
}

[data-scheme='yellow'] {
  --c-icon: var(--c-red);
}

[data-scheme='green'] {
  --c-icon: var(--c-red);
}

[data-scheme='mint'] {
  --c-icon: var(--c-red);
}

[data-scheme='teal'] {
  --c-icon: var(--c-red);
}

[data-scheme='cyan'] {
  --c-icon: var(--c-red);
}

[data-scheme='blue'] {
  --c-icon: var(--c-red);
}

[data-scheme='indigo'] {
  --c-icon: var(--c-red);
}

[data-scheme='purple'] {
  --c-icon: var(--c-red);
}

[data-scheme='pink'] {
  --c-icon: var(--c-red);
}

[data-scheme='brown'] {
  --c-icon: var(--c-red);
}
