// data-prefers-color-mode = Theme.Mode
// data-prefers-color-accent = Theme.Color
// data-prefers-color-contrast = Theme.Contrast ('yes' | 'no')

// type Elevation = 'max' | 'med' | 'low' | 'min'

// v2-title-base-default-max
// v2-title-base-default-med
// v2-title-base-default-low
// v2-title-base-default-min

// v2-title-accent-max
// v2-title-accent-med
// v2-title-accent-low
// v2-title-accent-min

:root {
  --c-focus: #007aff;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-inherit: inherit;
  --c-transparent: transparent;

  --c-rgb-red-dark: 255, 69, 58;
  --c-rgb-red-light: 255, 59, 48;
  --c-rgb-red-accessible-dark: 255, 105, 97;
  --c-rgb-red-accessible-light: 215, 0, 21;

  --c-rgb-orange-dark: 255, 159, 10;
  --c-rgb-orange-light: 255, 149, 0;
  --c-rgb-orange-accessible-dark: 255, 179, 64;
  --c-rgb-orange-accessible-light: 201, 52, 0;

  --c-rgb-yellow-dark: 255, 214, 10;
  --c-rgb-yellow-light: 255, 204, 0;
  --c-rgb-yellow-accessible-dark: 255, 212, 38;
  --c-rgb-yellow-accessible-light: 178, 80, 0;

  --c-rgb-green-dark: 48, 209, 88;
  --c-rgb-green-light: 52, 199, 89;
  --c-rgb-green-accessible-dark: 48, 219, 91;
  --c-rgb-green-accessible-light: 36, 138, 61;

  --c-rgb-mint-dark: 102, 212, 207;
  --c-rgb-mint-light: 0, 199, 190;
  --c-rgb-mint-accessible-dark: 102, 212, 207;
  --c-rgb-mint-accessible-light: 12, 129, 123;

  --c-rgb-teal-dark: 64, 200, 224;
  --c-rgb-teal-light: 48, 176, 199;
  --c-rgb-teal-accessible-dark: 93, 230, 255;
  --c-rgb-teal-accessible-light: 0, 130, 153;

  --c-rgb-cyan-dark: 100, 210, 255;
  --c-rgb-cyan-light: 50, 173, 230;
  --c-rgb-cyan-accessible-dark: 112, 215, 255;
  --c-rgb-cyan-accessible-light: 0, 113, 164;

  --c-rgb-blue-dark: 10, 132, 255;
  --c-rgb-blue-light: 0, 122, 255;
  --c-rgb-blue-accessible-dark: 64, 156, 255;
  --c-rgb-blue-accessible-light: 0, 64, 221;

  --c-rgb-indigo-dark: 94, 92, 230;
  --c-rgb-indigo-light: 88, 86, 214;
  --c-rgb-indigo-accessible-dark: 125, 122, 255;
  --c-rgb-indigo-accessible-light: 54, 52, 163;

  --c-rgb-purple-dark: 191, 90, 242;
  --c-rgb-purple-light: 175, 82, 222;
  --c-rgb-purple-accessible-dark: 218, 143, 255;
  --c-rgb-purple-accessible-light: 137, 68, 171;

  --c-rgb-pink-dark: 255, 55, 95;
  --c-rgb-pink-light: 255, 45, 85;
  --c-rgb-pink-accessible-dark: 255, 100, 130;
  --c-rgb-pink-accessible-light: 211, 15, 69;

  --c-rgb-brown-dark: 172, 142, 104;
  --c-rgb-brown-light: 165, 132, 94;
  --c-rgb-brown-accessible-dark: 181, 148, 105;
  --c-rgb-brown-accessible-light: 127, 101, 69;

  --c-rgb-gray-01-dark: 142, 142, 147;
  --c-rgb-gray-01-light: 142, 142, 147;
  --c-rgb-gray-01-accessible-dark: 174, 174, 178;
  --c-rgb-gray-01-accessible-light: 108, 108, 112;

  --c-rgb-gray-02-dark: 99, 99, 102;
  --c-rgb-gray-02-light: 174, 174, 178;
  --c-rgb-gray-02-accessible-dark: 124, 124, 128;
  --c-rgb-gray-02-accessible-light: 142, 142, 147;

  --c-rgb-gray-03-dark: 72, 72, 74;
  --c-rgb-gray-03-light: 199, 199, 204;
  --c-rgb-gray-03-accessible-dark: 84, 84, 86;
  --c-rgb-gray-03-accessible-light: 174, 174, 178;

  --c-rgb-gray-04-dark: 58, 58, 60;
  --c-rgb-gray-04-light: 209, 209, 214;
  --c-rgb-gray-04-accessible-dark: 68, 68, 70;
  --c-rgb-gray-04-accessible-light: 188, 188, 192;

  --c-rgb-gray-05-dark: 44, 44, 46;
  --c-rgb-gray-05-light: 229, 229, 234;
  --c-rgb-gray-05-accessible-dark: 54, 54, 56;
  --c-rgb-gray-05-accessible-light: 216, 216, 220;

  --c-rgb-gray-06-dark: 28, 28, 30;
  --c-rgb-gray-06-light: 242, 242, 247;
  --c-rgb-gray-06-accessible-dark: 36, 36, 38;
  --c-rgb-gray-06-accessible-light: 235, 235, 240;
}
