// $token-mode-map: ('dim', 'dark', 'light');

$token-color-map-dark-red: (255, 69, 58);
$token-color-map-dark-orange: (255, 159, 10);
$token-color-map-dark-yellow: (255, 214, 10);
$token-color-map-dark-green: (48, 209, 88);
$token-color-map-dark-mint: (102, 212, 207);
$token-color-map-dark-teal: (64, 200, 224);
$token-color-map-dark-cyan: (100, 210, 255);
$token-color-map-dark-blue: (10, 132, 255);
$token-color-map-dark-indigo: (94, 92, 230);
$token-color-map-dark-purple: (191, 90, 242);
$token-color-map-dark-pink: (255, 55, 95);
$token-color-map-dark-brown: (172, 142, 104);
$token-color-map-dark-gray-01: (142, 142, 147);
$token-color-map-dark-gray-02: (99, 99, 102);
$token-color-map-dark-gray-03: (72, 72, 74);
$token-color-map-dark-gray-04: (58, 58, 60);
$token-color-map-dark-gray-05: (44, 44, 46);
$token-color-map-dark-gray-06: (28, 28, 30);

$token-color-map-dark-a11y-red: (255, 105, 97);
$token-color-map-dark-a11y-orange: (255, 179, 64);
$token-color-map-dark-a11y-yellow: (255, 212, 38);
$token-color-map-dark-a11y-green: (48, 219, 91);
$token-color-map-dark-a11y-mint: (102, 212, 207);
$token-color-map-dark-a11y-teal: (93, 230, 255);
$token-color-map-dark-a11y-cyan: (112, 215, 255);
$token-color-map-dark-a11y-blue: (64, 156, 255);
$token-color-map-dark-a11y-indigo: (125, 122, 255);
$token-color-map-dark-a11y-purple: (218, 143, 255);
$token-color-map-dark-a11y-pink: (255, 100, 130);
$token-color-map-dark-a11y-brown: (181, 148, 105);
$token-color-map-dark-a11y-gray-01: (174, 174, 178);
$token-color-map-dark-a11y-gray-02: (124, 124, 128);
$token-color-map-dark-a11y-gray-03: (84, 84, 86);
$token-color-map-dark-a11y-gray-04: (68, 68, 70);
$token-color-map-dark-a11y-gray-05: (54, 54, 56);
$token-color-map-dark-a11y-gray-06: (36, 36, 38);

$token-color-map-light-red: (255, 59, 48);
$token-color-map-light-orange: (255, 149, 0);
$token-color-map-light-yellow: (255, 204, 0);
$token-color-map-light-green: (52, 199, 89);
$token-color-map-light-mint: (0, 199, 190);
$token-color-map-light-teal: (48, 176, 199);
$token-color-map-light-cyan: (50, 173, 230);
$token-color-map-light-blue: (0, 122, 255);
$token-color-map-light-indigo: (88, 86, 214);
$token-color-map-light-purple: (175, 82, 222);
$token-color-map-light-pink: (255, 45, 85);
$token-color-map-light-brown: (165, 132, 94);
$token-color-map-light-gray-01: (142, 142, 147);
$token-color-map-light-gray-02: (174, 174, 178);
$token-color-map-light-gray-03: (199, 199, 204);
$token-color-map-light-gray-04: (209, 209, 214);
$token-color-map-light-gray-05: (229, 229, 234);
$token-color-map-light-gray-06: (242, 242, 247);

$token-color-map-light-a11y-red: (215, 0, 21);
$token-color-map-light-a11y-orange: (201, 52, 0);
$token-color-map-light-a11y-yellow: (178, 80, 0);
$token-color-map-light-a11y-green: (36, 138, 61);
$token-color-map-light-a11y-mint: (12, 129, 123);
$token-color-map-light-a11y-teal: (0, 130, 153);
$token-color-map-light-a11y-cyan: (0, 113, 164);
$token-color-map-light-a11y-blue: (0, 64, 221);
$token-color-map-light-a11y-indigo: (54, 52, 163);
$token-color-map-light-a11y-purple: (137, 68, 171);
$token-color-map-light-a11y-pink: (211, 15, 69);
$token-color-map-light-a11y-brown: (127, 101, 69);
$token-color-map-light-a11y-gray-01: (108, 108, 112);
$token-color-map-light-a11y-gray-02: (142, 142, 147);
$token-color-map-light-a11y-gray-03: (174, 174, 178);
$token-color-map-light-a11y-gray-04: (188, 188, 192);
$token-color-map-light-a11y-gray-05: (216, 216, 220);
$token-color-map-light-a11y-gray-06: (235, 235, 240);

$token-color-map-dark: (
  'red': $token-color-map-dark-red,
  'orange': $token-color-map-dark-orange,
  'yellow': $token-color-map-dark-yellow,
  'green': $token-color-map-dark-green,
  'teal': $token-color-map-dark-teal,
  'mint': $token-color-map-dark-mint,
  'cyan': $token-color-map-dark-cyan,
  'blue': $token-color-map-dark-blue,
  'indigo': $token-color-map-dark-indigo,
  'purple': $token-color-map-dark-purple,
  'pink': $token-color-map-dark-pink,
  'brown': $token-color-map-dark-brown,
  'grey-01': $token-color-map-dark-grey-01,
  'grey-02': $token-color-map-dark-grey-02,
  'grey-03': $token-color-map-dark-grey-03,
  'grey-04': $token-color-map-dark-grey-04,
  'grey-05': $token-color-map-dark-grey-05,
  'grey-06': $token-color-map-dark-grey-06,
);

$token-color-map-dark-a11y: (
  'red': $token-color-map-dark-a11y-red,
  'orange': $token-color-map-dark-a11y-orange,
  'yellow': $token-color-map-dark-a11y-yellow,
  'green': $token-color-map-dark-a11y-green,
  'teal': $token-color-map-dark-a11y-teal,
  'mint': $token-color-map-dark-a11y-mint,
  'cyan': $token-color-map-dark-a11y-cyan,
  'blue': $token-color-map-dark-a11y-blue,
  'indigo': $token-color-map-dark-a11y-indigo,
  'purple': $token-color-map-dark-a11y-purple,
  'pink': $token-color-map-dark-a11y-pink,
  'brown': $token-color-map-dark-a11y-brown,
  'grey-01': $token-color-map-dark-a11y-grey-01,
  'grey-02': $token-color-map-dark-a11y-grey-02,
  'grey-03': $token-color-map-dark-a11y-grey-03,
  'grey-04': $token-color-map-dark-a11y-grey-04,
  'grey-05': $token-color-map-dark-a11y-grey-05,
  'grey-06': $token-color-map-dark-a11y-grey-06,
);

$token-color-map-light: (
  'red': $token-color-map-light-red,
  'orange': $token-color-map-light-orange,
  'yellow': $token-color-map-light-yellow,
  'green': $token-color-map-light-green,
  'teal': $token-color-map-light-teal,
  'mint': $token-color-map-light-mint,
  'cyan': $token-color-map-light-cyan,
  'blue': $token-color-map-light-blue,
  'indigo': $token-color-map-light-indigo,
  'purple': $token-color-map-light-purple,
  'pink': $token-color-map-light-pink,
  'brown': $token-color-map-light-brown,
  'grey-01': $token-color-map-light-grey-01,
  'grey-02': $token-color-map-light-grey-02,
  'grey-03': $token-color-map-light-grey-03,
  'grey-04': $token-color-map-light-grey-04,
  'grey-05': $token-color-map-light-grey-05,
  'grey-06': $token-color-map-light-grey-06,
);

$token-color-map-light-a11y: (
  'red': $token-color-map-light-a11y-red,
  'orange': $token-color-map-light-a11y-orange,
  'yellow': $token-color-map-light-a11y-yellow,
  'green': $token-color-map-light-a11y-green,
  'teal': $token-color-map-light-a11y-teal,
  'mint': $token-color-map-light-a11y-mint,
  'cyan': $token-color-map-light-a11y-cyan,
  'blue': $token-color-map-light-a11y-blue,
  'indigo': $token-color-map-light-a11y-indigo,
  'purple': $token-color-map-light-a11y-purple,
  'pink': $token-color-map-light-a11y-pink,
  'brown': $token-color-map-light-a11y-brown,
  'grey-01': $token-color-map-light-a11y-grey-01,
  'grey-02': $token-color-map-light-a11y-grey-02,
  'grey-03': $token-color-map-light-a11y-grey-03,
  'grey-04': $token-color-map-light-a11y-grey-04,
  'grey-05': $token-color-map-light-a11y-grey-05,
  'grey-06': $token-color-map-light-a11y-grey-06,
);

$token-color-map: (
  'dark': $token-color-map-dark,
  'light': $token-color-map-light,
  'dark-a11y': $token-color-map-dark-a11y,
  'light-a11y': $token-color-map-light-a11y,
);

// $token-emphasis-map: (
//   'max': 0.99,
//   'med': 0.87,
//   'low': 0.65,
//   'min': 0.43,
// );
