@mixin border {
  border-color: var(--v2-border-color, transparent);
  border-width: var(--v2-border-width, var(--v2-01));
  border-style: var(--v2-border-style, solid);
}

@mixin outline {
  outline-color: var(--v2-outline-color, transparent);
  outline-width: var(--v2-outline-width, var(--v2-01));
  outline-style: var(--v2-outline-style, solid);
  outline-offset: var(--v2-outline-offset, unset);
}

@mixin cursor {
  cursor: var(--v2-cursor, pointer);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &[data-loading] {
    --v2-cursor: wait;
  }
  &[data-readonly] {
    --v2-cursor: default;
  }
  &[data-disabled] {
    --v2-cursor: not-allowed;
  }
}
