@layer reset {
  .divider {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

@layer tokens {
  :root {
    --divider-height-xs: 1px;
    --divider-height-sm: 2px;
    --divider-height-md: 3px;
    --divider-height-lg: 4px;
    --divider-height-xl: 5px;
  }
}

.divider {
  width: 100%;
  height: var(--font-size-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: calc(var(--unit) * 3);

  [data-prefers-dir='rtl'] & {
    flex-direction: row-reverse;
  }

  &-label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-1);
    margin-bottom: calc(var(--unit) * 2);
    white-space: nowrap;
    isolation: isolate;
    position: relative;
    z-index: 1;
  }

  &-seperator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--divider-height, var(--divider-height-xs));
  }

  &[data-size='sm'] {
    --divider-height: var(--divider-height-sm);
  }
  &[data-size='md'] {
    --divider-height: var(--divider-height-md);
  }
  &[data-size='lg'] {
    --divider-height: var(--divider-height-lg);
  }
}
