@mixin default {
  border-color: var(--v2-border-color, transparent);
  border-width: var(--v2-border-width, var(--v2-01));
  border-style: var(--v2-border-style, solid);

  outline-color: var(--v2-outline-color, transparent);
  outline-width: var(--v2-outline-width, var(--v2-01));
  outline-style: var(--v2-outline-style, solid);
  outline-offset: var(--v2-outline-offset, unset);

  &:focus(:focus-visible) {
    --v2-outline-color: var(--v2-transparent);
    --v2-outline-offset: calc(var(--v2-01) * -1);
  }
  &:focus:not(:focus-visible) {
    --v2-outline-color: var(--v2-focus);
    --v2-outline-offset: unset;
  }
}
