@use '../../mixins' as mixins;

@layer reset {
  .screen {
    @include mixins.reset;
    &-hero,
    &-content {
      @include mixins.reset;
    }
  }
}

.screen {
  display: block;
  z-index: var(--index-screen);
  isolation: isolate;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;

  &-hero {
    margin-top: var(--height-header);
    height: var(--height-hero);
    z-index: var(--index-hero);
    isolation: isolate;
    overflow-x: hidden;
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
  }

  &-content {
    display: block;
    position: relative;
    isolation: isolate;
    margin-top: calc(var(--height-header) + var(--height-hero));

    @media (min-width: 60em) {
      margin-left: var(--height-header);
    }
  }
}
