@use '../../mixins' as mixins;

.screen {
  &-hero,
  &-layout,
  &-content {
    @include mixins.reset;
  }

  &-layout {
    display: block;
    z-index: var(--site-index-screen);
    isolation: isolate;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
  }
}
