[data-prefers-mode='dim'],
[data-prefers-mode='dark'],
[data-prefers-mode='light'] {
  --c-red-S50: hsl(var(--c-red-hue), 05%);
  --c-red-S100: hsl(var(--c-red-hue), 10%);
  --c-red-S150: hsl(var(--c-red-hue), 15%);
  --c-red-S200: hsl(var(--c-red-hue), 20%);
  --c-red-S250: hsl(var(--c-red-hue), 25%);
  --c-red-S300: hsl(var(--c-red-hue), 30%);
  --c-red-S350: hsl(var(--c-red-hue), 35%);
  --c-red-S400: hsl(var(--c-red-hue), 40%);
  --c-red-S450: hsl(var(--c-red-hue), 45%);
  --c-red-S500: hsl(var(--c-red-hue), 50%);
  --c-red-S550: hsl(var(--c-red-hue), 55%);
  --c-red-S600: hsl(var(--c-red-hue), 60%);
  --c-red-S650: hsl(var(--c-red-hue), 65%);
  --c-red-S700: hsl(var(--c-red-hue), 70%);
  --c-red-S750: hsl(var(--c-red-hue), 75%);
  --c-red-S800: hsl(var(--c-red-hue), 80%);
  --c-red-S850: hsl(var(--c-red-hue), 85%);
  --c-red-S900: hsl(var(--c-red-hue), 90%);
  --c-red-S950: hsl(var(--c-red-hue), 95%);

  --c-orange-S50: hsl(var(--c-orange-hue), 05%);
  --c-orange-S100: hsl(var(--c-orange-hue), 10%);
  --c-orange-S150: hsl(var(--c-orange-hue), 15%);
  --c-orange-S200: hsl(var(--c-orange-hue), 20%);
  --c-orange-S250: hsl(var(--c-orange-hue), 25%);
  --c-orange-S300: hsl(var(--c-orange-hue), 30%);
  --c-orange-S350: hsl(var(--c-orange-hue), 35%);
  --c-orange-S400: hsl(var(--c-orange-hue), 40%);
  --c-orange-S450: hsl(var(--c-orange-hue), 45%);
  --c-orange-S500: hsl(var(--c-orange-hue), 50%);
  --c-orange-S550: hsl(var(--c-orange-hue), 55%);
  --c-orange-S600: hsl(var(--c-orange-hue), 60%);
  --c-orange-S650: hsl(var(--c-orange-hue), 65%);
  --c-orange-S700: hsl(var(--c-orange-hue), 70%);
  --c-orange-S750: hsl(var(--c-orange-hue), 75%);
  --c-orange-S800: hsl(var(--c-orange-hue), 80%);
  --c-orange-S850: hsl(var(--c-orange-hue), 85%);
  --c-orange-S900: hsl(var(--c-orange-hue), 90%);
  --c-orange-S950: hsl(var(--c-orange-hue), 95%);

  --c-yellow-S50: hsl(var(--c-yellow-hue), 05%);
  --c-yellow-S100: hsl(var(--c-yellow-hue), 10%);
  --c-yellow-S150: hsl(var(--c-yellow-hue), 15%);
  --c-yellow-S200: hsl(var(--c-yellow-hue), 20%);
  --c-yellow-S250: hsl(var(--c-yellow-hue), 25%);
  --c-yellow-S300: hsl(var(--c-yellow-hue), 30%);
  --c-yellow-S350: hsl(var(--c-yellow-hue), 35%);
  --c-yellow-S400: hsl(var(--c-yellow-hue), 40%);
  --c-yellow-S450: hsl(var(--c-yellow-hue), 45%);
  --c-yellow-S500: hsl(var(--c-yellow-hue), 50%);
  --c-yellow-S550: hsl(var(--c-yellow-hue), 55%);
  --c-yellow-S600: hsl(var(--c-yellow-hue), 60%);
  --c-yellow-S650: hsl(var(--c-yellow-hue), 65%);
  --c-yellow-S700: hsl(var(--c-yellow-hue), 70%);
  --c-yellow-S750: hsl(var(--c-yellow-hue), 75%);
  --c-yellow-S800: hsl(var(--c-yellow-hue), 80%);
  --c-yellow-S850: hsl(var(--c-yellow-hue), 85%);
  --c-yellow-S900: hsl(var(--c-yellow-hue), 90%);
  --c-yellow-S950: hsl(var(--c-yellow-hue), 95%);

  --c-green-S50: hsl(var(--c-green-hue), 05%);
  --c-green-S100: hsl(var(--c-green-hue), 10%);
  --c-green-S150: hsl(var(--c-green-hue), 15%);
  --c-green-S200: hsl(var(--c-green-hue), 20%);
  --c-green-S250: hsl(var(--c-green-hue), 25%);
  --c-green-S300: hsl(var(--c-green-hue), 30%);
  --c-green-S350: hsl(var(--c-green-hue), 35%);
  --c-green-S400: hsl(var(--c-green-hue), 40%);
  --c-green-S450: hsl(var(--c-green-hue), 45%);
  --c-green-S500: hsl(var(--c-green-hue), 50%);
  --c-green-S550: hsl(var(--c-green-hue), 55%);
  --c-green-S600: hsl(var(--c-green-hue), 60%);
  --c-green-S650: hsl(var(--c-green-hue), 65%);
  --c-green-S700: hsl(var(--c-green-hue), 70%);
  --c-green-S750: hsl(var(--c-green-hue), 75%);
  --c-green-S800: hsl(var(--c-green-hue), 80%);
  --c-green-S850: hsl(var(--c-green-hue), 85%);
  --c-green-S900: hsl(var(--c-green-hue), 90%);
  --c-green-S950: hsl(var(--c-green-hue), 95%);

  --c-mint-S50: hsl(var(--c-mint-hue), 05%);
  --c-mint-S100: hsl(var(--c-mint-hue), 10%);
  --c-mint-S150: hsl(var(--c-mint-hue), 15%);
  --c-mint-S200: hsl(var(--c-mint-hue), 20%);
  --c-mint-S250: hsl(var(--c-mint-hue), 25%);
  --c-mint-S300: hsl(var(--c-mint-hue), 30%);
  --c-mint-S350: hsl(var(--c-mint-hue), 35%);
  --c-mint-S400: hsl(var(--c-mint-hue), 40%);
  --c-mint-S450: hsl(var(--c-mint-hue), 45%);
  --c-mint-S500: hsl(var(--c-mint-hue), 50%);
  --c-mint-S550: hsl(var(--c-mint-hue), 55%);
  --c-mint-S600: hsl(var(--c-mint-hue), 60%);
  --c-mint-S650: hsl(var(--c-mint-hue), 65%);
  --c-mint-S700: hsl(var(--c-mint-hue), 70%);
  --c-mint-S750: hsl(var(--c-mint-hue), 75%);
  --c-mint-S800: hsl(var(--c-mint-hue), 80%);
  --c-mint-S850: hsl(var(--c-mint-hue), 85%);
  --c-mint-S900: hsl(var(--c-mint-hue), 90%);
  --c-mint-S950: hsl(var(--c-mint-hue), 95%);

  --c-teal-S50: hsl(var(--c-teal-hue), 05%);
  --c-teal-S100: hsl(var(--c-teal-hue), 10%);
  --c-teal-S150: hsl(var(--c-teal-hue), 15%);
  --c-teal-S200: hsl(var(--c-teal-hue), 20%);
  --c-teal-S250: hsl(var(--c-teal-hue), 25%);
  --c-teal-S300: hsl(var(--c-teal-hue), 30%);
  --c-teal-S350: hsl(var(--c-teal-hue), 35%);
  --c-teal-S400: hsl(var(--c-teal-hue), 40%);
  --c-teal-S450: hsl(var(--c-teal-hue), 45%);
  --c-teal-S500: hsl(var(--c-teal-hue), 50%);
  --c-teal-S550: hsl(var(--c-teal-hue), 55%);
  --c-teal-S600: hsl(var(--c-teal-hue), 60%);
  --c-teal-S650: hsl(var(--c-teal-hue), 65%);
  --c-teal-S700: hsl(var(--c-teal-hue), 70%);
  --c-teal-S750: hsl(var(--c-teal-hue), 75%);
  --c-teal-S800: hsl(var(--c-teal-hue), 80%);
  --c-teal-S850: hsl(var(--c-teal-hue), 85%);
  --c-teal-S900: hsl(var(--c-teal-hue), 90%);
  --c-teal-S950: hsl(var(--c-teal-hue), 95%);

  --c-cyan-S50: hsl(var(--c-cyan-hue), 05%);
  --c-cyan-S100: hsl(var(--c-cyan-hue), 10%);
  --c-cyan-S150: hsl(var(--c-cyan-hue), 15%);
  --c-cyan-S200: hsl(var(--c-cyan-hue), 20%);
  --c-cyan-S250: hsl(var(--c-cyan-hue), 25%);
  --c-cyan-S300: hsl(var(--c-cyan-hue), 30%);
  --c-cyan-S350: hsl(var(--c-cyan-hue), 35%);
  --c-cyan-S400: hsl(var(--c-cyan-hue), 40%);
  --c-cyan-S450: hsl(var(--c-cyan-hue), 45%);
  --c-cyan-S500: hsl(var(--c-cyan-hue), 50%);
  --c-cyan-S550: hsl(var(--c-cyan-hue), 55%);
  --c-cyan-S600: hsl(var(--c-cyan-hue), 60%);
  --c-cyan-S650: hsl(var(--c-cyan-hue), 65%);
  --c-cyan-S700: hsl(var(--c-cyan-hue), 70%);
  --c-cyan-S750: hsl(var(--c-cyan-hue), 75%);
  --c-cyan-S800: hsl(var(--c-cyan-hue), 80%);
  --c-cyan-S850: hsl(var(--c-cyan-hue), 85%);
  --c-cyan-S900: hsl(var(--c-cyan-hue), 90%);
  --c-cyan-S950: hsl(var(--c-cyan-hue), 95%);

  --c-blue-S50: hsl(var(--c-blue-hue), 05%);
  --c-blue-S100: hsl(var(--c-blue-hue), 10%);
  --c-blue-S150: hsl(var(--c-blue-hue), 15%);
  --c-blue-S200: hsl(var(--c-blue-hue), 20%);
  --c-blue-S250: hsl(var(--c-blue-hue), 25%);
  --c-blue-S300: hsl(var(--c-blue-hue), 30%);
  --c-blue-S350: hsl(var(--c-blue-hue), 35%);
  --c-blue-S400: hsl(var(--c-blue-hue), 40%);
  --c-blue-S450: hsl(var(--c-blue-hue), 45%);
  --c-blue-S500: hsl(var(--c-blue-hue), 50%);
  --c-blue-S550: hsl(var(--c-blue-hue), 55%);
  --c-blue-S600: hsl(var(--c-blue-hue), 60%);
  --c-blue-S650: hsl(var(--c-blue-hue), 65%);
  --c-blue-S700: hsl(var(--c-blue-hue), 70%);
  --c-blue-S750: hsl(var(--c-blue-hue), 75%);
  --c-blue-S800: hsl(var(--c-blue-hue), 80%);
  --c-blue-S850: hsl(var(--c-blue-hue), 85%);
  --c-blue-S900: hsl(var(--c-blue-hue), 90%);
  --c-blue-S950: hsl(var(--c-blue-hue), 95%);

  --c-indigo-S50: hsl(var(--c-indigo-hue), 05%);
  --c-indigo-S100: hsl(var(--c-indigo-hue), 10%);
  --c-indigo-S150: hsl(var(--c-indigo-hue), 15%);
  --c-indigo-S200: hsl(var(--c-indigo-hue), 20%);
  --c-indigo-S250: hsl(var(--c-indigo-hue), 25%);
  --c-indigo-S300: hsl(var(--c-indigo-hue), 30%);
  --c-indigo-S350: hsl(var(--c-indigo-hue), 35%);
  --c-indigo-S400: hsl(var(--c-indigo-hue), 40%);
  --c-indigo-S450: hsl(var(--c-indigo-hue), 45%);
  --c-indigo-S500: hsl(var(--c-indigo-hue), 50%);
  --c-indigo-S550: hsl(var(--c-indigo-hue), 55%);
  --c-indigo-S600: hsl(var(--c-indigo-hue), 60%);
  --c-indigo-S650: hsl(var(--c-indigo-hue), 65%);
  --c-indigo-S700: hsl(var(--c-indigo-hue), 70%);
  --c-indigo-S750: hsl(var(--c-indigo-hue), 75%);
  --c-indigo-S800: hsl(var(--c-indigo-hue), 80%);
  --c-indigo-S850: hsl(var(--c-indigo-hue), 85%);
  --c-indigo-S900: hsl(var(--c-indigo-hue), 90%);
  --c-indigo-S950: hsl(var(--c-indigo-hue), 95%);

  --c-purple-S50: hsl(var(--c-purple-hue), 05%);
  --c-purple-S100: hsl(var(--c-purple-hue), 10%);
  --c-purple-S150: hsl(var(--c-purple-hue), 15%);
  --c-purple-S200: hsl(var(--c-purple-hue), 20%);
  --c-purple-S250: hsl(var(--c-purple-hue), 25%);
  --c-purple-S300: hsl(var(--c-purple-hue), 30%);
  --c-purple-S350: hsl(var(--c-purple-hue), 35%);
  --c-purple-S400: hsl(var(--c-purple-hue), 40%);
  --c-purple-S450: hsl(var(--c-purple-hue), 45%);
  --c-purple-S500: hsl(var(--c-purple-hue), 50%);
  --c-purple-S550: hsl(var(--c-purple-hue), 55%);
  --c-purple-S600: hsl(var(--c-purple-hue), 60%);
  --c-purple-S650: hsl(var(--c-purple-hue), 65%);
  --c-purple-S700: hsl(var(--c-purple-hue), 70%);
  --c-purple-S750: hsl(var(--c-purple-hue), 75%);
  --c-purple-S800: hsl(var(--c-purple-hue), 80%);
  --c-purple-S850: hsl(var(--c-purple-hue), 85%);
  --c-purple-S900: hsl(var(--c-purple-hue), 90%);
  --c-purple-S950: hsl(var(--c-purple-hue), 95%);

  --c-pink-S50: hsl(var(--c-pink-hue), 05%);
  --c-pink-S100: hsl(var(--c-pink-hue), 10%);
  --c-pink-S150: hsl(var(--c-pink-hue), 15%);
  --c-pink-S200: hsl(var(--c-pink-hue), 20%);
  --c-pink-S250: hsl(var(--c-pink-hue), 25%);
  --c-pink-S300: hsl(var(--c-pink-hue), 30%);
  --c-pink-S350: hsl(var(--c-pink-hue), 35%);
  --c-pink-S400: hsl(var(--c-pink-hue), 40%);
  --c-pink-S450: hsl(var(--c-pink-hue), 45%);
  --c-pink-S500: hsl(var(--c-pink-hue), 50%);
  --c-pink-S550: hsl(var(--c-pink-hue), 55%);
  --c-pink-S600: hsl(var(--c-pink-hue), 60%);
  --c-pink-S650: hsl(var(--c-pink-hue), 65%);
  --c-pink-S700: hsl(var(--c-pink-hue), 70%);
  --c-pink-S750: hsl(var(--c-pink-hue), 75%);
  --c-pink-S800: hsl(var(--c-pink-hue), 80%);
  --c-pink-S850: hsl(var(--c-pink-hue), 85%);
  --c-pink-S900: hsl(var(--c-pink-hue), 90%);
  --c-pink-S950: hsl(var(--c-pink-hue), 95%);

  --c-brown-S50: hsl(var(--c-brown-hue), 05%);
  --c-brown-S100: hsl(var(--c-brown-hue), 10%);
  --c-brown-S150: hsl(var(--c-brown-hue), 15%);
  --c-brown-S200: hsl(var(--c-brown-hue), 20%);
  --c-brown-S250: hsl(var(--c-brown-hue), 25%);
  --c-brown-S300: hsl(var(--c-brown-hue), 30%);
  --c-brown-S350: hsl(var(--c-brown-hue), 35%);
  --c-brown-S400: hsl(var(--c-brown-hue), 40%);
  --c-brown-S450: hsl(var(--c-brown-hue), 45%);
  --c-brown-S500: hsl(var(--c-brown-hue), 50%);
  --c-brown-S550: hsl(var(--c-brown-hue), 55%);
  --c-brown-S600: hsl(var(--c-brown-hue), 60%);
  --c-brown-S650: hsl(var(--c-brown-hue), 65%);
  --c-brown-S700: hsl(var(--c-brown-hue), 70%);
  --c-brown-S750: hsl(var(--c-brown-hue), 75%);
  --c-brown-S800: hsl(var(--c-brown-hue), 80%);
  --c-brown-S850: hsl(var(--c-brown-hue), 85%);
  --c-brown-S900: hsl(var(--c-brown-hue), 90%);
  --c-brown-S950: hsl(var(--c-brown-hue), 95%);
}
