@use '../mixins' as mixins;

[data-prefers-accent='red'] {
  --c-accent: var(--c-red);
  --c-accent-hue: var(--c-red-hue);
}
[data-prefers-accent='orange'] {
  --c-accent: var(--c-orange);
  --c-accent-hue: var(--c-orange-hue);
}
[data-prefers-accent='yellow'] {
  --c-accent: var(--c-yellow);
  --c-accent-hue: var(--c-yellow-hue);
}
[data-prefers-accent='green'] {
  --c-accent: var(--c-green);
  --c-accent-hue: var(--c-green-hue);
}
[data-prefers-accent='mint'] {
  --c-accent: var(--c-mint);
  --c-accent-hue: var(--c-mint-hue);
}
[data-prefers-accent='teal'] {
  --c-accent: var(--c-teal);
  --c-accent-hue: var(--c-teal-hue);
}
[data-prefers-accent='cyan'] {
  --c-accent: var(--c-cyan);
  --c-accent-hue: var(--c-cyan-hue);
}
[data-prefers-accent='blue'] {
  --c-accent: var(--c-blue);
  --c-accent-hue: var(--c-blue-hue);
}
[data-prefers-accent='indigo'] {
  --c-accent: var(--c-indigo);
  --c-accent-hue: var(--c-indigo-hue);
}
[data-prefers-accent='purple'] {
  --c-accent: var(--c-purple);
  --c-accent-hue: var(--c-purple-hue);
}
[data-prefers-accent='pink'] {
  --c-accent: var(--c-pink);
  --c-accent-hue: var(--c-pink-hue);
}
[data-prefers-accent='brown'] {
  --c-accent: var(--c-brown);
  --c-accent-hue: var(--c-brown-hue);
}
