:root {
  // TOKEN | COLOR | GLOBAL

  --c-focus: #007aff;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-inherit: inherit;
  --c-transparent: transparent;

  // TOKEN | COLOR | MODE | LIGHT

  --hex-red-light: #ff3b30;
  --hex-orange-light: #ff9500;
  --hex-yellow-light: #ffcc00;
  --hex-green-light: #34c759;
  --hex-mint-light: #00c7be;
  --hex-teal-light: #30b0c7;
  --hex-cyan-light: #32ade6;
  --hex-blue-light: #007aff;
  --hex-indigo-light: #5856d6;
  --hex-purple-light: #af52de;
  --hex-pink-light: #ff2d55;
  --hex-brown-light: #a2845e;

  --hue-red-light: 3, 100%;
  --hue-orange-light: 35, 100%;
  --hue-yellow-light: 48, 100%;
  --hue-green-light: 135, 59%;
  --hue-mint-light: 177, 100%;
  --hue-teal-light: 189, 61%;
  --hue-cyan-light: 199, 78%;
  --hue-blue-light: 211, 100%;
  --hue-indigo-light: 241, 61%;
  --hue-purple-light: 280, 68%;
  --hue-pink-light: 349, 100%;
  --hue-brown-light: 34, 27%;

  --hsl-red-light: var(--hue-red-light), 59%;
  --hsl-orange-light: var(--hue-orange-light), 50%;
  --hsl-yellow-light: var(--hue-yellow-light), 50%;
  --hsl-green-light: var(--hue-green-light), 49%;
  --hsl-mint-light: var(--hue-mint-light), 39%;
  --hsl-teal-light: var(--hue-teal-light), 48%;
  --hsl-cyan-light: var(--hue-cyan-light), 55%;
  --hsl-blue-light: var(--hue-blue-light), 50%;
  --hsl-indigo-light: var(--hue-indigo-light), 59%;
  --hsl-purple-light: var(--hue-purple-light), 60%;
  --hsl-pink-light: var(--hue-pink-light), 59%;
  --hsl-brown-light: var(--hue-brown-light), 50%;

  // TOKEN | COLOR | MODE | DARK

  --hex-red-dark: #ff453a;
  --hex-orange-dark: #ff9f0a;
  --hex-yellow-dark: #ffd60a;
  --hex-green-dark: #30d158;
  --hex-mint-dark: #66d4cf;
  --hex-teal-dark: #40c8e0;
  --hex-cyan-dark: #64d2ff;
  --hex-blue-dark: #0a84ff;
  --hex-indigo-dark: #5e5ce6;
  --hex-purple-dark: #bf5af2;
  --hex-pink-dark: #ff375f;
  --hex-brown-dark: #ac8e68;

  --hue-red-dark: 3, 100%;
  --hue-orange-dark: 36, 100%;
  --hue-yellow-dark: 50, 100%;
  --hue-green-dark: 135, 64%;
  --hue-mint-dark: 177, 56%;
  --hue-teal-dark: 189, 72%;
  --hue-cyan-dark: 197, 100%;
  --hue-blue-dark: 210, 100%;
  --hue-indigo-dark: 241, 73%;
  --hue-purple-dark: 280, 85%;
  --hue-pink-dark: 348, 100%;
  --hue-brown-dark: 34, 29%;

  --hsl-red-dark: var(--hue-red-dark), 61%;
  --hsl-orange-dark: var(--hue-orange-dark), 52%;
  --hsl-yellow-dark: var(--hue-yellow-dark), 52%;
  --hsl-green-dark: var(--hue-green-dark), 50%;
  --hsl-mint-dark: var(--hue-mint-dark), 62%;
  --hsl-teal-dark: var(--hue-teal-dark), 57%;
  --hsl-cyan-dark: var(--hue-cyan-dark), 70%;
  --hsl-blue-dark: var(--hue-blue-dark), 52%;
  --hsl-indigo-dark: var(--hue-indigo-dark), 63%;
  --hsl-purple-dark: var(--hue-purple-dark), 65%;
  --hsl-pink-dark: var(--hue-pink-dark), 60%;
  --hsl-brown-dark: var(--hue-brown-dark), 54%;

  // TOKEN | COLOR | MODE | DIM

  --hex-red-dim: #ff453a;
  --hex-orange-dim: #ff9f0a;
  --hex-yellow-dim: #ffd60a;
  --hex-green-dim: #30d158;
  --hex-mint-dim: #66d4cf;
  --hex-teal-dim: #40c8e0;
  --hex-cyan-dim: #64d2ff;
  --hex-blue-dim: #0a84ff;
  --hex-indigo-dim: #5e5ce6;
  --hex-purple-dim: #bf5af2;
  --hex-pink-dim: #ff375f;
  --hex-brown-dim: #ac8e68;

  --hue-red-dim: 3, 100%;
  --hue-orange-dim: 36, 100%;
  --hue-yellow-dim: 50, 100%;
  --hue-green-dim: 135, 64%;
  --hue-mint-dim: 177, 56%;
  --hue-teal-dim: 189, 72%;
  --hue-cyan-dim: 197, 100%;
  --hue-blue-dim: 210, 100%;
  --hue-indigo-dim: 241, 73%;
  --hue-purple-dim: 280, 85%;
  --hue-pink-dim: 348, 100%;
  --hue-brown-dim: 34, 29%;

  --hsl-red-dim: var(--hue-red-dim), 61%;
  --hsl-orange-dim: var(--hue-orange-dim), 52%;
  --hsl-yellow-dim: var(--hue-yellow-dim), 52%;
  --hsl-green-dim: var(--hue-green-dim), 50%;
  --hsl-mint-dim: var(--hue-mint-dim), 62%;
  --hsl-teal-dim: var(--hue-teal-dim), 57%;
  --hsl-cyan-dim: var(--hue-cyan-dim), 70%;
  --hsl-blue-dim: var(--hue-blue-dim), 52%;
  --hsl-indigo-dim: var(--hue-indigo-dim), 63%;
  --hsl-purple-dim: var(--hue-purple-dim), 65%;
  --hsl-pink-dim: var(--hue-pink-dim), 60%;
  --hsl-brown-dim: var(--hue-brown-dim), 54%;
}
