@use '../mixins' as mixins;

@include mixins.theme-modes {
  --c-red-S50: hsl(var(--c-red-hue), 5%);
  --c-red-S100: hsl(var(--c-red-hue), 10%);
  --c-red-S200: hsl(var(--c-red-hue), 20%);
  --c-red-S300: hsl(var(--c-red-hue), 30%);
  --c-red-S400: hsl(var(--c-red-hue), 40%);
  --c-red-S500: hsl(var(--c-red-hue), 50%);
  --c-red-S600: hsl(var(--c-red-hue), 60%);
  --c-red-S700: hsl(var(--c-red-hue), 70%);
  --c-red-S800: hsl(var(--c-red-hue), 80%);
  --c-red-S900: hsl(var(--c-red-hue), 90%);
  --c-red-S950: hsl(var(--c-red-hue), 95%);

  --c-orange-S50: hsl(var(--c-orange-hue), 5%);
  --c-orange-S100: hsl(var(--c-orange-hue), 10%);
  --c-orange-S200: hsl(var(--c-orange-hue), 20%);
  --c-orange-S300: hsl(var(--c-orange-hue), 30%);
  --c-orange-S400: hsl(var(--c-orange-hue), 40%);
  --c-orange-S500: hsl(var(--c-orange-hue), 50%);
  --c-orange-S600: hsl(var(--c-orange-hue), 60%);
  --c-orange-S700: hsl(var(--c-orange-hue), 70%);
  --c-orange-S800: hsl(var(--c-orange-hue), 80%);
  --c-orange-S900: hsl(var(--c-orange-hue), 90%);
  --c-orange-S950: hsl(var(--c-orange-hue), 95%);

  --c-yellow-S50: hsl(var(--c-yellow-hue), 5%);
  --c-yellow-S100: hsl(var(--c-yellow-hue), 10%);
  --c-yellow-S200: hsl(var(--c-yellow-hue), 20%);
  --c-yellow-S300: hsl(var(--c-yellow-hue), 30%);
  --c-yellow-S400: hsl(var(--c-yellow-hue), 40%);
  --c-yellow-S500: hsl(var(--c-yellow-hue), 50%);
  --c-yellow-S600: hsl(var(--c-yellow-hue), 60%);
  --c-yellow-S700: hsl(var(--c-yellow-hue), 70%);
  --c-yellow-S800: hsl(var(--c-yellow-hue), 80%);
  --c-yellow-S900: hsl(var(--c-yellow-hue), 90%);
  --c-yellow-S950: hsl(var(--c-yellow-hue), 95%);

  --c-green-S50: hsl(var(--c-green-hue), 5%);
  --c-green-S100: hsl(var(--c-green-hue), 10%);
  --c-green-S200: hsl(var(--c-green-hue), 20%);
  --c-green-S300: hsl(var(--c-green-hue), 30%);
  --c-green-S400: hsl(var(--c-green-hue), 40%);
  --c-green-S500: hsl(var(--c-green-hue), 50%);
  --c-green-S600: hsl(var(--c-green-hue), 60%);
  --c-green-S700: hsl(var(--c-green-hue), 70%);
  --c-green-S800: hsl(var(--c-green-hue), 80%);
  --c-green-S900: hsl(var(--c-green-hue), 90%);
  --c-green-S950: hsl(var(--c-green-hue), 95%);

  --c-mint-S50: hsl(var(--c-mint-hue), 5%);
  --c-mint-S100: hsl(var(--c-mint-hue), 10%);
  --c-mint-S200: hsl(var(--c-mint-hue), 20%);
  --c-mint-S300: hsl(var(--c-mint-hue), 30%);
  --c-mint-S400: hsl(var(--c-mint-hue), 40%);
  --c-mint-S500: hsl(var(--c-mint-hue), 50%);
  --c-mint-S600: hsl(var(--c-mint-hue), 60%);
  --c-mint-S700: hsl(var(--c-mint-hue), 70%);
  --c-mint-S800: hsl(var(--c-mint-hue), 80%);
  --c-mint-S900: hsl(var(--c-mint-hue), 90%);
  --c-mint-S950: hsl(var(--c-mint-hue), 95%);

  --c-teal-S50: hsl(var(--c-teal-hue), 5%);
  --c-teal-S100: hsl(var(--c-teal-hue), 10%);
  --c-teal-S200: hsl(var(--c-teal-hue), 20%);
  --c-teal-S300: hsl(var(--c-teal-hue), 30%);
  --c-teal-S400: hsl(var(--c-teal-hue), 40%);
  --c-teal-S500: hsl(var(--c-teal-hue), 50%);
  --c-teal-S600: hsl(var(--c-teal-hue), 60%);
  --c-teal-S700: hsl(var(--c-teal-hue), 70%);
  --c-teal-S800: hsl(var(--c-teal-hue), 80%);
  --c-teal-S900: hsl(var(--c-teal-hue), 90%);
  --c-teal-S950: hsl(var(--c-teal-hue), 95%);

  --c-cyan-S50: hsl(var(--c-cyan-hue), 5%);
  --c-cyan-S100: hsl(var(--c-cyan-hue), 10%);
  --c-cyan-S200: hsl(var(--c-cyan-hue), 20%);
  --c-cyan-S300: hsl(var(--c-cyan-hue), 30%);
  --c-cyan-S400: hsl(var(--c-cyan-hue), 40%);
  --c-cyan-S500: hsl(var(--c-cyan-hue), 50%);
  --c-cyan-S600: hsl(var(--c-cyan-hue), 60%);
  --c-cyan-S700: hsl(var(--c-cyan-hue), 70%);
  --c-cyan-S800: hsl(var(--c-cyan-hue), 80%);
  --c-cyan-S900: hsl(var(--c-cyan-hue), 90%);
  --c-cyan-S950: hsl(var(--c-cyan-hue), 95%);

  --c-blue-S50: hsl(var(--c-blue-hue), 5%);
  --c-blue-S100: hsl(var(--c-blue-hue), 10%);
  --c-blue-S200: hsl(var(--c-blue-hue), 20%);
  --c-blue-S300: hsl(var(--c-blue-hue), 30%);
  --c-blue-S400: hsl(var(--c-blue-hue), 40%);
  --c-blue-S500: hsl(var(--c-blue-hue), 50%);
  --c-blue-S600: hsl(var(--c-blue-hue), 60%);
  --c-blue-S700: hsl(var(--c-blue-hue), 70%);
  --c-blue-S800: hsl(var(--c-blue-hue), 80%);
  --c-blue-S900: hsl(var(--c-blue-hue), 90%);
  --c-blue-S950: hsl(var(--c-blue-hue), 95%);

  --c-indigo-S50: hsl(var(--c-indigo-hue), 5%);
  --c-indigo-S100: hsl(var(--c-indigo-hue), 10%);
  --c-indigo-S200: hsl(var(--c-indigo-hue), 20%);
  --c-indigo-S300: hsl(var(--c-indigo-hue), 30%);
  --c-indigo-S400: hsl(var(--c-indigo-hue), 40%);
  --c-indigo-S500: hsl(var(--c-indigo-hue), 50%);
  --c-indigo-S600: hsl(var(--c-indigo-hue), 60%);
  --c-indigo-S700: hsl(var(--c-indigo-hue), 70%);
  --c-indigo-S800: hsl(var(--c-indigo-hue), 80%);
  --c-indigo-S900: hsl(var(--c-indigo-hue), 90%);
  --c-indigo-S950: hsl(var(--c-indigo-hue), 95%);

  --c-purple-S50: hsl(var(--c-purple-hue), 5%);
  --c-purple-S100: hsl(var(--c-purple-hue), 10%);
  --c-purple-S200: hsl(var(--c-purple-hue), 20%);
  --c-purple-S300: hsl(var(--c-purple-hue), 30%);
  --c-purple-S400: hsl(var(--c-purple-hue), 40%);
  --c-purple-S500: hsl(var(--c-purple-hue), 50%);
  --c-purple-S600: hsl(var(--c-purple-hue), 60%);
  --c-purple-S700: hsl(var(--c-purple-hue), 70%);
  --c-purple-S800: hsl(var(--c-purple-hue), 80%);
  --c-purple-S900: hsl(var(--c-purple-hue), 90%);
  --c-purple-S950: hsl(var(--c-purple-hue), 95%);

  --c-pink-S50: hsl(var(--c-pink-hue), 5%);
  --c-pink-S100: hsl(var(--c-pink-hue), 10%);
  --c-pink-S200: hsl(var(--c-pink-hue), 20%);
  --c-pink-S300: hsl(var(--c-pink-hue), 30%);
  --c-pink-S400: hsl(var(--c-pink-hue), 40%);
  --c-pink-S500: hsl(var(--c-pink-hue), 50%);
  --c-pink-S600: hsl(var(--c-pink-hue), 60%);
  --c-pink-S700: hsl(var(--c-pink-hue), 70%);
  --c-pink-S800: hsl(var(--c-pink-hue), 80%);
  --c-pink-S900: hsl(var(--c-pink-hue), 90%);
  --c-pink-S950: hsl(var(--c-pink-hue), 95%);

  --c-brown-S50: hsl(var(--c-brown-hue), 5%);
  --c-brown-S100: hsl(var(--c-brown-hue), 10%);
  --c-brown-S200: hsl(var(--c-brown-hue), 20%);
  --c-brown-S300: hsl(var(--c-brown-hue), 30%);
  --c-brown-S400: hsl(var(--c-brown-hue), 40%);
  --c-brown-S500: hsl(var(--c-brown-hue), 50%);
  --c-brown-S600: hsl(var(--c-brown-hue), 60%);
  --c-brown-S700: hsl(var(--c-brown-hue), 70%);
  --c-brown-S800: hsl(var(--c-brown-hue), 80%);
  --c-brown-S900: hsl(var(--c-brown-hue), 90%);
  --c-brown-S950: hsl(var(--c-brown-hue), 95%);
}
