@use '../mixins' as mixins;

@include mixins.theme-mode('light') {
  --hex-red: var(--hex-red-light);
  --hex-orange: var(--hex-orange-light);
  --hex-yellow: var(--hex-yellow-light);
  --hex-green: var(--hex-green-light);
  --hex-mint: var(--hex-mint-light);
  --hex-teal: var(--hex-teal-light);
  --hex-cyan: var(--hex-cyan-light);
  --hex-blue: var(--hex-blue-light);
  --hex-indigo: var(--hex-indigo-light);
  --hex-purple: var(--hex-purple-light);
  --hex-pink: var(--hex-pink-light);
  --hex-brown: var(--hex-brown-light);

  --hsl-red: var(--hsl-red-light);
  --hsl-orange: var(--hsl-orange-light);
  --hsl-yellow: var(--hsl-yellow-light);
  --hsl-green: var(--hsl-green-light);
  --hsl-mint: var(--hsl-mint-light);
  --hsl-teal: var(--hsl-teal-light);
  --hsl-cyan: var(--hsl-cyan-light);
  --hsl-blue: var(--hsl-blue-light);
  --hsl-indigo: var(--hsl-indigo-light);
  --hsl-purple: var(--hsl-purple-light);
  --hsl-pink: var(--hsl-pink-light);
  --hsl-brown: var(--hsl-brown-light);
}

@include mixins.theme-mode('dark') {
  --hex-red: var(--hex-red-dark);
  --hex-orange: var(--hex-orange-dark);
  --hex-yellow: var(--hex-yellow-dark);
  --hex-green: var(--hex-green-dark);
  --hex-mint: var(--hex-mint-dark);
  --hex-teal: var(--hex-teal-dark);
  --hex-cyan: var(--hex-cyan-dark);
  --hex-blue: var(--hex-blue-dark);
  --hex-indigo: var(--hex-indigo-dark);
  --hex-purple: var(--hex-purple-dark);
  --hex-pink: var(--hex-pink-dark);
  --hex-brown: var(--hex-brown-dark);

  --hsl-red: var(--hsl-red-dark);
  --hsl-orange: var(--hsl-orange-dark);
  --hsl-yellow: var(--hsl-yellow-dark);
  --hsl-green: var(--hsl-green-dark);
  --hsl-mint: var(--hsl-mint-dark);
  --hsl-teal: var(--hsl-teal-dark);
  --hsl-cyan: var(--hsl-cyan-dark);
  --hsl-blue: var(--hsl-blue-dark);
  --hsl-indigo: var(--hsl-indigo-dark);
  --hsl-purple: var(--hsl-purple-dark);
  --hsl-pink: var(--hsl-pink-dark);
  --hsl-brown: var(--hsl-brown-dark);
}

@include mixins.theme-mode('dim') {
  --hex-red: var(--hex-red-dim);
  --hex-orange: var(--hex-orange-dim);
  --hex-yellow: var(--hex-yellow-dim);
  --hex-green: var(--hex-green-dim);
  --hex-mint: var(--hex-mint-dim);
  --hex-teal: var(--hex-teal-dim);
  --hex-cyan: var(--hex-cyan-dim);
  --hex-blue: var(--hex-blue-dim);
  --hex-indigo: var(--hex-indigo-dim);
  --hex-purple: var(--hex-purple-dim);
  --hex-pink: var(--hex-pink-dim);
  --hex-brown: var(--hex-brown-dim);

  --hsl-red: var(--hsl-red-dim);
  --hsl-orange: var(--hsl-orange-dim);
  --hsl-yellow: var(--hsl-yellow-dim);
  --hsl-green: var(--hsl-green-dim);
  --hsl-mint: var(--hsl-mint-dim);
  --hsl-teal: var(--hsl-teal-dim);
  --hsl-cyan: var(--hsl-cyan-dim);
  --hsl-blue: var(--hsl-blue-dim);
  --hsl-indigo: var(--hsl-indigo-dim);
  --hsl-purple: var(--hsl-purple-dim);
  --hsl-pink: var(--hsl-pink-dim);
  --hsl-brown: var(--hsl-brown-dim);
}

@include mixins.theme-modes {
  --c-red: var(--hex-red);
  --c-orange: var(--hex-orange);
  --c-yellow: var(--hex-yellow);
  --c-green: var(--hex-green);
  --c-mint: var(--hex-mint);
  --c-teal: var(--hex-teal);
  --c-cyan: var(--hex-cyan);
  --c-blue: var(--hex-blue);
  --c-indigo: var(--hex-indigo);
  --c-purple: var(--hex-purple);
  --c-pink: var(--hex-pink);
  --c-brown: var(--hex-brown);
}
