@use '../mixins' as mixins;

[data-prefers-accent='red'] {
  --c-accent: var(--c-red);
  --c-accent-hue: var(--c-red-hue);
  --c-accent-hsl: var(--c-red-hsl);
}
[data-prefers-accent='orange'] {
  --c-accent: var(--c-orange);
  --c-accent-hue: var(--c-orange-hue);
  --c-accent-hsl: var(--c-orange-hsl);
}
[data-prefers-accent='yellow'] {
  --c-accent: var(--c-yellow);
  --c-accent-hue: var(--c-yellow-hue);
  --c-accent-hsl: var(--c-yellow-hsl);
}
[data-prefers-accent='green'] {
  --c-accent: var(--c-green);
  --c-accent-hue: var(--c-green-hue);
  --c-accent-hsl: var(--c-green-hsl);
}
[data-prefers-accent='mint'] {
  --c-accent: var(--c-mint);
  --c-accent-hue: var(--c-mint-hue);
  --c-accent-hsl: var(--c-mint-hsl);
}
[data-prefers-accent='teal'] {
  --c-accent: var(--c-teal);
  --c-accent-hue: var(--c-teal-hue);
  --c-accent-hsl: var(--c-teal-hsl);
}
[data-prefers-accent='cyan'] {
  --c-accent: var(--c-cyan);
  --c-accent-hue: var(--c-cyan-hue);
  --c-accent-hsl: var(--c-cyan-hsl);
}
[data-prefers-accent='blue'] {
  --c-accent: var(--c-blue);
  --c-accent-hue: var(--c-blue-hue);
  --c-accent-hsl: var(--c-blue-hsl);
}
[data-prefers-accent='indigo'] {
  --c-accent: var(--c-indigo);
  --c-accent-hue: var(--c-indigo-hue);
  --c-accent-hsl: var(--c-indigo-hsl);
}
[data-prefers-accent='purple'] {
  --c-accent: var(--c-purple);
  --c-accent-hue: var(--c-purple-hue);
  --c-accent-hsl: var(--c-purple-hsl);
}
[data-prefers-accent='pink'] {
  --c-accent: var(--c-pink);
  --c-accent-hue: var(--c-pink-hue);
  --c-accent-hsl: var(--c-pink-hsl);
}
[data-prefers-accent='brown'] {
  --c-accent: var(--c-brown);
  --c-accent-hue: var(--c-brown-hue);
  --c-accent-hsl: var(--c-brown-hsl);
}

[data-prefers-accent='red'],
[data-prefers-accent='orange'],
[data-prefers-accent='yellow'],
[data-prefers-accent='green'],
[data-prefers-accent='mint'],
[data-prefers-accent='teal'],
[data-prefers-accent='cyan'],
[data-prefers-accent='blue'],
[data-prefers-accent='indigo'],
[data-prefers-accent='purple'],
[data-prefers-accent='pink'],
[data-prefers-accent='brown'] {
  --c-accent-S50: hsl(var(--c-accent-hue), 05%);
  --c-accent-S100: hsl(var(--c-accent-hue), 10%);
  --c-accent-S150: hsl(var(--c-accent-hue), 15%);
  --c-accent-S200: hsl(var(--c-accent-hue), 20%);
  --c-accent-S250: hsl(var(--c-accent-hue), 25%);
  --c-accent-S300: hsl(var(--c-accent-hue), 30%);
  --c-accent-S350: hsl(var(--c-accent-hue), 35%);
  --c-accent-S400: hsl(var(--c-accent-hue), 40%);
  --c-accent-S450: hsl(var(--c-accent-hue), 45%);
  --c-accent-S500: hsl(var(--c-accent-hue), 50%);
  --c-accent-S550: hsl(var(--c-accent-hue), 55%);
  --c-accent-S600: hsl(var(--c-accent-hue), 60%);
  --c-accent-S650: hsl(var(--c-accent-hue), 65%);
  --c-accent-S700: hsl(var(--c-accent-hue), 70%);
  --c-accent-S750: hsl(var(--c-accent-hue), 75%);
  --c-accent-S800: hsl(var(--c-accent-hue), 80%);
  --c-accent-S850: hsl(var(--c-accent-hue), 85%);
  --c-accent-S900: hsl(var(--c-accent-hue), 90%);
  --c-accent-S950: hsl(var(--c-accent-hue), 95%);

  --c-accent-A50: hsl(var(--c-accent-hsl), 0.05);
  --c-accent-A100: hsl(var(--c-accent-hsl), 0.1);
  --c-accent-A150: hsl(var(--c-accent-hsl), 0.15);
  --c-accent-A200: hsl(var(--c-accent-hsl), 0.2);
  --c-accent-A250: hsl(var(--c-accent-hsl), 0.25);
  --c-accent-A300: hsl(var(--c-accent-hsl), 0.3);
  --c-accent-A350: hsl(var(--c-accent-hsl), 0.35);
  --c-accent-A400: hsl(var(--c-accent-hsl), 0.4);
  --c-accent-A450: hsl(var(--c-accent-hsl), 0.45);
  --c-accent-A500: hsl(var(--c-accent-hsl), 0.5);
  --c-accent-A550: hsl(var(--c-accent-hsl), 0.55);
  --c-accent-A600: hsl(var(--c-accent-hsl), 0.6);
  --c-accent-A650: hsl(var(--c-accent-hsl), 0.65);
  --c-accent-A700: hsl(var(--c-accent-hsl), 0.7);
  --c-accent-A750: hsl(var(--c-accent-hsl), 0.75);
  --c-accent-A800: hsl(var(--c-accent-hsl), 0.8);
  --c-accent-A850: hsl(var(--c-accent-hsl), 0.85);
  --c-accent-A900: hsl(var(--c-accent-hsl), 0.9);
  --c-accent-A950: hsl(var(--c-accent-hsl), 0.95);
}
