@use '../mixins' as mixins;

@include mixins.theme-modes {
  --c-red-100: hsl(var(--c-red-hue), 10%);
  --c-red-200: hsl(var(--c-red-hue), 20%);
  --c-red-300: hsl(var(--c-red-hue), 30%);
  --c-red-400: hsl(var(--c-red-hue), 40%);
  --c-red-500: hsl(var(--c-red-hue), 50%);
  --c-red-600: hsl(var(--c-red-hue), 60%);
  --c-red-700: hsl(var(--c-red-hue), 70%);
  --c-red-800: hsl(var(--c-red-hue), 80%);
  --c-red-900: hsl(var(--c-red-hue), 90%);

  --c-orange-100: hsl(var(--c-orange-hue), 10%);
  --c-orange-200: hsl(var(--c-orange-hue), 20%);
  --c-orange-300: hsl(var(--c-orange-hue), 30%);
  --c-orange-400: hsl(var(--c-orange-hue), 40%);
  --c-orange-500: hsl(var(--c-orange-hue), 50%);
  --c-orange-600: hsl(var(--c-orange-hue), 60%);
  --c-orange-700: hsl(var(--c-orange-hue), 70%);
  --c-orange-800: hsl(var(--c-orange-hue), 80%);
  --c-orange-900: hsl(var(--c-orange-hue), 90%);

  --c-yellow-100: hsl(var(--c-yellow-hue), 10%);
  --c-yellow-200: hsl(var(--c-yellow-hue), 20%);
  --c-yellow-300: hsl(var(--c-yellow-hue), 30%);
  --c-yellow-400: hsl(var(--c-yellow-hue), 40%);
  --c-yellow-500: hsl(var(--c-yellow-hue), 50%);
  --c-yellow-600: hsl(var(--c-yellow-hue), 60%);
  --c-yellow-700: hsl(var(--c-yellow-hue), 70%);
  --c-yellow-800: hsl(var(--c-yellow-hue), 80%);
  --c-yellow-900: hsl(var(--c-yellow-hue), 90%);

  --c-green-100: hsl(var(--c-green-hue), 10%);
  --c-green-200: hsl(var(--c-green-hue), 20%);
  --c-green-300: hsl(var(--c-green-hue), 30%);
  --c-green-400: hsl(var(--c-green-hue), 40%);
  --c-green-500: hsl(var(--c-green-hue), 50%);
  --c-green-600: hsl(var(--c-green-hue), 60%);
  --c-green-700: hsl(var(--c-green-hue), 70%);
  --c-green-800: hsl(var(--c-green-hue), 80%);
  --c-green-900: hsl(var(--c-green-hue), 90%);

  --c-mint-100: hsl(var(--c-mint-hue), 10%);
  --c-mint-200: hsl(var(--c-mint-hue), 20%);
  --c-mint-300: hsl(var(--c-mint-hue), 30%);
  --c-mint-400: hsl(var(--c-mint-hue), 40%);
  --c-mint-500: hsl(var(--c-mint-hue), 50%);
  --c-mint-600: hsl(var(--c-mint-hue), 60%);
  --c-mint-700: hsl(var(--c-mint-hue), 70%);
  --c-mint-800: hsl(var(--c-mint-hue), 80%);
  --c-mint-900: hsl(var(--c-mint-hue), 90%);

  --c-teal-100: hsl(var(--c-teal-hue), 10%);
  --c-teal-200: hsl(var(--c-teal-hue), 20%);
  --c-teal-300: hsl(var(--c-teal-hue), 30%);
  --c-teal-400: hsl(var(--c-teal-hue), 40%);
  --c-teal-500: hsl(var(--c-teal-hue), 50%);
  --c-teal-600: hsl(var(--c-teal-hue), 60%);
  --c-teal-700: hsl(var(--c-teal-hue), 70%);
  --c-teal-800: hsl(var(--c-teal-hue), 80%);
  --c-teal-900: hsl(var(--c-teal-hue), 90%);

  --c-cyan-100: hsl(var(--c-cyan-hue), 10%);
  --c-cyan-200: hsl(var(--c-cyan-hue), 20%);
  --c-cyan-300: hsl(var(--c-cyan-hue), 30%);
  --c-cyan-400: hsl(var(--c-cyan-hue), 40%);
  --c-cyan-500: hsl(var(--c-cyan-hue), 50%);
  --c-cyan-600: hsl(var(--c-cyan-hue), 60%);
  --c-cyan-700: hsl(var(--c-cyan-hue), 70%);
  --c-cyan-800: hsl(var(--c-cyan-hue), 80%);
  --c-cyan-900: hsl(var(--c-cyan-hue), 90%);

  --c-blue-100: hsl(var(--c-blue-hue), 10%);
  --c-blue-200: hsl(var(--c-blue-hue), 20%);
  --c-blue-300: hsl(var(--c-blue-hue), 30%);
  --c-blue-400: hsl(var(--c-blue-hue), 40%);
  --c-blue-500: hsl(var(--c-blue-hue), 50%);
  --c-blue-600: hsl(var(--c-blue-hue), 60%);
  --c-blue-700: hsl(var(--c-blue-hue), 70%);
  --c-blue-800: hsl(var(--c-blue-hue), 80%);
  --c-blue-900: hsl(var(--c-blue-hue), 90%);

  --c-indigo-100: hsl(var(--c-indigo-hue), 10%);
  --c-indigo-200: hsl(var(--c-indigo-hue), 20%);
  --c-indigo-300: hsl(var(--c-indigo-hue), 30%);
  --c-indigo-400: hsl(var(--c-indigo-hue), 40%);
  --c-indigo-500: hsl(var(--c-indigo-hue), 50%);
  --c-indigo-600: hsl(var(--c-indigo-hue), 60%);
  --c-indigo-700: hsl(var(--c-indigo-hue), 70%);
  --c-indigo-800: hsl(var(--c-indigo-hue), 80%);
  --c-indigo-900: hsl(var(--c-indigo-hue), 90%);

  --c-purple-100: hsl(var(--c-purple-hue), 10%);
  --c-purple-200: hsl(var(--c-purple-hue), 20%);
  --c-purple-300: hsl(var(--c-purple-hue), 30%);
  --c-purple-400: hsl(var(--c-purple-hue), 40%);
  --c-purple-500: hsl(var(--c-purple-hue), 50%);
  --c-purple-600: hsl(var(--c-purple-hue), 60%);
  --c-purple-700: hsl(var(--c-purple-hue), 70%);
  --c-purple-800: hsl(var(--c-purple-hue), 80%);
  --c-purple-900: hsl(var(--c-purple-hue), 90%);

  --c-pink-100: hsl(var(--c-pink-hue), 10%);
  --c-pink-200: hsl(var(--c-pink-hue), 20%);
  --c-pink-300: hsl(var(--c-pink-hue), 30%);
  --c-pink-400: hsl(var(--c-pink-hue), 40%);
  --c-pink-500: hsl(var(--c-pink-hue), 50%);
  --c-pink-600: hsl(var(--c-pink-hue), 60%);
  --c-pink-700: hsl(var(--c-pink-hue), 70%);
  --c-pink-800: hsl(var(--c-pink-hue), 80%);
  --c-pink-900: hsl(var(--c-pink-hue), 90%);

  --c-brown-100: hsl(var(--c-brown-hue), 10%);
  --c-brown-200: hsl(var(--c-brown-hue), 20%);
  --c-brown-300: hsl(var(--c-brown-hue), 30%);
  --c-brown-400: hsl(var(--c-brown-hue), 40%);
  --c-brown-500: hsl(var(--c-brown-hue), 50%);
  --c-brown-600: hsl(var(--c-brown-hue), 60%);
  --c-brown-700: hsl(var(--c-brown-hue), 70%);
  --c-brown-800: hsl(var(--c-brown-hue), 80%);
  --c-brown-900: hsl(var(--c-brown-hue), 90%);
}
