:root {
  // TOKEN | COLOR | GLOBAL

  --c-focus: #007aff;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-inherit: inherit;
  --c-transparent: transparent;

  // TOKEN | COLOR | MODE | LIGHT

  --c-red-hex-light: #ff3b30;
  --c-orange-hex-light: #ff9500;
  --c-yellow-hex-light: #ffcc00;
  --c-green-hex-light: #34c759;
  --c-mint-hex-light: #00c7be;
  --c-teal-hex-light: #30b0c7;
  --c-cyan-hex-light: #32ade6;
  --c-blue-hex-light: #007aff;
  --c-indigo-hex-light: #5856d6;
  --c-purple-hex-light: #af52de;
  --c-pink-hex-light: #ff2d55;
  --c-brown-hex-light: #a2845e;

  --c-red-hue-light: 3, 100%;
  --c-orange-hue-light: 35, 100%;
  --c-yellow-hue-light: 48, 100%;
  --c-green-hue-light: 135, 59%;
  --c-mint-hue-light: 177, 100%;
  --c-teal-hue-light: 189, 61%;
  --c-cyan-hue-light: 199, 78%;
  --c-blue-hue-light: 211, 100%;
  --c-indigo-hue-light: 241, 61%;
  --c-purple-hue-light: 280, 68%;
  --c-pink-hue-light: 349, 100%;
  --c-brown-hue-light: 34, 27%;

  --c-red-hsl-light: var(--c-red-hue-light), 59%;
  --c-orange-hsl-light: var(--c-orange-hue-light), 50%;
  --c-yellow-hsl-light: var(--c-yellow-hue-light), 50%;
  --c-green-hsl-light: var(--c-green-hue-light), 49%;
  --c-mint-hsl-light: var(--c-mint-hue-light), 39%;
  --c-teal-hsl-light: var(--c-teal-hue-light), 48%;
  --c-cyan-hsl-light: var(--c-cyan-hue-light), 55%;
  --c-blue-hsl-light: var(--c-blue-hue-light), 50%;
  --c-indigo-hsl-light: var(--c-indigo-hue-light), 59%;
  --c-purple-hsl-light: var(--c-purple-hue-light), 60%;
  --c-pink-hsl-light: var(--c-pink-hue-light), 59%;
  --c-brown-hsl-light: var(--c-brown-hue-light), 50%;

  // TOKEN | COLOR | MODE | DARK

  --c-red-hex-dark: #ff453a;
  --c-orange-hex-dark: #ff9f0a;
  --c-yellow-hex-dark: #ffd60a;
  --c-green-hex-dark: #30d158;
  --c-mint-hex-dark: #66d4cf;
  --c-teal-hex-dark: #40c8e0;
  --c-cyan-hex-dark: #64d2ff;
  --c-blue-hex-dark: #0a84ff;
  --c-indigo-hex-dark: #5e5ce6;
  --c-purple-hex-dark: #bf5af2;
  --c-pink-hex-dark: #ff375f;
  --c-brown-hex-dark: #ac8e68;

  --c-red-hue-dark: 3, 100%;
  --c-orange-hue-dark: 36, 100%;
  --c-yellow-hue-dark: 50, 100%;
  --c-green-hue-dark: 135, 64%;
  --c-mint-hue-dark: 177, 56%;
  --c-teal-hue-dark: 189, 72%;
  --c-cyan-hue-dark: 197, 100%;
  --c-blue-hue-dark: 210, 100%;
  --c-indigo-hue-dark: 241, 73%;
  --c-purple-hue-dark: 280, 85%;
  --c-pink-hue-dark: 348, 100%;
  --c-brown-hue-dark: 34, 29%;

  --c-red-hsl-dark: var(--c-red-hue-dark), 61%;
  --c-orange-hsl-dark: var(--c-orange-hue-dark), 52%;
  --c-yellow-hsl-dark: var(--c-yellow-hue-dark), 52%;
  --c-green-hsl-dark: var(--c-green-hue-dark), 50%;
  --c-mint-hsl-dark: var(--c-mint-hue-dark), 62%;
  --c-teal-hsl-dark: var(--c-teal-hue-dark), 57%;
  --c-cyan-hsl-dark: var(--c-cyan-hue-dark), 70%;
  --c-blue-hsl-dark: var(--c-blue-hue-dark), 52%;
  --c-indigo-hsl-dark: var(--c-indigo-hue-dark), 63%;
  --c-purple-hsl-dark: var(--c-purple-hue-dark), 65%;
  --c-pink-hsl-dark: var(--c-pink-hue-dark), 60%;
  --c-brown-hsl-dark: var(--c-brown-hue-dark), 54%;

  // TOKEN | COLOR | MODE | DIM

  --c-red-hex-dim: #ff453a;
  --c-orange-hex-dim: #ff9f0a;
  --c-yellow-hex-dim: #ffd60a;
  --c-green-hex-dim: #30d158;
  --c-mint-hex-dim: #66d4cf;
  --c-teal-hex-dim: #40c8e0;
  --c-cyan-hex-dim: #64d2ff;
  --c-blue-hex-dim: #0a84ff;
  --c-indigo-hex-dim: #5e5ce6;
  --c-purple-hex-dim: #bf5af2;
  --c-pink-hex-dim: #ff375f;
  --c-brown-hex-dim: #ac8e68;

  --c-red-hue-dim: 3, 100%;
  --c-orange-hue-dim: 36, 100%;
  --c-yellow-hue-dim: 50, 100%;
  --c-green-hue-dim: 135, 64%;
  --c-mint-hue-dim: 177, 56%;
  --c-teal-hue-dim: 189, 72%;
  --c-cyan-hue-dim: 197, 100%;
  --c-blue-hue-dim: 210, 100%;
  --c-indigo-hue-dim: 241, 73%;
  --c-purple-hue-dim: 280, 85%;
  --c-pink-hue-dim: 348, 100%;
  --c-brown-hue-dim: 34, 29%;

  --c-red-hsl-dim: var(--c-red-hue-dim), 61%;
  --c-orange-hsl-dim: var(--c-orange-hue-dim), 52%;
  --c-yellow-hsl-dim: var(--c-yellow-hue-dim), 52%;
  --c-green-hsl-dim: var(--c-green-hue-dim), 50%;
  --c-mint-hsl-dim: var(--c-mint-hue-dim), 62%;
  --c-teal-hsl-dim: var(--c-teal-hue-dim), 57%;
  --c-cyan-hsl-dim: var(--c-cyan-hue-dim), 70%;
  --c-blue-hsl-dim: var(--c-blue-hue-dim), 52%;
  --c-indigo-hsl-dim: var(--c-indigo-hue-dim), 63%;
  --c-purple-hsl-dim: var(--c-purple-hue-dim), 65%;
  --c-pink-hsl-dim: var(--c-pink-hue-dim), 60%;
  --c-brown-hsl-dim: var(--c-brown-hue-dim), 54%;
}
