.v2-header {
  display: block;
  position: fixed;
  height: calc(var(--v2-action) + var(--s-02));
  padding-inline: var(--s-01);
  right: 0;
  left: 0;
  top: 0;

  isolation: isolate;
  z-index: 1000;

  &-layout {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-logo .v2-icon {
    height: var(--v2-icon-height-lg);
    width: var(--v2-icon-width-lg);
  }
}
