.v2-demo-root-accordion {
  display: block;
  width: 400px;
  max-width: 400px;
}

.v2-floating-box {
  position: absolute;
  width: max-content;
  left: 0;
  top: 0;
}

.v2-demo-floating-box {
  border: solid var(--unit) indianred;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.v2-demo-floating-root {
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
