.page,
.page-hero,
.page-header,
.section {
  transition-property: background-color;
  transition-timing-function: var(--easing-standard-expressive);
  transition-duration: var(--easing-duration-5);
}

.radio,
.button,
.checkbox {
  transition-property: color, background-color, border, outline;
  transition-timing-function: var(--easing-standard-productive);
  transition-duration: var(--easing-duration-1);
}
