.Page,
.PageHeader {
  transition-property: background-color;
  transition-timing-function: var(--easing-standard-expressive);
  transition-duration: var(--easing-duration-5);
}

.Radio,
.Button,
.Switch,
.Checkbox {
  transition-property: color, background-color, border, outline;
  transition-timing-function: var(--easing-standard-productive);
  transition-duration: var(--easing-duration-1);
}
