:root {
  font-size: 16px;
  letter-spacing: initial;
}

html,
body {
  display: block;
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

main {
  display: block;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  --cursor: pointer;

  cursor: var(--cursor);

  border: var(--border-sm);
  border-color: transparent;
  background: transparent;
  background-color: transparent;

  outline: var(--border-sm);
  outline-color: transparent;
}

label {
  --cursor: pointer;

  cursor: var(--cursor);

  &:disabled,
  &[data-disabled] {
    --cursor: default;
  }
}

button {
  background-color: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
