:root {
  font-size: 16px;
  font-family: 'Satoshi';
  letter-spacing: initial;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
}

body {
  display: block;
  overflow-x: hidden;
  position: relative;
  isolation: isolate;
  max-width: 100%;
  z-index: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

a,
button {
  display: inline-flex;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: inherit;
  outline: solid 2px transparent;
  border: solid 2px transparent;
  font-family: 'Satoshi';
  font-size: inherit;
  color: inherit;

  &:disabled,
  &[data-disabled] {
    cursor: default;
  }
}

label {
  &:disabled,
  &[data-disabled] {
    cursor: default;
  }
}
