:root {
  --focus-outline: solid 2px rgb(25, 113, 194);
  --moz-font-smoothing: grayscale;
  --webkit-font-smoothing: antialiased;

  --default-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --monospace-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--default-font-family);
  letter-spacing: initial;
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--moz-font-smoothing);

  @media screen and (max-device-width: 500px) {
    -webkit-text-size-adjust: 100%;
  }
}

#root {
  margin: 0;
  padding: 0;
  z-index: 0;
  display: block;
  position: relative;
  isolation: isolate;
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Satoshi';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

svg + p {
  cursor: default;
}

code {
  font-family: var(--monospace-font-family);
}

a {
  margin: 0;
  padding: 0;
  display: inline-flex;
  box-sizing: border-box;
  vertical-align: baseline;

  background-color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  display: inline-flex;
  box-sizing: border-box;
  vertical-align: baseline;

  text-decoration: none;
  text-transform: none;
  font-family: inherit;
  font-size: inherit;

  color: inherit;
  background-color: inherit;
  border: solid 2px transparent;
  outline: solid 2px transparent;

  &:disabled,
  &[data-disabled],
  &[aria-disabled] {
    cursor: default;
  }

  &:disabled:focus:focus-visible,
  &[data-disabled]:focus:focus-visible,
  &[aria-disabled]:focus:focus-visible {
    outline-color: transparent;
  }

  &:not(:disabled),
  &:not([data-disabled]),
  &:not([aria-disabled]) {
    cursor: pointer;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: var(--focus-outline);
  }
}

label {
  &:disabled,
  &[data-disabled],
  &[aria-disabled] {
    cursor: default;
  }
}

input,
select,
button,
textarea {
  font: inherit;
}

select {
  text-transform: none;
}

[data-respect-reduced-motion] {
  @media (prefers-reduced-motion: reduce) {
    [data-reduce-motion] {
      transition: none;
      animation: none;
    }
  }
}
