:root {
  --root-border-width: 0;
  --root-border-style: solid;
  --root-border-color: currentColor;

  --root-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --root-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;

  --root-font-size: 16px;
  --root-font-weight: 400;
  --root-line-height: 1.5;
  --root-letter-spacing: initial;
  --root-text-rendering: optimizeLegibility;
  --root-moz-font-smoothing: grayscale;
  --root-webkit-font-smoothing: antialiased;
  --root-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: var(--root-border-width);
  border-style: var(--root-border-style);
  border-color: var(--root-border-color);
}

#root, #__next {
  isolation: isolate;
}

body {
  font-size: var(--root-font-size);
  font-weight: var(--root-font-weight);
  font-family: var(--root-font-family);
  line-height: var(--root-font-height);
  letter-spacing: var(--root-letter-spacing);
  text-rendering: var(--root-text-rendering);

  -webkit-font-smoothing: var(--root-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--root-moz-font-smoothing);

  @media screen and (max-device-width: 500px) {
    -webkit-text-size-adjust: var(--root-webkit-text-size-adjust);
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video, input, button, select, textarea, 
option, optgroup, datalist, keygen, meter, progress, dialog, menuitem, picture, 
source, track, wbr, data, template, slot, main, figure, figcaption, picture, time, 
mark, bdi, bdo, rp, rt, rtc, ruby, noframes, noscript, embed, object, param, video, 
audio, source, track,canvas, map, area, math, svg, animate, animateMotion, animateTransform, 
circle, clipPath, defs, desc, discard, ellipse, feBlend, feColorMatrix, feComponentTransfer, 
feComposite, feConvolveMatrix, feDiffuseLighting, feDisplacementMap, feDistantLight, 
feDropShadow, feFlood, feFuncA, feFuncB, feFuncG, feFuncR, feGaussianBlur, feImage, feMerge, 
feMergeNode, feMorphology, feOffset, fePointLight, feSpecularLighting, feSpotLight, feTile, 
feTurbulence, filter, foreignObject, g, image, line, linearGradient, marker, mask, metadata, 
mpath, path, pattern, polygon, polyline, radialGradient, rect, script, set, stop, style, svg, 
switch, symbol, text, textPath, tspan, use, view  {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

code, kbd {
  font-family: var(--root-font-family-mono);
}

img, picture, video, canvas, svg {
  height: auto;
  display: block;
  max-width: 100%;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
}

input, button, textarea, select {
  font: inherit;
}

svg + p {
  cursor: default;
}

ol, ul {
  list-style: none;
}

select {
  text-transform: none;
}

a {
  color: inherit;
  border-color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: none;
}

button {
  color: inherit;
  border-color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: none;
}

[data-respect-reduced-motion] {
  @media (prefers-reduced-motion: reduce) {
    [data-reduce-motion] {
      transition: none;
      animation: none;
    }
  }
}