:root {
  --root-background-color: #000;
  --root-text-color: #fff;
  --root-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --root-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;

  --root-font-size: 16px;
  --root-font-weight: 400;
  --root-line-height: 1.5;
  --root-letter-spacing: initial;
  --root-moz-font-smoothing: grayscale;
  --root-webkit-font-smoothing: antialiased;
}

html,
body,
#root,
h1,
b,
p,
a,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
div,
code,
label,
aside,
input,
select,
textarea,
button,
header,
footer,
article,
section {
  margin: 0;
  padding: 0;
  display: block;
  font-size: inherit;
  box-sizing: border-box;
}

html,
body,
#root {
  color: var(--root-text-color);
  background-color: var(--root-background-color);
  font-size: var(--root-font-size);
  font-weight: var(--root-font-weight);
  font-family: var(--root-font-family);
  line-height: var(--root-font-height);
  letter-spacing: var(--root-letter-spacing);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: var(--root-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--root-moz-font-smoothing);

  @media screen and (max-device-width: 500px) {
    -webkit-text-size-adjust: 100%;
  }
}

li,
ul,
ol {
  list-style: none;
  text-decoration: none;
}

p,
b,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
}

svg + p {
  cursor: default;
}

code {
  font-family: var(--root-font-family-mono);
}

a {
  font-size: inherit;
  font-family: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

button {
  font-size: inherit;
  font-family: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

input,
select,
button,
textarea {
  border: none;
  font: inherit;
}

select {
  text-transform: none;
}

[data-respect-reduced-motion] {
  @media (prefers-reduced-motion: reduce) {
    [data-reduce-motion] {
      transition: none;
      animation: none;
    }
  }
}
