:root {
  // CORE TOKENS

  --scale: 1;

  --unit: calc(var(--scale) * 0.125rem);
  --space: calc(var(--scale) * calc(var(--unit) * 4));
  --gutter: calc(var(--space) * 4);

  --spacing-1: calc(var(--unit) * 1);
  --spacing-2: calc(var(--unit) * 2);
  --spacing-3: calc(var(--unit) * 4);
  --spacing-4: calc(var(--unit) * 8);

  --index-root: 0;
  --index-base: 1;
  --index-page: 2;
  --index-panel: 800;
  --index-header: 900;
  --index-screen: 1000;
  --index-overlay: 1100;
  --index-offscreen: 9999;

  --width-card-sm: 160px;
  --width-card-md: 200px;
  --width-card-lg: 240px;

  --breakpoint-mobile-sm: 320px;
  --breakpoint-mobile-md: 400px;
  --breakpoint-mobile-lg: 480px;

  --breakpoint-tablet-sm: 640px;
  --breakpoint-tablet-md: 760px;
  --breakpoint-tablet-lg: 880px;

  --breakpoint-desktop-sm: 1024px;
  --breakpoint-desktop-md: 1200px;
  --breakpoint-desktop-lg: 1400px;

  --ff: 'Satoshi';
  --ff-root: var(--root-font-family);
  --ff-mono: var(--root-font-family-mono);

  --fh-1: 1;
  --fh-2: 1.15;
  --fh-3: 1.35;
  --fh-4: 1.5;
  --fh-5: 1.62;
  --fh-6: 1.75;

  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;

  --fz-1: 10px;
  --fz-2: 12px;
  --fz-3: 13px;
  --fz-4: 14px;
  --fz-5: 15px;
  --fz-6: 16px;
  --fz-7: 17px;
  --fz-8: 18px;
  --fz-9: 20px;
  --fz-10: 22px;
  --fz-11: 24px;
  --fz-12: 28px;
  --fz-13: 32px;
  --fz-14: 36px;
  --fz-15: 40px;
  --fz-16: 48px;
  --fz-17: 56px;
  --fz-18: 64px;
  --fz-19: 80px;
  --fz-20: 120px;

  // COMMON TOKENS

  --size-action-unit: calc(var(--unit) * 2);
  --size-action-root: calc(var(--unit) * 26);
  --size-action-inset: calc(var(--size-action-root) - var(--size-action-unit));
  --size-action-offset: calc(var(--size-action-root) + var(--size-action-unit));
}
