:root {
  // SPACING
  --s-01: 0.125rem; // 2px
  --s-02: 0.25rem; // 4px
  --s-03: 0.5rem; // 8px
  --s-04: 0.75rem; // 12px
  --s-05: 1rem; // 16px
  --s-06: 1.5rem; // 24px
  --s-07: 2rem; // 32px
  --s-08: 2.5rem; // 40px
  --s-09: 3rem; // 48px
  --s-10: 3.5rem; // 56px
  --s-11: 4rem; // 64px
  --s-12: 4.5rem; // 72px
  --s-13: 5rem; // 80px
  --s-14: 6rem; // 96px
  --s-15: 8rem; // 128px
  --s-16: 10rem; // 160px

  // INDEX
  --index-page: 0;
  --index-header: 1000;
  --index-sidemenu: 1000;

  // MOTION
  --delay-01: 0ms;
  --delay-02: 100ms;
  --delay-03: 200ms;

  --duration-fast-01: 70ms;
  --duration-fast-02: 110ms;
  --duration-moderate-01: 150ms;
  --duration-moderate-02: 240ms;
  --duration-slow-01: 400ms;
  --duration-slow-02: 700ms;

  --easing-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
  --easing-productive-exit: cubic-bezier(0.2, 0, 1, 0.9);
  --easing-productive-enter: cubic-bezier(0, 0, 0.38, 0.9);

  --easing-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
  --easing-expressive-exit: cubic-bezier(0.4, 0.14, 1, 1);
  --easing-expressive-enter: cubic-bezier(0, 0, 0.3, 1);

  // FONT-FAMILY
  --ff: 'Satoshi';

  // LINE-HEIGHT
  --fh-01: 1;
  --fh-02: 1.15;
  --fh-03: 1.35;
  --fh-04: 1.5;
  --fh-05: 1.62;
  --fh-06: 1.75;

  // FONT-WEIGHT
  --fw-01: 300;
  --fw-02: 400;
  --fw-03: 500;
  --fw-04: 600;
  --fw-05: 700;

  // FONT-SIZE
  --fz-01: 10px;
  --fz-02: 12px;
  --fz-03: 13px;
  --fz-04: 14px;
  --fz-05: 15px;
  --fz-06: 16px;
  --fz-07: 17px;
  --fz-08: 18px;
  --fz-09: 20px;
  --fz-10: 22px;
  --fz-11: 24px;
  --fz-12: 28px;
  --fz-13: 32px;
  --fz-14: 36px;
  --fz-15: 40px;
  --fz-16: 48px;
  --fz-17: 56px;
  --fz-18: 64px;
  --fz-19: 80px;
  --fz-20: 120px;

  // WIDTH

  --width-card-sm: 160px;
  --width-card-md: 200px;
  --width-card-lg: 240px;

  --width-page-min: 320px;
  --width-page-max: 1920px;

  // BREAKPOINTS

  --breakpoint-mobile-sm: 320px;
  --breakpoint-mobile-md: 400px;
  --breakpoint-mobile-lg: 480px;

  --breakpoint-tablet-sm: 640px;
  --breakpoint-tablet-md: 760px;
  --breakpoint-tablet-lg: 880px;

  --breakpoint-desktop-sm: 1024px;
  --breakpoint-desktop-md: 1200px;
  --breakpoint-desktop-lg: 1400px;

  // // COMMON TOKENS

  --size-action: var(--s-10);
  --size-gutter: var(--s-06);
  --size-gutter-gap: calc(var(--size-gutter) / 2);

  @media screen and (min-width: 40em) {
    --size-gutter: var(--s-07);
  }
  @media screen and (min-width: 60em) {
    --size-gutter: var(--s-08);
  }
  @media screen and (min-width: 80em) {
    --size-gutter: var(--s-08);
  }
}
