:root {
  // BASE | TOKENS | CONSTANTS

  --scale: 1;
  --unit: calc(var(--scale) * 0.125rem);

  // BASE | TOKENS | SPACING

  --s-1: 0.125rem; // 2px
  --s-2: 0.25rem; // 4px
  --s-3: 0.5rem; // 8px
  --s-4: 0.75rem; // 12px
  --s-5: 1rem; // 16px
  --s-6: 1.5rem; // 24px
  --s-7: 2rem; // 32px
  --s-8: 2.5rem; // 40px
  --s-9: 3rem; // 48px
  --s-10: 3.5rem; // 56px
  --s-11: 4rem; // 64px
  --s-12: 4.5rem; // 72px
  --s-13: 5rem; // 80px
  --s-14: 6rem; // 96px
  --s-15: 8rem; // 128px
  --s-16: 10rem; // 160px

  --ff-base: 'Satoshi';
  --ff-root: var(--root-font-family);
  --ff-mono: var(--root-font-family-mono);

  --fh-1: 1;
  --fh-2: 1.15;
  --fh-3: 1.35;
  --fh-4: 1.5;
  --fh-5: 1.62;
  --fh-6: 1.75;

  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;

  --fz-1: 10px;
  --fz-2: 12px;
  --fz-3: 13px;
  --fz-4: 14px;
  --fz-5: 15px;
  --fz-6: 16px;
  --fz-7: 17px;
  --fz-8: 18px;
  --fz-9: 20px;
  --fz-10: 22px;
  --fz-11: 24px;
  --fz-12: 28px;
  --fz-13: 32px;
  --fz-14: 36px;
  --fz-15: 40px;
  --fz-16: 48px;
  --fz-17: 56px;
  --fz-18: 64px;
  --fz-19: 80px;
  --fz-20: 120px;

  --idx-root: 0;
  --idx-base: 1;
  --idx-page: 2;
  --idx-panel: 800;
  --idx-header: 900;
  --idx-sidemenu: 900;
  --idx-active-item: 999;

  --idx-screen: 1000;
  --idx-overlay: 1100;
  --idx-offscreen: 9999;

  --width-card-sm: 160px;
  --width-card-md: 200px;
  --width-card-lg: 240px;

  --breakpoint-mobile-sm: 320px;
  --breakpoint-mobile-md: 400px;
  --breakpoint-mobile-lg: 480px;

  --breakpoint-tablet-sm: 640px;
  --breakpoint-tablet-md: 760px;
  --breakpoint-tablet-lg: 880px;

  --breakpoint-desktop-sm: 1024px;
  --breakpoint-desktop-md: 1200px;
  --breakpoint-desktop-lg: 1400px;

  // COMMON TOKENS

  --width-page-min: 320px;
  --width-page-max: 1920px;

  --size-action-unit: calc(var(--unit) * 2);
  --size-action-root: calc(var(--unit) * 26);
  --size-action-inset: calc(var(--size-action-root) - var(--size-action-unit));
  --size-action-offset: calc(var(--size-action-root) + var(--size-action-unit));
}
