.v2-test {
  border: solid 1px transparent;
}

.v2-test--1 {
  border-color: indianred;
}

.v2-test--2 {
  border-color: palegoldenrod;
}

.v2-test--3 {
  border-color: palegreen;
}

.v2-test--4 {
  border-color: paleturquoise;
}

.v2-test--5 {
  border-color: slateblue;
}

.v2-test--6 {
  border-color: indianred;
}

.v2-swatch-s {
  max-width: 400px;
  background-color: palegoldenrod;
}

.v2-swatch-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.v2-swatch-s--1 {
  height: var(--s-1);
  width: var(--s-1);
}

.v2-swatch-s--2 {
  height: var(--s-2);
  width: var(--s-2);
}

.v2-swatch-s--3 {
  height: var(--s-3);
  width: var(--s-3);
}

.v2-swatch-s--4 {
  height: var(--s-4);
  width: var(--s-4);
}

.v2-swatch-s--5 {
  height: var(--s-5);
  width: var(--s-5);
}

.v2-swatch-s--6 {
  height: var(--s-6);
  width: var(--s-6);
}

.v2-swatch-s--7 {
  height: var(--s-7);
  width: var(--s-7);
}

.v2-swatch-s--8 {
  height: var(--s-8);
  width: var(--s-8);
}

.v2-swatch-s--9 {
  height: var(--s-9);
  width: var(--s-9);
}

.v2-swatch-s--10 {
  height: var(--s-10);
  width: var(--s-10);
}

.v2-swatch-s--11 {
  height: var(--s-11);
  width: var(--s-11);
}

.v2-swatch-s--12 {
  height: var(--s-12);
  width: var(--s-12);
}

.v2-swatch-s--13 {
  height: var(--s-13);
  width: var(--s-13);
}

.v2-swatch-s--14 {
  height: var(--s-14);
  width: var(--s-14);
}

.v2-swatch-s--15 {
  height: var(--s-15);
  width: var(--s-15);
}

.v2-swatch-s--16 {
  height: var(--s-16);
  width: var(--s-16);
}
